Repository GlobalFishingWatch/frontend, changes with the labels that .github/labeler.yml gives for each.
All labels: api-portal, fishing-map, image-labeler, port-labeler, user-groups-admin, vessel-history, api-client, api-types, data-transforms, dataviews-client, deck-layers, deck-loaders, features-aggregate, fourwings-aggregate, i18n-labels, layer-composer, ocean-areas, pbf-decoders, react-hooks, timebar, ui-components

rollback pipe 3 changes
  apps/fishing-map/data/default-workspaces/workspace.production.ts
  apps/fishing-map/data/workspaces.ts
  apps/fishing-map/features/vessel/vessel.config.ts
Labels: fishing-map

return layers from useDeckLayerComposer
  apps/fishing-map/features/map/map-layers.hooks.ts
  libs/deck-layer-composer/src/hooks/deck-layers-composer.hooks.ts
Labels: fishing-map

include compareStart and End in tiles cacheKey
  libs/deck-layers/src/layers/fourwings/FourwingsLayer.ts
  libs/deck-layers/src/layers/fourwings/heatmap/FourwingsHeatmapLayer.ts
  libs/deck-layers/src/layers/fourwings/heatmap/FourwingsHeatmapTileLayer.ts
  libs/deck-layers/src/layers/fourwings/heatmap/fourwings-heatmap.types.ts
Labels: deck-layers

improve timecomparison switch
  apps/fishing-map/features/reports/summary/ReportSummary.tsx
  libs/deck-layers/src/layers/fourwings/heatmap/FourwingsHeatmapLayer.ts
  libs/deck-layers/src/layers/fourwings/heatmap/FourwingsHeatmapTileLayer.ts
Labels: fishing-map, deck-layers

fix screenshot domElement
  apps/fishing-map/features/map/controls/MapControls.tsx
Labels: fishing-map

fix areas on screen
  apps/fishing-map/features/workspace/context-areas/ContextAreaLayerPanel.tsx
Labels: fishing-map

auto initialise hints
  apps/fishing-map-e2e/src/support/app.po.ts
  apps/fishing-map/data/config.ts
  apps/fishing-map/features/app/App.tsx
  apps/fishing-map/features/help/hints.slice.ts
Labels: fishing-map

save user settings in localStorage
  apps/fishing-map/data/config.ts
  apps/fishing-map/features/user/user.slice.ts
  apps/fishing-map/features/workspace/activity/activity.hooks.tsx
  apps/fishing-map/features/workspace/workspace.selectors.ts
Labels: fishing-map

fix offshore infrastructure
  apps/fishing-map/data/default-workspaces/workspace.development.ts
  apps/fishing-map/data/default-workspaces/workspace.production.ts
  apps/fishing-map/features/map/popups/categories/UserContextLayers.tsx
  apps/fishing-map/features/map/popups/categories/UserPointsLayers.tsx
  libs/deck-layer-composer/src/resolvers/user.ts
  libs/deck-layers/src/layers/user/UserBaseLayer.ts
Labels: fishing-map, deck-layers

fix missing detections tooltip
  apps/fishing-map/features/map/popups/PopupByCategory.tsx
Labels: fishing-map

improve visualisation selector
  apps/fishing-map/features/reports/summary/ReportSummary.tsx
  apps/fishing-map/features/workspace/activity/ActivitySection.tsx
  apps/fishing-map/features/workspace/common/VisualisationChoice.module.css
  apps/fishing-map/features/workspace/common/VisualisationChoice.tsx
  apps/fishing-map/features/workspace/detections/DetectionsSection.tsx
  apps/fishing-map/features/workspace/shared/Sections.module.css
Labels: fishing-map

remove circular dependency
  apps/fishing-map/features/user/selectors/user.selectors.ts
  apps/fishing-map/features/user/user.slice.ts
  apps/fishing-map/features/workspace/workspace.selectors.ts
Labels: fishing-map

don't hide at least one heatmap option
  apps/fishing-map/features/user/user.slice.ts
  apps/fishing-map/features/workspace/common/VisualisationChoice.module.css
  apps/fishing-map/features/workspace/common/VisualisationChoice.tsx
Labels: fishing-map

clean some fixed or unnecesary TODOs
  apps/fishing-map/features/map/popups/categories/ContextLayers.tsx
  apps/fishing-map/features/map/popups/categories/ContextLayersRow.tsx
  apps/fishing-map/features/map/popups/categories/RulerTooltip.tsx
  libs/deck-layers/src/layers/vessel/VesselLayer.ts
Labels: fishing-map, deck-layers

code review
  apps/fishing-map/features/user/user.slice.ts
  apps/fishing-map/features/workspace/activity/activity.hooks.tsx
  apps/fishing-map/features/workspace/workspace.selectors.ts
Labels: fishing-map

show buffer tooltip
  apps/fishing-map/features/map/map.selectors.ts
  apps/fishing-map/features/map/popups/PopupByCategory.tsx
  apps/fishing-map/features/map/popups/categories/ReportBufferLayers.tsx
  libs/api-types/src/dataviews.ts
Labels: fishing-map, api-types

remove highlighted area when using buffer
  apps/fishing-map/features/map/popups/categories/ContextLayers.hooks.ts
  apps/fishing-map/features/reports/Report.tsx
  apps/fishing-map/features/reports/reports.hooks.ts
  apps/fishing-map/features/reports/title/ReportTitle.tsx
  apps/fishing-map/features/sidebar/SidebarHeader.tsx
Labels: fishing-map

polygons highlighted features
  libs/deck-layer-composer/src/resolvers/polygons.ts
  libs/deck-layers/src/layers/polygons/PolygonsLayer.ts
  libs/deck-layers/src/layers/polygons/polygons.types.ts
  libs/deck-layers/src/utils/layers.ts
Labels: deck-layers

fix highlighted report area buffer
  apps/fishing-map/features/reports/reports.selectors.ts
  apps/fishing-map/features/reports/reports.utils.ts
  libs/deck-layers/src/layers/polygons/PolygonsLayer.ts
  libs/deck-layers/src/layers/polygons/polygons.types.ts
Labels: fishing-map, deck-layers

add button to go back to index
  apps/image-labeler/src/features/project/Project.module.css
  apps/image-labeler/src/features/project/Project.tsx
Labels: image-labeler

identify the labeled tasks better
  apps/image-labeler/src/features/project/Task.module.css
  apps/image-labeler/src/features/project/Task.tsx
Labels: image-labeler

initial image enhancement
  apps/image-labeler/src/features/project/Task.tsx
  apps/image-labeler/src/features/project/TaskImage.tsx
Labels: image-labeler

fix buffer painting order
  apps/fishing-map/features/map/map.selectors.ts
  libs/deck-layers/src/layers/polygons/PolygonsLayer.ts
  libs/deck-layers/src/types.ts
Labels: fishing-map, deck-layers

fix infrastructure end_date
  apps/fishing-map/features/map/popups/categories/UserContextLayers.tsx
  apps/fishing-map/public/locales/source/translations.json
  libs/deck-layer-composer/src/resolvers/user.ts
  libs/deck-layers/src/layers/user/UserBaseLayer.ts
  libs/deck-layers/src/layers/user/UserPointsTileLayer.ts
  libs/deck-layers/src/layers/user/user.utils.ts
Labels: fishing-map, deck-layers

.github/labeler.yml:

api-portal:
  - apps/api-portal/**/*
fishing-map:
  - apps/fishing-map/**/*
image-labeler:
  - apps/image-labeler/**/*
port-labeler:
  - apps/port-labeler/**/*
user-groups-admin:
  - apps/user-groups-admin/**/*
vessel-history:
  - apps/vessel-history/**/*

api-client:
  - libs/api-client/**/*
api-types:
  - libs/api-types/**/*
data-transforms:
  - libs/data-transforms/**/*
dataviews-client:
  - libs/dataviews-client/**/*
deck-layers:
  - libs/deck-layers/**/*
deck-loaders:
  - libs/deck-loaders/**/*
features-aggregate:
  - libs/features-aggregate/**/*
fourwings-aggregate:
  - libs/fourwings-aggregate/**/*
i18n-labels:
  - libs/i18n-labels/**/*
layer-composer:
  - libs/layer-composer/**/*
ocean-areas:
  - libs/ocean-areas/**/*
pbf-decoders:
  - libs/pbf-decoders/**/*
react-hooks:
  - libs/react-hooks/**/*
timebar:
  - libs/timebar/**/*
ui-components:
  - ui-components/**/*
