Repository GlobalFishingWatch/frontend, changes with the labels that .github/labeler.yml gives for each.
All labels: api-portal, fishing-map, image-labeler, port-labeler, user-groups-admin, vessel-history, api-client, api-types, data-transforms, dataviews-client, deck-layers, deck-loaders, features-aggregate, fourwings-aggregate, i18n-labels, layer-composer, ocean-areas, pbf-decoders, react-hooks, timebar, ui-components

webpackChunkName for icons
  libs/ui-components/src/icon/Icon.tsx
Labels: none

New translations datasets.json (English)
  libs/i18n-labels/en/datasets.json
Labels: i18n-labels

release: bump $i18n-labels to 1.2.189 [skip ci]
  libs/i18n-labels/CHANGELOG.md
  libs/i18n-labels/package.json
Labels: i18n-labels

add speed filter
  apps/fishing-map/features/datasets/datasets.utils.ts
  apps/fishing-map/features/workspace/activity/ActivityLayerPanel.tsx
Labels: fishing-map

support numeric sql filters
  libs/data-transforms/src/filter-tracks-coordinates/index.ts
  libs/dataviews-client/src/resolve-dataviews.ts
Labels: data-transforms, dataviews-client

Update timestamp prop when setting onstartselect
  apps/fishing-map/features/datasets/upload/TimeFieldsGroup.tsx
Labels: fishing-map

oops
  apps/fishing-map/features/datasets/datasets.utils.ts
Labels: fishing-map

close vessel filters onClickOutside
  apps/fishing-map/features/workspace/vessels/VesselLayerPanel.tsx
Labels: fishing-map

activate vessel visualisation when switching all vessels on
  apps/fishing-map/features/timebar/timebar.hooks.ts
Labels: fishing-map

ensure low density heatmap layers are visible and ckmeans buckets match legend needs
  libs/deck-layers/src/layers/fourwings/fourwings.config.ts
  libs/deck-layers/src/layers/fourwings/heatmap/FourwingsHeatmapTileLayer.ts
  libs/deck-layers/src/utils/stats.ts
Labels: deck-layers

Create mock dataview
  apps/fishing-map/data/workspaces.ts
  apps/fishing-map/features/dataviews/dataviews.mock.ts
Labels: fishing-map

Add encounters to default workspace
  apps/fishing-map/data/default-workspaces/workspace.development.ts
Labels: fishing-map

order MM highlighted workspaces
  apps/fishing-map/features/datasets/datasets.utils.ts
  apps/fishing-map/features/workspaces-list/WorkspacesList.tsx
Labels: fishing-map

Add mock dataview
  apps/fishing-map/data/default-workspaces/workspace.development.ts
  apps/fishing-map/data/workspaces.ts
  apps/fishing-map/features/dataviews/dataviews.mock.ts
Labels: fishing-map

add daysFromLatest option to save/edit workspace UI
  apps/fishing-map/features/app/selectors/app.workspace.selectors.ts
  apps/fishing-map/features/workspace/save/WorkspaceCreateModal.tsx
  apps/fishing-map/features/workspace/save/WorkspaceEdit.tsx
  apps/fishing-map/features/workspace/save/WorkspaceSaveModal.module.css
  apps/fishing-map/features/workspace/save/workspace-access.utils.ts
  apps/fishing-map/features/workspace/workspace.slice.ts
  apps/fishing-map/public/locales/source/translations.json
Labels: fishing-map

ensure LayerLibrary is able to scroll to User section when datasets are not yet loaded
  apps/fishing-map/features/layer-library/LayerLibrary.tsx
  apps/fishing-map/features/layer-library/LayerLibraryUserPanel.module.css
  apps/fishing-map/features/layer-library/LayerLibraryUserPanel.tsx
Labels: fishing-map

change alert to toast 🍞
  apps/fishing-map/features/app/App.module.css
  apps/fishing-map/features/app/App.tsx
  apps/fishing-map/features/map/map.hooks.ts
  apps/fishing-map/public/locales/source/translations.json
  package.json
  yarn.lock
Labels: fishing-map

fix VesselEventsLayer highlighted icons shape
  libs/deck-layers/src/layers/vessel/VesselEventsLayer.ts
Labels: deck-layers

fix events sprite path
  libs/deck-layers/src/layers/cluster/ClusterLayer.ts
  libs/deck-layers/src/layers/fourwings/fourwings.config.ts
  libs/deck-layers/src/layers/fourwings/positions/FourwingsPositionsTileLayer.ts
  libs/deck-layers/src/layers/layers.config.ts
Labels: deck-layers

change positionsDisabled tooltip
  apps/fishing-map/features/workspace/activity/activity.hooks.tsx
  apps/fishing-map/public/locales/source/translations.json
Labels: fishing-map

fix vesselSection toggle and remove tooltips
  apps/fishing-map/features/workspace/vessels/VesselsSection.tsx
  apps/fishing-map/public/locales/source/translations.json
Labels: fishing-map

remove fourwings loaders.gl warnings
  libs/deck-loaders/src/fourwings/fourwings-loader.ts
  libs/deck-loaders/src/fourwings/lib/types.ts
  package.json
  yarn.lock
Labels: deck-loaders

vessel section tweaks for print
  apps/fishing-map/features/workspace/vessels/VesselLayerPanel.tsx
  apps/fishing-map/features/workspace/vessels/VesselsSection.tsx
Labels: fishing-map

fix positions legends color and label
  libs/deck-layer-composer/src/hooks/deck-layers-legends.hooks.ts
  libs/deck-layers/src/layers/fourwings/FourwingsLayer.ts
  libs/deck-layers/src/layers/fourwings/positions/FourwingsPositionsTileLayer.ts
Labels: deck-layers

fix build
  libs/deck-layers/src/layers/fourwings/heatmap/FourwingsHeatmapStaticLayer.ts
  libs/deck-loaders/src/fourwings/lib/parse-fourwings.ts
Labels: deck-layers, deck-loaders

fix isNumeric validation
  libs/data-transforms/src/filter-tracks-coordinates/utils.ts
Labels: data-transforms

fix for high res
  libs/deck-layer-composer/src/hooks/deck-layers-legends.hooks.ts
Labels: none

delete and edit polygon points
  apps/fishing-map/features/map/overlays/draw/CoordinateEditOverlay.tsx
  libs/deck-layers/src/layers/draw/DrawLayer.ts
  libs/deck-layers/src/layers/draw/draw.modes.ts
  libs/deck-layers/src/layers/draw/draw.utils.ts
Labels: fishing-map, deck-layers

force re-render on internal drawLayer changes
  apps/fishing-map/features/map/overlays/draw/CoordinateEditOverlay.tsx
  apps/fishing-map/features/map/overlays/draw/draw.hooks.ts
  libs/deck-layers/src/layers/draw/DrawLayer.ts
Labels: fishing-map, deck-layers

move popups categories to its own folder
  apps/fishing-map/features/map/popups/MapPopups.tsx
  apps/fishing-map/features/map/popups/PopupByCategory.tsx
  apps/fishing-map/features/map/popups/categories/ActivityLayers.tsx
  apps/fishing-map/features/map/popups/categories/AnnotationTooltip.tsx
  apps/fishing-map/features/map/popups/categories/ComparisonRow.tsx
  apps/fishing-map/features/map/popups/categories/ContextLayers.hooks.ts
  apps/fishing-map/features/map/popups/categories/ContextLayers.tsx
  apps/fishing-map/features/map/popups/categories/ContextLayersRow.tsx
  apps/fishing-map/features/map/popups/categories/DetectionsLayers.tsx
  apps/fishing-map/features/map/popups/categories/EnvironmentLayers.tsx
  apps/fishing-map/features/map/popups/categories/PositionsRow.tsx
  apps/fishing-map/features/map/popups/categories/ReportBufferLayers.tsx
  apps/fishing-map/features/map/popups/categories/RulerTooltip.tsx
  apps/fishing-map/features/map/popups/categories/TileClusterTooltipRow.tsx
  apps/fishing-map/features/map/popups/categories/UserContextLayers.tsx
  apps/fishing-map/features/map/popups/categories/UserPointsLayers.tsx
  apps/fishing-map/features/map/popups/categories/VesselEventsLayers.tsx
  apps/fishing-map/features/map/popups/categories/VesselsTable.module.css
  apps/fishing-map/features/map/popups/categories/VesselsTable.tsx
  apps/fishing-map/features/map/popups/categories/WorkspacePointsLayers.tsx
  apps/fishing-map/features/reports/Report.tsx
  apps/fishing-map/features/sidebar/SidebarHeader.tsx
  apps/fishing-map/features/workspace/context-areas/ContextAreaLayerPanel.tsx
  apps/fourwings-explorer/features/map/popups/ContextPopup.tsx
  apps/fourwings-explorer/features/map/popups/PopupWrapper.tsx
  libs/deck-layers/src/layers/draw/DrawLayer.ts
Labels: fishing-map, deck-layers

update point coordinate edit
  apps/fishing-map/features/map/overlays/draw/CoordinateEditOverlay.tsx
  apps/fishing-map/features/map/overlays/draw/DrawDialog.module.css
  apps/fishing-map/features/map/overlays/draw/draw.utils.ts
  apps/fishing-map/features/map/overlays/error-notification/ErrorNotification.tsx
  apps/fourwings-explorer/features/datasets/NewDatasetModal.module.css
  libs/deck-layers/src/layers/draw/DrawLayer.ts
  libs/deck-layers/src/layers/draw/draw.utils.ts
  libs/deck-layers/src/layers/draw/index.ts
Labels: fishing-map, deck-layers

fix draw layers zIndex
  libs/deck-layer-composer/src/resolvers/dataviews.ts
  libs/deck-layers/src/layers/user/UserPolygonsTileLayer.ts
Labels: deck-layers

support draw translation
  libs/deck-layers/src/layers/draw/DrawLayer.ts
  libs/deck-layers/src/layers/draw/draw.modes.ts
Labels: deck-layers

use PopupWrapper for Annotation and ErrorNotification
  apps/fishing-map/features/map/Map.tsx
  apps/fishing-map/features/map/overlays/annotations/Annotations.module.css
  apps/fishing-map/features/map/overlays/annotations/Annotations.tsx
  apps/fishing-map/features/map/overlays/annotations/AnnotationsDialog.tsx
  apps/fishing-map/features/map/overlays/error-notification/ErrorNotification.module.css
  apps/fishing-map/features/map/overlays/error-notification/ErrorNotification.tsx
  apps/fishing-map/features/map/popups/MapPopups.tsx
Labels: fishing-map

fix points coordinate edit index
  apps/fishing-map/features/map/overlays/draw/CoordinateEditOverlay.tsx
  libs/deck-layers/src/layers/draw/DrawLayer.ts
Labels: fishing-map, deck-layers

edit drawn layers
  apps/fishing-map/features/map/overlays/draw/DrawDialog.tsx
  libs/deck-layers/src/layers/draw/DrawLayer.ts
  libs/deck-layers/src/layers/user/UserPointsTileLayer.ts
Labels: fishing-map, deck-layers

fix highlighted features
  libs/deck-layer-composer/src/resolvers/resolvers.ts
  libs/deck-layers/src/layers/context/ContextLayer.ts
  libs/deck-layers/src/layers/user/UserBaseLayer.ts
  libs/deck-layers/src/layers/user/UserPointsTileLayer.ts
Labels: deck-layers

move overlay to custom PopupWrapper
  apps/fishing-map/features/map/Map.tsx
  apps/fishing-map/features/map/overlays/draw/CoordinateEditOverlay.tsx
  apps/fishing-map/features/map/overlays/draw/DrawDialog.module.css
  apps/fishing-map/features/map/popups/MapPopups.tsx
  apps/fishing-map/features/map/popups/Popup.module.css
  apps/fishing-map/features/map/popups/PopupByCategory.tsx
  apps/fishing-map/features/map/popups/PopupWrapper.tsx
  libs/deck-layers/src/layers/draw/DrawLayer.ts
Labels: fishing-map, deck-layers

show coordinate edit overlay
  apps/fishing-map/features/map/Map.tsx
  apps/fishing-map/features/map/overlays/draw/CoordinateEditOverlay.tsx
  apps/fishing-map/features/map/overlays/draw/DrawDialog.tsx
  apps/fishing-map/features/workspace/user/UserLayerPanel.tsx
Labels: fishing-map

support click out of popupWrapper to reset manual coordinates edit
  apps/fishing-map/features/map/overlays/draw/CoordinateEditOverlay.tsx
  apps/fishing-map/features/map/popups/PopupWrapper.tsx
  apps/fishing-map/hooks/use-clicked-outside.ts
  libs/deck-layers/src/layers/draw/DrawLayer.ts
Labels: fishing-map, deck-layers

.github/labeler.yml:

api-portal:
  - apps/api-portal/**/*
fishing-map:
  - apps/fishing-map/**/*
image-labeler:
  - apps/image-labeler/**/*
port-labeler:
  - apps/port-labeler/**/*
user-groups-admin:
  - apps/user-groups-admin/**/*
vessel-history:
  - apps/vessel-history/**/*

api-client:
  - libs/api-client/**/*
api-types:
  - libs/api-types/**/*
data-transforms:
  - libs/data-transforms/**/*
dataviews-client:
  - libs/dataviews-client/**/*
deck-layers:
  - libs/deck-layers/**/*
deck-loaders:
  - libs/deck-loaders/**/*
features-aggregate:
  - libs/features-aggregate/**/*
fourwings-aggregate:
  - libs/fourwings-aggregate/**/*
i18n-labels:
  - libs/i18n-labels/**/*
layer-composer:
  - libs/layer-composer/**/*
ocean-areas:
  - libs/ocean-areas/**/*
pbf-decoders:
  - libs/pbf-decoders/**/*
react-hooks:
  - libs/react-hooks/**/*
timebar:
  - libs/timebar/**/*
ui-components:
  - ui-components/**/*
