Repository GlobalFishingWatch/frontend, changes with the labels that .github/labeler.yml gives for each.
All labels: api-portal, fishing-map, image-labeler, port-labeler, user-groups-admin, vessel-history, api-client, api-types, data-transforms, dataviews-client, deck-layers, deck-loaders, features-aggregate, fourwings-aggregate, i18n-labels, layer-composer, ocean-areas, pbf-decoders, react-hooks, timebar, ui-components

improve formatting of vessel names
  apps/fishing-map/utils/info.ts
Labels: fishing-map

clean vessel position names
  apps/fishing-map/features/workspace/vessels/VesselsFromPositions.tsx
  apps/fishing-map/utils/info.ts
  libs/deck-layers/src/layers/fourwings/positions/FourwingsPositionsTileLayer.ts
Labels: fishing-map, deck-layers

Update source file datasets.json
  libs/i18n-labels/source/datasets.json
Labels: i18n-labels

New translations datasets.json (French)
  libs/i18n-labels/fr/datasets.json
Labels: i18n-labels

New translations datasets.json (Spanish)
  libs/i18n-labels/es/datasets.json
Labels: i18n-labels

New translations datasets.json (Portuguese)
  libs/i18n-labels/pt/datasets.json
Labels: i18n-labels

New translations datasets.json (English)
  libs/i18n-labels/en/datasets.json
Labels: i18n-labels

New translations datasets.json (Indonesian)
  libs/i18n-labels/id/datasets.json
Labels: i18n-labels

New translations datasets.json (Valencian)
  libs/i18n-labels/val/datasets.json
Labels: i18n-labels

allow different position properties for each sublayer
  libs/deck-layer-composer/src/resolvers/fourwings.ts
  libs/deck-layers/src/layers/fourwings/positions/FourwingsPositionsTileLayer.ts
  libs/deck-layers/src/layers/fourwings/positions/fourwings-positions.types.ts
Labels: deck-layers

show unmatched positions as circles
  apps/fishing-map/public/vessel-sprite.png
  libs/deck-layers/src/layers/fourwings/positions/FourwingsPositionsTileLayer.ts
  libs/deck-layers/src/utils/icons.ts
Labels: fishing-map, deck-layers

New Crowdin updates (#2704)
  libs/i18n-labels/en/datasets.json
  libs/i18n-labels/es/datasets.json
  libs/i18n-labels/fr/datasets.json
  libs/i18n-labels/id/datasets.json
  libs/i18n-labels/pt/datasets.json
  libs/i18n-labels/source/datasets.json
  libs/i18n-labels/val/datasets.json
Labels: i18n-labels

release: bump $i18n-labels to 1.2.194 [skip ci]
  libs/i18n-labels/CHANGELOG.md
  libs/i18n-labels/package.json
Labels: i18n-labels

Update source file datasets.json
  libs/i18n-labels/source/datasets.json
Labels: i18n-labels

New translations datasets.json (French)
  libs/i18n-labels/fr/datasets.json
Labels: i18n-labels

New translations datasets.json (Spanish)
  libs/i18n-labels/es/datasets.json
Labels: i18n-labels

New translations datasets.json (Portuguese)
  libs/i18n-labels/pt/datasets.json
Labels: i18n-labels

New translations datasets.json (English)
  libs/i18n-labels/en/datasets.json
Labels: i18n-labels

New translations datasets.json (Indonesian)
  libs/i18n-labels/id/datasets.json
Labels: i18n-labels

New translations datasets.json (Valencian)
  libs/i18n-labels/val/datasets.json
Labels: i18n-labels

update positions when viewport changes
  libs/deck-layers/src/layers/fourwings/positions/FourwingsPositionsTileLayer.ts
Labels: deck-layers

add detections vessels to VesselsOnScreen list
  apps/fishing-map/features/workspace/vessels/VesselsFromPositions.tsx
  libs/deck-layers/src/layers/vessel/VesselLayer.ts
Labels: fishing-map, deck-layers

remove log
  libs/deck-layers/src/layers/fourwings/positions/FourwingsPositionsTileLayer.ts
Labels: deck-layers

New Crowdin updates (#2705)
  libs/i18n-labels/en/datasets.json
  libs/i18n-labels/es/datasets.json
  libs/i18n-labels/fr/datasets.json
  libs/i18n-labels/id/datasets.json
  libs/i18n-labels/pt/datasets.json
  libs/i18n-labels/source/datasets.json
  libs/i18n-labels/val/datasets.json
Labels: i18n-labels

release: bump $i18n-labels to 1.2.195 [skip ci]
  libs/i18n-labels/CHANGELOG.md
  libs/i18n-labels/package.json
Labels: i18n-labels

remove react-springs leftovers
  apps/fishing-map/features/timebar/Timebar.tsx
  apps/fourwings-explorer/features/timebar/Timebar.tsx
  libs/timebar/package.json
  libs/timebar/src/components/timeline.js
  libs/timebar/src/timebar.jsx
  package.json
  yarn.lock
Labels: fishing-map, timebar

Bring back original time filter
  libs/layer-composer/src/generators/utils.ts
Labels: layer-composer

Update local dataset to comply with new endpoint
  apps/fishing-map/features/datasets/datasets.mock.ts
  apps/fishing-map/features/dataviews/dataviews.mock.ts
Labels: fishing-map

Add to layer library
  apps/fishing-map/data/layer-library/layers-context.ts
  apps/fishing-map/public/images/layer-library/offshore-fixed-infrastructure.png
  apps/fishing-map/public/locales/source/layer-library.json
Labels: fishing-map

clean up code
  apps/fishing-map/features/timebar/Timebar.tsx
  apps/fishing-map/routes/routes.actions.ts
  apps/fishing-map/routes/routes.hook.ts
  apps/fishing-map/routes/routes.selectors.ts
Labels: fishing-map

Add new filters for user points
  libs/layer-composer/src/generators/user-points/user-points.ts
  libs/layer-composer/src/generators/utils.ts
Labels: layer-composer

remove inmmediate timebar
  libs/timebar/src/charts/stacked-activity.tsx
  libs/timebar/src/charts/tracks.tsx
  libs/timebar/src/components/bookmark.js
  libs/timebar/src/components/bookmark.module.css
  libs/timebar/src/components/playback.js
  libs/timebar/src/components/timeline-units.js
  libs/timebar/src/components/timeline.js
  libs/timebar/src/components/timeline.module.css
  libs/timebar/src/immediateContext.ts
  libs/timebar/src/index.js
  libs/timebar/src/timebar-settings.css
  libs/timebar/src/timebar.jsx
Labels: timebar

get only speed and elevation schema for vesselLayerPanel
  apps/fishing-map/features/datasets/datasets.utils.ts
  apps/fishing-map/features/workspace/vessels/VesselLayerPanel.tsx
Labels: fishing-map

avois some unnecesary re-renders
  apps/fishing-map/features/timebar/TimebarActivityGraph.hooks.ts
  apps/fishing-map/features/timebar/timebar.hooks.ts
Labels: fishing-map

make getCompareFillColor much faster
  libs/deck-layers/src/layers/fourwings/fourwings.types.ts
  libs/deck-layers/src/layers/fourwings/heatmap/FourwingsHeatmapLayer.ts
  libs/deck-layers/src/layers/fourwings/heatmap/FourwingsHeatmapTileLayer.ts
  libs/deck-layers/src/layers/fourwings/heatmap/fourwings-heatmap.types.ts
  libs/deck-layers/src/utils/colorRamps.ts
  libs/deck-layers/src/utils/colors.ts
Labels: deck-layers

fix fitBound when out of time range
  libs/deck-layers/src/layers/vessel/VesselLayer.ts
Labels: deck-layers

disable text selection while dragging timebar
  apps/fishing-map/features/map/controls/MapControls.tsx
  apps/fishing-map/features/timebar/Timebar.tsx
  apps/fishing-map/hooks/dom.hooks.ts
  apps/fishing-map/pages/styles.css
Labels: fishing-map

fix bivariate colors
  libs/deck-layer-composer/src/hooks/deck-layers-legends.hooks.ts
  libs/deck-layers/src/layers/fourwings/heatmap/FourwingsHeatmapLayer.ts
  libs/deck-layers/src/layers/fourwings/heatmap/FourwingsHeatmapTileLayer.ts
  libs/deck-layers/src/layers/fourwings/heatmap/fourwings-heatmap.utils.ts
  libs/deck-layers/src/utils/colors.ts
Labels: deck-layers

fix NaN when avg empty cell
  libs/deck-layers/src/layers/fourwings/heatmap/fourwings-heatmap.utils.ts
Labels: deck-layers

Avoid tiles refetch on filtering
  libs/layer-composer/src/generators/user-points/user-points.ts
  libs/layer-composer/src/generators/utils.ts
Labels: layer-composer

.github/labeler.yml:

api-portal:
  - apps/api-portal/**/*
fishing-map:
  - apps/fishing-map/**/*
image-labeler:
  - apps/image-labeler/**/*
port-labeler:
  - apps/port-labeler/**/*
user-groups-admin:
  - apps/user-groups-admin/**/*
vessel-history:
  - apps/vessel-history/**/*

api-client:
  - libs/api-client/**/*
api-types:
  - libs/api-types/**/*
data-transforms:
  - libs/data-transforms/**/*
dataviews-client:
  - libs/dataviews-client/**/*
deck-layers:
  - libs/deck-layers/**/*
deck-loaders:
  - libs/deck-loaders/**/*
features-aggregate:
  - libs/features-aggregate/**/*
fourwings-aggregate:
  - libs/fourwings-aggregate/**/*
i18n-labels:
  - libs/i18n-labels/**/*
layer-composer:
  - libs/layer-composer/**/*
ocean-areas:
  - libs/ocean-areas/**/*
pbf-decoders:
  - libs/pbf-decoders/**/*
react-hooks:
  - libs/react-hooks/**/*
timebar:
  - libs/timebar/**/*
ui-components:
  - ui-components/**/*
