Repository GlobalFishingWatch/frontend, changes with the labels that .github/labeler.yml gives for each.
All labels: api-portal, fishing-map, image-labeler, port-labeler, user-groups-admin, vessel-history, api-client, api-types, data-transforms, dataviews-client, deck-layers, deck-loaders, features-aggregate, fourwings-aggregate, i18n-labels, layer-composer, ocean-areas, pbf-decoders, react-hooks, timebar, ui-components

.github/labeler.yml:

api-portal:
  - apps/api-portal/**/*
fishing-map:
  - apps/fishing-map/**/*
image-labeler:
  - apps/image-labeler/**/*
port-labeler:
  - apps/port-labeler/**/*
user-groups-admin:
  - apps/user-groups-admin/**/*
vessel-history:
  - apps/vessel-history/**/*

api-client:
  - libs/api-client/**/*
api-types:
  - libs/api-types/**/*
data-transforms:
  - libs/data-transforms/**/*
dataviews-client:
  - libs/dataviews-client/**/*
deck-layers:
  - libs/deck-layers/**/*
deck-loaders:
  - libs/deck-loaders/**/*
features-aggregate:
  - libs/features-aggregate/**/*
fourwings-aggregate:
  - libs/fourwings-aggregate/**/*
i18n-labels:
  - libs/i18n-labels/**/*
layer-composer:
  - libs/layer-composer/**/*
ocean-areas:
  - libs/ocean-areas/**/*
pbf-decoders:
  - libs/pbf-decoders/**/*
react-hooks:
  - libs/react-hooks/**/*
timebar:
  - libs/timebar/**/*
ui-components:
  - ui-components/**/*

fix build
  apps/fishing-map/next.config.js
Labels: fishing-map

simplify getSegments array
  libs/deck-layers/src/layers/vessel/VesselTrackLayer.ts
Labels: deck-layers

fix last segments middle points
  libs/deck-layers/src/layers/vessel/VesselTrackLayer.ts
Labels: deck-layers

remove satellite maxzoom
  libs/deck-layers/src/layers/basemap/BasemapLayer.ts
Labels: deck-layers

union multiple area details fetch
  apps/fishing-map/features/areas/areas.slice.ts
Labels: fishing-map

add multiple areas report button
  apps/fishing-map/features/map/popups/categories/ContextLayersRow.tsx
Labels: fishing-map

fix saved report load
  apps/fishing-map/features/app/selectors/app.reports.selector.ts
  apps/fishing-map/features/reports/reports.selectors.ts
  apps/fishing-map/routes/routes.selectors.ts
Labels: fishing-map

update turf version
  libs/data-transforms/src/events/events-to-bbox.ts
  libs/data-transforms/src/kml/kml-to-geojson.ts
  libs/data-transforms/src/segments/segments-to-bbox.ts
  libs/data-transforms/src/wrap-longitudes/wrap-longitudes.ts
  libs/deck-layer-composer/src/hooks/deck-layers.hooks.ts
  libs/deck-layers/src/layers/rulers/RulersLayer.ts
  libs/deck-layers/src/layers/rulers/rulers.utils.ts
  libs/deck-layers/src/layers/vessel/VesselLayer.ts
  package.json
  yarn.lock
Labels: data-transforms, deck-layers

report multiple areas
  apps/fishing-map/features/app/selectors/app.reports.selector.ts
  apps/fishing-map/features/map/popups/categories/ContextLayers.hooks.ts
  apps/fishing-map/features/reports/report.slice.ts
  apps/fishing-map/features/reports/reports.hooks.ts
  apps/fishing-map/features/reports/reports.selectors.ts
  apps/fishing-map/features/reports/reports.utils.ts
  apps/fishing-map/features/reports/title/ReportTitle.tsx
  apps/fishing-map/routes/routes.selectors.ts
  libs/deck-layers/src/utils/layers.ts
Labels: fishing-map, deck-layers

fix add area to report button
  apps/fishing-map/features/map/popups/categories/ContextLayersRow.tsx
Labels: fishing-map

make vessel event highlight and filtering consistent with the timerange
  libs/deck-layers/src/layers/vessel/VesselEventsLayer.ts
  libs/deck-layers/src/layers/vessel/VesselLayer.ts
Labels: deck-layers

fix highlighting with same union id
  apps/fishing-map/features/app/selectors/app.reports.selector.ts
  apps/fishing-map/features/areas/areas.slice.ts
  libs/deck-layers/src/layers/context/ContextLayer.ts
  libs/deck-layers/src/layers/user/UserPolygonsTileLayer.ts
  libs/deck-layers/src/utils/layers.ts
Labels: fishing-map, deck-layers

update translations
  apps/fishing-map/features/areas/areas.slice.ts
  apps/fishing-map/features/map/popups/categories/ContextLayersRow.tsx
  apps/fishing-map/public/locales/source/translations.json
Labels: fishing-map

add polygon analysis icon
  apps/fishing-map/features/map/popups/categories/ContextLayersRow.tsx
  libs/ui-components/src/assets/icons/add-polygon-to-analysis.svg
  libs/ui-components/src/icon/icon.config.ts
Labels: fishing-map

apply tracks thinning based in zoom levels
  apps/fishing-map/features/dataviews/selectors/dataviews.instances.selectors.ts
  apps/fishing-map/features/resources/resources.selectors.thinning.ts
  libs/api-client/src/utils/thinning.ts
  libs/api-types/src/dataviews.ts
  libs/deck-layer-composer/src/resolvers/vessels.ts
  libs/deck-layers/src/layers/vessel/VesselLayer.ts
  libs/deck-layers/src/layers/vessel/VesselTrackLayer.ts
  libs/deck-layers/src/layers/vessel/vessel.config.ts
Labels: fishing-map, api-client, api-types, deck-layers

render activity graph in positions mode
  apps/fishing-map/features/reports/reports-timeseries.utils.ts
  apps/fishing-map/features/timebar/TimebarActivityGraph.hooks.ts
  apps/fishing-map/features/timebar/timebar.selectors.ts
  apps/fishing-map/features/timebar/timebar.utils.ts
  libs/deck-layers/src/layers/fourwings/fourwings.config.ts
  libs/deck-layers/src/layers/fourwings/positions/FourwingsPositionsTileLayer.ts
Labels: fishing-map, deck-layers

highlight positions on timebar hover
  libs/deck-layer-composer/src/resolvers/fourwings.ts
  libs/deck-layers/src/layers/fourwings/positions/FourwingsPositionsTileLayer.ts
  libs/deck-layers/src/layers/fourwings/positions/fourwings-positions.types.ts
Labels: deck-layers

fix timebar tooltip format in positions
  apps/fishing-map/features/timebar/Timebar.tsx
  apps/fishing-map/features/timebar/timebar.utils.ts
Labels: fishing-map

fix build targetting es6
  apps/fishing-map/tsconfig.json
Labels: fishing-map

Wip
  apps/fishing-map/data/default-workspaces/workspace.development.ts
  apps/fishing-map/features/datasets/datasets.mock.ts
  apps/fishing-map/features/datasets/datasets.utils.ts
  apps/fishing-map/features/datasets/upload/datasets-upload.hooks.tsx
  libs/dataviews-client/src/dataviews.config.ts
  libs/dataviews-client/src/resolve-dataviews-generators.ts
  libs/dataviews-client/src/resolve-dataviews.ts
  libs/layer-composer/src/generators/user-context/user-context.ts
  libs/layer-composer/src/generators/user-points/user-points.ts
  libs/layer-composer/src/generators/utils.ts
Labels: fishing-map, dataviews-client, layer-composer

add icon in vessel highlight
  apps/fishing-map/features/resources/resources.selectors.thinning.ts
  libs/deck-layers/src/layers/fourwings/positions/FourwingsPositionsTileLayer.ts
  libs/deck-layers/src/layers/vessel/VesselLayer.ts
  libs/deck-layers/src/layers/vessel/VesselPositionLayer.ts
  libs/deck-layers/src/utils/icons.ts
  libs/deck-layers/src/utils/index.ts
  libs/deck-layers/src/utils/sort.ts
Labels: fishing-map, deck-layers

fetch only fields needed in report to make the response lighter
  apps/fishing-map/features/reports/report.slice.ts
Labels: fishing-map

fix crash
  apps/fishing-map/features/dataviews/selectors/dataviews.instances.selectors.ts
Labels: fishing-map

bien en vez de mal
  libs/deck-layers/src/layers/vessel/VesselLayer.ts
Labels: deck-layers

Add 30min events to the valid sources for the popup
  apps/fishing-map/features/dataviews/dataviews.utils.ts
  apps/fishing-map/features/map/map-sources.hooks.ts
  apps/fishing-map/features/map/popups/EncounterTooltipRow.tsx
Labels: fishing-map

Handle fetch as a non bigquery source
  apps/fishing-map/features/map/map.hooks.ts
Labels: fishing-map

More semantic condition
  apps/fishing-map/features/map/map.hooks.ts
Labels: fishing-map

change fourwings isLoaded state based on viz mode
  libs/deck-layers/src/layers/fourwings/heatmap/FourwingsHeatmapLayer.ts
  libs/deck-layers/src/layers/fourwings/heatmap/FourwingsHeatmapTileLayer.ts
  libs/deck-layers/src/layers/fourwings/positions/FourwingsPositionsTileLayer.ts
  libs/deck-layers/src/layers/fourwings/positions/fourwings-positions.utils.ts
Labels: deck-layers

delete unneded report state props when exiting report
  apps/fishing-map/features/map/popups/categories/ContextLayersRow.tsx
  apps/fishing-map/features/sidebar/SidebarHeader.tsx
  apps/fishing-map/features/workspace/workspace.slice.ts
Labels: fishing-map

un poco mejor
  libs/deck-layers/src/utils/stats.ts
Labels: deck-layers

patch node_modules dependency broken
  .yarn/patches/gaxios-npm-6.6.0-778b1daba0.patch
  package.json
  yarn.lock
Labels: none

Update source file datasets.json
  libs/i18n-labels/source/datasets.json
Labels: i18n-labels

New translations datasets.json (French)
  libs/i18n-labels/fr/datasets.json
Labels: i18n-labels

New translations datasets.json (Spanish)
  libs/i18n-labels/es/datasets.json
Labels: i18n-labels

New translations datasets.json (Portuguese)
  libs/i18n-labels/pt/datasets.json
Labels: i18n-labels

New translations datasets.json (English)
  libs/i18n-labels/en/datasets.json
Labels: i18n-labels

New translations datasets.json (Indonesian)
  libs/i18n-labels/id/datasets.json
Labels: i18n-labels

New translations datasets.json (Valencian)
  libs/i18n-labels/val/datasets.json
Labels: i18n-labels

release: bump $i18n-labels to 1.2.190 [skip ci]
  libs/i18n-labels/CHANGELOG.md
  libs/i18n-labels/package.json
Labels: i18n-labels

Update source file datasets.json
  libs/i18n-labels/source/datasets.json
Labels: i18n-labels
