Repository GlobalFishingWatch/frontend, changes with the labels that .github/labeler.yml gives for each.
All labels: api-portal, fishing-map, image-labeler, port-labeler, user-groups-admin, vessel-history, api-client, api-types, data-transforms, dataviews-client, deck-layers, deck-loaders, features-aggregate, fourwings-aggregate, i18n-labels, layer-composer, ocean-areas, pbf-decoders, react-hooks, timebar, ui-components

Remove logs
  libs/dataviews-client/src/dataviews.config.ts
  libs/dataviews-client/src/resolve-dataviews-generators.ts
  libs/dataviews-client/src/resolve-dataviews.ts
  libs/layer-composer/src/generators/user-context/user-context.ts
Labels: dataviews-client, layer-composer

🤖
  apps/fishing-map/features/datasets/datasets.utils.ts
  apps/fishing-map/features/datasets/upload/datasets-upload.hooks.tsx
Labels: fishing-map

Add context layers to default dataviews to be displayed on layer library
  apps/fishing-map/data/default-workspaces/workspace.development.ts
  apps/fishing-map/data/layer-library/layers-context.ts
  apps/fishing-map/data/workspaces.ts
Labels: fishing-map

calculate getIsPositionsAvailable without loopint through all tiles and cells
  libs/deck-layers/src/layers/fourwings/FourwingsLayer.ts
  libs/deck-layers/src/layers/fourwings/heatmap/FourwingsHeatmapTileLayer.ts
  libs/timebar/src/charts/tracks.tsx
Labels: deck-layers, timebar

Add copy
  apps/fishing-map/data/default-workspaces/workspace.development.ts
  apps/fishing-map/public/locales/source/layer-library.json
Labels: fishing-map

Remove mock dataset
  apps/fishing-map/features/datasets/datasets.mock.ts
Labels: fishing-map

Update filtering logic depending on layer type
  libs/layer-composer/src/generators/user-points/user-points.ts
Labels: layer-composer

fix time compare colors
  libs/deck-layers/src/layers/fourwings/heatmap/FourwingsHeatmapLayer.ts
  libs/deck-layers/src/layers/fourwings/heatmap/FourwingsHeatmapTileLayer.ts
  libs/deck-layers/src/utils/colorRamps.ts
  libs/deck-layers/src/utils/colors.ts
Labels: deck-layers

fix static and positions colors
  libs/deck-layers/src/layers/fourwings/heatmap/FourwingsHeatmapStaticLayer.ts
  libs/deck-layers/src/layers/fourwings/positions/FourwingsPositionsTileLayer.ts
Labels: deck-layers

fix legends
  libs/deck-layer-composer/src/hooks/deck-layers-legends.hooks.ts
Labels: none

fix rgba prefix bug
  libs/deck-layers/src/layers/fourwings/positions/FourwingsPositionsTileLayer.ts
  libs/deck-layers/src/utils/colorRamps.ts
  libs/deck-layers/src/utils/colors.ts
Labels: deck-layers

New translations layer-library.json (French)
  apps/fishing-map/public/locales/fr/layer-library.json
Labels: fishing-map

New translations layer-library.json (Spanish)
  apps/fishing-map/public/locales/es/layer-library.json
Labels: fishing-map

New translations layer-library.json (Portuguese)
  apps/fishing-map/public/locales/pt/layer-library.json
Labels: fishing-map

New translations layer-library.json (English)
  apps/fishing-map/public/locales/en/layer-library.json
Labels: fishing-map

New translations layer-library.json (Indonesian)
  apps/fishing-map/public/locales/id/layer-library.json
Labels: fishing-map

New translations layer-library.json (Valencian)
  apps/fishing-map/public/locales/val/layer-library.json
Labels: fishing-map

Add fixed infra label
  apps/fishing-map/features/map/map.config.ts
  apps/fishing-map/features/map/popups/UserPointsLayers.tsx
Labels: fishing-map

run featuers in area only once instead of every time change
  apps/fishing-map/features/reports/reports-timeseries.hooks.ts
Labels: fishing-map

fix missing promoteId in user-points generator
  libs/layer-composer/src/generators/types.ts
  libs/layer-composer/src/generators/user-points/user-points.ts
Labels: layer-composer

fix missing user bq event dataset
  libs/datasets-client/src/datasets.user.ts
Labels: none

avoid calculating areasOnScreen if panel is closed
  apps/fishing-map/features/workspace/context-areas/ContextAreaLayerPanel.tsx
  libs/ui-components/src/collapsable/Collapsable.tsx
Labels: fishing-map

fix map dead spot at the bottom
  apps/fishing-map/features/map/controls/MapInfo.module.css
Labels: fishing-map

fix timebar graph calculation when viewport or min/max visible values change
  apps/fishing-map/features/timebar/TimebarActivityGraph.hooks.ts
Labels: fishing-map

increase fishing-map version
  apps/fishing-map/package.json
Labels: fishing-map

rollback pipe 3 changes
  apps/fishing-map/data/default-workspaces/workspace.production.ts
  apps/fishing-map/data/workspaces.ts
  apps/fishing-map/features/vessel/vessel.config.ts
Labels: fishing-map

remove unused selector
  apps/fishing-map/features/timebar/TimebarActivityGraph.hooks.ts
Labels: fishing-map

bump deck.gl
  package.json
  yarn.lock
Labels: none

fix warning errors
  libs/ui-components/src/slider-range/SliderRange.tsx
Labels: none

include filters in positions requests
  libs/deck-layers/src/layers/fourwings/positions/FourwingsPositionsTileLayer.ts
Labels: deck-layers

skip interaction request for positions click
  apps/fishing-map/features/map/map-interactions.hooks.ts
Labels: fishing-map

fix detections positions tooltip
  apps/fishing-map/features/map/popups/PopupByCategory.tsx
  apps/fishing-map/features/map/popups/categories/PositionsRow.tsx
Labels: fishing-map

show error % in report summary
  apps/fishing-map/features/reports/summary/ReportSummary.tsx
Labels: fishing-map

handle 404 errors in positions
  libs/deck-layers/src/layers/fourwings/positions/FourwingsPositionsTileLayer.ts
  libs/deck-layers/src/layers/fourwings/positions/fourwings-positions.utils.ts
Labels: deck-layers

fix sar infrastructure id
  apps/fishing-map/data/default-workspaces/workspace.development.ts
  apps/fishing-map/data/default-workspaces/workspace.production.ts
  apps/fishing-map/data/layer-library/layers-context.ts
  apps/fishing-map/features/dataviews/selectors/dataviews.instances.selectors.ts
  apps/fishing-map/features/map/map.config.ts
  apps/fishing-map/features/map/popups/UserPointsLayers.tsx
Labels: fishing-map

increase fishing-map version
  apps/fishing-map/package.json
Labels: fishing-map

rollback pipe 3 changes
  apps/fishing-map/data/default-workspaces/workspace.production.ts
  apps/fishing-map/data/workspaces.ts
  apps/fishing-map/features/vessel/vessel.config.ts
Labels: fishing-map

add out of time range disclaimer for context layers
  apps/fishing-map/features/reports/reports.utils.ts
  apps/fishing-map/features/workspace/common/OutOfBoundsDisclaimer.tsx
  apps/fishing-map/features/workspace/context-areas/ContextAreaLayerPanel.tsx
Labels: fishing-map

rollback pipe 3 changes
  apps/fishing-map/data/default-workspaces/workspace.production.ts
  apps/fishing-map/data/workspaces.ts
  apps/fishing-map/features/vessel/vessel.config.ts
Labels: fishing-map

fix disclaimer always visible
  apps/fishing-map/features/workspace/context-areas/ContextAreaLayerPanel.tsx
  apps/fishing-map/package.json
Labels: fishing-map

.github/labeler.yml:

api-portal:
  - apps/api-portal/**/*
fishing-map:
  - apps/fishing-map/**/*
image-labeler:
  - apps/image-labeler/**/*
port-labeler:
  - apps/port-labeler/**/*
user-groups-admin:
  - apps/user-groups-admin/**/*
vessel-history:
  - apps/vessel-history/**/*

api-client:
  - libs/api-client/**/*
api-types:
  - libs/api-types/**/*
data-transforms:
  - libs/data-transforms/**/*
dataviews-client:
  - libs/dataviews-client/**/*
deck-layers:
  - libs/deck-layers/**/*
deck-loaders:
  - libs/deck-loaders/**/*
features-aggregate:
  - libs/features-aggregate/**/*
fourwings-aggregate:
  - libs/fourwings-aggregate/**/*
i18n-labels:
  - libs/i18n-labels/**/*
layer-composer:
  - libs/layer-composer/**/*
ocean-areas:
  - libs/ocean-areas/**/*
pbf-decoders:
  - libs/pbf-decoders/**/*
react-hooks:
  - libs/react-hooks/**/*
timebar:
  - libs/timebar/**/*
ui-components:
  - ui-components/**/*
