Repository GlobalFishingWatch/frontend, changes with the labels that .github/labeler.yml gives for each.
All labels: api-portal, fishing-map, image-labeler, port-labeler, track-labeler, user-groups-admin, vessel-history, api-client, api-types, data-transforms, dataviews-client, deck-layer-composer, deck-layers, deck-loaders, fourwings-aggregate, i18n-labels, layer-composer, ocean-areas, pbf-decoders, react-hooks, timebar, ui-components

.github/labeler.yml:

api-portal:
  - apps/api-portal/**/*
fishing-map:
  - apps/fishing-map/**/*
image-labeler:
  - apps/image-labeler/**/*
port-labeler:
  - apps/port-labeler/**/*
track-labeler:
  - apps/track-labeler/**/*
user-groups-admin:
  - apps/user-groups-admin/**/*
vessel-history:
  - apps/vessel-history/**/*

api-client:
  - libs/api-client/**/*
api-types:
  - libs/api-types/**/*
data-transforms:
  - libs/data-transforms/**/*
dataviews-client:
  - libs/dataviews-client/**/*
deck-layer-composer:
  - libs/deck-layer-composer/**/*
deck-layers:
  - libs/deck-layers/**/*
deck-loaders:
  - libs/deck-loaders/**/*
fourwings-aggregate:
  - libs/fourwings-aggregate/**/*
i18n-labels:
  - libs/i18n-labels/**/*
layer-composer:
  - libs/layer-composer/**/*
ocean-areas:
  - libs/ocean-areas/**/*
pbf-decoders:
  - libs/pbf-decoders/**/*
react-hooks:
  - libs/react-hooks/**/*
timebar:
  - libs/timebar/**/*
ui-components:
  - ui-components/**/*

add port name to tooltip
  apps/fishing-map/features/map/popups/categories/TileClusterTooltipRow.tsx
Labels: fishing-map

Update source file datasets.json
  libs/i18n-labels/source/datasets.json
Labels: i18n-labels

New translations datasets.json (French)
  libs/i18n-labels/fr/datasets.json
Labels: i18n-labels

New translations datasets.json (Spanish)
  libs/i18n-labels/es/datasets.json
Labels: i18n-labels

New translations datasets.json (Portuguese)
  libs/i18n-labels/pt/datasets.json
Labels: i18n-labels

New translations datasets.json (Chinese Traditional)
  libs/i18n-labels/zh/datasets.json
Labels: i18n-labels

New translations datasets.json (English)
  libs/i18n-labels/en/datasets.json
Labels: i18n-labels

New translations datasets.json (Indonesian)
  libs/i18n-labels/id/datasets.json
Labels: i18n-labels

New translations datasets.json (Valencian)
  libs/i18n-labels/val/datasets.json
Labels: i18n-labels

release: bump $i18n-labels to 1.2.216 [skip ci]
  libs/i18n-labels/CHANGELOG.md
  libs/i18n-labels/package.json
Labels: i18n-labels

make user context layers pickable configurable
  libs/deck-layer-composer/src/resolvers/user.ts
  libs/deck-layers/src/layers/user/UserPolygonsTileLayer.ts
Labels: deck-layer-composer, deck-layers

fix hover cursor
  apps/fishing-map/features/workspace/common/Title.tsx
Labels: fishing-map

run meticulous tests on PRs
  .github/workflows/meticulous.yaml
Labels: none

update meticulous recording-token
  apps/fishing-map/pages/_document.tsx
Labels: fishing-map

use same base path in dev and pro
  apps/fishing-map/data/config.ts
  apps/fishing-map/next.config.ts
  libs/deck-layers/src/layers/layers.config.ts
  libs/deck-loaders/src/loaders.config.ts
Labels: fishing-map, deck-layers, deck-loaders

fix circular dependency
  apps/fishing-map/features/reports/areas/area-reports.hooks.ts
  apps/fishing-map/features/reports/ports/PortsReport.tsx
  apps/fishing-map/features/reports/ports/ports-report.hooks.ts
Labels: fishing-map

fix evolution graph axis
  apps/fishing-map/features/reports/shared/activity/ReportActivityEvolution.tsx
Labels: fishing-map

first pass
  apps/fishing-map/features/datasets/datasets.hook.ts
  apps/fishing-map/features/map/DeckGLWrapper.tsx
  apps/fishing-map/features/map/Map.tsx
  apps/fishing-map/features/map/controls/MapControls.tsx
  apps/fishing-map/features/map/controls/MapInfo.tsx
  apps/fishing-map/features/map/controls/map-controls.hooks.ts
  apps/fishing-map/features/map/controls/map-controls.slice.ts
  apps/fishing-map/features/map/map-bounds.hooks.ts
  apps/fishing-map/features/map/map-draw.hooks.ts
  apps/fishing-map/features/map/map-interactions.hooks.ts
  apps/fishing-map/features/map/map-layers.hooks.ts
  apps/fishing-map/features/map/map-viewport.hooks.ts
  apps/fishing-map/features/map/overlays/annotations/annotations.hooks.ts
  apps/fishing-map/features/map/overlays/error-notification/error-notification.hooks.ts
  apps/fishing-map/features/map/overlays/rulers/rulers.hooks.ts
  apps/fishing-map/features/reports/areas/area-reports.hooks.ts
  apps/fishing-map/features/reports/shared/activity/reports-activity-timecomparison.hooks.ts
  apps/fishing-map/features/search/search.hook.ts
  apps/fishing-map/features/timebar/Timebar.tsx
  apps/fishing-map/features/timebar/timebar.hooks.ts
  apps/fishing-map/features/timebar/timebar.selectors.ts
  apps/fishing-map/features/workspace/activity/activity.hooks.tsx
  apps/fishing-map/features/workspace/common/OutOfBoundsDisclaimer.tsx
  apps/fishing-map/features/workspace/save/workspace-save.hooks.ts
  apps/fishing-map/features/workspace/workspace.hook.ts
  apps/fishing-map/hooks/screen.hooks.ts
  apps/fishing-map/hooks/secret-menu.hooks.ts
  apps/fishing-map/pages/_document.tsx
  apps/fishing-map/routes/routes.selectors.ts
  apps/fishing-map/routes/routes.ts
  libs/datasets-client/src/datasets.utils.ts
  libs/timebar/src/timebar.tsx
Labels: fishing-map, timebar

fishing-map build and serve
  .github/workflows/meticulous.yaml
  .gitignore
  apps/fishing-map/project.json
Labels: fishing-map

trigger meticulous in master branch
  .github/workflows/meticulous.yaml
Labels: none

trigger meticulous in master branch
  .github/workflows/meticulous.yaml
Labels: none

fix copy fishing-map path
  apps/fishing-map/project.json
Labels: fishing-map

fix fishing-map project scripts
  .github/workflows/meticulous.yaml
  apps/fishing-map/project.json
Labels: fishing-map

fix when existing footprint layer exists
  apps/fishing-map/features/dataviews/selectors/dataviews.resolvers.selectors.ts
Labels: fishing-map

fix user context layer configurable interaction
  libs/deck-layer-composer/src/resolvers/user.ts
Labels: deck-layer-composer

fix crash when no data found
  libs/responsive-visualizations/src/charts/barchart/BarChartAggregated.tsx
Labels: none

fix shiptype in vessel groups events report
  apps/fishing-map/features/reports/areas/area-reports.utils.ts
  apps/fishing-map/features/reports/ports/ports-report.slice.ts
  apps/fishing-map/features/reports/vessel-groups/events/vgr-events.selectors.ts
  apps/fishing-map/features/reports/vessel-groups/vessels/VesselGroupReportVesselsGraph.tsx
Labels: fishing-map

run meticulous on label add
  .github/workflows/meticulous.yaml
Labels: none

show individual data graphs
  apps/fishing-map/features/reports/shared/activity/vessels/ReportVesselsGraph.tsx
  apps/fishing-map/features/reports/shared/events/EventsReportGraph.tsx
  apps/fishing-map/features/reports/vessel-groups/insights/VGRInsightCoverageGraph.tsx
  apps/fishing-map/features/reports/vessel-groups/vessels/VesselGroupReportVesselsGraph.tsx
Labels: fishing-map

upgrade next and nx
  package.json
  yarn.lock
Labels: none

fix circular dependency
  apps/fishing-map/features/reports/areas/area-reports.utils.ts
  apps/fishing-map/features/reports/vessel-groups/vessel-group-report.config.ts
Labels: fishing-map

remove script
  apps/fishing-map/pages/_document.tsx
Labels: fishing-map

fix timeline units
  apps/fishing-map/features/timebar/Timebar.tsx
  libs/timebar/src/components/timeline-units.tsx
  libs/timebar/src/components/timeline.tsx
  libs/timebar/src/timebar.tsx
Labels: fishing-map, timebar

remove warnings
  apps/fishing-map/features/map/map-context.hooks.ts
  apps/fishing-map/features/map/map-viewport.hooks.ts
  apps/fishing-map/features/reports/areas/area-reports.hooks.ts
  apps/fishing-map/features/timebar/Timebar.tsx
  apps/fishing-map/features/timebar/timebar.hooks.ts
  apps/fishing-map/queries/stats-api.ts
Labels: fishing-map

ensure vesselDatasetId is updated on vessel profile
  apps/fishing-map/features/workspace/workspace-migration.hooks.tsx
Labels: fishing-map

add test to update legacy vessel profile workspace
  apps/fishing-map-e2e/src/constants/urls.ts
  apps/fishing-map-e2e/src/e2e/vessel-viewer/update-legacy.cy.ts
  apps/fishing-map/features/workspace/workspace-migration.hooks.tsx
Labels: fishing-map

show link for vessel profile in map for deprecated data
  apps/vessel-history/features/map/map-viewport.hooks.ts
  apps/vessel-history/features/profile/Profile.module.css
  apps/vessel-history/features/profile/Profile.tsx
  apps/vessel-history/features/profile/TabDeprecated.tsx
  apps/vessel-history/features/profile/components/Info.tsx
  apps/vessel-history/features/resources/resources.utils.ts
  apps/vessel-history/features/risk-indicator/risk-indicator.hook.ts
Labels: vessel-history

Handle overlap at start and and of segment
  apps/track-labeler/src/features/timebar/timebar.hooks.ts
Labels: track-labeler

areas report search
  apps/fishing-map/features/reports/shared/area/AreaReportSearch.module.css
  apps/fishing-map/features/reports/shared/area/AreaReportSearch.tsx
  apps/fishing-map/features/reports/vessel-groups/activity/VGRActivity.tsx
  apps/fishing-map/public/locales/source/translations.json
  apps/fishing-map/routes/routes.ts
Labels: fishing-map

calculate timeseries without area
  apps/fishing-map/features/dataviews/selectors/dataviews.resolvers.selectors.ts
  apps/fishing-map/features/reports/areas/area-reports.hooks.ts
  apps/fishing-map/features/reports/areas/summary/ReportSummary.tsx
  apps/fishing-map/features/reports/shared/activity/reports-activity-timeseries.hooks.ts
Labels: fishing-map
