Repository GlobalFishingWatch/frontend, changes with the labels that .github/labeler.yml gives for each.
All labels: api-portal, fishing-map, image-labeler, port-labeler, track-labeler, user-groups-admin, vessel-history, api-client, api-types, data-transforms, dataviews-client, deck-layer-composer, deck-layers, deck-loaders, fourwings-aggregate, i18n-labels, layer-composer, ocean-areas, pbf-decoders, react-hooks, timebar, ui-components

.github/labeler.yml:

api-portal:
  - apps/api-portal/**/*
fishing-map:
  - apps/fishing-map/**/*
image-labeler:
  - apps/image-labeler/**/*
port-labeler:
  - apps/port-labeler/**/*
track-labeler:
  - apps/track-labeler/**/*
user-groups-admin:
  - apps/user-groups-admin/**/*
vessel-history:
  - apps/vessel-history/**/*

api-client:
  - libs/api-client/**/*
api-types:
  - libs/api-types/**/*
data-transforms:
  - libs/data-transforms/**/*
dataviews-client:
  - libs/dataviews-client/**/*
deck-layer-composer:
  - libs/deck-layer-composer/**/*
deck-layers:
  - libs/deck-layers/**/*
deck-loaders:
  - libs/deck-loaders/**/*
fourwings-aggregate:
  - libs/fourwings-aggregate/**/*
i18n-labels:
  - libs/i18n-labels/**/*
layer-composer:
  - libs/layer-composer/**/*
ocean-areas:
  - libs/ocean-areas/**/*
pbf-decoders:
  - libs/pbf-decoders/**/*
react-hooks:
  - libs/react-hooks/**/*
timebar:
  - libs/timebar/**/*
ui-components:
  - ui-components/**/*

update vessel viewer deprecated labels
  apps/vessel-history/features/profile/TabDeprecated.tsx
  apps/vessel-history/features/splash/Splash.module.css
  apps/vessel-history/features/splash/Splash.tsx
Labels: vessel-history

fix API_GATEWAY_VERSION env
  apps/vessel-history/features/profile/TabDeprecated.tsx
  libs/api-client/src/config.ts
Labels: vessel-history, api-client

fix detections subcategories
  apps/fishing-map/features/reports/reports.selectors.ts
Labels: fishing-map

only make polygons out of closed lines and make it work for KML as well
  apps/fishing-map/features/datasets/upload/datasets-parse.utils.ts
  libs/data-transforms/src/files/kml-to-geojson.ts
Labels: fishing-map, data-transforms

use es-toolkit
  apps/fishing-map/features/reports/shared/utils/reports.utils.ts
Labels: fishing-map

re-activate gear filtering for vessel group report
  apps/fishing-map/features/reports/shared/vessels/report-vessels.config.ts
Labels: fishing-map

fix Others tooltip in vessels graph
  apps/fishing-map/features/reports/shared/vessels/ReportVesselsGraph.tsx
Labels: fishing-map

update readme
  README.md
Labels: none

remove "unmatched" entry from detections reports
  apps/fishing-map/features/reports/tabs/activity/vessels/report-activity-vessels.selectors.ts
Labels: fishing-map

remove environment layers in other tabs
  apps/fishing-map/features/dataviews/selectors/dataviews.instances.selectors.ts
Labels: fishing-map

vessel-profile fixes
  apps/vessel-history/Dockerfile
  apps/vessel-history/cloudbuild.yaml
  apps/vessel-history/features/profile/Profile.module.css
  apps/vessel-history/features/profile/Profile.tsx
  apps/vessel-history/features/profile/TabDeprecated.tsx
  apps/vessel-history/features/splash/Splash.tsx
  apps/vessel-history/routes/routes.selectors.ts
Labels: vessel-history

fix tooltip date formats
  apps/fishing-map/features/reports/report-area/area-reports.utils.ts
Labels: fishing-map

fix report when no data
  apps/fishing-map/features/map/DeckGLWrapper.tsx
  apps/fishing-map/features/reports/tabs/activity/ReportActivityGraph.tsx
  apps/fishing-map/features/reports/tabs/activity/reports-activity-timeseries.hooks.ts
  apps/fishing-map/features/reports/tabs/activity/summary/ReportSummary.tsx
Labels: fishing-map

fix missing import
  apps/data-download-portal/src/components/table/table.jsx
  apps/data-download-portal/src/pages/dataset/dataset.jsx
Labels: none

add documentation for deck-loaders
  libs/deck-loaders/README.md
Labels: deck-loaders

add basic libraries documentation
  libs/api-client/README.md
  libs/api-types/README.md
  libs/data-transforms/README.md
  libs/datasets-client/README.md
  libs/dataviews-client/README.md
  libs/deck-layer-composer/README.md
  libs/deck-layers/README.md
  libs/deck-loaders/README.md
  libs/fourwings-aggregate/README.md
  libs/i18n-labels/README.md
  libs/layer-composer/README.md
  libs/ocean-areas/README.md
  libs/pbf-decoders/README.md
  libs/react-hooks/README.md
  libs/responsive-visualizations/README.md
  libs/timebar/README.md
  libs/ui-components/README.md
Labels: api-client, api-types, data-transforms, dataviews-client, deck-layer-composer, deck-layers, deck-loaders, fourwings-aggregate, i18n-labels, layer-composer, ocean-areas, pbf-decoders, react-hooks, timebar

stop caching api request with errors in api-client
  apps/fishing-map/queries/base.ts
  libs/api-client/src/api-client.ts
Labels: fishing-map, api-client
