Repository GlobalFishingWatch/frontend, changes with the labels that .github/labeler.yml gives for each.
All labels: api-portal, fishing-map, image-labeler, port-labeler, track-labeler, user-groups-admin, vessel-history, api-client, api-types, data-transforms, dataviews-client, deck-layer-composer, deck-layers, deck-loaders, fourwings-aggregate, i18n-labels, layer-composer, ocean-areas, pbf-decoders, react-hooks, timebar, ui-components

.github/labeler.yml:

api-portal:
  - apps/api-portal/**/*
fishing-map:
  - apps/fishing-map/**/*
image-labeler:
  - apps/image-labeler/**/*
port-labeler:
  - apps/port-labeler/**/*
track-labeler:
  - apps/track-labeler/**/*
user-groups-admin:
  - apps/user-groups-admin/**/*
vessel-history:
  - apps/vessel-history/**/*

api-client:
  - libs/api-client/**/*
api-types:
  - libs/api-types/**/*
data-transforms:
  - libs/data-transforms/**/*
dataviews-client:
  - libs/dataviews-client/**/*
deck-layer-composer:
  - libs/deck-layer-composer/**/*
deck-layers:
  - libs/deck-layers/**/*
deck-loaders:
  - libs/deck-loaders/**/*
fourwings-aggregate:
  - libs/fourwings-aggregate/**/*
i18n-labels:
  - libs/i18n-labels/**/*
layer-composer:
  - libs/layer-composer/**/*
ocean-areas:
  - libs/ocean-areas/**/*
pbf-decoders:
  - libs/pbf-decoders/**/*
react-hooks:
  - libs/react-hooks/**/*
timebar:
  - libs/timebar/**/*
ui-components:
  - ui-components/**/*

New translations translations.json (French)
  apps/fishing-map/public/locales/fr/translations.json
Labels: fishing-map

New translations translations.json (Spanish)
  apps/fishing-map/public/locales/es/translations.json
Labels: fishing-map

New translations translations.json (Portuguese)
  apps/fishing-map/public/locales/pt/translations.json
Labels: fishing-map

New translations translations.json (Chinese Traditional)
  apps/fishing-map/public/locales/zh/translations.json
Labels: fishing-map

New translations translations.json (English)
  apps/fishing-map/public/locales/en/translations.json
Labels: fishing-map

New translations translations.json (Indonesian)
  apps/fishing-map/public/locales/id/translations.json
Labels: fishing-map

New translations translations.json (Valencian)
  apps/fishing-map/public/locales/val/translations.json
Labels: fishing-map

fix css parsing order
  eslint.config.js
  linting/index.js
Labels: none

fix lint
  apps/fishing-map/features/reports/tabs/activity/reports-activity-timecomparison.hooks.ts
  apps/fishing-map/reducers.ts
Labels: fishing-map

merge common and share workspaces folder
  apps/fishing-map/features/layer-library/LayerLibraryUserPanel.tsx
  apps/fishing-map/features/search/advanced/SearchAdvancedFilters.tsx
  apps/fishing-map/features/user/UserDatasets.tsx
  apps/fishing-map/features/workspace/activity/ActivityAuxiliaryLayer.tsx
  apps/fishing-map/features/workspace/activity/ActivityLayerPanel.tsx
  apps/fishing-map/features/workspace/activity/ActivitySection.tsx
  apps/fishing-map/features/workspace/context-areas/ContextAreaLayerPanel.tsx
  apps/fishing-map/features/workspace/detections/DetectionsSection.tsx
  apps/fishing-map/features/workspace/environmental/EnvironmentalLayerPanel.tsx
  apps/fishing-map/features/workspace/environmental/EnvironmentalSection.tsx
  apps/fishing-map/features/workspace/events/EventsLayerPanel.tsx
  apps/fishing-map/features/workspace/shared/Color.tsx
  apps/fishing-map/features/workspace/shared/DatasetNotFound.tsx
  apps/fishing-map/features/workspace/shared/DatasetSchemaField.tsx
  apps/fishing-map/features/workspace/shared/FitBounds.tsx
  apps/fishing-map/features/workspace/shared/InfoError.tsx
  apps/fishing-map/features/workspace/shared/InfoModal.module.css
  apps/fishing-map/features/workspace/shared/InfoModal.tsx
  apps/fishing-map/features/workspace/shared/InfoModalContent.tsx
  apps/fishing-map/features/workspace/shared/LayerFilters.module.css
  apps/fishing-map/features/workspace/shared/LayerFilters.tsx
  apps/fishing-map/features/workspace/shared/LayerSchemaFilter.tsx
  apps/fishing-map/features/workspace/shared/LayerSwitch.tsx
  apps/fishing-map/features/workspace/shared/MapLegend.module.css
  apps/fishing-map/features/workspace/shared/MapLegend.tsx
  apps/fishing-map/features/workspace/shared/MapLegendPlaceholder.module.css
  apps/fishing-map/features/workspace/shared/MapLegendPlaceholder.tsx
  apps/fishing-map/features/workspace/shared/OutOfBoundsDisclaimer.tsx
  apps/fishing-map/features/workspace/shared/Remove.tsx
  apps/fishing-map/features/workspace/shared/Title.module.css
  apps/fishing-map/features/workspace/shared/Title.tsx
  apps/fishing-map/features/workspace/shared/VisualisationChoice.module.css
  apps/fishing-map/features/workspace/shared/VisualisationChoice.tsx
  apps/fishing-map/features/workspace/user/UserLayerPanel.tsx
  apps/fishing-map/features/workspace/vessel-groups/VesselGroupNotFound.tsx
  apps/fishing-map/features/workspace/vessel-groups/VesselGroupsLayerPanel.tsx
  apps/fishing-map/features/workspace/vessels/VesselLayerPanel.tsx
  apps/fishing-map/features/workspace/vessels/VesselTracksLegend.tsx
Labels: fishing-map

fix groups order lint
  eslint.config.js
  linting/index.js
Labels: none

remove not used vessel-groups types
  apps/fishing-map/features/reports/report-vessel-group/VesselGroupReport.tsx
  apps/fishing-map/features/reports/report-vessel-group/vessel-group-report.dataviews.ts
  apps/fishing-map/features/reports/shared/utils/reports.utils.ts
  apps/fishing-map/features/reports/shared/vessels/ReportVessels.tsx
  apps/fishing-map/features/reports/shared/vessels/ReportVesselsGraph.tsx
  apps/fishing-map/features/reports/shared/vessels/ReportVesselsGraphSelector.tsx
  apps/fishing-map/features/vessel-groups/vessel-groups.types.ts
  apps/fishing-map/types/index.ts
Labels: fishing-map

merge activity and presence into activity tab report
  apps/fishing-map/features/app/selectors/app.reports.selector.ts
  apps/fishing-map/features/dataviews/selectors/dataviews.instances.selectors.ts
  apps/fishing-map/features/dataviews/selectors/dataviews.resolvers.selectors.ts
  apps/fishing-map/features/dataviews/selectors/dataviews.selectors.ts
  apps/fishing-map/features/reports/report-area/AreaReport.tsx
  apps/fishing-map/features/reports/report-area/area-reports.utils.ts
  apps/fishing-map/features/reports/report-area/summary/ReportSummary.tsx
  apps/fishing-map/features/reports/report-port/PortsReport.tsx
  apps/fishing-map/features/reports/report-port/ports-report.selectors.ts
  apps/fishing-map/features/reports/reports.config.selectors.ts
  apps/fishing-map/features/reports/reports.types.ts
  apps/fishing-map/features/reports/shared/vessels/report-vessels.selectors.ts
  apps/fishing-map/features/reports/tabs/activity/ReportActivity.tsx
  apps/fishing-map/features/reports/tabs/activity/ReportActivitySubsectionSelector.tsx.tsx
  apps/fishing-map/features/reports/tabs/activity/reports-activity.types.ts
  apps/fishing-map/features/reports/tabs/activity/vessels/ReportVessels.tsx
  apps/fishing-map/features/reports/tabs/activity/vessels/ReportVesselsFilter.tsx
  apps/fishing-map/features/reports/tabs/activity/vessels/ReportVesselsGraphSelector.tsx
  apps/fishing-map/features/reports/tabs/activity/vessels/ReportVesselsTable.tsx
  apps/fishing-map/features/reports/tabs/events/EventsReport.tsx
  apps/fishing-map/features/reports/tabs/events/EventsReportSubsectionSelector.tsx
  apps/fishing-map/features/reports/tabs/events/EventsReportVesselPropertySelector.tsx
  apps/fishing-map/features/reports/tabs/events/EventsReportVesselsTableFooter.tsx
  apps/fishing-map/features/reports/tabs/events/events-report.selectors.ts
Labels: fishing-map

clean up report vessels and show table
  apps/fishing-map/features/reports/report-port/PortsReport.tsx
  apps/fishing-map/features/reports/report-port/ports-report.hooks.ts
  apps/fishing-map/features/reports/report-port/ports-report.selectors.ts
  apps/fishing-map/features/reports/report-port/ports-report.slice.ts
  apps/fishing-map/features/reports/report-vessel-group/VesselGroupReport.tsx
  apps/fishing-map/features/reports/shared/utils/reports.utils.ts
  apps/fishing-map/features/reports/shared/vessels/ReportVesselsTable.tsx
  apps/fishing-map/features/reports/shared/vessels/report-vessels.selectors.ts
  apps/fishing-map/features/reports/tabs/activity/reports-activity.types.ts
  apps/fishing-map/features/reports/tabs/events/EventsReport.tsx
  apps/fishing-map/features/reports/tabs/events/EventsReportVesselPropertySelector.tsx
  apps/fishing-map/features/reports/tabs/events/EventsReportVesselsTable.module.css
  apps/fishing-map/features/reports/tabs/events/EventsReportVesselsTable.tsx
  apps/fishing-map/features/reports/tabs/events/EventsReportVesselsTableFooter.tsx
  apps/fishing-map/features/reports/tabs/events/events-report.selectors.ts
  apps/fishing-map/features/sidebar/SidebarHeader.tsx
  apps/fishing-map/reducers.ts
Labels: fishing-map

fix duplicated activity layers in vessel group report
  apps/fishing-map/features/dataviews/selectors/dataviews.instances.selectors.ts
Labels: fishing-map

show port report using events tab
  apps/fishing-map/features/dataviews/selectors/dataviews.instances.selectors.ts
  apps/fishing-map/features/dataviews/selectors/dataviews.reports.selectors.ts
  apps/fishing-map/features/reports/report-port/PortsReport.tsx
  apps/fishing-map/features/reports/report-vessel-group/VesselGroupReport.tsx
  apps/fishing-map/features/reports/shared/vessels/report-vessels.selectors.ts
  apps/fishing-map/features/reports/tabs/activity/reports-activity-timeseries.hooks.ts
  apps/fishing-map/features/reports/tabs/events/EventsReport.tsx
  apps/fishing-map/features/reports/tabs/events/EventsReportSubsectionSelector.tsx
  apps/fishing-map/features/reports/tabs/events/events-report.selectors.ts
Labels: fishing-map

use same vessel report table component in activity report
  apps/fishing-map/features/app/selectors/app.reports.selector.ts
  apps/fishing-map/features/reports/report-port/PortsReport.tsx
  apps/fishing-map/features/reports/report-vessel-group/VesselGroupReport.tsx
  apps/fishing-map/features/reports/report-vessel-group/VesselGroupReportTitle.tsx
  apps/fishing-map/features/reports/shared/vessels/ReportVessels.module.css
  apps/fishing-map/features/reports/shared/vessels/ReportVessels.tsx
  apps/fishing-map/features/reports/shared/vessels/ReportVesselsFilter.module.css
  apps/fishing-map/features/reports/shared/vessels/ReportVesselsFilter.tsx
  apps/fishing-map/features/reports/shared/vessels/ReportVesselsGraph.tsx
  apps/fishing-map/features/reports/shared/vessels/ReportVesselsGraphSelector.tsx
  apps/fishing-map/features/reports/shared/vessels/ReportVesselsIndividualTooltip.tsx
  apps/fishing-map/features/reports/shared/vessels/ReportVesselsTable.module.css
  apps/fishing-map/features/reports/shared/vessels/ReportVesselsTable.tsx
  apps/fishing-map/features/reports/shared/vessels/ReportVesselsTableFooter.tsx
  apps/fishing-map/features/reports/shared/vessels/ReportVesselsTablePin.tsx
  apps/fishing-map/features/reports/shared/vessels/report-vessels.hooks.ts
  apps/fishing-map/features/reports/shared/vessels/report-vessels.selectors.ts
  apps/fishing-map/features/reports/tabs/activity/ReportActivityBeforeAfterGraph.tsx
  apps/fishing-map/features/reports/tabs/activity/reports-activity.slice.ts
  apps/fishing-map/features/reports/tabs/activity/vessels/ReportVessels.tsx
  apps/fishing-map/features/reports/tabs/activity/vessels/ReportVesselsGraphSelector.tsx
  apps/fishing-map/features/reports/tabs/activity/vessels/ReportVesselsTable.tsx
  apps/fishing-map/features/reports/tabs/activity/vessels/report-activity-vessels.selectors.ts
  apps/fishing-map/features/reports/tabs/events/EventsReport.tsx
  apps/fishing-map/features/reports/tabs/vessel-group/ReportVessels.tsx
  apps/fishing-map/features/vessel/VesselPin.tsx
Labels: fishing-map

move app.reports.selector to each corresponding selector
  apps/fishing-map/features/app/selectors/app.reports.selector.ts
  apps/fishing-map/features/app/selectors/app.workspace.selectors.ts
  apps/fishing-map/features/dataviews/selectors/dataviews.instances.selectors.ts
  apps/fishing-map/features/dataviews/selectors/dataviews.selectors.ts
  apps/fishing-map/features/map/DeckGLWrapper.tsx
  apps/fishing-map/features/reports/report-area/AreaReport.tsx
  apps/fishing-map/features/reports/report-area/area-reports.hooks.ts
  apps/fishing-map/features/reports/report-area/area-reports.selectors.ts
  apps/fishing-map/features/reports/report-area/title/ReportTitle.tsx
  apps/fishing-map/features/reports/report-vessel-group/VesselGroupReport.tsx
  apps/fishing-map/features/reports/reports.selectors.ts
  apps/fishing-map/features/reports/shared/vessels/ReportVesselsGraphSelector.tsx
  apps/fishing-map/features/reports/shared/vessels/report-vessels.selectors.ts
  apps/fishing-map/features/reports/tabs/activity/ReportActivity.tsx
  apps/fishing-map/features/reports/tabs/activity/ReportActivitySubsectionSelector.tsx.tsx
  apps/fishing-map/features/reports/tabs/activity/reports-activity-timecomparison.hooks.ts
  apps/fishing-map/features/reports/tabs/activity/reports-activity-timeseries.hooks.ts
  apps/fishing-map/features/reports/tabs/activity/summary/ReportSummary.tsx
  apps/fishing-map/features/reports/tabs/activity/vessels/ReportVessels.tsx
  apps/fishing-map/features/reports/tabs/activity/vessels/report-activity-vessels.selectors.ts
  apps/fishing-map/features/reports/tabs/events/EventsReport.tsx
  apps/fishing-map/features/reports/tabs/events/EventsReportSubsectionSelector.tsx
  apps/fishing-map/features/reports/tabs/events/events-report.selectors.ts
  apps/fishing-map/features/sidebar/SidebarHeader.tsx
  apps/fishing-map/features/timebar/timebar.selectors.ts
  apps/fishing-map/features/workspace/workspace-migration.hooks.tsx
Labels: fishing-map

ports report
  apps/fishing-map/features/app/selectors/app.reports.selector.ts
  apps/fishing-map/features/dataviews/selectors/dataviews.instances.selectors.ts
  apps/fishing-map/features/dataviews/selectors/dataviews.resolvers.selectors.ts
  apps/fishing-map/features/map/popups/categories/PortVisitEventTooltipRow.tsx
  apps/fishing-map/features/reports/report-port/PortsReport.tsx
  apps/fishing-map/features/reports/report-port/PortsReportLink.tsx
  apps/fishing-map/features/reports/report-port/ports-report.selectors.ts
  apps/fishing-map/features/reports/shared/vessels/report-vessels.selectors.ts
  apps/fishing-map/features/reports/tabs/activity/reports-activity-timeseries.hooks.ts
Labels: fishing-map

fix links and permanent injected dataviews
  apps/fishing-map/features/dataviews/selectors/dataviews.resolvers.selectors.ts
  apps/fishing-map/features/reports/report-vessel-group/VesselGroupReportLink.tsx
Labels: fishing-map

clean some TODO:CVP
  apps/fishing-map/features/reports/report-area/area-reports.utils.ts
  apps/fishing-map/features/reports/report-vessel-group/VesselGroupReport.tsx
  apps/fishing-map/features/reports/shared/vessels/ReportVessels.tsx
  apps/fishing-map/features/reports/shared/vessels/ReportVesselsGraphSelector.tsx
  apps/fishing-map/features/reports/shared/vessels/ReportVesselsTable.tsx
  apps/fishing-map/features/reports/shared/vessels/ReportVesselsTableFooter.tsx
  apps/fishing-map/features/reports/shared/vessels/report-vessels.config.ts
  apps/fishing-map/features/reports/shared/vessels/report-vessels.selectors.ts
  apps/fishing-map/features/reports/tabs/activity/ReportActivity.tsx
  apps/fishing-map/features/reports/tabs/activity/reports-activity.slice.ts
  apps/fishing-map/features/reports/tabs/activity/vessels/ReportVessels.tsx
  apps/fishing-map/features/reports/tabs/events/EventsReport.tsx
  apps/fishing-map/features/reports/tabs/events/events-report.selectors.ts
  apps/fishing-map/features/reports/tabs/vessel-group/ReportVessels.tsx
  apps/fishing-map/features/sidebar/SidebarHeader.tsx
  apps/fishing-map/features/user/UserReports.tsx
Labels: fishing-map

fix build
  apps/fishing-map/features/reports/shared/vessels/ReportVesselsGraph.tsx
  apps/fishing-map/features/reports/shared/vessels/report-vessels.types.ts
  apps/fishing-map/features/reports/tabs/events/EventsReportVesselPropertySelector.tsx
  apps/fishing-map/features/reports/tabs/events/events-report.selectors.ts
  apps/fishing-map/routes/routes.config.ts
Labels: fishing-map

activity table vessels
  apps/fishing-map/features/app/selectors/app.reports.selector.ts
  apps/fishing-map/features/reports/report-area/AreaReport.tsx
  apps/fishing-map/features/reports/report-area/area-reports.selectors.ts
  apps/fishing-map/features/reports/report-area/area-reports.utils.ts
  apps/fishing-map/features/reports/report-vessel-group/VesselGroupReportTitle.tsx
  apps/fishing-map/features/reports/reports.config.ts
  apps/fishing-map/features/reports/shared/utils/reports.utils.ts
  apps/fishing-map/features/reports/shared/vessels/ReportVessels.tsx
  apps/fishing-map/features/reports/shared/vessels/ReportVesselsGraphSelector.tsx
  apps/fishing-map/features/reports/shared/vessels/ReportVesselsIndividualTooltip.tsx
  apps/fishing-map/features/reports/shared/vessels/ReportVesselsTable.tsx
  apps/fishing-map/features/reports/shared/vessels/VesselGraphLink.tsx
  apps/fishing-map/features/reports/shared/vessels/report-vessels.selectors.ts
  apps/fishing-map/features/reports/shared/vessels/report-vessels.types.ts
  apps/fishing-map/features/reports/tabs/activity/ReportActivity.tsx
  apps/fishing-map/features/reports/tabs/activity/vessels/ReportVessels.tsx
  apps/fishing-map/features/reports/tabs/activity/vessels/report-activity-vessels.selectors.ts
Labels: fishing-map

graphs color
  apps/fishing-map/features/reports/report-vessel-group/VesselGroupReport.tsx
  apps/fishing-map/features/reports/shared/vessels/report-vessels.selectors.ts
  apps/fishing-map/features/reports/tabs/activity/ReportActivity.tsx
  apps/fishing-map/features/reports/tabs/activity/reports-activity-timeseries.hooks.ts
  apps/fishing-map/features/reports/tabs/events/EventsReport.tsx
  apps/fishing-map/features/reports/tabs/events/events-report.selectors.ts
Labels: fishing-map

group vessels by dataview
  apps/fishing-map/features/datasets/datasets.utils.ts
  apps/fishing-map/features/dataviews/selectors/dataviews.selectors.ts
  apps/fishing-map/features/reports/shared/vessels/ReportVessels.tsx
  apps/fishing-map/features/reports/shared/vessels/ReportVesselsGraph.tsx
  apps/fishing-map/features/reports/shared/vessels/report-vessels.selectors.ts
  apps/fishing-map/features/reports/shared/vessels/report-vessels.types.ts
  apps/fishing-map/features/reports/tabs/activity/vessels/report-activity-vessels.selectors.ts
  apps/fishing-map/features/reports/tabs/events/events-report.selectors.ts
Labels: fishing-map

use queryFn in react-toolkit-query
  apps/fishing-map/queries/report-events-stats-api.ts
Labels: fishing-map

fix vessel group title height
  apps/fishing-map/features/reports/report-vessel-group/VesselGroupReportTitle.module.css
  apps/fishing-map/features/reports/report-vessel-group/VesselGroupReportTitle.tsx
  apps/fishing-map/features/reports/shared/placeholders/VGRTitlePlaceholder.tsx
Labels: fishing-map

subcategory selector width
  apps/fishing-map/features/reports/shared/vessels/ReportVessels.module.css
Labels: fishing-map

show only active or hovered sorting icons
  apps/fishing-map/features/reports/shared/vessels/ReportVesselsTable.module.css
Labels: fishing-map

hide activity legend in vessel group report
  apps/fishing-map/features/reports/tabs/activity/summary/ReportSummary.tsx
Labels: fishing-map

Activity summary padding
  apps/fishing-map/features/reports/report-area/AreaReport.module.css
  apps/fishing-map/features/reports/tabs/activity/ReportActivity.tsx
  apps/fishing-map/features/reports/tabs/activity/summary/ReportSummary.module.css
Labels: fishing-map

Data download top border
  apps/fishing-map/features/reports/tabs/activity/download/ReportDownload.module.css
Labels: fishing-map

remove legacy ReportVessels Component
  apps/fishing-map/features/reports/shared/vessels/ReportVessels.tsx
  apps/fishing-map/features/reports/shared/vessels/ReportVesselsTable.module.css
  apps/fishing-map/features/reports/tabs/activity/ReportActivity.tsx
  apps/fishing-map/features/reports/tabs/activity/vessels/ReportVessels.tsx
Labels: fishing-map

add vessel flags in summary
  apps/fishing-map/features/reports/tabs/events/EventsReport.tsx
Labels: fishing-map

add vessel footer actions
  apps/fishing-map/features/reports/shared/vessels/ReportVesselsTable.tsx
  apps/fishing-map/features/reports/shared/vessels/ReportVesselsTableFooter.tsx
  apps/fishing-map/features/reports/shared/vessels/ReportVesselsTablePin.tsx
  apps/fishing-map/features/reports/shared/vessels/report-vessels.hooks.ts
  apps/fishing-map/features/reports/shared/vessels/report-vessels.selectors.ts
  apps/fishing-map/features/reports/tabs/activity/vessels/report-activity-vessels.selectors.ts
  apps/fishing-map/features/vessel-groups/VesselGroupAddButton.tsx
  apps/fishing-map/features/vessel-groups/vessel-groups.hooks.ts
Labels: fishing-map

fixes
  apps/fishing-map/features/reports/shared/vessels/ReportVesselsTableFooter.tsx
  apps/fishing-map/features/reports/shared/vessels/report-vessels.selectors.ts
Labels: fishing-map

fix pin from events vessels
  apps/fishing-map/features/reports/shared/vessels/report-vessels.selectors.ts
  apps/fishing-map/features/reports/tabs/events/events-report.selectors.ts
  apps/fishing-map/public/locales/source/translations.json
  apps/fishing-map/queries/report-events-stats-api.ts
  apps/fishing-map/utils/info.ts
  libs/api-types/src/stats.ts
Labels: fishing-map, api-types

show vessel geartype group only in vesselgroup report
  apps/fishing-map/features/reports/shared/vessels/ReportVesselsGraphSelector.tsx
Labels: fishing-map

fix meticulous in master branch
  .github/workflows/meticulous.yaml
Labels: none

fix build
  apps/fishing-map/features/reports/shared/vessels/ReportVessels.tsx
  apps/fishing-map/features/reports/tabs/activity/ReportActivity.tsx
Labels: fishing-map
