Repository GlobalFishingWatch/frontend, changes with the labels that .github/labeler.yml gives for each.
All labels: api-portal, fishing-map, image-labeler, port-labeler, user-groups-admin, vessel-history, api-client, api-types, data-transforms, dataviews-client, deck-layers, deck-loaders, features-aggregate, fourwings-aggregate, i18n-labels, layer-composer, ocean-areas, pbf-decoders, react-hooks, timebar, ui-components

New translations datasets.json (French)
  libs/i18n-labels/fr/datasets.json
Labels: i18n-labels

New translations datasets.json (Spanish)
  libs/i18n-labels/es/datasets.json
Labels: i18n-labels

New translations datasets.json (Portuguese)
  libs/i18n-labels/pt/datasets.json
Labels: i18n-labels

New translations datasets.json (English)
  libs/i18n-labels/en/datasets.json
Labels: i18n-labels

New translations datasets.json (Indonesian)
  libs/i18n-labels/id/datasets.json
Labels: i18n-labels

New translations datasets.json (Valencian)
  libs/i18n-labels/val/datasets.json
Labels: i18n-labels

release: bump $i18n-labels to 1.2.191 [skip ci]
  libs/i18n-labels/CHANGELOG.md
  libs/i18n-labels/package.json
Labels: i18n-labels

New translations datasets.json (English)
  libs/i18n-labels/en/datasets.json
Labels: i18n-labels

hide species layer library dataset
  apps/fishing-map/data/layer-library/layers-environment.ts
Labels: fishing-map

Update source file datasets.json
  libs/i18n-labels/source/datasets.json
Labels: i18n-labels

New translations datasets.json (French)
  libs/i18n-labels/fr/datasets.json
Labels: i18n-labels

New translations datasets.json (Spanish)
  libs/i18n-labels/es/datasets.json
Labels: i18n-labels

New translations datasets.json (Portuguese)
  libs/i18n-labels/pt/datasets.json
Labels: i18n-labels

New translations datasets.json (English)
  libs/i18n-labels/en/datasets.json
Labels: i18n-labels

New translations datasets.json (Indonesian)
  libs/i18n-labels/id/datasets.json
Labels: i18n-labels

New translations datasets.json (Valencian)
  libs/i18n-labels/val/datasets.json
Labels: i18n-labels

New Crowdin updates (#2698)
  libs/i18n-labels/en/datasets.json
  libs/i18n-labels/es/datasets.json
  libs/i18n-labels/fr/datasets.json
  libs/i18n-labels/id/datasets.json
  libs/i18n-labels/pt/datasets.json
  libs/i18n-labels/source/datasets.json
  libs/i18n-labels/val/datasets.json
Labels: i18n-labels

release: bump $i18n-labels to 1.2.192 [skip ci]
  libs/i18n-labels/CHANGELOG.md
  libs/i18n-labels/package.json
Labels: i18n-labels

Update source file datasets.json
  libs/i18n-labels/source/datasets.json
Labels: i18n-labels

New translations datasets.json (French)
  libs/i18n-labels/fr/datasets.json
Labels: i18n-labels

New translations datasets.json (Spanish)
  libs/i18n-labels/es/datasets.json
Labels: i18n-labels

New translations datasets.json (Portuguese)
  libs/i18n-labels/pt/datasets.json
Labels: i18n-labels

New translations datasets.json (English)
  libs/i18n-labels/en/datasets.json
Labels: i18n-labels

New translations datasets.json (Indonesian)
  libs/i18n-labels/id/datasets.json
Labels: i18n-labels

New translations datasets.json (Valencian)
  libs/i18n-labels/val/datasets.json
Labels: i18n-labels

New Crowdin updates (#2700)
  libs/i18n-labels/en/datasets.json
  libs/i18n-labels/es/datasets.json
  libs/i18n-labels/fr/datasets.json
  libs/i18n-labels/id/datasets.json
  libs/i18n-labels/pt/datasets.json
  libs/i18n-labels/source/datasets.json
  libs/i18n-labels/val/datasets.json
Labels: i18n-labels

release: bump $i18n-labels to 1.2.193 [skip ci]
  libs/i18n-labels/CHANGELOG.md
  libs/i18n-labels/package.json
Labels: i18n-labels

fix add to vessel group from reports table
  apps/fishing-map/features/reports/reports.utils.ts
  apps/fishing-map/features/reports/vessels/ReportVesselsTableFooter.tsx
  apps/fishing-map/features/vessel-groups/VesselGroupModalVessels.tsx
  apps/fishing-map/features/vessel/vessel.utils.ts
Labels: fishing-map

update version
  apps/fishing-map/package.json
Labels: fishing-map

rollback pipe 3 changes
  apps/fishing-map/data/default-workspaces/workspace.production.ts
  apps/fishing-map/data/workspaces.ts
  apps/fishing-map/features/vessel/vessel.config.ts
Labels: fishing-map

limit positionProperties using dataset schema
  libs/deck-layer-composer/src/resolvers/fourwings.ts
  libs/deck-layers/src/layers/fourwings/fourwings.config.ts
  libs/deck-layers/src/layers/fourwings/positions/FourwingsPositionsTileLayer.ts
  libs/deck-layers/src/layers/fourwings/positions/fourwings-positions.types.ts
Labels: deck-layers

handle crash when no sublayers
  libs/layer-composer/src/generators/heatmap/heatmap-animated.ts
  libs/layer-composer/src/generators/heatmap/modes/extruded.ts
  libs/layer-composer/src/generators/heatmap/util/fetch-breaks.ts
  libs/layer-composer/src/generators/heatmap/util/get-legends.ts
Labels: layer-composer

fix bq editor fourwings dataview resolve
  libs/dataviews-client/src/resolve-dataviews-generators.ts
Labels: dataviews-client

add bq editor to user datasets
  libs/datasets-client/src/datasets.user.ts
Labels: none

update version
  apps/fishing-map/package.json
Labels: fishing-map

rollback pipe 3 changes
  apps/fishing-map/data/default-workspaces/workspace.production.ts
  apps/fishing-map/data/workspaces.ts
  apps/fishing-map/features/vessel/vessel.config.ts
Labels: fishing-map

ensure timebar vessel visualization is synced with with layers active and their colors
  apps/fishing-map/features/timebar/timebar-vessel.hooks.ts
  libs/deck-layer-composer/src/hooks/deck-layers-state.hooks.ts
  libs/deck-layers/src/layers/vessel/VesselLayer.ts
Labels: fishing-map, deck-layers

remove duplicated maxPointsVisualizationExceeded toast
  apps/fishing-map/features/map/map.hooks.ts
Labels: fishing-map

add low resolution mode to heatmaps
  apps/fishing-map/features/app/selectors/app.selectors.ts
  apps/fishing-map/features/workspace/activity/activity.hooks.tsx
  apps/fishing-map/public/locales/source/translations.json
  libs/deck-layers/src/layers/fourwings/FourwingsLayer.ts
  libs/deck-layers/src/layers/fourwings/fourwings.config.ts
  libs/deck-layers/src/layers/fourwings/fourwings.types.ts
  libs/deck-layers/src/layers/fourwings/heatmap/FourwingsHeatmapLayer.ts
  libs/deck-layers/src/layers/fourwings/heatmap/FourwingsHeatmapStaticLayer.ts
  libs/deck-layers/src/layers/fourwings/heatmap/FourwingsHeatmapTileLayer.ts
  libs/deck-layers/src/layers/fourwings/heatmap/fourwings-heatmap.types.ts
  libs/deck-layers/src/layers/fourwings/heatmap/fourwings-heatmap.utils.ts
  libs/ui-components/src/assets/icons/heatmap-default-res.svg
  libs/ui-components/src/assets/icons/heatmap-low-res.svg
  libs/ui-components/src/icon/icon.config.ts
Labels: fishing-map, deck-layers

rank vessels on screen by hours and only show first 10
  apps/fishing-map/features/workspace/shared/Sections.module.css
  apps/fishing-map/features/workspace/vessels/VesselsFromPositions.tsx
Labels: fishing-map

.github/labeler.yml:

api-portal:
  - apps/api-portal/**/*
fishing-map:
  - apps/fishing-map/**/*
image-labeler:
  - apps/image-labeler/**/*
port-labeler:
  - apps/port-labeler/**/*
user-groups-admin:
  - apps/user-groups-admin/**/*
vessel-history:
  - apps/vessel-history/**/*

api-client:
  - libs/api-client/**/*
api-types:
  - libs/api-types/**/*
data-transforms:
  - libs/data-transforms/**/*
dataviews-client:
  - libs/dataviews-client/**/*
deck-layers:
  - libs/deck-layers/**/*
deck-loaders:
  - libs/deck-loaders/**/*
features-aggregate:
  - libs/features-aggregate/**/*
fourwings-aggregate:
  - libs/fourwings-aggregate/**/*
i18n-labels:
  - libs/i18n-labels/**/*
layer-composer:
  - libs/layer-composer/**/*
ocean-areas:
  - libs/ocean-areas/**/*
pbf-decoders:
  - libs/pbf-decoders/**/*
react-hooks:
  - libs/react-hooks/**/*
timebar:
  - libs/timebar/**/*
ui-components:
  - ui-components/**/*
