Repository GlobalFishingWatch/frontend, changes with the labels that .github/labeler.yml gives for each.
All labels: api-portal, fishing-map, image-labeler, port-labeler, track-labeler, user-groups-admin, vessel-history, api-client, api-types, data-transforms, dataviews-client, deck-layer-composer, deck-layers, deck-loaders, fourwings-aggregate, i18n-labels, layer-composer, ocean-areas, pbf-decoders, react-hooks, timebar, ui-components

fixes
  apps/fishing-map/features/dataviews/selectors/dataviews.instances.selectors.ts
  apps/fishing-map/features/workspace/workspace.slice.ts
  apps/fishing-map/utils/async-slice.ts
  apps/fishing-map/utils/dates.ts
Labels: fishing-map

ensure vessel grups request is done when logged
  apps/fishing-map/features/sidebar/Sidebar.tsx
Labels: fishing-map

fix vessel table gear and vesselType
  apps/fishing-map/features/reports/shared/vessels/ReportVesselsGraph.tsx
  apps/fishing-map/features/reports/shared/vessels/ReportVesselsGraphSelector.tsx
  apps/fishing-map/features/reports/shared/vessels/ReportVesselsTable.tsx
  apps/fishing-map/features/reports/shared/vessels/report-vessels.selectors.ts
  apps/fishing-map/utils/info.ts
Labels: fishing-map

show other tooltip content on hover
  apps/fishing-map/features/reports/shared/vessels/ReportVesselsGraph.tsx
  apps/fishing-map/features/reports/shared/vessels/report-vessels.selectors.ts
Labels: fishing-map

fix graph label click
  apps/fishing-map/features/reports/shared/vessels/ReportVessels.tsx
Labels: fishing-map

fix title for some area datasets
  apps/fishing-map/features/reports/report-area/AreaReport.tsx
  apps/fishing-map/features/reports/report-area/title/ReportTitle.tsx
Labels: fishing-map

show graph tooltip dots when relevant
  apps/fishing-map/features/reports/shared/vessels/ReportVesselsGraph.module.css
  apps/fishing-map/features/reports/shared/vessels/ReportVesselsGraph.tsx
Labels: fishing-map

fix gear/type table filter
  apps/fishing-map/features/reports/shared/vessels/ReportVesselsTable.tsx
Labels: fishing-map

fixes
  apps/fishing-map/data/config.ts
  apps/fishing-map/features/reports/report-area/area-reports.selectors.ts
  apps/fishing-map/features/reports/report-vessel-group/VesselGroupReport.tsx
  apps/fishing-map/features/reports/reports.selectors.ts
  apps/fishing-map/features/reports/reports.types.ts
  apps/fishing-map/features/reports/shared/vessels/ReportVesselsGraph.tsx
  apps/fishing-map/features/reports/shared/vessels/ReportVesselsGraphSelector.tsx
  apps/fishing-map/features/reports/shared/vessels/ReportVesselsTable.tsx
  apps/fishing-map/features/reports/shared/vessels/report-vessels.config.ts
  apps/fishing-map/features/reports/tabs/events/EventsReportSubsectionSelector.tsx
Labels: fishing-map

tweak vessel table csv download
  apps/fishing-map/features/reports/shared/vessels/ReportVesselsTable.tsx
  apps/fishing-map/features/reports/shared/vessels/ReportVesselsTableFooter.tsx
  apps/fishing-map/features/reports/shared/vessels/report-vessels.selectors.ts
Labels: fishing-map

don't show page size selector if total vessels are less than one page
  apps/fishing-map/features/reports/shared/vessels/ReportVesselsTableFooter.tsx
Labels: fishing-map

cleanup cvp todos
  apps/fishing-map/features/reports/report-port/PortsReport.tsx
  apps/fishing-map/features/reports/reports.slice.ts
  apps/fishing-map/features/reports/shared/vessels/ReportVesselsGraphSelector.tsx
  apps/fishing-map/features/reports/shared/vessels/ReportVesselsTable.tsx
  apps/fishing-map/features/reports/shared/vessels/report-vessels.selectors.ts
  apps/fishing-map/features/reports/shared/vessels/report-vessels.types.ts
  apps/fishing-map/features/reports/tabs/activity/vessels/report-activity-vessels.selectors.ts
  apps/fishing-map/features/reports/tabs/events/EventsReportSubsectionSelector.tsx
  apps/fishing-map/features/sidebar/SidebarHeader.tsx
  apps/fishing-map/features/user/UserReports.tsx
  apps/fishing-map/public/locales/source/translations.json
Labels: fishing-map

fix build
  apps/fishing-map/features/reports/report-area/area-reports.hooks.ts
  apps/fishing-map/features/reports/shared/utils/reports.utils.ts
Labels: fishing-map

tweak evolution graph axis
  apps/fishing-map/features/reports/tabs/activity/ReportActivityEvolution.tsx
Labels: fishing-map

fix build
  apps/fishing-map/features/reports/report-area/area-reports.hooks.ts
  apps/fishing-map/features/reports/shared/utils/reports.utils.ts
  apps/fishing-map/features/reports/tabs/events/events-report.selectors.ts
Labels: fishing-map

New translations translations.json (French)
  apps/fishing-map/public/locales/fr/translations.json
Labels: fishing-map

New translations translations.json (Spanish)
  apps/fishing-map/public/locales/es/translations.json
Labels: fishing-map

New translations translations.json (Portuguese)
  apps/fishing-map/public/locales/pt/translations.json
Labels: fishing-map

New translations translations.json (Chinese Traditional)
  apps/fishing-map/public/locales/zh/translations.json
Labels: fishing-map

New translations translations.json (English)
  apps/fishing-map/public/locales/en/translations.json
Labels: fishing-map

New translations translations.json (Indonesian)
  apps/fishing-map/public/locales/id/translations.json
Labels: fishing-map

New translations translations.json (Valencian)
  apps/fishing-map/public/locales/val/translations.json
Labels: fishing-map

New translations datasets.json (English)
  libs/i18n-labels/en/datasets.json
Labels: i18n-labels

New Crowdin updates (#3026)
  apps/fishing-map/public/locales/en/translations.json
  apps/fishing-map/public/locales/es/translations.json
  apps/fishing-map/public/locales/fr/translations.json
  apps/fishing-map/public/locales/id/translations.json
  apps/fishing-map/public/locales/pt/translations.json
  apps/fishing-map/public/locales/val/translations.json
  apps/fishing-map/public/locales/zh/translations.json
  libs/i18n-labels/en/datasets.json
Labels: fishing-map, i18n-labels

release: bump $i18n-labels to 1.2.217 [skip ci]
  libs/i18n-labels/CHANGELOG.md
  libs/i18n-labels/package.json
Labels: i18n-labels

show individual data graphs
  apps/fishing-map/features/reports/tabs/events/EventsReportGraph.tsx
  apps/fishing-map/features/reports/tabs/vessel-group-insights/VGRInsightCoverageGraph.tsx
Labels: fishing-map

wip: deck Currents layer
  libs/deck-layers/src/layers/fourwings/currents/CurrentsLayer.ts
  libs/deck-layers/src/layers/fourwings/currents/FourwingsCurrentsLayer.ts
  libs/deck-layers/src/layers/fourwings/currents/FourwingsCurrentsTileLayer.ts
  libs/deck-layers/src/layers/fourwings/heatmap/FourwingsHeatmapTileLayer.ts
  libs/deck-layers/src/layers/fourwings/heatmap/fourwings-heatmap.utils.ts
Labels: deck-layers

fix startOffsets
  libs/deck-layers/src/layers/fourwings/currents/FourwingsCurrentsLayer.ts
  libs/deck-layers/src/layers/fourwings/currents/FourwingsCurrentsTileLayer.ts
Labels: deck-layers

render speed and direction current layer
  apps/fishing-map/features/dataviews/dataviews.mock.ts
  libs/deck-layer-composer/src/resolvers/currents.ts
  libs/deck-layer-composer/src/resolvers/dataviews.ts
  libs/deck-layers/src/layers/fourwings/currents/CurrentsLayer.ts
  libs/deck-layers/src/layers/fourwings/currents/FourwingsCurrentsLayer.ts
  libs/deck-layers/src/layers/fourwings/currents/FourwingsCurrentsTileLayer.ts
Labels: fishing-map, deck-layer-composer, deck-layers

improve size and visualization
  libs/deck-layers/src/layers/fourwings/currents/CurrentsLayer.ts
  libs/deck-layers/src/layers/fourwings/currents/FourwingsCurrentsLayer.ts
Labels: deck-layers

tweak values
  libs/deck-layers/src/layers/fourwings/currents/CurrentsLayer.ts
  libs/deck-layers/src/layers/fourwings/currents/FourwingsCurrentsLayer.ts
Labels: deck-layers

antialias arrows
  libs/deck-layers/src/layers/fourwings/currents/CurrentsLayer.ts
  libs/deck-layers/src/layers/fourwings/currents/FourwingsCurrentsLayer.ts
Labels: deck-layers

integrate currents layer in fishing-map
  apps/fishing-map/data/default-workspaces/workspace.development.ts
  apps/fishing-map/features/dataviews/dataviews.mock.ts
  libs/api-types/src/dataviews.ts
  libs/dataviews-client/src/resolve-dataviews.ts
  libs/deck-layer-composer/src/resolvers/currents.ts
  libs/deck-layer-composer/src/resolvers/dataviews.ts
  libs/deck-layer-composer/src/resolvers/index.ts
  libs/deck-layer-composer/src/resolvers/resolvers.ts
  libs/deck-layers/src/layers/fourwings/index.ts
Labels: fishing-map, api-types, dataviews-client, deck-layer-composer, deck-layers

adjust arrow size based on latitude
  libs/deck-layers/src/layers/fourwings/currents/FourwingsCurrentsLayer.ts
Labels: deck-layers

add currents tooltip interaction
  apps/fishing-map/features/map/popups/PopupByCategory.tsx
  apps/fishing-map/features/map/popups/categories/CurrentsLayers.tsx
  libs/deck-layer-composer/src/resolvers/currents.ts
  libs/deck-layers/src/layers/fourwings/currents/CurrentsLayer.ts
  libs/deck-layers/src/layers/fourwings/currents/FourwingsCurrentsLayer.ts
  libs/deck-layers/src/layers/fourwings/currents/FourwingsCurrentsTileLayer.ts
  libs/deck-layers/src/layers/fourwings/heatmap/fourwings-heatmap.types.ts
  libs/deck-layers/src/layers/fourwings/heatmap/fourwings-heatmap.utils.ts
  libs/deck-layers/src/utils/stats.ts
Labels: fishing-map, deck-layer-composer, deck-layers

cleanup
  libs/deck-layers/src/layers/fourwings/currents/CurrentsLayer.ts
  libs/deck-layers/src/layers/fourwings/currents/FourwingsCurrentsLayer.ts
Labels: deck-layers

wip
  apps/fishing-map/features/reports/tabs/activity/reports-activity-timeseries.hooks.ts
  apps/fishing-map/features/reports/tabs/environment/ReportEnvironment.tsx
Labels: fishing-map

wip report graph
  apps/fishing-map/features/reports/report-area/AreaReport.tsx
  apps/fishing-map/features/reports/tabs/activity/ReportActivityEvolution.module.css
  apps/fishing-map/features/reports/tabs/activity/ReportCurrentsGraph.tsx
  apps/fishing-map/features/reports/tabs/activity/reports-activity-timeseries.hooks.ts
  apps/fishing-map/features/reports/tabs/environment/ReportEnvironment.tsx
  libs/deck-layers/src/layers/fourwings/currents/FourwingsCurrentsTileLayer.ts
Labels: fishing-map, deck-layers

try to convert line to polygon in upload
  apps/fishing-map/features/datasets/upload/datasets-parse.utils.ts
  package.json
  yarn.lock
Labels: fishing-map

fix add area to report on saved report url
  apps/fishing-map/features/map/popups/categories/ContextLayerReportLink.tsx
Labels: fishing-map

.github/labeler.yml:

api-portal:
  - apps/api-portal/**/*
fishing-map:
  - apps/fishing-map/**/*
image-labeler:
  - apps/image-labeler/**/*
port-labeler:
  - apps/port-labeler/**/*
track-labeler:
  - apps/track-labeler/**/*
user-groups-admin:
  - apps/user-groups-admin/**/*
vessel-history:
  - apps/vessel-history/**/*

api-client:
  - libs/api-client/**/*
api-types:
  - libs/api-types/**/*
data-transforms:
  - libs/data-transforms/**/*
dataviews-client:
  - libs/dataviews-client/**/*
deck-layer-composer:
  - libs/deck-layer-composer/**/*
deck-layers:
  - libs/deck-layers/**/*
deck-loaders:
  - libs/deck-loaders/**/*
fourwings-aggregate:
  - libs/fourwings-aggregate/**/*
i18n-labels:
  - libs/i18n-labels/**/*
layer-composer:
  - libs/layer-composer/**/*
ocean-areas:
  - libs/ocean-areas/**/*
pbf-decoders:
  - libs/pbf-decoders/**/*
react-hooks:
  - libs/react-hooks/**/*
timebar:
  - libs/timebar/**/*
ui-components:
  - ui-components/**/*
