Repository GlobalFishingWatch/frontend, changes with the labels that .github/labeler.yml gives for each.
All labels: api-portal, fishing-map, image-labeler, port-labeler, track-labeler, user-groups-admin, vessel-history, api-client, api-types, data-transforms, dataviews-client, deck-layer-composer, deck-layers, deck-loaders, fourwings-aggregate, i18n-labels, layer-composer, ocean-areas, pbf-decoders, react-hooks, timebar, ui-components

remove map deck instance to calculate bounds coordinates
  apps/fishing-map/features/map/map-bounds.hooks.ts
  apps/fishing-map/features/reports/areas/area-reports.hooks.ts
  apps/fishing-map/features/reports/ports/ports-report.utils.ts
  apps/fishing-map/features/search/basic/SearchBasicResult.tsx
  apps/fishing-map/features/workspaces-list/WorkspaceWizard.tsx
Labels: fishing-map

area report link
  apps/fishing-map/features/reports/areas/summary/ReportSummary.tsx
  apps/fishing-map/features/reports/shared/area/AreaReportSearch.tsx
  apps/fishing-map/features/reports/vessel-groups/activity/VGRActivity.tsx
Labels: fishing-map

cleanup code
  apps/fishing-map/features/reports/areas/area-reports.hooks.ts
  apps/fishing-map/features/reports/vessel-groups/activity/VGRActivity.tsx
  apps/fishing-map/routes/routes.ts
Labels: fishing-map

fix css parsing order
  eslint.config.js
  linting/index.js
Labels: none

merge common and share workspaces folder
  apps/fishing-map/features/layer-library/LayerLibraryUserPanel.tsx
  apps/fishing-map/features/search/advanced/SearchAdvancedFilters.tsx
  apps/fishing-map/features/user/UserDatasets.tsx
  apps/fishing-map/features/workspace/activity/ActivityAuxiliaryLayer.tsx
  apps/fishing-map/features/workspace/activity/ActivityLayerPanel.tsx
  apps/fishing-map/features/workspace/activity/ActivitySection.tsx
  apps/fishing-map/features/workspace/context-areas/ContextAreaLayerPanel.tsx
  apps/fishing-map/features/workspace/detections/DetectionsSection.tsx
  apps/fishing-map/features/workspace/environmental/EnvironmentalLayerPanel.tsx
  apps/fishing-map/features/workspace/environmental/EnvironmentalSection.tsx
  apps/fishing-map/features/workspace/events/EventsLayerPanel.tsx
  apps/fishing-map/features/workspace/shared/Color.tsx
  apps/fishing-map/features/workspace/shared/DatasetNotFound.tsx
  apps/fishing-map/features/workspace/shared/DatasetSchemaField.tsx
  apps/fishing-map/features/workspace/shared/FitBounds.tsx
  apps/fishing-map/features/workspace/shared/InfoError.tsx
  apps/fishing-map/features/workspace/shared/InfoModal.module.css
  apps/fishing-map/features/workspace/shared/InfoModal.tsx
  apps/fishing-map/features/workspace/shared/InfoModalContent.tsx
  apps/fishing-map/features/workspace/shared/LayerFilters.module.css
  apps/fishing-map/features/workspace/shared/LayerFilters.tsx
  apps/fishing-map/features/workspace/shared/LayerSchemaFilter.tsx
  apps/fishing-map/features/workspace/shared/LayerSwitch.tsx
  apps/fishing-map/features/workspace/shared/MapLegend.module.css
  apps/fishing-map/features/workspace/shared/MapLegend.tsx
  apps/fishing-map/features/workspace/shared/MapLegendPlaceholder.module.css
  apps/fishing-map/features/workspace/shared/MapLegendPlaceholder.tsx
  apps/fishing-map/features/workspace/shared/OutOfBoundsDisclaimer.tsx
  apps/fishing-map/features/workspace/shared/Remove.tsx
  apps/fishing-map/features/workspace/shared/Title.module.css
  apps/fishing-map/features/workspace/shared/Title.tsx
  apps/fishing-map/features/workspace/shared/VisualisationChoice.module.css
  apps/fishing-map/features/workspace/shared/VisualisationChoice.tsx
  apps/fishing-map/features/workspace/user/UserLayerPanel.tsx
  apps/fishing-map/features/workspace/vessel-groups/VesselGroupNotFound.tsx
  apps/fishing-map/features/workspace/vessel-groups/VesselGroupsLayerPanel.tsx
  apps/fishing-map/features/workspace/vessels/VesselLayerPanel.tsx
  apps/fishing-map/features/workspace/vessels/VesselTracksLegend.tsx
Labels: fishing-map

New translations translations.json (French)
  apps/fishing-map/public/locales/fr/translations.json
Labels: fishing-map

New translations translations.json (Spanish)
  apps/fishing-map/public/locales/es/translations.json
Labels: fishing-map

New translations translations.json (Portuguese)
  apps/fishing-map/public/locales/pt/translations.json
Labels: fishing-map

New translations translations.json (Chinese Traditional)
  apps/fishing-map/public/locales/zh/translations.json
Labels: fishing-map

New translations translations.json (English)
  apps/fishing-map/public/locales/en/translations.json
Labels: fishing-map

New translations translations.json (Indonesian)
  apps/fishing-map/public/locales/id/translations.json
Labels: fishing-map

New translations translations.json (Valencian)
  apps/fishing-map/public/locales/val/translations.json
Labels: fishing-map

Update source file translations.json
  apps/fishing-map/public/locales/source/translations.json
Labels: fishing-map

fix user uploaded tracks crossing antimeridian
  libs/data-transforms/src/list-to-track-segments/list-to-track-segments.ts
Labels: data-transforms

fix update legacy test
  apps/fishing-map-e2e/src/e2e/vessel-viewer/update-legacy.cy.ts
  apps/fishing-map-e2e/src/support/app.po.ts
  apps/fishing-map/features/vessel/activity/VesselActivity.tsx
Labels: fishing-map

update eslint config
  eslint.config.js
  linting/index.js
Labels: none

fix css parsing order
  eslint.config.js
  linting/index.js
Labels: none

fix lint
  apps/fishing-map/features/reports/tabs/activity/reports-activity-timecomparison.hooks.ts
  apps/fishing-map/reducers.ts
Labels: fishing-map

merge common and share workspaces folder
  apps/fishing-map/features/layer-library/LayerLibraryUserPanel.tsx
  apps/fishing-map/features/search/advanced/SearchAdvancedFilters.tsx
  apps/fishing-map/features/user/UserDatasets.tsx
  apps/fishing-map/features/workspace/activity/ActivityAuxiliaryLayer.tsx
  apps/fishing-map/features/workspace/activity/ActivityLayerPanel.tsx
  apps/fishing-map/features/workspace/activity/ActivitySection.tsx
  apps/fishing-map/features/workspace/context-areas/ContextAreaLayerPanel.tsx
  apps/fishing-map/features/workspace/detections/DetectionsSection.tsx
  apps/fishing-map/features/workspace/environmental/EnvironmentalLayerPanel.tsx
  apps/fishing-map/features/workspace/environmental/EnvironmentalSection.tsx
  apps/fishing-map/features/workspace/events/EventsLayerPanel.tsx
  apps/fishing-map/features/workspace/shared/Color.tsx
  apps/fishing-map/features/workspace/shared/DatasetNotFound.tsx
  apps/fishing-map/features/workspace/shared/DatasetSchemaField.tsx
  apps/fishing-map/features/workspace/shared/FitBounds.tsx
  apps/fishing-map/features/workspace/shared/InfoError.tsx
  apps/fishing-map/features/workspace/shared/InfoModal.module.css
  apps/fishing-map/features/workspace/shared/InfoModal.tsx
  apps/fishing-map/features/workspace/shared/InfoModalContent.tsx
  apps/fishing-map/features/workspace/shared/LayerFilters.module.css
  apps/fishing-map/features/workspace/shared/LayerFilters.tsx
  apps/fishing-map/features/workspace/shared/LayerSchemaFilter.tsx
  apps/fishing-map/features/workspace/shared/LayerSwitch.tsx
  apps/fishing-map/features/workspace/shared/MapLegend.module.css
  apps/fishing-map/features/workspace/shared/MapLegend.tsx
  apps/fishing-map/features/workspace/shared/MapLegendPlaceholder.module.css
  apps/fishing-map/features/workspace/shared/MapLegendPlaceholder.tsx
  apps/fishing-map/features/workspace/shared/OutOfBoundsDisclaimer.tsx
  apps/fishing-map/features/workspace/shared/Remove.tsx
  apps/fishing-map/features/workspace/shared/Title.module.css
  apps/fishing-map/features/workspace/shared/Title.tsx
  apps/fishing-map/features/workspace/shared/VisualisationChoice.module.css
  apps/fishing-map/features/workspace/shared/VisualisationChoice.tsx
  apps/fishing-map/features/workspace/user/UserLayerPanel.tsx
  apps/fishing-map/features/workspace/vessel-groups/VesselGroupNotFound.tsx
  apps/fishing-map/features/workspace/vessel-groups/VesselGroupsLayerPanel.tsx
  apps/fishing-map/features/workspace/vessels/VesselLayerPanel.tsx
  apps/fishing-map/features/workspace/vessels/VesselTracksLegend.tsx
Labels: fishing-map

fix groups order lint
  eslint.config.js
  linting/index.js
Labels: none

remove not used vessel-groups types
  apps/fishing-map/features/reports/report-vessel-group/VesselGroupReport.tsx
  apps/fishing-map/features/reports/report-vessel-group/vessel-group-report.dataviews.ts
  apps/fishing-map/features/reports/shared/utils/reports.utils.ts
  apps/fishing-map/features/reports/shared/vessels/ReportVessels.tsx
  apps/fishing-map/features/reports/shared/vessels/ReportVesselsGraph.tsx
  apps/fishing-map/features/reports/shared/vessels/ReportVesselsGraphSelector.tsx
  apps/fishing-map/features/vessel-groups/vessel-groups.types.ts
  apps/fishing-map/types/index.ts
Labels: fishing-map

merge activity and presence into activity tab report
  apps/fishing-map/features/app/selectors/app.reports.selector.ts
  apps/fishing-map/features/dataviews/selectors/dataviews.instances.selectors.ts
  apps/fishing-map/features/dataviews/selectors/dataviews.resolvers.selectors.ts
  apps/fishing-map/features/dataviews/selectors/dataviews.selectors.ts
  apps/fishing-map/features/reports/report-area/AreaReport.tsx
  apps/fishing-map/features/reports/report-area/area-reports.utils.ts
  apps/fishing-map/features/reports/report-area/summary/ReportSummary.tsx
  apps/fishing-map/features/reports/report-port/PortsReport.tsx
  apps/fishing-map/features/reports/report-port/ports-report.selectors.ts
  apps/fishing-map/features/reports/reports.config.selectors.ts
  apps/fishing-map/features/reports/reports.types.ts
  apps/fishing-map/features/reports/shared/vessels/report-vessels.selectors.ts
  apps/fishing-map/features/reports/tabs/activity/ReportActivity.tsx
  apps/fishing-map/features/reports/tabs/activity/ReportActivitySubsectionSelector.tsx.tsx
  apps/fishing-map/features/reports/tabs/activity/reports-activity.types.ts
  apps/fishing-map/features/reports/tabs/activity/vessels/ReportVessels.tsx
  apps/fishing-map/features/reports/tabs/activity/vessels/ReportVesselsFilter.tsx
  apps/fishing-map/features/reports/tabs/activity/vessels/ReportVesselsGraphSelector.tsx
  apps/fishing-map/features/reports/tabs/activity/vessels/ReportVesselsTable.tsx
  apps/fishing-map/features/reports/tabs/events/EventsReport.tsx
  apps/fishing-map/features/reports/tabs/events/EventsReportSubsectionSelector.tsx
  apps/fishing-map/features/reports/tabs/events/EventsReportVesselPropertySelector.tsx
  apps/fishing-map/features/reports/tabs/events/EventsReportVesselsTableFooter.tsx
  apps/fishing-map/features/reports/tabs/events/events-report.selectors.ts
Labels: fishing-map

use same vessel report table component in activity report
  apps/fishing-map/features/app/selectors/app.reports.selector.ts
  apps/fishing-map/features/reports/report-port/PortsReport.tsx
  apps/fishing-map/features/reports/report-vessel-group/VesselGroupReport.tsx
  apps/fishing-map/features/reports/report-vessel-group/VesselGroupReportTitle.tsx
  apps/fishing-map/features/reports/shared/vessels/ReportVessels.module.css
  apps/fishing-map/features/reports/shared/vessels/ReportVessels.tsx
  apps/fishing-map/features/reports/shared/vessels/ReportVesselsFilter.module.css
  apps/fishing-map/features/reports/shared/vessels/ReportVesselsFilter.tsx
  apps/fishing-map/features/reports/shared/vessels/ReportVesselsGraph.tsx
  apps/fishing-map/features/reports/shared/vessels/ReportVesselsGraphSelector.tsx
  apps/fishing-map/features/reports/shared/vessels/ReportVesselsIndividualTooltip.tsx
  apps/fishing-map/features/reports/shared/vessels/ReportVesselsTable.module.css
  apps/fishing-map/features/reports/shared/vessels/ReportVesselsTable.tsx
  apps/fishing-map/features/reports/shared/vessels/ReportVesselsTableFooter.tsx
  apps/fishing-map/features/reports/shared/vessels/ReportVesselsTablePin.tsx
  apps/fishing-map/features/reports/shared/vessels/report-vessels.hooks.ts
  apps/fishing-map/features/reports/shared/vessels/report-vessels.selectors.ts
  apps/fishing-map/features/reports/tabs/activity/ReportActivityBeforeAfterGraph.tsx
  apps/fishing-map/features/reports/tabs/activity/reports-activity.slice.ts
  apps/fishing-map/features/reports/tabs/activity/vessels/ReportVessels.tsx
  apps/fishing-map/features/reports/tabs/activity/vessels/ReportVesselsGraphSelector.tsx
  apps/fishing-map/features/reports/tabs/activity/vessels/ReportVesselsTable.tsx
  apps/fishing-map/features/reports/tabs/activity/vessels/report-activity-vessels.selectors.ts
  apps/fishing-map/features/reports/tabs/events/EventsReport.tsx
  apps/fishing-map/features/reports/tabs/vessel-group/ReportVessels.tsx
  apps/fishing-map/features/vessel/VesselPin.tsx
Labels: fishing-map

handle crash when map_wrapper not ready
  apps/fishing-map/features/map/popups/PopupWrapper.tsx
Labels: fishing-map

handle crash when report title property is not valid
  apps/fishing-map/features/reports/areas/title/ReportTitle.tsx
Labels: fishing-map

avoid uploading not supported schema types
  libs/data-transforms/src/schema/schema.ts
Labels: data-transforms

Avoid null coordinates
  apps/track-labeler/src/features/timebar/timebar.hooks.ts
  apps/track-labeler/src/utils/shared.ts
Labels: track-labeler

handle description as an object in user context layer
  apps/fishing-map/features/map/popups/PopupByCategory.tsx
  apps/fishing-map/features/map/popups/categories/UserContextLayers.tsx
Labels: fishing-map

handle timebar crash when no client rect
  libs/timebar/src/charts/stacked-activity.tsx
  libs/timebar/src/components/timeline-units.tsx
  libs/timebar/src/components/timeline.tsx
Labels: timebar

fix hover coordinates
  apps/fishing-map/features/map/map-interactions.hooks.ts
Labels: fishing-map

fix crash when hovering a point
  apps/fishing-map/features/map/popups/categories/UserContextLayers.tsx
Labels: fishing-map

disable failing test
  apps/fishing-map-e2e/src/e2e/vessel-viewer/update-legacy.cy.ts
Labels: none

request other registryInfo
  apps/fishing-map/features/dataviews/dataviews.utils.ts
  apps/fishing-map/features/vessel/identity/VesselIdentitySelector.tsx
Labels: fishing-map

render multiple vessel profile images
  apps/fishing-map/features/vessel/VesselHeader.module.css
  apps/fishing-map/features/vessel/VesselHeader.tsx
Labels: fishing-map

fix button in button warning
  apps/fishing-map/features/reports/vessel-groups/VesselGroupReportTitle.tsx
  apps/fishing-map/features/reports/vessel-groups/insights/VGRInsightCoverage.tsx
  apps/fishing-map/features/reports/vessel-groups/insights/VGRInsightFishing.tsx
  apps/fishing-map/features/reports/vessel-groups/insights/VGRInsightFlagChange.tsx
  apps/fishing-map/features/reports/vessel-groups/insights/VGRInsightGaps.tsx
  apps/fishing-map/features/reports/vessel-groups/insights/VGRInsightIUU.tsx
  apps/fishing-map/features/reports/vessel-groups/insights/VGRInsightMOU.tsx
  apps/fishing-map/features/reports/vessel-groups/insights/VGRInsights.tsx
  apps/fishing-map/features/reports/vessel-groups/vessels/VesselGroupReportVesselsGraphSelector.tsx
  apps/fishing-map/features/search/basic/SearchBasicResult.tsx
  apps/fishing-map/features/vessel/activity/VesselActivitySummary.tsx
  apps/fishing-map/features/vessel/identity/DataTerminology.module.css
  apps/fishing-map/features/vessel/identity/DataTerminology.tsx
  apps/fishing-map/features/vessel/identity/VesselIdentity.tsx
  apps/fishing-map/features/vessel/identity/VesselRegistryField.tsx
  apps/fishing-map/features/vessel/insights/InsightCoverage.tsx
  apps/fishing-map/features/vessel/insights/InsightFishing.tsx
  apps/fishing-map/features/vessel/insights/InsightFlagChanges.tsx
  apps/fishing-map/features/vessel/insights/InsightGaps.tsx
  apps/fishing-map/features/vessel/insights/InsightIUU.tsx
  apps/fishing-map/features/vessel/insights/InsightMOUList.tsx
  apps/fishing-map/features/vessel/insights/Insights.tsx
  apps/fishing-map/features/vessel/vessel-bounds.hooks.ts
Labels: fishing-map

fix vessel track layer with infinity bounds
  libs/deck-layer-composer/src/resolvers/fourwings.ts
  libs/deck-layers/src/layers/vessel/VesselTrackLayer.ts
Labels: deck-layer-composer, deck-layers

Avoid full segment selections to create new ones
  apps/track-labeler/src/features/timebar/timebar.hooks.ts
Labels: track-labeler

handle crash when no hex color
  libs/deck-layers/src/utils/colors.ts
  libs/layer-composer/src/generators/heatmap/util/colors.ts
Labels: deck-layers, layer-composer

fix identity fields tooltip
  apps/fishing-map/features/vessel/identity/VesselIdentity.tsx
  apps/fishing-map/features/vessel/identity/VesselIdentityField.tsx
  apps/fishing-map/features/vessel/identity/VesselRegistryField.tsx
Labels: fishing-map

update translations
  apps/fishing-map/features/i18n/translation-keys.ts
  apps/fishing-map/features/reports/vessel-groups/insights/VGRInsightMOU.tsx
  apps/fishing-map/features/vessel/vessel.config.ts
  apps/fishing-map/public/locales/source/translations.json
Labels: fishing-map

.github/labeler.yml:

api-portal:
  - apps/api-portal/**/*
fishing-map:
  - apps/fishing-map/**/*
image-labeler:
  - apps/image-labeler/**/*
port-labeler:
  - apps/port-labeler/**/*
track-labeler:
  - apps/track-labeler/**/*
user-groups-admin:
  - apps/user-groups-admin/**/*
vessel-history:
  - apps/vessel-history/**/*

api-client:
  - libs/api-client/**/*
api-types:
  - libs/api-types/**/*
data-transforms:
  - libs/data-transforms/**/*
dataviews-client:
  - libs/dataviews-client/**/*
deck-layer-composer:
  - libs/deck-layer-composer/**/*
deck-layers:
  - libs/deck-layers/**/*
deck-loaders:
  - libs/deck-loaders/**/*
fourwings-aggregate:
  - libs/fourwings-aggregate/**/*
i18n-labels:
  - libs/i18n-labels/**/*
layer-composer:
  - libs/layer-composer/**/*
ocean-areas:
  - libs/ocean-areas/**/*
pbf-decoders:
  - libs/pbf-decoders/**/*
react-hooks:
  - libs/react-hooks/**/*
timebar:
  - libs/timebar/**/*
ui-components:
  - ui-components/**/*
