Repository GlobalFishingWatch/frontend, changes with the labels that .github/labeler.yml gives for each.
All labels: api-portal, fishing-map, image-labeler, port-labeler, user-groups-admin, vessel-history, api-client, api-types, data-transforms, dataviews-client, deck-layers, deck-loaders, features-aggregate, fourwings-aggregate, i18n-labels, layer-composer, ocean-areas, pbf-decoders, react-hooks, timebar, ui-components

.github/labeler.yml:

api-portal:
  - apps/api-portal/**/*
fishing-map:
  - apps/fishing-map/**/*
image-labeler:
  - apps/image-labeler/**/*
port-labeler:
  - apps/port-labeler/**/*
user-groups-admin:
  - apps/user-groups-admin/**/*
vessel-history:
  - apps/vessel-history/**/*

api-client:
  - libs/api-client/**/*
api-types:
  - libs/api-types/**/*
data-transforms:
  - libs/data-transforms/**/*
dataviews-client:
  - libs/dataviews-client/**/*
deck-layers:
  - libs/deck-layers/**/*
deck-loaders:
  - libs/deck-loaders/**/*
features-aggregate:
  - libs/features-aggregate/**/*
fourwings-aggregate:
  - libs/fourwings-aggregate/**/*
i18n-labels:
  - libs/i18n-labels/**/*
layer-composer:
  - libs/layer-composer/**/*
ocean-areas:
  - libs/ocean-areas/**/*
pbf-decoders:
  - libs/pbf-decoders/**/*
react-hooks:
  - libs/react-hooks/**/*
timebar:
  - libs/timebar/**/*
ui-components:
  - ui-components/**/*

hide controls while drawing
  apps/fishing-map/features/map/controls/MapControls.tsx
Labels: fishing-map

user ImmutableFeatureCollection to handle draw data
  apps/fishing-map/features/map/map.draw.utils.ts
  apps/fishing-map/features/map/overlays/draw/DrawDialog.tsx
  apps/fishing-map/features/map/overlays/draw/draw.utils.ts
  libs/deck-layers/src/layers/draw/DrawLayer.ts
Labels: fishing-map, deck-layers

fix delete feature in DrawDialog
  apps/fishing-map/features/map/overlays/draw/CoordinateEditOverlay.tsx
  libs/deck-layers/src/layers/draw/DrawLayer.ts
  libs/deck-layers/src/layers/draw/draw.utils.ts
  libs/deck-layers/src/layers/draw/index.ts
Labels: fishing-map, deck-layers

support fine edit for triangles
  apps/fishing-map/features/map/overlays/draw/CoordinateEditOverlay.tsx
  libs/deck-layers/src/layers/draw/DrawLayer.ts
  libs/deck-layers/src/layers/draw/draw.modes.ts
Labels: fishing-map, deck-layers

add daysFromLatest option to save/edit workspace UI
  apps/fishing-map/features/app/selectors/app.workspace.selectors.ts
  apps/fishing-map/features/workspace/save/WorkspaceCreateModal.tsx
  apps/fishing-map/features/workspace/save/WorkspaceEdit.tsx
  apps/fishing-map/features/workspace/save/WorkspaceSaveModal.module.css
  apps/fishing-map/features/workspace/save/workspace-access.utils.ts
  apps/fishing-map/features/workspace/workspace.slice.ts
  apps/fishing-map/public/locales/source/translations.json
Labels: fishing-map

New translations translations.json (French)
  apps/fishing-map/public/locales/fr/translations.json
Labels: fishing-map

New translations translations.json (Spanish)
  apps/fishing-map/public/locales/es/translations.json
Labels: fishing-map

New translations translations.json (Portuguese)
  apps/fishing-map/public/locales/pt/translations.json
Labels: fishing-map

New translations translations.json (English)
  apps/fishing-map/public/locales/en/translations.json
Labels: fishing-map

New translations translations.json (Indonesian)
  apps/fishing-map/public/locales/id/translations.json
Labels: fishing-map

New translations translations.json (Valencian)
  apps/fishing-map/public/locales/val/translations.json
Labels: fishing-map

Update source file translations.json
  apps/fishing-map/public/locales/source/translations.json
Labels: fishing-map

New Crowdin updates (#2682)
  apps/fishing-map/public/locales/en/translations.json
  apps/fishing-map/public/locales/es/translations.json
  apps/fishing-map/public/locales/fr/translations.json
  apps/fishing-map/public/locales/id/translations.json
  apps/fishing-map/public/locales/pt/translations.json
  apps/fishing-map/public/locales/val/translations.json
Labels: fishing-map

check if bearing exists in position tiles
  libs/deck-layers/src/layers/fourwings/positions/FourwingsPositionsTileLayer.ts
Labels: deck-layers

bivariate and compare ramp improvements
  libs/deck-layers/src/layers/fourwings/heatmap/FourwingsHeatmapTileLayer.ts
  libs/deck-layers/src/layers/fourwings/heatmap/fourwings-heatmap.utils.ts
  libs/deck-layers/src/utils/stats.ts
Labels: deck-layers

tweakity tweak
  libs/deck-layers/src/layers/fourwings/heatmap/FourwingsHeatmapTileLayer.ts
  libs/deck-layers/src/utils/stats.ts
Labels: deck-layers

change fourwings positions polygonOffset
  libs/deck-layers/src/layers/fourwings/positions/FourwingsPositionsTileLayer.ts
Labels: deck-layers

fine tune thinning after the change in API algorithm
  apps/fishing-map/data/config.ts
  apps/fishing-map/features/download/DownloadTrackModal.tsx
  apps/fishing-map/features/resources/resources.selectors.thinning.ts
  libs/api-client/src/utils/thinning.ts
  libs/deck-layers/src/layers/vessel/VesselTrackLayer.ts
Labels: fishing-map, api-client, deck-layers

clean inline styles after screenshots
  apps/fishing-map/features/map/controls/MapControls.tsx
  apps/fishing-map/hooks/screen.hooks.ts
  apps/fishing-map/utils/dom.ts
Labels: fishing-map

avoid graticules crash
  libs/layer-composer/src/layer-composer.ts
Labels: layer-composer

update workspace name with based on time range mode
  apps/fishing-map/data/default-workspaces/workspace.development.ts
  apps/fishing-map/data/default-workspaces/workspace.production.ts
  apps/fishing-map/features/workspace/save/WorkspaceCreateModal.tsx
  apps/fishing-map/features/workspace/save/WorkspaceEdit.tsx
  apps/fishing-map/features/workspace/save/workspace-access.utils.ts
  apps/fishing-map/public/locales/source/translations.json
Labels: fishing-map

reuse dynamic and static rename helpers
  apps/fishing-map/features/reports/NewReportModal.tsx
  apps/fishing-map/features/workspace/save/WorkspaceCreateModal.tsx
  apps/fishing-map/features/workspace/save/WorkspaceEdit.tsx
  apps/fishing-map/features/workspace/save/workspace-save.utils.ts
Labels: fishing-map

re-use edit and create workspace timeranges
  apps/fishing-map/features/workspace/save/WorkspaceCreateModal.tsx
  apps/fishing-map/features/workspace/save/WorkspaceEdit.tsx
  apps/fishing-map/features/workspace/save/workspace-save.hooks.ts
  apps/fishing-map/features/workspace/save/workspace-save.utils.ts
Labels: fishing-map

New translations translations.json (French)
  apps/fishing-map/public/locales/fr/translations.json
Labels: fishing-map

New translations translations.json (Spanish)
  apps/fishing-map/public/locales/es/translations.json
Labels: fishing-map

New translations translations.json (Portuguese)
  apps/fishing-map/public/locales/pt/translations.json
Labels: fishing-map

New translations translations.json (English)
  apps/fishing-map/public/locales/en/translations.json
Labels: fishing-map

New translations translations.json (Indonesian)
  apps/fishing-map/public/locales/id/translations.json
Labels: fishing-map

New translations translations.json (Valencian)
  apps/fishing-map/public/locales/val/translations.json
Labels: fishing-map

New Crowdin updates (#2685)
  apps/fishing-map/public/locales/en/translations.json
  apps/fishing-map/public/locales/es/translations.json
  apps/fishing-map/public/locales/fr/translations.json
  apps/fishing-map/public/locales/id/translations.json
  apps/fishing-map/public/locales/pt/translations.json
  apps/fishing-map/public/locales/val/translations.json
Labels: fishing-map

Move datasetconfig from mock to workspace
  apps/fishing-map/data/default-workspaces/workspace.development.ts
  apps/fishing-map/data/default-workspaces/workspace.staging.ts
  apps/fishing-map/features/dataviews/dataviews.mock.ts
Labels: fishing-map

handle crash on fit event bounds
  apps/fishing-map/features/vessel/activity/activity-by-type/ActivityByType.tsx
  apps/fishing-map/features/vessel/activity/activity-by-voyage/ActivityByVoyage.tsx
Labels: fishing-map

avoid multiple reports request
  apps/fishing-map/features/reports/reports.hooks.ts
Labels: fishing-map

fix login not needed in vessel
  apps/fishing-map/features/timebar/timebar-vessel.hooks.ts
  apps/fishing-map/features/timebar/timebar.selectors.ts
  apps/fishing-map/features/workspace/vessels/VesselsSection.tsx
Labels: fishing-map

vessels speed and depth graphs
  apps/fishing-map/features/timebar/Timebar.tsx
  apps/fishing-map/features/timebar/timebar-vessel.hooks.ts
  apps/fishing-map/features/timebar/timebar.selectors.ts
Labels: fishing-map

include vessel and depth segment values
  apps/fishing-map/features/timebar/timebar-vessel.hooks.ts
  libs/deck-layers/src/layers/vessel/VesselLayer.ts
  libs/deck-layers/src/layers/vessel/VesselTrackLayer.ts
Labels: fishing-map, deck-layers

cleanup legacy selectors
  apps/fishing-map/features/timebar/timebar-vessel.hooks.ts
  apps/fishing-map/features/timebar/timebar.selectors.ts
Labels: fishing-map

loading track and event status
  apps/fishing-map/features/timebar/timebar-vessel.hooks.ts
Labels: fishing-map

remove all layer-composer dependencies in fishing-map
  apps/fishing-map/data/layer-library/layers-environment.ts
  apps/fishing-map/data/workspaces.ts
  apps/fishing-map/features/app/selectors/app.selectors.ts
  apps/fishing-map/features/datasets/upload/NewPointsDataset.tsx
  apps/fishing-map/features/dataviews/selectors/dataviews.selectors.ts
  apps/fishing-map/features/download/download.utils.ts
  apps/fishing-map/features/editor/DataviewEditor.tsx
  apps/fishing-map/features/map/controls/MapControls.tsx
  apps/fishing-map/features/map/controls/map-controls.slice.ts
  apps/fishing-map/features/map/map-sources.utils.ts
  apps/fishing-map/features/map/map.config.ts
  apps/fishing-map/features/map/overlays/error-notification/ErrorNotification.tsx
  apps/fishing-map/features/map/popups/categories/EnvironmentLayers.tsx
  apps/fishing-map/features/reports/activity/ReportActivityBeforeAfterGraph.tsx
  apps/fishing-map/features/reports/activity/ReportActivityEvolution.tsx
  apps/fishing-map/features/reports/activity/ReportActivityPeriodComparisonGraph.tsx
  apps/fishing-map/features/reports/environment/ReportEnvironment.tsx
  apps/fishing-map/features/reports/reports.utils.ts
  apps/fishing-map/features/timebar/Timebar.tsx
  apps/fishing-map/features/vessel/activity/VesselActivitySummary.tsx
  apps/fishing-map/features/workspace/context-areas/ContextAreaLayerPanel.tsx
  apps/fishing-map/types/index.ts
  apps/fishing-map/utils/dates.ts
  libs/deck-layer-composer/src/resolvers/dataviews.ts
  libs/deck-layers/src/layers/fourwings/fourwings.config.ts
  libs/deck-layers/src/layers/fourwings/heatmap/FourwingsHeatmapStaticLayer.ts
  libs/deck-layers/src/layers/user/index.ts
  libs/deck-layers/src/layers/user/user.utils.ts
  libs/deck-loaders/src/vessels/lib/parse-events.ts
  libs/deck-loaders/src/vessels/lib/types.ts
Labels: fishing-map, deck-layers, deck-loaders

fix build
  apps/fishing-map/features/map/popups/PopupWrapper.tsx
  libs/deck-layers/src/layers/draw/DrawLayer.ts
Labels: fishing-map, deck-layers
