Repository GlobalFishingWatch/frontend, pull requests merged in 2022-07, with the labels that each got.

#1510 Fishing map/choose right dataset based on vessel year
  apps/fishing-map/features/map/map.slice.ts
  libs/api-types/src/vessel.ts
Labels: fishing-map, api-types, deploy-dev

#1516 Vessel groups polish
  apps/fishing-map/features/download/DownloadActivityModal.tsx
  apps/fishing-map/features/search/Search.tsx
  apps/fishing-map/features/user/User.tsx
  apps/fishing-map/features/vessel-groups/VesselGroupModal.tsx
  apps/fishing-map/features/workspace/activity/ActivityLayerPanel.tsx
Labels: fishing-map

#1511 Load VV app profile based on permissions. VV-395
  apps/vessel-history/data/config.ts
  apps/vessel-history/features/dataviews/dataviews.config.ts
  apps/vessel-history/features/dataviews/dataviews.selectors.ts
  apps/vessel-history/features/dataviews/dataviews.utils.ts
  apps/vessel-history/features/home/Home.module.css
  apps/vessel-history/features/home/Home.tsx
  apps/vessel-history/features/profile/Profile.tsx
  apps/vessel-history/features/profile/profile.selectors.ts
  apps/vessel-history/features/user/user.hooks.ts
  apps/vessel-history/features/view-selector/view-selector.module.css
  apps/vessel-history/features/view-selector/view-selector.tsx
  apps/vessel-history/features/workspace/workspace.hook.ts
  apps/vessel-history/features/workspace/workspace.selectors.ts
  apps/vessel-history/features/workspace/workspace.slice.ts
  apps/vessel-history/routes/routes.selectors.ts
  apps/vessel-history/types/index.ts
Labels: vessel-history, deploy-dev

#1518 Fishing map/vessel groups ramps
  apps/fishing-map/features/datasets/datasets.utils.ts
  apps/fishing-map/features/search/Search.tsx
  apps/fishing-map/features/vessel-groups/VesselGroupModal.tsx
  apps/fishing-map/features/vessel-groups/vessel-groups.hooks.ts
  apps/fishing-map/features/vessel-groups/vessel-groups.selectors.ts
  apps/fishing-map/features/vessel-groups/vessel-groups.slice.ts
  apps/fishing-map/features/workspace/activity/ActivityFilters.module.css
  apps/fishing-map/features/workspace/activity/ActivityFilters.tsx
  apps/fishing-map/features/workspace/activity/ActivitySchemaFilter.tsx
  apps/fishing-map/features/workspace/shared/DatasetSchemaField.tsx
  libs/layer-composer/src/generators/heatmap/heatmap-animated.ts
  libs/layer-composer/src/generators/heatmap/util/fetch-breaks.ts
  libs/layer-composer/src/generators/heatmap/util/get-legends.ts
  libs/layer-composer/src/generators/heatmap/util/index.ts
Labels: fishing-map, layer-composer

#1519 Fishing map/improve vessel track fitBounds
  apps/fishing-map/features/app/App.module.css
  apps/fishing-map/features/app/App.tsx
  apps/fishing-map/features/map/Map.tsx
  apps/fishing-map/features/timebar/timebar.config.ts
  apps/fishing-map/pages/styles.css
  libs/data-transforms/src/segments/segments-to-bbox.ts
Labels: fishing-map, data-transforms

#1517 New Crowdin updates
  libs/i18n-labels/en/datasets.json
  libs/i18n-labels/es/datasets.json
  libs/i18n-labels/fr/datasets.json
  libs/i18n-labels/id/datasets.json
  libs/i18n-labels/pt/datasets.json
  libs/i18n-labels/source/datasets.json
Labels: i18n-labels

#1520 Fishing map/vessel groups permissions
  apps/fishing-map/features/datasets/DatasetLabel.tsx
  apps/fishing-map/features/datasets/datasets.utils.ts
  apps/fishing-map/features/timebar/Timebar.tsx
  apps/fishing-map/features/user/User.tsx
  apps/fishing-map/features/user/user.selectors.ts
  apps/fishing-map/features/vessel-groups/VesselGroupModal.module.css
  apps/fishing-map/features/vessel-groups/VesselGroupModal.tsx
  apps/fishing-map/features/vessel-groups/vessel-groups.hooks.ts
  apps/fishing-map/features/vessel-groups/vessel-groups.selectors.ts
  apps/fishing-map/features/vessel-groups/vessel-groups.slice.ts
  apps/fishing-map/features/workspace/Workspace.tsx
  apps/fishing-map/features/workspace/activity/ActivityFilters.tsx
  apps/fishing-map/features/workspace/activity/ActivityLayerPanel.tsx
  apps/fishing-map/public/locales/source/translations.json
  libs/api-client/src/utils/errors.ts
  libs/api-types/src/vesselGroups.ts
Labels: fishing-map, api-client, api-types, deploy-dev

#1523 Show the title of each workspace on hover on user panel map
  apps/fishing-map/features/map/popups/PopupWrapper.tsx
  apps/fishing-map/features/map/popups/WorkspacePointsLayers.tsx
Labels: fishing-map

#1522 ENG-375 Change to correct doc url
  apps/api-portal/pages/index.tsx
Labels: api-portal, deploy-dev

#1489 SPIKE: Improve how to display search results when there are several o…
  apps/vessel-history/features/home/Home.tsx
  apps/vessel-history/features/profile/components/Info.tsx
  apps/vessel-history/features/profile/components/activity/Activity.tsx
  apps/vessel-history/features/search/search.hooks.ts
  apps/vessel-history/features/search/search.slice.ts
  apps/vessel-history/features/search/search.thunk.ts
  apps/vessel-history/features/search/search.utils.ts
  apps/vessel-history/features/vessel-list-item/VesselListItem.module.css
  apps/vessel-history/features/vessel-list-item/VesselListItem.tsx
  apps/vessel-history/features/vessel-list-item/components/RelatedVesselListItem.tsx
  apps/vessel-history/public/locales/en/translations.json
  apps/vessel-history/public/locales/source/translations.json
  apps/vessel-history/types/vessel.ts
  apps/vessel-history/utils/shared.ts
  apps/vessel-history/utils/vessel.ts
  libs/api-types/src/vessel.ts
  libs/ui-components/src/transmissions-timeline/TransmissionsTimeline.tsx
Labels: vessel-history, api-types, deploy-dev

#1524 Show icons next to dataset names
  apps/fishing-map/features/datasets/NewDatasetTooltip.tsx
  apps/fishing-map/features/datasets/datasets.utils.ts
  apps/fishing-map/features/user/UserDatasets.tsx
  apps/fishing-map/features/workspace/common/Title.tsx
  apps/fishing-map/features/workspace/environmental/UserTrackLayerPanel.tsx
  libs/data-transforms/src/segments/segments-to-bbox.ts
Labels: fishing-map, data-transforms, deploy-dev

#1527 Load risk indicators from API and match to rendered events. VV-403
  apps/vessel-history/features/risk-indicator/risk-indicator.hook.ts
  apps/vessel-history/features/risk-indicator/risk-indicator.selectors.ts
  apps/vessel-history/features/risk-indicator/risk-indicator.slice.ts
  apps/vessel-history/features/risk-summary/risk-summary.tsx
  apps/vessel-history/store.ts
  apps/vessel-history/types/risk-indicator.ts
  libs/api-types/src/events.ts
  libs/dataviews-client/src/resources/resources-slice.ts
Labels: vessel-history, dataviews-client, api-types, deploy-dev

#1512 No activity data is display when merging a TMT only vessel with a GFW vessel // VV-397
  apps/vessel-history/features/profile/Profile.tsx
Labels: vessel-history, deploy-dev

#1528 Display indicator for vessel landing at a non-PSMA port state. VV-388
  apps/vessel-history/data/config.ts
  apps/vessel-history/features/dataviews/dataviews.selectors.ts
  apps/vessel-history/features/profile/components/activity/ActivityDataAndTerminology.tsx
  apps/vessel-history/features/risk-indicator/risk-indicator.hook.ts
  apps/vessel-history/features/risk-indicator/risk-indicator.selectors.ts
  apps/vessel-history/features/risk-indicator/risk-indicator.slice.ts
  apps/vessel-history/features/risk-indicator/risk-indicator.tsx
  apps/vessel-history/features/risk-summary/risk-summary.tsx
  apps/vessel-history/features/terminology/__snapshots__/terminology-port-visit-events.spec.tsx.snap
  apps/vessel-history/features/terminology/terminology-port-visit-events.spec.tsx
  apps/vessel-history/features/terminology/terminology-port-visit-events.tsx
  apps/vessel-history/public/locales/en/translations.json
  apps/vessel-history/public/locales/source/translations.json
Labels: vessel-history, deploy-dev

#1529 fix see vessel for merged vessels
  apps/vessel-history/features/home/Home.tsx
Labels: vessel-history

#1532 Fixed VV is not loading any data in DEV using API V2 because of required pagination. VV-404
  apps/vessel-history/data/config.ts
  apps/vessel-history/features/datasets/datasets.slice.ts
  apps/vessel-history/features/datasets/datasets.util.ts
  apps/vessel-history/features/dataviews/dataviews.config.ts
  apps/vessel-history/features/dataviews/dataviews.selectors.ts
  apps/vessel-history/features/dataviews/dataviews.slice.ts
  apps/vessel-history/features/profile/Profile.tsx
  apps/vessel-history/features/psma/psma.slice.ts
  apps/vessel-history/features/resources/resources.slice.ts
  apps/vessel-history/features/resources/resources.utils.ts
  apps/vessel-history/features/user/user.slice.ts
  apps/vessel-history/features/vessels/activity/vessels-activity.selectors.ts
  apps/vessel-history/features/workspace/workspace.selectors.ts
  apps/vessel-history/types/index.ts
Labels: vessel-history, deploy-dev

#1533 Fix map events not shown because of API V2 pagination. MAP-924
  apps/fishing-map/features/resources/resources.utils.ts
Labels: fishing-map, deploy-dev

#1535 Fishing map/i18n map labels
  apps/fishing-map/features/debug/DebugMenu.tsx
  apps/fishing-map/features/i18n/LanguageToggle.tsx
  apps/fishing-map/types/index.ts
  libs/api-types/src/i18n.ts
  libs/api-types/src/index.ts
  libs/layer-composer/src/generators/basemap/basemap-layers.ts
  libs/layer-composer/src/generators/basemap/basemap.ts
  libs/layer-composer/src/generators/types.ts
Labels: fishing-map, layer-composer, api-types, deploy-dev

#1534 Change links to Api documentation
  apps/api-portal/nginx.conf
  apps/api-portal/pages/index.tsx
Labels: api-portal

#1536 Add Google Tag manager to the tokens page . API-342
  apps/api-portal/components/access-token/access-token-list/access-token-list.tsx
  apps/api-portal/components/data/config.ts
  apps/api-portal/components/layout.tsx
Labels: api-portal

#1539 Update api documentation link
  apps/api-portal/pages/index.tsx
Labels: api-portal

#1537 New Crowdin updates
  apps/fishing-map/public/locales/en/translations.json
Labels: fishing-map

#1542 Migrate User Management Tool to API V2 // ENG-378
  apps/user-groups-admin/components/layout/layout.tsx
  apps/user-groups-admin/components/user-groups/detail.tsx
  apps/user-groups-admin/components/user-groups/list.tsx
  libs/api-client/src/api-client-v2.ts
  libs/api-client/src/index.ts
Labels: user-groups-admin, api-client, deploy-dev

#1541 Timebar/expand dates selection
  libs/i18n-labels/en/timebar.json
  libs/i18n-labels/es/timebar.json
  libs/i18n-labels/fr/timebar.json
  libs/i18n-labels/id/timebar.json
  libs/i18n-labels/pt/timebar.json
  libs/i18n-labels/source/timebar.json
  libs/timebar/src/components/timerange-selector.js
  libs/timebar/src/timebar.js
  libs/ui-components/src/input-date/InputDate.module.css
  libs/ui-components/src/input-date/InputDate.tsx
Labels: timebar, i18n-labels, deploy-dev

#1543 Fishing map/live translations
  .vscode/launch.json
  README.md
  apps/fishing-map/features/i18n/LanguageToggle.tsx
  apps/fishing-map/features/i18n/i18n.ts
  apps/fishing-map/features/user/user.slice.ts
  apps/fishing-map/pages/_document.tsx
  apps/fishing-map/public/locales/val/helpHints.json
  apps/fishing-map/public/locales/val/translations.json
  apps/fishing-map/utils/shared.ts
  apps/port-labeler/i18n.md
  libs/i18n-labels/val/datasets.json
  libs/i18n-labels/val/flags.json
  libs/i18n-labels/val/timebar.json
  libs/layer-composer/src/types/index.ts
  libs/ocean-areas/src/data/locales/val.json
  libs/timebar/src/timebar.js
  tools/generators/app/files/i18n.md__tmpl__
Labels: fishing-map, timebar, layer-composer, i18n-labels, port-labeler, ocean-areas, deploy-dev

#1540 New Crowdin updates
  apps/fishing-map/public/locales/en/translations.json
  apps/fishing-map/public/locales/es/translations.json
  apps/fishing-map/public/locales/fr/translations.json
  apps/fishing-map/public/locales/id/translations.json
  apps/fishing-map/public/locales/pt/translations.json
  apps/vessel-history/public/locales/val/translations.json
  libs/i18n-labels/es/datasets.json
  libs/i18n-labels/es/timebar.json
  libs/i18n-labels/val/timebar.json
Labels: fishing-map, vessel-history, i18n-labels, ocean-areas

#1500 test mapbox-gl interleave
  apps/fishing-map/features/map/Map.tsx
  apps/fishing-map/package.json
  libs/react-hooks/src/use-map-interaction/use-map-interaction.ts
  yarn.lock
Labels: fishing-map, react-hooks

#1553 Update Terms of use and attribution link. API-371
  apps/api-portal/components/user-additional-fields/user-additional-fields.tsx
  apps/api-portal/package.json
Labels: api-portal, deploy-pro

#1550 Fishing map/filters exclude
  apps/fishing-map/features/datasets/datasets.utils.ts
  apps/fishing-map/features/workspace/activity/ActivityFilters.module.css
  apps/fishing-map/features/workspace/activity/ActivityFilters.tsx
  apps/fishing-map/features/workspace/activity/ActivityLayerPanel.tsx
  apps/fishing-map/features/workspace/activity/ActivitySchemaFilter.tsx
  apps/fishing-map/features/workspace/shared/DatasetFlagsField.tsx
  apps/fishing-map/features/workspace/shared/DatasetSchemaField.tsx
  apps/fishing-map/public/locales/source/translations.json
  libs/api-types/src/dataviews.ts
  libs/dataviews-client/src/resolve-dataviews.ts
  libs/ui-components/src/button/Button.module.css
  libs/ui-components/src/button/Button.tsx
  libs/ui-components/src/choice/Choice.tsx
Labels: fishing-map, dataviews-client, api-types, deploy-dev

#1555 Fishing map/apply filters on select close
  apps/fishing-map/features/workspace/activity/ActivityFilters.tsx
  apps/fishing-map/features/workspace/activity/ActivitySchemaFilter.tsx
  libs/ui-components/src/multi-select/MultiSelect.tsx
Labels: fishing-map

#1556 Fishing map/activity layer fixes
  apps/fishing-map/features/workspace/environmental/environmental.hooks.ts
  libs/dataviews-client/src/resolve-dataviews-generators.ts
  libs/dataviews-client/src/url-workspace.ts
  libs/layer-composer/src/generators/heatmap/util/fetch-breaks.ts
  libs/layer-composer/src/generators/heatmap/util/get-legends.ts
  libs/layer-composer/src/generators/types.ts
  libs/layer-composer/src/layer-composer.ts
  libs/react-hooks/src/use-layer-composer/use-layer-composer.ts
Labels: fishing-map, dataviews-client, layer-composer, react-hooks

#1549 update nx version
  apps/api-portal/jest.config.ts
  apps/api-portal/package.json
  apps/api-portal/project.json
  apps/fishing-map-e2e/project.json
  apps/fishing-map/jest.config.ts
  apps/fishing-map/package.json
  apps/fishing-map/project.json
  apps/port-labeler/jest.config.ts
  apps/port-labeler/package.json
  apps/port-labeler/project.json
  apps/tile-inspector/jest.config.ts
  apps/tile-inspector/project.json
  apps/user-groups-admin/jest.config.ts
  apps/user-groups-admin/package.json
  apps/user-groups-admin/project.json
  apps/vessel-history/jest.config.ts
  apps/vessel-history/package.json
  apps/vessel-history/project.json
  jest.config.ts
  jest.preset.js
  jest.preset.ts
  libs/api-client/jest.config.ts
  libs/api-client/project.json
  libs/api-types/jest.config.ts
  libs/api-types/project.json
  libs/data-transforms/jest.config.ts
  libs/data-transforms/project.json
  libs/dataviews-client/jest.config.ts
  libs/dataviews-client/project.json
  libs/fourwings-aggregate/jest.config.ts
  libs/fourwings-aggregate/project.json
  libs/i18n-labels/jest.config.ts
  libs/i18n-labels/project.json
  libs/layer-composer/jest.config.ts
  libs/layer-composer/project.json
  libs/ocean-areas/jest.config.ts
  libs/ocean-areas/project.json
  libs/pbf-decoders/jest.config.ts
  libs/pbf-decoders/project.json
  libs/react-hooks/jest.config.ts
  libs/react-hooks/project.json
  libs/timebar/jest.config.ts
  libs/timebar/project.json
  libs/ui-components/jest.config.ts
  libs/ui-components/project.json
  nx.json
  package.json
  tools/generators/app/files/package.json__tmpl__
  tools/generators/minisite/files/package.json__tmpl__
  workspace.json
  yarn.lock
Labels: fishing-map, vessel-history, timebar, dataviews-client, layer-composer, i18n-labels, api-portal, port-labeler, tile-inspector, user-groups-admin, react-hooks, api-client, api-types, data-transforms, fourwings-aggregate, ocean-areas, pbf-decoders

#1558 New Crowdin updates
  apps/fishing-map/public/locales/id/translations.json
  libs/i18n-labels/en/datasets.json
Labels: fishing-map, i18n-labels

#1563 Require opening terms of use link to accept them. API-372
  apps/api-portal/components/user-additional-fields/user-additional-fields.module.css
  apps/api-portal/components/user-additional-fields/user-additional-fields.tsx
Labels: api-portal, deploy-dev

#1561 New Crowdin updates
  apps/fishing-map/public/locales/id/translations.json
  libs/i18n-labels/en/datasets.json
  libs/i18n-labels/es/datasets.json
  libs/i18n-labels/fr/datasets.json
  libs/i18n-labels/id/datasets.json
  libs/i18n-labels/pt/datasets.json
Labels: fishing-map, i18n-labels

#1546 Improve new api client & migrate fishing-map and VV
  apps/api-portal/components/layout.tsx
  apps/api-portal/features/user-applications/user-applications.ts
  apps/api-portal/features/user/user.ts
  apps/fishing-map/data/config.ts
  apps/fishing-map/features/areas/areas.slice.ts
  apps/fishing-map/features/bigquery/bigquery.slice.ts
  apps/fishing-map/features/datasets/datasets.slice.ts
  apps/fishing-map/features/dataviews/dataviews.slice.ts
  apps/fishing-map/features/download/downloadActivity.slice.ts
  apps/fishing-map/features/download/downloadTrack.slice.ts
  apps/fishing-map/features/editor/editor.slice.ts
  apps/fishing-map/features/feedback/FeedbackModal.tsx
  apps/fishing-map/features/map/map.slice.ts
  apps/fishing-map/features/search/search.selectors.ts
  apps/fishing-map/features/search/search.slice.ts
  apps/fishing-map/features/user/User.tsx
  apps/fishing-map/features/user/UserInfo.tsx
  apps/fishing-map/features/user/user.slice.ts
  apps/fishing-map/features/vessel-groups/vessel-groups.slice.ts
  apps/fishing-map/features/workspace/workspace.slice.ts
  apps/fishing-map/features/workspaces-list/workspaces-list.slice.ts
  apps/fishing-map/queries/base.ts
  apps/fishing-map/queries/stats-api.ts
  apps/port-labeler/features/user/user.slice.ts
  apps/user-groups-admin/components/layout/layout.tsx
  apps/user-groups-admin/components/user-groups/detail.tsx
  apps/user-groups-admin/components/user-groups/list.tsx
  apps/vessel-history/features/datasets/datasets.slice.ts
  apps/vessel-history/features/dataviews/dataviews.slice.ts
  apps/vessel-history/features/psma/psma.slice.ts
  apps/vessel-history/features/regions/regions.slice.ts
  apps/vessel-history/features/search/search.thunk.ts
  apps/vessel-history/features/user/user.slice.ts
  apps/vessel-history/features/vessels/sources/gfw.slice.ts
  apps/vessel-history/features/vessels/sources/tmt.slice.ts
  libs/api-client/src/api-client-v2.ts
  libs/api-client/src/api-client.ts
  libs/api-client/src/index.ts
  libs/api-types/src/user-applications.ts
  libs/dataviews-client/src/resources/resources-slice.ts
  tools/generators/app/files/features/user/user.slice.ts
Labels: fishing-map, vessel-history, dataviews-client, api-portal, port-labeler, user-groups-admin, api-client, api-types, deploy-dev

#1562 Display vessel flags on mou list indicator. VV-387
  apps/vessel-history/features/home/Home.tsx
  apps/vessel-history/features/profile/Profile.tsx
  apps/vessel-history/features/profile/components/activity/ActivityModalContentDetailsEncounter.tsx
  apps/vessel-history/features/risk-identity-flags-on-mou-indicator/risk-identity-flags-on-mou-indicator.tsx
  apps/vessel-history/features/risk-identity-indicator/risk-identity-indicator.module.css
  apps/vessel-history/features/risk-identity-indicator/risk-identity-indicator.tsx
  apps/vessel-history/features/risk-indicator/risk-indicator.hook.ts
  apps/vessel-history/features/risk-indicator/risk-indicator.selectors.ts
  apps/vessel-history/features/risk-indicator/risk-indicator.slice.ts
  apps/vessel-history/features/risk-section/risk-section.module.css
  apps/vessel-history/features/risk-summary/risk-summary.tsx
  apps/vessel-history/features/terminology/__snapshots__/terminology-risk-identity.spec.tsx.snap
  apps/vessel-history/features/terminology/terminology-risk-identity.spec.tsx
  apps/vessel-history/features/terminology/terminology-risk-identity.tsx
  apps/vessel-history/features/vessels/vessels.selectors.ts
  apps/vessel-history/features/vessels/vessels.slice.ts
  apps/vessel-history/features/vessels/vessels.utils.ts
  apps/vessel-history/public/locales/source/translations.json
  apps/vessel-history/routes/routes.selectors.ts
  apps/vessel-history/types/risk-indicator.ts
Labels: vessel-history, deploy-dev

#1567 Display fishing and encounters events outside authorised areas indicator. VV-385
  apps/vessel-history/features/risk-identity-indicator/risk-identity-indicator.module.css
  apps/vessel-history/features/risk-indicator/risk-indicator.hook.ts
  apps/vessel-history/features/risk-indicator/risk-indicator.module.css
  apps/vessel-history/features/risk-indicator/risk-indicator.selectors.ts
  apps/vessel-history/features/risk-indicator/risk-indicator.tsx
  apps/vessel-history/features/risk-section/risk-section.module.css
  apps/vessel-history/features/risk-summary/risk-summary.tsx
  apps/vessel-history/public/locales/en/translations.json
  apps/vessel-history/public/locales/source/translations.json
  apps/vessel-history/types/activity.ts
  apps/vessel-history/types/risk-indicator.ts
  libs/api-types/src/events.ts
Labels: vessel-history, api-types, deploy-dev

#1570 Bump api-portal version 1.1.69
  apps/api-portal/package.json
Labels: api-portal

#1573 Fishing map/bugs clean
  apps/fishing-map/features/i18n/i18nDate.tsx
  apps/fishing-map/features/map/popups/VesselEventsLayers.tsx
  apps/fishing-map/features/resources/resources.utils.ts
  apps/fishing-map/features/timebar/Timebar.tsx
  apps/fishing-map/utils/events.ts
  libs/dataviews-client/src/resources/resources-slice.ts
  libs/layer-composer/src/generators/heatmap/util/get-legends.ts
Labels: fishing-map, dataviews-client, layer-composer, deploy-dev

#1572 Display vessel owner change indicator. VV-413
  apps/vessel-history/features/risk-identity-flags-on-mou-indicator/risk-identity-flags-on-mou-indicator.tsx
  apps/vessel-history/features/risk-identity-indicator/risk-identity-indicator.module.css
  apps/vessel-history/features/risk-identity-indicator/risk-identity-indicator.tsx
  apps/vessel-history/features/risk-indicator/risk-indicator.hook.ts
  apps/vessel-history/features/risk-indicator/risk-indicator.selectors.ts
  apps/vessel-history/features/risk-summary/risk-summary.tsx
  apps/vessel-history/public/locales/source/translations.json
  apps/vessel-history/types/risk-indicator.ts
Labels: vessel-history, deploy-dev

#1576 Display flag changes risk indicator. VV-412
  apps/vessel-history/features/risk-identity-indicator/risk-identity-indicator.tsx
  apps/vessel-history/features/risk-indicator/risk-indicator.hook.ts
  apps/vessel-history/features/risk-indicator/risk-indicator.tsx
  apps/vessel-history/features/risk-summary/risk-summary.tsx
  apps/vessel-history/features/vessels/activity/vessels-activity.utils.ts
  apps/vessel-history/public/locales/source/translations.json
Labels: vessel-history, deploy-dev

#1577 Display name changes risk indicator. VV-411
  apps/vessel-history/features/risk-indicator/risk-indicator.hook.ts
  apps/vessel-history/features/risk-indicator/risk-indicator.selectors.ts
  apps/vessel-history/features/risk-summary/risk-summary.tsx
  apps/vessel-history/public/locales/source/translations.json
  apps/vessel-history/types/risk-indicator.ts
Labels: vessel-history, deploy-dev
