Repository GlobalFishingWatch/frontend, pull requests merged in 2022-06, with the labels that each got.

#1453 Fix i18n labels stable not being triggered
  apps/fishing-map/cloudbuild.yaml
  apps/vessel-history/cloudbuild.yaml
Labels: fishing-map, vessel-history

#1443 Insurance Pilot. Added risk indicators for events in MPA. VV-389
  apps/vessel-history/data/config.ts
  apps/vessel-history/features/data-and-terminology/DataAndTerminology.module.css
  apps/vessel-history/features/data-and-terminology/DataAndTerminology.tsx
  apps/vessel-history/features/profile/Profile.tsx
  apps/vessel-history/features/profile/components/activity/ActivityDataAndTerminology.tsx
  apps/vessel-history/features/profile/components/activity/ActivityEvent.tsx
  apps/vessel-history/features/risk-indicator/risk-indicator.module.css
  apps/vessel-history/features/risk-indicator/risk-indicator.tsx
  apps/vessel-history/features/risk-section/risk-section.module.css
  apps/vessel-history/features/risk-section/risk-section.tsx
  apps/vessel-history/features/risk-summary/risk-summary.module.css
  apps/vessel-history/features/risk-summary/risk-summary.tsx
  apps/vessel-history/features/risk/risk.hook.ts
  apps/vessel-history/features/risk/risk.selectors.ts
  apps/vessel-history/features/terminology/__snapshots__/terminology-encounter-events.spec.tsx.snap
  apps/vessel-history/features/terminology/__snapshots__/terminology-fishing-events.spec.tsx.snap
  apps/vessel-history/features/terminology/__snapshots__/terminology-loitering-events.spec.tsx.snap
  apps/vessel-history/features/terminology/terminology-encounter-events.spec.tsx
  apps/vessel-history/features/terminology/terminology-encounter-events.tsx
  apps/vessel-history/features/terminology/terminology-fishing-events.spec.tsx
  apps/vessel-history/features/terminology/terminology-fishing-events.tsx
  apps/vessel-history/features/terminology/terminology-loitering-events.spec.tsx
  apps/vessel-history/features/terminology/terminology-loitering-events.tsx
  apps/vessel-history/features/user/user.hooks.ts
  apps/vessel-history/pages/styles.css
  apps/vessel-history/public/locales/en/translations.json
  apps/vessel-history/public/locales/source/translations.json
Labels: vessel-history, deploy-dev

#1454 Promote i18n-labels deploy hotfix into develop
  apps/fishing-map/cloudbuild.yaml
  apps/vessel-history/cloudbuild.yaml
Labels: fishing-map, vessel-history

#1455 New Crowdin updates
  apps/vessel-history/public/locales/en/translations.json
  apps/vessel-history/public/locales/es/translations.json
  apps/vessel-history/public/locales/fr/translations.json
  apps/vessel-history/public/locales/id/translations.json
  apps/vessel-history/public/locales/pt/translations.json
Labels: vessel-history

#1456 uset gateway endpoint for gtiles
  libs/layer-composer/src/generators/basemap/basemap-layers.ts
Labels: layer-composer

#1457 Release
  apps/fishing-map/features/map/map.slice.ts
  apps/fishing-map/features/workspace/environmental/UserTrackLayerPanel.tsx
  apps/user-groups-admin/components/user-groups/detail.tsx
  apps/vessel-history/data/config.ts
  apps/vessel-history/features/data-and-terminology/DataAndTerminology.module.css
  apps/vessel-history/features/data-and-terminology/DataAndTerminology.tsx
  apps/vessel-history/features/profile/Profile.tsx
  apps/vessel-history/features/profile/components/activity/ActivityDataAndTerminology.tsx
  apps/vessel-history/features/profile/components/activity/ActivityEvent.tsx
  apps/vessel-history/features/risk-indicator/risk-indicator.module.css
  apps/vessel-history/features/risk-indicator/risk-indicator.tsx
  apps/vessel-history/features/risk-section/risk-section.module.css
  apps/vessel-history/features/risk-section/risk-section.tsx
  apps/vessel-history/features/risk-summary/risk-summary.module.css
  apps/vessel-history/features/risk-summary/risk-summary.tsx
  apps/vessel-history/features/risk/risk.hook.ts
  apps/vessel-history/features/risk/risk.selectors.ts
  apps/vessel-history/features/terminology/__snapshots__/terminology-encounter-events.spec.tsx.snap
  apps/vessel-history/features/terminology/__snapshots__/terminology-fishing-events.spec.tsx.snap
  apps/vessel-history/features/terminology/__snapshots__/terminology-loitering-events.spec.tsx.snap
  apps/vessel-history/features/terminology/terminology-encounter-events.spec.tsx
  apps/vessel-history/features/terminology/terminology-encounter-events.tsx
  apps/vessel-history/features/terminology/terminology-fishing-events.spec.tsx
  apps/vessel-history/features/terminology/terminology-fishing-events.tsx
  apps/vessel-history/features/terminology/terminology-loitering-events.spec.tsx
  apps/vessel-history/features/terminology/terminology-loitering-events.tsx
  apps/vessel-history/features/user/user.hooks.ts
  apps/vessel-history/pages/styles.css
  apps/vessel-history/public/locales/en/translations.json
  apps/vessel-history/public/locales/es/translations.json
  apps/vessel-history/public/locales/fr/translations.json
  apps/vessel-history/public/locales/id/translations.json
  apps/vessel-history/public/locales/pt/translations.json
  apps/vessel-history/public/locales/source/translations.json
  libs/data-transforms/src/csv-to-track-segments/csvToTrackSegments.ts
  libs/layer-composer/src/generators/basemap/basemap-layers.ts
Labels: :rocket: release

#1460 Fix i18n-labels stable deploy using secretEnv NODE_AUTH_TOKEN
  libs/i18n-labels/cloudbuild.yaml
Labels: i18n-labels

#1464 Fishing map/fixes and tweaks
  apps/fishing-map/features/app/App.tsx
  apps/fishing-map/features/map/map.draw.utils.ts
  apps/fishing-map/features/workspace/activity/ActivityLayerPanel.tsx
  apps/fishing-map/features/workspaces-list/WorkspacesList.tsx
  apps/fishing-map/public/locales/en/translations.json
  apps/fishing-map/public/locales/es/translations.json
  apps/fishing-map/public/locales/fr/translations.json
  apps/fishing-map/public/locales/id/translations.json
  apps/fishing-map/public/locales/pt/translations.json
  apps/fishing-map/public/locales/source/translations.json
Labels: fishing-map, deploy-dev

#1466 New Crowdin updates
  apps/fishing-map/public/locales/en/translations.json
  apps/fishing-map/public/locales/fr/translations.json
  apps/fishing-map/public/locales/id/translations.json
  apps/vessel-history/public/locales/en/translations.json
  libs/i18n-labels/en/datasets.json
  libs/i18n-labels/es/datasets.json
  libs/i18n-labels/fr/datasets.json
  libs/i18n-labels/id/datasets.json
  libs/i18n-labels/pt/datasets.json
  libs/i18n-labels/source/datasets.json
Labels: fishing-map, vessel-history, i18n-labels

#1471 avoid creating points in 0,0 when datasets have empty coordinates
  libs/data-transforms/src/csv-to-track-segments/csvToTrackSegments.ts
Labels: data-transforms

#1472 Omit alpine update packages
  apps/api-portal/Dockerfile
  apps/fishing-map/Dockerfile
  apps/port-labeler/Dockerfile
  apps/tile-inspector/Dockerfile
  apps/user-groups-admin/Dockerfile
  apps/vessel-history/Dockerfile
  tools/generators/app/files/Dockerfile
  tools/generators/minisite/files/Dockerfile
Labels: fishing-map, vessel-history, api-portal, port-labeler, tile-inspector, user-groups-admin, deploy-dev

#1474 Feature/environmental filters
  apps/fishing-map/features/datasets/datasets.utils.ts
  apps/fishing-map/features/workspace/environmental/EnvironmentalLayerPanel.tsx
  apps/fishing-map/public/locales/source/translations.json
  libs/dataviews-client/src/resolve-dataviews-generators.ts
Labels: fishing-map, dataviews-client, deploy-dev

#1476 Display Forced Labour Risk Model score in INFO tab of Vessel Viewer V-391
  apps/vessel-history/data/config.ts
  apps/vessel-history/features/profile/components/Info.module.css
  apps/vessel-history/features/profile/components/Info.tsx
  apps/vessel-history/features/profile/components/InfoField.tsx
  apps/vessel-history/features/user/user.hooks.ts
  apps/vessel-history/features/vessels/__snapshots__/vessels.utils.test.ts.snap
  apps/vessel-history/features/vessels/sources/gfw.slice.ts
  apps/vessel-history/public/locales/en/translations.json
  apps/vessel-history/public/locales/source/translations.json
  apps/vessel-history/types/index.ts
  apps/vessel-history/types/vessel.ts
Labels: vessel-history, deploy-dev

#1479 Display risk indicator flags on risk summary tab title. VV-389
  apps/vessel-history/features/profile/Profile.tsx
  apps/vessel-history/features/risk-title/risk-title.module.css
  apps/vessel-history/features/risk-title/risk-title.tsx
  apps/vessel-history/features/risk/risk.hook.ts
  apps/vessel-history/features/risk/risk.selectors.ts
  libs/ui-components/src/assets/icons/visibility-on.svg
  libs/ui-components/src/assets/icons/warning.svg
Labels: vessel-history, deploy-dev

#1478 Dataviews normalization
  apps/fishing-map/features/datasets/datasets.utils.ts
  libs/api-types/src/dataviews.ts
Labels: fishing-map, api-types

#1480 Release filters config
  apps/api-portal/Dockerfile
  apps/fishing-map/Dockerfile
  apps/fishing-map/features/datasets/datasets.utils.ts
  apps/fishing-map/features/workspace/environmental/EnvironmentalLayerPanel.tsx
  apps/fishing-map/public/locales/source/translations.json
  apps/port-labeler/Dockerfile
  apps/tile-inspector/Dockerfile
  apps/user-groups-admin/Dockerfile
  apps/vessel-history/Dockerfile
  apps/vessel-history/data/config.ts
  apps/vessel-history/data/eezInfo.ts
  apps/vessel-history/features/profile/Profile.tsx
  apps/vessel-history/features/profile/components/Info.module.css
  apps/vessel-history/features/profile/components/Info.tsx
  apps/vessel-history/features/profile/components/InfoField.tsx
  apps/vessel-history/features/risk-summary/risk-summary.tsx
  apps/vessel-history/features/risk-title/risk-title.module.css
  apps/vessel-history/features/risk-title/risk-title.tsx
  apps/vessel-history/features/risk/risk.hook.ts
  apps/vessel-history/features/risk/risk.selectors.ts
  apps/vessel-history/features/settings/components/ActivityEvents.tsx
  apps/vessel-history/features/settings/components/PortVisits.tsx
  apps/vessel-history/features/settings/components/SettingsComponents.module.css
  apps/vessel-history/features/user/user.hooks.ts
  apps/vessel-history/features/vessels/__snapshots__/vessels.utils.test.ts.snap
  apps/vessel-history/features/vessels/sources/gfw.slice.ts
  apps/vessel-history/public/locales/en/translations.json
  apps/vessel-history/public/locales/source/translations.json
  apps/vessel-history/types/index.ts
  apps/vessel-history/types/vessel.ts
  libs/api-types/src/dataviews.ts
  libs/data-transforms/src/csv-to-track-segments/csvToTrackSegments.ts
  libs/dataviews-client/src/resolve-dataviews-generators.ts
  libs/ui-components/src/assets/icons/visibility-on.svg
  libs/ui-components/src/assets/icons/warning.svg
  tools/generators/app/files/Dockerfile
  tools/generators/minisite/files/Dockerfile
Labels: :rocket: release, fishing-map, vessel-history, dataviews-client, api-portal, port-labeler, tile-inspector, user-groups-admin, api-types, data-transforms

#1483 dont send ttl in dataset
  apps/fishing-map/features/bigquery/bigquery.slice.ts
Labels: fishing-map

#1482 Hide number of events in the icon indicators. VV-396
  apps/vessel-history/data/config.ts
  apps/vessel-history/features/risk-title/risk-title.tsx
Labels: vessel-history

#1485 Fix/workspace save
  apps/fishing-map/features/workspace/detections/DetectionsSection.tsx
  apps/fishing-map/features/workspace/shared/NewWorkspaceModal.module.css
  apps/fishing-map/features/workspace/shared/NewWorkspaceModal.tsx
  apps/fishing-map/features/workspace/workspace.slice.ts
  libs/api-types/src/workspaces.ts
Labels: fishing-map, api-types

#1487 Fishing map/add protected seas layer
  apps/fishing-map/data/default-workspaces/workspace.development.ts
  apps/fishing-map/data/workspaces.ts
  apps/fishing-map/features/datasets/NewDataset.tsx
  apps/fishing-map/features/map/popups/ContextLayers.tsx
  apps/fishing-map/features/map/popups/ContextLayersRow.tsx
  libs/dataviews-client/src/resolve-dataviews-generators.ts
  libs/fourwings-aggregate/yarn.lock
  libs/layer-composer/src/generators/context/context-layers.ts
  libs/layer-composer/src/generators/types.ts
  libs/ui-components/src/assets/icons/external-link.svg
  libs/ui-components/src/icon/Icon.tsx
Labels: fishing-map, dataviews-client, layer-composer, fourwings-aggregate, deploy-dev

#1493 New Crowdin updates
  libs/i18n-labels/en/datasets.json
  libs/i18n-labels/es/datasets.json
  libs/i18n-labels/fr/datasets.json
  libs/i18n-labels/id/datasets.json
  libs/i18n-labels/pt/datasets.json
Labels: i18n-labels

#1494 allow more precision in very small numbers
  apps/fishing-map/features/map/popups/EnvironmentLayers.tsx
  libs/dataviews-client/src/resolve-dataviews-generators.ts
  libs/ui-components/src/map-legend/ColorRamp.tsx
  libs/ui-components/src/map-legend/MapLegend.module.css
  libs/ui-components/src/map-legend/map-legend.utils.ts
Labels: fishing-map, dataviews-client, deploy-dev

#1496 Display skylight logo on map when any real time layer is on. ENG-370
  apps/fishing-map/assets/images/partner-logos/skylight@2x.png
  apps/fishing-map/features/map/controls/MapInfo.module.css
  apps/fishing-map/features/map/controls/MapInfo.tsx
  apps/fishing-map/features/workspace/realtime/RealTimeSection.tsx
  apps/fishing-map/features/workspace/realtime/realtime.selectors.ts
Labels: fishing-map

#1495 Fix events in MPA crash with regions undefined
  apps/vessel-history/features/risk/risk.selectors.ts
Labels: vessel-history

#1498 File upload improve error handling
  apps/fishing-map/features/datasets/NewDataset.tsx
  apps/fishing-map/public/locales/source/translations.json
Labels: fishing-map, deploy-dev

#1499 New Crowdin updates
  apps/fishing-map/public/locales/en/translations.json
  apps/fishing-map/public/locales/es/translations.json
  apps/fishing-map/public/locales/fr/translations.json
  apps/fishing-map/public/locales/id/translations.json
  apps/fishing-map/public/locales/pt/translations.json
Labels: fishing-map

#1504 Display activity layer stats only when time range is less than 1 year
  apps/fishing-map/features/workspace/activity/ActivityLayerPanel.tsx
  apps/fishing-map/queries/stats-api.ts
Labels: fishing-map

#1503 New Crowdin updates
  apps/fishing-map/public/locales/es/translations.json
  libs/i18n-labels/en/datasets.json
  libs/i18n-labels/es/datasets.json
  libs/i18n-labels/fr/datasets.json
  libs/i18n-labels/id/datasets.json
  libs/i18n-labels/pt/datasets.json
  libs/i18n-labels/source/datasets.json
Labels: fishing-map, i18n-labels

#1502 Show warnings when features or datasets are only visible by GFW users
  apps/fishing-map/features/app/AppModals.tsx
  apps/fishing-map/features/datasets/datasets.utils.ts
  apps/fishing-map/features/download/DownloadTrackModal.tsx
  apps/fishing-map/features/help/hints/Hint.module.css
  apps/fishing-map/features/help/hints/HintsHub.tsx
  apps/fishing-map/features/map/popups/VesselsTable.tsx
  apps/fishing-map/features/user/GFWOnly.module.css
  apps/fishing-map/features/user/GFWOnly.tsx
  apps/fishing-map/features/workspace/common/InfoModalContent.tsx
  apps/fishing-map/features/workspace/shared/layer-panel-sort.hook.ts
  apps/fishing-map/features/workspace/vessels/VesselLayerPanel.tsx
  apps/fishing-map/public/locales/en/translations.json
  apps/fishing-map/public/locales/source/translations.json
  libs/ui-components/src/base.css
Labels: fishing-map, deploy-dev

#1505 Use tabs to separate content instead of scroll in the user panel
  apps/fishing-map/features/user/User.tsx
  apps/fishing-map/features/user/UserInfo.tsx
  apps/fishing-map/public/locales/en/translations.json
  apps/fishing-map/public/locales/source/translations.json
Labels: fishing-map

#1508 Inconsistency in data validation // VV-261
  apps/vessel-history/features/settings/components/ActivityEvents.tsx
  apps/vessel-history/features/settings/components/PortVisits.tsx
  apps/vessel-history/features/settings/components/SettingsComponents.module.css
Labels: vessel-history, deploy-dev

#1513 Fix tmt vessel history endpoint in v2. VV-401
  apps/vessel-history/data/eezInfo.ts
  apps/vessel-history/features/risk/risk.selectors.ts
  apps/vessel-history/features/vessels/sources/tmt.slice.ts
Labels: vessel-history, deploy-dev
