Repository GlobalFishingWatch/frontend, pull requests merged in 2022-09, with the labels that each got.

#1640 Format built year to display only the year. VV-443
  apps/vessel-history/features/profile/components/Info.tsx
Labels: vessel-history

#1614 Deck playground/fourwings layer
  apps/deck-playground/data/config.ts
  apps/deck-playground/data/vessels.ts
  apps/deck-playground/features/map/Map.tsx
  apps/deck-playground/features/map/layers.hooks.ts
  apps/deck-playground/features/sidebar/Sidebar.module.css
  apps/deck-playground/features/sidebar/Sidebar.tsx
  apps/deck-playground/features/timebar/TimebarActivityGraph.hooks.ts
  apps/deck-playground/features/timebar/TimebarActivityGraph.tsx
  apps/deck-playground/layers/fourwings/FourwingsLayer.ts
  apps/deck-playground/layers/fourwings/FourwingsTileCellLayer.ts
  apps/deck-playground/layers/fourwings/FourwingsTileLayer.ts
  apps/deck-playground/layers/fourwings/fourwings.utils.ts
  apps/deck-playground/layers/vessel/VesselLayer.ts
  apps/deck-playground/layers/vessel/VesselTrackLayer.ts
  apps/deck-playground/layers/vessel/VesselsLayer.ts
  apps/deck-playground/loaders/fourWingsLoader.ts
  apps/deck-playground/loaders/fourwings/fourwingsLayerLoader.ts
  apps/deck-playground/loaders/fourwings/fourwingsTileParser.ts
  apps/deck-playground/loaders/trackLoader.ts
  apps/deck-playground/package.json
  apps/deck-playground/pages/_app.tsx
  apps/fishing-map/package.json
  yarn.lock
Labels: fishing-map

#1644 Display identity and event icons alongside the categories in vessel viewer risk summary tab VV-448
  apps/vessel-history/features/risk-section/risk-section.module.css
  apps/vessel-history/features/risk-section/risk-section.tsx
  apps/vessel-history/features/risk-summary/risk-summary.tsx
Labels: vessel-history

#1643 removed non intentional disabling gaps VV-118
  apps/vessel-history/features/resources/resources.slice.ts
Labels: vessel-history

#1646 Updated sources with ssf fishing effort private datasets. PIPELINE-934
  libs/i18n-labels/en/datasets.json
  libs/i18n-labels/source/datasets.json
Labels: i18n-labels

#1649 Display Forced Labour Risk Model score in INFO tab of Vessel Viewer - Added help modal for Reported Cases VV-391
  apps/vessel-history/features/profile/components/ForcedLabor.module.css
  apps/vessel-history/features/profile/components/ForcedLabor.tsx
  apps/vessel-history/public/locales/en/translations.json
  apps/vessel-history/public/locales/source/translations.json
  yarn.lock
Labels: vessel-history, deploy-dev

#1653 Normalized ssf dataset names. PIPELINE-934
  libs/i18n-labels/en/datasets.json
  libs/i18n-labels/source/datasets.json
Labels: i18n-labels

#1654 Display info pop-up on vessel viewer search page to define 'transmissions'
  apps/vessel-history/public/locales/en/translations.json
Labels: vessel-history

#1658 Fishing-map hotfix release
  apps/fishing-map/features/datasets/datasets.slice.ts
  apps/vessel-history/features/dataviews/dataviews.selectors.ts
  apps/vessel-history/features/profile/components/ForcedLabor.module.css
  apps/vessel-history/features/profile/components/ForcedLabor.tsx
  apps/vessel-history/public/locales/en/translations.json
  apps/vessel-history/public/locales/es/translations.json
  apps/vessel-history/public/locales/fr/translations.json
  apps/vessel-history/public/locales/id/translations.json
  apps/vessel-history/public/locales/pt/translations.json
  apps/vessel-history/public/locales/source/translations.json
  apps/vessel-history/public/locales/val/translations.json
  libs/dataviews-client/src/resources/get-resources.ts
  libs/i18n-labels/CHANGELOG.md
  libs/i18n-labels/en/datasets.json
  libs/i18n-labels/es/datasets.json
  libs/i18n-labels/fr/datasets.json
  libs/i18n-labels/id/datasets.json
  libs/i18n-labels/package.json
  libs/i18n-labels/pt/datasets.json
  libs/i18n-labels/source/datasets.json
  libs/i18n-labels/val/datasets.json
  yarn.lock
Labels: :rocket: release, fishing-map, vessel-history, dataviews-client, i18n-labels

#1659 Fixed inconsistent results with TMT RFMO IUU blacklist status. VV-481
  apps/vessel-history/features/risk-indicator/risk-indicator.slice.ts
Labels: vessel-history, deploy-dev

#1661 Fixed offline vessel activity filters date range. VV-427
  apps/vessel-history/features/activity-by-type/activity-by-type.tsx
Labels: vessel-history

#1662 Fix only one TMT vessel is displayed in the list of offline vessels. VV-486
  apps/vessel-history/features/vessels/offline-vessels.slice.ts
  apps/vessel-history/utils/async-slice.ts
Labels: vessel-history, deploy-dev

#1665 Fixed error calling method of undefined. VV-427
  apps/vessel-history/features/activity-by-type/activity-by-type.tsx
Labels: vessel-history

#1663 Display AIS coverage metric in vessel viewer to a whole number VV-445
  apps/vessel-history/features/profile/components/activity/AisCoverage.tsx
  apps/vessel-history/features/risk-summary/risk-summary.tsx
  libs/ui-components/src/progress-bar/ProgressBar.tsx
Labels: vessel-history, deploy-dev

#1668 🚀 Release - Vessel Viewer v1.1.2
  apps/vessel-history/package.json
Labels: vessel-history, deploy-dev

#1656 histogram to global env layers filter
  apps/fishing-map/features/workspace/environmental/HistogramRangeFilter.tsx
  apps/fishing-map/features/workspace/environmental/histogram.hooks.ts
Labels: fishing-map

#1666 Fixed warning on test
  apps/vessel-history/features/terminology/__snapshots__/terminology-iuu.spec.tsx.snap
  apps/vessel-history/features/terminology/terminology-iuu.tsx
Labels: vessel-history

#1672 Fixed removing offline vessel does not update in the list. VV-491
  apps/vessel-history/utils/async-slice.ts
Labels: vessel-history, deploy-dev

#1673 🚀 Release - Vessel Viewer v1.1.3
  apps/vessel-history/package.json
  apps/vessel-history/utils/async-slice.ts
Labels: vessel-history

#1664 Incorrect link in Vessel Viewer Data & Terminology page
  apps/vessel-history/features/terminology/__snapshots__/terminology-fishing-events.spec.tsx.snap
  apps/vessel-history/features/terminology/terminology-fishing-events.tsx
  apps/vessel-history/public/locales/en/translations.json
  apps/vessel-history/public/locales/source/translations.json
Labels: vessel-history, deploy-dev

#1676 Improvement to not fire position modal outside the button VV-449
  apps/vessel-history/features/vessel-list-item/VesselListItem.module.css
  apps/vessel-history/features/vessel-list-item/VesselListItem.tsx
Labels: vessel-history

#1677 avoid crash when a chunk has no features
  apps/fishing-map/features/analysis/analysis.hooks.ts
Labels: fishing-map

#1675 Add time range to Risk Summary and Map tab in VV insurance view. VV-492
  apps/vessel-history/features/activity-by-type/activity-by-type.module.css
  apps/vessel-history/features/activity-by-type/activity-by-type.tsx
  apps/vessel-history/features/date-range-label/date-range-label.module.css
  apps/vessel-history/features/date-range-label/date-range-label.tsx
  apps/vessel-history/features/event-filters/EventFiltersButton.tsx
  apps/vessel-history/features/profile/components/activity/Activity.module.css
  apps/vessel-history/features/profile/components/activity/AisCoverage.tsx
  apps/vessel-history/features/risk-section/risk-section.tsx
  apps/vessel-history/features/risk-summary/risk-summary.module.css
  apps/vessel-history/features/risk-summary/risk-summary.tsx
Labels: vessel-history, deploy-dev

#1671 Enable or disable all highlight settings at event type level // VV-279
  apps/vessel-history/features/settings/Settings.module.css
  apps/vessel-history/features/settings/Settings.tsx
  apps/vessel-history/features/settings/components/ActivityEvents.tsx
  apps/vessel-history/features/settings/settings.hooks.ts
  apps/vessel-history/features/settings/settings.slice.ts
  apps/vessel-history/features/vessels/activity/__mocks__/highlight.mock.ts
  apps/vessel-history/features/vessels/activity/__snapshots__/vessels-highlight.worker.test.ts.snap
  apps/vessel-history/features/vessels/activity/vessels-highlight.worker.test.ts
  apps/vessel-history/features/vessels/activity/vessels-highlight.worker.ts
  apps/vessel-history/public/locales/source/translations.json
  libs/ui-components/src/multi-select/MultiSelect.tsx
Labels: vessel-history, deploy-dev

#1674 Offline vessel Merge // VV-231
  apps/vessel-history/features/home/Home.tsx
  apps/vessel-history/features/profile/Profile.tsx
  apps/vessel-history/features/profile/components/Info.tsx
  apps/vessel-history/features/vessel-list-item/VesselListItem.tsx
  apps/vessel-history/features/vessels/__snapshots__/vessels.utils.test.ts.snap
  apps/vessel-history/features/vessels/offline-vessels.selectors.ts
  apps/vessel-history/features/vessels/sources/gfw.slice.ts
  apps/vessel-history/features/vessels/sources/tmt.slice.ts
  apps/vessel-history/features/vessels/vessels.slice.ts
  apps/vessel-history/features/vessels/vessels.utils.mock.ts
  apps/vessel-history/features/vessels/vessels.utils.ts
  apps/vessel-history/types/index.ts
  apps/vessel-history/types/vessel.ts
  apps/vessel-history/utils/async-slice.ts
  libs/api-types/src/vessel.ts
Labels: vessel-history, api-types, deploy-dev

#1680 Fixed field history displaying invalid date when dates have 99 in day|month. VV-493
  apps/vessel-history/features/i18n/i18nDate.tsx
Labels: vessel-history

#1679 Fishing map/show source always and name dataviews based on category and subcategory
  apps/fishing-map/features/datasets/datasets.utils.ts
  apps/fishing-map/features/workspace/shared/DatasetSourceField.tsx
  apps/fishing-map/public/locales/en/translations.json
  apps/fishing-map/public/locales/source/translations.json
  libs/api-types/src/datasets.ts
Labels: fishing-map, api-types

#1678 New Crowdin updates
  apps/fishing-map/public/locales/es/translations.json
  apps/vessel-history/public/locales/en/translations.json
  apps/vessel-history/public/locales/es/translations.json
  apps/vessel-history/public/locales/fr/translations.json
  apps/vessel-history/public/locales/id/translations.json
  apps/vessel-history/public/locales/pt/translations.json
  apps/vessel-history/public/locales/val/translations.json
  libs/i18n-labels/en/datasets.json
  libs/i18n-labels/es/datasets.json
Labels: fishing-map, vessel-history, i18n-labels

#1681 New Crowdin updates
  apps/fishing-map/public/locales/en/translations.json
  apps/fishing-map/public/locales/es/translations.json
  apps/fishing-map/public/locales/fr/translations.json
  apps/fishing-map/public/locales/id/translations.json
  apps/fishing-map/public/locales/pt/translations.json
  apps/fishing-map/public/locales/val/translations.json
Labels: fishing-map

#1682 New Crowdin updates
  libs/i18n-labels/en/datasets.json
  libs/i18n-labels/es/datasets.json
  libs/i18n-labels/fr/datasets.json
  libs/i18n-labels/id/datasets.json
  libs/i18n-labels/pt/datasets.json
  libs/i18n-labels/source/datasets.json
  libs/i18n-labels/val/datasets.json
Labels: i18n-labels

#1683 New Crowdin updates
  libs/i18n-labels/en/datasets.json
  libs/i18n-labels/es/datasets.json
Labels: i18n-labels

#1670 Fixed empty actvity datasets in dataview editor. ENG-397
  apps/fishing-map/features/editor/DataviewEditor.tsx
  libs/api-types/src/datasets.ts
Labels: fishing-map, vessel-history, dataviews-client, i18n-labels, api-types, deploy-dev

#1685 New Crowdin updates
  apps/vessel-history/public/locales/fr/translations.json
Labels: vessel-history

#1686 New Crowdin updates
  apps/vessel-history/public/locales/en/translations.json
Labels: vessel-history

#1667 🚀 Release - Vessel Viewer (Insurance Pilot) v1.1.4
  apps/vessel-history/features/activity-by-type/activity-by-type.module.css
  apps/vessel-history/features/activity-by-type/activity-by-type.tsx
  apps/vessel-history/features/date-range-label/date-range-label.module.css
  apps/vessel-history/features/date-range-label/date-range-label.tsx
  apps/vessel-history/features/event-filters/EventFiltersButton.tsx
  apps/vessel-history/features/i18n/i18nDate.tsx
  apps/vessel-history/features/profile/components/activity/Activity.module.css
  apps/vessel-history/features/profile/components/activity/AisCoverage.tsx
  apps/vessel-history/features/risk-section/risk-section.tsx
  apps/vessel-history/features/risk-summary/risk-summary.module.css
  apps/vessel-history/features/risk-summary/risk-summary.tsx
  apps/vessel-history/features/terminology/__snapshots__/terminology-fishing-events.spec.tsx.snap
  apps/vessel-history/features/terminology/terminology-fishing-events.tsx
  apps/vessel-history/features/vessel-list-item/VesselListItem.module.css
  apps/vessel-history/features/vessel-list-item/VesselListItem.tsx
  apps/vessel-history/package.json
  apps/vessel-history/public/locales/en/translations.json
  apps/vessel-history/public/locales/fr/translations.json
  apps/vessel-history/public/locales/source/translations.json
  libs/ui-components/src/progress-bar/ProgressBar.tsx
Labels: vessel-history, deploy-pro

#1687 remove vessel groups timerange limit
  apps/fishing-map/features/map/map.selectors.ts
  apps/fishing-map/features/workspace/shared/DatasetSchemaField.tsx
Labels: fishing-map

#1690 move vessel groups time range to env variable
  apps/fishing-map/cloudbuild.yaml
  apps/fishing-map/data/config.ts
  apps/fishing-map/features/map/map.selectors.ts
  apps/fishing-map/features/workspace/shared/DatasetSchemaField.tsx
Labels: fishing-map

#1691 show login to see vessel disclaimer only when not logged
  apps/fishing-map/features/map/map.slice.ts
  apps/fishing-map/features/workspace/vessels/VesselsSection.tsx
Labels: fishing-map

#1684 update dataset detection category
  libs/api-types/src/datasets.ts
Labels: api-types

#1688 New Crowdin updates
  apps/vessel-history/public/locales/en/translations.json
  apps/vessel-history/public/locales/es/translations.json
  apps/vessel-history/public/locales/fr/translations.json
  apps/vessel-history/public/locales/id/translations.json
  apps/vessel-history/public/locales/pt/translations.json
  apps/vessel-history/public/locales/val/translations.json
  libs/i18n-labels/en/datasets.json
  libs/i18n-labels/es/datasets.json
Labels: vessel-history, i18n-labels

#1693 add activity timeseries and fix color ramp values
  apps/deck-playground/features/map/Map.tsx
  apps/deck-playground/features/map/layers.hooks.ts
  apps/deck-playground/features/sidebar/Sidebar.tsx
  apps/deck-playground/features/timebar/Timebar.tsx
  apps/deck-playground/features/timebar/TimebarActivityGraph.tsx
  apps/deck-playground/layers/fourwings/FourwingsLayer.ts
  apps/deck-playground/layers/fourwings/FourwingsTileCellLayer.ts
  apps/deck-playground/layers/fourwings/FourwingsTileLayer.ts
  apps/deck-playground/layers/fourwings/fourwings.hooks.ts
  apps/deck-playground/layers/fourwings/fourwings.utils.ts
  apps/deck-playground/package.json
  libs/timebar/src/charts/common/types.ts
  yarn.lock
Labels: timebar

#1695 udpate color ramp on every tile load
  apps/deck-playground/features/timebar/TimebarActivityGraph.tsx
  apps/deck-playground/layers/fourwings/FourwingsLayer.ts
  apps/deck-playground/layers/fourwings/fourwings.hooks.ts
  apps/deck-playground/layers/fourwings/fourwings.utils.ts
Labels: deploy-dev

#1699 Enable automatic merge when searching by multiple identifiers
  apps/vessel-history/features/search/search.utils.ts
Labels: vessel-history

#1698 Enable highlighting for disabling events. VV-488
  apps/vessel-history/data/constants.ts
  apps/vessel-history/features/settings/Settings.tsx
  apps/vessel-history/features/settings/components/GapEvents.tsx
  apps/vessel-history/features/settings/settings.slice.ts
  apps/vessel-history/features/vessels/activity/vessels-highlight.worker.ts
Labels: vessel-history

#1703 fix crash when no sublayers ready
  apps/fishing-map/features/analysis/AnalysisBeforeAfter.tsx
  apps/fishing-map/features/workspace/activity/ActivitySection.tsx
Labels: fishing-map

#1704 Hotfix 2609
  apps/deck-playground/data/config.ts
  apps/deck-playground/docker-compose.yaml
  apps/deck-playground/features/map/Map.tsx
  apps/deck-playground/features/map/layers.hooks.ts
  apps/deck-playground/features/map/map-viewport.hooks.ts
  apps/deck-playground/features/sidebar/Sidebar.tsx
  apps/deck-playground/features/timebar/Timebar.tsx
  apps/deck-playground/features/timebar/TimebarActivityGraph.tsx
  apps/deck-playground/features/timebar/timebar.hooks.ts
  apps/deck-playground/layers/fourwings/FourwingsLayer.ts
  apps/deck-playground/layers/fourwings/FourwingsTileCellLayer.ts
  apps/deck-playground/layers/fourwings/FourwingsTileLayer.ts
  apps/deck-playground/layers/fourwings/VesselPositionsLayer.ts
  apps/deck-playground/layers/fourwings/fourwings.hooks.ts
  apps/deck-playground/layers/fourwings/fourwings.utils.ts
  apps/deck-playground/layers/vessel/VesselLayer.ts
  apps/deck-playground/layers/vessel/vessels.hooks.ts
  apps/deck-playground/next.config.js
  apps/deck-playground/nginx.conf
  apps/deck-playground/package.json
  apps/deck-playground/pages/_app.tsx
  apps/deck-playground/public/icons/manifest.webmanifest
  apps/fishing-map/features/analysis/AnalysisBeforeAfter.tsx
  apps/fishing-map/features/workspace/activity/ActivitySection.tsx
  apps/vessel-history/data/constants.ts
  apps/vessel-history/features/search/search.utils.ts
  apps/vessel-history/features/settings/Settings.tsx
  apps/vessel-history/features/settings/components/GapEvents.tsx
  apps/vessel-history/features/settings/settings.slice.ts
  apps/vessel-history/features/vessels/activity/vessels-highlight.worker.ts
  apps/vessel-history/public/locales/en/translations.json
  apps/vessel-history/public/locales/es/translations.json
  apps/vessel-history/public/locales/fr/translations.json
  apps/vessel-history/public/locales/id/translations.json
  apps/vessel-history/public/locales/pt/translations.json
  apps/vessel-history/public/locales/val/translations.json
  libs/i18n-labels/CHANGELOG.md
  libs/i18n-labels/en/datasets.json
  libs/i18n-labels/es/datasets.json
  libs/i18n-labels/package.json
  libs/timebar/src/charts/common/types.ts
  yarn.lock
Labels: :rocket: release

#1706 Remove unit parameter for BQ cluster
  apps/fishing-map/features/bigquery/BigQuery.tsx
  apps/fishing-map/features/bigquery/bigquery.slice.ts
Labels: fishing-map

#1701 Display RFMO and year added to RFMO IUU Status in Vessel Viewer INFO tab VV-436
  .vscode/settings.json
  apps/vessel-history/features/i18n/i18nDate.tsx
  apps/vessel-history/features/profile/components/HistoryDate.tsx
  apps/vessel-history/features/profile/components/Info.tsx
  apps/vessel-history/features/profile/components/InfoField.tsx
  apps/vessel-history/features/profile/components/InfoFieldHistory.tsx
  apps/vessel-history/features/profile/components/InfoFieldHistoryTable.tsx
  apps/vessel-history/features/risk-iuu-indicator/risk-iuu-indicator.tsx
  apps/vessel-history/features/risk-summary/risk-summary.tsx
  apps/vessel-history/features/terminology/terminology-iuu.tsx
  apps/vessel-history/features/vessels/__snapshots__/vessels.utils.test.ts.snap
  apps/vessel-history/features/vessels/sources/tmt.slice.ts
  apps/vessel-history/features/vessels/vessels.utils.mock.ts
  apps/vessel-history/public/locales/source/translations.json
  apps/vessel-history/types/index.ts
  apps/vessel-history/utils/shared.ts
Labels: vessel-history, deploy-dev

#1709 New Crowdin updates
  libs/i18n-labels/en/datasets.json
  libs/i18n-labels/es/datasets.json
  libs/i18n-labels/fr/datasets.json
  libs/i18n-labels/id/datasets.json
  libs/i18n-labels/pt/datasets.json
  libs/i18n-labels/source/datasets.json
  libs/i18n-labels/val/datasets.json
Labels: i18n-labels

#1712 update timebar graph on env layer filter
  apps/fishing-map/features/analysis/analysis-timeseries.utils.ts
  apps/fishing-map/features/map/map-sources.hooks.ts
  apps/fishing-map/features/timebar/TimebarActivityGraph.hooks.ts
  libs/features-aggregate/src/timeseries.ts
  libs/fourwings-aggregate/src/get-time-series.ts
  libs/layer-composer/src/types/index.ts
Labels: fishing-map, layer-composer, fourwings-aggregate, features-aggregate

#1711 New Crowdin updates
  apps/vessel-history/public/locales/en/translations.json
  apps/vessel-history/public/locales/es/translations.json
  apps/vessel-history/public/locales/fr/translations.json
  apps/vessel-history/public/locales/id/translations.json
  apps/vessel-history/public/locales/pt/translations.json
  apps/vessel-history/public/locales/val/translations.json
  libs/i18n-labels/en/datasets.json
  libs/i18n-labels/es/datasets.json
  libs/i18n-labels/fr/datasets.json
  libs/i18n-labels/id/datasets.json
  libs/i18n-labels/pt/datasets.json
  libs/i18n-labels/source/datasets.json
  libs/i18n-labels/val/datasets.json
Labels: vessel-history, i18n-labels

#1713 New Crowdin updates
  libs/i18n-labels/en/datasets.json
  libs/i18n-labels/es/datasets.json
  libs/i18n-labels/fr/datasets.json
  libs/i18n-labels/id/datasets.json
  libs/i18n-labels/pt/datasets.json
  libs/i18n-labels/source/datasets.json
  libs/i18n-labels/val/datasets.json
Labels: i18n-labels

#1714 restore vessel groups timerange limit
  apps/fishing-map/.env.sample
  apps/fishing-map/cloudbuild.yaml
  apps/fishing-map/data/config.ts
  apps/fishing-map/features/download/DownloadActivityModal.tsx
  apps/fishing-map/features/download/downloadActivity.config.ts
  apps/fishing-map/features/workspace/shared/DatasetSchemaField.tsx
  apps/fishing-map/public/locales/en/translations.json
  apps/fishing-map/public/locales/source/translations.json
Labels: fishing-map
