Repository GlobalFishingWatch/frontend, pull requests merged in 2022-11, with the labels that each got.

#1750 Display risk summary tab for Port inspectors. VV-507
  apps/vessel-history/features/profile/Profile.tsx
  apps/vessel-history/features/risk-summary/risk-summary.tsx
Labels: deploy-dev

#1751 Remove trailing number in offline vessels name.VV-511
  apps/vessel-history/features/vessel-list-item/VesselListItem.tsx
Labels: vessel-history

#1752 reduce user points occlusion
  libs/layer-composer/src/generators/user-points/user-points.ts
Labels: layer-composer

#1753 🚀 Release - Vessel Viewer v1.4.0
  apps/vessel-history/features/profile/Profile.tsx
  apps/vessel-history/features/risk-summary/risk-summary.tsx
  apps/vessel-history/features/vessel-list-item/VesselListItem.tsx
  apps/vessel-history/package.json
  libs/layer-composer/src/generators/user-points/user-points.ts
Labels: vessel-history, layer-composer

#1742 update UI to support gridded reports
  apps/fishing-map/assets/images/download-popup.jpg
  apps/fishing-map/features/download/DownloadActivityByVessel.tsx
  apps/fishing-map/features/download/DownloadActivityGridded.tsx
  apps/fishing-map/features/download/DownloadActivityModal.tsx
  apps/fishing-map/features/download/DownloadModal.module.css
  apps/fishing-map/features/download/download.utils.ts
  apps/fishing-map/features/download/downloadActivity.config.ts
  apps/fishing-map/features/download/downloadActivity.slice.ts
  apps/fishing-map/features/workspace/activity/ActivitySection.tsx
  apps/fishing-map/features/workspace/environmental/HistogramRangeFilter.tsx
  apps/fishing-map/public/locales/en/translations.json
  apps/fishing-map/public/locales/source/translations.json
  libs/ui-components/src/tabs/Tabs.tsx
Labels: fishing-map, deploy-dev

#1754 Master > Develop
  apps/vessel-history/package.json
Labels: vessel-history

#1756 Fishing map/activity download popup tweaks
  apps/fishing-map/features/download/DownloadActivityByVessel.tsx
  apps/fishing-map/features/download/DownloadActivityGridded.tsx
  apps/fishing-map/features/download/DownloadActivityModal.tsx
  apps/fishing-map/features/download/DownloadActivityProductsBanner.tsx
  apps/fishing-map/features/download/DownloadModal.module.css
  apps/fishing-map/public/locales/en/translations.json
  apps/fishing-map/public/locales/source/translations.json
  libs/ui-components/src/choice/Choice.module.css
  libs/ui-components/src/modal/Modal.module.css
Labels: fishing-map

#1755 New Crowdin updates
  apps/fishing-map/public/locales/en/translations.json
  apps/fishing-map/public/locales/es/translations.json
  apps/fishing-map/public/locales/fr/translations.json
  apps/fishing-map/public/locales/id/translations.json
  apps/fishing-map/public/locales/pt/translations.json
  apps/fishing-map/public/locales/source/translations.json
  apps/fishing-map/public/locales/val/translations.json
Labels: fishing-map

#1757 New Crowdin updates
  apps/fishing-map/public/locales/en/translations.json
  apps/fishing-map/public/locales/es/translations.json
  apps/fishing-map/public/locales/fr/translations.json
  apps/fishing-map/public/locales/id/translations.json
  apps/fishing-map/public/locales/pt/translations.json
  apps/fishing-map/public/locales/val/translations.json
Labels: fishing-map

#1759 Prevent app crash when intermediateAnchorage is undefined. VV-426
  apps/vessel-history/features/activity-by-type/activity-by-type.selectors.ts
  apps/vessel-history/features/vessels/activity/vessels-activity.selectors.ts
Labels: vessel-history

#1762 Add links to FAQs and User guide in the help hub
  apps/fishing-map/features/hints/HelpHub.tsx
  apps/fishing-map/features/hints/Hint.module.css
  apps/fishing-map/features/hints/HintsHub.tsx
  apps/fishing-map/features/i18n/LanguageToggle.module.css
  apps/fishing-map/features/sidebar/CategoryTabs.tsx
  apps/fishing-map/public/locales/en/translations.json
  apps/fishing-map/public/locales/source/translations.json
Labels: fishing-map

#1761 add group-by in gridded download
  apps/fishing-map/features/download/DownloadActivityByVessel.tsx
  apps/fishing-map/features/download/DownloadActivityGridded.tsx
  apps/fishing-map/features/download/download.utils.ts
  apps/fishing-map/features/download/downloadActivity.config.ts
  apps/fishing-map/public/locales/en/translations.json
  apps/fishing-map/public/locales/es/translations.json
  apps/fishing-map/public/locales/fr/translations.json
  apps/fishing-map/public/locales/id/translations.json
  apps/fishing-map/public/locales/pt/translations.json
  apps/fishing-map/public/locales/source/translations.json
Labels: fishing-map

#1760 Fixed risk summary time range excluding data delay. VV-508
  apps/vessel-history/data/config.ts
  apps/vessel-history/features/date-range-label/date-range-label.tsx
Labels: vessel-history, deploy-dev

#1765 Remove section headers from screenshots
  apps/fishing-map/features/workspace/activity/ActivitySection.tsx
  apps/fishing-map/features/workspace/context-areas/ContextAreaSection.tsx
  apps/fishing-map/features/workspace/detections/DetectionsSection.tsx
  apps/fishing-map/features/workspace/environmental/EnvironmentalSection.tsx
  apps/fishing-map/features/workspace/events/EventsSection.tsx
  apps/fishing-map/features/workspace/vessels/VesselsSection.tsx
Labels: fishing-map

#1767 New Crowdin updates
  apps/fishing-map/public/locales/en/translations.json
  apps/fishing-map/public/locales/es/translations.json
  apps/fishing-map/public/locales/fr/translations.json
  apps/fishing-map/public/locales/id/translations.json
  apps/fishing-map/public/locales/pt/translations.json
  apps/fishing-map/public/locales/val/translations.json
  libs/i18n-labels/en/datasets.json
  libs/i18n-labels/es/datasets.json
  libs/i18n-labels/es/timebar.json
  libs/i18n-labels/fr/datasets.json
  libs/i18n-labels/id/datasets.json
  libs/i18n-labels/pt/datasets.json
  libs/i18n-labels/val/datasets.json
Labels: fishing-map, i18n-labels

#1758 Fixed PSMA indicator not flagging port visits to non-PSMA port states. VV-512
  apps/vessel-history/features/activity-by-type/activity-by-type.selectors.ts
  apps/vessel-history/features/risk-indicator/risk-indicator.hook.ts
  apps/vessel-history/features/risk-indicator/risk-indicator.module.css
  apps/vessel-history/features/risk-indicator/risk-indicator.selectors.ts
  apps/vessel-history/features/risk-indicator/risk-indicator.tsx
  apps/vessel-history/features/risk-summary/risk-summary.tsx
Labels: vessel-history, deploy-dev

#1770 fix sources loaded for environmental layers
  apps/fishing-map/features/map/map-sources.utils.ts
  apps/fishing-map/features/workspace/environmental/environmental.hooks.ts
Labels: :rocket: release

#1771 Tweak main port visits style. VV-512
  apps/vessel-history/features/activity-by-type/activity-by-type.tsx
  apps/vessel-history/features/profile/components/activity/Activity.module.css
  apps/vessel-history/features/risk-indicator/risk-indicator.module.css
Labels: vessel-history

#1773 Master > Develop
  apps/vessel-history/package.json
Labels: vessel-history

#1775 Fishing map/mmsi reports download
  apps/fishing-map/features/dataviews/dataviews.selectors.ts
  apps/fishing-map/features/download/DownloadActivityByVessel.tsx
  apps/fishing-map/features/download/DownloadActivityGridded.tsx
  apps/fishing-map/features/download/download.utils.ts
  apps/fishing-map/public/locales/source/translations.json
Labels: fishing-map

#1776 Fishing map/mobile tweaks
  apps/fishing-map/features/app/App.module.css
  apps/fishing-map/features/footer/Footer.tsx
  apps/fishing-map/features/map/Map.tsx
Labels: fishing-map

#1768 New Crowdin updates
  apps/fishing-map/public/locales/es/translations.json
  libs/i18n-labels/en/datasets.json
  libs/i18n-labels/es/datasets.json
  libs/i18n-labels/fr/datasets.json
  libs/i18n-labels/id/datasets.json
  libs/i18n-labels/pt/datasets.json
  libs/i18n-labels/source/datasets.json
  libs/i18n-labels/val/datasets.json
Labels: fishing-map, i18n-labels

#1774 Add a hint to WhatsNew when viewing a new major or minor version
  apps/fishing-map/features/sidebar/CategoryTabs.tsx
  apps/fishing-map/features/sidebar/WhatsNew.module.css
  apps/fishing-map/features/sidebar/WhatsNew.tsx
  apps/fishing-map/package.json
  apps/fishing-map/public/locales/source/translations.json
Labels: fishing-map

#1729 Timebar/temporal resolution selector
  apps/deck-playground/features/timebar/Timebar.tsx
  apps/fishing-map/data/config.ts
  apps/fishing-map/features/analysis/AnalysisEvolutionGraph.tsx
  apps/fishing-map/features/analysis/analysis.utils.ts
  apps/fishing-map/features/datasets/datasets.utils.ts
  apps/fishing-map/features/dataviews/dataviews.selectors.ts
  apps/fishing-map/features/editor/DataviewEditor.tsx
  apps/fishing-map/features/i18n/i18nDate.tsx
  apps/fishing-map/features/map/popups/VesselsTable.tsx
  apps/fishing-map/features/timebar/Timebar.tsx
  apps/fishing-map/features/timebar/TimebarActivityGraph.hooks.ts
  apps/fishing-map/features/timebar/TimebarActivityGraph.tsx
  apps/fishing-map/features/timebar/timebar.selectors.ts
  apps/fishing-map/features/workspace/environmental/environmental.hooks.ts
  apps/fourwings-explorer/features/analysis/AnalysisEvolutionGraph.tsx
  apps/fourwings-explorer/features/analysis/analysis.utils.ts
  apps/fourwings-explorer/features/timebar/Timebar.tsx
  libs/dataviews-client/src/resolve-dataviews-generators.ts
  libs/features-aggregate/src/timeseries.ts
  libs/fourwings-aggregate/src/aggregate-cell.ts
  libs/fourwings-aggregate/src/util.ts
  libs/i18n-labels/en/timebar.json
  libs/i18n-labels/es/timebar.json
  libs/i18n-labels/fr/timebar.json
  libs/i18n-labels/id/timebar.json
  libs/i18n-labels/pt/timebar.json
  libs/i18n-labels/source/timebar.json
  libs/layer-composer/src/generators/heatmap/config.ts
  libs/layer-composer/src/generators/heatmap/types.ts
  libs/layer-composer/src/generators/heatmap/util/fetch-breaks.ts
  libs/layer-composer/src/generators/heatmap/util/get-legends.ts
  libs/layer-composer/src/generators/heatmap/util/get-time-chunks-interval.ts
  libs/layer-composer/src/generators/heatmap/util/time-chunks.ts
  libs/timebar/src/components/interval-selector.module.css
  libs/timebar/src/components/interval-selector.tsx
  libs/timebar/src/components/timeline.js
  libs/timebar/src/components/timerange-selector.js
  libs/timebar/src/components/timerange-selector.module.css
  libs/timebar/src/constants.ts
  libs/timebar/src/timebar-settings.css
  libs/timebar/src/timebar.js
  libs/timebar/src/timebar.module.css
  libs/timebar/src/utils/internal-utils.ts
  libs/ui-components/src/input-date/InputDate.tsx
  libs/ui-components/src/select/Select.module.css
Labels: fishing-map, timebar, dataviews-client, layer-composer, i18n-labels, fourwings-aggregate, deploy-pro, features-aggregate

#1642 Improve the landing page during vessel searches in vessel viewer // VV-451
  apps/vessel-history/features/home/Home.tsx
  apps/vessel-history/features/search/AdvancedSearch.tsx
  apps/vessel-history/features/search/SearchPlaceholders.tsx
  apps/vessel-history/features/search/search.selectors.ts
  apps/vessel-history/features/search/search.slice.ts
  apps/vessel-history/features/search/search.thunk.ts
  apps/vessel-history/public/locales/source/translations.json
Labels: vessel-history, deploy-dev

#1783 New Crowdin updates
  apps/fishing-map/public/locales/en/translations.json
  apps/fishing-map/public/locales/es/translations.json
  apps/fishing-map/public/locales/fr/translations.json
  apps/fishing-map/public/locales/id/translations.json
  apps/fishing-map/public/locales/pt/translations.json
  apps/fishing-map/public/locales/val/translations.json
Labels: fishing-map

#1788 Ocean areas/mpas
  apps/fishing-map/data/default-workspaces/marine-manager.ts
  apps/fishing-map/data/default-workspaces/workspace.development.ts
  apps/fishing-map/data/default-workspaces/workspace.production.ts
  apps/fishing-map/data/workspaces.ts
  apps/fishing-map/features/workspaces-list/WorkspaceWizard.module.css
  apps/fishing-map/features/workspaces-list/WorkspaceWizard.tsx
  apps/fishing-map/public/locales/source/translations.json
  libs/ocean-areas/package.json
  libs/ocean-areas/src/data/areas.ts
  libs/ocean-areas/src/data/geometries.ts
  libs/ocean-areas/src/data/locales/source.json
  libs/ocean-areas/src/data/mpas.ts
  libs/ocean-areas/src/data/source/top1000mpa.json
  libs/ocean-areas/src/ocean-areas.ts
  libs/ocean-areas/src/scripts/mpas.ts
  libs/ocean-areas/src/scripts/names.ts
  libs/ocean-areas/tsconfig.node.json
  libs/ocean-areas/yarn.lock
  libs/ui-components/package.json
Labels: fishing-map, ocean-areas

#1780 Fishing map/workspaces wizard
  apps/fishing-map/data/default-workspaces/marine-manager.ts
  apps/fishing-map/data/default-workspaces/workspace.development.ts
  apps/fishing-map/data/default-workspaces/workspace.production.ts
  apps/fishing-map/data/workspaces.ts
  apps/fishing-map/features/analysis/Analysis.tsx
  apps/fishing-map/features/analysis/analysis.hooks.ts
  apps/fishing-map/features/analysis/analysis.selectors.ts
  apps/fishing-map/features/areas/areas.slice.ts
  apps/fishing-map/features/dataviews/dataviews.slice.ts
  apps/fishing-map/features/download/DownloadActivityByVessel.tsx
  apps/fishing-map/features/download/DownloadActivityGridded.tsx
  apps/fishing-map/features/download/download.selectors.ts
  apps/fishing-map/features/download/downloadActivity.slice.ts
  apps/fishing-map/features/map/Map.tsx
  apps/fishing-map/features/map/map-viewport.hooks.ts
  apps/fishing-map/features/map/map.selectors.ts
  apps/fishing-map/features/map/popups/ContextLayers.hooks.ts
  apps/fishing-map/features/timebar/timebar.hooks.ts
  apps/fishing-map/features/workspace/Workspace.tsx
  apps/fishing-map/features/workspaces-list/WorkspaceWizard.module.css
  apps/fishing-map/features/workspaces-list/WorkspaceWizard.tsx
  apps/fishing-map/features/workspaces-list/WorkspacesList.module.css
  apps/fishing-map/features/workspaces-list/WorkspacesList.tsx
  apps/fishing-map/package.json
  apps/fishing-map/public/locales/source/translations.json
  apps/fishing-map/routes/routes.selectors.ts
  apps/vessel-history/package.json
  libs/api-types/src/workspaces.ts
  libs/dataviews-client/src/resolve-dataviews-generators.ts
  libs/layer-composer/src/generators/context/context.ts
  libs/layer-composer/src/generators/context/context.utils.ts
  libs/layer-composer/src/generators/index.ts
  libs/ocean-areas/package.json
  libs/ocean-areas/src/data/areas.ts
  libs/ocean-areas/src/data/geometries.ts
  libs/ocean-areas/src/data/locales/source.json
  libs/ocean-areas/src/data/mpas.ts
  libs/ocean-areas/src/data/source/top1000mpa.json
  libs/ocean-areas/src/ocean-areas.ts
  libs/ocean-areas/src/scripts/mpas.ts
  libs/ocean-areas/src/scripts/names.ts
  libs/ocean-areas/tsconfig.node.json
  libs/ocean-areas/yarn.lock
  libs/ui-components/package.json
  libs/ui-components/src/assets/icons/magic.svg
  libs/ui-components/src/icon/Icon.tsx
  package.json
  yarn.lock
Labels: fishing-map, vessel-history, dataviews-client, layer-composer, api-types, ocean-areas, deploy-dev

#1789 New Crowdin updates
  apps/fishing-map/public/locales/en/translations.json
  apps/fishing-map/public/locales/es/translations.json
  apps/fishing-map/public/locales/fr/translations.json
  apps/fishing-map/public/locales/id/translations.json
  apps/fishing-map/public/locales/pt/translations.json
  apps/fishing-map/public/locales/val/translations.json
  libs/ocean-areas/src/data/locales/en.json
  libs/ocean-areas/src/data/locales/es.json
  libs/ocean-areas/src/data/locales/fr.json
  libs/ocean-areas/src/data/locales/id.json
  libs/ocean-areas/src/data/locales/pt.json
  libs/ocean-areas/src/data/locales/val.json
Labels: fishing-map, ocean-areas

#1790 New Crowdin updates
  apps/fishing-map/public/locales/es/translations.json
  libs/i18n-labels/en/datasets.json
Labels: fishing-map, i18n-labels

#1782 update reference from "AIS transmissions" to "AIS positions" in line with change in search result in VV-489
  apps/vessel-history/features/vessel-list-item/components/RelatedVesselListItem.tsx
  apps/vessel-history/public/locales/en/translations.json
  apps/vessel-history/public/locales/source/translations.json
Labels: vessel-history, deploy-dev

#1794 Allow users to change the color of activity layers
  apps/fishing-map/features/workspace/activity/ActivityLayerPanel.tsx
Labels: fishing-map, deploy-dev

#1795 move histogram filter to activity filters
  apps/fishing-map/features/hints/HelpHub.tsx
  apps/fishing-map/features/workspace/activity/ActivityFilters.tsx
  apps/fishing-map/features/workspace/environmental/EnvironmentalLayerPanel.tsx
  apps/fishing-map/features/workspace/environmental/HistogramRangeFilter.tsx
  apps/fishing-map/public/locales/source/translations.json
Labels: fishing-map

#1785 Upgrade to nx 15 and next 13
  apps/api-portal/project.json
  apps/deck-playground/project.json
  apps/fishing-map-e2e/cypress.config.ts
  apps/fishing-map-e2e/project.json
  apps/fishing-map/project.json
  apps/fourwings-explorer/features/datasets/DatasetsLibraryLocal.tsx
  apps/fourwings-explorer/features/datasets/DatasetsLibraryModal.tsx
  apps/fourwings-explorer/project.json
  apps/port-labeler/project.json
  apps/tile-inspector/project.json
  apps/user-groups-admin/project.json
  apps/vessel-history/features/map/Map.tsx
  apps/vessel-history/next.config.js
  apps/vessel-history/package.json
  apps/vessel-history/pages/_app.tsx
  apps/vessel-history/project.json
  libs/api-client/jest.config.ts
  libs/api-client/project.json
  libs/api-types/jest.config.ts
  libs/api-types/project.json
  libs/data-transforms/jest.config.ts
  libs/data-transforms/project.json
  libs/dataviews-client/jest.config.ts
  libs/dataviews-client/project.json
  libs/features-aggregate/jest.config.ts
  libs/features-aggregate/project.json
  libs/fourwings-aggregate/jest.config.ts
  libs/fourwings-aggregate/project.json
  libs/i18n-labels/jest.config.ts
  libs/i18n-labels/project.json
  libs/layer-composer/jest.config.ts
  libs/layer-composer/project.json
  libs/ocean-areas/jest.config.ts
  libs/ocean-areas/project.json
  libs/pbf-decoders/jest.config.ts
  libs/pbf-decoders/project.json
  libs/react-hooks/jest.config.ts
  libs/react-hooks/project.json
  libs/timebar/jest.config.ts
  libs/timebar/project.json
  libs/ui-components/jest.config.ts
  libs/ui-components/project.json
  migrations.json
  nx.json
  package.json
  tools/generators/app/files/project.json__tmpl__
  tools/generators/minisite/files/project.json__tmpl__
  workspace.json
  yarn.lock
Labels: fishing-map, vessel-history, timebar, dataviews-client, layer-composer, i18n-labels, api-portal, port-labeler, tile-inspector, user-groups-admin, react-hooks, api-client, api-types, data-transforms, fourwings-aggregate, ocean-areas, pbf-decoders, deploy-dev, features-aggregate

#1792 Track VV clicks in Activity by Type and Risk Summary tabs VV-513
  apps/vessel-history/features/activity-by-type/activity-by-type.tsx
  apps/vessel-history/features/profile/Profile.tsx
  apps/vessel-history/features/risk-identity-indicator/risk-identity-indicator.tsx
  apps/vessel-history/features/risk-indicator/risk-indicator.tsx
  apps/vessel-history/features/risk-iuu-indicator/risk-iuu-indicator.tsx
  apps/vessel-history/features/risk-summary/risk-summary.tsx
Labels: vessel-history

#1798 avoid ezz regions without id VV-525
  apps/vessel-history/features/vessels/activity/vessels-activity.selectors.ts
Labels: vessel-history

#1800 New Crowdin updates
  apps/fishing-map/public/locales/en/translations.json
  apps/fishing-map/public/locales/es/translations.json
  apps/fishing-map/public/locales/fr/translations.json
  apps/fishing-map/public/locales/id/translations.json
  apps/fishing-map/public/locales/pt/translations.json
  apps/fishing-map/public/locales/val/translations.json
Labels: fishing-map

#1801 New Crowdin updates
  apps/fishing-map/public/locales/en/translations.json
  apps/fishing-map/public/locales/es/translations.json
  apps/fishing-map/public/locales/fr/translations.json
  apps/fishing-map/public/locales/id/translations.json
  apps/fishing-map/public/locales/pt/translations.json
  apps/fishing-map/public/locales/val/translations.json
  libs/i18n-labels/en/datasets.json
  libs/i18n-labels/es/datasets.json
  libs/i18n-labels/fr/datasets.json
  libs/i18n-labels/id/datasets.json
  libs/i18n-labels/pt/datasets.json
  libs/i18n-labels/source/datasets.json
  libs/i18n-labels/val/datasets.json
Labels: fishing-map, i18n-labels

#1802 Fixed ESLint couldn't determine the plugin "react" uniquely.
  apps/api-portal/package.json
  apps/deck-playground/package.json
  apps/fishing-map/package.json
  apps/fourwings-explorer/package.json
  apps/port-labeler/package.json
  apps/user-groups-admin/package.json
  tools/generators/app/files/package.json__tmpl__
  tools/generators/minisite/files/package.json__tmpl__
  yarn.lock
Labels: fishing-map, api-portal, port-labeler, user-groups-admin, deploy-dev

#1805 Changed rfmo dataset to public-rfmo
  apps/vessel-history/features/dataviews/dataviews.config.ts
  apps/vessel-history/features/regions/regions.slice.ts
  libs/i18n-labels/en/datasets.json
  libs/i18n-labels/es/datasets.json
  libs/i18n-labels/fr/datasets.json
  libs/i18n-labels/id/datasets.json
  libs/i18n-labels/pt/datasets.json
  libs/i18n-labels/source/datasets.json
  libs/i18n-labels/val/datasets.json
Labels: vessel-history, i18n-labels, deploy-dev

#1807 Cleanup rfmo datasets translations
  libs/i18n-labels/en/datasets.json
  libs/i18n-labels/es/datasets.json
  libs/i18n-labels/fr/datasets.json
  libs/i18n-labels/id/datasets.json
  libs/i18n-labels/pt/datasets.json
  libs/i18n-labels/source/datasets.json
  libs/i18n-labels/val/datasets.json
Labels: i18n-labels

#1803 Download vessel activity in CSV format. VV-514
  apps/vessel-history/feature/download-activity/download-activity.hook.ts
  apps/vessel-history/feature/download-activity/download-activity.module.css
  apps/vessel-history/feature/download-activity/download-activity.tsx
  apps/vessel-history/features/event-filters/EventFilters.tsx
  apps/vessel-history/features/event-filters/EventFiltersButton.tsx
  apps/vessel-history/features/event-filters/filters.selectors.ts
  apps/vessel-history/features/profile/filters/ActivityFilters.tsx
  apps/vessel-history/features/vessels/voyages/voyages.hook.ts
  apps/vessel-history/features/vessels/voyages/voyages.selectors.ts
  apps/vessel-history/package.json
  apps/vessel-history/public/locales/source/translations.json
  apps/vessel-history/public/readme.csv.activity.en.pdf
  apps/vessel-history/public/readme.csv.activity.fr.pdf
  yarn.lock
Labels: vessel-history, deploy-dev
