Repository GlobalFishingWatch/frontend, pull requests merged in 2022-10, with the labels that each got.

#1722 Fixed issue with non TMT vessels
  apps/vessel-history/features/profile/components/Info.tsx
  apps/vessel-history/features/risk-summary/risk-summary.tsx
  apps/vessel-history/features/vessels/sources/gfw.slice.ts
Labels: vessel-history

#1725 Add data and terminology on activity by type. VV-498
  apps/vessel-history/features/activity-by-type/activity-by-type.tsx
Labels: vessel-history

#1719 Remove User-Id from the values sent to Google Analytics from the apps VV-438
  apps/fishing-map/features/app/analytics.hooks.ts
  apps/port-labeler/features/app/analytics.hooks.ts
  apps/vessel-history/features/app/analytics.hooks.ts
Labels: fishing-map, vessel-history, port-labeler

#1650 As a user I want to search for a port or anchorage both in country or global view LABELER-126
  apps/port-labeler/features/search/Search.module.css
  apps/port-labeler/features/search/Search.tsx
  apps/port-labeler/features/search/search.hooks.ts
  apps/port-labeler/features/sidebar/SidebarHeader.tsx
  apps/port-labeler/features/table-anchorage/TableRow.tsx
Labels: port-labeler, deploy-dev

#1730 Fishing map/clusters dynamic ramps
  apps/fishing-map/features/map/map-sources.hooks.ts
  apps/fishing-map/features/map/map-sources.utils.ts
  apps/fishing-map/features/timebar/TimebarActivityGraph.hooks.ts
  apps/fishing-map/features/workspace/events/EventsLayerPanel.tsx
  apps/fishing-map/features/workspace/events/events.hooks.ts
  libs/data-transforms/src/features/filter-features-by-bounds.ts
  libs/dataviews-client/src/resolve-dataviews-generators.ts
  libs/layer-composer/src/generators/index.ts
  libs/layer-composer/src/generators/tile-cluster/config.ts
  libs/layer-composer/src/generators/tile-cluster/tile-cluster.ts
  libs/layer-composer/src/generators/types.ts
  libs/layer-composer/src/types/index.ts
Labels: fishing-map, dataviews-client, layer-composer, data-transforms, deploy-dev

#1727 User feedback improvements
  apps/fishing-map/data/default-workspaces/workspace.development.ts
  apps/fishing-map/data/default-workspaces/workspace.production.ts
  apps/fishing-map/features/datasets/NewDatasetTooltip.tsx
  apps/fishing-map/features/download/DownloadActivityModal.tsx
  apps/fishing-map/features/workspace/Workspace.module.css
  apps/fishing-map/features/workspace/Workspace.tsx
  apps/fishing-map/features/workspace/context-areas/ContextAreaLayerPanel.tsx
  apps/fishing-map/features/workspace/environmental/EnvironmentalLayerPanel.tsx
  apps/fishing-map/features/workspace/events/EventsLayerPanel.tsx
  apps/fishing-map/public/locales/en/translations.json
  apps/fishing-map/public/locales/source/translations.json
  libs/api-client/src/api-client.ts
Labels: fishing-map, api-client, deploy-dev

#1731 New Crowdin updates
  apps/fishing-map/public/locales/en/translations.json
  apps/fishing-map/public/locales/es/translations.json
  apps/fishing-map/public/locales/fr/translations.json
  apps/fishing-map/public/locales/id/translations.json
  apps/fishing-map/public/locales/pt/translations.json
  apps/fishing-map/public/locales/val/translations.json
Labels: fishing-map

#1736 New Crowdin updates
  apps/fishing-map/public/locales/es/translations.json
  libs/i18n-labels/en/datasets.json
  libs/i18n-labels/es/datasets.json
Labels: fishing-map, i18n-labels

#1737 Fishing map/guide screenshots feedback
  apps/fishing-map/features/analysis/analysisDescription.hooks.ts
  apps/fishing-map/features/app/app.selectors.ts
  apps/fishing-map/features/map/popups/EnvironmentLayers.tsx
Labels: fishing-map

#1740 Fixed Small scale vessel's tracks are being simplified too much that they cross land. MAP-997
  libs/api-client/src/utils/thinning.ts
  libs/api-types/src/datasets.ts
Labels: fishing-map, api-client, api-types, deploy-dev

#1741 Revert d3 dependencies update breaking tests
  apps/fishing-map/package.json
  apps/tile-inspector/package.json
  apps/vessel-history/package.json
  libs/layer-composer/package.json
  libs/timebar/package.json
  libs/ui-components/package.json
  package.json
  yarn.lock
Labels: fishing-map, vessel-history, timebar, layer-composer, tile-inspector

#1734 Display port visits as one event (entry and exit) in Vessel Viewer for insurers. VV-426
  apps/vessel-history/features/activity-by-type/activity-by-type.hook.ts
  apps/vessel-history/features/activity-by-type/activity-by-type.selectors.ts
  apps/vessel-history/features/activity-by-type/activity-by-type.tsx
  apps/vessel-history/features/profile/components/activity/Activity.module.css
  apps/vessel-history/features/profile/components/activity/ActivityEvent.tsx
  apps/vessel-history/features/profile/components/activity/ActivityEventPortVisit.tsx
  apps/vessel-history/features/profile/components/activity/ActivityItem.tsx
  apps/vessel-history/features/resources/resources.slice.ts
  apps/vessel-history/features/vessels/activity/vessels-activity.selectors.ts
  apps/vessel-history/public/locales/source/translations.json
  apps/vessel-history/types/activity.ts
Labels: vessel-history, deploy-dev

#1743 New Crowdin updates
  apps/vessel-history/public/locales/en/translations.json
  apps/vessel-history/public/locales/es/translations.json
  apps/vessel-history/public/locales/fr/translations.json
  apps/vessel-history/public/locales/id/translations.json
  apps/vessel-history/public/locales/pt/translations.json
  apps/vessel-history/public/locales/val/translations.json
  libs/i18n-labels/source/datasets.json
Labels: vessel-history, i18n-labels

#1744 Fixed merged vessel name in search results. VV-510
  apps/vessel-history/features/search/search.utils.ts
Labels: vessel-history

#1745 Display start or end anchorage port name when intermediate is empty. VV-426
  apps/vessel-history/features/activity-by-type/activity-by-type.selectors.ts
  apps/vessel-history/features/vessels/activity/vessels-activity.selectors.ts
Labels: vessel-history

#1746 Removed unnecessary double quote in translations. VV-490
  apps/vessel-history/public/locales/en/translations.json
  apps/vessel-history/public/locales/es/translations.json
  apps/vessel-history/public/locales/fr/translations.json
  apps/vessel-history/public/locales/id/translations.json
  apps/vessel-history/public/locales/pt/translations.json
  apps/vessel-history/public/locales/source/translations.json
Labels: vessel-history

#1748 🚀 Release - Vessel Viewer v1.3.1
  apps/fishing-map/package.json
  apps/tile-inspector/package.json
  apps/vessel-history/features/activity-by-type/activity-by-type.hook.ts
  apps/vessel-history/features/activity-by-type/activity-by-type.selectors.ts
  apps/vessel-history/features/activity-by-type/activity-by-type.tsx
  apps/vessel-history/features/profile/components/activity/Activity.module.css
  apps/vessel-history/features/profile/components/activity/ActivityEvent.tsx
  apps/vessel-history/features/profile/components/activity/ActivityEventPortVisit.tsx
  apps/vessel-history/features/profile/components/activity/ActivityItem.tsx
  apps/vessel-history/features/resources/resources.slice.ts
  apps/vessel-history/features/search/search.utils.ts
  apps/vessel-history/features/vessels/activity/vessels-activity.selectors.ts
  apps/vessel-history/package.json
  apps/vessel-history/public/locales/en/translations.json
  apps/vessel-history/public/locales/es/translations.json
  apps/vessel-history/public/locales/fr/translations.json
  apps/vessel-history/public/locales/id/translations.json
  apps/vessel-history/public/locales/pt/translations.json
  apps/vessel-history/public/locales/source/translations.json
  apps/vessel-history/public/locales/val/translations.json
  apps/vessel-history/types/activity.ts
  libs/api-client/src/utils/thinning.ts
  libs/api-types/src/datasets.ts
  libs/i18n-labels/CHANGELOG.md
  libs/i18n-labels/package.json
  libs/i18n-labels/source/datasets.json
  libs/layer-composer/package.json
  libs/timebar/package.json
  libs/ui-components/package.json
  package.json
  yarn.lock
Labels: fishing-map, vessel-history, timebar, layer-composer, i18n-labels, tile-inspector, api-client, api-types

#1749 Master to Develop
  apps/vessel-history/package.json
Labels: vessel-history
