Repository GlobalFishingWatch/frontend, pull requests merged in 2022-08, with the labels that each got.

#1579 Global env layers
  apps/fishing-map/data/dataviews.md
  apps/fishing-map/data/workspaces.ts
  apps/fishing-map/features/workspace/environmental/environmental.hooks.ts
  libs/dataviews-client/src/resolve-dataviews-generators.ts
  libs/fourwings-aggregate/package.json
  libs/fourwings-aggregate/src/aggregate-cell.ts
  libs/fourwings-aggregate/src/aggregate-tile.ts
  libs/fourwings-aggregate/src/util.ts
  libs/layer-composer/src/generators/heatmap/modes/gridded.ts
Labels: fishing-map, dataviews-client, layer-composer, fourwings-aggregate

#1578 Move 'RFMO IUU status' from INFO tab to RISK SUMMARY tab in Vessel Viewer. VV-410
  apps/vessel-history/data/config.ts
  apps/vessel-history/features/profile/Profile.tsx
  apps/vessel-history/features/profile/components/Info.tsx
  apps/vessel-history/features/profile/profile.selectors.ts
  apps/vessel-history/features/risk-indicator/risk-indicator.hook.ts
  apps/vessel-history/features/risk-indicator/risk-indicator.selectors.ts
  apps/vessel-history/features/risk-indicator/risk-indicator.slice.ts
  apps/vessel-history/features/risk-summary/risk-summary.tsx
  apps/vessel-history/features/risk-title/risk-title.tsx
  apps/vessel-history/features/risk/risk.hook.ts
  apps/vessel-history/features/risk/risk.selectors.ts
  apps/vessel-history/features/terminology/__snapshots__/terminology-iuu.spec.tsx.snap
  apps/vessel-history/features/terminology/terminology-iuu.spec.tsx
  apps/vessel-history/features/terminology/terminology-iuu.tsx
  apps/vessel-history/features/terminology/terminology.module.css
  apps/vessel-history/features/user/user.hooks.ts
  apps/vessel-history/public/locales/source/translations.json
  apps/vessel-history/types/risk-indicator.ts
Labels: vessel-history, deploy-dev

#1586 Fishing map/release bug fixing
  apps/fishing-map/features/user/UserWorkspaces.tsx
  apps/fishing-map/features/vessel-groups/vessel-groups.slice.ts
Labels: fishing-map

#1554 show basemap labels as a reference layer
  apps/fishing-map/data/default-workspaces/workspace.development.ts
  apps/fishing-map/data/workspaces.ts
  apps/fishing-map/features/dataviews/dataviews.selectors.ts
  apps/fishing-map/features/debug/DebugMenu.tsx
  apps/fishing-map/features/i18n/LanguageToggle.tsx
  apps/fishing-map/features/map/map.hooks.ts
  apps/fishing-map/features/user/GFWOnly.tsx
  apps/fishing-map/features/workspace/common/Title.tsx
  apps/fishing-map/features/workspace/context-areas/ContextAreaLayerPanel.tsx
  apps/fishing-map/features/workspace/shared/LayerPanel.module.css
  apps/fishing-map/features/workspace/workspace.slice.ts
  apps/fishing-map/public/locales/en/translations.json
  apps/fishing-map/public/locales/source/translations.json
  libs/layer-composer/src/generators/basemap-labels/basemap-labels-layers.ts
  libs/layer-composer/src/generators/basemap-labels/basemap-labels.ts
  libs/layer-composer/src/generators/basemap/basemap-layers.ts
  libs/layer-composer/src/generators/basemap/basemap.ts
  libs/layer-composer/src/generators/index.ts
  libs/layer-composer/src/generators/types.ts
Labels: fishing-map, layer-composer, deploy-dev

#1589 New Crowdin updates
  apps/fishing-map/public/locales/en/translations.json
  apps/fishing-map/public/locales/es/translations.json
  apps/fishing-map/public/locales/fr/translations.json
  apps/fishing-map/public/locales/id/translations.json
  apps/fishing-map/public/locales/pt/translations.json
  apps/fishing-map/public/locales/val/translations.json
Labels: fishing-map

#1582 Display Forced Labour Risk Model score in INFO tab of Vessel Viewer // vv-391
  apps/vessel-history/features/profile/components/ForcedLabor.module.css
  apps/vessel-history/features/profile/components/ForcedLabor.tsx
  apps/vessel-history/features/profile/components/Info.module.css
  apps/vessel-history/features/profile/components/Info.tsx
  apps/vessel-history/public/locales/en/translations.json
  apps/vessel-history/public/locales/source/translations.json
  apps/vessel-history/types/index.ts
Labels: vessel-history, deploy-dev

#1590 clean up log
  apps/vessel-history/features/profile/components/ForcedLabor.tsx
  apps/vessel-history/features/profile/components/Info.tsx
Labels: vessel-history

#1580 Add new feature to VV Activity tab to include summary statistics. VV-400
  apps/vessel-history/data/config.ts
  apps/vessel-history/features/activity-by-type/activity-by-type.hook.ts
  apps/vessel-history/features/activity-by-type/activity-by-type.module.css
  apps/vessel-history/features/activity-by-type/activity-by-type.tsx
  apps/vessel-history/features/dataviews/dataviews.selectors.ts
  apps/vessel-history/features/dataviews/dataviews.utils.ts
  apps/vessel-history/features/profile/Profile.tsx
  apps/vessel-history/features/profile/components/activity/Activity.module.css
  apps/vessel-history/features/profile/components/activity/ActivityGroup.tsx
  apps/vessel-history/features/resources/resources.selectors.ts
  apps/vessel-history/features/vessels/activity/vessels-activity.selectors.ts
  apps/vessel-history/public/locales/en/translations.json
  apps/vessel-history/public/locales/source/translations.json
  apps/vessel-history/types/activity.ts
Labels: vessel-history, deploy-dev

#1585 Display risk indicator for CHANGE IN OPERATOR in VV-Insurance. VV-414
  apps/vessel-history/features/i18n/i18nDate.tsx
  apps/vessel-history/features/risk-indicator/risk-indicator.hook.ts
  apps/vessel-history/features/risk-indicator/risk-indicator.selectors.ts
  apps/vessel-history/features/risk-summary/risk-summary.tsx
  apps/vessel-history/public/locales/en/translations.json
  apps/vessel-history/public/locales/source/translations.json
  apps/vessel-history/types/risk-indicator.ts
Labels: vessel-history, deploy-dev

#1592 remove 1year stats limit
  apps/fishing-map/features/workspace/activity/ActivityLayerPanel.tsx
  apps/fishing-map/queries/stats-api.ts
Labels: fishing-map, deploy-dev

#1594 fix reported cases source property // VV-391
  apps/vessel-history/features/profile/components/ForcedLabor.tsx
  apps/vessel-history/types/index.ts
Labels: vessel-history, deploy-dev

#1595 change forced labor model to 2020 // VV-391
  apps/vessel-history/data/config.ts
  apps/vessel-history/features/profile/components/ForcedLabor.module.css
  apps/vessel-history/features/profile/components/ForcedLabor.tsx
  apps/vessel-history/public/locales/en/translations.json
  apps/vessel-history/public/locales/source/translations.json
Labels: vessel-history

#1381 UX Improvements. VV-429
  apps/vessel-history/features/search/AdvancedSearch.module.css
  apps/vessel-history/features/search/AdvancedSearch.tsx
  apps/vessel-history/public/locales/source/translations.json
  libs/ui-components/src/button/Button.tsx
  libs/ui-components/src/icon-button/IconButton.tsx
  libs/ui-components/src/input-date/InputDate.tsx
  libs/ui-components/src/input-text/InputText.tsx
  libs/ui-components/src/multi-select/MultiSelect.tsx
  libs/ui-components/src/select/Select.tsx
  libs/ui-components/src/textarea/TextArea.tsx
Labels: vessel-history, deploy-dev

#1597 Fix failing VV build missing translation source for forcedLabourModelAvailability
  apps/vessel-history/public/locales/source/translations.json
Labels: vessel-history, deploy-dev

#1598 Display AIS coverage metric in Vessel Viewer // VV-419
  apps/vessel-history/features/activity-by-type/activity-by-type.tsx
  apps/vessel-history/features/profile/components/Info.tsx
  apps/vessel-history/features/profile/components/activity/Activity.module.css
  apps/vessel-history/features/profile/components/activity/Activity.tsx
  apps/vessel-history/features/profile/components/activity/AisCoverage.tsx
  apps/vessel-history/features/risk-indicator/risk-indicator.hook.ts
  apps/vessel-history/features/risk-indicator/risk-indicator.selectors.ts
  apps/vessel-history/features/risk-summary/risk-summary.tsx
  apps/vessel-history/features/terminology/terminology-ais-coverage.tsx
  apps/vessel-history/public/locales/en/translations.json
  apps/vessel-history/public/locales/source/translations.json
  apps/vessel-history/types/risk-indicator.ts
  libs/ui-components/src/index.ts
  libs/ui-components/src/progress-bar/ProgressBar.module.css
  libs/ui-components/src/progress-bar/ProgressBar.tsx
  libs/ui-components/src/progress-bar/index.ts
Labels: vessel-history, deploy-dev

#1601 test full dataset id migration
  libs/dataviews-client/src/url-workspace.ts
Labels: dataviews-client

#1596 Added risk indicator for intentional AIS disabling. VV-432
  apps/vessel-history/features/risk-indicator/risk-indicator.hook.ts
  apps/vessel-history/features/risk-indicator/risk-indicator.selectors.ts
  apps/vessel-history/features/risk-summary/risk-summary.tsx
  apps/vessel-history/features/terminology/__snapshots__/terminology-ais-disabling.spec.tsx.snap
  apps/vessel-history/features/terminology/terminology-ais-disabling.spec.tsx
  apps/vessel-history/features/terminology/terminology-ais-disabling.tsx
  apps/vessel-history/public/locales/en/translations.json
  apps/vessel-history/public/locales/source/translations.json
  apps/vessel-history/types/risk-indicator.ts
Labels: vessel-history

#1607 Display risk indicator for INTENTIONAL DISABLING events in Vessel Viewer Risk Summary VV-432
  apps/vessel-history/features/terminology/__snapshots__/terminology-ais-disabling.spec.tsx.snap
  apps/vessel-history/features/terminology/terminology-ais-disabling.tsx
  apps/vessel-history/public/locales/source/translations.json
Labels: vessel-history, deploy-dev

#1602 support vessels with no track
  .vscode/settings.json
  apps/fishing-map/features/datasets/datasets.utils.ts
  apps/fishing-map/features/dataviews/dataviews.utils.ts
  apps/fishing-map/features/map/map.slice.ts
  apps/fishing-map/features/resources/resources.utils.ts
  apps/fishing-map/features/timebar/Timebar.tsx
  apps/fishing-map/features/timebar/TimebarSettings.tsx
  apps/fishing-map/features/timebar/timebar.selectors.ts
  apps/fishing-map/features/workspace/shared/Sections.module.css
  apps/fishing-map/features/workspace/vessels/VesselsSection.tsx
  apps/fishing-map/features/workspace/workspace.hook.ts
  apps/fishing-map/features/workspace/workspace.slice.ts
  apps/fishing-map/public/locales/source/translations.json
  apps/fishing-map/routes/routes.actions.ts
  libs/dataviews-client/src/resources/get-resources.ts
  libs/timebar/src/charts/tracks.tsx
Labels: fishing-map, timebar, dataviews-client, deploy-dev

#1591 New Crowdin updates
  apps/vessel-history/public/locales/en/translations.json
  apps/vessel-history/public/locales/es/translations.json
  apps/vessel-history/public/locales/fr/translations.json
  apps/vessel-history/public/locales/id/translations.json
  apps/vessel-history/public/locales/pt/translations.json
  apps/vessel-history/public/locales/val/translations.json
Labels: vessel-history

#1609 New Crowdin updates
  apps/fishing-map/public/locales/en/translations.json
  apps/fishing-map/public/locales/es/translations.json
  apps/fishing-map/public/locales/fr/translations.json
  apps/fishing-map/public/locales/id/translations.json
  apps/fishing-map/public/locales/pt/translations.json
  apps/fishing-map/public/locales/val/translations.json
Labels: fishing-map

#1610 Fix analytics key from env missing in prod build
  apps/vessel-history/cloudbuild.yaml
Labels: vessel-history

#1611 New Crowdin updates
  libs/i18n-labels/en/datasets.json
  libs/i18n-labels/es/datasets.json
  libs/i18n-labels/fr/datasets.json
  libs/i18n-labels/id/datasets.json
  libs/i18n-labels/pt/datasets.json
  libs/i18n-labels/source/datasets.json
  libs/i18n-labels/val/datasets.json
Labels: i18n-labels

#1615 Add data and terminology popup and date range on activity by type. VV-444. VV-427
  apps/vessel-history/features/activity-by-type/activity-by-type.module.css
  apps/vessel-history/features/activity-by-type/activity-by-type.tsx
  apps/vessel-history/features/event-filters/EventFiltersButton.module.css
  apps/vessel-history/features/event-filters/EventFiltersButton.tsx
  apps/vessel-history/features/filters-label/filters-label.module.css
  apps/vessel-history/features/filters-label/filters-label.tsx
  apps/vessel-history/features/profile/components/activity/Activity.module.css
  apps/vessel-history/features/profile/components/activity/Activity.tsx
Labels: vessel-history, deploy-dev

#1613 Toggle layers for VV map not showing // VV-441
  apps/vessel-history/features/dataviews/dataviews.hook.ts
  apps/vessel-history/features/dataviews/dataviews.selectors.ts
  apps/vessel-history/features/map/map.selectors.ts
  apps/vessel-history/features/workspace/workspace.hook.ts
  apps/vessel-history/routes/routes.selectors.ts
  libs/dataviews-client/src/resolve-dataviews-generators.ts
Labels: vessel-history, dataviews-client, deploy-dev

#1616 Display MPA and RFMO layers by default on VV map. VV-446
  apps/vessel-history/features/dataviews/dataviews.config.ts
Labels: vessel-history

#1619 fix unknown vessel info when logged
  apps/fishing-map/features/datasets/datasets.utils.ts
Labels: :rocket: release

#1620 Fix to not filter rfmos by auth status, already done on indicators endpoint. VV-385
  apps/vessel-history/features/risk-indicator/risk-indicator.selectors.ts
Labels: vessel-history

#1621 Do not display ais coverage metric for port inspectors. VV-452
  apps/vessel-history/features/profile/components/activity/Activity.tsx
Labels: vessel-history

#1606 Display GAPs events in the Activity and Map views // VV-118
  apps/vessel-history/data/config.ts
  apps/vessel-history/features/activity-by-type/activity-by-type.hook.ts
  apps/vessel-history/features/datasets/datasets.slice.ts
  apps/vessel-history/features/dataviews/dataviews.config.ts
  apps/vessel-history/features/dataviews/dataviews.selectors.ts
  apps/vessel-history/features/event-filters/EventFilters.tsx
  apps/vessel-history/features/event-filters/filters.slice.ts
  apps/vessel-history/features/map/Map.tsx
  apps/vessel-history/features/map/map.hooks.ts
  apps/vessel-history/features/profile/components/activity/Activity.module.css
  apps/vessel-history/features/profile/components/activity/ActivityDataAndTerminology.tsx
  apps/vessel-history/features/profile/components/activity/ActivityEvent.tsx
  apps/vessel-history/features/profile/components/activity/ActivityGroup.tsx
  apps/vessel-history/features/profile/components/activity/ActivityModalContent.tsx
  apps/vessel-history/features/profile/components/activity/ActivityModalContentDetails.tsx
  apps/vessel-history/features/profile/components/activity/ActivityModalContentDetailsGap.tsx
  apps/vessel-history/features/resources/resources.slice.ts
  apps/vessel-history/features/risk-indicator/risk-indicator.selectors.ts
  apps/vessel-history/features/vessels/activity/vessels-activity.selectors.ts
  apps/vessel-history/public/locales/en/translations.json
  apps/vessel-history/public/locales/source/translations.json
  apps/vessel-history/types/activity.ts
  libs/api-types/src/datasets.ts
  libs/api-types/src/events.ts
  libs/layer-composer/src/generators/vessel-events/vessel-events.utils.ts
  libs/ui-components/src/assets/icons/transmissions-off.svg
  libs/ui-components/src/assets/icons/transmissions-on.svg
  libs/ui-components/src/icon/Icon.tsx
Labels: vessel-history, layer-composer, api-types, deploy-dev

#1617 Display 0% AIS coverage as N/A or Unknown in vessel viewer VV-447
  apps/vessel-history/features/activity-by-type/activity-by-type.tsx
  apps/vessel-history/features/profile/components/activity/AisCoverage.tsx
  apps/vessel-history/features/risk-summary/risk-summary.tsx
  apps/vessel-history/features/terminology/terminology-ais-coverage.tsx
  apps/vessel-history/public/locales/en/translations.json
  apps/vessel-history/public/locales/source/translations.json
  libs/ui-components/src/progress-bar/ProgressBar.module.css
  libs/ui-components/src/progress-bar/ProgressBar.tsx
Labels: vessel-history, deploy-dev

#1450 added button to change anchorage country
  apps/port-labeler/cloudbuild.yaml
  apps/port-labeler/data/config.ts
  apps/port-labeler/features/labeler/labeler.selectors.ts
  apps/port-labeler/features/labeler/labeler.slice.ts
  apps/port-labeler/features/map/map-style.ts
  apps/port-labeler/features/map/map.selectors.ts
  apps/port-labeler/features/sidebar/SidebarHeader.module.css
  apps/port-labeler/features/sidebar/SidebarHeader.tsx
  apps/port-labeler/features/sidebar/sidebar.hooks.ts
  apps/port-labeler/features/table-anchorage/TableAnchorage.module.css
  apps/port-labeler/features/table-anchorage/TableAnchorage.tsx
  apps/port-labeler/features/table-anchorage/TableRow.tsx
  apps/port-labeler/public/locales/en/translations.json
  apps/port-labeler/public/locales/source/translations.json
Labels: port-labeler, deploy-dev

#1622 Adjust bottom margin on activity by type heading buttons. VV-427
  apps/vessel-history/features/activity-by-type/activity-by-type.module.css
Labels: vessel-history

#1629 Allow users to set a unit in BQ datasets
  apps/fishing-map/features/bigquery/BigQuery.module.css
  apps/fishing-map/features/bigquery/BigQuery.tsx
  apps/fishing-map/features/bigquery/bigquery.slice.ts
Labels: fishing-map

#1626 Fixed exit port events and tracks not being displayed on VV map. VV-463
  apps/vessel-history/features/dataviews/dataviews.config.ts
  apps/vessel-history/features/map/map-events.hooks.ts
  apps/vessel-history/features/profile/components/activity/ActivityDate.tsx
  apps/vessel-history/features/vessels/activity/vessels-activity.selectors.ts
  libs/layer-composer/src/generators/vessel-events/vessel-events.ts
  libs/layer-composer/src/generators/vessel-events/vessel-events.utils.ts
Labels: vessel-history, layer-composer, deploy-dev

#1630 Fixed 401 unauthorized loading datasets on insurance pilot
  apps/vessel-history/features/dataviews/dataviews.utils.ts
  apps/vessel-history/routes/routes.ts
Labels: vessel-history

#1632 Drive identity indicators visibility by permission. VV-469
  apps/vessel-history/data/config.ts
  apps/vessel-history/features/activity-by-type/activity-by-type.tsx
  apps/vessel-history/features/risk-indicator/risk-indicator.hook.ts
  apps/vessel-history/features/risk-summary/risk-summary.tsx
  apps/vessel-history/features/risk-title/risk-title.tsx
  apps/vessel-history/features/user/user.hooks.ts
Labels: vessel-history, deploy-dev

#1634 add apparent fishing dataview in default for private workspaces
  apps/fishing-map/data/workspaces.ts
Labels: :rocket: release

#1636 fix interaction when no vessel dataset
  apps/fishing-map/features/map/map.slice.ts
Labels: :rocket: release

#1627 Insurance Pilot beta (DO NOT MERGE)
  apps/vessel-history/data/config.ts
  apps/vessel-history/features/activity-by-type/activity-by-type.tsx
  apps/vessel-history/features/dataviews/dataviews.config.ts
  apps/vessel-history/features/dataviews/dataviews.utils.ts
  apps/vessel-history/features/profile/components/activity/ActivityGroup.tsx
  apps/vessel-history/features/profile/components/activity/ActivityModalContentDetails.tsx
  apps/vessel-history/features/risk-indicator/risk-indicator.hook.ts
  apps/vessel-history/features/risk-indicator/risk-indicator.selectors.ts
  apps/vessel-history/features/risk-summary/risk-summary.tsx
  apps/vessel-history/features/risk-title/risk-title.tsx
  apps/vessel-history/features/user/user.hooks.ts
  apps/vessel-history/routes/routes.ts
  libs/layer-composer/src/generators/vessel-events/vessel-events.utils.ts
Labels: vessel-history, layer-composer, deploy-pro

#1639 update satellite map on port inspector
  apps/port-labeler/features/map/map-style.ts
  yarn.lock
Labels: port-labeler

#1624 Display info pop-up on vessel viewer search page to define 'transmissions' VV-449
  apps/vessel-history/features/data-and-terminology/DataAndTerminology.tsx
  apps/vessel-history/features/home/Home.tsx
  apps/vessel-history/features/vessel-list-item/VesselListItem.tsx
  apps/vessel-history/public/locales/en/translations.json
  apps/vessel-history/public/locales/source/translations.json
Labels: vessel-history
