Repository GlobalFishingWatch/frontend, pull requests merged in 2022-12, with the labels that each got.

#1813 fix period comparison crash
  apps/fishing-map/features/analysis/AnalysisPeriodComparison.tsx
Labels: :rocket: release, fishing-map

#1815 make the location layers label public
  apps/fishing-map/data/default-workspaces/workspace.development.ts
  apps/fishing-map/data/default-workspaces/workspace.production.ts
  apps/fishing-map/data/workspaces.ts
  apps/fishing-map/features/user/user.slice.ts
  apps/fishing-map/features/workspace/workspace.slice.ts
Labels: fishing-map

#1810 Deck playground/incremental data loading
  apps/api-portal/package.json
  apps/deck-playground/data/config.ts
  apps/deck-playground/features/map/layers.hooks.ts
  apps/deck-playground/features/sidebar/Sidebar.tsx
  apps/deck-playground/features/timebar/TimebarActivityGraph.tsx
  apps/deck-playground/layers/fourwings/FourwingsHeatmapCellLayer.ts
  apps/deck-playground/layers/fourwings/FourwingsHeatmapLayer.ts
  apps/deck-playground/layers/fourwings/FourwingsHeatmapTileLayer.ts
  apps/deck-playground/layers/fourwings/FourwingsLayer.ts
  apps/deck-playground/layers/fourwings/FourwingsPositionsLayer.ts
  apps/deck-playground/layers/fourwings/FourwingsPositionsTileLayer.ts
  apps/deck-playground/layers/fourwings/FourwingsTileLayer.ts
  apps/deck-playground/layers/fourwings/fourwings.config.ts
  apps/deck-playground/layers/fourwings/fourwings.hooks.ts
  apps/deck-playground/layers/fourwings/fourwings.utils.ts
  apps/deck-playground/layers/vessel/vessels.hooks.ts
  apps/deck-playground/loaders/fourwings/fourwingsLayerLoader.ts
  apps/deck-playground/loaders/fourwings/fourwingsTileParser.ts
  apps/deck-playground/package.json
  apps/deck-playground/pages/_app.tsx
  apps/fishing-map/package.json
  apps/fourwings-explorer/package.json
  apps/port-labeler/package.json
  libs/layer-composer/package.json
  package.json
  tools/generators/app/files/package.json__tmpl__
  yarn.lock
Labels: fishing-map, layer-composer, api-portal, port-labeler

#1824 Master > Develop
  apps/vessel-history/features/home/Home.tsx
  apps/vessel-history/package.json
Labels: vessel-history

#1816 WIP prevent indicators refetching
  apps/vessel-history/features/risk-indicator/risk-indicator.hook.ts
  apps/vessel-history/features/risk-indicator/risk-indicator.slice.ts
  apps/vessel-history/package.json
  apps/vessel-history/utils/async-slice.ts
  yarn.lock
Labels: vessel-history

#1830 request areas in parallel and fix dataset id in production
  apps/vessel-history/features/regions/regions.slice.ts
Labels: vessel-history

#1826 New Crowdin updates
  apps/fishing-map/public/locales/fr/translations.json
  apps/fishing-map/public/locales/id/translations.json
  apps/fishing-map/public/locales/pt/translations.json
  libs/i18n-labels/en/datasets.json
  libs/i18n-labels/es/datasets.json
  libs/i18n-labels/fr/datasets.json
  libs/i18n-labels/id/datasets.json
  libs/i18n-labels/pt/datasets.json
  libs/i18n-labels/val/datasets.json
Labels: fishing-map, i18n-labels

#1832 New Crowdin updates
  apps/fishing-map/public/locales/pt/translations.json
  libs/i18n-labels/es/datasets.json
  libs/i18n-labels/id/datasets.json
Labels: fishing-map, i18n-labels

#1825 dont export fishing-map app
  apps/api-portal/project.json
  apps/fishing-map/project.json
  apps/port-labeler/project.json
  apps/vessel-history/project.json
Labels: fishing-map, vessel-history, api-portal, port-labeler, deploy-dev

#1833 New Crowdin updates
  libs/i18n-labels/en/datasets.json
  libs/i18n-labels/es/datasets.json
Labels: i18n-labels

#1827 show disclaimer when timerange is out of dataset bounds
  apps/fishing-map/features/workspace/activity/ActivityLayerPanel.tsx
  apps/fishing-map/features/workspace/common/OutOfBoundsDisclaimer.tsx
  apps/fishing-map/features/workspace/environmental/EnvironmentalLayerPanel.tsx
  apps/fishing-map/public/locales/source/translations.json
  apps/fishing-map/utils/dates.ts
Labels: fishing-map

#1834 New Crowdin updates
  apps/fishing-map/public/locales/en/translations.json
  apps/fishing-map/public/locales/es/translations.json
  apps/fishing-map/public/locales/fr/translations.json
  apps/fishing-map/public/locales/id/translations.json
  apps/fishing-map/public/locales/pt/translations.json
  apps/fishing-map/public/locales/val/translations.json
Labels: fishing-map

#1839 Release 1212(2)
  apps/fishing-map/data/dataviews.md
  apps/fishing-map/features/map/popups/ContextLayers.tsx
Labels: :rocket: release

#1840 New Crowdin updates
  apps/fishing-map/public/locales/es/translations.json
  apps/fishing-map/public/locales/id/translations.json
  libs/i18n-labels/en/datasets.json
  libs/i18n-labels/es/datasets.json
  libs/i18n-labels/fr/datasets.json
  libs/i18n-labels/id/datasets.json
  libs/i18n-labels/pt/datasets.json
  libs/i18n-labels/source/datasets.json
  libs/i18n-labels/val/datasets.json
Labels: fishing-map, i18n-labels

#1842 update-timebar-empty-values-on-blur
  libs/timebar/src/components/timerange-selector.js
Labels: timebar

#1844 New Crowdin updates
  apps/fishing-map/public/locales/pt/translations.json
  libs/i18n-labels/pt/datasets.json
Labels: fishing-map, i18n-labels

#1846 fix out of bounds problem
  apps/fishing-map/features/workspace/common/OutOfBoundsDisclaimer.tsx
  apps/fishing-map/features/workspace/shared/LayerPanel.module.css
Labels: fishing-map

#1845 New Crowdin updates
  apps/fishing-map/public/locales/fr/translations.json
  libs/i18n-labels/en/datasets.json
  libs/i18n-labels/es/datasets.json
  libs/i18n-labels/fr/datasets.json
  libs/i18n-labels/id/datasets.json
  libs/i18n-labels/pt/datasets.json
  libs/i18n-labels/source/datasets.json
  libs/i18n-labels/val/datasets.json
Labels: fishing-map, i18n-labels

#1848 Hotfixes
  apps/fishing-map/features/resources/resources.utils.ts
  apps/fishing-map/features/workspace/common/OutOfBoundsDisclaimer.tsx
  apps/fishing-map/features/workspace/shared/LayerPanel.module.css
  apps/fishing-map/public/locales/fr/translations.json
  apps/fishing-map/public/locales/pt/translations.json
  libs/dataviews-client/src/resources/get-resources.ts
  libs/i18n-labels/CHANGELOG.md
  libs/i18n-labels/en/datasets.json
  libs/i18n-labels/es/datasets.json
  libs/i18n-labels/fr/datasets.json
  libs/i18n-labels/id/datasets.json
  libs/i18n-labels/package.json
  libs/i18n-labels/pt/datasets.json
  libs/i18n-labels/source/datasets.json
  libs/i18n-labels/val/datasets.json
Labels: :rocket: release

#1852 Added new analytics events to the map
  apps/fishing-map/features/download/DownloadActivityByVessel.tsx
  apps/fishing-map/features/download/DownloadActivityGridded.tsx
  apps/fishing-map/features/search/Search.tsx
  apps/fishing-map/features/timebar/Timebar.tsx
  apps/fishing-map/features/vessel-groups/VesselGroupModal.tsx
  apps/fishing-map/features/workspace/environmental/HistogramRangeFilter.tsx
  apps/fishing-map/features/workspaces-list/WorkspaceWizard.tsx
Labels: fishing-map

#1820 [WIP] combine tiles to show all positions as points and last as vessel icon
  apps/deck-playground/features/timebar/TimebarActivityGraph.tsx
  apps/deck-playground/layers/fourwings/FourwingsHeatmapTileLayer.ts
  apps/deck-playground/layers/fourwings/FourwingsPositionsLayer.ts
  apps/deck-playground/layers/fourwings/FourwingsPositionsTileLayer.ts
  apps/deck-playground/layers/fourwings/fourwings.hooks.ts
  apps/deck-playground/layers/fourwings/fourwings.utils.ts
  apps/deck-playground/package.json
  libs/timebar/src/charts/common/types.ts
  libs/timebar/src/charts/tracks.tsx
Labels: timebar

#1831 AIS Positions not displayed on merged vessels in the INFO Tab VV-531
  apps/vessel-history/features/profile/components/Info.tsx
  apps/vessel-history/public/locales/en/translations.json
Labels: vessel-history

#1787 add click tooltip to VV map to show region names VV-477
  apps/vessel-history/features/dataviews/dataviews.config.ts
  apps/vessel-history/features/map/Map.tsx
  apps/vessel-history/features/map/map-events.hooks.ts
  apps/vessel-history/features/map/popups/Popup.module.css
  apps/vessel-history/features/map/popups/PopupWrapper.tsx
Labels: vessel-history, deploy-dev

#1850 Vessels track events
  apps/deck-playground/features/map/Map.tsx
  apps/deck-playground/features/map/layers.hooks.ts
  apps/deck-playground/features/sidebar/Sidebar.tsx
  apps/deck-playground/features/timebar/Timebar.tsx
  apps/deck-playground/features/timebar/TimebarActivityGraph.tsx
  apps/deck-playground/features/timebar/TimebarVesselsEvents.tsx
  apps/deck-playground/features/timebar/TimebarVesselsTracks.tsx
  apps/deck-playground/layers/fourwings/FourwingsHeatmapTileLayer.ts
  apps/deck-playground/layers/fourwings/FourwingsLayer.ts
  apps/deck-playground/layers/fourwings/fourwings.hooks.ts
  apps/deck-playground/layers/vessel/VesselEventsLayer.ts
  apps/deck-playground/layers/vessel/VesselLayer.ts
  apps/deck-playground/layers/vessel/VesselTrackLayer.ts
  apps/deck-playground/layers/vessel/VesselsLayer.ts
  apps/deck-playground/layers/vessel/vessels.hooks.ts
  apps/deck-playground/layers/vessel/vessels.utils.ts
  apps/deck-playground/loaders/vessels/eventsLoader.ts
  apps/deck-playground/loaders/vessels/trackLoader.ts
  apps/deck-playground/package.json
  apps/fourwings-explorer/package.json
  libs/timebar/src/charts/common/hooks.ts
  libs/timebar/src/charts/highlighter.tsx
  libs/timebar/src/charts/tracks-events.tsx
  libs/timebar/src/charts/tracks-graph.tsx
  libs/timebar/src/charts/tracks.tsx
  yarn.lock
Labels: timebar, deploy-dev, deck-playground
