Repository GlobalFishingWatch/frontend, pull requests merged in 2022-04, with the labels that each got.

#1313 improve port list
  apps/port-labeler/features/labeler/labeler.selectors.ts
  apps/port-labeler/features/labeler/labeler.slice.ts
  apps/port-labeler/features/sidebar/sidebar.hooks.ts
  apps/port-labeler/features/table-anchorage/TableAnchorage.tsx
  apps/port-labeler/features/table-anchorage/TableRow.tsx
  apps/port-labeler/features/table-anchorage/components/SubareaSelector.tsx
  apps/port-labeler/types/index.ts
Labels: Deploy

#1343 port labeler 118 sort button and filter select
  apps/port-labeler/features/labeler/labeler.selectors.ts
  apps/port-labeler/features/labeler/labeler.slice.ts
  apps/port-labeler/features/sidebar/SidebarHeader.tsx
  apps/port-labeler/features/sidebar/sidebar.hooks.ts
  apps/port-labeler/features/table-anchorage/TableRow.tsx
  apps/port-labeler/features/table-anchorage/components/SubareaSelector.module.css
  apps/port-labeler/features/table-anchorage/components/SubareaSelector.tsx
Labels: Deploy

#1348 When TMT detail API is not working, we should display at least GFW data
  apps/vessel-history/features/vessels/sources/tmt.slice.ts
  apps/vessel-history/features/vessels/vessels.slice.ts
Labels: Deploy

#1349 Added pelagic geartypes PIPELINE-777
  apps/fishing-map/features/map/popups/VesselsTable.tsx
  apps/fishing-map/features/workspace/vessels/VesselTranslations.ts
  apps/fishing-map/public/locales/en/translations.json
  apps/fishing-map/public/locales/source/translations.json
Labels: Deploy

#1347 Port labeler: add port ids - final version verified
  apps/port-labeler/features/sidebar/SidebarHeader.tsx
  apps/port-labeler/features/sidebar/sidebar.hooks.ts
  apps/port-labeler/types/index.ts
Labels: Deploy

#1344 User tracks colors
  apps/fishing-map/features/map/map.selectors.ts
  apps/fishing-map/features/resources/resources.utils.ts
  apps/fishing-map/features/timebar/timebar.selectors.ts
  apps/fishing-map/features/workspace/Workspace.tsx
  apps/fishing-map/features/workspace/common/Color.tsx
  apps/fishing-map/features/workspace/common/LayerSwitch.tsx
  apps/fishing-map/features/workspace/environmental/UserTrackLayerPanel.tsx
  apps/fishing-map/features/workspace/shared/LayerPanel.module.css
  apps/fishing-map/public/locales/source/translations.json
  libs/data-transforms/src/segments/segments-to-geojson.ts
  libs/data-transforms/src/track-value-array-to-segments/types.ts
  libs/dataviews-client/src/resolve-dataviews-generators.ts
  libs/dataviews-client/src/resources/resources-slice.ts
  libs/layer-composer/src/generators/track/track.ts
  libs/layer-composer/src/generators/types.ts
  libs/timebar/src/charts/common/types.ts
  libs/timebar/src/charts/tracks.tsx
Labels: Deploy

#1355 Update VV landing page with GFW/TMT logos
  apps/vessel-history/features/home/Home.module.css
  apps/vessel-history/features/home/Home.tsx
  apps/vessel-history/features/partners/Partners.module.css
  apps/vessel-history/features/partners/Partners.tsx
  apps/vessel-history/features/splash/Splash.module.css
  apps/vessel-history/features/splash/Splash.tsx
Labels: Deploy

#1308 API Portal. Improved docker image. API-278
  apps/api-portal/Dockerfile
  apps/api-portal/cloudbuild.yaml
  apps/api-portal/components/require-additional-info/require-additional-info.spec.tsx
  apps/api-portal/components/require-additional-info/require-additional-info.tsx
  apps/api-portal/nginx.conf
  apps/api-portal/pages/index.tsx
  apps/api-portal/project.json
  package.json
Labels: Deploy

#1358 Offline view - Map view is displaying the track from another vessel
  apps/vessel-history/features/profile/Profile.tsx
Labels: Deploy

#1361 Fishing map/user track timebar fixes
  apps/fishing-map/features/app/App.tsx
  apps/fishing-map/features/dataviews/dataviews.selectors.ts
  apps/fishing-map/features/timebar/TimebarActivityGraph.tsx
  apps/fishing-map/features/timebar/TimebarSettings.tsx
  apps/fishing-map/features/timebar/timebar.hooks.ts
  apps/fishing-map/features/workspace/environmental/UserTrackLayerPanel.tsx
  apps/fishing-map/features/workspace/environmental/environmental.hooks.ts
  apps/fishing-map/public/locales/source/translations.json
  libs/react-hooks/src/index.ts
  libs/react-hooks/src/use-previous/index.ts
  libs/react-hooks/src/use-previous/use-previous.ts
Labels: Deploy

#1302 API Portal React Query POC. ENG-337
  apps/api-portal/app/hooks.ts
  apps/api-portal/app/store.ts
  apps/api-portal/components/access-token/access-token-create/access-token-create.tsx
  apps/api-portal/components/access-token/access-token-list/access-token-list.tsx
  apps/api-portal/components/layout.tsx
  apps/api-portal/components/require-additional-info/require-additional-info.tsx
  apps/api-portal/components/user-additional-fields/user-additional-fields.tsx
  apps/api-portal/features/user-applications/user-applications.hooks.ts
  apps/api-portal/features/user-applications/user-applications.slice.ts
  apps/api-portal/features/user-applications/user-applications.ts
  apps/api-portal/features/user/user.hooks.ts
  apps/api-portal/features/user/user.slice.ts
  apps/api-portal/features/user/user.ts
  apps/api-portal/lib/async-slice.ts
  apps/api-portal/package.json
  apps/api-portal/pages/_app.tsx
  apps/api-portal/pages/signup.tsx
  yarn.lock
Labels: Deploy

#1370 fix missing features filtered by viewport in timebar
  apps/fishing-map/features/map/map.utils.ts
Labels: Deploy

#1380 VV Bump Release version 1.0.29
  apps/vessel-history/package.json
Labels: vessel-history

#1374 Fishing map/layer icons
  apps/fishing-map/features/map/popups/ContextLayers.tsx
  apps/fishing-map/features/map/popups/EnvironmentLayers.tsx
  apps/fishing-map/features/map/popups/FishingLayers.tsx
  apps/fishing-map/features/map/popups/Popup.module.css
  apps/fishing-map/features/map/popups/PresenceLayers.tsx
  apps/fishing-map/features/map/popups/TileClusterLayers.tsx
  apps/fishing-map/features/map/popups/UserContextLayers.tsx
  apps/fishing-map/features/map/popups/UserPointsLayers.tsx
  apps/fishing-map/features/map/popups/VesselEventsLayers.tsx
  apps/fishing-map/features/map/popups/ViirsLayers.tsx
  apps/fishing-map/features/map/popups/ViirsMatchLayers.tsx
  apps/fishing-map/features/timebar/TimebarActivityGraph.tsx
  apps/fishing-map/features/timebar/timebar.selectors.ts
  libs/timebar/src/charts/common/hooks.ts
  libs/timebar/src/charts/common/types.ts
  libs/timebar/src/charts/highlighter.module.css
  libs/timebar/src/charts/highlighter.tsx
  libs/timebar/src/charts/stacked-activity.tsx
  libs/ui-components/src/assets/icons/clusters.svg
  libs/ui-components/src/assets/icons/dots.svg
  libs/ui-components/src/assets/icons/encounters.svg
  libs/ui-components/src/assets/icons/heatmap.svg
  libs/ui-components/src/assets/icons/polygons.svg
  libs/ui-components/src/assets/icons/track.svg
  libs/ui-components/src/assets/icons/vessel.svg
  libs/ui-components/src/icon/Icon.module.css
  libs/ui-components/src/icon/Icon.tsx
Labels: Deploy

#1369 Fishing map/timebar fixes
  apps/fishing-map/data/config.ts
  apps/fishing-map/features/map/popups/ContextLayers.tsx
  apps/fishing-map/features/map/popups/EnvironmentLayers.tsx
  apps/fishing-map/features/map/popups/FishingLayers.tsx
  apps/fishing-map/features/map/popups/Popup.module.css
  apps/fishing-map/features/map/popups/PopupWrapper.tsx
  apps/fishing-map/features/map/popups/PresenceLayers.tsx
  apps/fishing-map/features/map/popups/TileClusterLayers.tsx
  apps/fishing-map/features/map/popups/UserContextLayers.tsx
  apps/fishing-map/features/map/popups/UserPointsLayers.tsx
  apps/fishing-map/features/map/popups/VesselEventsLayers.tsx
  apps/fishing-map/features/map/popups/ViirsLayers.tsx
  apps/fishing-map/features/map/popups/ViirsMatchLayers.tsx
  apps/fishing-map/features/timebar/Timebar.tsx
  apps/fishing-map/features/timebar/TimebarActivityGraph.tsx
  apps/fishing-map/features/timebar/timebar.selectors.ts
  apps/fishing-map/features/timebar/timebar.utils.ts
  apps/fishing-map/features/workspace/vessels/VesselEventsLegend.module.css
  apps/fishing-map/features/workspace/vessels/VesselEventsLegend.tsx
  apps/fishing-map/public/locales/en/translations.json
  apps/fishing-map/public/locales/source/translations.json
  apps/fishing-map/utils/events.ts
  libs/dataviews-client/src/resolve-dataviews-generators.ts
  libs/layer-composer/src/generators/types.ts
  libs/layer-composer/src/generators/vessel-events/vessel-events-shapes.ts
  libs/layer-composer/src/generators/vessel-events/vessel-events.utils.ts
  libs/timebar/src/charts/chartsData.atom.ts
  libs/timebar/src/charts/common/hooks.ts
  libs/timebar/src/charts/common/types.ts
  libs/timebar/src/charts/highlighter.module.css
  libs/timebar/src/charts/highlighter.tsx
  libs/timebar/src/charts/stacked-activity.tsx
  libs/timebar/src/charts/tracks-events.module.css
  libs/timebar/src/charts/tracks-events.tsx
  libs/ui-components/src/assets/icons/clusters.svg
  libs/ui-components/src/assets/icons/dots.svg
  libs/ui-components/src/assets/icons/encounters.svg
  libs/ui-components/src/assets/icons/heatmap.svg
  libs/ui-components/src/assets/icons/polygons.svg
  libs/ui-components/src/assets/icons/track.svg
  libs/ui-components/src/assets/icons/vessel.svg
  libs/ui-components/src/icon/Icon.module.css
  libs/ui-components/src/icon/Icon.tsx
Labels: Deploy, fishing-map, timebar, dataviews-client, layer-composer
