Repository GlobalFishingWatch/frontend, pull requests merged in 2022-05, with the labels that each got.

#1386 sort highlighted events
  libs/layer-composer/src/generators/vessel-events/vessel-events-shapes.ts
Labels: layer-composer

#1387 Master to develop
  apps/fishing-map/data/default-workspaces/workspace.development.ts
  apps/fishing-map/data/default-workspaces/workspace.production.ts
  apps/fishing-map/data/workspaces.ts
  apps/fishing-map/features/datasets/datasets.utils.ts
  apps/fishing-map/features/workspace/activity/ActivityFilters.module.css
  apps/fishing-map/features/workspace/highlight-panel/highlight-panel.content.ts
  apps/fishing-map/public/locales/en/translations.json
  apps/fishing-map/public/locales/es/translations.json
  libs/dataviews-client/src/resolve-dataviews-generators.ts
  libs/i18n-labels/en/datasets.json
  libs/i18n-labels/es/datasets.json
  libs/i18n-labels/fr/datasets.json
  libs/i18n-labels/id/datasets.json
  libs/i18n-labels/pt/datasets.json
  libs/i18n-labels/source/datasets.json
Labels: fishing-map, dataviews-client, i18n-labels

#1389 Have three different descriptions on meta descriptions to improve SEO (CVP, MM, MAP)
  apps/fishing-map/pages/_document.tsx
  apps/fishing-map/public/icons/manifest.webmanifest
  apps/fishing-map/public/locales/en/translations.json
  apps/fishing-map/public/locales/source/translations.json
  apps/fishing-map/public/unsupported.html
  apps/fishing-map/routes/description.reducer.ts
  apps/fishing-map/routes/routes.middlewares.ts
  apps/fishing-map/routes/routes.ts
  apps/fishing-map/store.ts
Labels: fishing-map

#1351 Allow to login in offline mode
  apps/vessel-history/data/constants.ts
  apps/vessel-history/features/app/App.tsx
  apps/vessel-history/features/home/Home.tsx
  apps/vessel-history/features/profile/Profile.tsx
  apps/vessel-history/features/splash/Splash.module.css
  apps/vessel-history/features/splash/Splash.tsx
  apps/vessel-history/routes/routes.selectors.ts
  apps/vessel-history/types/index.ts
  libs/react-hooks/src/index.ts
  libs/react-hooks/src/use-navigator-online/index.ts
  libs/react-hooks/src/use-navigator-online/use-navigator-online.ts
Labels: Deploy

#1392 Timebar fixes
  apps/fishing-map/features/resources/resources.utils.ts
  apps/fishing-map/features/timebar/TimebarSettings.module.css
  apps/fishing-map/features/timebar/timebar.selectors.ts
  apps/fishing-map/features/workspace/vessels/VesselEventsLegend.module.css
  libs/dataviews-client/src/resolve-dataviews-generators.ts
  libs/timebar/src/charts/tracks-events.module.css
  libs/timebar/src/charts/tracks-events.tsx
Labels: Deploy, fishing-map, timebar, dataviews-client

#1388 Feature/timebar perf
  apps/fishing-map/features/map/Map.tsx
  apps/fishing-map/features/map/map.selectors.ts
  apps/fishing-map/features/resources/resources.utils.ts
  apps/fishing-map/features/timebar/TimebarSettings.module.css
  apps/fishing-map/features/timebar/timebar.selectors.ts
  apps/fishing-map/features/workspace/vessels/VesselEventsLegend.module.css
  libs/dataviews-client/src/resolve-dataviews-generators.ts
  libs/dataviews-client/src/resolve-dataviews.ts
  libs/layer-composer/src/generators/track/track.ts
  libs/layer-composer/src/generators/vessel-events/vessel-events-shapes.ts
  libs/react-hooks/src/use-layer-composer/use-layer-composer.ts
  libs/timebar/src/charts/tracks-events.module.css
  libs/timebar/src/charts/tracks-events.tsx
Labels: Deploy, fishing-map, timebar, dataviews-client, layer-composer, react-hooks

#1394 Feature/tracks download
  apps/fishing-map/features/datasets/datasets.utils.ts
  apps/fishing-map/features/user/user.selectors.ts
  apps/fishing-map/features/user/user.slice.ts
  apps/fishing-map/features/workspace/vessels/VesselLayerPanel.tsx
Labels: fishing-map

#1352 Update react18
  README.md
  applications/dataviews-editor/package.json
  applications/sandbox/package.json
  applications/temporalgrid-demo/package.json
  apps/api-portal/.gitignore
  apps/api-portal/components/layout.tsx
  apps/api-portal/package.json
  apps/fishing-map/.build.env.sample
  apps/fishing-map/.gitignore
  apps/fishing-map/features/analysis/analysis-timecomparison.hooks.ts
  apps/fishing-map/features/workspaces-list/WorkspacesList.tsx
  apps/fishing-map/package.json
  apps/fishing-map/pages/_document.tsx
  apps/port-labeler/features/app/App.tsx
  apps/port-labeler/package.json
  apps/tile-inspector/package.json
  apps/tile-inspector/tsconfig.json
  apps/user-groups-admin/package.json
  apps/vessel-history/.gitignore
  apps/vessel-history/features/data-and-terminology/DataAndTerminology.tsx
  apps/vessel-history/features/event-filters/filters.hooks.ts
  apps/vessel-history/features/profile/Profile.tsx
  apps/vessel-history/features/profile/components/activity/ActivityModalContentField.tsx
  apps/vessel-history/features/settings/components/PortVisits.tsx
  apps/vessel-history/features/user/user.hooks.ts
  apps/vessel-history/package.json
  libs/react-hooks/src/use-map-interaction/use-map-interaction.ts
  libs/timebar/package.json
  libs/ui-components/src/button/Button.tsx
  libs/ui-components/src/checkbox/Checkbox.tsx
  libs/ui-components/src/icon-button/IconButton.tsx
  libs/ui-components/src/icon/Icon.tsx
  libs/ui-components/src/radio/Radio.tsx
  libs/ui-components/src/select/Select.tsx
  libs/ui-components/src/split-view/SplitView.tsx
  libs/ui-components/src/switch/Switch.tsx
  libs/ui-components/src/tag/Tag.tsx
  libs/ui-components/src/types/types.ts
  package.json
  tools/generators/app/files/package.json__tmpl__
  tools/generators/minisite/files/package.json__tmpl__
  yarn.lock
Labels: Deploy, fishing-map, vessel-history, timebar, api-portal, port-labeler, tile-inspector, user-groups-admin, react-hooks

#1399 Release/track download
  apps/fishing-map/features/datasets/datasets.utils.ts
  apps/fishing-map/features/user/user.selectors.ts
  apps/fishing-map/features/user/user.slice.ts
  apps/fishing-map/features/workspace/vessels/VesselLayerPanel.tsx
Labels: :rocket: release, fishing-map

#1401 Setup api-portal for prod. API-285
  apps/api-portal/nginx.conf
Labels: api-portal

#1403 Added changelog generator script for api-portal. API-285
  apps/api-portal/changelog.sh
Labels: api-portal

#1402 User groups admin feedback
  apps/user-groups-admin/components/user-groups/detail.tsx
  apps/user-groups-admin/package.json
Labels: user-groups-admin

#1289 update react-map-gl version
  applications/temporalgrid-demo/package.json
  apps/fishing-map/features/app/App.tsx
  apps/fishing-map/features/map/Map.tsx
  apps/fishing-map/features/map/MapDraw.module.css
  apps/fishing-map/features/map/MapDraw.tsx
  apps/fishing-map/features/map/MapDrawControl.tsx
  apps/fishing-map/features/map/MapLegends.tsx
  apps/fishing-map/features/map/MapScreenshot.tsx
  apps/fishing-map/features/map/controls/MapInfo.module.css
  apps/fishing-map/features/map/controls/MapInfo.tsx
  apps/fishing-map/features/map/map-context.hooks.ts
  apps/fishing-map/features/map/map-draw.hooks.ts
  apps/fishing-map/features/map/map-viewport.hooks.ts
  apps/fishing-map/features/map/map.draw.utils.ts
  apps/fishing-map/features/map/map.selectors.ts
  apps/fishing-map/features/map/map.slice.ts
  apps/fishing-map/features/map/popups/ContextLayers.hooks.ts
  apps/fishing-map/features/map/popups/Popup.module.css
  apps/fishing-map/features/map/popups/PopupWrapper.tsx
  apps/fishing-map/features/map/popups/TileClusterLayers.tsx
  apps/fishing-map/features/map/popups/VesselsTable.tsx
  apps/fishing-map/features/map/rulers/Rulers.tsx
  apps/fishing-map/features/map/rulers/rulers.hooks.ts
  apps/fishing-map/features/timebar/Timebar.tsx
  apps/fishing-map/features/workspace/context-areas/ContextAreaSection.tsx
  apps/fishing-map/next.config.js
  apps/fishing-map/package.json
  apps/fishing-map/pages/_app.tsx
  apps/fishing-map/pages/styles.css
  apps/vessel-history/features/map/Map.tsx
  apps/vessel-history/features/map/map-context.hooks.ts
  apps/vessel-history/features/map/map-viewport.hooks.ts
  apps/vessel-history/next.config.js
  apps/vessel-history/package.json
  apps/vessel-history/pages/_app.tsx
  libs/react-hooks/src/use-map-interaction/use-map-interaction.ts
  libs/timebar/package.json
  package.json
  tools/generators/app/files/features/map/map-context.hooks.ts
  tools/generators/app/files/features/map/map-viewport.hooks.ts
  tools/generators/app/files/next.config.js__tmpl__
  tools/generators/app/files/package.json__tmpl__
  yarn.lock
Labels: Deploy, fishing-map, vessel-history, timebar, react-hooks

#1405 Fix/react map gl build
  apps/api-portal/package.json
  apps/fishing-map/features/map/map-context.hooks.ts
  apps/port-labeler/features/app/App.tsx
  apps/port-labeler/features/map/Map.tsx
  apps/port-labeler/features/map/controls/MapControls.tsx
  apps/port-labeler/features/map/map-context.hooks.ts
  apps/port-labeler/features/map/map-viewport.hooks.ts
  apps/port-labeler/features/map/map.hooks.ts
  apps/port-labeler/package.json
  apps/port-labeler/pages/_app.tsx
  apps/port-labeler/types/index.ts
  apps/vessel-history/features/map/Map.tsx
  apps/vessel-history/features/map/map-context.hooks.ts
  libs/react-hooks/src/use-map-interaction/use-map-interaction.ts
  linting/next.js
  tools/generators/app/files/features/app/App.tsx
  tools/generators/app/files/features/map/map-context.hooks.ts
  tools/generators/app/files/pages/_app.tsx
  yarn.lock
Labels: fishing-map, vessel-history, api-portal, port-labeler, react-hooks

#1406 Feature/file upload issues
  apps/fishing-map/features/datasets/NewDataset.tsx
  apps/fishing-map/features/datasets/datasets.slice.ts
  apps/fishing-map/public/locales/source/translations.json
  libs/dataviews-client/src/resolve-dataviews-generators.ts
  libs/layer-composer/src/generators/user-context/user-context.ts
Labels: fishing-map, dataviews-client, layer-composer

#1408 Unify changelog script in nx MAP-825
  README.md
  apps/api-portal/changelog.sh
  apps/api-portal/project.json
  apps/fishing-map/project.json
  apps/user-groups-admin/project.json
  apps/vessel-history/changelog.sh
  apps/vessel-history/project.json
  changelog.sh
Labels: fishing-map, vessel-history, api-portal, user-groups-admin

#1396 May release issues - 10-05-2022
  apps/fishing-map/data/default-workspaces/workspace.development.ts
  apps/fishing-map/features/app/App.tsx
  apps/fishing-map/features/map/Map.tsx
  apps/fishing-map/features/map/map-sources.hooks.ts
  apps/fishing-map/features/map/map-state.hooks.ts
  apps/fishing-map/features/map/map.selectors.ts
  apps/fishing-map/features/timebar/Timebar.tsx
  apps/fishing-map/features/timebar/timebar.selectors.ts
  apps/fishing-map/features/workspace/highlight-panel/highlight-panel.content.ts
  apps/fishing-map/features/workspace/vessels/VesselLayerPanel.tsx
  libs/dataviews-client/src/resolve-dataviews-generators.ts
  libs/dataviews-client/src/resources/get-resources.ts
  libs/dataviews-client/src/resources/resources-slice.ts
  libs/layer-composer/src/generators/vessel-events/vessel-events-shapes.ts
  libs/timebar/src/charts/common/hooks.ts
  libs/timebar/src/charts/highlighter.tsx
Labels: fishing-map, timebar, dataviews-client, layer-composer

#1391 update cloudbuildTaskDevId ids
  .github/gfw-bot.json
  apps/vessel-history/features/event-filters/filters.hooks.ts
  apps/vessel-history/features/profile/Profile.tsx
Labels: vessel-history

#1413 simplify generator and hook
  apps/fishing-map/features/map/map-sources.hooks.ts
  apps/fishing-map/features/map/map.hooks.ts
  libs/layer-composer/src/generators/polygons/polygons.ts
  libs/layer-composer/src/generators/types.ts
Labels: fishing-map, layer-composer

#1411 use mapbox url to fetch the resource
  apps/fishing-map/features/dataviews/dataviews.selectors.ts
  apps/fishing-map/features/dataviews/dataviews.slice.ts
  apps/fishing-map/features/map/Map.tsx
  apps/fishing-map/features/map/map-sources.hooks.ts
  apps/fishing-map/features/map/map.hooks.ts
  apps/fishing-map/features/map/map.selectors.ts
  apps/fishing-map/features/workspace/activity/ActivityAuxiliaryLayer.tsx
  libs/dataviews-client/src/resolve-dataviews-generators.ts
  libs/dataviews-client/src/resources/get-resources.ts
  libs/layer-composer/src/generators/polygons/polygons.ts
  libs/layer-composer/src/generators/types.ts
Labels: fishing-map, dataviews-client, layer-composer, deploy-dev

#1407 Feature/sar footprint
  apps/fishing-map/data/workspaces.ts
  apps/fishing-map/features/app/app.selectors.ts
  apps/fishing-map/features/dataview-stats/dataview-stats.slice.ts
  apps/fishing-map/features/dataviews/dataviews.slice.ts
  apps/fishing-map/features/map/Map.tsx
  apps/fishing-map/features/map/map-sources.hooks.ts
  apps/fishing-map/features/map/map-viewport.hooks.ts
  apps/fishing-map/features/map/map.hooks.ts
  apps/fishing-map/features/map/map.selectors.ts
  apps/fishing-map/features/map/map.slice.ts
  apps/fishing-map/features/map/popups/ActivityLayers.tsx
  apps/fishing-map/features/map/popups/DetectionsLayers.tsx
  apps/fishing-map/features/map/popups/PopupWrapper.tsx
  apps/fishing-map/features/map/popups/PresenceLayers.tsx
  apps/fishing-map/features/map/popups/VesselsTable.tsx
  apps/fishing-map/features/map/popups/ViirsLayers.tsx
  apps/fishing-map/features/timebar/TimebarActivityGraph.hooks.ts
  apps/fishing-map/features/workspace/Workspace.tsx
  apps/fishing-map/features/workspace/activity/ActivityAuxiliaryLayer.module.css
  apps/fishing-map/features/workspace/activity/ActivityAuxiliaryLayer.tsx
  apps/fishing-map/features/workspace/activity/ActivityLayerPanel.tsx
  apps/fishing-map/features/workspace/common/InfoModal.tsx
  apps/fishing-map/public/locales/source/translations.json
  apps/fishing-map/queries/stats-api.ts
  apps/fishing-map/store.ts
  libs/api-types/src/datasets.ts
  libs/api-types/src/resources.ts
  libs/dataviews-client/src/resolve-dataviews-generators.ts
  libs/dataviews-client/src/resolve-dataviews.ts
  libs/dataviews-client/src/resources/get-resources.ts
  libs/dataviews-client/src/resources/resources-slice.ts
  libs/layer-composer/src/generators/index.ts
  libs/layer-composer/src/generators/polygons/polygons.ts
  libs/layer-composer/src/generators/types.ts
  libs/ui-components/src/switch/Switch.module.css
  libs/ui-components/src/switch/Switch.tsx
Labels: fishing-map, dataviews-client, layer-composer, api-types, deploy-dev

#1414 retry api-client request only when makes sense
  libs/api-client/src/api-client.ts
Labels: api-client

#1418 Feature/error states
  apps/fishing-map/features/map/map-sources.hooks.ts
  apps/fishing-map/features/timebar/Timebar.module.css
  apps/fishing-map/features/timebar/Timebar.tsx
  apps/fishing-map/features/timebar/TimebarActivityGraph.hooks.ts
  apps/fishing-map/features/timebar/TimebarActivityGraph.tsx
  apps/fishing-map/features/timebar/timebar.selectors.ts
  libs/dataviews-client/src/resources/resources-slice.ts
  libs/timebar/src/charts/tracks.tsx
Labels: fishing-map, timebar, dataviews-client, deploy-dev

#1415 Fix port labeler map
  applications/temporalgrid-demo/package.json
  apps/fishing-map/package.json
  apps/fishing-map/pages/_app.tsx
  apps/port-labeler/features/map/Map.tsx
  apps/port-labeler/features/map/controls/MapControls.module.css
  apps/port-labeler/features/map/map.hooks.ts
  apps/port-labeler/features/table-anchorage/components/SubareaSelector.module.css
  apps/port-labeler/package.json
  apps/port-labeler/pages/_app.tsx
  apps/port-labeler/pages/styles.css
  apps/vessel-history/package.json
  apps/vessel-history/pages/_app.tsx
  package.json
  tools/generators/app/files/package.json__tmpl__
  tools/generators/app/files/pages/_app.tsx
  yarn.lock
Labels: fishing-map, vessel-history, port-labeler

#1316 i18n Labels Autodeploy
  .github/workflows/i18n-labels-publish.yml
  .gitignore
  apps/fishing-map/cloudbuild.yaml
  apps/fishing-map/features/i18n/i18n.ts
  apps/fishing-map/i18n.md
  apps/user-groups-admin/components/user-groups/detail.tsx
  apps/vessel-history/cloudbuild.yaml
  apps/vessel-history/features/i18n/i18n.ts
  apps/vessel-history/features/splash/Splash.module.css
  libs/i18n-labels/CHANGELOG.md
  libs/i18n-labels/cloudbuild.yaml
  libs/i18n-labels/project.json
  libs/i18n-labels/purge_jsdelivr.sh
  package.json
  tools/generators/app/files/data/config.ts
  tools/generators/app/files/features/i18n/i18n.ts
  yarn.lock
Labels: fishing-map, vessel-history, i18n-labels, user-groups-admin

#1422 update 4wings tiles debounced
  libs/layer-composer/package.json
  libs/layer-composer/src/generators/heatmap/heatmap-animated.ts
  libs/react-hooks/package.json
  package.json
  yarn.lock
Labels: layer-composer, react-hooks

#1421 Fix i18n autodeploy failures
  .github/workflows/i18n-labels-publish.yml
  apps/fishing-map/cloudbuild.yaml
  apps/vessel-history/cloudbuild.yaml
Labels: fishing-map, vessel-history

#1424 fix cloudbuild missing substitutions
  apps/fishing-map/cloudbuild.yaml
  apps/vessel-history/cloudbuild.yaml
Labels: fishing-map, vessel-history

#1419 Limit zoom level on animated heatmap layers. MAP-797
  libs/api-types/src/dataviews.ts
  libs/dataviews-client/src/resolve-dataviews-generators.ts
Labels: dataviews-client, api-types

#1428 Fix/datasets upload
  apps/fishing-map/features/datasets/NewDataset.tsx
  apps/fishing-map/features/resources/resources.utils.ts
Labels: fishing-map

#1420 Fixed port labeler mass selection
  apps/port-labeler/features/map/Map.tsx
  apps/port-labeler/features/map/map.hooks.ts
Labels: port-labeler, deploy-dev

#1429 Port Labeler // User wants to be able to see the anchorage-id in order to find quickly an specific anchorage
  apps/port-labeler/features/labeler/labeler.slice.ts
  apps/port-labeler/features/table-anchorage/TableAnchorage.module.css
  apps/port-labeler/features/table-anchorage/TableAnchorage.tsx
  apps/port-labeler/features/table-anchorage/TableHeader.tsx
  apps/port-labeler/features/table-anchorage/TableRow.tsx
  apps/port-labeler/public/locales/en/translations.json
  apps/port-labeler/public/locales/es/translations.json
  apps/port-labeler/public/locales/fr/translations.json
  apps/port-labeler/public/locales/source/translations.json
Labels: port-labeler, deploy-dev

#1433 We want IDS to be unique to avoid collisions on ports and subareas
  apps/port-labeler/features/table-anchorage/TableRow.tsx
  apps/port-labeler/package.json
  yarn.lock
Labels: port-labeler

#1431 Don't render the map until tab becomes visible for the first time
  apps/fishing-map/features/app/App.tsx
  apps/fishing-map/features/app/app.hooks.ts
Labels: fishing-map, deploy-dev

#1435 fit time on fitbounds click when track has empty chunk
  apps/fishing-map/features/workspace/common/FitBounds.tsx
  apps/fishing-map/features/workspace/vessels/VesselLayerPanel.tsx
Labels: fishing-map

#1432 New Crowdin updates
  libs/i18n-labels/en/datasets.json
  libs/i18n-labels/es/datasets.json
  libs/i18n-labels/fr/datasets.json
  libs/i18n-labels/id/datasets.json
  libs/i18n-labels/pt/datasets.json
  libs/i18n-labels/source/datasets.json
Labels: i18n-labels

#1440 update i18n-labels readme
  libs/i18n-labels/README.md
Labels: i18n-labels

#1441 New Crowdin updates
  apps/fishing-map/public/locales/en/translations.json
  apps/fishing-map/public/locales/es/translations.json
  libs/i18n-labels/en/datasets.json
  libs/i18n-labels/es/datasets.json
Labels: fishing-map, i18n-labels

#1442 use next with react 17
  package.json
  yarn.lock
Labels: deploy-dev

#1444 New Crowdin updates
  libs/i18n-labels/en/datasets.json
Labels: i18n-labels

#1445 New Crowdin updates
  libs/i18n-labels/en/datasets.json
  libs/i18n-labels/es/datasets.json
Labels: i18n-labels

#1448 Fix/map layer composer crash
  apps/fishing-map/features/app/App.tsx
  apps/fishing-map/features/app/app.hooks.ts
  apps/fishing-map/project.json
  libs/layer-composer/src/config.ts
  libs/layer-composer/src/index.ts
  libs/react-hooks/src/index.ts
  libs/react-hooks/src/use-layer-composer/use-layer-composer.ts
  libs/react-hooks/src/use-page-visibility/index.ts
  libs/react-hooks/src/use-page-visibility/use-page-visibility.ts
  package.json
  yarn.lock
Labels: fishing-map, layer-composer, react-hooks
