Repository GlobalFishingWatch/frontend, pull requests merged in 2023-07, with the labels that each got.

#2121 update analytis setup
  apps/fishing-map/features/app/analytics.hooks.ts
  apps/fishing-map/pages/_document.tsx
Labels: fishing-map

#2103 save data status by type
  apps/fishing-map/features/map/Map.tsx
  apps/fishing-map/features/timebar/timebar-vessel.hooks.ts
  apps/fishing-map/features/workspace/vessels/VesselLayerPanel.tsx
  libs/deck-layers/src/layers/vessel/VesselEventsLayer.ts
  libs/deck-layers/src/layers/vessel/VesselLayer.ts
  libs/deck-layers/src/layers/vessel/vessel.hooks.ts
Labels: fishing-map

#2084 Deck migration/vessel-layers
  apps/deck-playground/features/map/Map.tsx
  apps/deck-playground/loaders/vessels/parquetLoader.ts
  apps/fishing-map/data/workspaces.ts
  apps/fishing-map/features/dataviews/dataviews.mock.ts
  apps/fishing-map/features/map/Map.tsx
  apps/fishing-map/features/map/map-layers.hooks.ts
  apps/fishing-map/features/map/map.hooks.ts
  apps/fishing-map/features/map/map.selectors.ts
  apps/fishing-map/features/resources/resources.slice.ts
  apps/fishing-map/features/sidebar/Sidebar.tsx
  apps/fishing-map/features/timebar/Timebar.tsx
  apps/fishing-map/features/timebar/timebar-vessel.hooks.ts
  apps/fishing-map/features/timebar/timebar.hooks.ts
  apps/fishing-map/features/timebar/timebar.utils.ts
  apps/fishing-map/features/workspace/vessels/VesselLayerPanel.tsx
  apps/fishing-map/next.config.js
  apps/fishing-map/pages/_app.tsx
  apps/fishing-map/utils/events.ts
  libs/api-types/src/resources.ts
  libs/dataviews-client/src/resolve-dataviews-generators.ts
  libs/deck-layers/src/index.ts
  libs/deck-layers/src/layer-composer/config.ts
  libs/deck-layers/src/layer-composer/dataviews-resolver.ts
  libs/deck-layers/src/layer-composer/layer-composer.hooks.ts
  libs/deck-layers/src/layer-composer/types/base.ts
  libs/deck-layers/src/layer-composer/types/basemap.ts
  libs/deck-layers/src/layer-composer/types/context.ts
  libs/deck-layers/src/layer-composer/types/fourwings.ts
  libs/deck-layers/src/layer-composer/types/index.ts
  libs/deck-layers/src/layer-composer/types/vessel.ts
  libs/deck-layers/src/layers/basemap/BasemapLayer.ts
  libs/deck-layers/src/layers/basemap/basemap.hooks.ts
  libs/deck-layers/src/layers/vessel/VesselEventsLayer.ts
  libs/deck-layers/src/layers/vessel/VesselLayer.ts
  libs/deck-layers/src/layers/vessel/VesselTrackLayer.ts
  libs/deck-layers/src/layers/vessel/vessel.hooks.ts
  libs/deck-layers/src/layers/vessel/vessels.utils.ts
  libs/deck-layers/src/loaders/constants.ts
  libs/deck-layers/src/loaders/vessels/eventsLoader.ts
  libs/deck-layers/src/loaders/vessels/trackLoader.ts
  libs/deck-layers/src/utils/colors.ts
  libs/deck-layers/src/utils/layers.ts
  libs/layer-composer/src/generators/types.ts
  libs/timebar/src/charts/common/types.ts
  libs/timebar/src/charts/tracks-events.tsx
  package.json
  yarn.lock
Labels: fishing-map, timebar, dataviews-client, layer-composer, api-types

#2123 update nx dependencies
  apps/api-portal/package.json
  apps/deck-playground/package.json
  apps/deck-playground/pages/_app.tsx
  apps/fishing-map/features/map/map-viewport.hooks.ts
  apps/fishing-map/features/timebar/timebar.hooks.ts
  apps/fishing-map/package.json
  apps/fourwings-explorer/package.json
  apps/port-labeler/package.json
  apps/real-time-prototype/package.json
  apps/tile-inspector/package.json
  apps/user-groups-admin/package.json
  apps/vessel-history/package.json
  libs/timebar/package.json
  migrations.json
  nx.json
  package.json
  tools/generators/app/files/package.json__tmpl__
  tools/generators/minisite/files/package.json__tmpl__
  yarn.lock
Labels: fishing-map, vessel-history, timebar, api-portal, port-labeler, tile-inspector, user-groups-admin

#2085 Deck migration/fourwings initial structure
  apps/fishing-map/data/config.ts
  apps/fishing-map/features/map/Map.module.css
  apps/fishing-map/features/timebar/TimebarActivityGraph.hooks.ts
  apps/fishing-map/features/timebar/TimebarActivityGraph.tsx
  apps/fishing-map/features/timebar/timebar.utils.ts
  libs/deck-layers/src/hooks/use-layer-legends.ts
  libs/deck-layers/src/index.ts
  libs/deck-layers/src/layer-composer/dataviews-resolver.ts
  libs/deck-layers/src/layer-composer/layer-composer.hooks.ts
  libs/deck-layers/src/layer-composer/types/fourwings.ts
  libs/deck-layers/src/layer-composer/types/index.ts
  libs/deck-layers/src/layers/fourwings/FourwingsHeatmapLayer.ts
  libs/deck-layers/src/layers/fourwings/FourwingsHeatmapTileLayer.ts
  libs/deck-layers/src/layers/fourwings/FourwingsLayer.ts
  libs/deck-layers/src/layers/fourwings/fourwings.hooks.ts
  libs/deck-layers/src/layers/fourwings/fourwings.types.ts
  libs/deck-layers/src/loaders/fourwings/fourwingsLayerLoader.ts
  libs/deck-layers/src/utils/sort.ts
  libs/deck-layers/src/utils/time.ts
  libs/layer-composer/src/transforms/sort/sort.ts
  libs/timebar/src/charts/common/hooks.ts
  libs/timebar/src/charts/common/types.ts
  libs/timebar/src/charts/stacked-activity.tsx
Labels: fishing-map, timebar, layer-composer, deck-layers

#2125 Refactor analytics hook into a common lib and reuse it on VV, Map and Api Portal. ENG-516
  apps/api-portal/app/analytics.hooks.ts
  apps/fishing-map/features/app/App.tsx
  apps/fishing-map/features/app/analytics.hooks.ts
  apps/fishing-map/features/sidebar/Sidebar.tsx
  apps/fishing-map/features/user/User.tsx
  apps/fishing-map/features/user/UserInfo.tsx
  apps/fishing-map/features/user/user.selectors.ts
  apps/fishing-map/features/user/user.slice.ts
  apps/port-labeler/.env.sample
  apps/port-labeler/cloudbuild.yaml
  apps/port-labeler/data/config.ts
  apps/port-labeler/features/app/analytics.hooks.ts
  apps/port-labeler/features/i18n/LanguageToggle.tsx
  apps/port-labeler/features/user/user.slice.ts
  apps/port-labeler/package.json
  apps/user-groups-admin/package.json
  apps/vessel-history/features/app/analytics.hooks.ts
  libs/react-hooks/src/index.ts
  libs/react-hooks/src/use-analytics/index.ts
  libs/react-hooks/src/use-analytics/use-analytics.ts
  yarn.lock
Labels: fishing-map, vessel-history, api-portal, port-labeler, user-groups-admin, react-hooks, deploy-dev

#2129 Real time prototype feedback
  apps/real-time-prototype/data/config.ts
  apps/real-time-prototype/features/map/Map.tsx
  apps/real-time-prototype/features/map/layers.hooks.ts
  apps/real-time-prototype/features/map/map.module.css
  apps/real-time-prototype/features/sidebar/ContextLayersSection.tsx
  apps/real-time-prototype/features/sidebar/Sidebar.module.css
  apps/real-time-prototype/features/sidebar/Sidebar.tsx
  apps/real-time-prototype/features/sidebar/SidebarHeader.tsx
  apps/real-time-prototype/features/sidebar/VesselsSection.tsx
  apps/real-time-prototype/layers/basemap/basemap.hooks.ts
  apps/real-time-prototype/layers/context/ContextLayer.ts
  apps/real-time-prototype/layers/context/ContextsLayer.ts
  apps/real-time-prototype/layers/context/context.config.ts
  apps/real-time-prototype/layers/context/context.hooks.ts
  apps/real-time-prototype/layers/latest-positions/LatestPositions.ts
  apps/real-time-prototype/layers/latest-positions/latest-positions.hooks.ts
  apps/real-time-prototype/layers/tracks/TrackLayer.ts
  apps/real-time-prototype/layers/tracks/track.loader.ts
  apps/real-time-prototype/layers/tracks/tracks.hooks.ts
  apps/real-time-prototype/pages/App.module.css
  apps/real-time-prototype/pages/_app.tsx
  apps/real-time-prototype/pages/index.tsx
  apps/real-time-prototype/pages/timebar-settings.css
  apps/real-time-prototype/utils/coordinates.ts
  apps/real-time-prototype/utils/dates.ts
  libs/layer-composer/src/generators/heatmap/util/colors.ts
  libs/layer-composer/src/generators/index.ts
Labels: layer-composer

#2135 add track footprint to basic search results
  apps/fishing-map/assets/images/track-footprint-bg.png
  apps/fishing-map/features/search/SearchBasicResults.tsx
  apps/fishing-map/features/search/TrackFootprint.module.css
  apps/fishing-map/features/search/TrackFootprint.tsx
  apps/fishing-map/hooks/screen.hooks.ts
  libs/react-hooks/src/use-small-screen/use-small-screen.ts
  libs/ui-components/src/transmissions-timeline/TransmissionsTimeline.module.css
  libs/ui-components/src/transmissions-timeline/TransmissionsTimeline.tsx
Labels: fishing-map, react-hooks

#2137 Fishing map/vessel profile
  apps/fishing-map/data/config.ts
  apps/fishing-map/data/workspaces.ts
  apps/fishing-map/features/dataviews/dataviews.mock.ts
  apps/fishing-map/features/dataviews/dataviews.selectors.ts
  apps/fishing-map/features/dataviews/dataviews.slice.ts
  apps/fishing-map/features/i18n/i18n.ts
  apps/fishing-map/features/i18n/react-i18next.d.ts
  apps/fishing-map/features/i18n/translation-keys.ts
  apps/fishing-map/features/map/popups/VesselsTable.tsx
  apps/fishing-map/features/regions/regions.slice.ts
  apps/fishing-map/features/resources/resources.slice.ts
  apps/fishing-map/features/resources/resources.utils.ts
  apps/fishing-map/features/vessel-groups/VesselGroupAddButton.tsx
  apps/fishing-map/features/vessel/DataTerminology.module.css
  apps/fishing-map/features/vessel/DataTerminology.tsx
  apps/fishing-map/features/vessel/Vessel.tsx
  apps/fishing-map/features/vessel/VesselIdentity.module.css
  apps/fishing-map/features/vessel/VesselIdentity.tsx
  apps/fishing-map/features/vessel/VesselSummary.module.css
  apps/fishing-map/features/vessel/VesselSummary.tsx
  apps/fishing-map/features/vessel/activity/ActivityGroup.module.css
  apps/fishing-map/features/vessel/activity/VesselActivity.module.css
  apps/fishing-map/features/vessel/activity/VesselActivity.tsx
  apps/fishing-map/features/vessel/activity/VesselActivityDownload.tsx
  apps/fishing-map/features/vessel/activity/activity-by-type/ActivityByType.tsx
  apps/fishing-map/features/vessel/activity/activity-by-type/ActivityGroup.tsx
  apps/fishing-map/features/vessel/activity/activity-by-type/activity-by-type.module.css
  apps/fishing-map/features/vessel/activity/activity-by-voyage/ActivityByVoyage.tsx
  apps/fishing-map/features/vessel/activity/activity-by-voyage/VoyageGroup.tsx
  apps/fishing-map/features/vessel/activity/activity-by-voyage/activity-by-voyage.selectors.ts
  apps/fishing-map/features/vessel/activity/event/Event.module.css
  apps/fishing-map/features/vessel/activity/event/Event.tsx
  apps/fishing-map/features/vessel/activity/event/event.hook.ts
  apps/fishing-map/features/vessel/activity/summary/VesselActivitySummary.module.css
  apps/fishing-map/features/vessel/activity/summary/VesselActivitySummary.tsx
  apps/fishing-map/features/vessel/activity/vessels-activity.selectors.ts
  apps/fishing-map/features/vessel/vessel.config.ts
  apps/fishing-map/features/vessel/vessel.selectors.ts
  apps/fishing-map/features/vessel/vessel.slice.ts
  apps/fishing-map/features/vessel/vessel.utils.ts
  apps/fishing-map/features/workspace/workspace.selectors.ts
  apps/fishing-map/pages/vessel/[vesselId].tsx
  apps/fishing-map/public/locales/source/dataTerminology.json
  apps/fishing-map/public/locales/source/translations.json
  apps/fishing-map/routes/routes.selectors.ts
  apps/fishing-map/types/index.ts
  apps/fishing-map/utils/info.ts
  apps/vessel-history/features/dataviews/dataviews.selectors.ts
  libs/api-types/src/events.ts
  libs/api-types/src/identity-vessel.ts
  libs/dataviews-client/src/resources/get-resources.ts
  libs/dataviews-client/src/resources/resources-slice.ts
  libs/layer-composer/src/generators/vessel-events/vessel-events-shapes.ts
  libs/ui-components/src/button/Button.module.css
  libs/ui-components/src/button/Button.tsx
  libs/ui-components/src/tabs/Tabs.tsx
  libs/ui-components/src/tabs/index.ts
Labels: fishing-map, vessel-history, dataviews-client, layer-composer, api-types

#2139 New Crowdin updates
  apps/fishing-map/public/locales/en/translations.json
  apps/fishing-map/public/locales/es/translations.json
  apps/fishing-map/public/locales/fr/translations.json
  apps/fishing-map/public/locales/id/translations.json
  apps/fishing-map/public/locales/pt/translations.json
  apps/fishing-map/public/locales/val/helpHints.json
  apps/fishing-map/public/locales/val/translations.json
  apps/vessel-history/public/locales/es/translations.json
  apps/vessel-history/public/locales/fr/translations.json
  apps/vessel-history/public/locales/pt/translations.json
  apps/vessel-history/public/locales/val/translations.json
  libs/i18n-labels/en/datasets.json
  libs/i18n-labels/en/flags.json
  libs/i18n-labels/es/datasets.json
  libs/i18n-labels/es/flags.json
  libs/i18n-labels/fr/datasets.json
  libs/i18n-labels/fr/flags.json
  libs/i18n-labels/fr/timebar.json
  libs/i18n-labels/id/datasets.json
  libs/i18n-labels/id/flags.json
  libs/i18n-labels/pt/datasets.json
  libs/i18n-labels/val/datasets.json
  libs/i18n-labels/val/flags.json
  libs/i18n-labels/val/timebar.json
  libs/ocean-areas/src/data/locales/val.json
Labels: fishing-map, vessel-history, i18n-labels, ocean-areas

#2143 vessel identity tweaks
  apps/fishing-map/features/vessel/VesselIdentity.module.css
  apps/fishing-map/features/vessel/VesselIdentity.tsx
  apps/fishing-map/features/vessel/activity/summary/VesselActivitySummary.module.css
  apps/fishing-map/features/vessel/activity/summary/VesselActivitySummary.tsx
  apps/fishing-map/features/vessel/vessel.config.ts
  apps/fishing-map/features/vessel/vessel.utils.ts
  apps/fishing-map/public/locales/source/translations.json
  libs/api-types/src/identity-vessel.ts
  libs/dataviews-client/src/url-workspace.ts
  libs/ui-components/src/assets/icons/history.svg
  libs/ui-components/src/icon/Icon.tsx
  libs/ui-components/src/transmissions-timeline/TransmissionsTimeline.module.css
  libs/ui-components/src/transmissions-timeline/TransmissionsTimeline.tsx
Labels: fishing-map, dataviews-client, api-types

#2144 New Crowdin updates
  apps/fishing-map/public/locales/en/translations.json
  apps/fishing-map/public/locales/es/translations.json
  apps/fishing-map/public/locales/fr/translations.json
  apps/fishing-map/public/locales/id/translations.json
  apps/fishing-map/public/locales/pt/translations.json
  apps/fishing-map/public/locales/val/translations.json
Labels: fishing-map

#2146 highlight identity field change
  apps/fishing-map/features/vessel/activity/VesselActivitySummary.tsx
  apps/fishing-map/features/vessel/identity/VesselIdentity.tsx
  apps/fishing-map/features/vessel/identity/VesselIdentityField.module.css
  apps/fishing-map/features/vessel/identity/VesselIdentityField.tsx
Labels: fishing-map

#2142 added test for the map, vessels api, and others
  apps/fishing-map-e2e/cypress.config.ts
  apps/fishing-map-e2e/src/constants/urls.ts
  apps/fishing-map-e2e/src/e2e/app.cy.ts
  apps/fishing-map-e2e/src/e2e/fishing-activity/vms.cy.ts
  apps/fishing-map-e2e/src/e2e/login.cy.ts
  apps/fishing-map-e2e/src/e2e/map/map.cy.ts
  apps/fishing-map-e2e/src/support/app.po.ts
  apps/fishing-map-e2e/src/support/commands.ts
  libs/timebar/src/components/timeline.js
Labels: deploy-dev

#2066 Fishing map/v3 api only
  apps/fishing-map/cloudbuild.yaml
  libs/api-client/src/api-client.ts
  libs/api-types/src/datasets.ts
  libs/dataviews-client/src/resolve-endpoint.ts
  libs/layer-composer/src/config.ts
Labels: fishing-map, dataviews-client, layer-composer, api-client, api-types

#2148 Basic search for a vessel and see it on the map // MAP-1217
  apps/fishing-map-e2e/src/constants/urls.ts
  apps/fishing-map-e2e/src/constants/vessels.ts
  apps/fishing-map-e2e/src/e2e/map/interact-with-vessel.cy.ts
  apps/fishing-map-e2e/src/e2e/sidebar/search-vessel.cy.ts
  apps/fishing-map-e2e/src/support/app.po.ts
  apps/fishing-map-e2e/src/support/commands.ts
  apps/fishing-map/features/search/Search.tsx
  apps/fishing-map/features/workspace/vessels/VesselsSection.tsx
  libs/ui-components/src/button/Button.tsx
  libs/ui-components/src/icon-button/IconButton.tsx
  libs/ui-components/src/input-text/InputText.tsx
Labels: fishing-map, deploy-dev

#2151 Fishing map/small things to release
  apps/fishing-map/features/timebar/timebar.selectors.ts
  apps/fishing-map/features/workspace/environmental/EnvironmentalSection.tsx
  apps/fishing-map/features/workspace/shared/Sections.module.css
  apps/fishing-map/public/locales/source/translations.json
  libs/data-transforms/src/segments/index.ts
  libs/data-transforms/src/segments/segments-to-geojson.ts
Labels: fishing-map, data-transforms

#2147 update strategy and map selectors
  apps/fishing-map-e2e/cypress.config.ts
  apps/fishing-map-e2e/src/constants/urls.ts
  apps/fishing-map-e2e/src/constants/vessels.ts
  apps/fishing-map-e2e/src/e2e/app.cy.ts
  apps/fishing-map-e2e/src/e2e/fishing-activity/vms.cy.ts
  apps/fishing-map-e2e/src/e2e/login.cy.ts
  apps/fishing-map-e2e/src/e2e/map/interact-with-vessel.cy.ts
  apps/fishing-map-e2e/src/e2e/map/map.cy.ts
  apps/fishing-map-e2e/src/e2e/sidebar/search-vessel.cy.ts
  apps/fishing-map-e2e/src/fixtures/example.json
  apps/fishing-map-e2e/src/support/app.po.ts
  apps/fishing-map-e2e/src/support/commands.ts
  apps/fishing-map/features/map/popups/VesselsTable.tsx
  apps/fishing-map/features/search/Search.tsx
  apps/fishing-map/features/sidebar/Sidebar.tsx
  apps/fishing-map/features/workspace/vessels/VesselLayerPanel.tsx
  apps/fishing-map/features/workspace/vessels/VesselsSection.tsx
  libs/ui-components/src/button/Button.tsx
  libs/ui-components/src/icon-button/IconButton.tsx
  libs/ui-components/src/input-text/InputText.tsx
Labels: fishing-map, deploy-dev

#2013 Fishing map e2e/test login
  apps/fishing-map-e2e/.env.sample
  apps/fishing-map-e2e/cypress.config.ts
  apps/fishing-map-e2e/project.json
  apps/fishing-map-e2e/src/constants/urls.ts
  apps/fishing-map-e2e/src/constants/vessels.ts
  apps/fishing-map-e2e/src/constants/vms.ts
  apps/fishing-map-e2e/src/e2e/app.cy.ts
  apps/fishing-map-e2e/src/e2e/fishing-activity/vms.cy.ts
  apps/fishing-map-e2e/src/e2e/login.cy.ts
  apps/fishing-map-e2e/src/e2e/map/interact-with-vessel.cy.ts
  apps/fishing-map-e2e/src/e2e/sidebar/search-vessel.cy.ts
  apps/fishing-map-e2e/src/fixtures/example.json
  apps/fishing-map-e2e/src/support/app.po.ts
  apps/fishing-map-e2e/src/support/commands.ts
  apps/fishing-map-e2e/test-results.xml
  apps/fishing-map/cloudbuild.yaml
  apps/fishing-map/features/map/popups/VesselsTable.tsx
  apps/fishing-map/features/search/Search.tsx
  apps/fishing-map/features/sidebar/Sidebar.tsx
  apps/fishing-map/features/workspace/activity/ActivityFilters.tsx
  apps/fishing-map/features/workspace/activity/ActivityLayerPanel.tsx
  apps/fishing-map/features/workspace/shared/DatasetSourceField.tsx
  apps/fishing-map/features/workspace/vessels/VesselLayerPanel.tsx
  apps/fishing-map/features/workspace/vessels/VesselsSection.tsx
  libs/timebar/src/charts/tracks.tsx
  libs/timebar/src/components/timeline.js
  libs/ui-components/src/button/Button.tsx
  libs/ui-components/src/icon-button/IconButton.tsx
  libs/ui-components/src/input-text/InputText.tsx
  libs/ui-components/src/multi-select/MultiSelect.tsx
  libs/ui-components/src/tag-list/TagList.tsx
Labels: fishing-map, timebar, deploy-dev

#2153 See the creation of analysis for an area
  apps/fishing-map-e2e/.gitignore
  apps/fishing-map-e2e/src/constants/buttons.ts
  apps/fishing-map-e2e/src/constants/search.ts
  apps/fishing-map-e2e/src/constants/vessels.ts
  apps/fishing-map-e2e/src/e2e/map/analysis.cy.ts
  apps/fishing-map-e2e/src/e2e/map/interact-with-vessel.cy.ts
  apps/fishing-map-e2e/src/e2e/sidebar/search-vessel.cy.ts
  apps/fishing-map-e2e/src/support/app.po.ts
  apps/fishing-map-e2e/src/support/commands.ts
  apps/fishing-map/features/map/controls/MapSearch.tsx
  apps/fishing-map/features/map/popups/ContextLayers.tsx
  apps/fishing-map/features/map/popups/ContextLayersRow.tsx
  apps/fishing-map/features/reports/activity/ReportActivityEvolution.tsx
  apps/fishing-map/features/reports/title/ReportTitle.tsx
  apps/fishing-map/features/reports/vessels/ReportVesselsGraph.tsx
  apps/fishing-map/features/reports/vessels/ReportVesselsTable.tsx
  apps/fishing-map/features/reports/vessels/ReportVesselsTableFooter.tsx
  apps/fishing-map/features/workspace/common/LayerSwitch.tsx
  apps/fishing-map/features/workspace/context-areas/ContextAreaLayerPanel.tsx
  apps/fishing-map/features/workspace/shared/DatasetSourceField.tsx
  libs/ui-components/src/switch/Switch.tsx
  libs/ui-components/src/tag-list/TagList.tsx
Labels: fishing-map, deploy-dev
