Repository GlobalFishingWatch/frontend, pull requests merged in 2023-06, with the labels that each got.

#2082 Deck migration/fourwings
  apps/fishing-map/features/map/map.hooks.ts
  libs/dataviews-client/src/resolve-dataviews-generators.ts
  libs/deck-layers/src/index.ts
  libs/deck-layers/src/layer-composer/layer-composer.hooks.ts
  libs/deck-layers/src/layers/fourwings/fourwings.hooks.ts
  libs/layer-composer/src/generators/types.ts
Labels: fishing-map, dataviews-client, layer-composer

#2088 fix missing datasets in old pinned dataviews
  apps/fishing-map/features/datasets/datasets.utils.ts
Labels: fishing-map

#2092 New Crowdin updates
  apps/vessel-history/public/locales/fr/translations.json
  libs/i18n-labels/en/datasets.json
  libs/i18n-labels/es/datasets.json
  libs/i18n-labels/fr/datasets.json
  libs/i18n-labels/fr/flags.json
Labels: vessel-history, i18n-labels

#2093 add canny to feedback options
  apps/fishing-map/features/feedback/FeedbackModal.tsx
  apps/fishing-map/features/sidebar/CategoryTabs.module.css
  apps/fishing-map/features/sidebar/CategoryTabs.tsx
  apps/fishing-map/public/locales/source/translations.json
Labels: fishing-map

#2096 New Crowdin updates
  apps/fishing-map/public/locales/fr/translations.json
  apps/fishing-map/public/locales/pt/translations.json
Labels: fishing-map

#2097 Fishing map/map interaction review
  apps/fishing-map/features/download/DownloadActivityModal.tsx
  apps/fishing-map/features/map/map.slice.ts
  apps/fishing-map/features/reports/summary/ReportSummary.tsx
  libs/react-hooks/src/use-map-interaction/use-map-interaction.ts
Labels: fishing-map, react-hooks

#2098 recalculate timebar graph on mode change
  apps/fishing-map/features/map/map-sources.hooks.ts
  apps/fishing-map/features/timebar/TimebarActivityGraph.hooks.ts
Labels: fishing-map

#2099 Added GTM on VV. VV-555
  apps/vessel-history/cloudbuild.yaml
  apps/vessel-history/data/config.ts
  apps/vessel-history/features/app/analytics.hooks.ts
  apps/vessel-history/pages/_app.tsx
  apps/vessel-history/pages/_document.tsx
Labels: vessel-history, deploy-dev

#2101 add google tag manager in fishing-map
  apps/fishing-map/.build.env.sample
  apps/fishing-map/.env.sample
  apps/fishing-map/cloudbuild.yaml
  apps/fishing-map/features/app/analytics.hooks.ts
  apps/fishing-map/pages/_document.tsx
Labels: fishing-map

#2102 Push user dimensions to GTM. VV-556
  apps/vessel-history/features/app/analytics.hooks.ts
  apps/vessel-history/pages/_app.tsx
Labels: vessel-history, deploy-dev

#2108 New Crowdin updates
  libs/i18n-labels/en/datasets.json
  libs/i18n-labels/es/datasets.json
  libs/i18n-labels/fr/datasets.json
  libs/i18n-labels/id/datasets.json
  libs/i18n-labels/pt/datasets.json
  libs/i18n-labels/source/datasets.json
  libs/i18n-labels/val/datasets.json
Labels: i18n-labels

#2109 update measurement id
  apps/fishing-map/.build.env.sample
  apps/fishing-map/.env.sample
  apps/fishing-map/cloudbuild.yaml
  apps/fishing-map/data/config.ts
  apps/fishing-map/features/app/analytics.hooks.ts
Labels: fishing-map

#2110 Migrate UA to GA4. VV-553
  apps/vessel-history/.build.env.sample
  apps/vessel-history/cloudbuild.yaml
  apps/vessel-history/data/config.ts
  apps/vessel-history/features/activity-by-type/activity-by-type.tsx
  apps/vessel-history/features/app/analytics.hooks.ts
  apps/vessel-history/features/event-filters/EventFilters.tsx
  apps/vessel-history/features/home/Home.tsx
  apps/vessel-history/features/home/LanguageToggle.tsx
  apps/vessel-history/features/map/controls/MapControls.tsx
  apps/vessel-history/features/profile/Profile.tsx
  apps/vessel-history/features/profile/components/AuthorizationsField.tsx
  apps/vessel-history/features/profile/components/Faq.tsx
  apps/vessel-history/features/profile/components/GuideAndVideo.tsx
  apps/vessel-history/features/profile/components/Highlights.tsx
  apps/vessel-history/features/profile/components/Info.tsx
  apps/vessel-history/features/profile/components/InfoField.tsx
  apps/vessel-history/features/profile/filters/ActivityFilters.tsx
  apps/vessel-history/features/risk-identity-indicator/risk-identity-indicator.tsx
  apps/vessel-history/features/risk-indicator/risk-indicator.tsx
  apps/vessel-history/features/risk-iuu-indicator/risk-iuu-indicator.tsx
  apps/vessel-history/features/search/search.hooks.ts
  apps/vessel-history/features/search/search.thunk.ts
  apps/vessel-history/features/settings/settings.hooks.ts
  apps/vessel-history/features/user/user.hooks.ts
  apps/vessel-history/features/workspace/common/LayerSwitch.tsx
  apps/vessel-history/package.json
  apps/vessel-history/pages/_app.tsx
  apps/vessel-history/pages/_document.tsx
  yarn.lock
Labels: vessel-history, deploy-dev

#2112 use snake_case for ga4 properties
  apps/fishing-map/features/app/analytics.hooks.ts
Labels: fishing-map

#2113 Release/vessel history@1.8.1 WIP
  apps/vessel-history/.build.env.sample
  apps/vessel-history/cloudbuild.yaml
  apps/vessel-history/data/config.ts
  apps/vessel-history/features/activity-by-type/activity-by-type.tsx
  apps/vessel-history/features/app/analytics.hooks.ts
  apps/vessel-history/features/event-filters/EventFilters.tsx
  apps/vessel-history/features/home/Home.tsx
  apps/vessel-history/features/home/LanguageToggle.tsx
  apps/vessel-history/features/map/controls/MapControls.tsx
  apps/vessel-history/features/profile/Profile.tsx
  apps/vessel-history/features/profile/components/AuthorizationsField.tsx
  apps/vessel-history/features/profile/components/Faq.tsx
  apps/vessel-history/features/profile/components/GuideAndVideo.tsx
  apps/vessel-history/features/profile/components/Highlights.tsx
  apps/vessel-history/features/profile/components/Info.tsx
  apps/vessel-history/features/profile/components/InfoField.tsx
  apps/vessel-history/features/profile/filters/ActivityFilters.tsx
  apps/vessel-history/features/risk-identity-indicator/risk-identity-indicator.tsx
  apps/vessel-history/features/risk-indicator/risk-indicator.tsx
  apps/vessel-history/features/risk-iuu-indicator/risk-iuu-indicator.tsx
  apps/vessel-history/features/search/search.hooks.ts
  apps/vessel-history/features/search/search.thunk.ts
  apps/vessel-history/features/settings/settings.hooks.ts
  apps/vessel-history/features/user/user.hooks.ts
  apps/vessel-history/features/workspace/common/LayerSwitch.tsx
  apps/vessel-history/package.json
  apps/vessel-history/pages/_app.tsx
  apps/vessel-history/pages/_document.tsx
  yarn.lock
Labels: vessel-history

#2111 make vessel instances shorter in url
  apps/fishing-map/features/dataviews/dataviews.slice.ts
  apps/fishing-map/features/dataviews/dataviews.utils.ts
  apps/fishing-map/features/map/popups/TileClusterLayers.tsx
  apps/fishing-map/features/map/popups/VesselsTable.tsx
  apps/fishing-map/features/reports/vessels/ReportVesselsTable.tsx
  apps/fishing-map/features/search/Search.tsx
  libs/api-types/src/dataviews.ts
Labels: fishing-map, api-types

#2115 Fix VV and Fishing Map sending GA4 hits to multiple GA4 environments
  apps/vessel-history/cloudbuild.yaml
  apps/vessel-history/data/config.ts
  apps/vessel-history/features/app/analytics.hooks.ts
  apps/vessel-history/features/profile/Profile.tsx
  apps/vessel-history/pages/_document.tsx
  nx.json
Labels: vessel-history, deploy-dev

#2117 🚀 Release - Vessel Viewer v1.8.2
  apps/vessel-history/cloudbuild.yaml
  apps/vessel-history/data/config.ts
  apps/vessel-history/features/app/analytics.hooks.ts
  apps/vessel-history/features/profile/Profile.tsx
  apps/vessel-history/package.json
  apps/vessel-history/pages/_document.tsx
  nx.json
Labels: vessel-history
