Repository GlobalFishingWatch/frontend, pull requests merged in 2023-05, with the labels that each got.

#2021 New Crowdin updates
  apps/fishing-map/public/locales/es/translations.json
  libs/i18n-labels/en/datasets.json
  libs/i18n-labels/es/datasets.json
  libs/i18n-labels/fr/datasets.json
  libs/i18n-labels/id/datasets.json
  libs/i18n-labels/pt/datasets.json
  libs/i18n-labels/source/datasets.json
  libs/i18n-labels/val/datasets.json
Labels: fishing-map, i18n-labels

#2025 New Crowdin updates
  libs/i18n-labels/en/datasets.json
  libs/i18n-labels/es/datasets.json
  libs/i18n-labels/fr/datasets.json
  libs/i18n-labels/id/datasets.json
  libs/i18n-labels/pt/datasets.json
  libs/i18n-labels/source/datasets.json
  libs/i18n-labels/val/datasets.json
Labels: i18n-labels

#2026 New Crowdin updates
  libs/i18n-labels/en/datasets.json
Labels: i18n-labels

#2029 New Crowdin updates
  libs/i18n-labels/en/datasets.json
  libs/i18n-labels/es/datasets.json
  libs/i18n-labels/fr/datasets.json
  libs/i18n-labels/id/datasets.json
  libs/i18n-labels/pt/datasets.json
  libs/i18n-labels/source/datasets.json
Labels: i18n-labels

#2030 New Crowdin updates
  apps/fishing-map/public/locales/source/translations.json
Labels: fishing-map

#2031 New Crowdin updates
  apps/fishing-map/public/locales/en/translations.json
  apps/fishing-map/public/locales/es/translations.json
  apps/fishing-map/public/locales/fr/translations.json
  apps/fishing-map/public/locales/id/translations.json
  apps/fishing-map/public/locales/pt/translations.json
  apps/fishing-map/public/locales/source/translations.json
  apps/fishing-map/public/locales/val/translations.json
Labels: fishing-map

#2033 New Crowdin updates
  libs/i18n-labels/en/datasets.json
  libs/i18n-labels/es/datasets.json
  libs/i18n-labels/fr/datasets.json
  libs/i18n-labels/id/datasets.json
  libs/i18n-labels/pt/datasets.json
  libs/i18n-labels/source/datasets.json
  libs/i18n-labels/val/datasets.json
Labels: i18n-labels

#2034 New Crowdin updates
  apps/fishing-map/public/locales/en/translations.json
  apps/fishing-map/public/locales/es/translations.json
  apps/fishing-map/public/locales/fr/translations.json
  apps/fishing-map/public/locales/id/translations.json
  apps/fishing-map/public/locales/pt/translations.json
  apps/vessel-history/public/locales/en/translations.json
  apps/vessel-history/public/locales/es/translations.json
  apps/vessel-history/public/locales/fr/translations.json
  apps/vessel-history/public/locales/id/translations.json
  apps/vessel-history/public/locales/pt/translations.json
  libs/i18n-labels/en/datasets.json
  libs/i18n-labels/es/datasets.json
  libs/i18n-labels/es/flags.json
  libs/i18n-labels/fr/datasets.json
  libs/i18n-labels/fr/flags.json
  libs/i18n-labels/fr/timebar.json
  libs/i18n-labels/id/datasets.json
  libs/i18n-labels/id/timebar.json
  libs/i18n-labels/pt/datasets.json
  libs/i18n-labels/pt/flags.json
  libs/i18n-labels/pt/timebar.json
  libs/ocean-areas/src/data/locales/en.json
  libs/ocean-areas/src/data/locales/es.json
  libs/ocean-areas/src/data/locales/fr.json
  libs/ocean-areas/src/data/locales/id.json
  libs/ocean-areas/src/data/locales/pt.json
Labels: fishing-map, vessel-history, i18n-labels, ocean-areas

#2032 use redux-first-router to navigate to vessel-profile
  apps/fishing-map/features/map/map.hooks.ts
  apps/fishing-map/features/user/UserInfo.tsx
  apps/fishing-map/features/user/UserWorkspaces.tsx
  apps/fishing-map/features/vessel/Vessel.tsx
  apps/fishing-map/features/vessel/VesselEvents.tsx
  apps/fishing-map/features/vessel/Vesseldentity.tsx
  apps/fishing-map/features/vessel/vessel.slice.ts
  apps/fishing-map/features/workspace/vessels/VesselLayerPanel.tsx
  apps/fishing-map/features/workspace/workspace.selectors.ts
  apps/fishing-map/features/workspace/workspace.slice.ts
  apps/fishing-map/next.config.js
  apps/fishing-map/pages/[category]/[workspace]/vessel/[datasetId]/[vesselId].tsx
  apps/fishing-map/routes/routes.actions.ts
  apps/fishing-map/routes/routes.hook.ts
  apps/fishing-map/routes/routes.middlewares.ts
Labels: fishing-map, deploy-dev

#2035 Fix missing pin vessel for vms vessels
  apps/fishing-map/data/workspaces.ts
  apps/fishing-map/features/map/popups/VesselsTable.tsx
Labels: fishing-map

#2036 New Crowdin updates
  apps/fishing-map/public/locales/en/translations.json
  apps/fishing-map/public/locales/es/translations.json
  apps/fishing-map/public/locales/fr/translations.json
  apps/fishing-map/public/locales/id/translations.json
  apps/fishing-map/public/locales/pt/translations.json
  libs/i18n-labels/en/datasets.json
Labels: fishing-map, i18n-labels

#2038 Display VMS Country popup in the map. VMS-37
  apps/fishing-map/features/user/user.slice.ts
  apps/fishing-map/features/workspace/highlight-panel/highlight-panel.content.ts
  apps/fishing-map/public/images/papua_new_guinea-vms.webp
Labels: fishing-map

#2042 Fix production environment detection to show highlight poup. VMS-37
  apps/fishing-map/data/config.ts
  apps/fishing-map/features/workspace/highlight-panel/highlight-panel.content.ts
Labels: fishing-map, deploy-dev

#2045 show rfmo layer filters
  apps/fishing-map/data/workspaces.ts
Labels: fishing-map

#2046 add in-context translations to cache purge
  libs/i18n-labels/purge_jsdelivr.sh
Labels: i18n-labels

#2044 Make a Blueprint version of the Vessel Viewer // VV-550
  apps/vessel-history/README.md
Labels: vessel-history

#2047 New Crowdin updates
  apps/fishing-map/public/locales/fr/translations.json
Labels: fishing-map

#2050 New Crowdin updates
  apps/fishing-map/public/locales/fr/translations.json
  libs/i18n-labels/es/datasets.json
Labels: fishing-map, i18n-labels

#2054 request reports only for supported datasets
  apps/fishing-map/features/datasets/datasets.utils.ts
  apps/fishing-map/features/download/DownloadActivityByVessel.tsx
  apps/fishing-map/features/download/DownloadActivityGridded.tsx
  apps/fishing-map/features/reports/reports.hooks.ts
  apps/fishing-map/features/reports/reports.selectors.ts
  apps/fishing-map/features/reports/vessels/ReportVesselsGraph.tsx
  apps/fishing-map/features/reports/vessels/ReportVesselsTable.module.css
  apps/fishing-map/features/reports/vessels/ReportVesselsTable.tsx
  apps/fishing-map/public/locales/source/translations.json
Labels: fishing-map

#2055 New Crowdin updates
  apps/fishing-map/public/locales/en/translations.json
  apps/fishing-map/public/locales/es/translations.json
  apps/fishing-map/public/locales/fr/translations.json
  apps/fishing-map/public/locales/id/translations.json
  apps/fishing-map/public/locales/pt/translations.json
  apps/fishing-map/public/locales/val/translations.json
Labels: fishing-map

#2058 Include PNG in the private WS list. VMS-37
  apps/fishing-map/features/user/user.slice.ts
Labels: fishing-map

#2060 Fishing map/release tweaks
  apps/fishing-map/features/map/map.hooks.ts
  apps/fishing-map/features/map/map.slice.ts
  apps/fishing-map/features/map/popups/VesselsTable.module.css
  apps/fishing-map/features/map/popups/VesselsTable.tsx
  apps/fishing-map/features/reports/NewReportModal.tsx
  apps/fishing-map/features/reports/Report.module.css
  apps/fishing-map/features/reports/Report.tsx
  apps/fishing-map/features/reports/reports.slice.ts
  apps/fishing-map/features/reports/vessels/ReportVesselsTable.module.css
  apps/fishing-map/features/search/SearchPlaceholders.module.css
  apps/fishing-map/features/search/SearchPlaceholders.tsx
  apps/fishing-map/features/user/User.module.css
  apps/fishing-map/features/user/UserReports.tsx
  apps/fishing-map/features/workspace/workspace.slice.ts
  apps/fishing-map/public/locales/source/translations.json
Labels: fishing-map

#2061 New Crowdin updates
  apps/fishing-map/public/locales/fr/translations.json
  apps/fishing-map/public/locales/id/translations.json
  libs/i18n-labels/fr/datasets.json
  libs/i18n-labels/id/datasets.json
Labels: fishing-map, i18n-labels

#2062 add admin group in list for admins
  apps/user-groups-admin/components/layout/layout.tsx
  apps/user-groups-admin/components/user-groups/list.tsx
  apps/user-groups-admin/data/config.ts
  apps/user-groups-admin/pages/index.tsx
Labels: user-groups-admin

#2064 Display Costa Rica en private workspaces list. MAP-1171
  apps/fishing-map/features/user/user.slice.ts
Labels: fishing-map

#2065 New Crowdin updates
  apps/fishing-map/public/locales/fr/translations.json
Labels: fishing-map

#2067 Include Chile in the list of private workspaces. VMS-7
  apps/fishing-map/features/user/user.slice.ts
Labels: fishing-map

#2048 Default map should have all public vms sources available. e2e. MAP-1169
  apps/fishing-map-e2e/src/e2e/fishing-activity/vms.cy.ts
  apps/fishing-map-e2e/src/support/app.po.ts
  apps/fishing-map-e2e/src/support/commands.ts
  apps/fishing-map/features/workspace/activity/ActivityFilters.tsx
  apps/fishing-map/features/workspace/activity/ActivityLayerPanel.tsx
  apps/fishing-map/features/workspace/shared/DatasetSourceField.tsx
  libs/ui-components/src/multi-select/MultiSelect.tsx
  libs/ui-components/src/tag-list/TagList.tsx
Labels: fishing-map, deploy-dev

#2069 New Crowdin updates
  libs/i18n-labels/es/datasets.json
  libs/i18n-labels/fr/datasets.json
  libs/i18n-labels/pt/datasets.json
Labels: i18n-labels

#2070 Display highlight popup on PNG release and default datasets. VMS-46
  apps/fishing-map/data/default-workspaces/workspace.development.ts
  apps/fishing-map/data/default-workspaces/workspace.production.ts
  apps/fishing-map/features/workspace/highlight-panel/highlight-panel.content.ts
Labels: fishing-map

#2072 New Crowdin updates
  libs/i18n-labels/es/datasets.json
  libs/i18n-labels/pt/datasets.json
Labels: i18n-labels

#2073 New Crowdin updates
  libs/i18n-labels/en/datasets.json
Labels: i18n-labels

#2075 New Crowdin updates
  libs/i18n-labels/es/datasets.json
  libs/i18n-labels/pt/datasets.json
Labels: i18n-labels

#2076 Fix PNG highlight popup translation. VMS-46
  apps/fishing-map/features/workspace/highlight-panel/highlight-panel.content.ts
Labels: fishing-map

#2077 Fishing map/update translations
  apps/fishing-map/public/locales/en/translations.json
  apps/fishing-map/public/locales/es/translations.json
  libs/i18n-labels/en/datasets.json
  libs/i18n-labels/es/datasets.json
Labels: fishing-map, i18n-labels

#2078 Chore/fix build
  .gitignore
  .yarn/releases/yarn-3.3.1.cjs
  .yarn/releases/yarn-3.5.1.cjs
  .yarnrc.yml
  apps/api-portal/package.json
  apps/deck-playground/package.json
  apps/fishing-map/package.json
  apps/fourwings-explorer/package.json
  apps/port-labeler/package.json
  apps/tile-inspector/package.json
  apps/user-groups-admin/package.json
  apps/vessel-history/package.json
  package.json
  tools/generators/app/files/package.json__tmpl__
  tools/generators/minisite/files/package.json__tmpl__
  yarn.lock
Labels: fishing-map, vessel-history, api-portal, port-labeler, tile-inspector, user-groups-admin
