Repository GlobalFishingWatch/frontend, pull requests merged in 2023-12, with the labels that each got.

#2416 Fishing map/new dataset upload cleanup
  apps/api-portal/tsconfig.json
  apps/deck-playground/features/map/Map.tsx
  apps/deck-playground/loaders/vessels/parquetLoader.ts
  apps/deck-playground/tsconfig.json
  apps/fishing-map/features/datasets/EditDataset.tsx
  apps/fishing-map/features/datasets/datasets.hook.ts
  apps/fishing-map/features/datasets/datasets.utils.ts
  apps/fishing-map/features/datasets/upload/NewDataset.tsx
  apps/fishing-map/features/datasets/upload/NewDatasetField.tsx
  apps/fishing-map/features/datasets/upload/NewPointsDataset.tsx
  apps/fishing-map/features/datasets/upload/NewTrackDataset.tsx
  apps/fishing-map/features/datasets/upload/datasets-parse.utils.ts
  apps/fishing-map/features/datasets/upload/datasets-upload.hooks.ts
  apps/fishing-map/features/datasets/upload/datasets-upload.utils.ts
  apps/fishing-map/features/dataviews/dataviews.utils.ts
  apps/fishing-map/features/map/popups/PopupWrapper.tsx
  apps/fishing-map/features/workspace/common/FitBounds.tsx
  apps/fishing-map/features/workspace/context-areas/ContextAreaLayerPanel.tsx
  apps/fishing-map/features/workspace/environmental/EnvironmentalLayerPanel.tsx
  apps/fishing-map/features/workspace/user/UserLayerPanel.tsx
  apps/fishing-map/features/workspace/user/UserLayerTrackPanel.tsx
  apps/fishing-map/features/workspace/user/workspace-user.utils.ts
  apps/fishing-map/tsconfig.json
  apps/fishing-map/utils/files.ts
  apps/fourwings-explorer/tsconfig.json
  apps/port-labeler/tsconfig.json
  apps/tile-inspector/tsconfig.json
  apps/user-groups-admin/tsconfig.json
  apps/vessel-history/tsconfig.json
  libs/api-types/src/datasets.ts
  libs/datasets-client/.babelrc
  libs/datasets-client/.eslintrc.json
  libs/datasets-client/README.md
  libs/datasets-client/jest.config.ts
  libs/datasets-client/package.json
  libs/datasets-client/project.json
  libs/datasets-client/src/datasets-client.ts
  libs/datasets-client/src/index.ts
  libs/datasets-client/tsconfig.json
  libs/datasets-client/tsconfig.lib.json
  libs/datasets-client/tsconfig.spec.json
  libs/dataviews-client/src/resolve-dataviews-generators.ts
  libs/layer-composer/src/generators/user-context/user-context.ts
  libs/layer-composer/src/generators/user-points/config.ts
  libs/layer-composer/src/generators/user-points/user-points.ts
  libs/layer-composer/src/layer-composer.ts
  tools/generators/app/files/tsconfig.json__tmpl__
  tools/generators/minisite/files/tsconfig.json__tmpl__
  tsconfig.base.json
  yarn.lock
Labels: fishing-map, vessel-history, dataviews-client, layer-composer, api-portal, port-labeler, tile-inspector, user-groups-admin, api-types

#2418 🚀 Release - Vessel Viewer v1.9.1
  apps/vessel-history/features/map/Map.tsx
  apps/vessel-history/package.json
Labels: vessel-history

#2419 Master > Develop
  apps/vessel-history/features/map/Map.tsx
  apps/vessel-history/package.json
Labels: vessel-history

#2420 Fishing map/dataset upload improvements
  apps/fishing-map/features/datasets/upload/NewPointsDataset.tsx
  apps/fishing-map/features/datasets/upload/NewTrackDataset.tsx
  apps/fishing-map/features/datasets/upload/datasets-upload.hooks.tsx
  apps/fishing-map/public/locales/source/translations.json
  apps/fishing-map/utils/shared.ts
  libs/data-transforms/src/schema/guess-columns.ts
Labels: fishing-map, data-transforms

#2422 New Crowdin updates
  libs/i18n-labels/val/datasets.json
Labels: i18n-labels

#2424 New Crowdin updates
  apps/fishing-map/public/locales/en/translations.json
  apps/fishing-map/public/locales/source/translations.json
  libs/i18n-labels/en/datasets.json
  libs/i18n-labels/source/datasets.json
Labels: fishing-map, i18n-labels

#2425 New Crowdin updates
  apps/vessel-history/public/locales/val/translations.json
  libs/i18n-labels/en/datasets.json
  libs/i18n-labels/es/datasets.json
  libs/i18n-labels/fr/datasets.json
  libs/i18n-labels/id/datasets.json
  libs/i18n-labels/pt/datasets.json
  libs/i18n-labels/source/datasets.json
  libs/i18n-labels/val/datasets.json
Labels: vessel-history, i18n-labels

#2427 New Crowdin updates
  libs/i18n-labels/en/datasets.json
  libs/i18n-labels/es/datasets.json
  libs/i18n-labels/fr/datasets.json
  libs/i18n-labels/id/datasets.json
  libs/i18n-labels/pt/datasets.json
  libs/i18n-labels/source/datasets.json
  libs/i18n-labels/val/datasets.json
Labels: i18n-labels

#2428 New Crowdin updates
  libs/i18n-labels/en/datasets.json
  libs/i18n-labels/es/datasets.json
  libs/i18n-labels/fr/datasets.json
  libs/i18n-labels/id/datasets.json
  libs/i18n-labels/pt/datasets.json
  libs/i18n-labels/source/datasets.json
  libs/i18n-labels/val/datasets.json
Labels: i18n-labels

#2429 New Crowdin updates
  libs/i18n-labels/en/datasets.json
  libs/i18n-labels/es/datasets.json
  libs/i18n-labels/fr/datasets.json
  libs/i18n-labels/id/datasets.json
  libs/i18n-labels/pt/datasets.json
  libs/i18n-labels/source/datasets.json
  libs/i18n-labels/val/datasets.json
Labels: i18n-labels

#2430 New Crowdin updates
  libs/i18n-labels/en/datasets.json
  libs/i18n-labels/es/datasets.json
  libs/i18n-labels/fr/datasets.json
  libs/i18n-labels/id/datasets.json
  libs/i18n-labels/pt/datasets.json
  libs/i18n-labels/source/datasets.json
  libs/i18n-labels/val/datasets.json
Labels: i18n-labels

#2431 New Crowdin updates
  libs/i18n-labels/en/datasets.json
  libs/i18n-labels/es/datasets.json
  libs/i18n-labels/fr/datasets.json
  libs/i18n-labels/id/datasets.json
  libs/i18n-labels/pt/datasets.json
  libs/i18n-labels/source/datasets.json
  libs/i18n-labels/val/datasets.json
Labels: i18n-labels

#2432 New Crowdin updates
  libs/i18n-labels/en/datasets.json
  libs/i18n-labels/es/datasets.json
  libs/i18n-labels/fr/datasets.json
  libs/i18n-labels/id/datasets.json
  libs/i18n-labels/pt/datasets.json
  libs/i18n-labels/source/datasets.json
  libs/i18n-labels/val/datasets.json
Labels: i18n-labels

#2433 SAR release feedback
  apps/fishing-map/features/datasets/datasets.utils.ts
  apps/fishing-map/features/i18n/translation-keys.ts
  apps/fishing-map/features/workspace/activity/ActivityFilters.tsx
  apps/fishing-map/features/workspace/activity/ActivitySchemaFilter.tsx
  apps/fishing-map/features/workspace/common/InfoModal.module.css
  apps/fishing-map/features/workspace/common/InfoModalContent.tsx
  apps/fishing-map/features/workspace/environmental/EnvironmentalLayerPanel.tsx
  apps/fishing-map/project.json
  apps/fishing-map/public/locales/source/translations.json
Labels: fishing-map

#2434 Allow users to report errors at specific locations
  apps/fishing-map/features/map/Map.tsx
  apps/fishing-map/features/map/annotations/Annotations.tsx
  apps/fishing-map/features/map/controls/MapControls.module.css
  apps/fishing-map/features/map/controls/MapControls.tsx
  apps/fishing-map/features/map/error-notification/ErrorNotification.module.css
  apps/fishing-map/features/map/error-notification/ErrorNotification.tsx
  apps/fishing-map/features/map/error-notification/error-notification.hooks.ts
  apps/fishing-map/features/map/error-notification/error-notification.slice.ts
  apps/fishing-map/features/map/map-interactions.hooks.ts
  apps/fishing-map/public/locales/source/translations.json
  apps/fishing-map/reducers.ts
  libs/ui-components/src/assets/icons/feedback-error.svg
  libs/ui-components/src/icon/Icon.tsx
Labels: fishing-map, deploy-dev

#2421 Fishing map/annotations
  .vscode/settings.json
  apps/fishing-map/data/config.ts
  apps/fishing-map/features/app/app.selectors.ts
  apps/fishing-map/features/map/Map.tsx
  apps/fishing-map/features/map/MapDraw.tsx
  apps/fishing-map/features/map/annotations/Annotations.module.css
  apps/fishing-map/features/map/annotations/Annotations.tsx
  apps/fishing-map/features/map/annotations/annotations-drag.hooks.ts
  apps/fishing-map/features/map/annotations/annotations.hooks.ts
  apps/fishing-map/features/map/annotations/annotations.slice.ts
  apps/fishing-map/features/map/controls/AnnotationsControl.tsx
  apps/fishing-map/features/map/controls/MapControlGroup.module.css
  apps/fishing-map/features/map/controls/MapControlGroup.tsx
  apps/fishing-map/features/map/controls/MapControls.module.css
  apps/fishing-map/features/map/controls/MapControls.tsx
  apps/fishing-map/features/map/controls/RulersControl.tsx
  apps/fishing-map/features/map/error-notification/ErrorNotification.module.css
  apps/fishing-map/features/map/error-notification/ErrorNotification.tsx
  apps/fishing-map/features/map/error-notification/error-notification.hooks.ts
  apps/fishing-map/features/map/error-notification/error-notification.slice.ts
  apps/fishing-map/features/map/map-interactions.hooks.ts
  apps/fishing-map/features/map/map.config.ts
  apps/fishing-map/features/map/map.hooks.ts
  apps/fishing-map/features/map/map.selectors.ts
  apps/fishing-map/features/map/popups/AnnotationTooltip.tsx
  apps/fishing-map/features/map/popups/Popup.module.css
  apps/fishing-map/features/map/popups/PopupWrapper.tsx
  apps/fishing-map/features/map/popups/RulerTooltip.tsx
  apps/fishing-map/features/map/rulers/Rulers.tsx
  apps/fishing-map/features/map/rulers/rulers-drag.hooks.ts
  apps/fishing-map/features/map/rulers/rulers.hooks.ts
  apps/fishing-map/features/map/rulers/rulers.slice.ts
  apps/fishing-map/features/workspace/context-areas/ContextAreaLayerPanel.tsx
  apps/fishing-map/public/locales/source/translations.json
  apps/fishing-map/reducers.ts
  apps/fishing-map/types/index.ts
  libs/layer-composer/src/generators/annotations/annotations.ts
  libs/layer-composer/src/generators/index.ts
  libs/layer-composer/src/generators/rulers/rulers.ts
  libs/layer-composer/src/generators/types.ts
  libs/layer-composer/src/types/index.ts
  libs/react-hooks/src/use-map-interaction/index.ts
  libs/react-hooks/src/use-map-interaction/use-map-interaction.ts
  libs/ui-components/src/assets/icons/annotation.svg
  libs/ui-components/src/assets/icons/edit-off.svg
  libs/ui-components/src/assets/icons/feedback-error.svg
  libs/ui-components/src/assets/icons/visibility-off.svg
  libs/ui-components/src/assets/icons/visibility-on.svg
  libs/ui-components/src/color-bar/ColorBar.module.css
  libs/ui-components/src/icon/Icon.tsx
  libs/ui-components/src/input-text/InputText.module.css
Labels: fishing-map, layer-composer, react-hooks, deploy-dev

#2439 New Crowdin updates
  libs/i18n-labels/en/datasets.json
  libs/i18n-labels/es/datasets.json
  libs/i18n-labels/fr/datasets.json
  libs/i18n-labels/id/datasets.json
  libs/i18n-labels/pt/datasets.json
  libs/i18n-labels/source/datasets.json
  libs/i18n-labels/val/datasets.json
Labels: i18n-labels
