Repository GlobalFishingWatch/frontend, pull requests merged in 2023-08, with the labels that each got.

#2155 Fishing map/search identity fixes
  apps/fishing-map/features/app/App.tsx
  apps/fishing-map/features/datasets/datasets.mock.ts
  apps/fishing-map/features/datasets/datasets.slice.ts
  apps/fishing-map/features/datasets/datasets.utils.ts
  apps/fishing-map/features/dataviews/dataviews.mock.ts
  apps/fishing-map/features/map/map.slice.ts
  apps/fishing-map/features/search/Search.tsx
  apps/fishing-map/features/search/SearchBasic.tsx
  apps/fishing-map/features/search/SearchBasicResultList.tsx
  apps/fishing-map/features/vessel/Vessel.tsx
  apps/fishing-map/features/vessel/VesselHeader.tsx
  apps/fishing-map/features/vessel/VesselLink.tsx
  apps/fishing-map/features/vessel/vessel.config.ts
Labels: fishing-map

#2156 manually include new mpas
  libs/ocean-areas/src/data/locales/source.json
  libs/ocean-areas/src/data/mpas.ts
  libs/ocean-areas/src/data/source/manual-updates.json
  libs/ocean-areas/src/scripts/mpas.ts
  libs/ocean-areas/yarn.lock
Labels: ocean-areas

#2159 New Crowdin updates
  apps/fishing-map/public/locales/en/translations.json
  apps/fishing-map/public/locales/es/translations.json
  apps/fishing-map/public/locales/fr/translations.json
  apps/fishing-map/public/locales/id/translations.json
  apps/fishing-map/public/locales/pt/translations.json
  apps/fishing-map/public/locales/val/helpHints.json
  apps/fishing-map/public/locales/val/translations.json
  apps/vessel-history/public/locales/val/translations.json
  libs/i18n-labels/val/datasets.json
  libs/i18n-labels/val/flags.json
  libs/i18n-labels/val/timebar.json
  libs/ocean-areas/src/data/locales/val.json
Labels: fishing-map, vessel-history, i18n-labels, ocean-areas

#2162 New Crowdin updates
  apps/fishing-map/public/locales/en/translations.json
  apps/fishing-map/public/locales/es/translations.json
  apps/fishing-map/public/locales/fr/translations.json
  apps/fishing-map/public/locales/id/translations.json
  apps/fishing-map/public/locales/pt/translations.json
  apps/fishing-map/public/locales/val/translations.json
Labels: fishing-map

#2163 New Crowdin updates
  apps/fishing-map/public/locales/en/translations.json
  apps/fishing-map/public/locales/es/translations.json
  apps/fishing-map/public/locales/fr/translations.json
  apps/fishing-map/public/locales/id/translations.json
  apps/fishing-map/public/locales/pt/translations.json
  apps/fishing-map/public/locales/val/translations.json
Labels: fishing-map

#2165 New Crowdin updates
  apps/fishing-map/public/locales/en/translations.json
  apps/fishing-map/public/locales/es/translations.json
  apps/fishing-map/public/locales/fr/translations.json
  apps/fishing-map/public/locales/id/translations.json
  apps/fishing-map/public/locales/pt/translations.json
  apps/fishing-map/public/locales/source/translations.json
  apps/fishing-map/public/locales/val/translations.json
Labels: fishing-map

#2166 Fishing map/show authorizations translations
  apps/fishing-map/features/regions/regions.hooks.ts
  apps/fishing-map/features/vessel/activity/VesselActivitySummary.tsx
  apps/fishing-map/features/vessel/activity/event/ActivityDate.tsx
  apps/fishing-map/features/vessel/activity/event/Event.tsx
  apps/fishing-map/features/vessel/activity/event/EventDetail.tsx
  apps/fishing-map/features/vessel/activity/event/event.hook.tsx
  apps/fishing-map/features/vessel/identity/VesselIdentity.module.css
  apps/fishing-map/features/vessel/identity/VesselIdentity.tsx
  apps/fishing-map/features/vessel/identity/VesselIdentityField.tsx
Labels: fishing-map

#2167 New Crowdin updates
  apps/fishing-map/public/locales/source/translations.json
Labels: fishing-map

#2169 New Crowdin updates
  apps/fishing-map/public/locales/en/translations.json
  apps/fishing-map/public/locales/es/translations.json
  apps/fishing-map/public/locales/fr/translations.json
  apps/fishing-map/public/locales/id/translations.json
  apps/fishing-map/public/locales/pt/translations.json
  apps/fishing-map/public/locales/val/translations.json
Labels: fishing-map

#2172 New Crowdin updates
  apps/fishing-map/public/locales/en/translations.json
Labels: fishing-map

#2173 New Crowdin updates
  apps/fishing-map/public/locales/en/translations.json
  apps/fishing-map/public/locales/es/translations.json
  apps/fishing-map/public/locales/fr/translations.json
  apps/fishing-map/public/locales/id/translations.json
  apps/fishing-map/public/locales/pt/translations.json
  apps/fishing-map/public/locales/val/translations.json
Labels: fishing-map

#2177 remove Brazil Open Tuna Presence
  apps/fishing-map-e2e/src/constants/vms.ts
Labels: deploy-dev

#2180 send 'vessel-groups' queryParam differently for API v2 and v3 in 'lis…
  libs/dataviews-client/src/resolve-endpoint.ts
Labels: dataviews-client

#2175 Fishing map/vessel profile feedback
  apps/fishing-map/features/dataviews/dataviews.slice.ts
  apps/fishing-map/features/map/map.hooks.ts
  apps/fishing-map/features/map/popups/VesselsTable.module.css
  apps/fishing-map/features/map/popups/VesselsTable.tsx
  apps/fishing-map/features/reports/vessels/ReportVesselsTable.module.css
  apps/fishing-map/features/reports/vessels/ReportVesselsTable.tsx
  apps/fishing-map/features/search/SearchAdvancedResults.tsx
  apps/fishing-map/features/search/SearchBasicResult.tsx
  apps/fishing-map/features/search/TrackFootprint.tsx
  apps/fishing-map/features/timebar/Timebar.tsx
  apps/fishing-map/features/vessel/Vessel.tsx
  apps/fishing-map/features/vessel/VesselHeader.tsx
  apps/fishing-map/features/vessel/VesselLink.tsx
  apps/fishing-map/features/vessel/activity/activity-by-type/ActivityByType.tsx
  apps/fishing-map/features/vessel/activity/activity-by-voyage/ActivityByVoyage.tsx
  apps/fishing-map/features/vessel/activity/event/Event.module.css
  apps/fishing-map/features/vessel/activity/event/event.hook.tsx
  apps/fishing-map/features/vessel/identity/VesselIdentity.module.css
  apps/fishing-map/features/vessel/identity/VesselIdentity.tsx
  apps/fishing-map/features/vessel/vessel.hooks.ts
  apps/fishing-map/features/vessel/vessel.selectors.ts
  apps/fishing-map/features/vessel/vessel.slice.ts
  apps/fishing-map/features/vessel/vessel.utils.ts
  apps/fishing-map/features/workspace/common/Title.tsx
  apps/fishing-map/features/workspace/vessels/VesselLayerPanel.tsx
  libs/api-client/src/utils/thinning.ts
  libs/api-types/src/vessel-report.ts
  libs/dataviews-client/src/resources/resources-slice.ts
  libs/timebar/src/charts/tracks-events.module.css
  libs/timebar/src/charts/tracks-events.tsx
Labels: fishing-map, timebar, dataviews-client, api-client, api-types

#2181 New Crowdin updates
  apps/fishing-map/public/locales/en/translations.json
Labels: fishing-map

#2183 New Crowdin updates
  apps/fishing-map/public/locales/en/translations.json
  apps/fishing-map/public/locales/es/translations.json
  apps/fishing-map/public/locales/fr/translations.json
  apps/fishing-map/public/locales/id/translations.json
  apps/fishing-map/public/locales/pt/translations.json
  apps/fishing-map/public/locales/val/translations.json
Labels: fishing-map

#2184 New Crowdin updates
  apps/fishing-map/public/locales/en/translations.json
  apps/fishing-map/public/locales/es/translations.json
  apps/fishing-map/public/locales/fr/translations.json
  apps/fishing-map/public/locales/id/translations.json
  apps/fishing-map/public/locales/pt/translations.json
  apps/fishing-map/public/locales/source/translations.json
  apps/fishing-map/public/locales/val/translations.json
Labels: fishing-map

#2185 resolve track dataset when available
  apps/fishing-map/features/dataviews/dataviews.slice.ts
  apps/fishing-map/features/workspace/vessels/VesselLayerPanel.tsx
Labels: fishing-map

#2154 Download visible activity layer for selected area // MAP-1219
  apps/fishing-map-e2e/cypress.config.ts
  apps/fishing-map-e2e/src/constants/search.ts
  apps/fishing-map-e2e/src/constants/urls.ts
  apps/fishing-map-e2e/src/e2e/map/analysis.cy.ts
  apps/fishing-map-e2e/src/e2e/map/eez-download.cy.ts
  apps/fishing-map-e2e/src/support/app.po.ts
  apps/fishing-map-e2e/src/support/commands.ts
  apps/fishing-map-e2e/src/support/map/eez-download.po.ts
  apps/fishing-map/features/download/DownloadActivityByVessel.tsx
  apps/fishing-map/features/download/DownloadActivityGridded.tsx
  apps/fishing-map/features/download/DownloadActivityModal.tsx
  apps/fishing-map/features/map/popups/ContextLayersRow.tsx
  apps/fishing-map/package.json
  libs/ui-components/src/choice/Choice.tsx
  libs/ui-components/src/tabs/Tabs.tsx
  libs/ui-components/src/tabs/index.ts
  libs/ui-components/src/tag/Tag.tsx
  yarn.lock
Labels: fishing-map, deploy-dev

#2187 Fishing map/vessel groups no limit
  apps/fishing-map/.env.sample
  apps/fishing-map/data/config.ts
  apps/fishing-map/features/datasets/datasets.utils.ts
  apps/fishing-map/features/dataviews/dataviews.slice.ts
  apps/fishing-map/features/map/map.selectors.ts
  apps/fishing-map/features/reports/reports.utils.ts
  apps/fishing-map/features/reports/summary/ReportSummaryTags.tsx
  apps/fishing-map/features/sidebar/SidebarHeader.tsx
  apps/fishing-map/features/user/User.tsx
  apps/fishing-map/features/vessel-groups/VesselGroupModal.tsx
  apps/fishing-map/features/vessel-groups/vessel-groups.slice.ts
  apps/fishing-map/features/workspace/Workspace.tsx
  apps/fishing-map/features/workspace/activity/ActivityFilters.tsx
  apps/fishing-map/features/workspace/activity/ActivityLayerPanel.tsx
  apps/fishing-map/features/workspace/activity/ActivitySchemaFilter.tsx
  apps/fishing-map/features/workspace/shared/DatasetSchemaField.tsx
  apps/fishing-map/public/locales/source/translations.json
  apps/fishing-map/queries/stats-api.ts
  apps/fishing-map/routes/routes.selectors.ts
  apps/fishing-map/types/index.ts
  libs/api-types/src/datasets.ts
  libs/layer-composer/src/generators/user-points/user-points.ts
Labels: fishing-map, layer-composer, api-types

#2150 Update README.md to include license
  apps/vessel-history/README.md
Labels: vessel-history

#2190 New Crowdin updates
  apps/fishing-map/public/locales/en/translations.json
  apps/fishing-map/public/locales/es/translations.json
  apps/fishing-map/public/locales/fr/translations.json
  apps/fishing-map/public/locales/id/translations.json
  apps/fishing-map/public/locales/pt/translations.json
  apps/fishing-map/public/locales/source/translations.json
  apps/fishing-map/public/locales/val/translations.json
  libs/i18n-labels/en/datasets.json
  libs/i18n-labels/es/datasets.json
Labels: fishing-map, i18n-labels

#2193 New Crowdin updates
  apps/fishing-map/public/locales/en/translations.json
  apps/fishing-map/public/locales/es/translations.json
  apps/fishing-map/public/locales/fr/translations.json
  apps/fishing-map/public/locales/id/translations.json
  apps/fishing-map/public/locales/pt/translations.json
  apps/fishing-map/public/locales/val/translations.json
  libs/i18n-labels/en/datasets.json
  libs/i18n-labels/es/datasets.json
Labels: fishing-map, i18n-labels

#2196 New Crowdin updates
  apps/fishing-map/public/locales/es/translations.json
Labels: fishing-map

#2195 New Crowdin updates
  apps/fishing-map/public/locales/es/translations.json
  apps/fishing-map/public/locales/fr/translations.json
  apps/fishing-map/public/locales/pt/translations.json
Labels: fishing-map
