Repository GlobalFishingWatch/frontend, pull requests merged in 2023-03, with the labels that each got.

#1931 New Crowdin updates
  libs/i18n-labels/en/datasets.json
  libs/i18n-labels/es/datasets.json
  libs/i18n-labels/fr/datasets.json
  libs/i18n-labels/id/datasets.json
  libs/i18n-labels/pt/datasets.json
  libs/i18n-labels/source/datasets.json
  libs/i18n-labels/val/datasets.json
Labels: i18n-labels

#1933 Dynamic reports Wed 1
  apps/fishing-map/data/config.ts
  apps/fishing-map/features/analysis/Analysis.module.css
  apps/fishing-map/features/analysis/Analysis.tsx
  apps/fishing-map/features/analysis/AnalysisBeforeAfter.module.css
  apps/fishing-map/features/analysis/AnalysisBeforeAfter.tsx
  apps/fishing-map/features/analysis/AnalysisBeforeAfterGraph.tsx
  apps/fishing-map/features/analysis/AnalysisDescription.module.css
  apps/fishing-map/features/analysis/AnalysisDescription.tsx
  apps/fishing-map/features/analysis/AnalysisEvolution.module.css
  apps/fishing-map/features/analysis/AnalysisEvolution.tsx
  apps/fishing-map/features/analysis/AnalysisEvolutionGraph.module.css
  apps/fishing-map/features/analysis/AnalysisEvolutionGraph.tsx
  apps/fishing-map/features/analysis/AnalysisFilter.tsx
  apps/fishing-map/features/analysis/AnalysisLayerPanel.module.css
  apps/fishing-map/features/analysis/AnalysisLayerPanel.tsx
  apps/fishing-map/features/analysis/AnalysisPeriodComparison.module.css
  apps/fishing-map/features/analysis/AnalysisPeriodComparison.tsx
  apps/fishing-map/features/analysis/AnalysisPeriodComparisonGraph.tsx
  apps/fishing-map/features/analysis/AnalysisRow.tsx
  apps/fishing-map/features/analysis/analysis-timecomparison.hooks.ts
  apps/fishing-map/features/analysis/analysis-timeseries.utils.ts
  apps/fishing-map/features/analysis/analysis.hooks.ts
  apps/fishing-map/features/analysis/analysis.selectors.ts
  apps/fishing-map/features/analysis/analysis.utils.ts
  apps/fishing-map/features/analysis/analysisDescription.hooks.ts
  apps/fishing-map/features/app/App.tsx
  apps/fishing-map/features/app/app.selectors.ts
  apps/fishing-map/features/dataviews/dataviews.selectors.ts
  apps/fishing-map/features/map/Map.tsx
  apps/fishing-map/features/map/MapLegends.tsx
  apps/fishing-map/features/map/popups/ContextLayers.hooks.ts
  apps/fishing-map/features/map/popups/ContextLayers.tsx
  apps/fishing-map/features/map/popups/ContextLayersRow.tsx
  apps/fishing-map/features/map/popups/PopupWrapper.tsx
  apps/fishing-map/features/map/popups/UserContextLayers.tsx
  apps/fishing-map/features/reports/Report.tsx
  apps/fishing-map/features/reports/ReportActivity.tsx
  apps/fishing-map/features/reports/ReportActivityBeforeAfter.module.css
  apps/fishing-map/features/reports/ReportActivityBeforeAfter.tsx
  apps/fishing-map/features/reports/ReportActivityBeforeAfterGraph.tsx
  apps/fishing-map/features/reports/ReportActivityEvolution.tsx
  apps/fishing-map/features/reports/ReportActivityGraphSelector.tsx
  apps/fishing-map/features/reports/ReportTitle.module.css
  apps/fishing-map/features/reports/ReportTitle.tsx
  apps/fishing-map/features/reports/ReportVesselsTable.tsx
  apps/fishing-map/features/reports/report-geo.utils.ts
  apps/fishing-map/features/reports/reports-timecomparison.hooks.ts
  apps/fishing-map/features/reports/reports-timeseries.hooks.ts
  apps/fishing-map/features/reports/reports-timeseries.utils.ts
  apps/fishing-map/features/reports/reports.hooks.ts
  apps/fishing-map/features/reports/reports.selectors.ts
  apps/fishing-map/features/timebar/Timebar.tsx
  apps/fishing-map/features/timebar/timebar.hooks.ts
  apps/fishing-map/features/vessel-groups/VesselGroupAddButton.module.css
  apps/fishing-map/features/vessel-groups/VesselGroupAddButton.tsx
  apps/fishing-map/features/workspace/activity/ActivityFitBounds.tsx
  apps/fishing-map/routes/routes.ts
  apps/fishing-map/types/index.ts
Labels: fishing-map, deploy-dev

#1934 Develop > Staging
  apps/fishing-map/features/analysis/AnalysisBeforeAfterGraph.tsx
  apps/fishing-map/features/analysis/AnalysisPeriodComparisonGraph.tsx
  apps/fishing-map/features/workspace/highlight-panel/highlight-panel.content.ts
  apps/fishing-map/package.json
  libs/i18n-labels/CHANGELOG.md
  libs/i18n-labels/en/datasets.json
  libs/i18n-labels/es/datasets.json
  libs/i18n-labels/fr/datasets.json
  libs/i18n-labels/id/datasets.json
  libs/i18n-labels/package.json
  libs/i18n-labels/pt/datasets.json
  libs/i18n-labels/source/datasets.json
  libs/i18n-labels/val/datasets.json
Labels: fishing-map, i18n-labels

#1935 New Crowdin updates
  libs/i18n-labels/en/datasets.json
  libs/i18n-labels/es/datasets.json
  libs/i18n-labels/fr/datasets.json
  libs/i18n-labels/id/datasets.json
  libs/i18n-labels/pt/datasets.json
  libs/i18n-labels/source/datasets.json
  libs/i18n-labels/val/datasets.json
Labels: i18n-labels

#1932 useReportAreaInViewport to avoid re-running the analysis after map move
  apps/fishing-map/features/analysis/Analysis.tsx
  apps/fishing-map/features/analysis/analysis-timecomparison.hooks.ts
  apps/fishing-map/features/analysis/analysis.hooks.ts
  apps/fishing-map/features/timebar/timebar.hooks.ts
Labels: fishing-map, deploy-dev

#1936 Release 0203
  apps/fishing-map/features/analysis/Analysis.tsx
  apps/fishing-map/features/analysis/analysis-timecomparison.hooks.ts
  apps/fishing-map/features/analysis/analysis.hooks.ts
  apps/fishing-map/features/timebar/timebar.hooks.ts
  libs/i18n-labels/CHANGELOG.md
  libs/i18n-labels/en/datasets.json
  libs/i18n-labels/es/datasets.json
  libs/i18n-labels/fr/datasets.json
  libs/i18n-labels/id/datasets.json
  libs/i18n-labels/package.json
  libs/i18n-labels/pt/datasets.json
  libs/i18n-labels/source/datasets.json
  libs/i18n-labels/val/datasets.json
Labels: :rocket: release, fishing-map, i18n-labels

#1937 add zoom in useReportAreaInViewport
  apps/fishing-map/features/analysis/analysis.hooks.ts
Labels: :rocket: release

#1938 read endpoint pathTemplate to retrieve context feature
  apps/fishing-map/features/analysis/analysis.hooks.ts
  apps/fishing-map/features/areas/areas.slice.ts
  apps/fishing-map/features/dataviews/dataviews.utils.ts
  apps/fishing-map/features/map/popups/ContextLayers.hooks.ts
  libs/api-types/src/datasets.ts
Labels: fishing-map, api-types

#1941 show name for mpa tooltips
  apps/fishing-map/features/map/popups/ContextLayers.tsx
Labels: fishing-map

#1943 Fishing map/dynamic reports placeholders
  apps/fishing-map/features/reports/Report.tsx
  apps/fishing-map/features/reports/ReportActivity.tsx
  apps/fishing-map/features/reports/ReportSummary.tsx
  apps/fishing-map/features/reports/ReportTitle.module.css
  apps/fishing-map/features/reports/ReportTitle.tsx
  apps/fishing-map/features/reports/ReportVesselsPlaceholder.tsx
  apps/fishing-map/features/reports/ReportVesselsTable.tsx
  apps/fishing-map/features/reports/placeholders/ReportActivityPlaceholder.tsx
  apps/fishing-map/features/reports/placeholders/ReportSummaryPlaceholder.tsx
  apps/fishing-map/features/reports/placeholders/ReportSummaryTagsPlaceholder.tsx
  apps/fishing-map/features/reports/placeholders/ReportTitlePlaceholder.tsx
  apps/fishing-map/features/reports/placeholders/ReportVesselsPlaceholder.tsx
  apps/fishing-map/features/reports/placeholders/placeholders.module.css
  apps/fishing-map/features/reports/reports.slice.ts
Labels: fishing-map

#1944 Fishing map/dynamic reports polish
  apps/fishing-map/data/config.ts
  apps/fishing-map/features/app/app.selectors.ts
  apps/fishing-map/features/areas/areas.slice.ts
  apps/fishing-map/features/reports/Report.tsx
  apps/fishing-map/features/reports/ReportVesselsGraph.tsx
  apps/fishing-map/features/reports/report-geo.utils.ts
  apps/fishing-map/features/reports/reports-timeseries.hooks.ts
  apps/fishing-map/features/reports/reports-timeseries.utils.ts
  apps/fishing-map/features/reports/reports.hooks.ts
  apps/fishing-map/features/reports/reports.selectors.ts
  apps/fishing-map/features/reports/reports.slice.ts
  apps/fishing-map/features/sidebar/Sidebar.tsx
  apps/fishing-map/features/workspace/Workspace.tsx
  apps/user-groups-admin/components/user-groups/detail.tsx
  apps/vessel-history/features/map/map-viewport.hooks.ts
  libs/api-types/src/geometries.ts
  libs/ui-components/src/tabs/index.ts
Labels: fishing-map, vessel-history, user-groups-admin, api-types

#1948 Fishing map/dynamic reports bbox
  apps/fishing-map/features/areas/areas.slice.ts
  apps/fishing-map/features/reports/ReportActivityBeforeAfterGraph.tsx
  apps/fishing-map/features/reports/reports.hooks.ts
  libs/data-transforms/src/wrap-longitudes/wrap-longitudes.ts
Labels: fishing-map, data-transforms

#1949 Fishing map/dynamic reports tasks mar 13
  apps/fishing-map/features/reports/Report.tsx
  apps/fishing-map/features/reports/ReportDownload.tsx
  apps/fishing-map/features/reports/ReportSummary.tsx
  apps/fishing-map/features/reports/ReportVesselsFilter.tsx
  apps/fishing-map/features/reports/ReportVesselsGraph.tsx
  apps/fishing-map/features/reports/ReportVesselsTable.module.css
  apps/fishing-map/features/reports/ReportVesselsTable.tsx
  apps/fishing-map/features/reports/reports.selectors.ts
  apps/fishing-map/public/locales/source/translations.json
Labels: fishing-map

#1953 use interval to move steps forward and back
  apps/fishing-map/features/map/map-sources.hooks.ts
  apps/fishing-map/features/timebar/timebar.hooks.ts
  libs/timebar/src/components/playback.js
  libs/timebar/src/timebar.js
Labels: fishing-map, timebar

#1952 Fishing map/dynamic reports mar 15
  apps/fishing-map/features/app/app.selectors.ts
  apps/fishing-map/features/map/popups/ContextLayersRow.tsx
  apps/fishing-map/features/reports/ReportSummary.tsx
  apps/fishing-map/features/reports/ReportTitle.tsx
  apps/fishing-map/features/reports/ReportVesselsGraph.tsx
  apps/fishing-map/features/reports/ReportVesselsGraphSelector.tsx
  apps/fishing-map/features/reports/ReportVesselsTable.module.css
  apps/fishing-map/features/reports/ReportVesselsTable.tsx
  apps/fishing-map/features/reports/reports-timeseries.hooks.ts
  apps/fishing-map/features/reports/reports.selectors.ts
  apps/fishing-map/features/workspace/shared/DatasetSourceField.tsx
Labels: fishing-map

#1955 Fishing map/dynamic reports mar 16
  apps/fishing-map/features/reports/ReportSummary.tsx
  apps/fishing-map/features/reports/ReportVesselsTable.module.css
  apps/fishing-map/features/reports/ReportVesselsTable.tsx
  apps/fishing-map/features/reports/placeholders/ReportSummaryTagsPlaceholder.tsx
  apps/fishing-map/features/reports/reports.selectors.ts
  apps/fishing-map/public/locales/source/translations.json
  apps/fishing-map/utils/shared.ts
Labels: fishing-map

#1958 Dynamic report tasks Fri 17
  apps/fishing-map/data/config.ts
  apps/fishing-map/features/map/popups/ContextLayersRow.tsx
  apps/fishing-map/features/reports/ReportActivityGraphSelector.tsx
  apps/fishing-map/features/reports/ReportTitle.tsx
  apps/fishing-map/features/reports/ReportVesselsGraph.tsx
  apps/fishing-map/features/reports/ReportVesselsGraphSelector.tsx
  apps/fishing-map/features/reports/ReportVesselsTable.tsx
  apps/fishing-map/features/reports/reports.selectors.ts
  apps/fishing-map/features/reports/reports.utils.ts
  apps/fishing-map/features/sidebar/Sidebar.tsx
  apps/fishing-map/features/sidebar/SidebarHeader.tsx
  apps/fishing-map/public/locales/source/translations.json
  apps/fishing-map/types/index.ts
  libs/ui-components/src/assets/icons/print.svg
  libs/ui-components/src/choice/Choice.module.css
  libs/ui-components/src/icon/Icon.tsx
Labels: fishing-map

#1954 Fishing map/dynamic reports vessel groups
  apps/fishing-map/features/reports/ReportSummaryTags.tsx
  apps/fishing-map/features/reports/ReportVesselsGraph.tsx
  apps/fishing-map/features/reports/ReportVesselsTable.tsx
  apps/fishing-map/features/reports/reports.hooks.ts
  apps/fishing-map/features/reports/reports.utils.ts
  apps/fishing-map/features/search/Search.tsx
  apps/fishing-map/features/vessel-groups/VesselGroupAddButton.tsx
  apps/fishing-map/features/vessel-groups/VesselGroupModal.module.css
  apps/fishing-map/features/vessel-groups/VesselGroupModal.tsx
  apps/fishing-map/features/vessel-groups/vessel-groups.slice.ts
  apps/fishing-map/features/workspace/activity/ActivityFilters.tsx
  apps/fishing-map/public/locales/source/translations.json
Labels: fishing-map, deploy-dev

#1960 Fishing map/hotfixes
  apps/fishing-map/features/vessel-groups/vessel-groups.slice.ts
  apps/fishing-map/features/workspace/activity/ActivityFilters.tsx
Labels: :rocket: release

#1961 Fishing map/timebar hotfix
  apps/fishing-map/features/map/map-sources.hooks.ts
  apps/fishing-map/features/timebar/TimebarActivityGraph.hooks.ts
Labels: fishing-map, deploy-dev

#1962 Fishing map/dynamic reports mar 21
  apps/fishing-map/features/reports/Report.tsx
  apps/fishing-map/features/reports/activity/ReportActivity.module.css
  apps/fishing-map/features/reports/activity/ReportActivity.tsx
  apps/fishing-map/features/reports/activity/ReportActivityBeforeAfter.module.css
  apps/fishing-map/features/reports/activity/ReportActivityBeforeAfter.tsx
  apps/fishing-map/features/reports/activity/ReportActivityBeforeAfterGraph.tsx
  apps/fishing-map/features/reports/activity/ReportActivityEvolution.module.css
  apps/fishing-map/features/reports/activity/ReportActivityEvolution.tsx
  apps/fishing-map/features/reports/activity/ReportActivityGraphSelector.tsx
  apps/fishing-map/features/reports/activity/ReportActivityPeriodComparison.tsx
  apps/fishing-map/features/reports/activity/ReportActivityPeriodComparisonGraph.tsx
  apps/fishing-map/features/reports/download/ReportDownload.module.css
  apps/fishing-map/features/reports/download/ReportDownload.tsx
  apps/fishing-map/features/reports/environment/ReportEnvironment.tsx
  apps/fishing-map/features/reports/summary/ReportSummary.module.css
  apps/fishing-map/features/reports/summary/ReportSummary.tsx
  apps/fishing-map/features/reports/summary/ReportSummaryTags.module.css
  apps/fishing-map/features/reports/summary/ReportSummaryTags.tsx
  apps/fishing-map/features/reports/title/ReportTitle.module.css
  apps/fishing-map/features/reports/title/ReportTitle.tsx
  apps/fishing-map/features/reports/vessels/ReportVessels.module.css
  apps/fishing-map/features/reports/vessels/ReportVessels.tsx
  apps/fishing-map/features/reports/vessels/ReportVesselsFilter.module.css
  apps/fishing-map/features/reports/vessels/ReportVesselsFilter.tsx
  apps/fishing-map/features/reports/vessels/ReportVesselsGraph.module.css
  apps/fishing-map/features/reports/vessels/ReportVesselsGraph.tsx
  apps/fishing-map/features/reports/vessels/ReportVesselsGraphSelector.tsx
  apps/fishing-map/features/reports/vessels/ReportVesselsTable.module.css
  apps/fishing-map/features/reports/vessels/ReportVesselsTable.tsx
  apps/fishing-map/features/reports/vessels/ReportVesselsTableFooter.module.css
  apps/fishing-map/features/reports/vessels/ReportVesselsTableFooter.tsx
Labels: fishing-map

#1964 fix track download format
  apps/fishing-map/features/download/downloadTrack.config.ts
  apps/fishing-map/features/download/downloadTrack.slice.ts
Labels: fishing-map

#1963 Fishing map/dynamic reports closest areas
  apps/fishing-map/features/map/map-sources.hooks.ts
  apps/fishing-map/features/map/map-sources.utils.ts
  apps/fishing-map/features/map/map.hooks.ts
  apps/fishing-map/features/map/popups/ContextLayersRow.tsx
  apps/fishing-map/features/reports/title/ReportTitle.tsx
  apps/fishing-map/features/workspace/context-areas/ContextAreaLayerPanel.tsx
  apps/fishing-map/features/workspace/context-areas/context.utils.ts
  apps/fishing-map/features/workspace/shared/LayerPanel.module.css
  apps/fishing-map/public/locales/source/translations.json
  libs/layer-composer/src/generators/context/config.ts
  libs/layer-composer/src/generators/context/context-layers.ts
  libs/layer-composer/src/generators/context/context.ts
  libs/layer-composer/src/generators/context/context.utils.ts
  libs/layer-composer/src/generators/index.ts
  libs/layer-composer/src/generators/types.ts
Labels: fishing-map, layer-composer

#1965 Fishing map/dynamic reports unkown detection vessels
  apps/fishing-map/features/reports/reports.selectors.ts
  apps/fishing-map/features/reports/summary/ReportSummary.tsx
  apps/fishing-map/features/reports/summary/ReportSummaryTags.tsx
  apps/fishing-map/features/reports/vessels/ReportVessels.tsx
  apps/fishing-map/public/locales/source/translations.json
Labels: fishing-map

#1966 Fishing map/dynamic reports split activity layers
  apps/fishing-map/features/app/app.selectors.ts
  apps/fishing-map/features/dataviews/dataviews.selectors.ts
  apps/fishing-map/features/map/map-sources.hooks.ts
  apps/fishing-map/features/reports/Report.tsx
  apps/fishing-map/features/reports/environment/ReportEnvironment.tsx
  apps/fishing-map/features/reports/reports-timeseries.hooks.ts
  apps/fishing-map/features/reports/reports.selectors.ts
  apps/fishing-map/features/reports/reports.utils.ts
  apps/fishing-map/features/reports/summary/ReportSummary.tsx
  apps/fishing-map/features/reports/vessels/ReportVessels.tsx
  apps/fishing-map/features/timebar/TimebarSettings.tsx
  apps/fishing-map/features/timebar/timebar.hooks.ts
  apps/fishing-map/types/index.ts
  libs/api-types/src/datasets.ts
  libs/ui-components/src/tabs/Tabs.tsx
  libs/ui-components/src/tabs/index.ts
Labels: fishing-map, api-types

#1967 Fishing map/dynamic reports update report button
  apps/fishing-map/features/app/app.selectors.ts
  apps/fishing-map/features/reports/Report.module.css
  apps/fishing-map/features/reports/Report.tsx
  apps/fishing-map/features/reports/placeholders/ReportVesselsPlaceholder.tsx
  apps/fishing-map/features/reports/reports.hooks.ts
  apps/fishing-map/features/reports/reports.selectors.ts
  apps/fishing-map/features/reports/reports.slice.ts
  apps/fishing-map/features/reports/summary/ReportSummary.tsx
  apps/fishing-map/public/locales/source/translations.json
Labels: fishing-map

#1969 Friday 24 almost final tweaks
  apps/fishing-map/features/map/popups/ContextLayers.hooks.ts
  apps/fishing-map/features/reports/placeholders/ReportActivityPlaceholder.tsx
  apps/fishing-map/features/reports/placeholders/ReportSummaryPlaceholder.tsx
  apps/fishing-map/features/reports/placeholders/ReportSummaryTagsPlaceholder.tsx
  apps/fishing-map/features/reports/placeholders/ReportTitlePlaceholder.tsx
  apps/fishing-map/features/reports/placeholders/ReportVesselsPlaceholder.tsx
  apps/fishing-map/features/reports/placeholders/placeholders.module.css
  apps/fishing-map/features/reports/reports-timeseries.utils.ts
  apps/fishing-map/features/reports/reports.hooks.ts
  apps/fishing-map/features/reports/reports.selectors.ts
  apps/fishing-map/features/reports/reports.slice.ts
  apps/fishing-map/features/reports/title/ReportTitle.tsx
  apps/fishing-map/features/reports/vessels/ReportVesselsGraph.tsx
  apps/fishing-map/features/reports/vessels/ReportVesselsGraphSelector.tsx
  apps/fishing-map/features/reports/vessels/ReportVesselsTable.module.css
  apps/fishing-map/features/reports/vessels/ReportVesselsTable.tsx
  apps/fishing-map/features/sidebar/SidebarHeader.tsx
  apps/fishing-map/public/locales/source/translations.json
  apps/fishing-map/routes/routes.middlewares.ts
  apps/fishing-map/types/index.ts
Labels: fishing-map

#1971 New Crowdin updates
  apps/fishing-map/public/locales/fr/helpHints.json
  apps/fishing-map/public/locales/fr/translations.json
  apps/vessel-history/public/locales/fr/translations.json
  libs/i18n-labels/fr/datasets.json
  libs/i18n-labels/fr/timebar.json
Labels: fishing-map, vessel-history, i18n-labels

#1975 New Crowdin updates
  apps/fishing-map/public/locales/en/translations.json
  apps/fishing-map/public/locales/es/translations.json
  apps/fishing-map/public/locales/fr/translations.json
  apps/fishing-map/public/locales/id/translations.json
  apps/fishing-map/public/locales/pt/translations.json
  apps/fishing-map/public/locales/source/translations.json
  apps/fishing-map/public/locales/val/translations.json
Labels: fishing-map

#1979 Fishing map/points layers review
  libs/data-transforms/src/csv-to-track-segments/guessColumns.ts
  libs/layer-composer/src/generators/types.ts
  libs/layer-composer/src/generators/user-points/user-points.ts
Labels: layer-composer, data-transforms

#1978 New Crowdin updates
  apps/fishing-map/public/locales/en/translations.json
  apps/fishing-map/public/locales/es/translations.json
  apps/fishing-map/public/locales/fr/translations.json
  apps/fishing-map/public/locales/id/translations.json
  apps/fishing-map/public/locales/pt/translations.json
  apps/fishing-map/public/locales/source/translations.json
  apps/fishing-map/public/locales/val/translations.json
Labels: fishing-map

#1981 Fishing map/usability tweaks
  apps/fishing-map/features/datasets/NewDatasetTooltip.tsx
  apps/fishing-map/features/datasets/datasets.utils.ts
  apps/fishing-map/features/map/controls/MapInfo.module.css
  apps/fishing-map/features/map/controls/MapInfo.tsx
  apps/fishing-map/features/map/controls/MiniGlobeInfo.tsx
  apps/fishing-map/features/user/UserDatasets.tsx
  apps/fishing-map/features/user/UserVesselGroups.tsx
  apps/fishing-map/features/user/UserWorkspaces.tsx
  apps/fishing-map/features/user/UserWorkspacesPrivate.tsx
  apps/fishing-map/features/vessel-groups/vessel-groups.hooks.ts
  apps/fishing-map/features/vessel-groups/vessel-groups.utils.ts
  apps/fishing-map/features/workspace/Workspace.tsx
  apps/fishing-map/features/workspace/context-areas/ContextAreaLayerPanel.tsx
  apps/fishing-map/features/workspace/workspace.utils.ts
Labels: fishing-map

#1980 New Crowdin updates
  apps/fishing-map/public/locales/en/translations.json
  apps/fishing-map/public/locales/es/translations.json
  apps/fishing-map/public/locales/fr/translations.json
  apps/fishing-map/public/locales/id/translations.json
  apps/fishing-map/public/locales/pt/translations.json
  apps/fishing-map/public/locales/val/translations.json
Labels: fishing-map

#1982 add user dataset to current workspace in user panel
  apps/fishing-map/features/datasets/datasets.hook.ts
  apps/fishing-map/features/user/UserDatasets.tsx
  apps/fishing-map/features/user/UserVesselGroups.tsx
  apps/fishing-map/features/user/UserWorkspacesPrivate.tsx
  apps/fishing-map/features/workspace/workspace.slice.ts
  apps/fishing-map/public/locales/source/translations.json
  apps/fishing-map/routes/routes.middlewares.ts
  apps/fishing-map/utils/dates.ts
  libs/api-types/src/vesselGroups.ts
Labels: fishing-map, api-types

#1983 explain why some filters are not present
  apps/fishing-map/features/datasets/datasets.utils.ts
  apps/fishing-map/features/workspace/activity/ActivityFilters.module.css
  apps/fishing-map/features/workspace/activity/ActivityFilters.tsx
  apps/fishing-map/features/workspace/context-areas/ContextAreaLayerPanel.tsx
  apps/fishing-map/public/locales/source/translations.json
  libs/ui-components/src/select/Select.module.css
Labels: fishing-map
