Repository GlobalFishingWatch/frontend, pull requests merged in 2023-11, with the labels that each got.

#2352 fix tests
  apps/fishing-map-e2e/cloudbuild.yaml
  apps/fishing-map-e2e/project.json
  apps/fishing-map-e2e/src/support/commands.ts
  apps/fishing-map/features/footer/Footer.tsx
Labels: fishing-map, deploy-dev

#2351 New Crowdin updates
  apps/fishing-map/public/locales/pt/data-terminology.json
  libs/i18n-labels/en/datasets.json
  libs/i18n-labels/es/datasets.json
  libs/i18n-labels/fr/datasets.json
  libs/i18n-labels/id/datasets.json
  libs/i18n-labels/pt/datasets.json
  libs/i18n-labels/source/datasets.json
  libs/i18n-labels/val/datasets.json
Labels: fishing-map, i18n-labels

#2353 Fishing map/all identities data in workspace
  apps/fishing-map/features/dataviews/dataviews.utils.ts
  apps/fishing-map/features/map/map.slice.ts
  apps/fishing-map/features/map/popups/EncounterTooltipRow.tsx
  apps/fishing-map/features/map/popups/VesselsTable.tsx
  apps/fishing-map/features/reports/vessels/ReportVesselsTable.tsx
  apps/fishing-map/features/vessel/VesselLink.tsx
  apps/fishing-map/features/vessel/VesselPin.tsx
  apps/fishing-map/features/vessel/related-vessels/RelatedEncounterVessels.tsx
  apps/fishing-map/features/vessel/related-vessels/RelatedOwnersVessels.tsx
  apps/fishing-map/features/vessel/related-vessels/RelatedVessel.tsx
  apps/fishing-map/features/vessel/vessel.slice.ts
  apps/fishing-map/features/vessel/vessel.utils.ts
  apps/fishing-map/features/workspace/shared/LayerPanel.module.css
  apps/fishing-map/features/workspace/vessels/VesselLayerPanel.tsx
  apps/fishing-map/public/locales/source/translations.json
Labels: fishing-map

#2355 Fishing map bugs review
  apps/fishing-map/features/datasets/datasets.utils.ts
  apps/fishing-map/features/workspace/Workspace.tsx
  apps/fishing-map/features/workspace/environmental/EnvironmentalLayerPanel.tsx
  apps/fishing-map/features/workspace/environmental/UserTrackLayerPanel.tsx
  apps/fishing-map/features/workspace/events/EventsLayerPanel.tsx
  apps/fishing-map/features/workspace/vessels/VesselLayerPanel.tsx
  apps/fishing-map/features/workspace/workspace.slice.ts
  apps/fishing-map/public/locales/source/translations.json
Labels: fishing-map

#2356 New Crowdin updates
  apps/fishing-map/public/locales/en/translations.json
  apps/fishing-map/public/locales/es/translations.json
  apps/fishing-map/public/locales/fr/translations.json
  apps/fishing-map/public/locales/id/translations.json
  apps/fishing-map/public/locales/pt/translations.json
  apps/fishing-map/public/locales/val/translations.json
Labels: fishing-map

#2357 Staging release
  apps/fishing-map-e2e/cloudbuild.yaml
  apps/fishing-map-e2e/project.json
  apps/fishing-map-e2e/src/support/commands.ts
  apps/fishing-map/features/datasets/datasets.utils.ts
  apps/fishing-map/features/dataviews/dataviews.utils.ts
  apps/fishing-map/features/footer/Footer.tsx
  apps/fishing-map/features/map/map.slice.ts
  apps/fishing-map/features/map/popups/EncounterTooltipRow.tsx
  apps/fishing-map/features/map/popups/VesselsTable.tsx
  apps/fishing-map/features/reports/vessels/ReportVesselsTable.tsx
  apps/fishing-map/features/vessel-groups/vessel-groups.slice.ts
  apps/fishing-map/features/vessel/VesselLink.tsx
  apps/fishing-map/features/vessel/VesselPin.tsx
  apps/fishing-map/features/vessel/related-vessels/RelatedEncounterVessels.tsx
  apps/fishing-map/features/vessel/related-vessels/RelatedOwnersVessels.tsx
  apps/fishing-map/features/vessel/related-vessels/RelatedVessel.tsx
  apps/fishing-map/features/vessel/vessel.slice.ts
  apps/fishing-map/features/vessel/vessel.utils.ts
  apps/fishing-map/features/workspace/Workspace.tsx
  apps/fishing-map/features/workspace/environmental/EnvironmentalLayerPanel.tsx
  apps/fishing-map/features/workspace/environmental/UserTrackLayerPanel.tsx
  apps/fishing-map/features/workspace/events/EventsLayerPanel.tsx
  apps/fishing-map/features/workspace/shared/LayerPanel.module.css
  apps/fishing-map/features/workspace/vessels/VesselLayerPanel.tsx
  apps/fishing-map/features/workspace/workspace.slice.ts
  apps/fishing-map/public/locales/en/translations.json
  apps/fishing-map/public/locales/es/translations.json
  apps/fishing-map/public/locales/fr/translations.json
  apps/fishing-map/public/locales/id/translations.json
  apps/fishing-map/public/locales/pt/data-terminology.json
  apps/fishing-map/public/locales/pt/translations.json
  apps/fishing-map/public/locales/source/translations.json
  apps/fishing-map/public/locales/val/translations.json
  libs/dataviews-client/src/resolve-endpoint.ts
  libs/i18n-labels/CHANGELOG.md
  libs/i18n-labels/en/datasets.json
  libs/i18n-labels/es/datasets.json
  libs/i18n-labels/fr/datasets.json
  libs/i18n-labels/id/datasets.json
  libs/i18n-labels/package.json
  libs/i18n-labels/pt/datasets.json
  libs/i18n-labels/source/datasets.json
  libs/i18n-labels/val/datasets.json
Labels: :rocket: release

#2359 VV-576 Add no-index tag to VV
  apps/vessel-history/next.config.js
  apps/vessel-history/package.json
  apps/vessel-history/pages/_document.tsx
  apps/vessel-history/public/robots.txt
Labels: vessel-history

#2360 🚀 Release - Vessel Viewer 1.8.3
  apps/vessel-history/next.config.js
  apps/vessel-history/package.json
  apps/vessel-history/pages/_document.tsx
  apps/vessel-history/public/robots.txt
Labels: vessel-history

#2344 Usability features
  apps/fishing-map/features/i18n/translation-keys.ts
  apps/fishing-map/features/map/controls/MapSearch.tsx
  apps/fishing-map/features/map/popups/Popup.module.css
  apps/fishing-map/features/map/popups/VesselEventsLayers.tsx
  apps/fishing-map/features/reports/summary/ReportSummaryTags.tsx
  apps/fishing-map/features/vessel-groups/VesselGroupModal.tsx
  apps/fishing-map/features/vessel/VesselPin.tsx
  apps/fishing-map/features/workspace/vessels/VesselLayerPanel.tsx
  apps/fishing-map/public/locales/source/translations.json
  apps/fishing-map/utils/events.tsx
Labels: fishing-map

#2365 Ship name on popup
  apps/fishing-map/features/map/popups/VesselEventsLayers.tsx
Labels: fishing-map

#2363 fix loading legacy track data
  apps/fishing-map/features/datasets/datasets.utils.ts
  apps/fishing-map/features/dataviews/dataviews.utils.ts
  apps/fishing-map/features/workspace/workspace.selectors.ts
  libs/dataviews-client/src/resolve-dataviews.ts
  libs/dataviews-client/src/resolve-endpoint.ts
  libs/dataviews-client/src/resources/get-resources.ts
  libs/dataviews-client/src/url-workspace/migrations.config.ts
  libs/dataviews-client/src/url-workspace/migrations.ts
  libs/dataviews-client/src/url-workspace/url-workspace.ts
Labels: fishing-map, dataviews-client

#2364 Fishing map/fix profile permissions
  apps/fishing-map/features/user/UserLoggedIconButton.tsx
  apps/fishing-map/features/vessel/activity/VesselActivityDownload.tsx
  apps/fishing-map/features/vessel/identity/VesselIdentity.tsx
  apps/fishing-map/features/vessel/identity/VesselIdentityFieldLogin.tsx
  apps/fishing-map/features/workspace/vessels/VesselDownload.tsx
  apps/fishing-map/public/locales/source/translations.json
Labels: fishing-map

#2367 Avoid month index mess up
  libs/timebar/src/components/timerange-selector.js
  libs/timebar/src/timebar.js
Labels: timebar

#2370 Fishing map/fix vessel graph
  apps/fishing-map/features/timebar/timebar.selectors.ts
  apps/fishing-map/features/user/UserLoggedIconButton.tsx
  libs/data-transforms/src/track-value-array-to-segments/track-value-array-to-segments.ts
Labels: fishing-map, data-transforms

#2371 added cypress timeouts to cloudbuild
  apps/fishing-map-e2e/cloudbuild.yaml
  apps/fishing-map/cloudbuild.yaml
Labels: deploy-dev

#2373 skip unneeded build step
  libs/api-client/project.json
  libs/api-types/project.json
  libs/data-transforms/project.json
  libs/dataviews-client/project.json
  libs/features-aggregate/project.json
  libs/fourwings-aggregate/project.json
  libs/i18n-labels/project.json
  libs/layer-composer/project.json
  libs/ocean-areas/project.json
  libs/pbf-decoders/decoders/4wings-tile.js
  libs/pbf-decoders/decoders/vessels.js
  libs/pbf-decoders/package.json
  libs/pbf-decoders/project.json
  libs/react-hooks/project.json
  libs/timebar/project.json
  libs/ui-components/project.json
Labels: timebar, dataviews-client, layer-composer, i18n-labels, react-hooks, api-client, api-types, data-transforms, fourwings-aggregate, ocean-areas, pbf-decoders, deploy-dev, features-aggregate

#2374 normalize vessel pins tooltips
  apps/fishing-map/features/i18n/translation-keys.ts
  apps/fishing-map/features/reports/vessels/ReportVesselsTable.tsx
  apps/fishing-map/features/vessel/VesselLink.tsx
  apps/fishing-map/features/vessel/VesselPin.tsx
  apps/fishing-map/features/vessel/related-vessels/RelatedEncounterVessels.tsx
  apps/fishing-map/features/vessel/related-vessels/RelatedOwnersVessels.tsx
  apps/fishing-map/features/vessel/related-vessels/RelatedVessel.tsx
  apps/fishing-map/public/locales/source/translations.json
  apps/fishing-map/utils/events.tsx
Labels: fishing-map

#2362 VV-574 Add link to vv vessel in gfw map
  apps/vessel-history/features/dataviews/dataviews.config.ts
  apps/vessel-history/features/map/Map.tsx
  apps/vessel-history/features/map/controls/MapControls.tsx
  apps/vessel-history/public/locales/source/translations.json
  libs/api-types/src/datasets.ts
Labels: vessel-history, api-types, deploy-dev

#2372 Avoid the chance to increment months on years beyond 2024
  libs/timebar/src/components/timerange-selector.js
Labels: timebar

#2376 🚀 Release - Vessel Viewer 1.9.0
  apps/vessel-history/features/dataviews/dataviews.config.ts
  apps/vessel-history/features/map/Map.tsx
  apps/vessel-history/features/map/controls/MapControls.tsx
  apps/vessel-history/package.json
  apps/vessel-history/public/locales/source/translations.json
  libs/api-types/src/datasets.ts
Labels: vessel-history, api-types

#2170 Create and delete new workspace test
  apps/fishing-map-e2e/.env.sample
  apps/fishing-map-e2e/cloudbuild.yaml
  apps/fishing-map-e2e/src/constants/buttons.ts
  apps/fishing-map-e2e/src/constants/urls.ts
  apps/fishing-map-e2e/src/constants/workspace.ts
  apps/fishing-map-e2e/src/e2e/map/analysis.cy.ts
  apps/fishing-map-e2e/src/e2e/sidebar/save-workspace.cy.ts
  apps/fishing-map-e2e/src/support/app.po.ts
  apps/fishing-map-e2e/src/support/sidebar/save-workspace.po.ts
  apps/fishing-map/cloudbuild.yaml
  apps/fishing-map/features/sidebar/SidebarHeader.tsx
  apps/fishing-map/features/user/User.tsx
  apps/fishing-map/features/user/UserButton.tsx
  apps/fishing-map/features/user/UserWorkspaces.tsx
  apps/fishing-map/features/workspace/Workspace.tsx
  apps/fishing-map/features/workspace/shared/NewWorkspaceModal.tsx
Labels: fishing-map, deploy-dev

#2381 New Crowdin updates
  libs/i18n-labels/en/datasets.json
  libs/i18n-labels/es/datasets.json
  libs/i18n-labels/fr/datasets.json
  libs/i18n-labels/id/datasets.json
  libs/i18n-labels/pt/datasets.json
  libs/i18n-labels/source/datasets.json
  libs/i18n-labels/val/datasets.json
Labels: i18n-labels

#2379 Fishing map/timerange reset to one on disabled
  libs/timebar/src/components/timerange-selector.js
Labels: timebar

#2350 Fishing map/edit draw polygon
  apps/fishing-map/features/app/App.tsx
  apps/fishing-map/features/areas/areas.slice.ts
  apps/fishing-map/features/datasets/NewDataset.tsx
  apps/fishing-map/features/datasets/datasets.hook.ts
  apps/fishing-map/features/datasets/datasets.slice.ts
  apps/fishing-map/features/i18n/translation-keys.ts
  apps/fishing-map/features/map/MapDraw.tsx
  apps/fishing-map/features/map/map-draw.hooks.ts
  apps/fishing-map/features/map/map.draw.utils.ts
  apps/fishing-map/features/map/map.hooks.ts
  apps/fishing-map/features/map/map.selectors.ts
  apps/fishing-map/features/map/map.slice.ts
  apps/fishing-map/features/map/popups/UserContextLayers.tsx
  apps/fishing-map/features/workspace/context-areas/ContextAreaLayerPanel.tsx
  apps/fishing-map/features/workspace/context-areas/ContextAreaSection.tsx
  apps/fishing-map/public/locales/source/translations.json
  apps/fishing-map/routes/routes.selectors.ts
  apps/fishing-map/types/index.ts
  libs/api-types/src/datasets.ts
  libs/dataviews-client/src/resolve-dataviews-generators.ts
  libs/react-hooks/src/use-map-interaction/use-map-interaction.ts
Labels: fishing-map, dataviews-client, react-hooks, api-types, deploy-dev

#2378 Master > Develop
  apps/vessel-history/features/dataviews/dataviews.config.ts
  apps/vessel-history/features/map/Map.tsx
  apps/vessel-history/features/map/controls/MapControls.tsx
  apps/vessel-history/next.config.js
  apps/vessel-history/package.json
  apps/vessel-history/pages/_document.tsx
  apps/vessel-history/public/locales/source/translations.json
  apps/vessel-history/public/robots.txt
  libs/api-types/src/datasets.ts
Labels: vessel-history, api-types

#2384 Fishing map/fix encounters filter
  apps/fishing-map/features/datasets/datasets.utils.ts
  apps/fishing-map/features/dataviews/dataviews.mock.ts
  apps/fishing-map/features/workspace/activity/ActivitySchemaFilter.tsx
  apps/fishing-map/features/workspace/context-areas/ContextAreaLayerPanel.tsx
  apps/fishing-map/features/workspace/environmental/EnvironmentalLayerPanel.tsx
  apps/fishing-map/features/workspace/events/EventsLayerPanel.tsx
  apps/fishing-map/features/workspace/shared/DatasetSchemaField.tsx
  libs/layer-composer/src/generators/tile-cluster/tile-cluster.ts
  libs/ui-components/src/slider-range/SliderRange.tsx
Labels: fishing-map, layer-composer

#2387 add neural_vessel_type as filter
  apps/fishing-map/features/datasets/datasets.utils.ts
  apps/fishing-map/features/workspace/activity/ActivityLayerPanel.tsx
Labels: fishing-map

#2389 New Crowdin updates
  libs/i18n-labels/en/datasets.json
  libs/i18n-labels/es/datasets.json
  libs/i18n-labels/fr/datasets.json
  libs/i18n-labels/id/datasets.json
  libs/i18n-labels/pt/datasets.json
  libs/i18n-labels/source/datasets.json
  libs/i18n-labels/val/datasets.json
Labels: i18n-labels

#2390 polish search results
  apps/fishing-map/features/search/SearchActions.tsx
  apps/fishing-map/features/search/basic/SearchBasicResult.module.css
  apps/fishing-map/features/search/basic/SearchBasicResult.tsx
  apps/fishing-map/public/locales/source/translations.json
Labels: fishing-map

#2383 Improve debug of the tests
  apps/fishing-map-e2e/cloudbuild.yaml
  apps/fishing-map-e2e/cypress.config.ts
  apps/fishing-map/cloudbuild.yaml
Labels: fishing-map, deploy-dev

#2393 Improve debug of the tests
  apps/fishing-map-e2e/.gitignore
  apps/fishing-map-e2e/cypress.config.ts
  apps/fishing-map-e2e/test-results.xml
  package.json
  yarn.lock
Labels: deploy-dev

#2395 New Crowdin updates
  libs/i18n-labels/en/datasets.json
  libs/i18n-labels/es/datasets.json
  libs/i18n-labels/fr/datasets.json
  libs/i18n-labels/id/datasets.json
  libs/i18n-labels/pt/datasets.json
  libs/i18n-labels/source/datasets.json
  libs/i18n-labels/val/datasets.json
Labels: i18n-labels

#2396 Improve debug of the tests - Set production url to the test when we deploy to prod // ENG-564
  apps/fishing-map/cloudbuild.yaml
Labels: fishing-map, deploy-dev

#2398 add user sidebar section
  apps/fishing-map-e2e/.gitignore
  apps/fishing-map-e2e/cypress.config.ts
  apps/fishing-map-e2e/test-results.xml
  apps/fishing-map/features/datasets/NewDatasetTooltip.module.css
  apps/fishing-map/features/datasets/NewDatasetTooltip.tsx
  apps/fishing-map/features/datasets/datasets.hook.ts
  apps/fishing-map/features/datasets/datasets.slice.ts
  apps/fishing-map/features/dataviews/dataviews.mock.ts
  apps/fishing-map/features/dataviews/dataviews.selectors.ts
  apps/fishing-map/features/user/User.tsx
  apps/fishing-map/features/user/UserDatasets.tsx
  apps/fishing-map/features/user/user.selectors.ts
  apps/fishing-map/features/workspace/Workspace.tsx
  apps/fishing-map/features/workspace/activity/ActivitySection.tsx
  apps/fishing-map/features/workspace/context-areas/ContextAreaSection.tsx
  apps/fishing-map/features/workspace/detections/DetectionsSection.tsx
  apps/fishing-map/features/workspace/environmental/EnvironmentalSection.tsx
  apps/fishing-map/features/workspace/events/EventsLayerPanel.tsx
  apps/fishing-map/features/workspace/user/UserLayerPanel.tsx
  apps/fishing-map/features/workspace/user/UserSection.tsx
  apps/fishing-map/public/locales/source/translations.json
  libs/api-types/src/dataviews.ts
  libs/i18n-labels/en/datasets.json
  libs/i18n-labels/es/datasets.json
  libs/i18n-labels/fr/datasets.json
  libs/i18n-labels/id/datasets.json
  libs/i18n-labels/pt/datasets.json
  libs/i18n-labels/source/datasets.json
  libs/i18n-labels/val/datasets.json
  package.json
  yarn.lock
Labels: fishing-map, api-types

#2399 New Crowdin updates
  libs/i18n-labels/en/datasets.json
  libs/i18n-labels/es/datasets.json
  libs/i18n-labels/fr/datasets.json
  libs/i18n-labels/id/datasets.json
  libs/i18n-labels/pt/datasets.json
  libs/i18n-labels/source/datasets.json
  libs/i18n-labels/val/datasets.json
Labels: i18n-labels

#2400 add missing dataset in query
  libs/dataviews-client/src/resolve-endpoint.ts
Labels: dataviews-client

#2392 Fishing map/sar single dataset workspace
  apps/fishing-map/data/default-workspaces/workspace.development.ts
  apps/fishing-map/features/datasets/datasets.utils.ts
  libs/dataviews-client/src/resolve-dataviews.ts
  libs/layer-composer/src/generators/types.ts
  libs/layer-composer/src/generators/user-points/user-points.ts
Labels: fishing-map, dataviews-client, layer-composer

#2401 New Crowdin updates
  libs/i18n-labels/en/datasets.json
  libs/i18n-labels/es/datasets.json
  libs/i18n-labels/fr/datasets.json
  libs/i18n-labels/id/datasets.json
  libs/i18n-labels/pt/datasets.json
  libs/i18n-labels/source/datasets.json
  libs/i18n-labels/val/datasets.json
Labels: i18n-labels

#2404 Fishing map/new dataset upload drag
  apps/fishing-map/assets/icons/dataset-type-points.svg
  apps/fishing-map/assets/icons/dataset-type-polygons-lines.svg
  apps/fishing-map/assets/icons/dataset-type-tracks.svg
  apps/fishing-map/features/app/App.tsx
  apps/fishing-map/features/app/drag-dataset.hooks.ts
  apps/fishing-map/features/datasets/EditDataset.tsx
  apps/fishing-map/features/datasets/datasets.hook.ts
  apps/fishing-map/features/datasets/upload/DatasetTypeSelect.module.css
  apps/fishing-map/features/datasets/upload/DatasetTypeSelect.tsx
  apps/fishing-map/features/datasets/upload/FileDropzone.module.css
  apps/fishing-map/features/datasets/upload/NewDataset.module.css
  apps/fishing-map/features/datasets/upload/NewDataset.tsx
  apps/fishing-map/features/modals/modals.slice.ts
  apps/fishing-map/features/user/UserDatasets.tsx
  apps/fishing-map/features/workspace/user/UserLayerPanel.tsx
  apps/fishing-map/public/locales/source/translations.json
  libs/ui-components/src/modal/Modal.module.css
  libs/ui-components/src/modal/Modal.tsx
Labels: fishing-map

#2406 Fishing map/new dataset upload loaders
  apps/fishing-map/features/datasets/upload/DatasetTypeSelect.tsx
  apps/fishing-map/features/datasets/upload/NewDataset.tsx
  apps/fishing-map/features/datasets/upload/NewTrackDataset.tsx
  apps/fishing-map/features/datasets/upload/datasets-parse.utils.ts
  apps/fishing-map/features/datasets/upload/datasets-upload.utils.ts
  apps/fishing-map/features/modals/modals.slice.ts
  libs/api-types/src/datasets.ts
  libs/api-types/src/resources.ts
  libs/data-transforms/src/csv-to-track-segments/index.ts
  libs/data-transforms/src/index.ts
  libs/data-transforms/src/list-to-track-segments/check-record-validity.ts
  libs/data-transforms/src/list-to-track-segments/index.ts
  libs/data-transforms/src/list-to-track-segments/list-to-track-segments.test.ts
  libs/data-transforms/src/list-to-track-segments/list-to-track-segments.ts
  libs/data-transforms/src/list-to-track-segments/mock/messages.csv
  libs/data-transforms/src/list-to-track-segments/mock/messages_utc.csv
  libs/data-transforms/src/list-to-track-segments/types.ts
  libs/data-transforms/src/schema/guess-columns.ts
  libs/data-transforms/src/schema/index.ts
  libs/data-transforms/src/schema/schema.ts
  libs/data-transforms/src/segments/segments-to-geojson.ts
  libs/ui-components/src/multi-select/MultiSelect.module.css
  libs/ui-components/src/multi-select/MultiSelect.tsx
  libs/ui-components/src/select/Select.module.css
  libs/ui-components/src/select/Select.tsx
  libs/ui-components/src/select/index.ts
  package.json
  yarn.lock
Labels: fishing-map, api-types, data-transforms, deploy-dev

#2410 Fix deps to support build libs
  libs/api-client/package.json
  libs/api-client/project.json
  libs/api-client/src/api-client.ts
  libs/api-client/src/index.ts
  libs/api-types/package.json
  libs/api-types/project.json
  libs/api-types/src/dataviews.ts
  libs/api-types/src/reports.ts
  libs/api-types/src/resources.ts
  libs/api-types/src/workspaces.ts
  libs/data-transforms/project.json
  libs/dataviews-client/project.json
  libs/features-aggregate/project.json
  libs/fourwings-aggregate/project.json
  libs/layer-composer/project.json
  libs/ocean-areas/project.json
  libs/pbf-decoders/project.json
  libs/react-hooks/package.json
  libs/react-hooks/project.json
  libs/timebar/project.json
  libs/ui-components/project.json
Labels: api-client, api-types

#2409 Fishing map/new dataset upload points
  apps/fishing-map/features/datasets/datasets.utils.ts
  apps/fishing-map/features/datasets/upload/NewDataset.module.css
  apps/fishing-map/features/datasets/upload/NewPointsDataset.tsx
  apps/fishing-map/features/datasets/upload/NewTrackDataset.tsx
  apps/fishing-map/features/datasets/upload/datasets-parse.utils.ts
  apps/fishing-map/utils/files.ts
  libs/data-transforms/src/index.ts
  libs/data-transforms/src/kml/index.ts
  libs/data-transforms/src/kml/kml-to-geojson.ts
  libs/data-transforms/src/list-to-track-segments/check-record-validity.ts
  libs/data-transforms/src/list-to-track-segments/list-to-track-segments.ts
  libs/data-transforms/src/list-to-track-segments/types.ts
  libs/data-transforms/src/points/index.ts
  libs/data-transforms/src/points/points-to-geojson.ts
  libs/data-transforms/src/types.ts
  libs/dataviews-client/src/resolve-dataviews.ts
  libs/layer-composer/src/generators/types.ts
  libs/layer-composer/src/generators/user-context/user-context.ts
  libs/layer-composer/src/generators/user-points/user-points.ts
Labels: fishing-map, dataviews-client, layer-composer, data-transforms

#2411 Fishing map/new dataset upload segments
  apps/fishing-map/features/datasets/upload/NewDataset.tsx
  apps/fishing-map/features/datasets/upload/datasets-upload.utils.ts
  apps/fishing-map/features/workspace/environmental/EnvironmentalSection.tsx
  apps/fishing-map/features/workspace/environmental/UserTrackLayerPanel.tsx
  apps/fishing-map/features/workspace/user/UserLayerPanel.tsx
  apps/fishing-map/features/workspace/user/UserLayerTrackPanel.tsx
  apps/fishing-map/features/workspace/user/workspace-user.utils.ts
  libs/api-types/src/datasets.ts
  libs/data-transforms/src/coordinates/coordinates.ts
  libs/data-transforms/src/types.ts
Labels: fishing-map, api-types, data-transforms

#2413 New Crowdin updates
  libs/i18n-labels/en/datasets.json
  libs/i18n-labels/es/datasets.json
  libs/i18n-labels/fr/datasets.json
  libs/i18n-labels/id/datasets.json
  libs/i18n-labels/pt/datasets.json
  libs/i18n-labels/source/datasets.json
  libs/i18n-labels/val/datasets.json
Labels: i18n-labels

#2414 Fishing map/new dataset upload tracks
  apps/fishing-map/assets/icons/file-kml.svg
  apps/fishing-map/features/datasets/datasets.utils.ts
  apps/fishing-map/features/datasets/upload/DatasetTypeSelect.tsx
  apps/fishing-map/features/datasets/upload/FileDropzone.tsx
  apps/fishing-map/features/datasets/upload/NewPointsDataset.tsx
  apps/fishing-map/features/datasets/upload/NewTrackDataset.tsx
  apps/fishing-map/features/datasets/upload/datasets-parse.utils.ts
  apps/fishing-map/features/datasets/upload/datasets-upload.utils.ts
  apps/fishing-map/features/search/basic/TrackFootprint.tsx
  apps/fishing-map/features/workspace/common/FitBounds.tsx
  apps/fishing-map/features/workspace/user/workspace-user.utils.ts
  apps/fishing-map/utils/files.ts
  apps/fourwings-explorer/features/datasets/FileDropzone.tsx
  libs/api-types/src/datasets.ts
  libs/data-transforms/src/kml/kml-to-geojson.ts
  libs/data-transforms/src/segments/segments-timerange-filter.ts
  libs/data-transforms/src/segments/segments-to-geojson.ts
  libs/layer-composer/src/generators/track/filterTrackByTimerange.ts
  libs/layer-composer/src/generators/track/track.ts
  libs/layer-composer/src/generators/vessel-events/vessel-events.utils.ts
Labels: fishing-map, layer-composer, api-types, data-transforms

#2412 Fishing map/new dataset upload points
  apps/fishing-map/features/datasets/datasets.hook.ts
  apps/fishing-map/features/datasets/upload/NewDataset.module.css
  apps/fishing-map/features/datasets/upload/NewPointsDataset.tsx
  apps/fishing-map/features/dataviews/dataviews.utils.ts
  libs/api-types/src/datasets.ts
  libs/data-transforms/src/coordinates/coordinates.ts
  libs/data-transforms/src/list-to-track-segments/list-to-track-segments.ts
  libs/data-transforms/src/points/points-to-geojson.ts
  libs/dataviews-client/src/resolve-dataviews-generators.ts
  libs/layer-composer/src/generators/index.ts
  libs/layer-composer/src/generators/types.ts
  libs/layer-composer/src/generators/user-points/config.ts
  libs/layer-composer/src/generators/user-points/user-points.ts
  libs/layer-composer/src/generators/user-points/user-points.utils.ts
Labels: fishing-map, dataviews-client, layer-composer, api-types, data-transforms
