Repository GlobalFishingWatch/frontend, pull requests merged in 2023-02, with the labels that each got.

#1884 update api doc link
  apps/fishing-map/features/download/DownloadActivityProductsBanner.tsx
Labels: fishing-map

#1887 Update transmissions timeline
  apps/fishing-map/features/search/Search.tsx
  apps/fishing-map/features/vessel-groups/VesselGroupModalVessels.tsx
  apps/vessel-history/features/vessel-list-item/VesselListItem.tsx
  apps/vessel-history/features/vessel-list-item/components/RelatedVesselListItem.tsx
  libs/ui-components/src/transmissions-timeline/TransmissionsTimeline.module.css
  libs/ui-components/src/transmissions-timeline/TransmissionsTimeline.tsx
Labels: fishing-map, vessel-history

#1881 fix fishing-map errors ENG-444
  .yarn/plugins/@yarnpkg/plugin-interactive-tools.cjs
  .yarnrc.yml
  apps/api-portal/package.json
  apps/deck-playground/package.json
  apps/fishing-map/package.json
  apps/fishing-map/pages/index.tsx
  apps/fourwings-explorer/package.json
  apps/port-labeler/package.json
  apps/port-labeler/tsconfig.json
  apps/tile-inspector/package.json
  apps/user-groups-admin/package.json
  apps/vessel-history/package.json
  libs/data-transforms/package.json
  libs/dataviews-client/package.json
  libs/i18n-labels/package.json
  libs/layer-composer/package.json
  libs/timebar/package.json
  libs/ui-components/package.json
  linting/index.js
  linting/package.json
  package.json
  tools/generators/app/files/package.json__tmpl__
  tools/generators/minisite/files/package.json__tmpl__
  yarn.lock
Labels: fishing-map, vessel-history, timebar, dataviews-client, layer-composer, i18n-labels, api-portal, port-labeler, tile-inspector, user-groups-admin, data-transforms, deploy-dev

#1891 Upgrade cloud build ENG-444
  .yarnrc.yml
  apps/api-portal/Dockerfile
  apps/api-portal/cloudbuild.yaml
  apps/deck-playground/cloudbuild.yaml
  apps/fishing-map/Dockerfile
  apps/fishing-map/cloudbuild.yaml
  apps/port-labeler/Dockerfile
  apps/port-labeler/cloudbuild.yaml
  apps/vessel-history/Dockerfile
  apps/vessel-history/cloudbuild.yaml
  apps/vessel-history/next.config.js
  cloudbuild.yaml
Labels: fishing-map, vessel-history, api-portal, port-labeler, deploy-dev

#1894 remove save sache from vv test deploy
  apps/api-portal/specs/index.spec.tsx
  apps/deck-playground/specs/index.spec.tsx
  apps/fishing-map/specs/index.spec.tsx
  apps/vessel-history/cloudbuild_PR_tests.yaml
  apps/vessel-history/specs/index.spec.tsx
Labels: fishing-map, vessel-history, api-portal

#1897 Dynamic report tasks
  apps/fishing-map/features/app/App.tsx
  apps/fishing-map/features/reports/Report.tsx
  apps/fishing-map/features/reports/ReportActivityGraph.module.css
  apps/fishing-map/features/reports/ReportActivityGraph.tsx
  apps/fishing-map/features/reports/ReportSummary.module.css
  apps/fishing-map/features/reports/ReportSummary.tsx
  apps/fishing-map/features/reports/ReportSummaryTags.module.css
  apps/fishing-map/features/reports/ReportSummaryTags.tsx
  apps/fishing-map/features/reports/ReportVesselsGraph.module.css
  apps/fishing-map/features/reports/ReportVesselsGraph.tsx
  apps/fishing-map/features/reports/reports.hooks.ts
  apps/fishing-map/features/reports/reports.selectors.ts
  apps/fishing-map/features/reports/reports.slice.ts
  apps/fishing-map/public/locales/source/translations.json
Labels: fishing-map

#1899 Dynamic report tasks
  apps/fishing-map/data/config.ts
  apps/fishing-map/features/app/App.tsx
  apps/fishing-map/features/app/app.selectors.ts
  apps/fishing-map/features/reports/Report.tsx
  apps/fishing-map/features/reports/ReportActivityGraph.module.css
  apps/fishing-map/features/reports/ReportActivityGraph.tsx
  apps/fishing-map/features/reports/ReportSummary.tsx
  apps/fishing-map/features/reports/ReportVesselsFilter.module.css
  apps/fishing-map/features/reports/ReportVesselsGraph.module.css
  apps/fishing-map/features/reports/ReportVesselsGraph.tsx
  apps/fishing-map/features/reports/ReportVesselsTable.tsx
  apps/fishing-map/features/reports/reports.hooks.ts
  apps/fishing-map/features/reports/reports.selectors.ts
  apps/fishing-map/features/reports/reports.slice.ts
  apps/fishing-map/features/reports/reports.utils.ts
  apps/fishing-map/features/timebar/Timebar.tsx
  apps/fishing-map/types/index.ts
Labels: fishing-map

#1875 Deck playground/context layers
  apps/deck-playground/features/map/Map.tsx
  apps/deck-playground/features/map/layers.hooks.ts
  apps/deck-playground/features/map/map-picking.hooks.ts
  apps/deck-playground/features/sidebar/Sidebar.tsx
  apps/deck-playground/layers/basemap/BasemapLayer.ts
  apps/deck-playground/layers/basemap/basemap.hooks.ts
  apps/deck-playground/layers/context/ContextLayer.ts
  apps/deck-playground/layers/context/ContextsLayer.ts
  apps/deck-playground/layers/context/context.config.ts
  apps/deck-playground/layers/context/context.hooks.ts
  apps/deck-playground/layers/fourwings/FourwingsLayer.ts
  apps/deck-playground/layers/fourwings/FourwingsPositionsTileLayer.ts
  apps/deck-playground/layers/fourwings/fourwings.hooks.ts
  apps/deck-playground/layers/vessel/VesselLayer.ts
  apps/deck-playground/package.json
  apps/deck-playground/utils/layers.ts
  yarn.lock
Labels: deck-playground

#1900 Update context layers with new datasets and endpoints
  apps/fishing-map/features/datasets/NewDataset.tsx
  apps/fishing-map/features/datasets/datasets.utils.ts
  apps/fishing-map/features/map/map.draw.utils.ts
  apps/fishing-map/features/map/map.hooks.ts
  apps/fishing-map/features/map/popups/ContextLayers.hooks.ts
  apps/fishing-map/features/map/popups/ContextLayers.tsx
  apps/fishing-map/features/timebar/TimebarSettings.tsx
  apps/fishing-map/features/workspace/context-areas/ContextAreaLayerPanel.tsx
  apps/fishing-map/features/workspace/context-areas/ContextAreaSection.tsx
  apps/fishing-map/features/workspace/environmental/EnvironmentalLayerPanel.tsx
  apps/fishing-map/features/workspace/environmental/histogram.hooks.ts
  libs/api-types/src/datasets.ts
  libs/api-types/src/dataviews.ts
  libs/dataviews-client/src/resolve-dataviews-generators.ts
  libs/layer-composer/src/generators/context/config.ts
  libs/layer-composer/src/generators/context/context.ts
  libs/layer-composer/src/generators/types.ts
  libs/layer-composer/src/types/index.ts
  libs/react-hooks/src/use-map-interaction/use-map-interaction.ts
Labels: fishing-map, dataviews-client, layer-composer, react-hooks, api-types, deploy-dev

#1896 organize dependencies ENG-444
  apps/api-portal/package.json
  apps/deck-playground/package.json
  apps/fishing-map/features/workspace/common/InfoModalContent.tsx
  apps/fishing-map/features/workspace/context-areas/ContextAreaLayerPanel.tsx
  apps/fishing-map/package.json
  apps/fishing-map/pages/_app.tsx
  apps/fourwings-explorer/package.json
  apps/port-labeler/package.json
  apps/tile-inspector/package.json
  apps/user-groups-admin/package.json
  apps/vessel-history/package.json
  apps/vessel-history/tsconfig.spec.json
  libs/ui-components/package.json
  linting/package.json
  package.json
  tools/generators/app/files/package.json__tmpl__
  tools/generators/minisite/files/package.json__tmpl__
  yarn.lock
Labels: fishing-map, vessel-history, api-portal, port-labeler, tile-inspector, user-groups-admin, deploy-dev

#1907 New Crowdin updates
  libs/i18n-labels/en/datasets.json
Labels: i18n-labels

#1904 Fishing map/dynamic reports tiles
  apps/fishing-map/features/app/app.selectors.ts
  apps/fishing-map/features/download/downloadActivity.config.ts
  apps/fishing-map/features/map/map-viewport.hooks.ts
  apps/fishing-map/features/map/map.hooks.ts
  apps/fishing-map/features/map/popups/ContextLayers.hooks.ts
  apps/fishing-map/features/map/popups/ContextLayers.tsx
  apps/fishing-map/features/map/popups/ContextLayersRow.tsx
  apps/fishing-map/features/map/popups/UserContextLayers.tsx
  apps/fishing-map/features/reports/Report.tsx
  apps/fishing-map/features/reports/ReportActivity.module.css
  apps/fishing-map/features/reports/ReportActivity.tsx
  apps/fishing-map/features/reports/ReportActivityGraph.tsx
  apps/fishing-map/features/reports/ReportDownload.tsx
  apps/fishing-map/features/reports/ReportSummary.tsx
  apps/fishing-map/features/reports/ReportVesselsFilter.tsx
  apps/fishing-map/features/reports/ReportVesselsTable.module.css
  apps/fishing-map/features/reports/ReportVesselsTable.tsx
  apps/fishing-map/features/reports/reports-geo.utils.ts
  apps/fishing-map/features/reports/reports-timeseries.hooks.ts
  apps/fishing-map/features/reports/reports-timeseries.utils.ts
  apps/fishing-map/features/reports/reports.hooks.ts
  apps/fishing-map/features/reports/reports.selectors.ts
  apps/fishing-map/features/reports/reports.slice.ts
  apps/fishing-map/features/search/Search.tsx
  apps/fishing-map/features/vessel-groups/VesselGroupAddButton.module.css
  apps/fishing-map/features/vessel-groups/VesselGroupAddButton.tsx
  apps/fishing-map/features/vessel-groups/VesselGroupModalVessels.tsx
  apps/fishing-map/features/workspace/Workspace.tsx
  apps/fishing-map/features/workspace/WorkspaceError.tsx
  apps/fishing-map/public/locales/source/translations.json
  apps/fishing-map/routes/routes.middlewares.ts
  apps/fishing-map/types/index.ts
  libs/api-client/src/api-client.ts
  libs/api-client/src/utils/errors.ts
  libs/ui-components/src/input-text/InputText.module.css
  libs/ui-components/src/input-text/InputText.tsx
Labels: fishing-map, api-client

#1902 basic print styles
  apps/fishing-map/features/app/App.module.css
  apps/fishing-map/features/app/App.tsx
  apps/fishing-map/features/reports/ReportActivity.module.css
  apps/fishing-map/features/reports/ReportActivityGraph.tsx
  apps/fishing-map/features/reports/ReportDownload.module.css
  apps/fishing-map/features/reports/ReportTitle.module.css
  apps/fishing-map/features/reports/ReportTitle.tsx
  apps/fishing-map/features/reports/ReportVessels.module.css
  apps/fishing-map/features/reports/ReportVesselsFilter.module.css
  apps/fishing-map/features/reports/ReportVesselsTable.module.css
  apps/fishing-map/public/locales/source/translations.json
  libs/ui-components/src/split-view/SplitView.tsx
Labels: fishing-map

#1913 Update norway dataset source i18n. MAP-1080
  libs/i18n-labels/source/datasets.json
Labels: i18n-labels

#1916 New Crowdin updates
  libs/i18n-labels/en/datasets.json
  libs/i18n-labels/es/datasets.json
  libs/i18n-labels/fr/datasets.json
  libs/i18n-labels/id/datasets.json
  libs/i18n-labels/pt/datasets.json
  libs/i18n-labels/val/datasets.json
Labels: i18n-labels

#1917 New Crowdin updates
  libs/i18n-labels/en/datasets.json
  libs/i18n-labels/es/datasets.json
  libs/i18n-labels/pt/datasets.json
Labels: i18n-labels

#1912 remove unnecessary temporalResolution
  apps/fishing-map/features/reports/Report.tsx
  apps/fishing-map/features/reports/ReportActivityGraph.tsx
  apps/fishing-map/features/reports/ReportSummary.tsx
  apps/fishing-map/features/reports/ReportVesselsPlaceholder.module.css
  apps/fishing-map/features/reports/ReportVesselsPlaceholder.tsx
  apps/fishing-map/features/reports/reports.hooks.ts
  apps/fishing-map/features/reports/reports.selectors.ts
  apps/fishing-map/features/reports/reports.slice.ts
  apps/fishing-map/features/workspace/WorkspaceError.tsx
  apps/fishing-map/public/locales/source/translations.json
Labels: fishing-map

#1920 fix resolve dataviews with legacy ids
  libs/dataviews-client/src/resolve-dataviews.ts
Labels: :rocket: release

#1921 Dynamic Report Feb 27 tasks
  apps/fishing-map/features/map/Map.module.css
  apps/fishing-map/features/map/controls/MapControls.module.css
  apps/fishing-map/features/map/controls/MapInfo.module.css
  apps/fishing-map/features/reports/ReportActivityGraph.tsx
  apps/fishing-map/features/reports/ReportActivityGraphSelector.tsx
  apps/fishing-map/features/reports/ReportVesselsGraphSelector.tsx
  apps/fishing-map/features/reports/ReportVesselsTable.module.css
  apps/fishing-map/features/reports/ReportVesselsTable.tsx
  libs/ui-components/src/select/Select.module.css
  libs/ui-components/src/select/Select.tsx
Labels: fishing-map

#1925 read endpoint pathTemplate to retrieve context feature
  apps/fishing-map/features/analysis/analysis.hooks.ts
  apps/fishing-map/features/areas/areas.slice.ts
  apps/fishing-map/features/dataviews/dataviews.utils.ts
  apps/fishing-map/features/map/popups/ContextLayers.hooks.ts
  apps/fishing-map/features/reports/reports.hooks.ts
  libs/api-types/src/datasets.ts
Labels: fishing-map, api-types
