Repository GlobalFishingWatch/frontend, pull requests merged in 2023-09, with the labels that each got.

#2197 Fishing map/context areas in standalone vessel
  apps/fishing-map/data/default-workspaces/context-layers.ts
  apps/fishing-map/data/default-workspaces/marine-manager.ts
  apps/fishing-map/data/default-workspaces/workspace.development.ts
  apps/fishing-map/data/default-workspaces/workspace.production.ts
  apps/fishing-map/features/dataviews/dataviews.slice.ts
  apps/fishing-map/features/vessel/Vessel.tsx
  apps/fishing-map/features/vessel/activity/vessels-activity.selectors.ts
  apps/fishing-map/features/vessel/areas/VesselAreas.tsx
  apps/fishing-map/features/workspace/workspace.hook.ts
Labels: fishing-map, vessel-history, timebar, dataviews-client, layer-composer, i18n-labels, port-labeler, react-hooks, api-client, api-types, data-transforms, ocean-areas

#2200 Fishing map/profile related owner tab
  apps/fishing-map/features/vessel/identity/VesselIdentity.tsx
  apps/fishing-map/features/vessel/related-vessels/RelatedEncounterVessels.tsx
  apps/fishing-map/features/vessel/related-vessels/RelatedOwnersVessels.tsx
  apps/fishing-map/features/vessel/related-vessels/RelatedVessels.module.css
  apps/fishing-map/features/vessel/related-vessels/RelatedVessels.tsx
  apps/fishing-map/features/vessel/vessel.utils.ts
  apps/fishing-map/public/locales/source/translations.json
  apps/fishing-map/queries/search-api.ts
  apps/fishing-map/reducers.ts
  apps/fishing-map/store.ts
  apps/fishing-map/types/index.ts
  libs/api-client/src/utils/search.ts
Labels: fishing-map, api-client

#2202 Fishing map/profile fit bounds
  apps/fishing-map/features/search/basic/SearchBasicResult.tsx
  apps/fishing-map/features/vessel/Vessel.tsx
  apps/fishing-map/features/vessel/VesselHeader.tsx
  apps/fishing-map/features/vessel/VesselLink.tsx
  apps/fishing-map/features/vessel/identity/VesselIdentitySelector.tsx
  apps/fishing-map/features/vessel/vessel-bounds.hooks.ts
  apps/fishing-map/features/vessel/vessel.hooks.ts
  apps/fishing-map/features/vessel/vessel.slice.ts
  apps/fishing-map/features/vessel/vessel.utils.ts
Labels: fishing-map

#2204 New Crowdin updates
  apps/fishing-map/public/locales/en/translations.json
  apps/fishing-map/public/locales/es/translations.json
  apps/fishing-map/public/locales/fr/translations.json
  apps/fishing-map/public/locales/id/translations.json
  apps/fishing-map/public/locales/pt/translations.json
  apps/fishing-map/public/locales/source/translations.json
  apps/fishing-map/public/locales/val/translations.json
Labels: fishing-map

#2212 Avoid report category missmatch on stored workspaces
  apps/fishing-map/features/app/app.selectors.ts
Labels: fishing-map

#2210 New Crowdin updates
  apps/fishing-map/public/locales/en/translations.json
  apps/fishing-map/public/locales/es/translations.json
  apps/fishing-map/public/locales/fr/translations.json
  apps/fishing-map/public/locales/id/translations.json
  apps/fishing-map/public/locales/pt/translations.json
  apps/fishing-map/public/locales/val/translations.json
Labels: fishing-map

#2214 New Crowdin updates
  apps/fishing-map/public/locales/es/translations.json
Labels: fishing-map

#2215 New Crowdin updates
  apps/fishing-map/public/locales/source/translations.json
  apps/fishing-map/public/locales/val/translations.json
Labels: fishing-map

#2211 update maplibre version
  apps/deck-playground/pages/styles.css
  apps/fishing-map/features/map/Map.module.css
  apps/fishing-map/features/map/MapScreenshot.tsx
  apps/fishing-map/features/map/map-sources.hooks.ts
  apps/fishing-map/features/map/popups/Popup.module.css
  apps/fishing-map/pages/styles.css
  apps/fourwings-explorer/features/map/popups/Popup.module.css
  apps/fourwings-explorer/pages/styles.css
  apps/port-labeler/pages/styles.css
  apps/real-time-prototype/pages/styles.css
  apps/vessel-history/features/map/popups/Popup.module.css
  libs/layer-composer/package.json
  libs/layer-composer/src/generators/heatmap/modes/gridded.ts
  libs/layer-composer/src/generators/heatmap/util/get-base-layers.ts
  libs/layer-composer/src/generators/user-context/user-context.ts
  libs/layer-composer/src/generators/vessel-events/vessel-events.ts
  libs/react-hooks/package.json
  package.json
  yarn.lock
Labels: fishing-map, vessel-history, layer-composer, port-labeler, react-hooks, deploy-dev

#2217 New Crowdin updates
  apps/fishing-map/public/locales/en/translations.json
  apps/fishing-map/public/locales/es/translations.json
  apps/fishing-map/public/locales/fr/translations.json
  apps/fishing-map/public/locales/id/translations.json
  apps/fishing-map/public/locales/pt/translations.json
  apps/fishing-map/public/locales/val/translations.json
Labels: fishing-map

#2221 merge search and vessel translations
  apps/fishing-map/public/locales/en/translations.json
  apps/fishing-map/public/locales/es/translations.json
  apps/fishing-map/public/locales/fr/translations.json
  apps/fishing-map/public/locales/id/translations.json
  apps/fishing-map/public/locales/pt/translations.json
  apps/fishing-map/public/locales/source/translations.json
Labels: fishing-map

#2222 New Crowdin updates
  apps/fishing-map/public/locales/en/translations.json
  apps/fishing-map/public/locales/es/translations.json
  apps/fishing-map/public/locales/fr/translations.json
  apps/fishing-map/public/locales/id/translations.json
  apps/fishing-map/public/locales/pt/translations.json
  apps/fishing-map/public/locales/source/helphints.json
  apps/fishing-map/public/locales/val/helpHints.json
  apps/fishing-map/public/locales/val/translations.json
  apps/vessel-history/public/locales/es/translations.json
  apps/vessel-history/public/locales/val/translations.json
  libs/i18n-labels/en/datasets.json
  libs/i18n-labels/es/datasets.json
  libs/i18n-labels/val/datasets.json
  libs/i18n-labels/val/flags.json
  libs/i18n-labels/val/timebar.json
  libs/ocean-areas/src/data/locales/val.json
Labels: fishing-map, vessel-history, i18n-labels, ocean-areas

#2223 New Crowdin updates
  apps/fishing-map/public/locales/source/helphints.json
  apps/fishing-map/public/locales/val/helpHints.json
Labels: fishing-map

#2225 New Crowdin updates
  apps/fishing-map/public/locales/en/helphints.json
  apps/fishing-map/public/locales/es/helphints.json
  apps/fishing-map/public/locales/fr/helphints.json
  apps/fishing-map/public/locales/id/helphints.json
  apps/fishing-map/public/locales/pt/helphints.json
  apps/fishing-map/public/locales/val/helphints.json
Labels: fishing-map

#2227 New Crowdin updates
  apps/fishing-map/public/locales/en/translations.json
  apps/fishing-map/public/locales/es/translations.json
  apps/fishing-map/public/locales/fr/translations.json
  apps/fishing-map/public/locales/id/translations.json
  apps/fishing-map/public/locales/pt/translations.json
  apps/fishing-map/public/locales/val/translations.json
Labels: fishing-map

#2230 New Crowdin updates
  libs/i18n-labels/en/datasets.json
  libs/i18n-labels/es/datasets.json
Labels: i18n-labels

#2231 add cloudbuildTaskStagingId to gfw-bot
  .github/gfw-bot.json
Labels: deploy-staging

#2233 New Crowdin updates
  apps/fishing-map/public/locales/es/translations.json
  apps/vessel-history/public/locales/es/translations.json
  libs/i18n-labels/es/datasets.json
Labels: fishing-map, vessel-history, i18n-labels

#2235 support staging as WORKSPACE_ENV
  apps/fishing-map/data/config.ts
  apps/fishing-map/data/default-workspaces/workspace.staging.ts
  apps/fishing-map/features/workspace/highlight-panel/highlight-panel.content.ts
  apps/fishing-map/next.config.js
Labels: fishing-map

#2234 update downshift version
  apps/fishing-map/features/map/controls/MapSearch.tsx
  apps/fishing-map/features/workspaces-list/WorkspaceWizard.tsx
  apps/fishing-map/package.json
  apps/vessel-history/package.json
  libs/ui-components/package.json
  libs/ui-components/src/multi-select/MultiSelect.tsx
  package.json
  yarn.lock
Labels: fishing-map, vessel-history

#2236 update next version
  apps/api-portal/next-env.d.ts
  apps/api-portal/next.config.js
  apps/deck-playground/jest.config.js
  apps/deck-playground/jest.config.ts
  apps/deck-playground/next.config.js
  apps/fishing-map/jest.config.ts
  apps/fishing-map/next.config.js
  apps/fourwings-explorer/jest.config.js
  apps/fourwings-explorer/jest.config.ts
  apps/fourwings-explorer/next.config.js
  apps/real-time-prototype/jest.config.js
  apps/real-time-prototype/jest.config.ts
  apps/real-time-prototype/next.config.js
  apps/tile-inspector/jest.config.ts
  libs/pbf-decoders/decoders/4wings-tile.js
  libs/pbf-decoders/decoders/4wings-tiles.d.ts
  libs/pbf-decoders/decoders/vessels.d.ts
  libs/pbf-decoders/decoders/vessels.js
  libs/pbf-decoders/package.json
  package.json
  tools/generators/app/files/jest.config.js__tmpl__
  yarn.lock
Labels: fishing-map, api-portal, tile-inspector, pbf-decoders

#2238 Fishing map/search and vessel profile terminology
  apps/fishing-map/features/i18n/react-i18next.d.ts
  apps/fishing-map/features/i18n/translation-keys.ts
  apps/fishing-map/features/search/basic/SearchBasicResult.tsx
  apps/fishing-map/features/vessel/activity/VesselActivitySummary.module.css
  apps/fishing-map/features/vessel/activity/VesselActivitySummary.tsx
  apps/fishing-map/features/vessel/identity/DataTerminology.module.css
  apps/fishing-map/features/vessel/identity/DataTerminology.tsx
  apps/fishing-map/features/vessel/identity/VesselIdentity.tsx
  apps/fishing-map/features/vessel/vessel.config.ts
  apps/fishing-map/package.json
  apps/fishing-map/public/locales/en/data-terminology.json
  apps/fishing-map/public/locales/source/data-terminology.json
  apps/fishing-map/public/locales/source/translations.json
  yarn.lock
Labels: fishing-map

#2237 Fishing map/search and vessel profile tweaks
  apps/fishing-map/features/app/app.selectors.ts
  apps/fishing-map/features/i18n/react-i18next.d.ts
  apps/fishing-map/features/i18n/translation-keys.ts
  apps/fishing-map/features/search/basic/SearchBasicResult.tsx
  apps/fishing-map/features/vessel/VesselLink.tsx
  apps/fishing-map/features/vessel/activity/VesselActivitySummary.module.css
  apps/fishing-map/features/vessel/activity/VesselActivitySummary.tsx
  apps/fishing-map/features/vessel/identity/DataTerminology.module.css
  apps/fishing-map/features/vessel/identity/DataTerminology.tsx
  apps/fishing-map/features/vessel/identity/VesselIdentity.module.css
  apps/fishing-map/features/vessel/identity/VesselIdentity.tsx
  apps/fishing-map/features/vessel/vessel.config.ts
  apps/fishing-map/package.json
  apps/fishing-map/public/locales/en/data-terminology.json
  apps/fishing-map/public/locales/source/data-terminology.json
  apps/fishing-map/public/locales/source/translations.json
  yarn.lock
Labels: fishing-map

#2228 fix tests for staging
  apps/fishing-map-e2e/project.json
  apps/fishing-map-e2e/src/e2e/map/analysis.cy.ts
  apps/fishing-map-e2e/src/e2e/sidebar/search-vessel.cy.ts
  apps/fishing-map-e2e/src/support/commands.ts
  apps/fishing-map/features/footer/Footer.tsx
Labels: fishing-map, deploy-dev

#2241 fixed problem parsing urls in tests
  apps/fishing-map-e2e/src/support/app.po.ts
  apps/fishing-map-e2e/src/support/map/eez-download.po.ts
  apps/fishing-map/features/footer/Footer.tsx
Labels: fishing-map, deploy-dev

#2240 New Crowdin updates
  apps/fishing-map/public/locales/en/translations.json
  apps/fishing-map/public/locales/es/translations.json
  apps/fishing-map/public/locales/fr/translations.json
  apps/fishing-map/public/locales/id/translations.json
  apps/fishing-map/public/locales/pt/translations.json
  apps/fishing-map/public/locales/val/data-terminology.json
Labels: fishing-map

#2247 New Crowdin updates
  apps/fishing-map/public/locales/pt/translations.json
  libs/i18n-labels/en/datasets.json
  libs/i18n-labels/es/datasets.json
  libs/i18n-labels/fr/datasets.json
  libs/i18n-labels/id/datasets.json
  libs/i18n-labels/pt/datasets.json
Labels: fishing-map, i18n-labels

#2249 feat: include readme file for download track zip
  apps/fishing-map/features/download/downloadTrack.slice.ts
  apps/fishing-map/package.json
  apps/fishing-map/public/tracks-download/README.md
  yarn.lock
Labels: fishing-map

#2242 Fishing map/usability tweaks
  apps/fishing-map/features/app/App.tsx
  apps/fishing-map/features/dataviews/dataviews.selectors.ts
  apps/fishing-map/features/map/Map.tsx
  apps/fishing-map/features/map/controls/MapControls.tsx
  apps/fishing-map/features/map/map.selectors.ts
  apps/fishing-map/features/reports/Report.module.css
  apps/fishing-map/features/reports/Report.tsx
  apps/fishing-map/features/reports/activity/ReportActivityBeforeAfter.tsx
  apps/fishing-map/features/reports/activity/ReportActivityPeriodComparison.tsx
  apps/fishing-map/features/reports/environment/ReportEnvironment.module.css
  apps/fishing-map/features/reports/environment/ReportEnvironment.tsx
  apps/fishing-map/features/reports/report.slice.ts
  apps/fishing-map/features/reports/reports-timecomparison.hooks.ts
  apps/fishing-map/features/reports/reports.config.ts
  apps/fishing-map/features/reports/reports.hooks.ts
  apps/fishing-map/features/reports/reports.selectors.ts
  apps/fishing-map/features/reports/reports.utils.ts
  apps/fishing-map/features/reports/vessels/ReportVesselsGraph.tsx
  apps/fishing-map/features/reports/vessels/ReportVesselsTable.tsx
  apps/fishing-map/features/sidebar/Sidebar.tsx
  apps/fishing-map/features/sidebar/SidebarHeader.tsx
  apps/fishing-map/features/timebar/Timebar.tsx
  apps/fishing-map/features/timebar/timebar.hooks.ts
  apps/fishing-map/features/workspace/vessels/VesselsSection.tsx
  apps/fishing-map/features/workspace/workspace.hook.ts
  apps/fishing-map/public/locales/source/translations.json
  apps/fishing-map/routes/routes.selectors.ts
  apps/fishing-map/utils/async-slice.ts
  libs/api-client/src/api-client.ts
  libs/api-client/src/utils/errors.ts
  libs/react-hooks/package.json
  libs/react-hooks/src/use-local-storage/use-local-storage.ts
  libs/timebar/src/components/timerange-selector.js
  package.json
  yarn.lock
Labels: fishing-map, react-hooks, api-client
