Repository GlobalFishingWatch/frontend, pull requests merged in 2023-01, with the labels that each got.

#1860 fetch vessel groups by group id
  apps/fishing-map/features/vessel-groups/VesselGroupModal.tsx
  apps/fishing-map/features/vessel-groups/VesselGroupModalVessels.tsx
  apps/fishing-map/features/vessel-groups/vessel-groups.slice.ts
Labels: fishing-map

#1786 Setup next deploy on a node server. VV-520
  apps/api-portal/Dockerfile
  apps/api-portal/cloudbuild.yaml
  apps/api-portal/middleware.ts
  apps/api-portal/next.config.js
  apps/api-portal/nginx.conf
  apps/api-portal/package.json
  apps/api-portal/pages/api/auth.ts
  apps/api-portal/pages/index.tsx
  apps/api-portal/project.json
  apps/deck-playground/package.json
  apps/fishing-map/Dockerfile
  apps/fishing-map/cloudbuild.yaml
  apps/fishing-map/middleware.ts
  apps/fishing-map/next.config.js
  apps/fishing-map/nginx.conf
  apps/fishing-map/package.json
  apps/fishing-map/pages/api/auth.ts
  apps/fishing-map/pages/index.tsx
  apps/fishing-map/project.json
  apps/fourwings-explorer/package.json
  apps/port-labeler/Dockerfile
  apps/port-labeler/cloudbuild.yaml
  apps/port-labeler/middleware.ts
  apps/port-labeler/next.config.js
  apps/port-labeler/nginx.conf
  apps/port-labeler/package.json
  apps/port-labeler/pages/api/auth.ts
  apps/port-labeler/pages/index.tsx
  apps/port-labeler/project.json
  apps/user-groups-admin/package.json
  apps/vessel-history/Dockerfile
  apps/vessel-history/cloudbuild.yaml
  apps/vessel-history/middleware.ts
  apps/vessel-history/next.config.js
  apps/vessel-history/nginx.conf
  apps/vessel-history/package.json
  apps/vessel-history/pages/api/auth.ts
  apps/vessel-history/pages/index.tsx
  apps/vessel-history/project.json
  package.json
  tools/generators/app/files/package.json__tmpl__
  tools/generators/minisite/files/package.json__tmpl__
  yarn.lock
Labels: fishing-map, vessel-history, api-portal, port-labeler, user-groups-admin, deploy-dev

#1865 Permission driven download feature toggle. VV-514
  apps/vessel-history/data/config.ts
  apps/vessel-history/features/profile/filters/ActivityFilters.tsx
  apps/vessel-history/features/profile/profile.selectors.ts
Labels: vessel-history, deploy-dev

#1645 Terraform migration
  apps/fishing-map/data/config.ts
  apps/fishing-map/data/default-workspaces/marine-manager.ts
  apps/fishing-map/data/default-workspaces/workspace.development.ts
  apps/fishing-map/data/default-workspaces/workspace.production.ts
  apps/fishing-map/data/workspaces.ts
  apps/fishing-map/features/datasets/datasets.slice.ts
  apps/fishing-map/features/datasets/datasets.utils.ts
  apps/fishing-map/features/dataviews/dataviews.selectors.ts
  apps/fishing-map/features/dataviews/dataviews.slice.ts
  apps/fishing-map/features/dataviews/dataviews.utils.ts
  apps/fishing-map/features/editor/DataviewEditor.tsx
  apps/fishing-map/features/editor/WorkspaceEditor.tsx
  apps/fishing-map/features/editor/editor.slice.ts
  apps/fishing-map/features/search/Search.tsx
  apps/fishing-map/features/workspace/activity/ActivityLayerPanel.tsx
  apps/fishing-map/features/workspace/activity/activity.utils.ts
  apps/fishing-map/features/workspace/common/Title.tsx
  apps/fishing-map/features/workspace/context-areas/ContextAreaLayerPanel.tsx
  apps/fishing-map/features/workspace/legacy-activity-category.hook.ts
  apps/fishing-map/features/workspace/workspace.slice.ts
  apps/fishing-map/features/workspaces-list/WorkspaceWizard.tsx
  apps/vessel-history/features/datasets/datasets.slice.ts
  apps/vessel-history/features/dataviews/dataviews.config.ts
  apps/vessel-history/features/dataviews/dataviews.selectors.ts
  apps/vessel-history/features/dataviews/dataviews.slice.ts
  apps/vessel-history/features/dataviews/dataviews.utils.ts
  libs/api-types/src/dataviews.ts
  libs/dataviews-client/src/resolve-dataviews-generators.ts
  libs/dataviews-client/src/resolve-dataviews.ts
  libs/dataviews-client/src/resources/get-resources.ts
  libs/dataviews-client/src/url-workspace.ts
  libs/layer-composer/src/layer-composer.ts
Labels: fishing-map, vessel-history, dataviews-client, layer-composer, api-types

#1868 Add messages alerting of the 2023 AIS source change
  apps/fishing-map/features/analysis/Analysis.module.css
  apps/fishing-map/features/analysis/Analysis.tsx
  apps/fishing-map/features/download/DownloadActivityByVessel.tsx
  apps/fishing-map/features/download/DownloadActivityGridded.tsx
  apps/fishing-map/features/download/DownloadActivityProductsBanner.tsx
  apps/fishing-map/features/download/DownloadModal.module.css
  apps/fishing-map/features/modals/Modals.tsx
  apps/fishing-map/features/welcome/SourceSwitch.content.ts
  apps/fishing-map/features/welcome/WelcomeSourceSwitch.tsx
Labels: fishing-map, deploy-dev

#1869 Fishing map/source switch messages
  apps/fishing-map/features/analysis/Analysis.module.css
  apps/fishing-map/features/analysis/Analysis.tsx
  apps/fishing-map/features/download/DownloadActivityByVessel.tsx
  apps/fishing-map/features/download/DownloadActivityGridded.tsx
  apps/fishing-map/features/download/DownloadActivityProductsBanner.tsx
  apps/fishing-map/features/download/DownloadModal.module.css
  apps/fishing-map/features/modals/Modals.tsx
  apps/fishing-map/features/welcome/SourceSwitch.content.ts
  apps/fishing-map/features/welcome/WelcomeSourceSwitch.tsx
Labels: :rocket: release

#1862 Deck playground/datasets compare
  apps/deck-playground/features/map/Map.tsx
  apps/deck-playground/features/sidebar/Sidebar.module.css
  apps/deck-playground/features/sidebar/Sidebar.tsx
  apps/deck-playground/features/timebar/TimebarActivityGraph.tsx
  apps/deck-playground/layers/fourwings/FourwingsHeatmapCellLayer.ts
  apps/deck-playground/layers/fourwings/FourwingsHeatmapLayer.ts
  apps/deck-playground/layers/fourwings/FourwingsHeatmapTileLayer.ts
  apps/deck-playground/layers/fourwings/FourwingsPositionsTileLayer.ts
  apps/deck-playground/layers/fourwings/fourwings.config.ts
  apps/deck-playground/layers/fourwings/fourwings.hooks.ts
  apps/deck-playground/layers/fourwings/fourwings.types.ts
  apps/deck-playground/layers/fourwings/fourwings.utils.ts
  apps/deck-playground/loaders/fourwings/fourwingsLayerLoader.ts
  apps/deck-playground/loaders/fourwings/fourwingsTileParser.ts
  apps/deck-playground/loaders/fourwings/worker.ts
  libs/layer-composer/src/generators/heatmap/util/colors.ts
  libs/layer-composer/src/generators/index.ts
Labels: layer-composer

#1871 add new translations
  apps/fishing-map/features/welcome/SourceSwitch.content.ts
Labels: :rocket: release, fishing-map

#1872 Fishing map/context layers filtering
  apps/fishing-map/features/datasets/datasets.utils.ts
  apps/fishing-map/features/workspace/context-areas/ContextAreaLayerPanel.tsx
  libs/dataviews-client/src/resolve-dataviews-generators.ts
Labels: fishing-map, dataviews-client

#1864 Deck playground/recursive layer sorting
  apps/deck-playground/README.md
  apps/deck-playground/features/map/Map.tsx
  apps/deck-playground/features/timebar/TimebarActivityGraph.tsx
  apps/deck-playground/layers/basemap/BasemapLayer.ts
  apps/deck-playground/layers/fourwings/FourwingsHeatmapTileLayer.ts
  apps/deck-playground/layers/fourwings/FourwingsLayer.ts
  apps/deck-playground/layers/fourwings/FourwingsPositionsTileLayer.ts
  apps/deck-playground/layers/fourwings/fourwings.hooks.ts
  apps/deck-playground/layers/vessel/VesselEventsLayer.ts
  apps/deck-playground/layers/vessel/VesselLayer.ts
  apps/deck-playground/layers/vessel/VesselTrackLayer.ts
  apps/deck-playground/layers/vessel/VesselsLayer.ts
  apps/deck-playground/utils/layers.ts
  libs/layer-composer/src/transforms/sort/sort.ts
Labels: layer-composer, deck-playground

#1873 Display SSF workspaces to SSF user groups. MAP-739
  apps/fishing-map/features/user/user.selectors.ts
  apps/fishing-map/features/user/user.slice.ts
Labels: fishing-map

#1874 Feature/api auth with next review
  apps/api-portal/package.json
  apps/fishing-map/features/app/App.tsx
  apps/fishing-map/features/user/UserInfo.tsx
  apps/fishing-map/features/user/user.hooks.ts
  apps/fishing-map/features/user/user.slice.ts
  apps/fishing-map/pages/api/auth/[...nextauth].ts
  apps/fishing-map/pages/index.tsx
  apps/fishing-map/routes/routes.hook.ts
  libs/authjs-client/src/index.ts
  libs/authjs-client/src/lib/config.ts
  libs/authjs-client/src/lib/gfw-client.ts
  libs/authjs-client/src/lib/gfw-provider.ts
  libs/authjs-client/src/lib/types.ts
  libs/authjs-client/src/lib/utils.ts
  package.json
  yarn.lock
Labels: fishing-map, api-portal

#1876 update stats params to match new api
  apps/fishing-map/features/workspace/activity/ActivityFitBounds.tsx
  apps/fishing-map/features/workspace/activity/ActivityLayerPanel.tsx
  apps/fishing-map/queries/stats-api.ts
  libs/api-types/src/index.ts
  libs/api-types/src/stats.ts
Labels: fishing-map, api-types, deploy-dev

#1879 New Crowdin updates
  libs/i18n-labels/source/datasets.json
Labels: i18n-labels

#1880 New Crowdin updates
  apps/vessel-history/public/locales/en/translations.json
  libs/i18n-labels/en/datasets.json
  libs/i18n-labels/es/datasets.json
  libs/i18n-labels/fr/datasets.json
  libs/i18n-labels/id/datasets.json
  libs/i18n-labels/pt/datasets.json
  libs/i18n-labels/val/datasets.json
Labels: vessel-history, i18n-labels

#1883 fix fallback option when omited datasets
  libs/layer-composer/src/generators/heatmap/util/get-time-chunks-interval.ts
  libs/layer-composer/src/generators/heatmap/util/time-chunks.ts
Labels: :rocket: release, layer-composer
