Repository GlobalFishingWatch/frontend, pull requests merged in 2023-04, with the labels that each got.

#1988 Display authorization information in VV activity tab for encounter events // VV-466
  apps/vessel-history/features/profile/components/activity/ActivityModalContentDetailsEncounter.tsx
  apps/vessel-history/features/profile/components/activity/ActivityModalDetails.module.css
  apps/vessel-history/features/profile/components/auth-icon/AuthIcon.module.css
  apps/vessel-history/features/profile/components/auth-icon/AuthIcon.tsx
  apps/vessel-history/public/locales/en/translations.json
  apps/vessel-history/public/locales/source/translations.json
  libs/api-types/src/events.ts
  libs/ui-components/src/base.css
Labels: vessel-history, api-types, deploy-dev

#1995 request only gfw and user resources
  apps/fishing-map/features/datasets/datasets.slice.ts
  apps/fishing-map/features/reports/reports.slice.ts
  apps/fishing-map/features/vessel-groups/vessel-groups.slice.ts
  apps/fishing-map/features/workspaces-list/workspaces-list.slice.ts
Labels: fishing-map, deploy-dev

#1998 Fetch only datasets defined in dataview
  apps/fishing-map/features/datasets/datasets.utils.ts
  apps/fishing-map/features/workspace/workspace.slice.ts
Labels: fishing-map

#1999 Fishing map/hotfix missing mm datasets
  apps/fishing-map/features/datasets/datasets.utils.ts
Labels: fishing-map

#2001 New Crowdin updates
  libs/i18n-labels/en/datasets.json
  libs/i18n-labels/es/datasets.json
  libs/i18n-labels/fr/datasets.json
  libs/i18n-labels/id/datasets.json
  libs/i18n-labels/pt/datasets.json
  libs/i18n-labels/source/datasets.json
  libs/i18n-labels/val/datasets.json
Labels: i18n-labels

#2003 New Crowdin updates
  apps/fishing-map/public/locales/en/translations.json
  apps/fishing-map/public/locales/source/translations.json
Labels: fishing-map

#2004 New Crowdin updates
  apps/fishing-map/public/locales/en/translations.json
  apps/fishing-map/public/locales/es/translations.json
  apps/fishing-map/public/locales/fr/translations.json
  apps/fishing-map/public/locales/id/translations.json
  apps/fishing-map/public/locales/pt/translations.json
  apps/fishing-map/public/locales/val/translations.json
Labels: fishing-map

#1968 Make a Blueprint version of the Vessel Viewer // VV-550
  apps/vessel-history/README.md
  apps/vessel-history/cloudbuild.yaml
  apps/vessel-history/data/config.ts
  apps/vessel-history/features/activity-by-type/activity-by-type.tsx
  apps/vessel-history/features/app/App.tsx
  apps/vessel-history/features/datasets/datasets.slice.ts
  apps/vessel-history/features/dataviews/dataviews.config.ts
  apps/vessel-history/features/dataviews/dataviews.selectors.ts
  apps/vessel-history/features/dataviews/dataviews.slice.ts
  apps/vessel-history/features/dataviews/dataviews.utils.ts
  apps/vessel-history/features/home/Home.tsx
  apps/vessel-history/features/map/map.selectors.ts
  apps/vessel-history/features/profile/Profile.tsx
  apps/vessel-history/features/profile/components/activity/ActivityModalContentDetailsGap.tsx
  apps/vessel-history/features/psma/psma.slice.ts
  apps/vessel-history/features/regions/regions.slice.ts
  apps/vessel-history/features/resources/resources.utils.ts
  apps/vessel-history/features/risk-indicator/risk-indicator.hook.ts
  apps/vessel-history/features/risk-indicator/risk-indicator.slice.ts
  apps/vessel-history/features/search/search.thunk.ts
  apps/vessel-history/features/user/user.hooks.ts
  apps/vessel-history/features/user/user.slice.ts
  apps/vessel-history/features/vessels/activity/vessels-activity.selectors.ts
  apps/vessel-history/features/vessels/sources/gfw.slice.ts
  apps/vessel-history/features/vessels/sources/tmt.slice.ts
  apps/vessel-history/http-client/http-client.ts
  apps/vessel-history/types/index.ts
Labels: vessel-history, deploy-dev

#2006 Fishing map/dynamic reports feedback
  apps/fishing-map/features/app/app.selectors.ts
  apps/fishing-map/features/download/DownloadActivityByVessel.tsx
  apps/fishing-map/features/download/DownloadActivityGridded.tsx
  apps/fishing-map/features/download/downloadActivity.slice.ts
  apps/fishing-map/features/help/UserGuideLink.module.css
  apps/fishing-map/features/map/popups/ContextLayers.hooks.ts
  apps/fishing-map/features/reports/Report.module.css
  apps/fishing-map/features/reports/Report.tsx
  apps/fishing-map/features/reports/activity/ReportActivity.tsx
  apps/fishing-map/features/reports/activity/ReportActivityGraphSelector.tsx
  apps/fishing-map/features/reports/download/ReportDownload.tsx
  apps/fishing-map/features/reports/summary/ReportSummary.module.css
  apps/fishing-map/features/reports/summary/ReportSummary.tsx
  apps/fishing-map/features/reports/title/ReportTitle.module.css
  apps/fishing-map/features/reports/title/ReportTitle.tsx
  apps/fishing-map/features/reports/vessels/ReportVessels.module.css
  apps/fishing-map/features/reports/vessels/ReportVessels.tsx
  apps/fishing-map/features/reports/vessels/ReportVesselsFilter.module.css
  apps/fishing-map/features/reports/vessels/ReportVesselsTable.module.css
  apps/fishing-map/features/reports/vessels/ReportVesselsTable.tsx
  apps/fishing-map/features/sidebar/SidebarHeader.module.css
  apps/fishing-map/features/sidebar/SidebarHeader.tsx
  apps/fishing-map/features/workspace/shared/DatasetFlagsField.tsx
  apps/fishing-map/features/workspace/shared/DatasetSchemaField.tsx
  apps/fishing-map/pages/styles.css
  apps/fishing-map/public/locales/source/translations.json
  apps/fishing-map/routes/title.reducer.ts
  libs/ui-components/src/split-view/SplitView.module.css
Labels: fishing-map, deploy-dev

#2005 New Crowdin updates
  apps/fishing-map/public/locales/en/translations.json
  apps/fishing-map/public/locales/es/translations.json
  apps/fishing-map/public/locales/fr/translations.json
  apps/fishing-map/public/locales/id/translations.json
  apps/fishing-map/public/locales/pt/translations.json
  apps/fishing-map/public/locales/val/translations.json
Labels: fishing-map

#2009 New Crowdin updates
  apps/fishing-map/public/locales/en/translations.json
  apps/fishing-map/public/locales/es/translations.json
  apps/fishing-map/public/locales/fr/translations.json
  apps/fishing-map/public/locales/id/translations.json
  apps/fishing-map/public/locales/pt/translations.json
  apps/fishing-map/public/locales/val/translations.json
Labels: fishing-map

#2008 Fishing map/close report button
  apps/fishing-map/features/map/map.hooks.ts
  apps/fishing-map/features/reports/Report.tsx
  apps/fishing-map/features/reports/reports.hooks.ts
  apps/fishing-map/features/sidebar/SidebarHeader.tsx
  apps/fishing-map/features/user/UserReports.tsx
  apps/fishing-map/features/user/UserWorkspaces.tsx
  apps/fishing-map/features/workspace/workspace.slice.ts
  apps/fishing-map/routes/routes.hook.ts
  apps/fishing-map/routes/routes.middlewares.ts
  apps/fishing-map/routes/routes.ts
Labels: fishing-map

#2014 Fishing map/latest data available from datasets. MAP-1160
  apps/fishing-map/data/config.ts
  apps/fishing-map/features/app/app.selectors.ts
  apps/fishing-map/features/datasets/datasets.utils.ts
  apps/fishing-map/features/dataviews/dataviews.selectors.ts
  apps/fishing-map/features/dataviews/dataviews.slice.ts
  apps/fishing-map/features/reports/activity/ReportActivityPeriodComparisonGraph.tsx
  apps/fishing-map/features/timebar/Timebar.tsx
  apps/fishing-map/features/workspace/workspace.slice.ts
  libs/timebar/src/utils/index.js
Labels: fishing-map, timebar

#2015 New Crowdin updates
  libs/i18n-labels/en/datasets.json
  libs/i18n-labels/es/datasets.json
  libs/i18n-labels/fr/datasets.json
  libs/i18n-labels/id/datasets.json
  libs/i18n-labels/pt/datasets.json
  libs/i18n-labels/val/datasets.json
Labels: i18n-labels

#2016 New Crowdin updates
  libs/i18n-labels/en/datasets.json
  libs/i18n-labels/es/datasets.json
  libs/i18n-labels/fr/datasets.json
  libs/i18n-labels/id/datasets.json
  libs/i18n-labels/pt/datasets.json
  libs/i18n-labels/source/datasets.json
  libs/i18n-labels/val/datasets.json
Labels: i18n-labels

#2017 New Crowdin updates
  apps/fishing-map/public/locales/en/translations.json
  apps/vessel-history/public/locales/en/translations.json
Labels: fishing-map, vessel-history

#2020 New Crowdin updates
  libs/i18n-labels/en/datasets.json
  libs/i18n-labels/es/datasets.json
  libs/i18n-labels/fr/datasets.json
  libs/i18n-labels/id/datasets.json
  libs/i18n-labels/pt/datasets.json
  libs/i18n-labels/source/datasets.json
  libs/i18n-labels/val/datasets.json
Labels: i18n-labels
