Repository GlobalFishingWatch/frontend, pull requests merged in 2023-10, with the labels that each got.

#2244 Update input and button styles
  apps/fishing-map/features/bigquery/BigQuery.tsx
  apps/fishing-map/features/datasets/DatasetConfig.tsx
  apps/fishing-map/features/datasets/EditDataset.tsx
  apps/fishing-map/features/editor/DataviewEditor.tsx
  apps/fishing-map/features/feedback/FeedbackModal.module.css
  apps/fishing-map/features/map/MapDraw.tsx
  apps/fishing-map/features/map/controls/MapSearch.module.css
  apps/fishing-map/features/reports/NewReportModal.tsx
  apps/fishing-map/features/reports/activity/ReportActivityBeforeAfter.module.css
  apps/fishing-map/features/reports/vessels/ReportVesselsFilter.module.css
  apps/fishing-map/features/workspace/Workspace.tsx
  apps/fishing-map/features/workspace/activity/ActivityFilters.module.css
  apps/fishing-map/features/workspace/shared/NewWorkspaceModal.tsx
  apps/fishing-map/features/workspaces-list/WorkspaceWizard.module.css
  libs/timebar/src/components/timerange-selector.module.css
  libs/ui-components/src/base.css
  libs/ui-components/src/button/Button.module.css
  libs/ui-components/src/input-text/InputText.module.css
  libs/ui-components/src/multi-select/MultiSelect.module.css
  libs/ui-components/src/select/Select.module.css
  libs/ui-components/src/tabs/Tabs.module.css
Labels: fishing-map, timebar

#2252 add a confirm action to activity filters
  apps/fishing-map/features/workspace/activity/ActivityFilters.module.css
  apps/fishing-map/features/workspace/activity/ActivityFilters.tsx
  apps/fishing-map/features/workspace/activity/ActivityLayerPanel.tsx
  apps/fishing-map/public/locales/source/translations.json
Labels: fishing-map

#2255 Fix verification of localstorage in test
  apps/fishing-map-e2e/src/support/commands.ts
Labels: deploy-dev

#2259 Fix Bad substitution build error
  apps/api-portal/cloudbuild.yaml
Labels: api-portal, deploy-dev

#2258 New Crowdin updates
  apps/fishing-map/public/locales/fr/translations.json
  apps/fishing-map/public/locales/id/translations.json
  apps/fishing-map/public/locales/pt/translations.json
  apps/vessel-history/public/locales/id/translations.json
  libs/i18n-labels/id/datasets.json
Labels: fishing-map, vessel-history, i18n-labels

#2257 use recoil to store drawing coordinate position
  apps/fishing-map/features/map/MapDraw.tsx
  apps/fishing-map/features/map/MapDrawControl.tsx
  apps/fishing-map/package.json
  yarn.lock
Labels: fishing-map

#2260 New Crowdin updates
  libs/i18n-labels/en/flags.json
  libs/i18n-labels/es/flags.json
  libs/i18n-labels/fr/flags.json
  libs/i18n-labels/id/flags.json
  libs/i18n-labels/source/flags.json
  libs/i18n-labels/val/flags.json
Labels: i18n-labels

#2261 New Crowdin updates
  apps/fishing-map/public/locales/es/translations.json
  libs/i18n-labels/en/datasets.json
  libs/i18n-labels/en/flags.json
  libs/i18n-labels/es/datasets.json
  libs/i18n-labels/es/flags.json
  libs/i18n-labels/fr/datasets.json
  libs/i18n-labels/fr/flags.json
  libs/i18n-labels/id/datasets.json
  libs/i18n-labels/id/flags.json
  libs/i18n-labels/pt/datasets.json
  libs/i18n-labels/pt/flags.json
  libs/i18n-labels/source/datasets.json
  libs/i18n-labels/val/datasets.json
  libs/i18n-labels/val/flags.json
Labels: fishing-map, i18n-labels

#2263 New Crowdin updates
  libs/i18n-labels/en/datasets.json
  libs/i18n-labels/es/datasets.json
  libs/i18n-labels/fr/datasets.json
  libs/i18n-labels/id/datasets.json
  libs/i18n-labels/pt/datasets.json
  libs/i18n-labels/source/datasets.json
  libs/i18n-labels/val/datasets.json
Labels: i18n-labels

#2264 New Crowdin updates
  libs/i18n-labels/en/flags.json
Labels: i18n-labels

#2266 New Crowdin updates
  apps/fishing-map/public/locales/es/data-terminology.json
  apps/fishing-map/public/locales/es/translations.json
  apps/fishing-map/public/locales/fr/data-terminology.json
  apps/fishing-map/public/locales/fr/translations.json
  apps/fishing-map/public/locales/id/data-terminology.json
  apps/fishing-map/public/locales/id/translations.json
  libs/i18n-labels/en/datasets.json
  libs/i18n-labels/es/datasets.json
  libs/i18n-labels/fr/datasets.json
  libs/i18n-labels/fr/timebar.json
  libs/i18n-labels/id/datasets.json
  libs/i18n-labels/pt/datasets.json
  libs/i18n-labels/source/datasets.json
  libs/i18n-labels/val/datasets.json
Labels: fishing-map, i18n-labels

#2268 New Crowdin updates
  apps/fishing-map/public/locales/id/data-terminology.json
  apps/fishing-map/public/locales/id/translations.json
  libs/i18n-labels/en/datasets.json
  libs/i18n-labels/es/datasets.json
  libs/i18n-labels/fr/datasets.json
  libs/i18n-labels/id/datasets.json
  libs/i18n-labels/pt/datasets.json
  libs/i18n-labels/source/datasets.json
  libs/i18n-labels/val/datasets.json
Labels: fishing-map, i18n-labels

#2256 Sar paper/antimeridian buffer spike
  apps/fishing-map/features/areas/areas.slice.ts
  apps/fishing-map/features/reports/reports.selectors.ts
  apps/fishing-map/features/reports/reports.utils.ts
  apps/fishing-map/features/reports/title/ReportTitle.tsx
  apps/fourwings-explorer/features/analysis/analysis.hooks.ts
  libs/api-types/src/geometries.ts
  libs/data-transforms/src/buffer/buffer.ts
  libs/data-transforms/src/buffer/index.ts
  libs/data-transforms/src/dissolve/dissolve.ts
  libs/data-transforms/src/dissolve/index.ts
  libs/data-transforms/src/index.ts
  libs/data-transforms/src/wrap-longitudes/wrap-longitudes.ts
Labels: fishing-map, api-types, data-transforms

#2269 New Crowdin updates
  apps/vessel-history/public/locales/fr/translations.json
  libs/i18n-labels/en/datasets.json
  libs/i18n-labels/es/datasets.json
  libs/i18n-labels/fr/datasets.json
  libs/i18n-labels/id/datasets.json
  libs/i18n-labels/pt/datasets.json
  libs/i18n-labels/source/datasets.json
  libs/i18n-labels/val/datasets.json
Labels: vessel-history, i18n-labels

#2271 New Crowdin updates
  apps/fishing-map/public/locales/en/data-terminology.json
  apps/fishing-map/public/locales/es/data-terminology.json
  apps/fishing-map/public/locales/es/translations.json
  apps/fishing-map/public/locales/fr/data-terminology.json
  apps/fishing-map/public/locales/pt/data-terminology.json
  apps/fishing-map/public/locales/pt/translations.json
  apps/fishing-map/public/locales/source/data-terminology.json
Labels: fishing-map

#2272 New Crowdin updates
  apps/fishing-map/public/locales/pt/data-terminology.json
Labels: fishing-map

#2273 New Crowdin updates
  apps/fishing-map/public/locales/pt/data-terminology.json
  apps/fishing-map/public/locales/pt/translations.json
  libs/i18n-labels/en/datasets.json
  libs/i18n-labels/es/datasets.json
  libs/i18n-labels/fr/datasets.json
  libs/i18n-labels/id/datasets.json
  libs/i18n-labels/pt/datasets.json
  libs/i18n-labels/source/datasets.json
  libs/i18n-labels/val/datasets.json
Labels: fishing-map, i18n-labels

#2274 New Crowdin updates
  apps/fishing-map/public/locales/en/data-terminology.json
  apps/fishing-map/public/locales/es/data-terminology.json
  apps/fishing-map/public/locales/es/translations.json
  apps/fishing-map/public/locales/id/data-terminology.json
  apps/fishing-map/public/locales/id/translations.json
  apps/fishing-map/public/locales/source/data-terminology.json
Labels: fishing-map

#2275 New Crowdin updates
  apps/fishing-map/public/locales/es/data-terminology.json
  libs/i18n-labels/en/datasets.json
  libs/i18n-labels/es/datasets.json
  libs/i18n-labels/fr/datasets.json
  libs/i18n-labels/id/datasets.json
  libs/i18n-labels/pt/datasets.json
  libs/i18n-labels/source/datasets.json
  libs/i18n-labels/val/datasets.json
Labels: fishing-map, i18n-labels

#2277 New Crowdin updates
  libs/i18n-labels/en/datasets.json
  libs/i18n-labels/es/datasets.json
  libs/i18n-labels/fr/datasets.json
  libs/i18n-labels/id/datasets.json
  libs/i18n-labels/pt/datasets.json
  libs/i18n-labels/source/datasets.json
  libs/i18n-labels/val/datasets.json
Labels: i18n-labels

#2136 SAR - Fixed infrastructure
  apps/fishing-map/data/config.ts
  apps/fishing-map/features/app/app.selectors.ts
  apps/fishing-map/features/areas/areas.slice.ts
  apps/fishing-map/features/download/DownloadActivityByVessel.tsx
  apps/fishing-map/features/download/DownloadActivityGridded.tsx
  apps/fishing-map/features/download/downloadActivity.slice.ts
  apps/fishing-map/features/i18n/react-i18next.d.ts
  apps/fishing-map/features/i18n/translation-keys.ts
  apps/fishing-map/features/map/map-sources.hooks.ts
  apps/fishing-map/features/map/map-sources.utils.ts
  apps/fishing-map/features/map/map.config.ts
  apps/fishing-map/features/map/map.hooks.ts
  apps/fishing-map/features/map/map.selectors.ts
  apps/fishing-map/features/map/popups/ContextLayers.hooks.ts
  apps/fishing-map/features/map/popups/ContextLayersRow.tsx
  apps/fishing-map/features/map/popups/PopupWrapper.tsx
  apps/fishing-map/features/map/popups/ReportBufferLayers.tsx
  apps/fishing-map/features/map/popups/UserPointsLayers.tsx
  apps/fishing-map/features/reports/Report.tsx
  apps/fishing-map/features/reports/download/ReportDownload.tsx
  apps/fishing-map/features/reports/report.slice.ts
  apps/fishing-map/features/reports/reports-timeseries.hooks.ts
  apps/fishing-map/features/reports/reports.config.ts
  apps/fishing-map/features/reports/reports.hooks.ts
  apps/fishing-map/features/reports/reports.selectors.ts
  apps/fishing-map/features/reports/reports.utils.ts
  apps/fishing-map/features/reports/title/BufferButonTooltip.tsx
  apps/fishing-map/features/reports/title/ReportTitle.module.css
  apps/fishing-map/features/reports/title/ReportTitle.tsx
  apps/fishing-map/features/sidebar/SidebarHeader.tsx
  apps/fishing-map/public/locales/source/translations.json
  apps/fishing-map/routes/routes.selectors.ts
  apps/fishing-map/types/index.ts
  apps/fourwings-explorer/features/analysis/analysis-geo.utils.ts
  apps/fourwings-explorer/features/analysis/analysis.hooks.ts
  libs/api-types/package.json
  libs/api-types/src/geometries.ts
  libs/api-types/tsconfig.json
  libs/api-types/tsconfig.lib.json
  libs/data-transforms/package.json
  libs/data-transforms/src/buffer/buffer.ts
  libs/data-transforms/src/buffer/index.ts
  libs/data-transforms/src/dissolve/dissolve.ts
  libs/data-transforms/src/dissolve/index.ts
  libs/data-transforms/src/index.ts
  libs/data-transforms/src/wrap-longitudes/wrap-longitudes.ts
  libs/data-transforms/tsconfig.json
  libs/data-transforms/tsconfig.lib.json
  libs/layer-composer/src/generators/polygons/polygons.ts
  libs/layer-composer/src/generators/types.ts
  libs/react-hooks/src/use-map-interaction/use-map-interaction.ts
  libs/ui-components/src/assets/icons/expand.svg
  libs/ui-components/src/button/Button.module.css
  libs/ui-components/src/button/Button.tsx
  libs/ui-components/src/choice/Choice.tsx
  libs/ui-components/src/icon/Icon.tsx
  libs/ui-components/src/tooltip/Tooltip.tsx
  yarn.lock
Labels: fishing-map, layer-composer, react-hooks, api-types, data-transforms, deploy-dev

#2133 Deck migration/mapbox dependencies clean up review
  apps/fishing-map/features/app/App.tsx
  apps/fishing-map/features/map/Map.tsx
  apps/fishing-map/features/map/controls/MapControls.tsx
  apps/fishing-map/features/map/controls/MapSearch.tsx
  apps/fishing-map/features/map/map-bounds.hooks.ts
  apps/fishing-map/features/map/map-context.hooks.ts
  apps/fishing-map/features/map/map-viewport.hooks.ts
  apps/fishing-map/features/map/map.hooks.ts
  apps/fishing-map/features/map/popups/ContextLayers.hooks.ts
  apps/fishing-map/features/reports/reports.hooks.ts
  apps/fishing-map/features/sidebar/CategoryTabs.tsx
  apps/fishing-map/features/timebar/TimebarActivityGraph.hooks.ts
  apps/fishing-map/features/user/UserWorkspaces.tsx
  apps/fishing-map/features/user/UserWorkspacesPrivate.tsx
  apps/fishing-map/features/workspace/activity/ActivityFitBounds.tsx
  apps/fishing-map/features/workspace/common/FitBounds.tsx
  apps/fishing-map/features/workspace/environmental/environmental.hooks.ts
  apps/fishing-map/features/workspace/environmental/histogram.hooks.ts
  apps/fishing-map/features/workspace/events/events.hooks.ts
  apps/fishing-map/features/workspaces-list/WorkspaceWizard.tsx
  apps/fishing-map/features/workspaces-list/WorkspacesList.tsx
  apps/fishing-map/hooks/screen.hooks.ts
  apps/fishing-map/types/index.ts
  apps/fishing-map/utils/url.ts
  apps/fourwings-explorer/features/analysis/analysis.area.hooks.ts
  libs/deck-layers/src/layers/fourwings/FourwingsHeatmapLayer.ts
  libs/deck-layers/src/layers/fourwings/FourwingsHeatmapTileLayer.ts
  libs/layer-composer/src/generators/heatmap/util/colors.ts
Labels: fishing-map, layer-composer, deck-layers

#2279 New Crowdin updates
  libs/i18n-labels/en/datasets.json
  libs/i18n-labels/en/flags.json
  libs/i18n-labels/es/datasets.json
  libs/i18n-labels/fr/datasets.json
  libs/i18n-labels/id/datasets.json
  libs/i18n-labels/pt/datasets.json
  libs/i18n-labels/source/datasets.json
  libs/i18n-labels/val/datasets.json
Labels: i18n-labels

#2280 New Crowdin updates
  apps/fishing-map/public/locales/val/helphints.json
Labels: fishing-map

#2253 Test new SAR dataset filters
  apps/fishing-map/features/datasets/datasets.utils.ts
  apps/fishing-map/features/dataviews/dataviews.mock.ts
  libs/api-types/src/dataviews.ts
Labels: fishing-map, api-types, deploy-dev

#2281 New Crowdin updates
  libs/i18n-labels/en/datasets.json
  libs/i18n-labels/es/datasets.json
  libs/i18n-labels/fr/datasets.json
  libs/i18n-labels/id/datasets.json
  libs/i18n-labels/pt/datasets.json
  libs/i18n-labels/source/datasets.json
  libs/i18n-labels/val/datasets.json
Labels: i18n-labels

#2267 Fishing map/api v3 migration
  apps/fishing-map/data/workspaces.ts
  apps/fishing-map/features/datasets/datasets.slice.ts
  apps/fishing-map/features/datasets/datasets.utils.ts
  apps/fishing-map/features/dataviews/dataviews.utils.ts
  apps/fishing-map/features/download/downloadActivity.config.ts
  apps/fishing-map/features/editor/DataviewEditor.tsx
  apps/fishing-map/features/map/map.slice.ts
  apps/fishing-map/features/map/popups/VesselsTable.tsx
  apps/fishing-map/features/regions/regions.slice.ts
  apps/fishing-map/features/reports/activity/ReportActivityPeriodComparisonGraph.tsx
  apps/fishing-map/features/reports/report.slice.ts
  apps/fishing-map/features/reports/reports.selectors.ts
  apps/fishing-map/features/reports/vessels/ReportVesselsGraph.tsx
  apps/fishing-map/features/resources/resources.utils.ts
  apps/fishing-map/features/search/SearchDownload.tsx
  apps/fishing-map/features/search/advanced/SearchAdvancedResults.tsx
  apps/fishing-map/features/search/basic/SearchBasicResult.tsx
  apps/fishing-map/features/search/basic/TrackFootprint.tsx
  apps/fishing-map/features/search/search.selectors.ts
  apps/fishing-map/features/timebar/Timebar.tsx
  apps/fishing-map/features/timebar/timebar.selectors.ts
  apps/fishing-map/features/vessel-groups/VesselGroupModalVessels.tsx
  apps/fishing-map/features/vessel-groups/vessel-groups.slice.ts
  apps/fishing-map/features/vessel/identity/VesselIdentity.tsx
  apps/fishing-map/features/vessel/vessel.slice.ts
  apps/fishing-map/features/workspace/activity/ActivityLayerPanel.tsx
  apps/fishing-map/features/workspace/vessels/VesselLayerPanel.tsx
  apps/fishing-map/features/workspace/workspace.slice.ts
  apps/fishing-map/queries/stats-api.ts
  apps/fishing-map/utils/dates.ts
  apps/fishing-map/utils/info.ts
  apps/fourwings-explorer/features/analysis/AnalysisEvolutionGraph.tsx
  libs/api-types/src/stats.ts
  libs/dataviews-client/src/resolve-endpoint.ts
  libs/layer-composer/src/config.ts
  libs/layer-composer/src/generators/heatmap/config.ts
  libs/layer-composer/src/generators/heatmap/heatmap-animated.ts
  libs/layer-composer/src/generators/heatmap/heatmap.ts
  libs/layer-composer/src/generators/heatmap/types.ts
  libs/layer-composer/src/generators/heatmap/util/fetch-breaks.ts
  libs/layer-composer/src/generators/heatmap/util/fetch-stats.ts
  libs/layer-composer/src/generators/heatmap/util/get-legends.ts
  libs/layer-composer/src/generators/heatmap/util/get-time-chunks-interval.ts
  libs/layer-composer/src/generators/heatmap/util/index.ts
  libs/layer-composer/src/generators/heatmap/util/time-chunks.ts
  libs/layer-composer/src/generators/tile-cluster/tile-cluster.ts
  libs/layer-composer/src/generators/utils.ts
  libs/pbf-decoders/decoders/4wings-tile.js
  libs/pbf-decoders/decoders/vessels.js
  libs/timebar/src/components/playback.js
  libs/timebar/src/components/timerange-selector.js
  libs/timebar/src/constants.ts
Labels: fishing-map, timebar, dataviews-client, layer-composer, api-types, pbf-decoders, deploy-dev

#2283 Sar point buffer fixes
  apps/fishing-map/features/reports/Report.tsx
  apps/fishing-map/features/reports/reports-timeseries.hooks.ts
  apps/fishing-map/features/reports/reports.hooks.ts
  apps/fishing-map/features/reports/reports.selectors.ts
  apps/fishing-map/features/reports/title/ReportTitle.tsx
Labels: fishing-map

#2282 New Crowdin updates
  apps/fishing-map/public/locales/en/data-terminology.json
  apps/fishing-map/public/locales/en/translations.json
  apps/fishing-map/public/locales/es/data-terminology.json
  apps/fishing-map/public/locales/es/translations.json
  apps/fishing-map/public/locales/fr/translations.json
  apps/fishing-map/public/locales/id/translations.json
  apps/fishing-map/public/locales/pt/translations.json
  apps/vessel-history/public/locales/en/translations.json
  apps/vessel-history/public/locales/es/translations.json
  apps/vessel-history/public/locales/fr/translations.json
  apps/vessel-history/public/locales/pt/translations.json
  libs/i18n-labels/en/datasets.json
  libs/i18n-labels/es/datasets.json
  libs/i18n-labels/es/flags.json
  libs/i18n-labels/fr/datasets.json
  libs/i18n-labels/fr/flags.json
  libs/i18n-labels/pt/datasets.json
  libs/i18n-labels/pt/flags.json
Labels: fishing-map, vessel-history, i18n-labels

#2285 New Crowdin updates
  apps/vessel-history/public/locales/es/translations.json
  apps/vessel-history/public/locales/val/translations.json
  libs/i18n-labels/en/datasets.json
  libs/i18n-labels/es/datasets.json
  libs/i18n-labels/val/datasets.json
  libs/i18n-labels/val/timebar.json
  libs/ocean-areas/src/data/locales/val.json
Labels: vessel-history, i18n-labels, ocean-areas

#2287 New Crowdin updates
  libs/i18n-labels/en/datasets.json
  libs/i18n-labels/es/datasets.json
  libs/i18n-labels/fr/datasets.json
  libs/i18n-labels/id/datasets.json
  libs/i18n-labels/pt/datasets.json
  libs/i18n-labels/source/datasets.json
  libs/i18n-labels/val/datasets.json
Labels: i18n-labels

#2291 New Crowdin updates
  libs/i18n-labels/en/datasets.json
  libs/i18n-labels/es/datasets.json
  libs/i18n-labels/fr/datasets.json
  libs/i18n-labels/id/datasets.json
  libs/i18n-labels/pt/datasets.json
  libs/i18n-labels/source/datasets.json
  libs/i18n-labels/val/datasets.json
Labels: i18n-labels

#2293 New Crowdin updates
  apps/fishing-map/public/locales/en/translations.json
  libs/i18n-labels/en/datasets.json
  libs/i18n-labels/es/datasets.json
  libs/i18n-labels/fr/datasets.json
  libs/i18n-labels/id/datasets.json
  libs/i18n-labels/pt/datasets.json
  libs/i18n-labels/source/datasets.json
  libs/i18n-labels/val/datasets.json
Labels: fishing-map, i18n-labels

#2294 New Crowdin updates
  libs/i18n-labels/en/datasets.json
  libs/i18n-labels/es/datasets.json
  libs/i18n-labels/fr/datasets.json
  libs/i18n-labels/id/datasets.json
  libs/i18n-labels/pt/datasets.json
  libs/i18n-labels/source/datasets.json
  libs/i18n-labels/val/datasets.json
Labels: i18n-labels

#2288 Fishing map/vessel profile feedback 2
  apps/fishing-map/features/modals/Modals.tsx
  apps/fishing-map/features/search/basic/TrackFootprint.tsx
  apps/fishing-map/features/sidebar/SidebarHeader.tsx
  apps/fishing-map/features/vessel/VesselLink.tsx
  apps/fishing-map/features/vessel/activity/vessels-activity.selectors.ts
  apps/fishing-map/features/vessel/areas/VesselAreas.module.css
  apps/fishing-map/features/vessel/areas/VesselAreas.tsx
  apps/fishing-map/features/vessel/identity/VesselIdentity.tsx
  apps/fishing-map/features/vessel/identity/VesselIdentitySelector.tsx
  apps/fishing-map/features/vessel/vessel.config.selectors.ts
  apps/fishing-map/features/vessel/vessel.config.ts
  apps/fishing-map/features/welcome/Welcome.module.css
  apps/fishing-map/features/welcome/Welcome.tsx
  apps/fishing-map/features/welcome/welcome.content.ts
  apps/fishing-map/public/locales/source/translations.json
  apps/fishing-map/types/index.ts
Labels: fishing-map, deploy-dev

#2298 New Crowdin updates
  libs/i18n-labels/en/datasets.json
  libs/i18n-labels/es/datasets.json
  libs/i18n-labels/fr/datasets.json
  libs/i18n-labels/id/datasets.json
  libs/i18n-labels/pt/datasets.json
  libs/i18n-labels/source/datasets.json
  libs/i18n-labels/val/datasets.json
Labels: i18n-labels

#2301 New ship and gear type format
  apps/fishing-map/features/datasets/datasets.slice.ts
  apps/fishing-map/features/i18n/translation-keys.ts
  apps/fishing-map/features/search/basic/SearchBasicResult.tsx
  apps/fishing-map/features/search/search.slice.ts
  apps/fishing-map/features/vessel/identity/VesselIdentity.tsx
  apps/fishing-map/features/vessel/identity/VesselIdentityCombinedSourceField.tsx
  apps/fishing-map/features/vessel/vessel.hooks.ts
  apps/fishing-map/features/vessel/vessel.slice.ts
  apps/fishing-map/features/vessel/vessel.utils.ts
  apps/fishing-map/features/workspace/vessels/VesselLayerPanel.tsx
  apps/fishing-map/public/locales/source/translations.json
  apps/fishing-map/utils/info.ts
  libs/api-types/src/identity-vessel.ts
Labels: fishing-map, api-types

#2290 fishing-map/buffer-highlight-issues
  apps/fishing-map/features/reports/Report.tsx
  apps/fishing-map/features/reports/reports.hooks.ts
Labels: fishing-map

#2302 New Crowdin updates
  apps/fishing-map/public/locales/en/translations.json
  apps/fishing-map/public/locales/es/translations.json
  apps/fishing-map/public/locales/fr/translations.json
  apps/fishing-map/public/locales/id/translations.json
  apps/fishing-map/public/locales/pt/translations.json
  apps/fishing-map/public/locales/val/translations.json
Labels: fishing-map

#2295 MAP-1252. Set noindex on api-portal
  apps/api-portal/app/robots.ts
  apps/api-portal/components/layout.tsx
  apps/api-portal/next.config.js
  apps/api-portal/package.json
  apps/api-portal/public/robots.txt
Labels: api-portal, deploy-dev

#2304 🚀 Release - Api Portal v1.1.71
  apps/api-portal/app/robots.ts
  apps/api-portal/components/layout.tsx
  apps/api-portal/next.config.js
  apps/api-portal/package.json
  apps/api-portal/public/robots.txt
Labels: api-portal

#2305 Master > Develop
  apps/api-portal/app/robots.ts
  apps/api-portal/components/layout.tsx
  apps/api-portal/next.config.js
  apps/api-portal/package.json
  apps/api-portal/public/robots.txt
Labels: api-portal

#2303 New Crowdin updates
  libs/i18n-labels/en/datasets.json
  libs/i18n-labels/es/datasets.json
  libs/i18n-labels/fr/datasets.json
  libs/i18n-labels/id/datasets.json
  libs/i18n-labels/pt/datasets.json
  libs/i18n-labels/source/datasets.json
  libs/i18n-labels/val/datasets.json
Labels: i18n-labels

#2307 New Crowdin updates
  libs/i18n-labels/es/datasets.json
  libs/i18n-labels/pt/datasets.json
Labels: i18n-labels

#2308 New Crowdin updates
  libs/i18n-labels/pt/datasets.json
  libs/i18n-labels/val/datasets.json
Labels: i18n-labels

#2309 New Crowdin updates
  apps/fishing-map/public/locales/en/data-terminology.json
Labels: fishing-map

#2128 Deck migration/mapbox dependencies clean up
  apps/fishing-map/features/app/App.tsx
  apps/fishing-map/features/map/Map.module.css
  apps/fishing-map/features/map/Map.tsx
  apps/fishing-map/features/map/controls/MapControls.tsx
  apps/fishing-map/features/map/controls/MapSearch.tsx
  apps/fishing-map/features/map/map-bounds.hooks.ts
  apps/fishing-map/features/map/map-context.hooks.ts
  apps/fishing-map/features/map/map-layers.hooks.ts
  apps/fishing-map/features/map/map-viewport.hooks.ts
  apps/fishing-map/features/map/map.hooks.ts
  apps/fishing-map/features/map/map.selectors.ts
  apps/fishing-map/features/map/popups/ContextLayers.hooks.ts
  apps/fishing-map/features/map/popups/TileClusterLayers.tsx
  apps/fishing-map/features/reports/reports.hooks.ts
  apps/fishing-map/features/sidebar/CategoryTabs.tsx
  apps/fishing-map/features/timebar/Timebar.tsx
  apps/fishing-map/features/timebar/TimebarActivityGraph.hooks.ts
  apps/fishing-map/features/timebar/timebar-vessel.hooks.ts
  apps/fishing-map/features/user/UserWorkspaces.tsx
  apps/fishing-map/features/user/UserWorkspacesPrivate.tsx
  apps/fishing-map/features/workspace/activity/ActivityFitBounds.tsx
  apps/fishing-map/features/workspace/common/FitBounds.tsx
  apps/fishing-map/features/workspace/environmental/environmental.hooks.ts
  apps/fishing-map/features/workspace/environmental/histogram.hooks.ts
  apps/fishing-map/features/workspace/events/events.hooks.ts
  apps/fishing-map/features/workspaces-list/WorkspaceWizard.tsx
  apps/fishing-map/features/workspaces-list/WorkspacesList.tsx
  apps/fishing-map/hooks/screen.hooks.ts
  apps/fishing-map/pages/_app.tsx
  apps/fishing-map/types/index.ts
  apps/fishing-map/utils/url.ts
  apps/fourwings-explorer/features/analysis/analysis.area.hooks.ts
  libs/deck-layers/src/layer-composer/types/index.ts
  libs/deck-layers/src/layers/fourwings/FourwingsHeatmapLayer.ts
  libs/deck-layers/src/layers/fourwings/FourwingsHeatmapTileLayer.ts
  libs/deck-layers/src/layers/fourwings/fourwings.hooks.ts
  libs/deck-layers/src/layers/vessel/vessel.hooks.ts
  libs/layer-composer/src/generators/heatmap/util/colors.ts
Labels: fishing-map, layer-composer, deck-layers

#2310 Fishing map/v3 integration fixes
  apps/fishing-map/features/download/downloadActivity.slice.ts
  apps/fishing-map/features/reports/title/ReportTitle.tsx
Labels: fishing-map

#2312 Fishing map/vessel profile feedback
  apps/fishing-map/features/map/map.slice.ts
  apps/fishing-map/features/map/popups/VesselsTable.tsx
  apps/fishing-map/features/reports/reports.selectors.ts
  apps/fishing-map/features/search/SearchDownload.tsx
  apps/fishing-map/features/search/advanced/SearchAdvancedResults.tsx
  apps/fishing-map/features/search/basic/SearchBasicResult.tsx
  apps/fishing-map/features/search/search.slice.ts
  apps/fishing-map/features/vessel/identity/VesselIdentityField.tsx
  apps/fishing-map/features/vessel/identity/VesselIdentityFieldLogin.tsx
  apps/fishing-map/features/vessel/vessel.config.ts
  apps/fishing-map/features/vessel/vessel.hooks.ts
  apps/fishing-map/features/vessel/vessel.utils.ts
  apps/fishing-map/features/workspace/vessels/VesselDownload.tsx
  apps/fishing-map/public/locales/source/translations.json
  apps/fishing-map/server/vessel/vessel.tsx
  apps/fishing-map/utils/info.ts
  apps/vessel-history/features/profile/components/Info.tsx
  apps/vessel-history/types/vessel.ts
  libs/api-types/src/download.ts
  libs/api-types/src/identity-vessel.ts
  libs/api-types/src/index.ts
  libs/api-types/src/vessel.ts
Labels: fishing-map, vessel-history, api-types

#2311 New Crowdin updates
  libs/i18n-labels/en/datasets.json
  libs/i18n-labels/es/datasets.json
  libs/i18n-labels/fr/datasets.json
  libs/i18n-labels/id/datasets.json
  libs/i18n-labels/pt/datasets.json
  libs/i18n-labels/source/datasets.json
  libs/i18n-labels/val/datasets.json
Labels: i18n-labels

#2314 New Crowdin updates
  apps/fishing-map/public/locales/source/translations.json
  libs/i18n-labels/en/datasets.json
  libs/i18n-labels/es/datasets.json
  libs/i18n-labels/fr/datasets.json
  libs/i18n-labels/id/datasets.json
  libs/i18n-labels/pt/datasets.json
  libs/i18n-labels/source/datasets.json
  libs/i18n-labels/val/datasets.json
Labels: fishing-map, i18n-labels

#2317 New Crowdin updates
  libs/i18n-labels/en/datasets.json
  libs/i18n-labels/es/datasets.json
  libs/i18n-labels/fr/datasets.json
  libs/i18n-labels/id/datasets.json
  libs/i18n-labels/pt/datasets.json
  libs/i18n-labels/source/datasets.json
  libs/i18n-labels/val/datasets.json
Labels: i18n-labels

#2318 New Crowdin updates
  libs/i18n-labels/en/datasets.json
  libs/i18n-labels/es/datasets.json
  libs/i18n-labels/fr/datasets.json
  libs/i18n-labels/id/datasets.json
  libs/i18n-labels/pt/datasets.json
  libs/i18n-labels/source/datasets.json
  libs/i18n-labels/val/datasets.json
Labels: i18n-labels

#2319 New Crowdin updates
  libs/i18n-labels/en/datasets.json
  libs/i18n-labels/es/datasets.json
  libs/i18n-labels/fr/datasets.json
  libs/i18n-labels/id/datasets.json
  libs/i18n-labels/pt/datasets.json
  libs/i18n-labels/source/datasets.json
  libs/i18n-labels/val/datasets.json
Labels: i18n-labels

#2322 New Crowdin updates
  libs/i18n-labels/source/datasets.json
  libs/i18n-labels/val/datasets.json
Labels: i18n-labels

#2323 New Crowdin updates
  libs/i18n-labels/en/datasets.json
  libs/i18n-labels/es/datasets.json
  libs/i18n-labels/fr/datasets.json
  libs/i18n-labels/id/datasets.json
  libs/i18n-labels/pt/datasets.json
  libs/i18n-labels/val/datasets.json
Labels: i18n-labels

#2324 New Crowdin updates
  apps/fishing-map/public/locales/source/data-terminology.json
Labels: fishing-map

#2325 New Crowdin updates
  libs/i18n-labels/en/datasets.json
  libs/i18n-labels/es/datasets.json
  libs/i18n-labels/fr/datasets.json
  libs/i18n-labels/id/datasets.json
  libs/i18n-labels/pt/datasets.json
  libs/i18n-labels/source/datasets.json
  libs/i18n-labels/val/datasets.json
Labels: i18n-labels

#2297 replace non compatible vessel datasets with v3
  libs/dataviews-client/src/url-workspace/index.ts
  libs/dataviews-client/src/url-workspace/migrations.config.ts
  libs/dataviews-client/src/url-workspace/migrations.ts
  libs/dataviews-client/src/url-workspace/url-workspace.ts
Labels: dataviews-client

#2326 add vessel profile analytics
  apps/fishing-map/features/reports/vessels/ReportVesselsTableFooter.tsx
  apps/fishing-map/features/search/SearchActions.tsx
  apps/fishing-map/features/sidebar/SidebarHeader.tsx
  apps/fishing-map/features/vessel-groups/VesselGroupAddButton.tsx
  apps/fishing-map/features/vessel/Vessel.tsx
  apps/fishing-map/features/vessel/VesselHeader.tsx
  apps/fishing-map/features/vessel/activity/VesselActivity.tsx
  apps/fishing-map/features/vessel/activity/VesselActivityDownload.tsx
  apps/fishing-map/features/vessel/areas/VesselAreas.tsx
  apps/fishing-map/features/vessel/identity/DataTerminology.tsx
  apps/fishing-map/features/vessel/identity/VesselIdentity.tsx
  apps/fishing-map/features/vessel/identity/VesselIdentitySelector.tsx
  apps/fishing-map/features/vessel/related-vessels/RelatedVessels.tsx
  apps/fishing-map/types/index.ts
Labels: fishing-map

#2327 New Crowdin updates
  apps/fishing-map/public/locales/en/translations.json
  apps/fishing-map/public/locales/es/translations.json
  apps/fishing-map/public/locales/fr/translations.json
  apps/fishing-map/public/locales/id/translations.json
  apps/fishing-map/public/locales/pt/translations.json
  apps/fishing-map/public/locales/val/translations.json
  apps/vessel-history/public/locales/es/translations.json
Labels: fishing-map, vessel-history

#2328 New Crowdin updates
  apps/fishing-map/public/locales/en/data-terminology.json
  apps/fishing-map/public/locales/source/data-terminology.json
Labels: fishing-map

#2329 use gear and shiptypes in plural
  apps/fishing-map/features/datasets/datasets.utils.ts
  apps/fishing-map/features/download/DownloadActivityByVessel.tsx
  apps/fishing-map/features/download/DownloadActivityGridded.tsx
  apps/fishing-map/features/map/popups/VesselsTable.tsx
  apps/fishing-map/features/reports/reports.selectors.ts
  apps/fishing-map/features/reports/vessels/ReportVesselsGraph.tsx
  apps/fishing-map/features/search/SearchDownload.tsx
  apps/fishing-map/features/search/advanced/SearchAdvancedFilters.tsx
  apps/fishing-map/features/search/advanced/SearchAdvancedResults.tsx
  apps/fishing-map/features/search/basic/SearchBasicResult.tsx
  apps/fishing-map/features/search/search.config.selectors.ts
  apps/fishing-map/features/search/search.slice.ts
  apps/fishing-map/features/vessel/identity/VesselIdentity.tsx
  apps/fishing-map/features/vessel/identity/VesselIdentityCombinedSourceField.tsx
  apps/fishing-map/features/vessel/vessel.config.ts
  apps/fishing-map/features/vessel/vessel.download.ts
  apps/fishing-map/features/vessel/vessel.hooks.ts
  apps/fishing-map/features/vessel/vessel.utils.ts
  apps/fishing-map/public/locales/source/translations.json
  apps/fishing-map/types/index.ts
  apps/fishing-map/utils/info.ts
  libs/api-client/src/utils/search.ts
  libs/api-types/src/identity-vessel.ts
Labels: fishing-map, api-client, api-types

#2332 New Crowdin updates
  apps/fishing-map/public/locales/en/data-terminology.json
  apps/fishing-map/public/locales/fr/data-terminology.json
  apps/fishing-map/public/locales/val/data-terminology.json
Labels: fishing-map

#2334 New Crowdin updates
  apps/fishing-map/public/locales/en/data-terminology.json
  apps/fishing-map/public/locales/en/translations.json
  libs/i18n-labels/val/datasets.json
Labels: fishing-map, i18n-labels

#2335 also search dataset schema in registryInfo
  apps/fishing-map/features/datasets/datasets.utils.ts
  apps/fishing-map/features/search/advanced/SearchAdvancedFilters.tsx
  apps/fishing-map/features/search/advanced/SearchAdvancedResults.tsx
  apps/fishing-map/features/vessel/vessel.utils.ts
  libs/api-client/src/utils/search.ts
  libs/api-types/src/datasets.ts
Labels: fishing-map, api-client, api-types

#2336 Fishing map/report save buffer params
  apps/fishing-map/features/app/app.selectors.ts
  apps/fishing-map/features/map/popups/ContextLayersRow.tsx
  apps/fishing-map/features/reports/reports.selectors.ts
  apps/fishing-map/features/sidebar/SidebarHeader.tsx
  apps/fishing-map/features/workspace/workspace.slice.ts
Labels: fishing-map

#2337 New Crowdin updates
  apps/fishing-map/public/locales/es/translations.json
  apps/fishing-map/public/locales/fr/translations.json
  apps/fishing-map/public/locales/pt/translations.json
  libs/i18n-labels/en/datasets.json
  libs/i18n-labels/es/datasets.json
  libs/i18n-labels/fr/datasets.json
  libs/i18n-labels/id/datasets.json
  libs/i18n-labels/pt/datasets.json
  libs/i18n-labels/source/datasets.json
  libs/i18n-labels/val/datasets.json
Labels: fishing-map, i18n-labels

#2265 Fishing map e2e/refactor timeouts
  apps/fishing-map-e2e/.env.sample
  apps/fishing-map-e2e/cypress.config.ts
  apps/fishing-map-e2e/src/constants/urls.ts
  apps/fishing-map-e2e/src/e2e/map/analysis.cy.ts
  apps/fishing-map-e2e/src/e2e/map/eez-download.cy.ts
  apps/fishing-map-e2e/src/e2e/map/interact-with-vessel.cy.ts
  apps/fishing-map-e2e/src/e2e/sidebar/search-vessel.cy.ts
  apps/fishing-map-e2e/src/support/app.po.ts
  apps/fishing-map-e2e/src/support/commands.ts
  apps/fishing-map-e2e/src/support/map/eez-download.po.ts
  apps/fishing-map/cloudbuild.yaml
  apps/fishing-map/features/search/basic/SearchBasicResult.tsx
  apps/fishing-map/features/sidebar/CategoryTabs.tsx
  apps/fishing-map/features/user/UserButton.tsx
  apps/fishing-map/features/vessel/VesselLink.tsx
  apps/fishing-map/features/workspace/vessels/VesselLayerPanel.tsx
  libs/pbf-decoders/decoders/4wings-tile.js
  libs/pbf-decoders/decoders/vessels.js
  libs/ui-components/src/icon/Icon.tsx
Labels: fishing-map, pbf-decoders, deploy-dev

#2339 Fishing map/more buffer params cleanup
  apps/fishing-map/features/reports/title/ReportTitle.tsx
Labels: fishing-map

#2340 New Crowdin updates
  libs/i18n-labels/en/datasets.json
  libs/i18n-labels/es/datasets.json
  libs/i18n-labels/fr/datasets.json
  libs/i18n-labels/id/datasets.json
  libs/i18n-labels/pt/datasets.json
  libs/i18n-labels/source/datasets.json
  libs/i18n-labels/val/datasets.json
Labels: i18n-labels

#2338 update chore dependencies
  .gitignore
  .prettierignore
  apps/api-portal/project.json
  apps/deck-playground/project.json
  apps/fishing-map-e2e/project.json
  apps/fishing-map/project.json
  apps/fourwings-explorer/project.json
  apps/port-labeler/project.json
  apps/real-time-prototype/project.json
  apps/tile-inspector/project.json
  apps/user-groups-admin/project.json
  apps/vessel-history/project.json
  libs/api-client/project.json
  libs/api-types/project.json
  libs/data-transforms/project.json
  libs/dataviews-client/project.json
  libs/features-aggregate/project.json
  libs/fourwings-aggregate/project.json
  libs/i18n-labels/project.json
  libs/layer-composer/project.json
  libs/ocean-areas/project.json
  libs/pbf-decoders/project.json
  libs/react-hooks/project.json
  libs/timebar/project.json
  libs/ui-components/project.json
  nx.json
  package.json
  tools/generators/app/files/project.json__tmpl__
  tools/generators/app/lib/add-cypress.ts
  tools/generators/app/lib/add-project.ts
  tools/generators/app/lib/normalize-options.ts
  tools/generators/app/schema.d.ts
  tools/generators/minisite/files/project.json__tmpl__
  tools/generators/minisite/lib/add-cypress.ts
  tools/generators/minisite/lib/add-project.ts
  tools/generators/minisite/lib/normalize-options.ts
  tools/generators/minisite/schema.d.ts
  yarn.lock
Labels: fishing-map, vessel-history, timebar, dataviews-client, layer-composer, i18n-labels, api-portal, port-labeler, tile-inspector, user-groups-admin, react-hooks, api-client, api-types, data-transforms, fourwings-aggregate, ocean-areas, pbf-decoders, features-aggregate

#2341 New Crowdin updates
  apps/fishing-map/public/locales/es/help-hints.json
Labels: fishing-map

#2343 remove react-csv
  apps/fishing-map/features/reports/vessels/ReportVesselsTableFooter.tsx
  apps/fishing-map/features/search/SearchDownload.tsx
  apps/fishing-map/features/vessel/vessel.download.ts
  apps/fishing-map/package.json
  yarn.lock
Labels: fishing-map

#2345 fix search by mmsi in vessel groups
  apps/fishing-map/features/vessel-groups/vessel-groups.slice.ts
Labels: fishing-map

#2346 Fishing map/debug loaded datasets
  apps/fishing-map/features/datasets/datasets.debug.ts
  apps/fishing-map/features/datasets/datasets.slice.ts
  apps/fishing-map/features/vessel-groups/vessel-groups.slice.ts
  apps/fishing-map/features/workspace/workspace.slice.ts
  libs/api-types/src/datasets.ts
Labels: fishing-map, api-types

#2349 New Crowdin updates
  libs/i18n-labels/en/datasets.json
  libs/i18n-labels/es/datasets.json
  libs/i18n-labels/fr/datasets.json
  libs/i18n-labels/id/datasets.json
  libs/i18n-labels/pt/datasets.json
  libs/i18n-labels/source/datasets.json
  libs/i18n-labels/val/datasets.json
Labels: i18n-labels
