Repository GlobalFishingWatch/frontend, pull requests merged in 2024-02, with the labels that each got.

#2485 Fishing map/mm2.5 last minute stuff
  apps/fishing-map/data/default-workspaces/workspace.development.ts
  apps/fishing-map/data/default-workspaces/workspace.production.ts
  apps/fishing-map/data/workspaces.ts
  apps/fishing-map/features/datasets/datasets.hook.ts
  apps/fishing-map/features/map/controls/AnnotationsControl.tsx
  apps/fishing-map/features/map/map.hooks.ts
  apps/fishing-map/features/map/popups/ContextLayers.hooks.ts
  apps/fishing-map/features/map/popups/ContextLayersRow.tsx
  apps/fishing-map/features/modals/modals.selectors.ts
  apps/fishing-map/features/reports/download/ReportDownload.tsx
  apps/fishing-map/features/reports/reports.utils.ts
  apps/fishing-map/features/reports/vessels/ReportVesselsTableFooter.tsx
  apps/fishing-map/features/search/SearchActions.tsx
  apps/fishing-map/features/sidebar/CategoryTabs.tsx
  apps/fishing-map/features/user/UserDatasets.tsx
  apps/fishing-map/features/user/UserWorkspaces.tsx
  apps/fishing-map/features/user/UserWorkspacesPrivate.tsx
  apps/fishing-map/features/vessel-groups/VesselGroupAddButton.tsx
  apps/fishing-map/features/vessel/VesselLink.tsx
  apps/fishing-map/features/workspace/environmental/histogram.hooks.ts
  apps/fishing-map/features/workspace/vessels/VesselsSection.tsx
  apps/fishing-map/features/workspace/workspace.selectors.ts
  libs/data-transforms/src/segments/segments-to-geojson.ts
  libs/datasets-client/src/datasets.config.ts
  libs/timebar/src/charts/tracks.tsx
  libs/ui-components/src/map-legend/map-legend.utils.ts
Labels: fishing-map, timebar, data-transforms

#2486 New Crowdin updates
  apps/fishing-map/public/locales/es/layer-library.json
  apps/fishing-map/public/locales/fr/layer-library.json
  apps/fishing-map/public/locales/fr/translations.json
  apps/fishing-map/public/locales/pt/layer-library.json
  apps/fishing-map/public/locales/pt/translations.json
Labels: fishing-map

#2488 improve environmental reports performance
  apps/fishing-map/features/map/Map.tsx
  apps/fishing-map/features/reports/Report.tsx
  apps/fishing-map/features/reports/activity/ReportActivity.tsx
  apps/fishing-map/features/reports/environment/ReportEnvironment.tsx
  apps/fishing-map/features/reports/reports-timeseries.hooks.ts
  apps/fishing-map/features/reports/reports-timeseries.utils.ts
  apps/fishing-map/features/reports/summary/ReportSummary.tsx
  apps/fishing-map/next.config.js
  libs/fourwings-aggregate/src/get-time-series.ts
  package.json
  yarn.lock
Labels: fishing-map, fourwings-aggregate, deploy-dev

#2491 Fishing map/env reports fixes
  apps/fishing-map/features/reports/reports-timeseries.hooks.ts
  apps/fishing-map/features/reports/reports-timeseries.utils.ts
  apps/fishing-map/features/workspace/environmental/environmental.hooks.ts
Labels: fishing-map

#2490 New Crowdin updates
  apps/fishing-map/public/locales/es/layer-library.json
Labels: fishing-map

#2493 updates environmental filters with same workflow than other filters
  apps/fishing-map/features/map/map-sources.hooks.ts
  apps/fishing-map/features/timebar/TimebarActivityGraph.hooks.ts
  apps/fishing-map/features/workspace/common/LayerFilters.tsx
  apps/fishing-map/features/workspace/common/LayerSchemaFilter.tsx
  apps/fishing-map/features/workspace/environmental/HistogramRangeFilter.tsx
Labels: fishing-map

#2494 New Crowdin updates
  apps/fishing-map/public/locales/es/layer-library.json
Labels: fishing-map

#2492 clean properties when values are of multiple types
  apps/fishing-map/data/layer-library/layers-environment.ts
  apps/fishing-map/features/app/drag-dataset.hooks.ts
  apps/fishing-map/features/datasets/upload/DatasetFieldLabel.tsx
  apps/fishing-map/features/datasets/upload/NewTrackDataset.tsx
  apps/fishing-map/features/datasets/upload/datasets-parse.utils.ts
  apps/fishing-map/features/reports/reports-geo.utils.ts
  apps/fishing-map/features/reports/reports-timeseries.hooks.ts
  apps/fishing-map/features/reports/reports-timeseries.utils.ts
  apps/fishing-map/utils/files.ts
  libs/data-transforms/src/points/points-to-geojson.ts
  libs/data-transforms/src/schema/schema.ts
  libs/data-transforms/src/types.ts
Labels: fishing-map, data-transforms, deploy-dev

#2495 New Crowdin updates
  apps/fishing-map/public/locales/es/layer-library.json
  apps/fishing-map/public/locales/es/translations.json
Labels: fishing-map

#2496 New Crowdin updates
  apps/fishing-map/public/locales/en/translations.json
  apps/fishing-map/public/locales/es/translations.json
  apps/fishing-map/public/locales/id/layer-library.json
  apps/fishing-map/public/locales/id/translations.json
  apps/fishing-map/public/locales/source/translations.json
Labels: fishing-map

#2500 New Crowdin updates
  libs/i18n-labels/en/datasets.json
  libs/i18n-labels/es/datasets.json
  libs/i18n-labels/fr/datasets.json
  libs/i18n-labels/id/datasets.json
  libs/i18n-labels/pt/datasets.json
  libs/i18n-labels/source/datasets.json
  libs/i18n-labels/val/datasets.json
Labels: i18n-labels

#2501 New Crowdin updates
  apps/fishing-map/public/locales/en/layer-library.json
  apps/fishing-map/public/locales/es/layer-library.json
  apps/fishing-map/public/locales/fr/layer-library.json
  apps/fishing-map/public/locales/id/layer-library.json
  apps/fishing-map/public/locales/pt/layer-library.json
Labels: fishing-map

#2502 New Crowdin updates
  apps/fishing-map/public/locales/id/layer-library.json
  apps/fishing-map/public/locales/pt/layer-library.json
  apps/fishing-map/public/locales/pt/translations.json
  libs/i18n-labels/id/datasets.json
Labels: fishing-map, i18n-labels

#2503 Fishing map/fix upload polygon colors
  apps/fishing-map/features/datasets/upload/NewDatasetField.tsx
  apps/fishing-map/features/datasets/upload/NewPointsDataset.tsx
  apps/fishing-map/features/datasets/upload/NewPolygonDataset.tsx
  apps/fishing-map/features/datasets/upload/NewTrackDataset.tsx
  apps/fishing-map/features/datasets/upload/TimeFieldsGroup.tsx
  apps/fishing-map/features/datasets/upload/datasets-upload.hooks.tsx
  apps/fishing-map/features/dataviews/dataviews.utils.ts
Labels: fishing-map

#2507 Fishing map/mm2.5 finishing touches v3
  apps/fishing-map/data/layer-library/layers-environment.ts
  apps/fishing-map/features/datasets/datasets.utils.ts
  apps/fishing-map/features/datasets/upload/NewPointsDataset.tsx
  apps/fishing-map/features/datasets/upload/NewPolygonDataset.tsx
  apps/fishing-map/features/datasets/upload/datasets-upload.utils.ts
  apps/fishing-map/features/dataviews/selectors/dataviews.selectors.ts
  apps/fishing-map/features/download/DownloadActivityModal.tsx
  apps/fishing-map/utils/dates.ts
  libs/layer-composer/src/generators/types.ts
  libs/layer-composer/src/generators/user-context/user-context.ts
  libs/layer-composer/src/generators/user-points/user-points.ts
Labels: fishing-map, layer-composer

#2504 New Crowdin updates
  apps/fishing-map/public/locales/id/layer-library.json
  apps/fishing-map/public/locales/id/translations.json
Labels: fishing-map

#2508 Release mm 2.5
  apps/fishing-map/data/layer-library/layers-environment.ts
  apps/fishing-map/public/locales/id/layer-library.json
  apps/fishing-map/public/locales/id/translations.json
Labels: fishing-map, deploy-pro

#2510 MM 2.5 last last last fixes 2
  apps/fishing-map/features/reports/environment/ReportEnvironment.module.css
  apps/fishing-map/features/reports/environment/ReportEnvironment.tsx
  apps/fishing-map/features/workspace/environmental/environmental.hooks.ts
  apps/fishing-map/public/locales/source/translations.json
  libs/layer-composer/src/generators/heatmap/heatmap-animated.ts
Labels: fishing-map, layer-composer

#2509 New Crowdin updates
  apps/fishing-map/public/locales/id/translations.json
  libs/i18n-labels/en/datasets.json
  libs/i18n-labels/es/datasets.json
  libs/i18n-labels/fr/datasets.json
  libs/i18n-labels/id/datasets.json
  libs/i18n-labels/pt/datasets.json
  libs/i18n-labels/source/datasets.json
Labels: fishing-map, i18n-labels

#2511 New Crowdin updates
  apps/fishing-map/public/locales/en/translations.json
  apps/fishing-map/public/locales/es/translations.json
  apps/fishing-map/public/locales/fr/translations.json
  apps/fishing-map/public/locales/id/translations.json
  apps/fishing-map/public/locales/pt/translations.json
  apps/fishing-map/public/locales/val/translations.json
Labels: fishing-map

#2512 Allow falsy values on feature properties
  apps/fishing-map/features/datasets/upload/datasets-upload.utils.ts
  libs/data-transforms/src/points/points-to-geojson.ts
  libs/data-transforms/src/schema/schema.ts
Labels: fishing-map, data-transforms

#2513 fix user context time filters
  libs/layer-composer/src/generators/types.ts
  libs/layer-composer/src/generators/user-context/user-context.ts
  libs/layer-composer/src/generators/user-points/user-points.ts
  libs/layer-composer/src/generators/utils.ts
Labels: layer-composer

#2517 New Crowdin updates
  apps/fishing-map/public/locales/en/translations.json
  libs/i18n-labels/en/datasets.json
  libs/i18n-labels/es/datasets.json
  libs/i18n-labels/fr/datasets.json
  libs/i18n-labels/id/datasets.json
  libs/i18n-labels/pt/datasets.json
  libs/i18n-labels/source/datasets.json
  libs/i18n-labels/val/datasets.json
Labels: fishing-map, i18n-labels

#2518 Dynamically generate color ramp
  libs/layer-composer/src/generators/user-context/user-context.ts
Labels: layer-composer

#2522 New Crowdin updates
  apps/fishing-map/public/locales/id/layer-library.json
  libs/i18n-labels/en/datasets.json
  libs/i18n-labels/es/datasets.json
  libs/i18n-labels/fr/datasets.json
  libs/i18n-labels/id/datasets.json
  libs/i18n-labels/pt/datasets.json
Labels: fishing-map, i18n-labels

#2523 add new env layer release popup
  apps/fishing-map/data/default-workspaces/workspace.development.ts
  apps/fishing-map/data/default-workspaces/workspace.production.ts
  apps/fishing-map/data/layer-library/layers-environment.ts
  apps/fishing-map/features/help/hints.content.ts
  apps/fishing-map/features/workspace/highlight-panel/highlight-panel.content.ts
  apps/fishing-map/features/workspace/shared/Sections.module.css
  apps/fishing-map/features/workspace/user/UserSection.tsx
  apps/fishing-map/public/images/chlorophyl@2x.jpg
  apps/fishing-map/public/locales/source/help-hints.json
Labels: fishing-map

#2466 ENG-577 Chore - Add tag to docker images with the git tag if possible
  apps/api-portal/cloudbuild.yaml
  apps/deck-playground/cloudbuild.yaml
  apps/fishing-map-e2e/cloudbuild.yaml
  apps/fishing-map/cloudbuild.yaml
  apps/port-labeler/cloudbuild.yaml
  apps/real-time-prototype/cloudbuild.yaml
  apps/tile-inspector/cloudbuild.yaml
  apps/user-groups-admin/cloudbuild.yaml
  apps/vessel-history/cloudbuild.yaml
  libs/ui-components/src/multi-select/MultiSelect.module.css
  tools/generators/app/files/cloudbuild.yaml__tmpl__
  tools/generators/minisite/files/cloudbuild.yaml__tmpl__
Labels: fishing-map, vessel-history, api-portal, port-labeler, tile-inspector, user-groups-admin, deploy-dev

#2525 Fishing map/dependencies review
  .husky/pre-commit
  apps/fishing-map-e2e/src/support/app.po.ts
  apps/fishing-map/features/app/App.tsx
  libs/datasets-client/package.json
  libs/datasets-client/project.json
  nx.json
  package.json
  tools/generators/app/files/package.json__tmpl__
  tools/generators/minisite/files/package.json__tmpl__
  yarn.lock
Labels: fishing-map, deploy-dev

#2527 New Crowdin updates
  apps/fishing-map/public/locales/es/translations.json
  libs/i18n-labels/en/datasets.json
Labels: fishing-map, i18n-labels

#2528 Fishing map/vessel groups review
  apps/fishing-map/features/app/drag-dataset.hooks.ts
  apps/fishing-map/features/map/map-interactions.hooks.ts
  apps/fishing-map/features/vessel-groups/VesselGroupModal.tsx
  apps/fishing-map/features/vessel-groups/vessel-groups.slice.ts
  apps/fishing-map/features/workspace/user/UserLayerPanel.tsx
  apps/fishing-map/public/locales/source/translations.json
  libs/pbf-decoders/decoders/4wings-tile.js
  libs/pbf-decoders/decoders/vessels.js
Labels: fishing-map, pbf-decoders

#2530 Fishing map/mm 2.5 feedback
  apps/fishing-map/features/datasets/upload/NewDatasetField.tsx
  apps/fishing-map/features/download/DownloadActivityByVessel.tsx
  apps/fishing-map/features/download/DownloadActivityEnvironment.tsx
  apps/fishing-map/features/download/DownloadActivityGridded.tsx
  apps/fishing-map/features/sidebar/CategoryTabs.tsx
  apps/fishing-map/features/workspace/environmental/EnvironmentalLayerPanel.tsx
Labels: fishing-map

#2526 move parse into loader worker
  apps/api-portal/tsconfig.json
  apps/deck-playground/tsconfig.json
  apps/fishing-map/data/default-workspaces/workspace.development.ts
  apps/fishing-map/features/app/App.tsx
  apps/fishing-map/features/timebar/TimebarActivityGraph.hooks.ts
  apps/fishing-map/features/timebar/timebar.utils.ts
  apps/fishing-map/project.json
  apps/fishing-map/public/workers/fourwings-worker.js
  apps/fishing-map/tsconfig.json
  apps/fourwings-explorer/tsconfig.json
  apps/port-labeler/tsconfig.json
  apps/real-time-prototype/tsconfig.json
  apps/tile-inspector/tsconfig.json
  apps/user-groups-admin/tsconfig.json
  apps/vessel-history/tsconfig.json
  libs/deck-layers/package.json
  libs/deck-layers/rollup.config.js
  libs/deck-layers/src/layers/fourwings/FourwingsHeatmapCellLayer.ts
  libs/deck-layers/src/layers/fourwings/FourwingsHeatmapLayer.ts
  libs/deck-layers/src/layers/fourwings/FourwingsHeatmapTileLayer.ts
  libs/deck-layers/src/layers/fourwings/FourwingsLayer.ts
  libs/deck-layers/src/layers/fourwings/fourwings.config.ts
  libs/deck-layers/src/layers/fourwings/fourwings.types.ts
  libs/deck-layers/src/layers/fourwings/fourwings.utils.ts
  libs/deck-layers/src/loaders/fourwings/fourwingsLayerLoader.ts
  libs/deck-loaders/.babelrc
  libs/deck-loaders/.eslintrc.json
  libs/deck-loaders/README.md
  libs/deck-loaders/jest.config.ts
  libs/deck-loaders/package.json
  libs/deck-loaders/project.json
  libs/deck-loaders/rollup.config.js
  libs/deck-loaders/src/fourwings/fourwings-loader.ts
  libs/deck-loaders/src/fourwings/helpers/cells.ts
  libs/deck-loaders/src/fourwings/helpers/time.ts
  libs/deck-loaders/src/fourwings/index.ts
  libs/deck-loaders/src/fourwings/lib/parse-fourwings.ts
  libs/deck-loaders/src/fourwings/lib/types.ts
  libs/deck-loaders/src/fourwings/workers/fourwings-worker.ts
  libs/deck-loaders/src/index.ts
  libs/deck-loaders/tsconfig.json
  libs/deck-loaders/tsconfig.lib.json
  libs/deck-loaders/tsconfig.spec.json
  tsconfig.base.json
  yarn.lock
Labels: fishing-map, vessel-history, api-portal, port-labeler, tile-inspector, user-groups-admin, deploy-dev, deck-layers

#2532 New Crowdin updates
  libs/i18n-labels/en/datasets.json
  libs/i18n-labels/es/datasets.json
  libs/i18n-labels/fr/datasets.json
  libs/i18n-labels/id/datasets.json
  libs/i18n-labels/pt/datasets.json
  libs/i18n-labels/source/datasets.json
  libs/i18n-labels/val/datasets.json
Labels: i18n-labels

#2531 calculate area in square km
  apps/fishing-map/features/reports/title/ReportTitle.module.css
  apps/fishing-map/features/reports/title/ReportTitle.tsx
  package.json
  yarn.lock
Labels: fishing-map

#2537 Fishing map/reduce initial bundle
  apps/fishing-map/features/map/controls/MapSearch.tsx
  apps/fishing-map/features/map/controls/MiniGlobeInfo.tsx
  apps/fishing-map/features/search/advanced/SearchAdvanced.tsx
  apps/fishing-map/features/sidebar/Sidebar.tsx
  apps/fishing-map/features/workspace/context-areas/ContextAreaLayerPanel.tsx
  apps/fishing-map/features/workspace/context-areas/context.utils.ts
  apps/fishing-map/features/workspace/shared/NewWorkspaceModal.tsx
  apps/fishing-map/features/workspaces-list/WorkspaceWizard.tsx
  apps/fishing-map/next.config.js
  apps/fishing-map/pages/index.tsx
  libs/ocean-areas/src/ocean-areas.ts
Labels: fishing-map, ocean-areas, deploy-dev

#2534 make-cell-arrays-smaller
  apps/fishing-map/public/workers/fourwings-worker.js
  libs/deck-layers/src/layers/fourwings/FourwingsHeatmapCellLayer.ts
  libs/deck-layers/src/layers/fourwings/FourwingsHeatmapLayer.ts
  libs/deck-layers/src/layers/fourwings/FourwingsHeatmapTileLayer.ts
  libs/deck-layers/src/layers/fourwings/FourwingsLayer.ts
  libs/deck-layers/src/layers/fourwings/fourwings.utils.ts
  libs/deck-loaders/src/fourwings/helpers/cells.ts
  libs/deck-loaders/src/fourwings/lib/parse-fourwings.ts
  libs/deck-loaders/src/fourwings/lib/types.ts
  yarn.lock
Labels: fishing-map, deploy-dev, deck-layers, deck-loaders

#2535 Deck migration/deck layer composer lib set up
  .github/labeler.yml
  README.md
  apps/api-portal/tsconfig.json
  apps/deck-playground/tsconfig.json
  apps/fishing-map/features/map/map-layers.hooks.ts
  apps/fishing-map/features/map/map.hooks.ts
  apps/fishing-map/features/map/map.selectors.ts
  apps/fishing-map/features/timebar/TimebarActivityGraph.hooks.ts
  apps/fishing-map/features/timebar/timebar-vessel.hooks.ts
  apps/fishing-map/features/workspace/vessels/VesselLayerPanel.tsx
  apps/fishing-map/tsconfig.json
  apps/port-labeler/tsconfig.json
  apps/user-groups-admin/tsconfig.json
  libs/deck-layer-composer/.eslintrc.json
  libs/deck-layer-composer/.swcrc
  libs/deck-layer-composer/README.md
  libs/deck-layer-composer/package.json
  libs/deck-layer-composer/project.json
  libs/deck-layer-composer/src/config.ts
  libs/deck-layer-composer/src/dataviews-resolver.ts
  libs/deck-layer-composer/src/hooks/basemap.hooks.ts
  libs/deck-layer-composer/src/hooks/context.hooks.ts
  libs/deck-layer-composer/src/hooks/fourwings.hooks.ts
  libs/deck-layer-composer/src/hooks/layer-composer.hooks.ts
  libs/deck-layer-composer/src/hooks/use-layer-legends.ts
  libs/deck-layer-composer/src/hooks/vessel.hooks.ts
  libs/deck-layer-composer/src/index.ts
  libs/deck-layer-composer/src/types/base.ts
  libs/deck-layer-composer/src/types/basemap.ts
  libs/deck-layer-composer/src/types/context.ts
  libs/deck-layer-composer/src/types/fourwings.ts
  libs/deck-layer-composer/src/types/index.ts
  libs/deck-layer-composer/src/types/vessel.ts
  libs/deck-layer-composer/src/utils/colors.ts
  libs/deck-layer-composer/src/utils/dates.ts
  libs/deck-layer-composer/src/utils/layers.ts
  libs/deck-layer-composer/src/utils/sort.ts
  libs/deck-layer-composer/src/utils/time.ts
  libs/deck-layer-composer/tsconfig.json
  libs/deck-layer-composer/tsconfig.lib.json
  libs/deck-layers/package.json
  libs/deck-layers/src/index.ts
  libs/deck-layers/src/layer-composer/config.ts
  libs/deck-layers/src/layers/fourwings/FourwingsHeatmapTileLayer.ts
  libs/deck-layers/src/layers/vessel/VesselEventsLayer.ts
  libs/deck-layers/src/layers/vessel/VesselLayer.ts
  libs/deck-layers/src/layers/vessel/VesselTrackLayer.ts
  libs/deck-layers/src/loaders/constants.ts
  libs/deck-loaders/package.json
  libs/deck-loaders/src/index.ts
  libs/deck-loaders/src/vessels/events-loader.ts
  libs/deck-loaders/src/vessels/index.ts
  libs/deck-loaders/src/vessels/track-loader.ts
  tsconfig.base.json
Labels: fishing-map, api-portal, port-labeler, user-groups-admin, deploy-dev, deck-layers, deck-loaders

#2539 Deck migration/calculate initial values in worker
  libs/deck-layers/src/layers/fourwings/FourwingsHeatmapLayer.ts
  libs/deck-layers/src/layers/fourwings/FourwingsHeatmapTileLayer.ts
  libs/deck-layers/src/layers/fourwings/fourwings.utils.ts
  libs/deck-loaders/src/fourwings/helpers/time.ts
  libs/deck-loaders/src/fourwings/index.ts
  libs/deck-loaders/src/fourwings/lib/parse-fourwings.ts
  libs/deck-loaders/src/fourwings/lib/types.ts
Labels: deploy-dev, deck-layers, deck-loaders

#2542 Fishing map/bugs review
  apps/fishing-map/features/search/Search.tsx
  apps/fishing-map/features/search/advanced/SearchAdvanced.tsx
  apps/fishing-map/features/search/advanced/SearchAdvancedFilters.tsx
  apps/fishing-map/features/search/advanced/advanced-search.utils.ts
  apps/fishing-map/features/search/search.hook.ts
  apps/fishing-map/features/search/search.selectors.ts
  apps/fishing-map/public/locales/source/translations.json
  libs/data-transforms/src/schema/schema.ts
  libs/ui-components/src/input-text/InputText.module.css
  libs/ui-components/src/input-text/InputText.tsx
Labels: fishing-map, data-transforms

#2546 request desired interval and chunk size
  libs/deck-layer-composer/src/hooks/fourwings.hooks.ts
  libs/deck-layers/src/layers/fourwings/FourwingsHeatmapCellLayer.ts
  libs/deck-layers/src/layers/fourwings/FourwingsHeatmapLayer.ts
  libs/deck-layers/src/layers/fourwings/FourwingsHeatmapTileLayer.ts
  libs/deck-layers/src/layers/fourwings/fourwings.config.ts
  libs/deck-layers/src/layers/fourwings/fourwings.types.ts
  libs/deck-layers/src/layers/fourwings/fourwings.utils.ts
Labels: deploy-dev, deck-layers, deck-layer-composer
