Repository GlobalFishingWatch/frontend, pull requests merged in 2024-10, with the labels that each got.

#2854 fix ruler sorting and add track resolution message
  apps/fishing-map/features/workspace/vessels/VesselsSection.tsx
  apps/fishing-map/next-env.d.ts
  apps/fishing-map/public/locales/en/translations.json
  apps/fishing-map/public/locales/es/translations.json
  apps/fishing-map/public/locales/fr/translations.json
  apps/fishing-map/public/locales/id/translations.json
  apps/fishing-map/public/locales/pt/translations.json
  apps/fishing-map/public/locales/source/translations.json
  apps/fishing-map/public/locales/val/translations.json
  libs/deck-layers/src/layers/fourwings/clusters/FourwingsClustersLayer.ts
  libs/deck-layers/src/utils/sort.ts
  yarn.lock
Labels: fishing-map, deck-layers

#2853 Feedback jc 1
  apps/fishing-map/features/reports/events/VGREvents.tsx
  apps/fishing-map/features/reports/events/vgr-events.selectors.ts
  apps/fishing-map/features/reports/vessel-groups/VesselGroupReportTitle.module.css
  apps/fishing-map/features/reports/vessel-groups/VesselGroupReportTitle.tsx
  apps/fishing-map/features/reports/vessel-groups/vessels/VesselGroupReportVessels.module.css
  apps/fishing-map/features/reports/vessel-groups/vessels/VesselGroupReportVessels.tsx
  apps/fishing-map/features/reports/vessel-groups/vessels/VesselGroupReportVesselsGraph.tsx
  apps/fishing-map/features/reports/vessel-groups/vessels/vessel-group-report-vessels.selectors.ts
  apps/fishing-map/features/user/User.module.css
  apps/fishing-map/features/user/UserVesselGroups.tsx
  apps/fishing-map/features/vessel-groups/vessel-groups-modal.slice.ts
  apps/fishing-map/features/workspace/vessel-groups/VesselGroupsLayerPanel.tsx
  apps/fishing-map/features/workspace/vessels/VesselsSection.tsx
  apps/fishing-map/public/locales/source/translations.json
  apps/fishing-map/queries/vessel-group-events-stats-api.ts
Labels: fishing-map

#2856 Disable events tab for non GFW users
  apps/fishing-map/features/reports/events/VGREventsSubsectionSelector.tsx
  apps/fishing-map/features/reports/vessel-groups/VesselGroupReport.tsx
  apps/fishing-map/features/vessel-groups/vessel-groups.slice.ts
  apps/fishing-map/features/workspace/common/LayerFilters.tsx
  apps/fishing-map/public/locales/source/translations.json
Labels: fishing-map

#2859 Fishing map/vessel profile 3 feedback javi 2
  apps/fishing-map/features/reports/events/VGREventsVesselsTable.tsx
  apps/fishing-map/features/reports/vessel-groups/VesselGroupReport.tsx
  apps/fishing-map/features/reports/vessel-groups/vessels/VesselGroupReportVesselsTable.tsx
  apps/fishing-map/features/reports/vessel-groups/vessels/VesselGroupReportVesselsTableFooter.tsx
  apps/fishing-map/features/search/search.slice.ts
  apps/fishing-map/features/vessel-groups/VesselGroupListTooltip.tsx
  apps/fishing-map/features/vessel/VesselPin.tsx
  apps/fishing-map/utils/info.ts
Labels: fishing-map

#2865 VV3 feedback 4
  apps/fishing-map/features/map/popups/PopupByCategory.tsx
  apps/fishing-map/features/map/popups/categories/TileClusterTooltipRow.tsx
  apps/fishing-map/features/map/popups/categories/VesselsTable.tsx
  apps/fishing-map/features/reports/activity/vessels/ReportVesselsTable.tsx
  apps/fishing-map/features/reports/events/VGREventsVesselsTable.tsx
  apps/fishing-map/features/reports/events/VGREventsVesselsTableFooter.tsx
  apps/fishing-map/features/reports/events/vgr-events.selectors.ts
  apps/fishing-map/features/reports/vessel-groups/VesselGroupReportTitle.tsx
  apps/fishing-map/features/reports/vessel-groups/insights/VGRInsightFishing.tsx
  apps/fishing-map/features/reports/vessel-groups/insights/VGRInsightFlagChange.tsx
  apps/fishing-map/features/reports/vessel-groups/insights/VGRInsightGaps.tsx
  apps/fishing-map/features/reports/vessel-groups/insights/VGRInsightMOU.tsx
  apps/fishing-map/features/reports/vessel-groups/insights/VGRInsightVesselsTable.tsx
  apps/fishing-map/features/reports/vessel-groups/vessels/VesselGroupReportVesselsTable.tsx
  apps/fishing-map/features/reports/vessel-groups/vessels/VesselGroupReportVesselsTableFooter.tsx
  apps/fishing-map/features/reports/vessel-groups/vessels/vessel-group-report-vessels.selectors.ts
  apps/fishing-map/features/reports/vessel-groups/vessels/vessel-group-report-vessels.types.ts
  apps/fishing-map/features/search/advanced/SearchAdvancedResults.tsx
  apps/fishing-map/features/search/basic/SearchBasicResult.tsx
  apps/fishing-map/features/timebar/TimebarSettings.tsx
  apps/fishing-map/features/vessel-groups/VesselGroupModalVessels.tsx
  apps/fishing-map/features/vessel-groups/vessel-groups.slice.ts
  apps/fishing-map/features/vessel/VesselHeader.tsx
  apps/fishing-map/features/vessel/activity/event/EventDetail.tsx
  apps/fishing-map/features/vessel/activity/event/event.hook.tsx
  apps/fishing-map/features/vessel/identity/VesselIdentity.tsx
  apps/fishing-map/features/workspace/vessel-groups/VesselGroupsLayerPanel.tsx
  apps/fishing-map/features/workspace/vessels/VesselLayerPanel.tsx
  apps/fishing-map/server/vessel/vessel.tsx
  apps/fishing-map/utils/events.tsx
  apps/fishing-map/utils/info.ts
Labels: fishing-map

#2864 New Crowdin updates
  libs/i18n-labels/en/datasets.json
  libs/i18n-labels/es/datasets.json
  libs/i18n-labels/fr/datasets.json
  libs/i18n-labels/id/datasets.json
  libs/i18n-labels/pt/datasets.json
  libs/i18n-labels/val/datasets.json
Labels: i18n-labels

#2866 Fix outdated vessel groups
  apps/fishing-map/features/datasets/datasets.slice.ts
  apps/fishing-map/features/vessel-groups/vessel-groups-modal.slice.ts
  apps/fishing-map/features/vessel-groups/vessel-groups.slice.ts
  libs/api-client/src/utils/search.ts
  libs/dataviews-client/src/url-workspace/index.ts
  libs/dataviews-client/src/url-workspace/migrations.config.ts
Labels: fishing-map, dataviews-client, api-client

#2860 wip fix wrong dates format
  apps/fishing-map/routes/routes.selectors.ts
  libs/dataviews-client/src/url-workspace/url-workspace.ts
  libs/deck-layers/src/layers/vessel/vessel.utils.ts
  libs/deck-loaders/src/fourwings/helpers/time.ts
Labels: fishing-map, dataviews-client, deck-layers, deck-loaders

#2868 New Crowdin updates
  libs/i18n-labels/en/datasets.json
  libs/i18n-labels/es/datasets.json
  libs/i18n-labels/fr/datasets.json
  libs/i18n-labels/id/datasets.json
  libs/i18n-labels/pt/datasets.json
  libs/i18n-labels/source/datasets.json
  libs/i18n-labels/val/datasets.json
Labels: i18n-labels

#2870 render VesselTable for port_visit events
  apps/fishing-map/features/datasets/datasets.slice.ts
  apps/fishing-map/features/map/map-interaction.utils.ts
  apps/fishing-map/features/map/map-interactions.hooks.ts
  apps/fishing-map/features/map/map.slice.ts
  apps/fishing-map/features/map/popups/categories/TileClusterTooltipRow.tsx
  apps/fishing-map/features/map/popups/categories/VesselsTable.tsx
  apps/fishing-map/features/vessel-groups/vessel-groups-modal.slice.ts
  apps/fishing-map/features/vessel/VesselPin.tsx
  libs/api-types/src/fourwings.ts
  libs/api-types/src/index.ts
  libs/deck-layers/src/layers/fourwings/clusters/FourwingsClustersLayer.ts
  libs/deck-layers/src/layers/fourwings/clusters/fourwings-clusters.types.ts
Labels: fishing-map, api-types, deck-layers

#2867 JC feedback 4
  apps/fishing-map/features/datasets/datasets.selectors.ts
  apps/fishing-map/features/reports/events/VGREvents.tsx
  apps/fishing-map/features/reports/events/vgr-events.selectors.ts
  apps/fishing-map/features/reports/vessel-groups/VesselGroupReportTitle.tsx
  apps/fishing-map/features/reports/vessel-groups/insights/vessel-group-report-insights.selectors.ts
  apps/fishing-map/features/reports/vessel-groups/vessels/VesselGroupReportVesselsTableFooter.tsx
  apps/fishing-map/features/reports/vessel-groups/vessels/vessel-group-report-vessels.selectors.ts
  apps/fishing-map/features/search/SearchActions.tsx
  apps/fishing-map/features/vessel-groups/VesselGroupAddButton.tsx
  apps/fishing-map/features/vessel-groups/VesselGroupListTooltip.tsx
  apps/fishing-map/features/vessel-groups/VesselGroupModal.module.css
  apps/fishing-map/features/vessel-groups/VesselGroupModal.tsx
  apps/fishing-map/features/vessel-groups/VesselGroupModalSearch.tsx
  apps/fishing-map/features/vessel-groups/VesselGroupModalVessels.tsx
  apps/fishing-map/features/vessel-groups/vessel-groups-modal.slice.ts
  apps/fishing-map/features/vessel-groups/vessel-groups.config.ts
  apps/fishing-map/features/vessel-groups/vessel-groups.slice.ts
  apps/fishing-map/features/vessel-groups/vessel-groups.utils.ts
  apps/fishing-map/public/locales/source/translations.json
Labels: fishing-map

#2872 Fishing-map/VV3-feedback-6
  apps/fishing-map/features/dataviews/dataviews.utils.ts
  apps/fishing-map/features/vessel-groups/VesselGroupModal.module.css
  apps/fishing-map/features/vessel-groups/VesselGroupModal.tsx
  apps/fishing-map/features/vessel-groups/VesselGroupModalSearch.tsx
  apps/fishing-map/features/vessel-groups/vessel-groups-modal.slice.ts
  apps/fishing-map/features/vessel-groups/vessel-groups.config.ts
  apps/fishing-map/features/vessel-groups/vessel-groups.selectors.ts
  apps/fishing-map/features/vessel-groups/vessel-groups.slice.ts
  apps/fishing-map/public/locales/source/translations.json
Labels: fishing-map

#2873 vessel profile 3 feedback jc 5
  apps/fishing-map/features/map/popups/categories/TileClusterTooltipRow.tsx
  apps/fishing-map/features/reports/events/VGREvents.module.css
  apps/fishing-map/features/reports/events/VGREvents.tsx
  apps/fishing-map/features/reports/vessel-groups/VesselGroupReportTitle.tsx
  apps/fishing-map/features/reports/vessel-groups/insights/VGRInsightFishing.tsx
  apps/fishing-map/features/reports/vessel-groups/insights/VGRInsightMOU.tsx
  apps/fishing-map/features/reports/vessel-groups/insights/VGRInsights.tsx
  apps/fishing-map/features/reports/vessel-groups/vessels/VesselGroupReportVesselsTable.tsx
  apps/fishing-map/features/reports/vessel-groups/vessels/vessel-group-report-vessels.selectors.ts
  apps/fishing-map/features/reports/vessel-groups/vessels/vessel-group-report-vessels.types.ts
  apps/fishing-map/features/vessel-groups/VesselGroupListTooltip.tsx
  apps/fishing-map/features/vessel-groups/VesselGroupModalVessels.tsx
  apps/fishing-map/features/vessel-groups/vessel-groups.slice.ts
  apps/fishing-map/features/vessel/Vessel.tsx
  apps/fishing-map/features/workspace/vessel-groups/VesselGroupsLayerPanel.tsx
  apps/fishing-map/features/workspace/vessel-groups/VesselGroupsSection.tsx
  apps/fishing-map/public/locales/source/layer-library.json
  apps/fishing-map/public/locales/source/translations.json
Labels: fishing-map

#2869 fishing-map/vv3-feedback-javi
  apps/fishing-map/features/search/advanced/SearchAdvancedResults.tsx
Labels: fishing-map

#2875 Fishing-map/VV3-feedback-6
  apps/fishing-map/features/reports/events/VGREventsVesselsTable.tsx
  apps/fishing-map/features/reports/vessel-groups/VesselGroupReport.module.css
  apps/fishing-map/features/reports/vessel-groups/VesselGroupReport.tsx
  apps/fishing-map/features/reports/vessel-groups/VesselGroupReportLink.tsx
  apps/fishing-map/features/reports/vessel-groups/vessel-group-report.hooks.ts
  apps/fishing-map/features/user/UserVesselGroups.tsx
  apps/fishing-map/features/vessel-groups/VesselGroupModal.tsx
  apps/fishing-map/features/workspace/workspace.hook.ts
  apps/fishing-map/public/locales/en/translations.json
Labels: fishing-map

#2876 Fishing-map/VV3-feedback-7
  apps/fishing-map/features/map/Map.tsx
  apps/fishing-map/features/reports/activity/vessels/ReportVesselsTable.tsx
  apps/fishing-map/features/reports/events/VGREvents.tsx
  apps/fishing-map/features/reports/events/VGREventsVesselsTable.tsx
  apps/fishing-map/features/reports/vessel-groups/VesselGroupReport.tsx
  apps/fishing-map/features/reports/vessel-groups/VesselGroupReportError.tsx
  apps/fishing-map/features/reports/vessel-groups/VesselGroupReportLink.tsx
  apps/fishing-map/features/reports/vessel-groups/insights/VGRInsightFishing.tsx
  apps/fishing-map/features/reports/vessel-groups/insights/VGRInsightFlagChange.tsx
  apps/fishing-map/features/reports/vessel-groups/insights/VGRInsightGaps.tsx
  apps/fishing-map/features/reports/vessel-groups/insights/VGRInsightMOU.tsx
  apps/fishing-map/features/reports/vessel-groups/insights/VGRInsightVesselEvents.tsx
  apps/fishing-map/features/reports/vessel-groups/insights/VGRInsightVesselsTable.tsx
  apps/fishing-map/features/reports/vessel-groups/insights/VGRInsights.tsx
  apps/fishing-map/features/reports/vessel-groups/vessel-group-report.slice.ts
  apps/fishing-map/features/reports/vessel-groups/vessels/VesselGroupReportVesselsTable.tsx
  apps/fishing-map/features/reports/vessel-groups/vessels/vessel-group-report-vessels.selectors.ts
  apps/fishing-map/features/vessel-groups/VesselGroupAddButton.tsx
  apps/fishing-map/features/vessel-groups/VesselGroupModal.module.css
  apps/fishing-map/features/vessel-groups/VesselGroupModal.tsx
  apps/fishing-map/features/vessel-groups/VesselGroupModalVessels.tsx
  apps/fishing-map/features/vessel-groups/vessel-groups.config.ts
  apps/fishing-map/features/vessel-groups/vessel-groups.selectors.ts
  apps/fishing-map/features/vessel/activity/event/Event.module.css
  apps/fishing-map/features/vessel/activity/event/Event.tsx
  apps/fishing-map/features/vessel/activity/event/event.hook.tsx
  apps/fishing-map/features/workspace/vessel-groups/VesselGroupsLayerPanel.tsx
  apps/fishing-map/public/locales/en/translations.json
  apps/fishing-map/public/locales/source/translations.json
  libs/api-client/src/api-client.ts
Labels: fishing-map, api-client

#2877 New Crowdin updates
  apps/fishing-map/public/locales/en/translations.json
  apps/fishing-map/public/locales/es/translations.json
  apps/fishing-map/public/locales/fr/translations.json
  apps/fishing-map/public/locales/id/translations.json
  apps/fishing-map/public/locales/pt/translations.json
  apps/fishing-map/public/locales/val/translations.json
Labels: fishing-map

#2878 remove not used vessel group permission
  apps/fishing-map/data/workspaces.ts
  apps/fishing-map/features/i18n/translation-keys.ts
  apps/fishing-map/features/reports/events/VGREvents.tsx
  apps/fishing-map/features/sidebar/Sidebar.tsx
  apps/fishing-map/features/user/User.tsx
  apps/fishing-map/features/user/selectors/user.permissions.selectors.ts
  apps/fishing-map/features/vessel-groups/VesselGroupListTooltip.tsx
  apps/fishing-map/features/vessel-groups/VesselGroupModal.tsx
  apps/fishing-map/features/vessel-groups/vessel-groups.selectors.ts
  apps/fishing-map/features/vessel/identity/VesselRegistryField.tsx
  apps/fishing-map/features/vessel/vessel.slice.ts
  apps/fishing-map/public/locales/source/translations.json
  libs/api-types/src/identity-vessel.ts
Labels: fishing-map, api-types

#2881 New Crowdin updates
  apps/fishing-map/public/locales/en/translations.json
  apps/fishing-map/public/locales/es/translations.json
  apps/fishing-map/public/locales/fr/translations.json
  apps/fishing-map/public/locales/id/translations.json
  apps/fishing-map/public/locales/pt/translations.json
  apps/fishing-map/public/locales/source/translations.json
  apps/fishing-map/public/locales/val/translations.json
Labels: fishing-map

#2883 update data-terminology content
  apps/fishing-map/features/welcome/welcome.content.ts
  apps/fishing-map/public/locales/source/data-terminology.json
Labels: fishing-map

#2879 VV3 analytics
  apps/fishing-map/features/reports/activity/ReportActivity.tsx
  apps/fishing-map/features/reports/activity/vessels/ReportVesselsFilter.tsx
  apps/fishing-map/features/reports/activity/vessels/ReportVesselsTableFooter.tsx
  apps/fishing-map/features/reports/events/VGREventsSubsectionSelector.tsx
  apps/fishing-map/features/reports/events/VGREventsVesselPropertySelector.tsx
  apps/fishing-map/features/reports/vessel-groups/VesselGroupReport.tsx
  apps/fishing-map/features/reports/vessel-groups/VesselGroupReportTitle.tsx
  apps/fishing-map/features/reports/vessel-groups/activity/VGRActivitySubsectionSelector.tsx.tsx
  apps/fishing-map/features/reports/vessel-groups/vessels/VesselGroupReportVesselsGraphSelector.tsx
  apps/fishing-map/features/reports/vessel-groups/vessels/VesselGroupReportVesselsTable.tsx
  apps/fishing-map/features/search/SearchActions.tsx
  apps/fishing-map/features/vessel-groups/VesselGroupAddButton.tsx
  apps/fishing-map/features/vessel-groups/VesselGroupModal.tsx
  apps/fishing-map/features/vessel-groups/vessel-groups.utils.ts
  apps/fishing-map/features/vessel/VesselHeader.tsx
  apps/fishing-map/features/vessel/VesselPin.tsx
  apps/fishing-map/features/workspace/vessels/VesselsSection.tsx
Labels: fishing-map

#2885 New Crowdin updates
  apps/fishing-map/public/locales/en/data-terminology.json
  apps/fishing-map/public/locales/en/translations.json
  apps/fishing-map/public/locales/es/data-terminology.json
  apps/fishing-map/public/locales/es/translations.json
  apps/fishing-map/public/locales/fr/data-terminology.json
  apps/fishing-map/public/locales/fr/translations.json
  apps/fishing-map/public/locales/id/data-terminology.json
  apps/fishing-map/public/locales/id/translations.json
  apps/fishing-map/public/locales/pt/data-terminology.json
  apps/fishing-map/public/locales/pt/translations.json
  apps/fishing-map/public/locales/val/data-terminology.json
  apps/fishing-map/public/locales/val/translations.json
Labels: fishing-map

#2886 New Crowdin updates
  apps/fishing-map/public/locales/en/translations.json
  apps/fishing-map/public/locales/es/translations.json
  apps/fishing-map/public/locales/fr/translations.json
  apps/fishing-map/public/locales/id/translations.json
  apps/fishing-map/public/locales/pt/translations.json
  apps/fishing-map/public/locales/source/translations.json
  apps/fishing-map/public/locales/val/translations.json
Labels: fishing-map

#2890 New Crowdin updates
  apps/fishing-map/public/locales/en/translations.json
  apps/fishing-map/public/locales/es/translations.json
  apps/fishing-map/public/locales/fr/translations.json
  apps/fishing-map/public/locales/id/translations.json
  apps/fishing-map/public/locales/pt/translations.json
  apps/fishing-map/public/locales/val/translations.json
Labels: fishing-map

#2892 VV3 hotfixes
  apps/fishing-map/features/map/controls/MapControls.tsx
  apps/fishing-map/features/vessel-groups/vessel-groups.slice.ts
  apps/fishing-map/features/vessel/areas/VesselAreas.tsx
Labels: fishing-map

#2894 New Crowdin updates
  apps/fishing-map/public/locales/en/data-terminology.json
  apps/fishing-map/public/locales/es/data-terminology.json
  apps/fishing-map/public/locales/fr/data-terminology.json
  apps/fishing-map/public/locales/id/data-terminology.json
  apps/fishing-map/public/locales/pt/data-terminology.json
  apps/fishing-map/public/locales/val/data-terminology.json
Labels: fishing-map

#2895 New Crowdin updates
  apps/fishing-map/public/locales/en/translations.json
  apps/fishing-map/public/locales/es/translations.json
  apps/fishing-map/public/locales/fr/translations.json
  apps/fishing-map/public/locales/id/translations.json
  apps/fishing-map/public/locales/pt/translations.json
  apps/fishing-map/public/locales/source/translations.json
  apps/fishing-map/public/locales/val/translations.json
Labels: fishing-map

#2893 hotfixes 2
  apps/fishing-map/assets/images/emptyState-events@2x.png
  apps/fishing-map/features/map/popups/PopupByCategory.tsx
  apps/fishing-map/features/map/popups/categories/TileClusterTooltipRow.tsx
  apps/fishing-map/features/reports/events/VGREvents.module.css
  apps/fishing-map/features/reports/events/VGREvents.tsx
  apps/fishing-map/features/reports/events/VGREventsSubsectionSelector.tsx
  apps/fishing-map/features/reports/vessel-groups/VesselGroupReport.tsx
Labels: fishing-map

#2896 New Crowdin updates
  apps/fishing-map/public/locales/en/data-terminology.json
  apps/fishing-map/public/locales/es/data-terminology.json
  apps/fishing-map/public/locales/fr/data-terminology.json
  apps/fishing-map/public/locales/id/data-terminology.json
  apps/fishing-map/public/locales/pt/data-terminology.json
  apps/fishing-map/public/locales/val/data-terminology.json
  apps/fishing-map/public/locales/val/translations.json
Labels: fishing-map

#2897 New Crowdin updates
  apps/fishing-map/public/locales/en/data-terminology.json
  apps/fishing-map/public/locales/en/translations.json
  apps/fishing-map/public/locales/es/data-terminology.json
  apps/fishing-map/public/locales/es/translations.json
  apps/fishing-map/public/locales/fr/data-terminology.json
  apps/fishing-map/public/locales/fr/translations.json
  apps/fishing-map/public/locales/id/data-terminology.json
  apps/fishing-map/public/locales/id/translations.json
  apps/fishing-map/public/locales/pt/data-terminology.json
  apps/fishing-map/public/locales/pt/translations.json
  apps/fishing-map/public/locales/val/data-terminology.json
  apps/fishing-map/public/locales/val/translations.json
Labels: fishing-map

#2898 fix missing data on previously deleted vessel instance profile
  apps/fishing-map/features/vessel/VesselLink.tsx
  libs/dataviews-client/src/resolve-dataviews.ts
Labels: fishing-map, dataviews-client

#2903 Image labeler/fixes
  apps/image-labeler/src/features/project/Task.tsx
  apps/image-labeler/src/features/project/TaskImage.tsx
Labels: image-labeler

#2902 Fixes
  apps/fishing-map/data/layer-library/layers-events.ts
  apps/fishing-map/features/dataviews/dataviews.utils.ts
  apps/fishing-map/features/layer-library/LayerLibraryItem.tsx
  apps/fishing-map/features/layer-library/layer-library.utils.tsx
  apps/fishing-map/features/map/popups/categories/ContextLayersRow.tsx
  apps/fishing-map/features/map/popups/categories/TileClusterTooltipRow.tsx
  apps/fishing-map/features/reports/activity/ReportActivity.tsx
  apps/fishing-map/features/reports/areas/area-reports.hooks.ts
Labels: fishing-map

#2900 Fishing map/vv3 analytics leftovers
  apps/fishing-map/features/reports/vessel-groups/insights/VGRInsightFishing.tsx
  apps/fishing-map/features/reports/vessel-groups/insights/VGRInsightFlagChange.tsx
  apps/fishing-map/features/reports/vessel-groups/insights/VGRInsightGaps.tsx
  apps/fishing-map/features/reports/vessel-groups/insights/VGRInsightIUU.tsx
  apps/fishing-map/features/reports/vessel-groups/insights/VGRInsightMOU.tsx
  apps/fishing-map/features/reports/vessel-groups/vessels/VesselGroupReportVesselsTableFooter.tsx
  apps/fishing-map/features/vessel/VesselLink.tsx
Labels: fishing-map

#2905 Fixes 2
  apps/fishing-map/data/layer-library/layers-events.ts
  apps/fishing-map/data/layer-library/layers.types.ts
  apps/fishing-map/features/app/App.tsx
  apps/fishing-map/features/dataviews/selectors/dataviews.selectors.ts
  apps/fishing-map/features/layer-library/LayerLibrary.tsx
  apps/fishing-map/features/layer-library/layer-library.utils.tsx
  apps/fishing-map/features/map/popups/categories/TileClusterTooltipRow.tsx
  apps/fishing-map/features/reports/activity/ReportActivity.tsx
  apps/fishing-map/features/reports/activity/ReportActivityGraphSelector.tsx
  apps/fishing-map/public/locales/source/translations.json
  libs/deck-layer-composer/src/resolvers/dataviews.ts
Labels: fishing-map, deck-layer-composer

#2908 Fixes 3
  apps/fishing-map/features/app/selectors/app.reports.selector.ts
  apps/fishing-map/features/dataviews/selectors/dataviews.resolvers.selectors.ts
  apps/fishing-map/features/reports/areas/area-reports.utils.ts
  yarn.lock
Labels: fishing-map

#2909 Update deckgl version
  apps/fishing-map/features/map/map.slice.ts
  libs/deck-layers/package.json
  package.json
  yarn.lock
Labels: fishing-map, deck-layers

#2910 Fix missing geartypes in vms data
  apps/fishing-map/features/vessel/vessel.utils.ts
Labels: fishing-map
