Repository GlobalFishingWatch/frontend, pull requests merged in 2024-07, with the labels that each got.

#2715 Deck migration/nice to haves 1
  apps/fishing-map-e2e/src/support/app.po.ts
  apps/fishing-map/data/config.ts
  apps/fishing-map/features/app/App.tsx
  apps/fishing-map/features/help/hints.slice.ts
  apps/fishing-map/features/map/popups/categories/ContextLayers.tsx
  apps/fishing-map/features/map/popups/categories/ContextLayersRow.tsx
  apps/fishing-map/features/map/popups/categories/RulerTooltip.tsx
  apps/fishing-map/features/reports/summary/ReportSummary.tsx
  apps/fishing-map/features/user/selectors/user.selectors.ts
  apps/fishing-map/features/user/user.slice.ts
  apps/fishing-map/features/workspace/activity/ActivitySection.tsx
  apps/fishing-map/features/workspace/activity/activity.hooks.tsx
  apps/fishing-map/features/workspace/common/VisualisationChoice.module.css
  apps/fishing-map/features/workspace/common/VisualisationChoice.tsx
  apps/fishing-map/features/workspace/detections/DetectionsSection.tsx
  apps/fishing-map/features/workspace/shared/Sections.module.css
  apps/fishing-map/features/workspace/workspace.selectors.ts
  libs/deck-layers/src/layers/vessel/VesselLayer.ts
Labels: fishing-map, deck-layers

#2716 remove highlighted area when using buffer
  apps/fishing-map/features/map/map.selectors.ts
  apps/fishing-map/features/map/popups/PopupByCategory.tsx
  apps/fishing-map/features/map/popups/categories/ContextLayers.hooks.ts
  apps/fishing-map/features/map/popups/categories/ReportBufferLayers.tsx
  apps/fishing-map/features/reports/Report.tsx
  apps/fishing-map/features/reports/reports.hooks.ts
  apps/fishing-map/features/reports/reports.selectors.ts
  apps/fishing-map/features/reports/reports.utils.ts
  apps/fishing-map/features/reports/title/ReportTitle.tsx
  apps/fishing-map/features/sidebar/SidebarHeader.tsx
  libs/api-types/src/dataviews.ts
  libs/deck-layer-composer/src/resolvers/polygons.ts
  libs/deck-layers/src/layers/polygons/PolygonsLayer.ts
  libs/deck-layers/src/layers/polygons/polygons.types.ts
  libs/deck-layers/src/types.ts
  libs/deck-layers/src/utils/layers.ts
Labels: fishing-map, api-types, deck-layers, deck-layer-composer

#2718 Fishing map/infrastructure fixes
  apps/fishing-map/features/map/popups/UserPointsLayers.tsx
  apps/fishing-map/features/workspace/common/OutOfBoundsDisclaimer.tsx
  apps/fishing-map/features/workspace/context-areas/ContextAreaLayerPanel.tsx
  apps/fishing-map/public/locales/source/translations.json
  libs/layer-composer/src/generators/types.ts
  libs/layer-composer/src/generators/user-points/user-points.ts
  libs/layer-composer/src/generators/utils.ts
Labels: fishing-map, layer-composer

#2677 date time format errors
  apps/fishing-map/features/datasets/upload/TimeFieldsGroup.tsx
  libs/data-transforms/src/points/points-to-geojson.ts
  libs/data-transforms/src/schema/schema.ts
Labels: fishing-map, data-transforms

#2720 fix tracks csv generation
  libs/data-transforms/src/list-to-track-segments/check-record-validity.ts
  libs/data-transforms/src/list-to-track-segments/list-to-track-segments.ts
  libs/data-transforms/src/points/points-to-geojson.ts
  libs/data-transforms/src/schema/schema.ts
Labels: data-transforms

#2717 Image labeler/feedback
  apps/image-labeler/src/features/project/Project.module.css
  apps/image-labeler/src/features/project/Project.tsx
  apps/image-labeler/src/features/project/Task.module.css
  apps/image-labeler/src/features/project/Task.tsx
  apps/image-labeler/src/features/project/TaskImage.module.css
  apps/image-labeler/src/features/project/TaskImage.tsx
  apps/image-labeler/src/features/projects-list/ProjectForm.tsx
  apps/image-labeler/src/features/projects-list/ProjectsList.tsx
  apps/image-labeler/src/types/index.ts
Labels: image-labeler

#2721 Fishing map/upload fixes
  apps/fishing-map/features/datasets/upload/NewDataset.module.css
  apps/fishing-map/features/datasets/upload/NewPointsDataset.tsx
  apps/fishing-map/features/datasets/upload/NewPolygonDataset.tsx
  apps/fishing-map/features/datasets/upload/NewTrackDataset.tsx
  apps/fishing-map/features/datasets/upload/TimeFieldsGroup.tsx
  apps/fishing-map/features/datasets/upload/datasets-parse.utils.ts
  apps/fishing-map/pages/_document.tsx
  apps/fishing-map/public/locales/source/translations.json
  libs/api-types/src/datasets.ts
  libs/api-types/src/dataviews.ts
  libs/data-transforms/src/list-to-track-segments/list-to-track-segments.test.ts
  libs/data-transforms/src/list-to-track-segments/list-to-track-segments.ts
  libs/data-transforms/src/points/points-to-geojson.ts
  libs/data-transforms/src/schema/schema.ts
  libs/data-transforms/src/segments/segments-to-geojson.ts
  libs/dataviews-client/src/dataviews.config.ts
  libs/dataviews-client/src/resolve-dataviews-generators.ts
  libs/layer-composer/src/generators/types.ts
  libs/layer-composer/src/generators/utils.ts
Labels: fishing-map, dataviews-client, layer-composer, api-types, data-transforms

#2723 New Crowdin updates
  apps/fishing-map/public/locales/en/translations.json
  apps/fishing-map/public/locales/es/translations.json
  apps/fishing-map/public/locales/fr/translations.json
  apps/fishing-map/public/locales/id/translations.json
  apps/fishing-map/public/locales/pt/translations.json
  apps/fishing-map/public/locales/val/translations.json
Labels: fishing-map

#2724 fix disclaimer when no dataset extend end
  apps/fishing-map/data/config.ts
  apps/fishing-map/features/workspace/common/OutOfBoundsDisclaimer.tsx
Labels: fishing-map

#2726 remove dayjs
  libs/deck-loaders/src/fourwings/helpers/time.ts
  libs/timebar/package.json
  libs/timebar/src/charts/highlighter.tsx
  libs/timebar/src/components/bookmark.tsx
  libs/timebar/src/components/playback.tsx
  libs/timebar/src/components/timeline-units.tsx
  libs/timebar/src/components/timeline.tsx
  libs/timebar/src/components/timerange-selector.tsx
  libs/timebar/src/constants.ts
  libs/timebar/src/layouts/index.ts
  libs/timebar/src/timebar.tsx
  libs/timebar/src/utils/index.ts
  libs/timebar/src/utils/internal-utils.ts
  package.json
  yarn.lock
Labels: timebar, deploy-dev, deck-loaders

#2727 Deck migration/floating UI
  apps/fishing-map/features/help/Hint.module.css
  apps/fishing-map/features/help/Hint.tsx
  apps/fishing-map/features/help/hints.content.ts
  apps/fishing-map/features/sidebar/SidebarHeader.module.css
  apps/fishing-map/features/sidebar/SidebarHeader.tsx
  apps/fishing-map/features/vessel-groups/VesselGroupAddButton.tsx
  apps/fishing-map/features/workspace/environmental/histogram.hooks.ts
  apps/fishing-map/features/workspace/highlight-panel/HighlightPanel.tsx
  apps/fishing-map/features/workspace/shared/TooltipContainer.module.css
  apps/fishing-map/features/workspace/shared/TooltipContainer.tsx
  libs/deck-layers/src/layers/fourwings/FourwingsLayer.ts
  libs/ui-components/src/index.ts
  libs/ui-components/src/popover/Popover.module.css
  libs/ui-components/src/popover/Popover.tsx
  libs/ui-components/src/popover/index.ts
Labels: fishing-map, deck-layers

#2728 Deck migration/feedback 7
  apps/fishing-map/features/app/App.tsx
  apps/fishing-map/features/layer-library/LayerLibrary.tsx
  apps/fishing-map/features/layer-library/LayerLibraryItem.tsx
  apps/fishing-map/features/map/Map.tsx
  apps/fishing-map/features/map/controls/MapControls.tsx
  apps/fishing-map/features/map/map-bounds.hooks.ts
  apps/fishing-map/features/map/map-layers.hooks.ts
  apps/fishing-map/features/map/map.hooks.ts
  apps/fishing-map/features/map/map.slice.ts
  apps/fishing-map/features/map/popups/PopupByCategory.tsx
  apps/fishing-map/features/reports/reports-timeseries.hooks.ts
  apps/fishing-map/features/reports/reports-timeseries.utils.ts
  apps/fishing-map/features/timebar/timebar.hooks.ts
  apps/fishing-map/features/vessel/Vessel.tsx
  apps/fishing-map/features/vessel/VesselHeader.tsx
  apps/fishing-map/features/vessel/areas/VesselAreas.tsx
  apps/fishing-map/features/vessel/selectors/vessel.resources.selectors.ts
  apps/fishing-map/features/vessel/selectors/vessel.selectors.ts
  apps/fishing-map/features/vessel/vessel-bounds.hooks.ts
  apps/fishing-map/features/vessel/vessel-events.hooks.ts
  apps/fishing-map/features/vessel/vessel.slice.ts
  apps/fishing-map/features/workspace/common/FitBounds.tsx
  apps/fishing-map/features/workspace/context-areas/ContextAreaLayerPanel.tsx
  apps/fishing-map/features/workspace/context-areas/context.utils.ts
  apps/fishing-map/features/workspace/highlight-panel/HighlightPanel.tsx
  apps/fishing-map/features/workspace/user/UserLayerTrackPanel.tsx
  apps/fishing-map/features/workspaces-list/WorkspaceWizard.tsx
  apps/fishing-map/routes/routes.selectors.ts
  libs/deck-layer-composer/src/hooks/deck-layers-state.hooks.ts
  libs/deck-layer-composer/src/resolvers/user.ts
  libs/deck-layers/src/layers/basemap/basemap.types.ts
  libs/deck-layers/src/layers/cluster/cluster.types.ts
  libs/deck-layers/src/layers/context/context.types.ts
  libs/deck-layers/src/layers/draw/draw.types.ts
  libs/deck-layers/src/layers/fourwings/fourwings.types.ts
  libs/deck-layers/src/layers/fourwings/heatmap/FourwingsHeatmapLayer.ts
  libs/deck-layers/src/layers/fourwings/heatmap/FourwingsHeatmapTileLayer.ts
  libs/deck-layers/src/layers/fourwings/heatmap/fourwings-heatmap.types.ts
  libs/deck-layers/src/layers/fourwings/positions/FourwingsPositionsTileLayer.ts
  libs/deck-layers/src/layers/fourwings/positions/fourwings-positions.types.ts
  libs/deck-layers/src/layers/graticules/graticules.types.ts
  libs/deck-layers/src/layers/polygons/polygons.types.ts
  libs/deck-layers/src/layers/rulers/rulers.types.ts
  libs/deck-layers/src/layers/user/UserBaseLayer.ts
  libs/deck-layers/src/layers/user/user.types.ts
  libs/deck-layers/src/layers/vessel/VesselLayer.ts
  libs/deck-layers/src/layers/vessel/VesselTrackLayer.ts
  libs/deck-layers/src/layers/vessel/vessel.types.ts
  libs/deck-layers/src/layers/workspaces/workspaces.types.ts
  libs/deck-layers/src/types.ts
  libs/deck-loaders/src/fourwings/helpers/cells.ts
  libs/deck-loaders/src/user/lib/utils.ts
  libs/ui-components/src/map-legend/Bivariate.tsx
Labels: fishing-map, deck-layers, deck-loaders, deck-layer-composer

#2729 Deck migration/payload review
  libs/deck-layers/src/layers/fourwings/fourwings.config.ts
  libs/deck-layers/src/layers/vessel/VesselLayer.ts
  libs/deck-layers/src/layers/vessel/vessel.config.ts
Labels: deploy-dev, deck-layers

#2730 ensure password is requested
  apps/fishing-map/features/workspace/Workspace.tsx
  apps/fishing-map/features/workspace/WorkspaceError.tsx
  apps/fishing-map/features/workspace/workspace.slice.ts
Labels: fishing-map

#2733 move heavy task to worker
  apps/fishing-map/data/config.ts
  apps/fishing-map/features/app/selectors/app.selectors.ts
  apps/fishing-map/features/map/map.hooks.ts
  apps/fishing-map/features/timebar/TimebarActivityGraph.hooks.ts
  apps/fishing-map/features/timebar/timebar.utils.ts
  apps/fishing-map/features/workspace/activity/activity.hooks.tsx
  apps/fishing-map/features/workspace/environmental/EnvironmentalSection.tsx
  apps/fishing-map/features/workspace/vessels/VesselsFromPositions.tsx
  apps/fishing-map/types/index.ts
  apps/fourwings-explorer/features/map/dynamic-breaks.hooks.ts
  apps/fourwings-explorer/features/map/histogram.hooks.ts
  apps/fourwings-explorer/features/timebar/TimebarActivityGraph.hooks.ts
  libs/data-transforms/src/features/filter-features-by-bounds.ts
  libs/deck-layer-composer/src/resolvers/dataviews.ts
  libs/deck-layer-composer/src/resolvers/types.ts
  libs/deck-layers/src/layers/fourwings/FourwingsLayer.ts
  libs/deck-layers/src/layers/fourwings/fourwings.types.ts
  libs/deck-layers/src/layers/fourwings/heatmap/FourwingsHeatmapStaticLayer.ts
  libs/deck-layers/src/layers/fourwings/heatmap/FourwingsHeatmapTileLayer.ts
  libs/deck-loaders/src/fourwings/lib/types.ts
Labels: fishing-map, data-transforms, deck-layers, deck-loaders, deck-layer-composer

#2735 click to request vessels report
  apps/fishing-map/features/reports/Report.tsx
  apps/fishing-map/features/reports/reports.hooks.ts
  apps/fishing-map/public/locales/source/translations.json
Labels: fishing-map

#2734 Deck-migration/feedback-8
  apps/fishing-map/features/map/controls/map-controls.slice.ts
  apps/fishing-map/features/map/map-interactions.hooks.ts
  apps/fishing-map/features/map/map.hooks.ts
  apps/fishing-map/features/timebar/Timebar.tsx
  apps/fishing-map/features/timebar/timebar.hooks.ts
  libs/deck-layer-composer/src/hooks/deck-layers-composer.hooks.ts
  libs/deck-layer-composer/src/resolvers/types.ts
  libs/deck-layer-composer/src/resolvers/vessels.ts
Labels: fishing-map, deploy-dev, deck-layer-composer

#2737 dont request data out of the datasets extent range
  apps/fishing-map/features/timebar/TimebarActivityGraph.hooks.ts
  libs/deck-layer-composer/src/resolvers/dataviews.ts
  libs/deck-layer-composer/src/resolvers/fourwings.ts
  libs/deck-layers/src/layers/fourwings/fourwings.types.ts
  libs/deck-layers/src/layers/fourwings/heatmap/FourwingsHeatmapTileLayer.ts
  libs/deck-layers/src/layers/fourwings/heatmap/fourwings-heatmap.utils.ts
  libs/deck-layers/src/layers/fourwings/positions/FourwingsPositionsTileLayer.ts
Labels: fishing-map, deck-layers, deck-layer-composer

#2739 Report fixes
  apps/fishing-map/features/map/Map.tsx
  apps/fishing-map/features/reports/Report.tsx
  apps/fishing-map/features/reports/environment/ReportEnvironment.tsx
  apps/fishing-map/features/reports/reports-geo.utils.ts
  apps/fishing-map/features/reports/reports-geo.utils.workers.hooks.ts
  apps/fishing-map/features/reports/reports-geo.utils.workers.ts
  apps/fishing-map/features/reports/reports-timeseries.hooks.ts
  apps/fishing-map/features/timebar/TimebarActivityGraph.hooks.ts
  libs/deck-layer-composer/src/resolvers/dataviews.ts
Labels: fishing-map, deploy-dev, deck-layer-composer

#2742 New Crowdin updates
  libs/i18n-labels/en/datasets.json
  libs/i18n-labels/es/datasets.json
  libs/i18n-labels/fr/datasets.json
  libs/i18n-labels/id/datasets.json
  libs/i18n-labels/pt/datasets.json
  libs/i18n-labels/source/datasets.json
  libs/i18n-labels/val/datasets.json
Labels: i18n-labels

#2745 Map click interactions analytics events
  apps/fishing-map/features/app/analytics.hooks.ts
  apps/fishing-map/features/map/map-interaction.utils.ts
  apps/fishing-map/features/map/map-interactions.hooks.ts
  apps/fishing-map/features/map/overlays/draw/DrawDialog.tsx
Labels: fishing-map

#2732 google analytics
  apps/fishing-map/features/download/DownloadActivityByVessel.tsx
  apps/fishing-map/features/download/DownloadActivityEnvironment.tsx
  apps/fishing-map/features/download/DownloadActivityGridded.tsx
  apps/fishing-map/features/reports/vessels/ReportVesselsTableFooter.tsx
  apps/fishing-map/features/search/Search.tsx
  apps/fishing-map/features/search/SearchActions.tsx
  apps/fishing-map/features/search/SearchDownload.tsx
  apps/fishing-map/features/timebar/Timebar.tsx
  apps/fishing-map/features/vessel/activity/VesselActivityDownload.tsx
  apps/fishing-map/features/vessel/identity/DataTerminology.tsx
  apps/fishing-map/features/vessel/identity/VesselIdentitySelector.tsx
Labels: fishing-map

#2747 Deck migration/feedback 9
  apps/fishing-map/features/datasets/datasets.utils.ts
  apps/fishing-map/features/dataviews/selectors/dataviews.selectors.ts
  apps/fishing-map/features/i18n/utils.datasets.ts
  apps/fishing-map/features/map/Map.tsx
  apps/fishing-map/features/map/controls/MapControls.tsx
  apps/fishing-map/features/map/map-interactions.hooks.ts
  apps/fishing-map/features/map/map-layers.hooks.ts
  apps/fishing-map/features/map/map-viewport.hooks.ts
  apps/fishing-map/features/map/map.hooks.ts
  apps/fishing-map/features/map/popups/categories/DetectionsLayers.tsx
  apps/fishing-map/features/map/popups/categories/TileClusterTooltipRow.tsx
  apps/fishing-map/features/map/popups/categories/VesselsTable.tsx
  apps/fishing-map/features/map/popups/categories/WorkspacePointsLayers.tsx
  apps/fishing-map/features/reports/reports.hooks.ts
  apps/fishing-map/features/sidebar/CategoryTabs.tsx
  apps/fishing-map/features/timebar/Timebar.tsx
  apps/fishing-map/features/timebar/timebar.selectors.ts
  apps/fishing-map/features/user/UserWorkspaces.tsx
  apps/fishing-map/features/user/UserWorkspacesPrivate.tsx
  apps/fishing-map/features/vessel/activity/activity-by-voyage/ActivityByVoyage.tsx
  apps/fishing-map/features/vessel/areas/VesselAreas.tsx
  apps/fishing-map/features/workspace/common/FitBounds.tsx
  apps/fishing-map/features/workspaces-list/WorkspaceWizard.tsx
  apps/fishing-map/features/workspaces-list/WorkspacesList.tsx
  libs/datasets-client/src/datasets.utils.ts
  libs/dataviews-client/src/resolve-dataviews.ts
  libs/deck-layers/src/layers/vessel/vessel.utils.ts
  package.json
  yarn.lock
Labels: fishing-map, dataviews-client, deploy-dev, deck-layers

#2748 Deck migration/user tracks fix
  apps/fishing-map/features/map/map-layers.hooks.ts
  apps/fishing-map/features/resources/resources.selectors.thinning.ts
  apps/fishing-map/features/workspace/common/LayerSchemaFilter.tsx
  apps/fishing-map/features/workspace/user/UserLayerPanel.tsx
  apps/fishing-map/features/workspace/user/UserLayerTrackPanel.tsx
  libs/data-transforms/src/filter-tracks-coordinates/index.ts
  libs/dataviews-client/src/resolve-dataviews.ts
  libs/deck-layer-composer/src/resolvers/dataviews.ts
  libs/deck-layer-composer/src/resolvers/user.ts
  libs/deck-layers/src/layers/fourwings/heatmap/FourwingsHeatmapTileLayer.ts
  libs/deck-layers/src/layers/layers.config.ts
  libs/deck-layers/src/layers/user/UserTracksLayer.ts
  libs/deck-layers/src/layers/user/user.types.ts
  libs/deck-layers/src/layers/vessel/VesselTrackLayer.ts
  libs/deck-loaders/src/user/lib/parse-user-tracks.ts
  libs/deck-loaders/src/user/lib/types.ts
  libs/deck-loaders/src/user/lib/utils.ts
  libs/ui-components/src/slider-range/SliderRange.tsx
  libs/ui-components/src/slider/slider.module.css
Labels: fishing-map, dataviews-client, data-transforms, deck-layers, deck-loaders, deck-layer-composer

#2749 Deck migration/user tracks timebar
  apps/fishing-map/features/dataviews/selectors/dataviews.instances.selectors.ts
  apps/fishing-map/features/timebar/timebar-vessel.hooks.ts
  apps/fishing-map/features/workspace/user/UserLayerTrackPanel.tsx
  apps/fishing-map/features/workspace/vessels/VesselLayerPanel.tsx
  libs/deck-layers/src/layers/basemap/BasemapLayer.ts
  libs/deck-layers/src/layers/user/UserTracksLayer.ts
  libs/deck-layers/src/layers/vessel/VesselLayer.ts
  libs/deck-layers/src/layers/vessel/VesselTrackLayer.ts
  libs/deck-layers/src/layers/vessel/vessel.utils.ts
  libs/timebar/src/charts/common/types.ts
Labels: fishing-map, timebar, deck-layers

#2750 Deck migration/pipe 3 banner
  apps/fishing-map/data/dataviews.ts
  apps/fishing-map/features/app/App.module.css
  apps/fishing-map/features/app/selectors/app.workspace.selectors.ts
  apps/fishing-map/features/datasets/datasets.slice.ts
  apps/fishing-map/features/datasets/datasets.utils.ts
  apps/fishing-map/features/dataviews/dataviews.utils.ts
  apps/fishing-map/features/dataviews/selectors/dataviews.instances.selectors.ts
  apps/fishing-map/features/sidebar/SidebarHeader.tsx
  apps/fishing-map/features/workspace/Workspace.module.css
  apps/fishing-map/features/workspace/Workspace.tsx
  apps/fishing-map/features/workspace/activity/ActivitySection.tsx
  apps/fishing-map/features/workspace/detections/DetectionsSection.tsx
  apps/fishing-map/features/workspace/workspace-migration.hooks.tsx
  apps/fishing-map/features/workspace/workspace.selectors.ts
  apps/fishing-map/features/workspace/workspace.slice.ts
  apps/fishing-map/public/locales/source/translations.json
  libs/api-types/src/dataviews.ts
  libs/datasets-client/src/datasets.utils.ts
  libs/dataviews-client/src/resolve-dataviews.ts
  libs/dataviews-client/src/url-workspace/migrations.config.ts
  libs/dataviews-client/src/url-workspace/url-workspace.ts
  libs/timebar/src/charts/common/hooks.ts
Labels: fishing-map, timebar, dataviews-client, api-types

#2738 show timeout disclaimer on reports
  apps/fishing-map/features/reports/Report.tsx
  apps/fishing-map/public/locales/source/translations.json
Labels: fishing-map

#2751 New Crowdin updates
  libs/i18n-labels/en/datasets.json
  libs/i18n-labels/es/datasets.json
  libs/i18n-labels/fr/datasets.json
  libs/i18n-labels/id/datasets.json
  libs/i18n-labels/pt/datasets.json
  libs/i18n-labels/source/datasets.json
  libs/i18n-labels/val/datasets.json
Labels: i18n-labels

#2752 New Crowdin updates
  apps/fishing-map/public/locales/en/translations.json
  apps/fishing-map/public/locales/es/translations.json
  apps/fishing-map/public/locales/fr/translations.json
  apps/fishing-map/public/locales/id/translations.json
  apps/fishing-map/public/locales/pt/translations.json
  apps/fishing-map/public/locales/source/translations.json
  apps/fishing-map/public/locales/val/translations.json
Labels: fishing-map

#2753 New Crowdin updates
  apps/fishing-map/public/locales/en/translations.json
  apps/fishing-map/public/locales/es/translations.json
  apps/fishing-map/public/locales/fr/translations.json
  apps/fishing-map/public/locales/id/translations.json
  apps/fishing-map/public/locales/pt/translations.json
  apps/fishing-map/public/locales/source/translations.json
  apps/fishing-map/public/locales/val/translations.json
Labels: fishing-map

#2754 fit vessel profile bounds calculation
  apps/fishing-map/features/areas/areas.slice.ts
  apps/fishing-map/features/datasets/datasets.utils.ts
  apps/fishing-map/features/dataviews/dataviews.utils.ts
  apps/fishing-map/features/reports/reports-timeseries.hooks.ts
  apps/fishing-map/features/search/advanced/SearchAdvancedResults.tsx
  apps/fishing-map/features/search/basic/SearchBasicResult.tsx
  apps/fishing-map/features/search/search.slice.ts
  apps/fishing-map/features/sidebar/CategoryTabs.tsx
  apps/fishing-map/features/vessel/vessel-bounds.hooks.ts
  apps/fishing-map/features/vessel/vessel-track.hooks.ts
  libs/deck-layers/src/layers/user/UserBaseLayer.ts
  libs/deck-layers/src/layers/vessel/VesselLayer.ts
  libs/deck-layers/src/layers/vessel/vessel.utils.ts
Labels: fishing-map, deck-layers

#2757 New Crowdin updates
  libs/i18n-labels/en/datasets.json
  libs/i18n-labels/es/datasets.json
  libs/i18n-labels/fr/datasets.json
  libs/i18n-labels/id/datasets.json
  libs/i18n-labels/pt/datasets.json
  libs/i18n-labels/source/datasets.json
  libs/i18n-labels/val/datasets.json
Labels: i18n-labels

#2746 Production pipe 3 release preview
  apps/fishing-map/features/map/popups/PopupByCategory.tsx
Labels: fishing-map, deploy-pro
