Repository GlobalFishingWatch/frontend, pull requests merged in 2024-08, with the labels that each got.

#2760 Fishing map/deck hotfixes
  apps/fishing-map/features/app/App.tsx
  apps/fishing-map/features/timebar/timebar-vessel.hooks.ts
  apps/fishing-map/features/vessel/vessel-events.hooks.ts
  apps/fishing-map/features/vessel/vessel.slice.ts
  apps/fishing-map/features/workspace/WorkspaceError.tsx
  apps/fishing-map/features/workspace/workspace.selectors.ts
  libs/deck-layers/src/layers/vessel/VesselEventsLayer.ts
  libs/deck-layers/src/layers/vessel/VesselTrackLayer.ts
  libs/deck-layers/src/layers/vessel/vessel.utils.ts
Labels: fishing-map, deck-layers, deploy-staging

#2761 wip: insert timeseries with dataset extent
  apps/fishing-map/features/timebar/TimebarActivityGraph.hooks.ts
  apps/fishing-map/features/timebar/timebar.utils.ts
  libs/deck-layer-composer/src/resolvers/fourwings.ts
  libs/deck-layers/src/layers/fourwings/fourwings.types.ts
  libs/deck-layers/src/layers/fourwings/positions/FourwingsPositionsTileLayer.ts
  libs/deck-loaders/src/fourwings/helpers/time.ts
  libs/deck-loaders/src/fourwings/lib/parse-fourwings.ts
Labels: fishing-map, deck-layers, deck-loaders, deck-layer-composer

#2763 handle crash when no data after filter
  apps/fishing-map/features/timebar/timebar.utils.ts
  apps/fishing-map/features/workspace/common/MapLegend.tsx
  libs/datasets-client/src/datasets.utils.ts
  libs/deck-layers/src/layers/fourwings/heatmap/FourwingsHeatmapTileLayer.ts
  libs/deck-layers/src/layers/fourwings/heatmap/fourwings-heatmap.utils.ts
  libs/deck-layers/src/layers/fourwings/positions/FourwingsPositionsTileLayer.ts
  libs/deck-layers/src/utils/stats.ts
Labels: fishing-map, deploy-dev, deck-layers

#2764 Release fixes
  apps/fishing-map/features/map/Map.tsx
  apps/fishing-map/features/map/map-layers.hooks.ts
  apps/fishing-map/features/map/overlays/draw/CoordinateEditOverlay.tsx
  apps/fishing-map/features/map/popups/categories/ContextLayers.hooks.ts
  apps/fishing-map/features/timebar/TimebarSettings.tsx
  apps/fishing-map/features/vessel/activity/VesselActivity.tsx
  apps/fishing-map/features/vessel/vessel-events.hooks.ts
  apps/fishing-map/features/workspace/activity/ActivityLayerPanel.tsx
  apps/fishing-map/features/workspace/common/MapLegend.tsx
  apps/fishing-map/features/workspace/environmental/EnvironmentalLayerPanel.tsx
  apps/fishing-map/features/workspace/user/UserLayerPanel.tsx
  apps/fishing-map/public/locales/source/translations.json
  libs/deck-layers/src/layers/fourwings/FourwingsLayer.ts
  libs/deck-layers/src/layers/fourwings/fourwings.config.ts
  libs/deck-layers/src/layers/fourwings/heatmap/FourwingsHeatmapTileLayer.ts
  libs/deck-layers/src/layers/fourwings/heatmap/fourwings-heatmap.types.ts
  libs/deck-layers/src/layers/fourwings/positions/FourwingsPositionsTileLayer.ts
  libs/deck-layers/src/layers/user/UserTracksLayer.ts
Labels: fishing-map, deck-layers

#2767 fix positions time range
  libs/deck-layers/src/layers/fourwings/positions/FourwingsPositionsTileLayer.ts
Labels: deck-layers

#2770 Chore/dependencies update
  .gitignore
  .prettierignore
  .yarn/releases/yarn-4.3.1.cjs
  .yarn/releases/yarn-4.4.0.cjs
  .yarnrc.yml
  apps/api-portal/cloudbuild.yaml
  apps/fishing-map-e2e/cloudbuild.yaml
  apps/fishing-map/cloudbuild.yaml
  apps/fishing-map/features/timebar/TimebarSettings.tsx
  apps/fishing-map/package.json
  apps/fishing-map/project.json
  apps/fishing-map/public/locales/source/layer-library.json
  apps/fishing-map/public/locales/source/translations.json
  apps/fishing-map/queries/stats-api.ts
  apps/fourwings-explorer/features/timebar/Timebar.tsx
  apps/image-labeler/cloudbuild.yaml
  apps/real-time-prototype/cloudbuild.yaml
  apps/user-groups-admin/cloudbuild.yaml
  apps/vessel-history/Dockerfile
  apps/vessel-history/cloudbuild.yaml
  apps/vessel-history/cloudbuild_PR_tests.yaml
  cloudbuild.yaml
  libs/deck-layers/package.json
  libs/i18n-labels/cloudbuild.yaml
  package.json
  yarn.lock
Labels: fishing-map, vessel-history, i18n-labels, api-portal, user-groups-admin, deploy-dev, deck-layers, image-labeler

#2772 New Crowdin updates
  apps/fishing-map/public/locales/en/translations.json
  apps/fishing-map/public/locales/es/translations.json
  apps/fishing-map/public/locales/fr/translations.json
  apps/fishing-map/public/locales/id/translations.json
  apps/fishing-map/public/locales/pt/translations.json
  apps/fishing-map/public/locales/val/layer-library.json
  apps/fishing-map/public/locales/val/translations.json
Labels: fishing-map

#2774 New Crowdin updates
  apps/fishing-map/public/locales/fr/data-terminology.json
  apps/fishing-map/public/locales/fr/translations.json
  libs/i18n-labels/fr/timebar.json
Labels: fishing-map, i18n-labels

#2775 New Crowdin updates
  apps/fishing-map/public/locales/en/layer-library.json
  apps/fishing-map/public/locales/es/layer-library.json
  apps/fishing-map/public/locales/fr/layer-library.json
  apps/fishing-map/public/locales/id/layer-library.json
  apps/fishing-map/public/locales/pt/layer-library.json
  libs/i18n-labels/en/datasets.json
  libs/i18n-labels/es/datasets.json
  libs/i18n-labels/fr/datasets.json
  libs/i18n-labels/id/datasets.json
  libs/i18n-labels/pt/datasets.json
  libs/i18n-labels/source/datasets.json
  libs/i18n-labels/val/datasets.json
Labels: fishing-map, i18n-labels

#2778 ensure cols and rows are not overwritten by empty tiles
  libs/deck-layers/src/layers/fourwings/heatmap/FourwingsHeatmapTileLayer.ts
  libs/deck-loaders/src/fourwings/lib/parse-fourwings.ts
Labels: deck-layers, deck-loaders

#2779 Avoid crash when trying to getError on static heatmap layer
  libs/deck-layers/src/layers/fourwings/heatmap/FourwingsHeatmapStaticLayer.ts
Labels: deck-layers

#2769 Usability sprint Aug 2024
  apps/fishing-map/features/datasets/datasets.hook.ts
  apps/fishing-map/features/datasets/datasets.utils.ts
  apps/fishing-map/features/datasets/upload/datasets-parse.utils.ts
  apps/fishing-map/features/reports/Report.tsx
  apps/fishing-map/features/reports/summary/ReportSummary.tsx
  apps/fishing-map/features/reports/vessels/ReportVesselsTable.tsx
  apps/fishing-map/features/resources/resources.slice.ts
  apps/fishing-map/features/sidebar/Sidebar.tsx
  apps/fishing-map/features/sidebar/SidebarHeader.tsx
  apps/fishing-map/features/timebar/TimebarSettings.tsx
  apps/fishing-map/features/vessel-groups/vessel-groups.slice.ts
  apps/fishing-map/features/vessel/VesselLink.tsx
  apps/fishing-map/features/vessel/areas/VesselAreas.tsx
  apps/fishing-map/features/vessel/identity/VesselIdentity.module.css
  apps/fishing-map/features/vessel/identity/VesselIdentity.tsx
  apps/fishing-map/features/vessel/identity/VesselIdentitySelector.module.css
  apps/fishing-map/features/vessel/identity/VesselIdentitySelector.tsx
  apps/fishing-map/features/vessel/insights/InsightMOUList.tsx
  apps/fishing-map/features/vessel/related-vessels/RelatedVessel.tsx
  apps/fishing-map/features/vessel/vessel.download.ts
  apps/fishing-map/features/vessel/vessel.slice.ts
  apps/fishing-map/features/vessel/vessel.utils.ts
  apps/fishing-map/features/workspace/WorkspaceError.tsx
  apps/fishing-map/features/workspace/common/FitBounds.tsx
  apps/fishing-map/features/workspace/shared/Sections.module.css
  apps/fishing-map/features/workspace/user/UserLayerPanel.tsx
  apps/fishing-map/features/workspace/vessels/VesselLayerPanel.tsx
  apps/fishing-map/features/workspace/vessels/VesselsSection.tsx
  apps/fishing-map/features/workspace/workspace.slice.ts
  apps/fishing-map/public/locales/source/translations.json
  libs/api-types/src/datasets.ts
  libs/api-types/src/vessel-insights.ts
  libs/deck-layers/src/layers/fourwings/heatmap/FourwingsHeatmapStaticLayer.ts
  libs/deck-layers/src/layers/fourwings/heatmap/FourwingsHeatmapTileLayer.ts
  libs/deck-layers/src/layers/user/UserTracksLayer.ts
  libs/deck-layers/src/layers/vessel/VesselLayer.ts
  libs/react-hooks/src/use-small-screen/use-small-screen.ts
  libs/ui-components/src/assets/icons/sort-asc.svg
  libs/ui-components/src/assets/icons/sort-desc.svg
  libs/ui-components/src/icon/icon.config.ts
Labels: fishing-map, react-hooks, api-types, deck-layers

#2781 New Crowdin updates
  apps/fishing-map/public/locales/en/translations.json
  apps/fishing-map/public/locales/es/translations.json
  apps/fishing-map/public/locales/fr/translations.json
  apps/fishing-map/public/locales/id/translations.json
  apps/fishing-map/public/locales/pt/translations.json
  apps/fishing-map/public/locales/val/translations.json
Labels: fishing-map

#2782 fix: annotations cursor and interaction
  apps/fishing-map/features/map/map-interactions.hooks.ts
  apps/fishing-map/features/map/overlays/annotations/Annotations.tsx
  apps/fishing-map/features/map/overlays/annotations/AnnotationsDialog.tsx
Labels: fishing-map

#2785 Fishing-map/report-errors
  apps/fishing-map/features/download/DownloadActivityByVessel.tsx
  apps/fishing-map/features/download/DownloadActivityEnvironment.tsx
  apps/fishing-map/features/download/DownloadActivityError.tsx
  apps/fishing-map/features/download/DownloadActivityGridded.tsx
  apps/fishing-map/features/download/downloadActivity.slice.ts
  apps/fishing-map/features/reports/Report.tsx
  apps/fishing-map/features/workspace/workspace.slice.ts
  apps/fishing-map/public/locales/source/translations.json
  apps/fishing-map/utils/async-slice.ts
  libs/api-client/src/api-client.ts
  libs/api-client/src/config.ts
  libs/api-client/src/index.ts
  libs/api-client/src/utils/errors.ts
  libs/api-client/src/utils/parse.ts
Labels: fishing-map, api-client

#2786 New Crowdin updates
  apps/fishing-map/public/locales/en/translations.json
  apps/fishing-map/public/locales/es/translations.json
  apps/fishing-map/public/locales/fr/translations.json
  apps/fishing-map/public/locales/id/translations.json
  apps/fishing-map/public/locales/pt/translations.json
  apps/fishing-map/public/locales/val/translations.json
  libs/i18n-labels/es/datasets.json
Labels: fishing-map, i18n-labels

#2787 better timefilter guessed column validation
  apps/fishing-map/features/datasets/upload/datasets-upload.utils.ts
Labels: fishing-map

#2788 New Crowdin updates
  apps/fishing-map/public/locales/es/translations.json
  apps/fishing-map/public/locales/fr/help-hints.json
  apps/fishing-map/public/locales/fr/layer-library.json
  apps/fishing-map/public/locales/fr/translations.json
Labels: fishing-map

#2790 Fishing-map/bugs-review
  apps/fishing-map/features/download/DownloadActivityByVessel.tsx
  apps/fishing-map/features/download/DownloadActivityEnvironment.tsx
  apps/fishing-map/features/download/DownloadActivityGridded.tsx
  apps/fishing-map/features/download/download.utils.ts
  apps/fishing-map/features/reports/environment/ReportEnvironment.tsx
  apps/fishing-map/features/search/advanced/SearchAdvanced.tsx
  apps/fishing-map/features/search/basic/SearchBasic.module.css
  apps/fishing-map/features/search/basic/SearchBasic.tsx
  apps/fishing-map/features/search/basic/SearchError.tsx
  apps/fishing-map/features/search/search.selectors.ts
  apps/fishing-map/features/user/selectors/user.groups.selectors.ts
  apps/fishing-map/features/user/selectors/user.permissions.selectors.ts
  apps/fishing-map/features/user/user.config.ts
  apps/fishing-map/features/user/user.slice.ts
  apps/fishing-map/features/vessel/insights/InsightGaps.tsx
  apps/fishing-map/features/workspace/activity/ActivityLayerPanel.tsx
  apps/fishing-map/features/workspace/common/LayerSchemaFilter.tsx
  apps/fishing-map/features/workspace/workspace.slice.ts
  apps/fishing-map/pages/styles.css
  apps/fishing-map/public/locales/en/translations.json
  libs/api-types/src/datasets.ts
Labels: fishing-map, api-types

#2791 New Crowdin updates
  apps/fishing-map/public/locales/es/translations.json
Labels: fishing-map

#2792 New Crowdin updates
  apps/fishing-map/public/locales/en/translations.json
  apps/fishing-map/public/locales/es/translations.json
  libs/i18n-labels/es/datasets.json
Labels: fishing-map, i18n-labels

#2793 New Crowdin updates
  apps/fishing-map/public/locales/en/translations.json
  apps/fishing-map/public/locales/es/translations.json
  apps/fishing-map/public/locales/fr/translations.json
  apps/fishing-map/public/locales/id/translations.json
  apps/fishing-map/public/locales/pt/translations.json
  apps/fishing-map/public/locales/val/translations.json
Labels: fishing-map

#2794 New Crowdin updates
  apps/fishing-map/public/locales/en/translations.json
  apps/fishing-map/public/locales/es/translations.json
  libs/i18n-labels/es/datasets.json
Labels: fishing-map, i18n-labels

#2797 Image labeler/feedback 2
  apps/image-labeler/src/features/project/Project.module.css
  apps/image-labeler/src/features/project/Project.tsx
  apps/image-labeler/src/features/project/Task.module.css
  apps/image-labeler/src/features/project/Task.tsx
  apps/image-labeler/src/features/project/TaskImage.module.css
  apps/image-labeler/src/features/project/TaskImage.tsx
  libs/ui-components/src/assets/icons/photo-edit.svg
  libs/ui-components/src/icon/icon.config.ts
  libs/ui-components/src/slider/Slider.tsx
Labels: image-labeler

#2765 Clusters in 4Wings
  apps/fishing-map/features/dataviews/dataviews.mock.ts
  apps/fishing-map/features/map/map-interaction.utils.ts
  apps/fishing-map/features/map/map-interactions.hooks.ts
  apps/fishing-map/features/map/map.slice.ts
  apps/fishing-map/features/workspace/events/EventsLayerPanel.tsx
  apps/fishing-map/project.json
  libs/api-types/src/datasets.ts
  libs/data-transforms/package.json
  libs/datasets-client/src/datasets.config.ts
  libs/deck-layer-composer/src/resolvers/clusters.ts
  libs/deck-layer-composer/src/resolvers/fourwings.ts
  libs/deck-layer-composer/src/resolvers/resolvers.ts
  libs/deck-layers/package.json
  libs/deck-layers/src/index.ts
  libs/deck-layers/src/layers/fourwings/clusters/FourwingsClustersLayer.ts
  libs/deck-layers/src/layers/fourwings/clusters/fourwings-clusters.types.ts
  libs/deck-layers/src/layers/fourwings/index.ts
  libs/deck-layers/src/types.ts
  libs/deck-loaders/project.json
  libs/deck-loaders/src/fourwings/fourwings-clusters-loader.ts
  libs/deck-loaders/src/fourwings/helpers/cells.ts
  libs/deck-loaders/src/fourwings/index.ts
  libs/deck-loaders/src/fourwings/lib/parse-fourwings-clusters.ts
  libs/deck-loaders/src/fourwings/lib/types.ts
  libs/deck-loaders/src/fourwings/workers/fourwings-clusters-worker.ts
  libs/layer-composer/package.json
  libs/ocean-areas/package.json
  package.json
  yarn.lock
Labels: fishing-map, layer-composer, api-types, data-transforms, ocean-areas, deck-layers, deck-loaders, deck-layer-composer

#2796 New Crowdin updates
  apps/fishing-map/public/locales/es/data-terminology.json
  apps/fishing-map/public/locales/es/help-hints.json
  apps/fishing-map/public/locales/es/layer-library.json
Labels: fishing-map

#2800 New Crowdin updates
  apps/fishing-map/public/locales/es/data-terminology.json
  apps/fishing-map/public/locales/es/translations.json
Labels: fishing-map

#2802 Fix detections value
  apps/fishing-map/features/reports/report.slice.ts
  apps/fishing-map/features/reports/reports.hooks.ts
  apps/fishing-map/features/reports/summary/ReportSummary.tsx
Labels: fishing-map

#2807 Fishing map/vessel profile route
  apps/fishing-map/features/app/App.tsx
  apps/fishing-map/features/dataviews/selectors/dataviews.selectors.ts
  apps/fishing-map/features/user/UserVesselGroups.tsx
  apps/fishing-map/features/vessel-group-report/VesselGroupReport.module.css
  apps/fishing-map/features/vessel-group-report/VesselGroupReportLink.tsx
  apps/fishing-map/features/vessel-group-report/VesselGroupReportTitle.tsx
  apps/fishing-map/features/vessel-group-report/vessel.config.selectors.ts
  apps/fishing-map/features/vessel-group-report/vessels/VesselGroupReportVessels.tsx
  apps/fishing-map/features/vessel/vessel.config.ts
  apps/fishing-map/features/workspace/vessel-groups/VesselGroupsLayerPanel.tsx
  apps/fishing-map/routes/routes.ts
  apps/fishing-map/types/index.ts
  libs/deck-layers/src/layers/fourwings/heatmap/FourwingsHeatmapStaticLayer.ts
Labels: fishing-map, deck-layers

#2805 add selector and graph
  apps/fishing-map/features/map/map-interactions.hooks.ts
  apps/fishing-map/features/map/map.slice.ts
  apps/fishing-map/features/map/popups/PopupByCategory.tsx
  apps/fishing-map/features/vessel-group-report/VesselGroupReportTitle.module.css
  apps/fishing-map/features/vessel-group-report/VesselGroupReportTitle.tsx
  apps/fishing-map/features/vessel-group-report/vessel-group-report.config.ts
  apps/fishing-map/features/vessel-group-report/vessels/VesselGroupReportVessels.module.css
  apps/fishing-map/features/vessel-group-report/vessels/VesselGroupReportVessels.tsx
  apps/fishing-map/features/vessel-group-report/vessels/VesselGroupReportVesselsGraph.module.css
  apps/fishing-map/features/vessel-group-report/vessels/VesselGroupReportVesselsGraph.tsx
  apps/fishing-map/features/vessel-group-report/vessels/VesselGroupReportVesselsGraphSelector.tsx
  apps/fishing-map/features/vessel-group-report/vessels/vessel-group-report-vessels.selectors.ts
  apps/fishing-map/public/locales/source/translations.json
  apps/fishing-map/types/index.ts
  libs/deck-layers/src/layers/fourwings/footprint/FourwingsFootprintLayer.ts
  libs/deck-layers/src/layers/fourwings/footprint/FourwingsFootprintTileLayer.ts
  libs/deck-layers/src/layers/fourwings/footprint/fourwings-footprint.types.ts
Labels: fishing-map, deck-layers

#2809 vessel group report vessels table
  apps/fishing-map/features/area-report/reports.selectors.ts
  apps/fishing-map/features/area-report/reports.utils.ts
  apps/fishing-map/features/area-report/vessels/ReportVessels.tsx
  apps/fishing-map/features/area-report/vessels/ReportVesselsFilter.tsx
  apps/fishing-map/features/area-report/vessels/ReportVesselsGraph.tsx
  apps/fishing-map/features/datasets/datasets.utils.ts
  apps/fishing-map/features/dataviews/selectors/dataviews.selectors.ts
  apps/fishing-map/features/map/map-interactions.hooks.ts
  apps/fishing-map/features/map/popups/categories/VesselsTable.tsx
  apps/fishing-map/features/search/SearchDownload.tsx
  apps/fishing-map/features/search/advanced/SearchAdvancedResults.tsx
  apps/fishing-map/features/search/basic/SearchBasicResult.tsx
  apps/fishing-map/features/vessel-group-report/VesselGroupReport.tsx
  apps/fishing-map/features/vessel-group-report/VesselGroupReportTitle.tsx
  apps/fishing-map/features/vessel-group-report/vessel-group-report.config.ts
  apps/fishing-map/features/vessel-group-report/vessel-group-report.slice.ts
  apps/fishing-map/features/vessel-group-report/vessel-group.config.selectors.ts
  apps/fishing-map/features/vessel-group-report/vessels/VesselGroupReportVessels.tsx
  apps/fishing-map/features/vessel-group-report/vessels/VesselGroupReportVesselsGraph.module.css
  apps/fishing-map/features/vessel-group-report/vessels/VesselGroupReportVesselsGraph.tsx
  apps/fishing-map/features/vessel-group-report/vessels/VesselGroupReportVesselsGraphSelector.tsx
  apps/fishing-map/features/vessel-group-report/vessels/VesselGroupReportVesselsTable.module.css
  apps/fishing-map/features/vessel-group-report/vessels/VesselGroupReportVesselsTable.tsx
  apps/fishing-map/features/vessel-group-report/vessels/VesselGroupReportVesselsTableFooter.module.css
  apps/fishing-map/features/vessel-group-report/vessels/VesselGroupReportVesselsTableFooter.tsx
  apps/fishing-map/features/vessel-group-report/vessels/vessel-group-report-vessels.selectors.ts
  apps/fishing-map/features/vessel-group-report/vessels/vessel-group-report-vessels.types.ts
  apps/fishing-map/features/vessel-groups/VesselGroupModalVessels.tsx
  apps/fishing-map/features/vessel/identity/VesselIdentity.tsx
  apps/fishing-map/features/vessel/vessel.config.ts
  apps/fishing-map/features/workspace/vessels/VesselLayerPanel.tsx
  apps/fishing-map/features/workspace/vessels/VesselsSection.tsx
  apps/fishing-map/types/index.ts
  apps/fishing-map/utils/info.ts
  libs/dataviews-client/src/url-workspace/url-workspace.ts
Labels: fishing-map, dataviews-client
