Repository GlobalFishingWatch/frontend, pull requests merged in 2024-03, with the labels that each got.

#2548 add value filter to static heatmaps
  apps/fishing-map/features/map/map.hooks.ts
  libs/layer-composer/src/generators/heatmap/heatmap-static.ts
  libs/layer-composer/src/generators/types.ts
Labels: fishing-map, layer-composer

#2550 allow multiFeature types in shpToGeoJSON conversion
  apps/fishing-map/features/datasets/upload/datasets-parse.utils.ts
  libs/api-types/src/datasets.ts
  libs/data-transforms/src/shp-to-geojson/shp-to-geojson.ts
Labels: fishing-map, api-types, data-transforms

#2545 deck-migration/annotation-layer
  apps/fishing-map/features/map/Map.tsx
  apps/fishing-map/features/map/annotations/Annotations.module.css
  apps/fishing-map/features/map/annotations/Annotations.tsx
  apps/fishing-map/features/map/annotations/AnnotationsDialog.tsx
  apps/fishing-map/features/map/annotations/annotations-drag.hooks.ts
  apps/fishing-map/features/map/annotations/annotations.hooks.ts
  apps/fishing-map/features/map/annotations/annotations.types.ts
  apps/fishing-map/features/map/error-notification/ErrorNotification.module.css
  apps/fishing-map/features/map/error-notification/ErrorNotification.tsx
  apps/fishing-map/features/map/error-notification/error-notification.hooks.ts
  apps/fishing-map/features/map/map-context.hooks.ts
  apps/fishing-map/features/map/map-interactions.hooks.ts
  apps/fishing-map/features/map/map-viewport.hooks.ts
  package.json
  yarn.lock
Labels: fishing-map, deploy-dev

#2552 Use node polyfills
  apps/fishing-map/next.config.js
Labels: fishing-map

#2554 Fishing map/fix search input not responsive
  apps/fishing-map/features/search/basic/SearchBasic.tsx
  apps/fishing-map/features/sidebar/CategoryTabs.tsx
Labels: fishing-map

#2553 Deck migration/fourwings highlight
  apps/fishing-map/features/map/Map.tsx
  libs/data-transforms/src/features/filter-features-by-bounds.ts
  libs/dataviews-client/src/merge-dataviews.ts
  libs/deck-layer-composer/src/hooks/deck-layers-composer.hooks.ts
  libs/deck-layer-composer/src/resolvers/fourwings.ts
  libs/deck-layers/src/layers/context/ContextLayer.ts
  libs/deck-layers/src/layers/fourwings/FourwingsHeatmapCellLayer.ts
  libs/deck-layers/src/layers/fourwings/FourwingsHeatmapLayer.ts
  libs/deck-layers/src/layers/fourwings/FourwingsHeatmapTileLayer.ts
  libs/deck-layers/src/layers/fourwings/FourwingsLayer.ts
  libs/deck-layers/src/layers/fourwings/FourwingsPositionsTileLayer.ts
  libs/deck-loaders/src/fourwings/lib/parse-fourwings.ts
  libs/deck-loaders/src/fourwings/lib/types.ts
Labels: fishing-map, dataviews-client, data-transforms, deploy-dev, deck-layers, deck-loaders, deck-layer-composer

#2556 Deck migration/fourwings highlight perf
  apps/fishing-map/features/map/Map.tsx
  libs/deck-layers/src/layers/fourwings/FourwingsHeatmapLayer.ts
  libs/deck-layers/src/layers/fourwings/FourwingsHeatmapTileLayer.ts
Labels: fishing-map, deploy-dev, deck-layers

#2557 Deck migration/timebar data
  apps/deck-playground/layers/fourwings/FourwingsHeatmapCellLayer.ts
  apps/fishing-map/features/timebar/TimebarActivityGraph.hooks.ts
  apps/fishing-map/features/timebar/TimebarActivityGraph.tsx
  apps/fishing-map/features/timebar/timebar.utils.ts
  libs/data-transforms/src/features/filter-features-by-bounds.ts
  libs/dataviews-client/src/merge-dataviews.ts
  libs/deck-layer-composer/src/resolvers/fourwings.ts
  libs/deck-layers/src/layers/fourwings/FourwingsHeatmapTileLayer.ts
  libs/deck-layers/src/layers/fourwings/FourwingsLayer.ts
  libs/deck-layers/src/layers/fourwings/FourwingsPositionsTileLayer.ts
  libs/deck-layers/src/layers/fourwings/fourwings.utils.ts
  libs/deck-loaders/src/fourwings/helpers/cells.ts
  libs/deck-loaders/src/fourwings/lib/parse-fourwings.ts
  libs/deck-loaders/src/fourwings/lib/types.ts
  libs/timebar/src/charts/common/hooks.ts
  libs/timebar/src/charts/stacked-activity.tsx
Labels: fishing-map, timebar, dataviews-client, data-transforms, deck-layers, deck-loaders, deck-layer-composer

#2559 Deck migration/bring back map annotations
  apps/fishing-map/features/map/Map.tsx
  apps/fishing-map/features/map/annotations/AnnotationsDialog.tsx
  apps/fishing-map/features/map/error-notification/ErrorNotification.tsx
  apps/fishing-map/features/map/map-interactions.hooks.ts
Labels: fishing-map

#2551 Avoid annotation dialog to be triggered by annotation click
  apps/fishing-map/features/map/annotations/Annotations.tsx
Labels: fishing-map

#2561 Fishing map/geometries too large
  apps/fishing-map/features/download/DownloadActivityByVessel.tsx
  apps/fishing-map/features/download/DownloadActivityEnvironment.tsx
  apps/fishing-map/features/download/DownloadActivityGridded.tsx
  apps/fishing-map/features/download/download.selectors.ts
  apps/fishing-map/features/download/downloadActivity.slice.ts
  apps/fishing-map/features/reports/Report.tsx
Labels: fishing-map

#2560 Deck migration/fourwings improvements
  apps/fishing-map/features/map/map.hooks.ts
  apps/fishing-map/features/timebar/TimebarActivityGraph.hooks.ts
  libs/dataviews-client/src/merge-dataviews.ts
  libs/deck-layer-composer/src/resolvers/fourwings.ts
  libs/deck-layers/src/layers/fourwings/FourwingsHeatmapLayer.ts
  libs/deck-layers/src/layers/fourwings/FourwingsHeatmapTileLayer.ts
  libs/deck-layers/src/layers/fourwings/FourwingsLayer.ts
  libs/deck-layers/src/layers/fourwings/fourwings.config.ts
  libs/deck-layers/src/layers/fourwings/fourwings.types.ts
  libs/deck-layers/src/layers/fourwings/fourwings.utils.ts
  libs/deck-layers/src/utils/colorRamps.ts
  libs/deck-layers/src/utils/colors.ts
  libs/layer-composer/src/generators/types.ts
Labels: fishing-map, dataviews-client, layer-composer, deck-layers, deck-layer-composer

#2565 Fishing map/fix datasets filtering
  apps/fishing-map/features/datasets/upload/NewDataset.tsx
  apps/fishing-map/features/datasets/upload/datasets-upload.utils.ts
  apps/fishing-map/features/modals/modals.slice.ts
  apps/fishing-map/features/workspace/user/UserLayerPanel.tsx
  libs/data-transforms/src/schema/schema.ts
  libs/dataviews-client/src/resolve-dataviews.ts
Labels: fishing-map, dataviews-client, data-transforms

#2570 Deck migration/timebar graph improvements
  apps/fishing-map/features/timebar/TimebarActivityGraph.hooks.ts
  apps/fishing-map/features/timebar/timebar.utils.ts
  libs/deck-layers/src/index.ts
  libs/deck-layers/src/layers/fourwings/FourwingsLayer.ts
  libs/deck-loaders/src/fourwings/helpers/time.ts
Labels: fishing-map, deck-layers, deck-loaders

#2571 Fix search input unresponsive again :^(
  apps/fishing-map/.gitignore
  apps/fishing-map/features/search/SearchActions.tsx
  apps/fishing-map/features/sidebar/SidebarHeader.tsx
  apps/fishing-map/features/vessel/VesselLink.tsx
  apps/fishing-map/features/vessel/vessel.slice.ts
Labels: fishing-map

#2573 render environmental layers
  apps/fishing-map/features/map/Map.tsx
  apps/fishing-map/features/timebar/TimebarActivityGraph.hooks.ts
  apps/fishing-map/features/timebar/timebar.selectors.ts
  apps/fishing-map/features/workspace/common/MapLegend.tsx
  apps/fishing-map/features/workspace/environmental/EnvironmentalLayerPanel.tsx
  libs/deck-layer-composer/src/dataviews/merge-dataviews.ts
  libs/deck-layer-composer/src/hooks/deck-layers-legends.hooks.ts
  libs/deck-layer-composer/src/hooks/deck-layers-state.hooks.ts
  libs/deck-layer-composer/src/resolvers/fourwings.ts
  libs/deck-layers/src/layers/fourwings/FourwingsHeatmapLayer.ts
  libs/deck-layers/src/layers/fourwings/FourwingsHeatmapTileLayer.ts
  libs/deck-layers/src/layers/fourwings/fourwings.types.ts
  libs/deck-layers/src/layers/fourwings/fourwings.utils.ts
  libs/deck-loaders/src/fourwings/fourwings-loader.ts
  libs/deck-loaders/src/fourwings/helpers/time.ts
  libs/deck-loaders/src/fourwings/lib/parse-fourwings.ts
  libs/deck-loaders/src/fourwings/lib/types.ts
Labels: fishing-map, deck-layers, deck-loaders, deck-layer-composer

#2574 cleanup merge-dataviews
  apps/fishing-map/features/areas/areas.slice.ts
  apps/fishing-map/features/datasets/datasets.utils.ts
  apps/fishing-map/features/download/DownloadActivityByVessel.tsx
  apps/fishing-map/features/download/DownloadActivityEnvironment.tsx
  apps/fishing-map/features/download/DownloadActivityGridded.tsx
  apps/fishing-map/features/download/downloadActivity.slice.ts
  apps/fishing-map/features/editor/DataviewEditor.tsx
  apps/fishing-map/features/map/map.selectors.ts
  apps/fishing-map/features/map/map.slice.ts
  apps/fishing-map/features/reports/report.slice.ts
  apps/fishing-map/features/reports/reports.hooks.ts
  apps/fishing-map/features/reports/reports.selectors.ts
  apps/fishing-map/features/search/search.slice.ts
  apps/fishing-map/features/timebar/timebar.utils.ts
  apps/fishing-map/features/vessel-groups/vessel-groups.slice.ts
  apps/fishing-map/features/vessel/VesselPin.tsx
  apps/fishing-map/features/vessel/vessel.slice.ts
  apps/fishing-map/features/workspace/common/LayerFilters.tsx
  apps/fishing-map/features/workspace/common/MapLegend.tsx
  apps/fishing-map/queries/stats-api.ts
  libs/api-client/src/api-client.ts
  libs/api-types/src/dataviews.ts
  libs/datasets-client/src/index.ts
  libs/datasets-client/src/resolve-endpoint.ts
  libs/dataviews-client/src/dataviews-client.ts
  libs/dataviews-client/src/index.ts
  libs/dataviews-client/src/resolve-dataviews-generators.ts
  libs/dataviews-client/src/resolve-dataviews.ts
  libs/dataviews-client/src/resources/get-resources.ts
  libs/dataviews-client/src/url-workspace/url-workspace.ts
  libs/deck-layer-composer/src/dataviews/index.ts
  libs/deck-layer-composer/src/hooks/deck-layers-composer.hooks.ts
  libs/deck-layer-composer/src/hooks/deck-layers-legends.hooks.ts
  libs/deck-layer-composer/src/index.ts
  libs/deck-layer-composer/src/resolvers/basemap.ts
  libs/deck-layer-composer/src/resolvers/context.ts
  libs/deck-layer-composer/src/resolvers/dataviews.ts
  libs/deck-layer-composer/src/resolvers/fourwings.ts
  libs/deck-layer-composer/src/resolvers/index.ts
  libs/deck-layer-composer/src/resolvers/vessels.ts
  libs/deck-layers/src/layers/fourwings/FourwingsHeatmapLayer.ts
  libs/deck-layers/src/layers/fourwings/FourwingsHeatmapTileLayer.ts
  libs/deck-layers/src/layers/fourwings/FourwingsPositionsTileLayer.ts
  libs/deck-layers/src/layers/fourwings/fourwings.config.ts
  libs/deck-layers/src/layers/fourwings/fourwings.types.ts
  libs/deck-layers/src/layers/fourwings/fourwings.utils.ts
  libs/deck-layers/src/utils/index.ts
  package.json
Labels: fishing-map, dataviews-client, api-client, api-types, deploy-dev, deck-layers, deck-layer-composer

#2558 Deck migration/rulers layer
  apps/fishing-map/features/map/Map.tsx
  apps/fishing-map/features/map/controls/AnnotationsControl.tsx
  apps/fishing-map/features/map/controls/MapControls.tsx
  apps/fishing-map/features/map/controls/RulersControl.tsx
  apps/fishing-map/features/map/map-interaction.utils.ts
  apps/fishing-map/features/map/map-interactions.hooks.ts
  apps/fishing-map/features/map/map.hooks.ts
  apps/fishing-map/features/map/overlays/annotations/Annotations.module.css
  apps/fishing-map/features/map/overlays/annotations/Annotations.tsx
  apps/fishing-map/features/map/overlays/annotations/AnnotationsDialog.tsx
  apps/fishing-map/features/map/overlays/annotations/annotations.hooks.ts
  apps/fishing-map/features/map/overlays/annotations/annotations.types.ts
  apps/fishing-map/features/map/overlays/error-notification/ErrorNotification.module.css
  apps/fishing-map/features/map/overlays/error-notification/ErrorNotification.tsx
  apps/fishing-map/features/map/overlays/error-notification/error-notification.hooks.ts
  apps/fishing-map/features/map/overlays/rulers/Rulers.module.css
  apps/fishing-map/features/map/overlays/rulers/rulers-drag.hooks.ts
  apps/fishing-map/features/map/overlays/rulers/rulers.hooks.ts
  apps/fishing-map/features/map/popups/RulerTooltip.tsx
  apps/fishing-map/features/map/rulers/rulers-drag.hooks.ts
  libs/deck-layers/src/index.ts
  libs/deck-layers/src/layers/rulers/RulersLayer.ts
  libs/deck-layers/src/layers/rulers/rulers.config.ts
  libs/deck-layers/src/layers/rulers/rulers.utils.ts
  libs/deck-layers/src/types.ts
Labels: fishing-map, deck-layers

#2576 add cluster layer
  apps/fishing-map/public/events-sprite.png
  libs/deck-layer-composer/src/resolvers/clusters.ts
  libs/deck-layer-composer/src/resolvers/index.ts
  libs/deck-layer-composer/src/resolvers/types.ts
  libs/deck-layers/src/index.ts
  libs/deck-layers/src/layers/cluster/ClusterLayer.ts
Labels: fishing-map, deck-layers, deck-layer-composer

#2577 deck heatmap static layer
  apps/fishing-map/features/dataviews/selectors/dataviews.selectors.ts
  apps/fishing-map/features/timebar/TimebarActivityGraph.hooks.ts
  libs/data-transforms/src/features/filter-features-by-bounds.ts
  libs/deck-layer-composer/src/resolvers/dataviews.ts
  libs/deck-layer-composer/src/resolvers/fourwings.ts
  libs/deck-layer-composer/src/resolvers/index.ts
  libs/deck-layers/src/layers/context/ContextLayer.ts
  libs/deck-layers/src/layers/context/EEZLayer.ts
  libs/deck-layers/src/layers/fourwings/FourwingsHeatmapStaticLayer.ts
  libs/deck-layers/src/layers/fourwings/FourwingsHeatmapTileLayer.ts
  libs/deck-layers/src/layers/fourwings/FourwingsLayer.ts
  libs/deck-layers/src/layers/fourwings/FourwingsPositionsTileLayer.ts
  libs/deck-layers/src/layers/fourwings/fourwings.config.ts
  libs/deck-layers/src/layers/fourwings/fourwings.types.ts
  libs/deck-layers/src/layers/fourwings/fourwings.utils.ts
  libs/deck-layers/src/utils/loaders.ts
  libs/deck-loaders/src/fourwings/lib/types.ts
Labels: fishing-map, data-transforms, deck-layers, deck-loaders, deck-layer-composer

#2572 Vessel Insights
  apps/fishing-map/features/regions/regions.hooks.ts
  apps/fishing-map/features/regions/regions.slice.ts
  apps/fishing-map/features/vessel/Vessel.tsx
  apps/fishing-map/features/vessel/activity/VesselActivitySummary.tsx
  apps/fishing-map/features/vessel/activity/event/Event.tsx
  apps/fishing-map/features/vessel/activity/event/event.hook.tsx
  apps/fishing-map/features/vessel/insights/InsightCoverage.tsx
  apps/fishing-map/features/vessel/insights/InsightErrorMessage.tsx
  apps/fishing-map/features/vessel/insights/InsightFishing.tsx
  apps/fishing-map/features/vessel/insights/InsightFlagChanges.tsx
  apps/fishing-map/features/vessel/insights/InsightGaps.tsx
  apps/fishing-map/features/vessel/insights/InsightGapsDetails.tsx
  apps/fishing-map/features/vessel/insights/InsightIUU.tsx
  apps/fishing-map/features/vessel/insights/InsightMOUList.tsx
  apps/fishing-map/features/vessel/insights/InsightWrapper.tsx
  apps/fishing-map/features/vessel/insights/Insights.module.css
  apps/fishing-map/features/vessel/insights/Insights.tsx
  apps/fishing-map/features/vessel/insights/insights.config.ts
  apps/fishing-map/features/workspace/vessels/VesselEventsLegend.tsx
  apps/fishing-map/features/workspace/vessels/vessel-events.hooks.ts
  apps/fishing-map/public/locales/source/data-terminology.json
  apps/fishing-map/public/locales/source/translations.json
  apps/fishing-map/queries/base.ts
  apps/fishing-map/queries/vessel-events-api.ts
  apps/fishing-map/queries/vessel-insight-api.ts
  apps/fishing-map/reducers.ts
  apps/fishing-map/store.ts
  apps/fishing-map/types/index.ts
  libs/api-types/src/events.ts
  libs/api-types/src/index.ts
  libs/api-types/src/vessel-insights.ts
Labels: fishing-map, api-types, deploy-dev

#2579 New Crowdin updates
  apps/fishing-map/public/locales/en/data-terminology.json
  apps/fishing-map/public/locales/en/translations.json
  apps/fishing-map/public/locales/es/data-terminology.json
  apps/fishing-map/public/locales/es/translations.json
  apps/fishing-map/public/locales/fr/data-terminology.json
  apps/fishing-map/public/locales/fr/translations.json
  apps/fishing-map/public/locales/id/data-terminology.json
  apps/fishing-map/public/locales/id/translations.json
  apps/fishing-map/public/locales/pt/data-terminology.json
  apps/fishing-map/public/locales/pt/translations.json
  apps/fishing-map/public/locales/val/data-terminology.json
  apps/fishing-map/public/locales/val/translations.json
Labels: fishing-map

#2578 show tooltip on hovered features
  apps/fishing-map/features/dataviews/dataviews.utils.ts
  apps/fishing-map/features/map/Map.tsx
  apps/fishing-map/features/map/map-bounds.hooks.ts
  apps/fishing-map/features/map/map-interactions.hooks.ts
  apps/fishing-map/features/map/map-sources.hooks.ts
  apps/fishing-map/features/map/map.hooks.ts
  apps/fishing-map/features/map/popups/ActivityLayers.tsx
  apps/fishing-map/features/map/popups/ContextLayers.hooks.ts
  apps/fishing-map/features/map/popups/ContextLayers.tsx
  apps/fishing-map/features/map/popups/ContextLayersRow.tsx
  apps/fishing-map/features/map/popups/DetectionsLayers.tsx
  apps/fishing-map/features/map/popups/EnvironmentLayers.tsx
  apps/fishing-map/features/map/popups/MapPopups.tsx
  apps/fishing-map/features/map/popups/PopupWrapper.tsx
  apps/fishing-map/features/map/popups/UserContextLayers.tsx
  apps/fishing-map/features/map/popups/UserPointsLayers.tsx
  apps/fishing-map/features/map/popups/WorkspacePointsLayers.tsx
  apps/fishing-map/features/reports/activity/ReportActivityEvolution.tsx
  apps/fishing-map/features/reports/reports-geo.utils.ts
  apps/fishing-map/features/reports/reports-timeseries.hooks.ts
  apps/fishing-map/features/reports/reports-timeseries.utils.ts
  apps/fishing-map/features/reports/reports.hooks.ts
  apps/fishing-map/features/search/basic/SearchBasicResult.tsx
  apps/fishing-map/features/timebar/TimebarActivityGraph.hooks.ts
  apps/fishing-map/features/timebar/timebar.utils.ts
  apps/fishing-map/features/workspace/environmental/environmental.hooks.ts
  apps/fishing-map/features/workspaces-list/WorkspaceWizard.tsx
  apps/fishing-map/routes/routes.middlewares.ts
  apps/fourwings-explorer/features/analysis/AnalysisEvolutionGraph.tsx
  libs/data-transforms/src/features/filter-features-by-bounds.ts
  libs/datasets-client/src/datasets.utils.ts
  libs/datasets-client/src/index.ts
  libs/datasets-client/src/resolve-endpoint.ts
  libs/deck-layer-composer/src/hooks/deck-layers-composer.hooks.ts
  libs/deck-layer-composer/src/hooks/deck-layers-interaction.hooks.ts
  libs/deck-layer-composer/src/hooks/deck-layers-legends.hooks.ts
  libs/deck-layer-composer/src/resolvers/context.ts
  libs/deck-layer-composer/src/resolvers/dataviews.ts
  libs/deck-layer-composer/src/resolvers/fourwings.ts
  libs/deck-layer-composer/src/resolvers/index.ts
  libs/deck-layers/src/index.ts
  libs/deck-layers/src/layers/context/ContextLayer.ts
  libs/deck-layers/src/layers/context/EEZLayer.ts
  libs/deck-layers/src/layers/context/context.config.ts
  libs/deck-layers/src/layers/context/context.types.ts
  libs/deck-layers/src/layers/context/context.utils.ts
  libs/deck-layers/src/layers/context/index.ts
  libs/deck-layers/src/layers/fourwings/FourwingsHeatmapLayer.ts
  libs/deck-layers/src/layers/fourwings/FourwingsHeatmapStaticLayer.ts
  libs/deck-layers/src/layers/fourwings/FourwingsHeatmapTileLayer.ts
  libs/deck-layers/src/layers/fourwings/FourwingsLayer.ts
  libs/deck-layers/src/layers/fourwings/fourwings.config.ts
  libs/deck-layers/src/layers/fourwings/fourwings.types.ts
  libs/deck-layers/src/layers/fourwings/fourwings.utils.ts
  libs/deck-layers/src/layers/fourwings/index.ts
  libs/deck-layers/src/utils/coordinates.ts
  libs/deck-layers/src/utils/layers.ts
  libs/deck-loaders/src/fourwings/lib/parse-fourwings.ts
  libs/deck-loaders/src/fourwings/lib/types.ts
Labels: fishing-map, deck-layers, deck-layer-composer

#2580 New Crowdin updates
  apps/fishing-map/public/locales/en/data-terminology.json
  apps/fishing-map/public/locales/en/translations.json
  apps/fishing-map/public/locales/es/data-terminology.json
  apps/fishing-map/public/locales/es/translations.json
  apps/fishing-map/public/locales/fr/data-terminology.json
  apps/fishing-map/public/locales/fr/translations.json
  apps/fishing-map/public/locales/id/data-terminology.json
  apps/fishing-map/public/locales/id/translations.json
  apps/fishing-map/public/locales/pt/data-terminology.json
  apps/fishing-map/public/locales/pt/translations.json
  apps/fishing-map/public/locales/source/data-terminology.json
  apps/fishing-map/public/locales/source/translations.json
Labels: fishing-map

#2581 New Crowdin updates
  apps/fishing-map/public/locales/en/data-terminology.json
  apps/fishing-map/public/locales/es/data-terminology.json
  apps/fishing-map/public/locales/fr/data-terminology.json
  apps/fishing-map/public/locales/id/data-terminology.json
  apps/fishing-map/public/locales/pt/data-terminology.json
  apps/fishing-map/public/locales/source/data-terminology.json
Labels: fishing-map
