Repository GlobalFishingWatch/frontend, pull requests merged in 2024-04, with the labels that each got.

#2582 New Crowdin updates
  apps/fishing-map/public/locales/en/translations.json
  apps/fishing-map/public/locales/es/data-terminology.json
  apps/fishing-map/public/locales/es/translations.json
  apps/fishing-map/public/locales/fr/data-terminology.json
  apps/fishing-map/public/locales/fr/translations.json
  apps/fishing-map/public/locales/pt/data-terminology.json
  apps/fishing-map/public/locales/pt/translations.json
Labels: fishing-map

#2586 New Crowdin updates
  apps/fishing-map/public/locales/en/data-terminology.json
  apps/fishing-map/public/locales/es/data-terminology.json
  apps/fishing-map/public/locales/fr/data-terminology.json
  apps/fishing-map/public/locales/pt/data-terminology.json
Labels: fishing-map

#2588 Fishing map/insights changes
  apps/fishing-map/features/map/map-sources.hooks.ts
  apps/fishing-map/features/timebar/timebar.utils.ts
  apps/fishing-map/features/vessel/activity/vessels-activity.selectors.ts
  apps/fishing-map/features/vessel/insights/InsightEventsDetails.tsx
  apps/fishing-map/features/vessel/insights/InsightFishing.tsx
  apps/fishing-map/features/vessel/insights/InsightMOUList.tsx
  apps/fishing-map/features/vessel/insights/Insights.module.css
  apps/fishing-map/features/vessel/insights/Insights.tsx
Labels: fishing-map

#2585 Deck-migration/vessels
  apps/fishing-map/data/layer-library/layers-environment.ts
  apps/fishing-map/features/dataviews/dataviews.slice.ts
  apps/fishing-map/features/dataviews/selectors/dataviews.instances.selectors.ts
  apps/fishing-map/features/map/map-layers.hooks.ts
  apps/fishing-map/features/map/map.hooks.ts
  apps/fishing-map/features/resources/resources.selectors.thinning.ts
  apps/fishing-map/features/resources/resources.utils.ts
  apps/fishing-map/features/search/basic/TrackFootprint.tsx
  apps/fishing-map/features/sidebar/Sidebar.tsx
  apps/fishing-map/features/vessel/insights/InsightGapsDetails.tsx
  apps/fishing-map/features/vessel/insights/InsightWrapper.tsx
  apps/fishing-map/features/vessel/insights/Insights.tsx
  apps/fishing-map/features/vessel/selectors/vessel.resources.selectors.ts
  apps/fishing-map/features/workspace/common/FitBounds.tsx
  apps/fishing-map/features/workspace/workspace.selectors.ts
  apps/fishing-map/project.json
  libs/api-types/src/events.ts
  libs/api-types/src/index.ts
  libs/api-types/src/resources.ts
  libs/api-types/src/tracks.ts
  libs/data-transforms/src/list-to-track-segments/list-to-track-segments.ts
  libs/data-transforms/src/merge-track-chunks/index.ts
  libs/data-transforms/src/segments/segments-timerange-filter.ts
  libs/data-transforms/src/segments/segments-to-bbox.ts
  libs/data-transforms/src/segments/segments-to-geojson.ts
  libs/data-transforms/src/track-value-array-to-segments/track-value-array-to-segments.ts
  libs/dataviews-client/src/resources/get-resources.ts
  libs/dataviews-client/src/resources/resources-slice.ts
  libs/deck-layer-composer/src/hooks/deck-layers-legends.hooks.ts
  libs/deck-layer-composer/src/resolvers/types.ts
  libs/deck-layer-composer/src/resolvers/vessels.ts
  libs/deck-layers/src/layers/fourwings/FourwingsHeatmapLayer.ts
  libs/deck-layers/src/layers/fourwings/FourwingsHeatmapTileLayer.ts
  libs/deck-layers/src/layers/fourwings/fourwings.utils.ts
  libs/deck-layers/src/layers/vessel/VesselEventsLayer.ts
  libs/deck-layers/src/layers/vessel/VesselLayer.ts
  libs/deck-layers/src/layers/vessel/VesselTrackLayer.ts
  libs/deck-layers/src/layers/vessel/vessel.config.ts
  libs/deck-loaders/project.json
  libs/deck-loaders/src/fourwings/fourwings-loader.ts
  libs/deck-loaders/src/fourwings/lib/parse-fourwings.ts
  libs/deck-loaders/src/fourwings/lib/types.ts
  libs/deck-loaders/src/loaders.config.ts
  libs/deck-loaders/src/vessels/events-loader.ts
  libs/deck-loaders/src/vessels/index.ts
  libs/deck-loaders/src/vessels/lib/parse-events.ts
  libs/deck-loaders/src/vessels/lib/parse-tracks.ts
  libs/deck-loaders/src/vessels/lib/types.ts
  libs/deck-loaders/src/vessels/track-loader.ts
  libs/deck-loaders/src/vessels/tracks-loader.ts
  libs/deck-loaders/src/vessels/workers/events-worker.ts
  libs/deck-loaders/src/vessels/workers/tracks-worker.ts
  libs/layer-composer/src/generators/types.ts
  libs/layer-composer/src/generators/vessel-events/vessel-events.utils.ts
  package.json
  yarn.lock
Labels: fishing-map, dataviews-client, layer-composer, api-types, data-transforms, deck-layers, deck-loaders, deck-layer-composer

#2589 support filters without schemas in advanced search
  apps/fishing-map/features/datasets/datasets.utils.ts
  apps/fishing-map/features/search/advanced/SearchAdvancedFilters.tsx
  apps/fishing-map/features/search/advanced/advanced-search.utils.ts
  apps/fishing-map/features/search/search.config.selectors.ts
  apps/fishing-map/features/search/search.config.ts
  apps/fishing-map/features/search/search.slice.ts
  apps/fishing-map/types/index.ts
  libs/api-client/src/utils/search.ts
Labels: fishing-map, api-client, deploy-dev

#2592 fix search supported only for selfReportedInfo
  apps/fishing-map/features/datasets/datasets.utils.ts
  apps/fishing-map/features/search/advanced/SearchAdvancedFilters.tsx
  apps/fishing-map/features/search/advanced/advanced-search.utils.ts
  apps/fishing-map/features/search/search.slice.ts
  libs/api-client/src/utils/search.ts
Labels: fishing-map, api-client

#2587 Normalize layers load state
  apps/fishing-map/features/map/Map.tsx
  apps/fishing-map/features/workspace/activity/ActivityAuxiliaryLayer.tsx
  apps/fishing-map/features/workspace/vessels/VesselLayerPanel.tsx
  libs/deck-layer-composer/src/hooks/deck-layers-state.hooks.ts
  libs/deck-layers/src/layers/basemap/BasemapLayer.ts
  libs/deck-layers/src/layers/context/ContextLayer.ts
  libs/deck-layers/src/layers/fourwings/FourwingsLayer.ts
  libs/deck-layers/src/layers/vessel/VesselEventsLayer.ts
  libs/deck-layers/src/layers/vessel/VesselLayer.ts
  libs/deck-layers/src/layers/vessel/VesselTrackLayer.ts
  libs/deck-layers/src/types.ts
Labels: fishing-map, deck-layers, deck-layer-composer

#2594 New Crowdin updates
  apps/fishing-map/public/locales/en/translations.json
  apps/fishing-map/public/locales/es/data-terminology.json
  apps/fishing-map/public/locales/es/layer-library.json
  apps/fishing-map/public/locales/es/translations.json
  apps/fishing-map/public/locales/fr/data-terminology.json
  apps/fishing-map/public/locales/fr/translations.json
  apps/fishing-map/public/locales/id/translations.json
  apps/fishing-map/public/locales/pt/data-terminology.json
  apps/fishing-map/public/locales/pt/translations.json
  apps/fishing-map/public/locales/val/translations.json
Labels: fishing-map

#2596 New Crowdin updates
  apps/fishing-map/public/locales/es/data-terminology.json
  apps/fishing-map/public/locales/es/translations.json
  apps/fishing-map/public/locales/fr/data-terminology.json
  apps/fishing-map/public/locales/fr/translations.json
  apps/fishing-map/public/locales/pt/data-terminology.json
  apps/fishing-map/public/locales/pt/translations.json
  libs/i18n-labels/pt/datasets.json
Labels: fishing-map, i18n-labels

#2597 add generic typeError from fetch api
  apps/fishing-map/features/reports/Report.tsx
  libs/api-client/src/utils/errors.ts
Labels: fishing-map, api-client

#2598 KML errors
  libs/data-transforms/src/list-to-track-segments/list-to-track-segments.ts
  libs/data-transforms/src/schema/schema.ts
Labels: data-transforms

#2595 data error popup
  apps/fishing-map/data/default-workspaces/workspace.development.ts
  apps/fishing-map/data/default-workspaces/workspace.production.ts
  apps/fishing-map/features/modals/Modals.tsx
  apps/fishing-map/features/welcome/Welcome.tsx
  apps/fishing-map/features/welcome/welcome.content.ts
  apps/fishing-map/features/workspace/highlight-panel/HighlightPanel.tsx
  apps/fishing-map/features/workspace/highlight-panel/highlight-panel.content.ts
Labels: fishing-map

#2591 improve 4wings rendering
  apps/fishing-map/features/workspace/common/MapLegend.tsx
  libs/deck-layer-composer/src/hooks/deck-layers-legends.hooks.ts
  libs/deck-layers/src/layers/fourwings/FourwingsHeatmapLayer.ts
  libs/deck-layers/src/layers/fourwings/FourwingsHeatmapStaticLayer.ts
  libs/deck-layers/src/layers/fourwings/FourwingsHeatmapTileLayer.ts
  libs/deck-layers/src/layers/fourwings/fourwings.types.ts
  libs/deck-layers/src/layers/fourwings/fourwings.utils.ts
  libs/deck-layers/src/utils/colorRamps.ts
  libs/deck-layers/src/utils/colors.ts
  libs/layer-composer/src/generators/heatmap/util/colors.ts
Labels: fishing-map, layer-composer, deck-layers, deck-layer-composer

#2599 New Crowdin updates
  apps/fishing-map/public/locales/en/translations.json
Labels: fishing-map

#2602 New Crowdin updates
  apps/fishing-map/public/locales/en/data-terminology.json
  apps/fishing-map/public/locales/val/data-terminology.json
Labels: fishing-map

#2605 New Crowdin updates
  apps/fishing-map/public/locales/en/translations.json
Labels: fishing-map

#2593 Cell interactions click
  apps/fishing-map/data/workspaces.ts
  apps/fishing-map/features/map/Map.tsx
  apps/fishing-map/features/map/map-interactions.hooks.ts
  apps/fishing-map/features/map/map.hooks.ts
  apps/fishing-map/features/map/map.slice.ts
  apps/fishing-map/features/map/overlays/rulers/rulers.hooks.ts
  apps/fishing-map/features/map/popups/ActivityLayers.tsx
  apps/fishing-map/features/map/popups/DetectionsLayers.tsx
  apps/fishing-map/features/map/popups/MapPopups.tsx
  apps/fishing-map/features/map/popups/PopupWrapper.tsx
  apps/fishing-map/features/map/popups/VesselsTable.tsx
  apps/fishing-map/features/sidebar/CategoryTabs.tsx
  apps/fishing-map/features/vessel/Vessel.tsx
  apps/fishing-map/features/workspace/environmental/environmental.hooks.ts
  apps/fishing-map/features/workspace/events/events.hooks.ts
  apps/vessel-history/features/dataviews/dataviews.utils.ts
  libs/api-types/src/dataviews.ts
  libs/datasets-client/src/resolve-endpoint.ts
  libs/deck-layer-composer/src/hooks/deck-layers-composer.hooks.ts
  libs/deck-layer-composer/src/hooks/deck-layers-interaction.hooks.ts
  libs/deck-layer-composer/src/hooks/deck-layers-legends.hooks.ts
  libs/deck-layer-composer/src/hooks/index.ts
  libs/deck-layer-composer/src/index.ts
  libs/deck-layer-composer/src/interactions/deck-layers-interaction.hooks.ts
  libs/deck-layer-composer/src/interactions/index.ts
  libs/deck-layer-composer/src/interactions/interaction-features.utils.ts
  libs/deck-layer-composer/src/interactions/types.ts
  libs/deck-layer-composer/src/resolvers/basemap.ts
  libs/deck-layer-composer/src/resolvers/clusters.ts
  libs/deck-layer-composer/src/resolvers/fourwings.ts
  libs/deck-layer-composer/src/resolvers/types.ts
  libs/deck-layer-composer/src/types.ts
  libs/deck-layers/src/index.ts
  libs/deck-layers/src/layers/basemap/BasemapLayer.ts
  libs/deck-layers/src/layers/basemap/basemap.types.ts
  libs/deck-layers/src/layers/basemap/index.ts
  libs/deck-layers/src/layers/cluster/ClusterLayer.ts
  libs/deck-layers/src/layers/cluster/cluster.types.ts
  libs/deck-layers/src/layers/cluster/index.ts
  libs/deck-layers/src/layers/context/ContextLayer.ts
  libs/deck-layers/src/layers/context/context.types.ts
  libs/deck-layers/src/layers/fourwings/FourwingsHeatmapLayer.ts
  libs/deck-layers/src/layers/fourwings/fourwings.types.ts
  libs/deck-layers/src/layers/rulers/RulersLayer.ts
  libs/deck-layers/src/layers/rulers/index.ts
  libs/deck-layers/src/layers/rulers/rulers.config.ts
  libs/deck-layers/src/layers/rulers/rulers.types.ts
  libs/deck-layers/src/layers/rulers/rulers.utils.ts
  libs/deck-layers/src/types.ts
  libs/deck-loaders/src/fourwings/helpers/cells.ts
  libs/deck-loaders/src/fourwings/lib/parse-fourwings.ts
  libs/deck-loaders/src/fourwings/lib/types.ts
  package.json
  yarn.lock
Labels: fishing-map, vessel-history, api-types, deck-layers, deck-loaders, deck-layer-composer

#2603 Deck migration/vessel layer interaction
  apps/fishing-map/features/map/map-interaction.utils.ts
  apps/fishing-map/features/map/map-interactions.hooks.ts
  apps/fishing-map/features/map/popups/PopupWrapper.tsx
  apps/fishing-map/features/map/popups/VesselEventsLayers.tsx
  apps/fishing-map/utils/events.tsx
  libs/deck-layer-composer/src/resolvers/vessels.ts
  libs/deck-layer-composer/src/types.ts
  libs/deck-layers/src/index.ts
  libs/deck-layers/src/layers/rulers/index.ts
  libs/deck-layers/src/layers/rulers/rulers.types.ts
  libs/deck-layers/src/layers/vessel/VesselLayer.ts
  libs/deck-layers/src/layers/vessel/index.ts
  libs/deck-layers/src/layers/vessel/vessel.config.ts
  libs/deck-layers/src/layers/vessel/vessel.types.ts
  libs/deck-layers/src/types.ts
  libs/deck-loaders/project.json
  libs/deck-loaders/src/vessels/events-loader.ts
Labels: fishing-map, deck-layers, deck-loaders, deck-layer-composer

#2604 cleanup interactions leftlovers and fix build
  apps/fishing-map/data/config.ts
  apps/fishing-map/features/map/map-interaction.utils.ts
  apps/fishing-map/features/map/map-interactions.hooks.ts
  apps/fishing-map/features/map/map.hooks.ts
  apps/fishing-map/features/map/map.slice.ts
  apps/fishing-map/features/map/popups/ActivityLayers.tsx
  apps/fishing-map/features/map/popups/Popup.module.css
  apps/fishing-map/features/map/popups/VesselsTable.tsx
  apps/fishing-map/features/timebar/timebar.utils.ts
  apps/fishing-map/project.json
  libs/deck-layer-composer/src/hooks/deck-layers-legends.hooks.ts
  libs/deck-layer-composer/src/interactions/interaction-features.utils.ts
  libs/deck-layer-composer/src/interactions/types.ts
  libs/deck-layer-composer/src/resolvers/basemap.ts
  libs/deck-layer-composer/src/resolvers/clusters.ts
  libs/deck-layer-composer/src/resolvers/context.ts
  libs/deck-layer-composer/src/resolvers/fourwings.ts
  libs/deck-layer-composer/src/resolvers/index.ts
  libs/deck-layer-composer/src/resolvers/tile-cluster.ts
  libs/deck-layer-composer/src/resolvers/types.ts
  libs/deck-layer-composer/src/resolvers/vessels.ts
  libs/deck-layer-composer/src/types.ts
  libs/deck-layers/src/layers/cluster/ClusterLayer.ts
  libs/deck-layers/src/layers/context/context.types.ts
  libs/deck-layers/src/layers/fourwings/FourwingsHeatmapLayer.ts
  libs/deck-layers/src/layers/fourwings/FourwingsHeatmapStaticLayer.ts
  libs/deck-layers/src/layers/fourwings/FourwingsPositionsTileLayer.ts
  libs/deck-layers/src/layers/fourwings/fourwings.types.ts
  libs/deck-layers/src/layers/vessel/VesselLayer.ts
  libs/deck-layers/src/types.ts
  libs/deck-layers/src/utils/layers.ts
Labels: fishing-map, deck-layers, deck-layer-composer

#2608 New Crowdin updates
  apps/fishing-map/public/locales/en/translations.json
  apps/fishing-map/public/locales/es/translations.json
  apps/fishing-map/public/locales/fr/translations.json
  apps/fishing-map/public/locales/pt/translations.json
Labels: fishing-map

#2610 Deck migration/filter visible environment values
  libs/deck-layers/src/layers/fourwings/FourwingsHeatmapLayer.ts
  libs/deck-layers/src/layers/fourwings/FourwingsHeatmapStaticLayer.ts
  libs/deck-layers/src/layers/fourwings/FourwingsHeatmapTileLayer.ts
  libs/deck-layers/src/layers/fourwings/fourwings.utils.ts
  libs/deck-layers/src/utils/colorRamps.ts
Labels: deck-layers

#2611 fix translation key
  apps/fishing-map/features/vessel/insights/InsightFishing.tsx
Labels: fishing-map

#2613 Deck-migration/small-stuff
  libs/deck-layers/src/layers/cluster/ClusterLayer.ts
  libs/deck-layers/src/layers/fourwings/FourwingsHeatmapLayer.ts
  libs/deck-layers/src/layers/fourwings/FourwingsHeatmapStaticLayer.ts
  libs/deck-layers/src/layers/vessel/VesselLayer.ts
Labels: deck-layers

#2615 show highlighted track segments and events on top of the rest
  libs/deck-layers/src/layers/vessel/VesselEventsLayer.ts
  libs/deck-layers/src/layers/vessel/VesselLayer.ts
  libs/deck-layers/src/layers/vessel/VesselTrackLayer.ts
  libs/deck-layers/src/layers/vessel/vessel.config.ts
  libs/deck-layers/src/layers/vessel/vessel.utils.ts
Labels: deck-layers

#2616 New Crowdin updates
  libs/i18n-labels/en/datasets.json
  libs/i18n-labels/es/datasets.json
  libs/i18n-labels/fr/datasets.json
  libs/i18n-labels/id/datasets.json
  libs/i18n-labels/pt/datasets.json
  libs/i18n-labels/source/datasets.json
  libs/i18n-labels/val/datasets.json
Labels: i18n-labels

#2614 Deck migration/draw layer
  .gitignore
  apps/fishing-map/features/map/Map.tsx
  apps/fishing-map/features/map/MapDrawControl.tsx
  apps/fishing-map/features/map/map.draw.utils.ts
  apps/fishing-map/features/map/overlays/draw/DrawDialog.module.css
  apps/fishing-map/features/map/overlays/draw/DrawDialog.tsx
  apps/fishing-map/features/map/overlays/draw/draw.hooks.ts
  libs/deck-layers/package.json
  libs/deck-layers/src/index.ts
  libs/deck-layers/src/layers/draw/DrawLayer.ts
  libs/deck-layers/src/layers/draw/index.ts
  package.json
  yarn.lock
Labels: fishing-map, deck-layers

#2619 maplibre cleanup
  apps/fishing-map/features/app/App.tsx
  apps/fishing-map/features/debug/DebugMenu.tsx
  apps/fishing-map/features/download/DownloadActivityModal.tsx
  apps/fishing-map/features/map/Map.tsx
  apps/fishing-map/features/map/MapScreenshot.tsx
  apps/fishing-map/features/map/controls/AnnotationsControl.tsx
  apps/fishing-map/features/map/controls/MapControls.module.css
  apps/fishing-map/features/map/controls/MapInfo.tsx
  apps/fishing-map/features/map/controls/MapScaleControl.module.css
  apps/fishing-map/features/map/controls/MapScaleControl.tsx
  apps/fishing-map/features/map/controls/RulersControl.tsx
  apps/fishing-map/features/map/map-bounds.hooks.ts
  apps/fishing-map/features/map/map-context.hooks.ts
  apps/fishing-map/features/map/map-interactions.hooks.ts
  apps/fishing-map/features/map/map-layers.hooks.ts
  apps/fishing-map/features/map/map-sources.atom.ts
  apps/fishing-map/features/map/map-sources.hooks.ts
  apps/fishing-map/features/map/map-state.hooks.ts
  apps/fishing-map/features/map/map-style.hooks.ts
  apps/fishing-map/features/map/map.selectors.ts
  apps/fishing-map/features/map/overlays/draw/DrawDialog.tsx
  apps/fishing-map/features/map/popups/ContextLayers.hooks.ts
  apps/fishing-map/features/map/popups/Popup.module.css
  apps/fishing-map/features/map/popups/PopupWrapper.tsx
  apps/fishing-map/features/reports/reports-timeseries.hooks.ts
  apps/fishing-map/features/reports/title/ReportTitle.tsx
  apps/fishing-map/features/sidebar/CategoryTabs.tsx
  apps/fishing-map/features/sidebar/SidebarHeader.tsx
  apps/fishing-map/features/timebar/Timebar.tsx
  apps/fishing-map/features/timebar/timebar.hooks.ts
  apps/fishing-map/features/vessel/Vessel.tsx
  apps/fishing-map/features/workspace/context-areas/ContextAreaLayerPanel.tsx
  apps/fishing-map/features/workspace/context-areas/context.utils.ts
  apps/fishing-map/features/workspace/environmental/environmental.utils.ts
  apps/fishing-map/features/workspace/environmental/histogram.hooks.ts
  apps/fishing-map/features/workspace/highlight-panel/HighlightPanel.tsx
  apps/fishing-map/features/workspace/user/UserLayerTrackPanel.tsx
  apps/fishing-map/pages/_app.tsx
  apps/fishing-map/pages/index.tsx
  apps/fishing-map/pages/styles.css
  apps/fishing-map/public/locales/source/translations.json
  libs/deck-layer-composer/src/hooks/deck-layers-state.hooks.ts
  libs/deck-layers/src/layers/context/ContextLayer.ts
  libs/deck-layers/src/layers/fourwings/FourwingsHeatmapLayer.ts
  libs/deck-layers/src/layers/fourwings/FourwingsHeatmapTileLayer.ts
  libs/deck-layers/src/layers/fourwings/FourwingsLayer.ts
  libs/deck-loaders/src/fourwings/lib/types.ts
  yarn.lock
Labels: fishing-map, deck-layers, deck-loaders, deck-layer-composer

#2620 simplify retrieving data with aggregatedValues
  apps/fishing-map/features/workspace/environmental/histogram.hooks.ts
  libs/deck-layers/src/layers/fourwings/FourwingsHeatmapLayer.ts
  libs/deck-layers/src/layers/fourwings/FourwingsHeatmapTileLayer.ts
  libs/deck-layers/src/layers/fourwings/FourwingsLayer.ts
Labels: fishing-map, deck-layers

#2624 vessel track filters
  apps/fishing-map/features/datasets/datasets.mock.ts
  apps/fishing-map/features/datasets/datasets.utils.ts
  apps/fishing-map/features/dataviews/selectors/dataviews.instances.selectors.ts
  apps/fishing-map/features/map/map-bounds.hooks.ts
  apps/fishing-map/features/resources/resources.utils.ts
  apps/fishing-map/features/search/basic/SearchBasicResult.tsx
  apps/fishing-map/features/timebar/Timebar.tsx
  apps/fishing-map/features/timebar/TimebarSettings.tsx
  apps/fishing-map/features/timebar/timebar-vessel.hooks.ts
  apps/fishing-map/features/timebar/timebar.selectors.ts
  apps/fishing-map/features/workspace/common/LayerSchemaFilter.tsx
  apps/fishing-map/features/workspace/shared/LayerPanel.module.css
  apps/fishing-map/features/workspace/vessels/VesselLayerPanel.tsx
  apps/vessel-history/features/dataviews/dataviews.selectors.ts
  libs/api-types/src/dataviews.ts
  libs/api-types/src/tracks.ts
  libs/data-transforms/src/segments/segments-to-geojson.ts
  libs/dataviews-client/src/resources/get-resources.ts
  libs/deck-layer-composer/src/resolvers/dataviews.ts
  libs/deck-layer-composer/src/resolvers/index.ts
  libs/deck-layer-composer/src/resolvers/vessels.ts
  libs/deck-layers/src/layers/fourwings/FourwingsHeatmapLayer.ts
  libs/deck-layers/src/layers/vessel/VesselLayer.ts
  libs/deck-layers/src/layers/vessel/VesselTrackLayer.ts
  libs/deck-layers/src/layers/vessel/vessel.config.ts
  libs/deck-layers/src/layers/vessel/vessel.types.ts
  libs/deck-loaders/src/vessels/lib/parse-tracks.ts
  libs/deck-loaders/src/vessels/lib/types.ts
  libs/ui-components/src/slider/Slider.tsx
Labels: fishing-map, vessel-history, dataviews-client, api-types, data-transforms, deck-layers, deck-loaders, deck-layer-composer

#2623 parse deckgl protobuffer format to render tracks
  apps/fishing-map/features/datasets/datasets.mock.ts
  apps/fishing-map/features/datasets/datasets.utils.ts
  apps/fishing-map/features/dataviews/selectors/dataviews.instances.selectors.ts
  apps/fishing-map/features/map/map-bounds.hooks.ts
  apps/fishing-map/features/map/map-interactions.hooks.ts
  apps/fishing-map/features/resources/resources.utils.ts
  apps/fishing-map/features/search/basic/SearchBasicResult.tsx
  apps/fishing-map/features/timebar/Timebar.tsx
  apps/fishing-map/features/timebar/TimebarSettings.tsx
  apps/fishing-map/features/timebar/timebar-vessel.hooks.ts
  apps/fishing-map/features/timebar/timebar.selectors.ts
  apps/fishing-map/features/workspace/common/LayerSchemaFilter.tsx
  apps/fishing-map/features/workspace/shared/LayerPanel.module.css
  apps/fishing-map/features/workspace/vessels/VesselLayerPanel.tsx
  apps/vessel-history/features/dataviews/dataviews.selectors.ts
  libs/api-types/src/dataviews.ts
  libs/api-types/src/tracks.ts
  libs/data-transforms/src/segments/segments-to-geojson.ts
  libs/dataviews-client/src/resources/get-resources.ts
  libs/deck-layer-composer/src/resolvers/dataviews.ts
  libs/deck-layer-composer/src/resolvers/index.ts
  libs/deck-layer-composer/src/resolvers/vessels.ts
  libs/deck-layers/src/layers/fourwings/FourwingsHeatmapLayer.ts
  libs/deck-layers/src/layers/vessel/VesselLayer.ts
  libs/deck-layers/src/layers/vessel/VesselTrackLayer.ts
  libs/deck-layers/src/layers/vessel/vessel.config.ts
  libs/deck-layers/src/layers/vessel/vessel.types.ts
  libs/deck-loaders/src/vessels/lib/parse-tracks.ts
  libs/deck-loaders/src/vessels/lib/types.ts
  libs/deck-loaders/src/vessels/lib/vessel-track-proto.ts
  libs/deck-loaders/src/vessels/tracks-loader.ts
  libs/ui-components/src/slider/Slider.tsx
Labels: fishing-map, vessel-history, dataviews-client, api-types, data-transforms, deck-layers, deck-loaders, deck-layer-composer

#2612 Feature/vv insights ta
  apps/fishing-map-e2e/src/constants/urls.ts
  apps/fishing-map-e2e/src/e2e/vessel-viewer/direct-access.cy.ts
  apps/fishing-map-e2e/src/support/app.po.ts
  apps/fishing-map-e2e/tsconfig.json
  apps/fishing-map/data/config.ts
  apps/fishing-map/features/vessel/Vessel.tsx
  apps/fishing-map/features/vessel/insights/InsightCoverage.tsx
  apps/fishing-map/features/vessel/insights/InsightFishing.tsx
  apps/fishing-map/features/vessel/insights/InsightFlagChanges.tsx
  apps/fishing-map/features/vessel/insights/InsightGaps.tsx
  apps/fishing-map/features/vessel/insights/InsightIUU.tsx
  apps/fishing-map/features/vessel/insights/InsightMOUList.tsx
  apps/fishing-map/features/workspace/highlight-panel/highlight-panel.content.ts
Labels: fishing-map, deploy-dev

#2626 update next version
  apps/fishing-map/middleware.ts
  apps/fishing-map/next.config.js
  apps/fishing-map/utils/spreadsheet.ts
  libs/i18n-labels/project.json
  package.json
  yarn.lock
Labels: fishing-map, i18n-labels

#2628 fix: missing filters
  apps/fishing-map/features/datasets/datasets.utils.ts
Labels: fishing-map

#2625 Map interactions tooltips
  apps/fishing-map/features/map/Map.tsx
  apps/fishing-map/features/map/map.hooks.ts
  apps/fishing-map/features/map/popups/MapPopups.tsx
  apps/fishing-map/features/map/popups/Popup.module.css
  apps/fishing-map/features/map/popups/PopupWrapper.tsx
  apps/fishing-map/features/map/popups/VesselsTable.tsx
  apps/fishing-map/features/timebar/timebar-vessel.hooks.ts
  libs/deck-layer-composer/src/hooks/deck-layers-composer.hooks.ts
  libs/deck-layer-composer/src/resolvers/context.ts
  libs/deck-layer-composer/src/resolvers/fourwings.ts
  libs/deck-layer-composer/src/resolvers/index.ts
  libs/deck-layer-composer/src/resolvers/types.ts
  libs/deck-layer-composer/src/resolvers/vessels.ts
  libs/deck-layers/src/layers/context/ContextLayer.ts
  libs/deck-layers/src/layers/context/context.types.ts
  libs/deck-layers/src/layers/fourwings/FourwingsHeatmapLayer.ts
  libs/deck-layers/src/layers/fourwings/FourwingsHeatmapStaticLayer.ts
  libs/deck-layers/src/layers/fourwings/FourwingsPositionsTileLayer.ts
  libs/deck-layers/src/layers/fourwings/fourwings.types.ts
  libs/deck-layers/src/layers/vessel/VesselEventsLayer.ts
  libs/deck-layers/src/layers/vessel/VesselLayer.ts
  libs/deck-layers/src/layers/vessel/vessel.types.ts
  package.json
  yarn.lock
Labels: fishing-map, deck-layers, deck-layer-composer

#2632 fix datasets upload configuration properties
  apps/fishing-map/features/datasets/upload/datasets-upload.utils.ts
  libs/data-transforms/src/schema/schema.ts
  libs/layer-composer/src/generators/utils.ts
Labels: fishing-map, layer-composer, data-transforms
