Repository GlobalFishingWatch/frontend, pull requests merged in 2024-09, with the labels that each got.

#2812 Fishing map/fix area report
  apps/fishing-map/features/areas/areas.slice.ts
  apps/fishing-map/features/datasets/upload/datasets-upload.utils.ts
  libs/data-transforms/src/dissolve/dissolve.ts
Labels: fishing-map, data-transforms

#2813 New Crowdin updates
  apps/fishing-map/public/locales/fr/translations.json
  libs/i18n-labels/fr/datasets.json
Labels: fishing-map, i18n-labels

#2817 fix voyages order
  apps/fishing-map/features/vessel/selectors/vessel.resources.selectors.ts
Labels: fishing-map

#2815 Chore/update-dependencies
  apps/api-portal/components/header/header.tsx
  apps/data-download-portal/project.json
  apps/fishing-map/cloudbuild.yaml
  apps/fishing-map/package.json
  apps/image-labeler/project.json
  apps/user-groups-admin/project.json
  cloudbuild.yaml
  libs/ui-components/src/header/Header.tsx
  package.json
  yarn.lock
Labels: fishing-map, api-portal, user-groups-admin, deploy-dev, image-labeler

#2820 get API_GATEWAY env from vite
  libs/api-client/src/config.ts
  libs/api-client/tsconfig.json
Labels: api-client

#2819 Fourwings cluster layer review
  apps/fishing-map/features/map/map-interactions.hooks.ts
  apps/fishing-map/features/map/map.slice.ts
  apps/fishing-map/features/map/popups/PopupByCategory.tsx
  apps/fishing-map/public/events-color-sprite.png
  libs/deck-layer-composer/src/resolvers/clusters.ts
  libs/deck-layers/src/layers/fourwings/clusters/FourwingsClustersLayer.ts
  libs/deck-layers/src/layers/fourwings/clusters/fourwings-clusters.types.ts
  libs/deck-layers/src/layers/fourwings/fourwings.config.ts
  libs/deck-layers/src/layers/fourwings/fourwings.types.ts
  libs/deck-layers/src/layers/fourwings/heatmap/fourwings-heatmap.utils.ts
  libs/deck-layers/src/layers/rulers/rulers.types.ts
  libs/deck-layers/src/types.ts
Labels: fishing-map, deck-layers, deck-layer-composer

#2823 New Crowdin updates
  apps/fishing-map/public/locales/en/translations.json
  apps/fishing-map/public/locales/es/translations.json
  apps/fishing-map/public/locales/fr/translations.json
  apps/fishing-map/public/locales/id/translations.json
  apps/fishing-map/public/locales/pt/translations.json
  apps/fishing-map/public/locales/val/translations.json
Labels: fishing-map

#2824 Fishing map/user feedback fixes
  apps/fishing-map/features/datasets/datasets.utils.ts
  apps/fishing-map/features/download/download.utils.ts
  apps/fishing-map/features/vessel-groups/vessel-groups.slice.ts
  libs/deck-layers/src/layers/user/UserPolygonsTileLayer.ts
Labels: fishing-map, deck-layers

#2827 MAP-1422 Fixed private search dataset by group mapping
  apps/fishing-map/features/user/user.config.ts
Labels: fishing-map, deploy-dev

#2826 New Crowdin updates
  libs/i18n-labels/fr/datasets.json
Labels: i18n-labels

#2829 feedback hot fixes
  apps/fishing-map/features/app/selectors/app.reports.selector.ts
  apps/fishing-map/features/reports/activity/ReportActivity.tsx
  apps/fishing-map/features/reports/placeholders/ReportActivityPlaceholder.tsx
  apps/fishing-map/features/reports/placeholders/placeholders.module.css
  apps/fishing-map/features/reports/reports.selectors.ts
  apps/fishing-map/features/timebar/TimebarActivityGraph.hooks.ts
  apps/fishing-map/features/workspace/user/UserLayerPanel.tsx
Labels: fishing-map

#2831 Advanced search changes
  apps/fishing-map/features/search/SearchDownload.tsx
  apps/fishing-map/features/search/advanced/SearchAdvancedFilters.tsx
  apps/fishing-map/features/search/search.slice.ts
  apps/fishing-map/features/vessel/vessel.utils.ts
  apps/fishing-map/public/locales/source/translations.json
Labels: fishing-map

#2838 Fishing map/vessel profile 3 review
  apps/fishing-map/features/sidebar/SidebarHeader.tsx
  apps/fishing-map/features/vessel-group-report/insights/VGRInsightFishing.tsx
  apps/fishing-map/features/vessel-group-report/insights/VGRInsightFlagChange.tsx
  apps/fishing-map/features/vessel-group-report/insights/VGRInsightMOU.tsx
  apps/fishing-map/features/vessel-group-report/insights/VGRInsightVesselEvents.tsx
  apps/fishing-map/features/vessel-group-report/insights/VGRInsights.module.css
  apps/fishing-map/features/vessel-group-report/vessel-group-report.slice.ts
  apps/fishing-map/features/vessel-groups/VesselGroupAddButton.tsx
  apps/fishing-map/features/vessel-groups/VesselGroupModal.tsx
  apps/fishing-map/features/vessel-groups/VesselGroupModalVessels.tsx
  apps/fishing-map/features/vessel-groups/vessel-groups.slice.ts
  apps/fishing-map/features/vessel/identity/VesselIdentityField.tsx
  apps/fishing-map/features/vessel/vessel.utils.ts
  apps/fishing-map/features/workspace/vessels/VesselsSection.tsx
  apps/fishing-map/public/locales/source/translations.json
  libs/deck-layers/src/layers/fourwings/clusters/FourwingsClustersLayer.ts
Labels: fishing-map, deck-layers

#2839 Fishing map/port visit clusters
  apps/fishing-map/data/default-workspaces/workspace.development.ts
  apps/fishing-map/data/workspaces.ts
  apps/fishing-map/features/dataviews/dataviews.mock.ts
  apps/fishing-map/features/dataviews/dataviews.utils.ts
  apps/fishing-map/public/events-color-sprite.png
  libs/api-types/src/dataviews.ts
  libs/deck-layer-composer/src/resolvers/clusters.ts
  libs/deck-layers/src/layers/fourwings/clusters/FourwingsClustersLayer.ts
  libs/deck-layers/src/layers/fourwings/clusters/fourwings-clusters.types.ts
Labels: fishing-map, api-types, deck-layers, deck-layer-composer

#2837 New Crowdin updates
  libs/i18n-labels/fr/datasets.json
Labels: i18n-labels

#2840 Fishing map/vessel viewer g4 events
  apps/fishing-map/features/search/search.hook.ts
  apps/fishing-map/features/timebar/Timebar.tsx
  apps/fishing-map/features/timebar/TimebarSettings.tsx
  libs/timebar/src/components/timeline.tsx
  libs/timebar/src/constants.ts
Labels: fishing-map, timebar

#2842 Release @gfw/fishing-map@3.0.19 preparation
  apps/fishing-map/features/app/selectors/app.reports.selector.ts
  apps/fishing-map/features/modals/Modals.tsx
  apps/fishing-map/features/reports/activity/ReportActivity.tsx
  apps/fishing-map/features/reports/placeholders/ReportActivityPlaceholder.tsx
  apps/fishing-map/features/reports/placeholders/placeholders.module.css
  apps/fishing-map/features/reports/reports.selectors.ts
  apps/fishing-map/features/search/search.hook.ts
  apps/fishing-map/features/timebar/Timebar.tsx
  apps/fishing-map/features/timebar/TimebarActivityGraph.hooks.ts
  apps/fishing-map/features/timebar/TimebarSettings.tsx
  apps/fishing-map/features/workspace/user/UserLayerPanel.tsx
  apps/image-labeler/src/features/projects-list/ProjectForm.tsx
  libs/deck-layers/src/utils/colorRamps.ts
  libs/deck-layers/src/utils/stats.ts
  libs/i18n-labels/CHANGELOG.md
  libs/i18n-labels/fr/datasets.json
  libs/i18n-labels/package.json
  libs/timebar/src/components/timeline.tsx
  libs/timebar/src/constants.ts
  package.json
  yarn.lock
Labels: fishing-map, timebar, i18n-labels, deck-layers, image-labeler

#2844 other cluster event tooltips
  apps/fishing-map/features/map/map.slice.ts
  apps/fishing-map/features/map/popups/Popup.module.css
  apps/fishing-map/features/map/popups/categories/TileClusterTooltipRow.tsx
Labels: fishing-map

#2845 refactor review
  apps/fishing-map/data/layer-library/layers-events.ts
  apps/fishing-map/features/dataviews/selectors/dataviews.resolvers.selectors.ts
  apps/fishing-map/features/reports/activity/reports-activity.slice.ts
  apps/fishing-map/features/reports/vessel-groups/insights/VGRInsightFishing.tsx
  apps/fishing-map/features/reports/vessel-groups/insights/VGRInsightGaps.tsx
  apps/fishing-map/features/reports/vessel-groups/insights/VGRInsights.module.css
  apps/fishing-map/features/reports/vessel-groups/vessel-group-report.dataviews.ts
  apps/fishing-map/features/vessel-groups/vessel-groups.slice.ts
  apps/fishing-map/features/workspace/events/EventsSection.tsx
  apps/fishing-map/public/images/layer-library/loitering.jpg
  apps/fishing-map/public/images/layer-library/port-visits.jpg
  apps/fishing-map/public/locales/source/layer-library.json
  libs/deck-layers/src/layers/fourwings/clusters/FourwingsClustersLayer.ts
  libs/deck-layers/src/utils/sort.ts
Labels: fishing-map, deck-layers

#2847 Fishing map/cluster layer tweaks
  libs/api-types/src/dataviews.ts
  libs/deck-layer-composer/src/resolvers/clusters.ts
  libs/deck-layers/src/layers/fourwings/clusters/FourwingsClustersLayer.ts
  libs/deck-layers/src/layers/fourwings/clusters/fourwings-clusters.types.ts
  libs/deck-loaders/src/fourwings/lib/parse-fourwings-clusters.ts
  libs/deck-loaders/src/fourwings/lib/types.ts
  libs/i18n-labels/source/datasets.json
Labels: i18n-labels, api-types, deck-layers, deck-loaders, deck-layer-composer

#2848 add fit bounds button and avoid some stats requests
  apps/fishing-map/features/reports/vessel-groups/VesselGroupReportLink.tsx
  apps/fishing-map/features/workspace/vessel-groups/VesselGroupsLayerPanel.tsx
  apps/fishing-map/public/locales/source/translations.json
Labels: fishing-map

#2846 VesselGroups refactor
  apps/fishing-map/features/dataviews/dataviews.utils.ts
  apps/fishing-map/features/map/map.slice.ts
  apps/fishing-map/features/modals/Modals.tsx
  apps/fishing-map/features/modals/modals.selectors.ts
  apps/fishing-map/features/reports/activity/vessels/ReportVesselsTableFooter.tsx
  apps/fishing-map/features/reports/areas/area-reports.utils.ts
  apps/fishing-map/features/reports/events/VGREventsVesselsTableFooter.tsx
  apps/fishing-map/features/reports/events/vgr-events.selectors.ts
  apps/fishing-map/features/reports/vessel-groups/VesselGroupReportTitle.tsx
  apps/fishing-map/features/reports/vessel-groups/insights/vessel-group-report-insights.selectors.ts
  apps/fishing-map/features/reports/vessel-groups/vessel-group-report.slice.ts
  apps/fishing-map/features/reports/vessel-groups/vessels/VesselGroupReportVessels.tsx
  apps/fishing-map/features/reports/vessel-groups/vessels/VesselGroupReportVesselsTable.tsx
  apps/fishing-map/features/reports/vessel-groups/vessels/VesselGroupReportVesselsTableFooter.tsx
  apps/fishing-map/features/reports/vessel-groups/vessels/vessel-group-report-vessels.selectors.ts
  apps/fishing-map/features/search/SearchActions.tsx
  apps/fishing-map/features/search/advanced/SearchAdvancedResults.tsx
  apps/fishing-map/features/user/UserVesselGroups.tsx
  apps/fishing-map/features/user/selectors/user.permissions.selectors.ts
  apps/fishing-map/features/vessel-groups/VesselGroupAddButton.tsx
  apps/fishing-map/features/vessel-groups/VesselGroupListTooltip.tsx
  apps/fishing-map/features/vessel-groups/VesselGroupModal.tsx
  apps/fishing-map/features/vessel-groups/VesselGroupModalSearch.tsx
  apps/fishing-map/features/vessel-groups/VesselGroupModalVessels.tsx
  apps/fishing-map/features/vessel-groups/vessel-groups-modal.slice.ts
  apps/fishing-map/features/vessel-groups/vessel-groups.config.ts
  apps/fishing-map/features/vessel-groups/vessel-groups.hooks.ts
  apps/fishing-map/features/vessel-groups/vessel-groups.selectors.ts
  apps/fishing-map/features/vessel-groups/vessel-groups.slice.ts
  apps/fishing-map/features/vessel-groups/vessel-groups.utils.ts
  apps/fishing-map/features/vessel/vessel.config.ts
  apps/fishing-map/features/vessel/vessel.slice.ts
  apps/fishing-map/features/vessel/vessel.utils.ts
  apps/fishing-map/features/workspace/common/LayerFilters.tsx
  apps/fishing-map/features/workspace/vessel-groups/VesselGroupsLayerPanel.tsx
  apps/fishing-map/features/workspace/vessel-groups/VesselGroupsSection.tsx
  apps/fishing-map/features/workspace/vessels/VesselsSection.tsx
  apps/fishing-map/public/locales/source/translations.json
  apps/fishing-map/reducers.ts
  libs/api-types/src/vesselGroups.ts
Labels: fishing-map, api-types

#2852 add vessels to group from report
  apps/fishing-map/features/reports/activity/reports-activity-timeseries.hooks.ts
  apps/fishing-map/features/reports/activity/vessels/ReportVesselsTableFooter.tsx
  apps/fishing-map/features/reports/areas/AreaReport.tsx
  apps/fishing-map/features/reports/areas/environment/ReportEnvironment.tsx
  apps/fishing-map/features/vessel-groups/VesselGroupAddButton.tsx
  apps/fishing-map/features/vessel-groups/vessel-groups-modal.slice.ts
  apps/fishing-map/features/vessel-groups/vessel-groups.hooks.ts
  apps/fishing-map/features/vessel-groups/vessel-groups.utils.ts
  apps/fishing-map/features/workspace/vessel-groups/VesselGroupsLayerPanel.tsx
  libs/deck-layers/src/layers/fourwings/heatmap/FourwingsHeatmapTileLayer.ts
Labels: fishing-map, deck-layers
