Repository GlobalFishingWatch/frontend, pull requests merged in 2024-05, with the labels that each got.

#2634 remove non tuna rfmo in insight events
  apps/fishing-map/features/vessel/insights/InsightFishing.tsx
  apps/fishing-map/features/vessel/insights/InsightGapsDetails.tsx
  apps/fishing-map/features/vessel/insights/insights.utils.ts
Labels: fishing-map

#2631 basic user context layer
  apps/fishing-map/features/map/map.slice.ts
  apps/fishing-map/features/map/popups/ContextLayers.hooks.ts
  apps/fishing-map/features/map/popups/ContextLayers.tsx
  apps/fishing-map/features/map/popups/ContextLayersRow.tsx
  apps/fishing-map/features/map/popups/EncounterTooltipRow.tsx
  apps/fishing-map/features/map/popups/EnvironmentLayers.tsx
  apps/fishing-map/features/map/popups/PopupWrapper.tsx
  apps/fishing-map/features/map/popups/ReportBufferLayers.tsx
  apps/fishing-map/features/map/popups/UserContextLayers.tsx
  apps/fishing-map/features/map/popups/UserPointsLayers.tsx
  libs/deck-layer-composer/src/hooks/deck-layers-composer.hooks.ts
  libs/deck-layer-composer/src/resolvers/dataviews.ts
  libs/deck-layer-composer/src/resolvers/index.ts
  libs/deck-layer-composer/src/resolvers/resolvers.ts
  libs/deck-layer-composer/src/resolvers/user.ts
  libs/deck-layers/src/index.ts
  libs/deck-layers/src/layers/cluster/cluster.types.ts
  libs/deck-layers/src/layers/context/ContextLayer.ts
  libs/deck-layers/src/layers/context/context.types.ts
  libs/deck-layers/src/layers/fourwings/fourwings.types.ts
  libs/deck-layers/src/layers/rulers/rulers.types.ts
  libs/deck-layers/src/layers/user/UserPointsTileLayer.ts
  libs/deck-layers/src/layers/user/UserPolygonsTileLayer.ts
  libs/deck-layers/src/layers/user/UserTileLayer.ts
  libs/deck-layers/src/layers/user/index.ts
  libs/deck-layers/src/layers/user/user.types.ts
  libs/deck-layers/src/layers/vessel/VesselLayer.ts
  libs/deck-layers/src/layers/vessel/vessel.types.ts
  libs/deck-layers/src/types.ts
  libs/deck-layers/src/utils/colors.ts
  libs/deck-layers/src/utils/layers.ts
Labels: fishing-map, deck-layers, deck-layer-composer

#2635 GraticulesLayer
  apps/fishing-map/data/workspaces.ts
  apps/fishing-map/features/dataviews/dataviews.mock.ts
  apps/fishing-map/features/workspace/context-areas/ContextAreaLayerPanel.tsx
  libs/api-types/src/dataviews.ts
  libs/deck-layer-composer/src/resolvers/dataviews.ts
  libs/deck-layer-composer/src/resolvers/graticules.ts
  libs/deck-layer-composer/src/resolvers/resolvers.ts
  libs/deck-layers/src/index.ts
  libs/deck-layers/src/layers/graticules/GraticulesLayer.ts
  libs/deck-layers/src/layers/graticules/graticules.data.ts
  libs/deck-layers/src/layers/graticules/graticules.types.ts
  libs/deck-layers/src/layers/graticules/graticules.utils.ts
  libs/deck-layers/src/layers/graticules/index.ts
Labels: fishing-map, api-types, deck-layers, deck-layer-composer

#2638 Deck-migration/positions-switch
  apps/fishing-map/data/config.ts
  apps/fishing-map/features/app/selectors/app.selectors.ts
  apps/fishing-map/features/map/Map.tsx
  apps/fishing-map/features/map/controls/MapControls.tsx
  apps/fishing-map/features/map/map-viewport.hooks.ts
  apps/fishing-map/features/map/map.hooks.ts
  apps/fishing-map/features/workspace/activity/ActivitySection.tsx
  apps/fishing-map/features/workspace/activity/activity.hooks.tsx
  apps/fishing-map/features/workspace/detections/DetectionsSection.tsx
  apps/fishing-map/features/workspace/shared/Sections.module.css
  apps/fishing-map/public/locales/source/translations.json
  apps/fishing-map/types/index.ts
  libs/api-types/src/dataviews.ts
  libs/deck-layer-composer/src/hooks/deck-layers-state.hooks.ts
  libs/deck-layer-composer/src/resolvers/dataviews.ts
  libs/deck-layer-composer/src/resolvers/fourwings.ts
  libs/deck-layer-composer/src/resolvers/types.ts
  libs/deck-layers/src/layers/basemap/TilesBoundariesLayer.ts
  libs/deck-layers/src/layers/fourwings/FourwingsLayer.ts
  libs/deck-layers/src/layers/fourwings/fourwings.config.ts
  libs/deck-layers/src/layers/fourwings/fourwings.types.ts
  libs/deck-layers/src/layers/fourwings/heatmap/FourwingsHeatmapStaticLayer.ts
  libs/deck-layers/src/layers/fourwings/heatmap/FourwingsHeatmapTileLayer.ts
  libs/deck-layers/src/layers/fourwings/positions/FourwingsPositionsTileLayer.ts
  libs/deck-layers/src/layers/fourwings/positions/fourwings-positions.types.ts
  libs/ui-components/src/assets/icons/vessel-disabled.svg
  libs/ui-components/src/choice/Choice.tsx
  libs/ui-components/src/icon/Icon.tsx
Labels: fishing-map, api-types, deck-layers, deck-layer-composer

#2640 New Crowdin updates
  apps/fishing-map/public/locales/en/layer-library.json
  apps/fishing-map/public/locales/es/layer-library.json
  apps/fishing-map/public/locales/fr/layer-library.json
  apps/fishing-map/public/locales/id/layer-library.json
  apps/fishing-map/public/locales/pt/layer-library.json
  apps/fishing-map/public/locales/val/layer-library.json
Labels: fishing-map

#2641 Deck migration/context layers review
  apps/fishing-map/features/dataviews/dataviews.mock.ts
  libs/deck-layer-composer/src/resolvers/context.ts
  libs/deck-layers/src/layers/context/ContextLayer.ts
  libs/deck-layers/src/layers/context/context.types.ts
  libs/deck-layers/src/layers/context/context.utils.ts
  libs/deck-layers/src/utils/layers.ts
Labels: fishing-map, deck-layers, deck-layer-composer

#2630 dataviews for pipe 3
  apps/fishing-map/data/default-workspaces/workspace.development.ts
  apps/fishing-map/data/default-workspaces/workspace.production.ts
  apps/fishing-map/data/workspaces.ts
  apps/fishing-map/features/dataviews/dataviews.mock.ts
  apps/fishing-map/features/vessel/vessel.config.ts
Labels: fishing-map, deploy-staging

#2637 time compare data and resolver
  apps/fishing-map/features/map/Map.tsx
  apps/fishing-map/features/map/MapLegends.tsx
  apps/fishing-map/features/map/TimeComparisonLegend.tsx
  apps/fishing-map/features/map/map-legends.hooks.ts
  apps/fishing-map/features/reports/activity/ReportActivityBeforeAfterGraph.tsx
  apps/fishing-map/features/reports/activity/ReportActivityPeriodComparisonGraph.tsx
  apps/fishing-map/features/reports/reports-timecomparison.hooks.ts
  apps/fishing-map/features/reports/reports-timeseries.hooks.ts
  apps/fishing-map/features/reports/reports-timeseries.utils.ts
  apps/fishing-map/features/reports/reports.hooks.ts
  apps/fishing-map/features/timebar/TimebarActivityGraph.hooks.ts
  apps/fishing-map/features/timebar/timebar.utils.ts
  libs/dataviews-client/src/url-workspace/url-workspace.ts
  libs/deck-layer-composer/src/resolvers/dataviews.ts
  libs/deck-layer-composer/src/resolvers/fourwings.ts
  libs/deck-layers/src/layers/fourwings/FourwingsLayer.ts
  libs/deck-layers/src/layers/fourwings/fourwings.config.ts
  libs/deck-layers/src/layers/fourwings/heatmap/FourwingsHeatmapLayer.ts
  libs/deck-layers/src/layers/fourwings/heatmap/FourwingsHeatmapStaticLayer.ts
  libs/deck-layers/src/layers/fourwings/heatmap/FourwingsHeatmapTileLayer.ts
  libs/deck-layers/src/layers/fourwings/heatmap/fourwings-heatmap.types.ts
  libs/deck-layers/src/layers/fourwings/heatmap/fourwings-heatmap.utils.ts
  libs/deck-layers/src/layers/fourwings/positions/FourwingsPositionsTileLayer.ts
  libs/deck-layers/src/utils/colorRamps.ts
  libs/deck-layers/src/utils/colors.ts
  libs/deck-layers/src/utils/index.ts
  libs/deck-layers/src/utils/stats.ts
Labels: fishing-map, dataviews-client, deck-layers, deck-layer-composer

#2642 deck migration / jc tasks
  apps/fishing-map/features/map/popups/EnvironmentLayers.tsx
  apps/fishing-map/features/timebar/TimebarActivityGraph.hooks.ts
  apps/fishing-map/features/timebar/TimebarActivityGraph.tsx
  apps/fishing-map/features/timebar/timebar.utils.ts
  apps/fishing-map/features/workspace/common/FitBounds.tsx
  apps/fishing-map/features/workspace/context-areas/ContextAreaLayerPanel.tsx
  apps/fishing-map/features/workspace/environmental/histogram.hooks.ts
  apps/fishing-map/features/workspace/user/UserLayerPanel.tsx
  apps/fishing-map/features/workspace/vessels/VesselLayerPanel.tsx
  libs/deck-layer-composer/src/hooks/deck-layers-legends.hooks.ts
  libs/deck-layer-composer/src/hooks/deck-layers-state.hooks.ts
  libs/deck-layer-composer/src/resolvers/dataviews.ts
  libs/deck-layers/src/layers/context/ContextLayer.ts
  libs/deck-layers/src/layers/fourwings/heatmap/FourwingsHeatmapLayer.ts
  libs/deck-layers/src/layers/fourwings/heatmap/FourwingsHeatmapStaticLayer.ts
  libs/deck-layers/src/layers/fourwings/heatmap/FourwingsHeatmapTileLayer.ts
  libs/deck-layers/src/layers/graticules/GraticulesLayer.ts
  libs/deck-layers/src/layers/graticules/graticules.types.ts
  libs/deck-layers/src/layers/vessel/VesselLayer.ts
  libs/deck-layers/src/layers/vessel/VesselTrackLayer.ts
  libs/timebar/src/charts/common/hooks.ts
  libs/timebar/src/charts/common/types.ts
Labels: fishing-map, timebar, deck-layers, deck-layer-composer

#2644 deck migration tasks
  apps/fishing-map/features/map/map-interactions.hooks.ts
  apps/fishing-map/features/map/popups/ContextLayers.hooks.ts
  apps/fishing-map/features/map/popups/ContextLayers.tsx
  apps/fishing-map/features/map/popups/EnvironmentLayers.tsx
  apps/fishing-map/features/map/popups/PopupWrapper.tsx
  apps/fishing-map/features/map/popups/UserContextLayers.tsx
  apps/fishing-map/features/map/popups/VesselEventsLayers.tsx
  apps/fishing-map/features/reports/Report.tsx
  apps/fishing-map/features/sidebar/SidebarHeader.tsx
  apps/fishing-map/features/vessel/selectors/vessel.selectors.ts
  libs/deck-layer-composer/src/resolvers/dataviews.ts
  libs/deck-layer-composer/src/resolvers/index.ts
  libs/deck-layer-composer/src/resolvers/polygons.ts
  libs/deck-layer-composer/src/resolvers/resolvers.ts
  libs/deck-layers/src/index.ts
  libs/deck-layers/src/layers/polygons/PolygonsLayer.ts
  libs/deck-layers/src/layers/polygons/index.ts
  libs/deck-layers/src/layers/polygons/polygons.types.ts
  libs/deck-layers/src/layers/vessel/VesselLayer.ts
  libs/deck-layers/src/layers/vessel/VesselTrackLayer.ts
  libs/deck-layers/src/utils/layers.ts
Labels: fishing-map, deck-layers, deck-layer-composer

#2649 Deck migration/jc tasks 3
  apps/fishing-map/features/map/popups/ComparisonRow.tsx
  apps/fishing-map/features/map/popups/Popup.module.css
  apps/fishing-map/features/map/popups/PopupWrapper.tsx
  apps/fishing-map/features/workspace/activity/activity.hooks.tsx
  apps/fishing-map/features/workspace/detections/DetectionsSection.tsx
  apps/fishing-map/features/workspace/shared/LayerPanel.module.css
  apps/fishing-map/features/workspace/shared/Sections.module.css
  apps/fishing-map/features/workspace/vessels/VesselsFromPositions.tsx
  libs/api-types/src/datasets.ts
  libs/deck-layer-composer/src/resolvers/dataviews.ts
Labels: fishing-map, api-types, deck-layer-composer

#2648 deck integration fixes
  apps/fishing-map/data/default-workspaces/marine-manager.ts
  apps/fishing-map/data/workspaces.ts
  apps/fishing-map/features/app/selectors/app.reports.selector.ts
  apps/fishing-map/features/app/selectors/app.workspace.selectors.ts
  apps/fishing-map/features/dataviews/dataviews.mock.ts
  apps/fishing-map/features/dataviews/dataviews.slice.ts
  apps/fishing-map/features/dataviews/dataviews.utils.ts
  apps/fishing-map/features/map/map-interactions.hooks.ts
  apps/fishing-map/features/map/map-viewport.hooks.ts
  apps/fishing-map/features/map/map.hooks.ts
  apps/fishing-map/features/map/map.slice.ts
  apps/fishing-map/features/map/popups/ComparisonRow.tsx
  apps/fishing-map/features/map/popups/ContextLayers.hooks.ts
  apps/fishing-map/features/map/popups/ContextLayersRow.tsx
  apps/fishing-map/features/map/popups/PopupWrapper.tsx
  apps/fishing-map/features/map/popups/PositionsRow.tsx
  apps/fishing-map/features/map/popups/TileClusterTooltipRow.tsx
  apps/fishing-map/features/reports/title/ReportTitle.tsx
  apps/fishing-map/features/sidebar/SidebarHeader.tsx
  apps/fishing-map/types/index.ts
  libs/api-types/src/datasets.ts
  libs/deck-layer-composer/src/resolvers/clusters.ts
  libs/deck-layer-composer/src/resolvers/dataviews.ts
  libs/deck-layer-composer/src/resolvers/fourwings.ts
  libs/deck-layers/src/layers/cluster/ClusterLayer.ts
  libs/deck-layers/src/layers/cluster/cluster.types.ts
  libs/deck-layers/src/layers/context/ContextLayer.ts
  libs/deck-layers/src/layers/fourwings/heatmap/FourwingsHeatmapLayer.ts
  libs/deck-layers/src/layers/fourwings/heatmap/fourwings-heatmap.types.ts
  libs/deck-layers/src/layers/fourwings/positions/FourwingsPositionsTileLayer.ts
  libs/deck-layers/src/layers/fourwings/positions/fourwings-positions.types.ts
  libs/deck-layers/src/layers/user/UserBaseLayer.ts
  libs/deck-layers/src/layers/user/UserPointsTileLayer.ts
  libs/deck-layers/src/layers/user/UserPolygonsTileLayer.ts
  libs/deck-layers/src/layers/user/user.types.ts
Labels: fishing-map, api-types, deck-layers, deck-layer-composer

#2650 Deck migration/jc tasks 4
  apps/fishing-map/features/map/popups/Popup.module.css
  apps/fishing-map/features/map/popups/PopupWrapper.tsx
  apps/fishing-map/features/map/popups/PositionsRow.tsx
  apps/fishing-map/features/reports/reports-timeseries.hooks.ts
  apps/fishing-map/features/reports/reports-timeseries.utils.ts
  apps/fishing-map/features/vessel/vessel-bounds.hooks.ts
  apps/fishing-map/features/workspace/events/EventsLayerPanel.tsx
  apps/fishing-map/features/workspace/vessels/VesselLayerPanel.tsx
  libs/api-types/src/events.ts
  libs/deck-layers/src/layers/fourwings/positions/FourwingsPositionsTileLayer.ts
  libs/deck-layers/src/layers/user/UserBaseLayer.ts
  libs/deck-layers/src/layers/user/user.utils.ts
  libs/deck-layers/src/layers/vessel/VesselLayer.ts
Labels: fishing-map, api-types, deck-layers

#2651 missing map layers
  apps/fishing-map/features/map/map-layers.hooks.ts
  apps/fishing-map/features/map/map.selectors.ts
  apps/fishing-map/features/map/popups/Popup.module.css
  apps/fishing-map/features/map/popups/PopupWrapper.tsx
  apps/fishing-map/features/map/popups/UserPointsLayers.tsx
  apps/fishing-map/features/map/popups/WorkspacePointsLayers.tsx
  apps/fishing-map/features/reports/title/ReportTitle.tsx
  apps/fishing-map/features/workspaces-list/workspaces-list.selectors.ts
  libs/api-types/src/dataviews.ts
  libs/deck-layer-composer/src/resolvers/polygons.ts
  libs/deck-layer-composer/src/resolvers/resolvers.ts
  libs/deck-layer-composer/src/resolvers/workspaces.ts
  libs/deck-layers/src/index.ts
  libs/deck-layers/src/layers/polygons/PolygonsLayer.ts
  libs/deck-layers/src/layers/polygons/polygons.types.ts
  libs/deck-layers/src/layers/user/UserBaseLayer.ts
  libs/deck-layers/src/layers/workspaces/WorkspacesLayer.ts
  libs/deck-layers/src/layers/workspaces/index.ts
  libs/deck-layers/src/layers/workspaces/workspaces.types.ts
Labels: fishing-map, api-types, deck-layers, deck-layer-composer

#2653 Fishing map/reports description
  apps/fishing-map/features/reports/NewReportModal.tsx
  apps/fishing-map/features/reports/title/ReportTitle.module.css
  apps/fishing-map/features/reports/title/ReportTitle.tsx
  apps/fishing-map/features/workspaces-list/WorkspaceWizard.module.css
  apps/fishing-map/features/workspaces-list/WorkspaceWizard.tsx
  apps/fishing-map/public/locales/source/translations.json
  libs/ocean-areas/.yarn/install-state.gz
  libs/ocean-areas/package.json
  libs/ocean-areas/src/data/areas.ts
  libs/ocean-areas/src/data/eezs.ts
  libs/ocean-areas/src/data/geometries.ts
  libs/ocean-areas/src/data/locales/source.json
  libs/ocean-areas/src/data/mpas.ts
  libs/ocean-areas/src/data/oceans.ts
  libs/ocean-areas/src/data/source/eezs-gfw.json
  libs/ocean-areas/src/data/source/eezs-manual.json
  libs/ocean-areas/src/data/source/eezs.json
  libs/ocean-areas/src/data/source/mpas-gfw.json
  libs/ocean-areas/src/data/source/mpas-manual.json
  libs/ocean-areas/src/data/source/mpas-top1000.json
  libs/ocean-areas/src/data/source/oceans.json
  libs/ocean-areas/src/ocean-areas.ts
  libs/ocean-areas/src/scripts/eezs.ts
  libs/ocean-areas/src/scripts/mpas.ts
  libs/ocean-areas/src/scripts/names.ts
  libs/ocean-areas/yarn.lock
Labels: fishing-map, ocean-areas, deploy-dev

#2655 add missing translations
  apps/fishing-map/data/layer-library/layers-translations.ts
  apps/fishing-map/features/datasets/upload/TimeFieldsGroup.tsx
  apps/fishing-map/features/download/DownloadActivityEnvironment.tsx
  apps/fishing-map/features/layer-library/LayerLibrary.tsx
  apps/fishing-map/features/reports/environment/ReportEnvironment.tsx
  apps/fishing-map/features/workspace/environmental/EnvironmentalLayerPanel.tsx
  apps/fishing-map/i18next-parser.config.js
  apps/fishing-map/package.json
  apps/fishing-map/public/locales/source/layer-library.json
  apps/fishing-map/public/locales/source/translations.json
  package.json
  yarn.lock
Labels: fishing-map

#2656 New Crowdin updates
  apps/fishing-map/public/locales/en/layer-library.json
  apps/fishing-map/public/locales/en/translations.json
  apps/fishing-map/public/locales/es/layer-library.json
  apps/fishing-map/public/locales/es/translations.json
  apps/fishing-map/public/locales/fr/layer-library.json
  apps/fishing-map/public/locales/fr/translations.json
  apps/fishing-map/public/locales/id/layer-library.json
  apps/fishing-map/public/locales/id/translations.json
  apps/fishing-map/public/locales/pt/layer-library.json
  apps/fishing-map/public/locales/pt/translations.json
  apps/fishing-map/public/locales/val/layer-library.json
  apps/fishing-map/public/locales/val/translations.json
Labels: fishing-map

#2652 Workspaces with password protected
  apps/fishing-map-e2e/src/e2e/sidebar/save-workspace.cy.ts
  apps/fishing-map/data/default-workspaces/workspace.development.ts
  apps/fishing-map/data/default-workspaces/workspace.production.ts
  apps/fishing-map/features/app/App.tsx
  apps/fishing-map/features/modals/Modals.tsx
  apps/fishing-map/features/modals/modals.slice.ts
  apps/fishing-map/features/reports/NewReportModal.tsx
  apps/fishing-map/features/search/Search.tsx
  apps/fishing-map/features/sidebar/SidebarHeader.module.css
  apps/fishing-map/features/sidebar/SidebarHeader.tsx
  apps/fishing-map/features/user/User.module.css
  apps/fishing-map/features/user/User.tsx
  apps/fishing-map/features/user/UserReports.tsx
  apps/fishing-map/features/user/UserWorkspaces.tsx
  apps/fishing-map/features/vessel/Vessel.tsx
  apps/fishing-map/features/workspace/Workspace.module.css
  apps/fishing-map/features/workspace/Workspace.tsx
  apps/fishing-map/features/workspace/WorkspaceError.tsx
  apps/fishing-map/features/workspace/save/WorkspaceCreateModal.tsx
  apps/fishing-map/features/workspace/save/WorkspaceEdit.tsx
  apps/fishing-map/features/workspace/save/WorkspaceEditModal.tsx
  apps/fishing-map/features/workspace/save/WorkspaceSaveModal.module.css
  apps/fishing-map/features/workspace/save/workspace-access.utils.ts
  apps/fishing-map/features/workspace/save/workspace-save.hooks.ts
  apps/fishing-map/features/workspace/shared/NewWorkspaceModal.tsx
  apps/fishing-map/features/workspace/workspace.selectors.ts
  apps/fishing-map/features/workspace/workspace.slice.ts
  apps/fishing-map/features/workspace/workspace.utils.ts
  apps/fishing-map/features/workspaces-list/workspaces-list.slice.ts
  apps/fishing-map/public/locales/source/translations.json
  libs/api-types/src/workspaces.ts
  libs/ui-components/src/input-text/InputText.tsx
Labels: fishing-map, api-types, deploy-dev

#2659 cmar workspace fixes
  apps/fishing-map/features/map/popups/PopupWrapper.tsx
  libs/dataviews-client/src/resolve-dataviews.ts
Labels: fishing-map, dataviews-client, api-types
