Repository GlobalFishingWatch/frontend, pull requests merged in 2024-12, with the labels that each got.

#2950 support nx start fishing-map with turbo
  apps/data-download-portal/src/components/table/table.jsx
  apps/data-download-portal/vite.config.mts
  apps/fishing-map/.build.env.sample
  apps/fishing-map/.env.sample
  apps/fishing-map/cloudbuild.yaml
  apps/fishing-map/features/datasets/upload/DatasetTypeSelect.tsx
  apps/fishing-map/features/datasets/upload/FileDropzone.tsx
  apps/fishing-map/features/feedback/FeedbackModal.tsx
  apps/fishing-map/features/map/overlays/error-notification/ErrorNotification.tsx
  apps/fishing-map/features/search/SearchPlaceholders.tsx
  apps/fishing-map/features/timebar/TimebarSettings.tsx
  apps/fishing-map/next.config.js
  apps/fishing-map/pages/api/feedback.ts
  apps/fishing-map/project.json
  apps/fishing-map/utils/spreadsheet.ts
  apps/fourwings-explorer/features/datasets/FileDropzone.tsx
  apps/fourwings-explorer/features/timebar/TimebarSettings.tsx
  apps/image-labeler/vite.config.mts
  apps/track-labeler/vite.config.mts
  apps/user-groups-admin/vite.config.mts
  libs/ui-components/src/icon/Icon.tsx
  nx.json
  package.json
  yarn.lock
Labels: fishing-map

#2953 update next.config
  apps/fishing-map/index.d.ts
  apps/fishing-map/next.config.ts
  package.json
  yarn.lock
Labels: fishing-map, deploy-dev

#2956 reduce chunk extents
  libs/deck-layers/src/layers/fourwings/fourwings.config.ts
Labels: deck-layers

#2955 Fishing map/usability tasks 3
  apps/fishing-map/features/app/App.module.css
  apps/fishing-map/features/app/App.tsx
  apps/fishing-map/features/footer/Footer.tsx
  apps/fishing-map/features/map/Map.tsx
  apps/fishing-map/features/map/controls/MapControlScreenshot.tsx
  apps/fishing-map/features/map/controls/MapControls.module.css
  apps/fishing-map/features/map/controls/MapControls.tsx
  apps/fishing-map/features/map/map-viewport.hooks.ts
  apps/fishing-map/features/reports/shared/activity/reports-activity.slice.ts
  apps/fishing-map/features/reports/shared/activity/vessels/ReportVesselsGraph.tsx
  apps/fishing-map/features/reports/shared/activity/vessels/ReportVesselsTable.module.css
  apps/fishing-map/features/reports/shared/activity/vessels/ReportVesselsTable.tsx
  apps/fishing-map/features/reports/shared/activity/vessels/ReportVesselsTableFooter.tsx
  apps/fishing-map/features/reports/shared/activity/vessels/ReportVesselsTablePin.tsx
  apps/fishing-map/features/reports/shared/activity/vessels/report-activity-vessels.hooks.ts
  apps/fishing-map/features/reports/shared/placeholders/ReportVesselsPlaceholder.tsx
  apps/fishing-map/features/timebar/Timebar.tsx
  apps/fishing-map/features/vessel-groups/VesselGroupAddButton.tsx
  apps/fishing-map/features/vessel-groups/vessel-groups-modal.slice.ts
  apps/fishing-map/features/vessel/VesselHeader.tsx
  apps/fishing-map/features/workspace/workspace.hook.ts
  apps/fishing-map/hooks/dom.hooks.ts
  apps/fishing-map/hooks/screen.hooks.ts
  apps/fishing-map/public/locales/source/translations.json
  apps/fishing-map/routes/routes.ts
  apps/fishing-map/utils/dom.ts
  libs/deck-layer-composer/src/resolvers/user.ts
  libs/deck-layers/src/layers/user/UserPointsTileLayer.ts
  libs/deck-layers/src/layers/user/UserPolygonsTileLayer.ts
  libs/deck-layers/src/layers/user/user.types.ts
  libs/deck-layers/src/utils/layers.ts
  libs/ui-components/src/spinner/Spinner.tsx
  libs/ui-components/src/split-view/SplitView.tsx
  package.json
  yarn.lock
Labels: fishing-map, deck-layers, deck-layer-composer

#2957 New Crowdin updates
  apps/fishing-map/public/locales/en/translations.json
  apps/fishing-map/public/locales/es/translations.json
  apps/fishing-map/public/locales/fr/translations.json
  apps/fishing-map/public/locales/id/translations.json
  apps/fishing-map/public/locales/pt/translations.json
  apps/fishing-map/public/locales/val/translations.json
  apps/fishing-map/public/locales/zh/translations.json
Labels: fishing-map

#2958 calculate vessel graphs dynamically
  apps/fishing-map/features/map/map-layers.hooks.ts
  apps/fishing-map/features/timebar/Timebar.tsx
  apps/fishing-map/features/timebar/timebar-vessel.hooks.ts
  apps/fishing-map/features/vessel/VesselPin.tsx
  apps/fishing-map/features/workspace/vessels/VesselTracksLegend.tsx
  libs/dataviews-client/src/url-workspace/url-workspace.ts
  libs/deck-layer-composer/src/resolvers/types.ts
  libs/deck-layer-composer/src/resolvers/vessels.ts
  libs/deck-layers/src/layers/fourwings/positions/FourwingsPositionsTileLayer.ts
  libs/deck-layers/src/layers/vessel/VesselLayer.ts
  libs/deck-layers/src/layers/vessel/VesselTrackLayer.ts
  libs/deck-layers/src/layers/vessel/index.ts
  libs/deck-layers/src/layers/vessel/vessel.config.ts
  libs/deck-layers/src/layers/vessel/vessel.utils.ts
  libs/deck-layers/src/utils/colors.ts
  libs/deck-loaders/src/vessels/index.ts
  libs/deck-loaders/src/vessels/lib/parse-tracks.ts
  libs/deck-loaders/src/vessels/lib/types.ts
  libs/timebar/src/charts/tracks-events.module.css
  libs/timebar/src/charts/tracks-events.tsx
  libs/timebar/src/charts/tracks-graph.tsx
  libs/timebar/src/charts/tracks.module.css
  libs/timebar/src/charts/tracks.tsx
  libs/timebar/src/components/timeline.tsx
  libs/timebar/src/timebar-settings.css
Labels: fishing-map, timebar, deck-layers, deck-loaders, deck-layer-composer

#2947 Track labeler/move event layer to layer composer
  apps/fourwings-explorer/features/layers/layers.hooks.ts
  apps/track-labeler/index.html
  apps/track-labeler/src/data/config.ts
  apps/track-labeler/src/features/map/Map.module.css
  apps/track-labeler/src/features/map/Map.tsx
  apps/track-labeler/src/features/map/map.hooks.ts
  apps/track-labeler/src/features/map/map.selectors.ts
  apps/track-labeler/src/features/timebar/VesselEventsPointsGraphDeckGL.tsx
  apps/track-labeler/src/features/timebar/timebar.hooks.ts
  apps/track-labeler/src/features/timebar/timebar.selectors.ts
  apps/track-labeler/src/features/timebar/timebar.utils.tsx
  apps/track-labeler/src/routes/routes.selectors.ts
  apps/track-labeler/src/types/index.ts
  libs/api-types/src/dataviews.ts
  libs/layer-composer/src/generators/index.ts
  libs/layer-composer/src/generators/types.ts
  libs/layer-composer/src/generators/vessel-positions/vessel-positions.ts
  libs/layer-composer/src/layer-composer.ts
Labels: layer-composer, api-types

#2959 Deck layers/fourwings buffer fix
  apps/fishing-map/features/reports/shared/activity/reports-activity-timeseries.hooks.ts
  apps/fishing-map/features/timebar/TimebarActivityGraph.hooks.ts
  libs/deck-layers/src/layers/fourwings/heatmap/FourwingsHeatmapLayer.ts
  libs/deck-layers/src/layers/fourwings/heatmap/FourwingsHeatmapTileLayer.ts
  libs/deck-layers/src/layers/fourwings/heatmap/fourwings-heatmap.types.ts
  libs/deck-layers/src/layers/fourwings/heatmap/fourwings-heatmap.utils.ts
  libs/deck-loaders/src/fourwings/lib/parse-fourwings.ts
Labels: fishing-map, deploy-dev, deck-layers, deck-loaders

#2960 Add GA script
  apps/image-labeler/index.html
Labels: image-labeler

#2952 Color tracks by speed and depth
  apps/fishing-map/assets/icons/timebar-track-speed.svg
  apps/fishing-map/features/datasets/datasets.utils.ts
  apps/fishing-map/features/dataviews/selectors/dataviews.resolvers.selectors.ts
  apps/fishing-map/features/map/map-layers.hooks.ts
  apps/fishing-map/features/map/popups/categories/VesselsTable.tsx
  apps/fishing-map/features/reports/shared/activity/ReportActivityPeriodComparisonGraph.tsx
  apps/fishing-map/features/reports/shared/activity/vessels/ReportVesselsGraph.tsx
  apps/fishing-map/features/reports/shared/activity/vessels/ReportVesselsTablePin.tsx
  apps/fishing-map/features/reports/shared/activity/vessels/report-activity-vessels.hooks.ts
  apps/fishing-map/features/reports/shared/activity/vessels/report-activity-vessels.selectors.ts
  apps/fishing-map/features/timebar/Timebar.tsx
  apps/fishing-map/features/timebar/TimebarSettings.tsx
  apps/fishing-map/features/timebar/timebar-vessel.hooks.ts
  apps/fishing-map/features/timebar/timebar.hooks.ts
  apps/fishing-map/features/vessel/VesselPin.tsx
  apps/fishing-map/features/workspace/shared/DatasetFlagsField.tsx
  apps/fishing-map/features/workspace/shared/DatasetSchemaField.tsx
  apps/fishing-map/features/workspace/shared/Sections.module.css
  apps/fishing-map/features/workspace/vessels/VesselTracksLegend.tsx
  apps/fishing-map/features/workspace/vessels/VesselsSection.tsx
  apps/fishing-map/public/locales/source/translations.json
  apps/fishing-map/routes/routes.hook.ts
  apps/fishing-map/types/index.ts
  libs/api-types/src/datasets.ts
  libs/dataviews-client/src/url-workspace/url-workspace.ts
  libs/deck-layer-composer/src/resolvers/dataviews.ts
  libs/deck-layer-composer/src/resolvers/resolvers.ts
  libs/deck-layer-composer/src/resolvers/types.ts
  libs/deck-layer-composer/src/resolvers/vessels.ts
  libs/deck-layers/src/layers/fourwings/positions/FourwingsPositionsTileLayer.ts
  libs/deck-layers/src/layers/vessel/VesselLayer.ts
  libs/deck-layers/src/layers/vessel/VesselTrackLayer.ts
  libs/deck-layers/src/layers/vessel/index.ts
  libs/deck-layers/src/layers/vessel/vessel.config.ts
  libs/deck-layers/src/layers/vessel/vessel.utils.ts
  libs/deck-layers/src/utils/colors.ts
  libs/deck-layers/src/utils/fonts.ts
  libs/deck-loaders/src/fourwings/lib/parse-fourwings.ts
  libs/deck-loaders/src/vessels/index.ts
  libs/deck-loaders/src/vessels/lib/parse-tracks.ts
  libs/deck-loaders/src/vessels/lib/types.ts
  libs/timebar/src/charts/common/hooks.ts
  libs/timebar/src/charts/common/utils.ts
  libs/timebar/src/charts/highlighter.tsx
  libs/timebar/src/charts/tracks-events.module.css
  libs/timebar/src/charts/tracks-events.tsx
  libs/timebar/src/charts/tracks-graph.tsx
  libs/timebar/src/charts/tracks.module.css
  libs/timebar/src/charts/tracks.tsx
  libs/timebar/src/components/timeline.tsx
  libs/timebar/src/timebar-settings.css
  libs/ui-components/src/icon-button/IconButton.tsx
  libs/ui-components/src/map-legend/map-legend.utils.ts
  libs/ui-components/src/tag/Tag.module.css
Labels: fishing-map, timebar, dataviews-client, api-types, deploy-dev, deck-layers, deck-loaders, deck-layer-composer

#2962 Adjusts track graph opacity based on track filters
  apps/fishing-map/features/timebar/timebar-vessel.hooks.ts
  libs/deck-layers/src/layers/vessel/VesselLayer.ts
  libs/timebar/src/charts/common/hooks.ts
  libs/timebar/src/charts/common/types.ts
  libs/timebar/src/charts/tracks-graph.tsx
Labels: fishing-map, timebar, deck-layers

#2964 New Crowdin updates
  apps/fishing-map/public/locales/en/translations.json
  apps/fishing-map/public/locales/es/translations.json
  apps/fishing-map/public/locales/fr/translations.json
  apps/fishing-map/public/locales/id/translations.json
  apps/fishing-map/public/locales/pt/translations.json
  apps/fishing-map/public/locales/val/translations.json
  apps/fishing-map/public/locales/zh/translations.json
Labels: fishing-map

#2965 Fishing map/port report feedback jc
  apps/fishing-map/features/reports/ports/ports-report.selectors.ts
  apps/fishing-map/features/reports/ports/ports-report.slice.ts
  apps/fishing-map/features/reports/shared/activity/vessels/ReportVesselsGraph.tsx
  apps/fishing-map/features/reports/shared/events/EventsReportVesselPropertySelector.tsx
  apps/fishing-map/features/reports/shared/events/EventsReportVesselsTable.module.css
  apps/fishing-map/features/reports/shared/events/EventsReportVesselsTable.tsx
  apps/fishing-map/features/reports/vessel-groups/vessels/VesselGroupReportVesselsGraph.tsx
  apps/fishing-map/features/vessel-groups/vessel-groups.types.ts
Labels: fishing-map

#2966 Fishing map/ports report review
  apps/fishing-map/features/reports/ports/PortsReportLink.tsx
  apps/fishing-map/features/reports/ports/ports-report.hooks.ts
  apps/fishing-map/features/reports/ports/ports-report.selectors.ts
  apps/fishing-map/features/reports/ports/ports-report.slice.ts
  libs/dataviews-client/src/resolve-dataviews.ts
Labels: fishing-map, dataviews-client

#2969 Track graph tweaks
  apps/fishing-map/features/map/map-layers.hooks.ts
  apps/fishing-map/features/workspace/environmental/EnvironmentalSection.tsx
  apps/fishing-map/features/workspace/vessels/VesselEventsLegend.module.css
  apps/fishing-map/features/workspace/vessels/VesselEventsLegend.tsx
  apps/fishing-map/features/workspace/vessels/VesselsFromPositions.tsx
  apps/fishing-map/features/workspace/vessels/VesselsSection.tsx
  apps/fishing-map/public/images/event-encounter.svg
  apps/fishing-map/public/images/event-loitering.svg
  apps/fishing-map/public/images/event-port.svg
  libs/deck-loaders/src/vessels/lib/parse-tracks.ts
  libs/timebar/src/charts/tracks-graph.tsx
Labels: fishing-map, timebar, deploy-dev, deck-loaders

#2970 pre release bugs
  apps/fishing-map/features/app/drag-dataset.hooks.ts
  apps/fishing-map/features/datasets/upload/NewDataset.tsx
  apps/fishing-map/features/timebar/Timebar.tsx
  apps/fishing-map/features/vessel-groups/VesselGroupListTooltip.tsx
  apps/fishing-map/features/vessel-groups/VesselGroupModal.tsx
  apps/fishing-map/features/vessel-groups/vessel-groups.selectors.ts
  apps/fishing-map/public/locales/source/translations.json
  libs/timebar/src/components/playback.module.css
  libs/timebar/src/components/playback.tsx
  libs/timebar/src/timebar.tsx
Labels: fishing-map, timebar

#2971 Fishing map/graph screenshot
  apps/fishing-map/features/map/MapScreenshot.tsx
  apps/fishing-map/features/map/controls/MapControlScreenshot.tsx
  apps/fishing-map/features/timebar/Timebar.tsx
  libs/react-hooks/src/index.ts
  libs/react-hooks/src/use-print-size/index.ts
  libs/react-hooks/src/use-print-size/use-print-size.ts
  libs/timebar/src/charts/tracks-graph.module.css
  libs/timebar/src/charts/tracks-graph.tsx
Labels: fishing-map, timebar, react-hooks

#2920 [WIP] Vessel profile external links
  apps/fishing-map/features/vessel/identity/VesselIdentity.module.css
  apps/fishing-map/features/vessel/identity/VesselIdentity.tsx
Labels: fishing-map

#2973 User badges
  apps/fishing-map/assets/images/badges/ambassador-placeholder.webp
  apps/fishing-map/assets/images/badges/ambassador.webp
  apps/fishing-map/assets/images/badges/fixer-placeholder.webp
  apps/fishing-map/assets/images/badges/fixer.webp
  apps/fishing-map/assets/images/badges/presenter-placeholder.webp
  apps/fishing-map/assets/images/badges/presenter.webp
  apps/fishing-map/assets/images/badges/teacher-placeholder.webp
  apps/fishing-map/assets/images/badges/teacher.webp
  apps/fishing-map/features/user/User.module.css
  apps/fishing-map/features/user/User.tsx
  apps/fishing-map/features/user/UserInfo.tsx
  apps/fishing-map/features/user/selectors/user.permissions.selectors.ts
  apps/fishing-map/index.d.ts
  apps/fishing-map/public/locales/source/translations.json
  apps/user-groups-admin/src/components/user-groups/List.tsx
  libs/api-types/src/user.ts
Labels: fishing-map, user-groups-admin, api-types

#2975 New Crowdin updates
  apps/fishing-map/public/locales/en/translations.json
  apps/fishing-map/public/locales/es/translations.json
  apps/fishing-map/public/locales/fr/translations.json
  apps/fishing-map/public/locales/id/translations.json
  apps/fishing-map/public/locales/pt/translations.json
  apps/fishing-map/public/locales/val/translations.json
  apps/fishing-map/public/locales/zh/translations.json
Labels: fishing-map

#2974 Production fixes
  apps/fishing-map/features/map/map-viewport.hooks.ts
  apps/fishing-map/features/sidebar/CategoryTabs.tsx
  apps/fishing-map/features/user/UserButton.tsx
  apps/fishing-map/routes/LoginLink.tsx
Labels: fishing-map

#2976 fixes prod 2
  apps/fishing-map/data/config.ts
  apps/fishing-map/features/map/controls/MapControlScreenshot.tsx
  apps/fishing-map/features/modals/Modals.tsx
  apps/fishing-map/features/sidebar/CategoryTabs.tsx
  apps/fishing-map/features/user/UserButton.tsx
  apps/fishing-map/features/user/selectors/user.permissions.selectors.ts
  apps/fishing-map/features/vessel/identity/VesselIdentity.tsx
  apps/fishing-map/public/locales/source/translations.json
  apps/fishing-map/routes/routes.hook.ts
  apps/fishing-map/routes/routes.selectors.ts
  apps/fishing-map/routes/routes.ts
Labels: fishing-map

#2978 fixes pro 3
  apps/fishing-map/data/config.ts
Labels: fishing-map

#2981 fix UTC problem (year and month)
  libs/deck-loaders/src/fourwings/helpers/time.ts
Labels: deck-loaders

#2982 Chore/replace tippy dependency
  apps/fishing-map/data/config.ts
  apps/fishing-map/features/download/DownloadActivityEnvironment.tsx
  apps/fishing-map/features/download/DownloadActivityGridded.tsx
  apps/fishing-map/features/footer/Footer.tsx
  apps/fishing-map/features/i18n/utils.ts
  apps/fishing-map/features/reports/areas/title/BufferButonTooltip.tsx
  apps/fishing-map/features/reports/areas/title/ReportTitle.module.css
  apps/fishing-map/features/reports/areas/title/ReportTitle.tsx
  apps/fishing-map/features/sidebar/Sidebar.tsx
  apps/fishing-map/features/vessel/Vessel.module.css
  apps/fishing-map/features/vessel/VesselLink.tsx
  apps/fishing-map/features/workspace/activity/ActivityAuxiliaryLayer.tsx
  apps/fishing-map/features/workspace/activity/ActivityLayerPanel.tsx
  apps/fishing-map/features/workspace/common/FitBounds.tsx
  apps/fishing-map/features/workspace/common/LayerFilters.module.css
  apps/fishing-map/features/workspace/common/Title.tsx
  apps/fishing-map/features/workspace/common/VisualisationChoice.tsx
  apps/fishing-map/features/workspace/context-areas/ContextAreaLayerPanel.tsx
  apps/fishing-map/features/workspace/environmental/EnvironmentalLayerPanel.tsx
  apps/fishing-map/features/workspace/events/EventsLayerPanel.tsx
  apps/fishing-map/features/workspace/shared/DatasetFlagsField.tsx
  apps/fishing-map/features/workspace/shared/ExpandedContainer.module.css
  apps/fishing-map/features/workspace/shared/ExpandedContainer.tsx
  apps/fishing-map/features/workspace/shared/LayerPanel.module.css
  apps/fishing-map/features/workspace/user/UserLayerPanel.tsx
  apps/fishing-map/features/workspace/vessels/VesselLayerPanel.tsx
  apps/fishing-map/queries/stats-api.ts
  apps/fishing-map/routes/LoginButtonWrapper.tsx
  apps/port-labeler/features/i18n/utils.ts
  apps/vessel-history/features/i18n/utils.ts
  libs/data-transforms/src/schema/schema.ts
  libs/timebar/src/charts/common/hooks.ts
  libs/timebar/src/charts/highlighter.tsx
  libs/timebar/src/charts/tracks-graph.tsx
  libs/timebar/src/components/bookmark.tsx
  libs/timebar/src/components/playback.tsx
  libs/timebar/src/components/timeline.tsx
  libs/timebar/src/timebar.tsx
  libs/timebar/src/utils/index.ts
  libs/timebar/src/utils/internal-utils.ts
  libs/ui-components/package.json
  libs/ui-components/src/button/Button.tsx
  libs/ui-components/src/checkbox/Checkbox.tsx
  libs/ui-components/src/icon-button/IconButton.tsx
  libs/ui-components/src/icon/Icon.tsx
  libs/ui-components/src/popover/Popover.tsx
  libs/ui-components/src/radio/Radio.tsx
  libs/ui-components/src/select/index.ts
  libs/ui-components/src/switch/Switch.tsx
  libs/ui-components/src/tabs/index.ts
  libs/ui-components/src/tag-list/index.ts
  libs/ui-components/src/tag/Tag.tsx
  libs/ui-components/src/tooltip/Tooltip.module.css
  libs/ui-components/src/tooltip/Tooltip.tsx
  nx.json
  package.json
  yarn.lock
Labels: fishing-map, vessel-history, timebar, port-labeler, data-transforms, deploy-dev
