Repository GlobalFishingWatch/frontend, pull requests merged in 2024-01, with the labels that each got.

#2442 add sar highlighted popup
  apps/fishing-map/data/default-workspaces/workspace.development.ts
  apps/fishing-map/data/default-workspaces/workspace.production.ts
  apps/fishing-map/features/workspace/highlight-panel/highlight-panel.content.ts
  apps/fishing-map/public/images/sar.webp
Labels: fishing-map

#2443 New Crowdin updates
  apps/fishing-map/public/locales/en/translations.json
  apps/fishing-map/public/locales/es/translations.json
Labels: fishing-map

#2437 e2e test: See vessel profile // MAP-1279
  apps/fishing-map-e2e/src/constants/urls.ts
  apps/fishing-map-e2e/src/e2e/fishing-activity/vms.cy.ts
  apps/fishing-map-e2e/src/e2e/map/analysis.cy.ts
  apps/fishing-map-e2e/src/e2e/sidebar/search-vessel.cy.ts
  apps/fishing-map-e2e/src/e2e/vessel-viewer/direct-access.cy.ts
  apps/fishing-map-e2e/src/e2e/vessel-viewer/map-access.cy.ts
  apps/fishing-map-e2e/src/e2e/vessel-viewer/search-vessel.cy.ts
  apps/fishing-map-e2e/src/support/app.po.ts
  apps/fishing-map/cloudbuild.yaml
  apps/fishing-map/features/search/basic/SearchBasicResult.tsx
  apps/fishing-map/features/vessel/Vessel.tsx
  apps/fishing-map/features/vessel/VesselHeader.tsx
  apps/fishing-map/features/vessel/VesselLink.tsx
  apps/fishing-map/features/vessel/activity/VesselActivitySummary.tsx
  apps/fishing-map/features/vessel/activity/activity-by-type/ActivityByType.tsx
  apps/fishing-map/features/vessel/activity/activity-by-type/ActivityGroup.tsx
  apps/fishing-map/features/vessel/activity/event/Event.tsx
  apps/fishing-map/features/vessel/areas/VesselAreas.tsx
  apps/fishing-map/features/vessel/related-vessels/RelatedVessels.tsx
Labels: fishing-map, deploy-dev

#2448 Fishing map/bathymetry env layer
  apps/fishing-map/data/layer-library/layers-environment.ts
  apps/fishing-map/features/datasets/datasets.utils.ts
  apps/fishing-map/features/dataviews/dataviews.utils.ts
  apps/fishing-map/features/dataviews/selectors/dataviews.selectors.ts
  apps/fishing-map/features/layer-library/LayerLibraryItem.tsx
  apps/fishing-map/features/timebar/TimebarSettings.tsx
  apps/fishing-map/features/timebar/timebar.hooks.ts
  apps/fishing-map/features/workspace/environmental/EnvironmentalLayerPanel.tsx
  apps/fishing-map/features/workspace/environmental/EnvironmentalSection.tsx
  apps/fishing-map/features/workspace/environmental/environmental.hooks.ts
  apps/fishing-map/public/images/layer-library/bathymetry.jpg
  libs/layer-composer/src/generators/heatmap/colors.ts
  libs/layer-composer/src/generators/types.ts
  libs/layer-composer/src/transforms/sort/sort.ts
  libs/layer-composer/src/types/index.ts
  libs/ui-components/src/assets/icons/gebco-logo.svg
  libs/ui-components/src/icon/Icon.tsx
Labels: fishing-map, layer-composer

#2447 New Crowdin updates
  libs/i18n-labels/en/datasets.json
Labels: i18n-labels

#2451 New Crowdin updates
  apps/fishing-map/public/locales/en/layer-library.json
  apps/fishing-map/public/locales/source/layer-library.json
Labels: fishing-map

#2453 tasks by 1️⃣ 🚗
  apps/fishing-map/features/app/drag-dataset.hooks.ts
  apps/fishing-map/features/datasets/upload/DatasetTypeSelect.tsx
  apps/fishing-map/features/datasets/upload/NewDatasetField.tsx
  apps/fishing-map/features/datasets/upload/NewPointsDataset.tsx
  apps/fishing-map/features/datasets/upload/NewPolygonDataset.tsx
  apps/fishing-map/features/datasets/upload/NewTrackDataset.tsx
  apps/fishing-map/features/datasets/upload/TimeFieldsGroup.tsx
  apps/fishing-map/features/workspace/context-areas/ContextAreaLayerPanel.tsx
  apps/fishing-map/features/workspace/shared/LayerPanel.module.css
  apps/fishing-map/public/locales/source/translations.json
  libs/api-types/src/datasets.ts
  libs/ui-components/src/button/Button.module.css
  libs/ui-components/src/button/Button.tsx
  libs/ui-components/src/choice/Choice.module.css
  libs/ui-components/src/choice/Choice.tsx
  libs/ui-components/src/multi-select/MultiSelect.tsx
  libs/ui-components/src/select/Select.module.css
  libs/ui-components/src/select/Select.tsx
Labels: fishing-map, api-types

#2457 Highlight user track lines on sidebar hover
  apps/fishing-map/features/datasets/datasets.utils.ts
  apps/fishing-map/features/datasets/upload/TimeFieldsGroup.tsx
  apps/fishing-map/features/workspace/shared/LayerPanel.module.css
  apps/fishing-map/features/workspace/user/UserLayerTrackPanel.tsx
  apps/fishing-map/features/workspace/user/UserSection.tsx
  libs/data-transforms/src/list-to-track-segments/list-to-track-segments.ts
  libs/layer-composer/src/generators/track/filterTrackByCoordinateProperties.ts
  libs/layer-composer/src/generators/track/track.ts
  libs/layer-composer/src/generators/types.ts
Labels: fishing-map, layer-composer, data-transforms

#2458 Fishing map/datasets timebar ranges
  apps/fishing-map/features/datasets/datasets.utils.ts
  apps/fishing-map/features/datasets/upload/NewDataset.tsx
  apps/fishing-map/features/datasets/upload/datasets-upload.utils.ts
  apps/fishing-map/features/timebar/Timebar.tsx
  apps/fishing-map/features/timebar/timebar.selectors.ts
  libs/api-types/src/datasets.ts
  libs/data-transforms/src/coordinates/coordinates.ts
  libs/data-transforms/src/schema/schema.ts
Labels: fishing-map, api-types, data-transforms

#2459 Fishing map/static heatmaps
  apps/fishing-map/data/default-workspaces/workspace.development.ts
  apps/fishing-map/data/layer-library/layers-environment.ts
  apps/fishing-map/data/workspaces.ts
  apps/fishing-map/features/dataviews/dataviews.mock.ts
  apps/fishing-map/features/map/map-sources.hooks.ts
  apps/fishing-map/features/map/map-sources.utils.ts
  apps/fishing-map/features/map/popups/EnvironmentLayers.tsx
  apps/fishing-map/features/workspace/environmental/environmental.hooks.ts
  libs/dataviews-client/src/resolve-dataviews-generators.ts
  libs/layer-composer/src/generators/heatmap/heatmap-static.ts
  libs/layer-composer/src/generators/heatmap/util/get-base-layers.ts
  libs/layer-composer/src/generators/heatmap/util/get-legends.ts
  libs/layer-composer/src/generators/index.ts
  libs/layer-composer/src/generators/types.ts
  libs/layer-composer/src/layer-composer.ts
  libs/layer-composer/src/transforms/sort/sort.ts
  libs/layer-composer/src/types/index.ts
  libs/react-hooks/src/use-map-interaction/index.ts
  libs/react-hooks/src/use-map-interaction/use-map-interaction.ts
  libs/react-hooks/src/use-map-legend/use-map-legend.ts
Labels: fishing-map, dataviews-client, layer-composer, react-hooks

#2454 🐗 layer library shapefiles checks
  apps/fishing-map/features/datasets/datasets.slice.ts
  apps/fishing-map/features/datasets/upload/NewDataset.tsx
  apps/fishing-map/features/datasets/upload/NewPointsDataset.tsx
  apps/fishing-map/features/datasets/upload/NewPolygonDataset.tsx
  apps/fishing-map/features/datasets/upload/NewTrackDataset.tsx
  apps/fishing-map/features/datasets/upload/datasets-parse.utils.ts
  apps/fishing-map/features/workspace/user/UserLayerPanel.tsx
  apps/fishing-map/public/locales/source/translations.json
  libs/api-types/src/datasets.ts
  libs/data-transforms/src/index.ts
  libs/data-transforms/src/kml/kml-to-geojson.ts
  libs/data-transforms/src/shp-to-geojson/index.ts
  libs/data-transforms/src/shp-to-geojson/shp-to-geojson.ts
  libs/datasets-client/src/datasets.config.ts
  libs/dataviews-client/src/dataviews.config.ts
  libs/dataviews-client/src/resolve-dataviews-generators.ts
  libs/layer-composer/src/generators/user-context/user-context.ts
Labels: fishing-map, dataviews-client, layer-composer, api-types, data-transforms

#2461 Avoid history replacement on search link click
  apps/fishing-map/features/sidebar/CategoryTabs.tsx
Labels: fishing-map, deploy-dev

#2462 calculate and show stats of environmental heatmaps
  apps/fishing-map/features/reports/environment/ReportEnvironment.module.css
  apps/fishing-map/features/reports/environment/ReportEnvironment.tsx
  apps/fishing-map/features/workspace/environmental/environmental.hooks.ts
Labels: fishing-map, deploy-dev

#2463 layer properties updates
  apps/fishing-map/features/datasets/datasets.slice.ts
  apps/fishing-map/features/datasets/upload/NewDataset.tsx
  apps/fishing-map/features/datasets/upload/NewPointsDataset.tsx
  apps/fishing-map/features/datasets/upload/NewPolygonDataset.tsx
  apps/fishing-map/features/datasets/upload/NewTrackDataset.tsx
  apps/fishing-map/features/datasets/upload/TimeFieldsGroup.tsx
  apps/fishing-map/features/datasets/upload/datasets-parse.utils.ts
  apps/fishing-map/features/datasets/upload/datasets-upload.utils.ts
  apps/fishing-map/features/map/popups/UserContextLayers.tsx
  apps/fishing-map/features/map/popups/UserPointsLayers.tsx
  apps/fishing-map/public/locales/source/translations.json
  libs/api-types/src/datasets.ts
  libs/data-transforms/src/coordinates/coordinates.ts
  libs/data-transforms/src/kml/kml-to-geojson.ts
  libs/data-transforms/src/list-to-track-segments/list-to-track-segments.ts
  libs/data-transforms/src/points/points-to-geojson.ts
  libs/data-transforms/src/schema/schema.ts
  libs/data-transforms/src/shp-to-geojson/shp-to-geojson.ts
  libs/dataviews-client/src/resolve-dataviews-generators.ts
  libs/layer-composer/src/generators/types.ts
  libs/layer-composer/src/generators/user-context/user-context.ts
  libs/layer-composer/src/generators/user-points/user-points.ts
Labels: fishing-map, dataviews-client, layer-composer, api-types, data-transforms

#2468 mm2.5 fixes JC 2
  apps/fishing-map/features/map/popups/ContextLayersRow.tsx
  apps/fishing-map/features/map/popups/Popup.module.css
  apps/fishing-map/features/map/rulers/rulers.hooks.ts
  libs/layer-composer/src/generators/user-context/user-context.ts
  libs/react-hooks/src/use-map-interaction/use-map-interaction.ts
Labels: fishing-map, layer-composer, react-hooks

#2469 New Crowdin updates
  apps/fishing-map/public/locales/en/layer-library.json
  apps/fishing-map/public/locales/en/translations.json
  apps/fishing-map/public/locales/es/translations.json
  apps/fishing-map/public/locales/fr/translations.json
  apps/fishing-map/public/locales/id/translations.json
  apps/fishing-map/public/locales/pt/translations.json
  apps/fishing-map/public/locales/val/data-terminology.json
  apps/fishing-map/public/locales/val/help-hints.json
  apps/fishing-map/public/locales/val/layer-library.json
  apps/fishing-map/public/locales/val/translations.json
Labels: fishing-map

#2472 Allow report in environment polygons
  apps/fishing-map/features/map/popups/ContextLayers.hooks.ts
  apps/fishing-map/features/map/popups/ContextLayers.tsx
  apps/fishing-map/features/map/popups/ContextLayersRow.tsx
  apps/fishing-map/features/reports/title/ReportTitle.tsx
  libs/data-transforms/src/schema/schema.ts
  libs/dataviews-client/src/resolve-dataviews-generators.ts
  libs/layer-composer/src/generators/types.ts
  libs/layer-composer/src/generators/user-context/user-context.ts
  libs/react-hooks/src/use-map-interaction/use-map-interaction.ts
Labels: fishing-map, dataviews-client, layer-composer, react-hooks, data-transforms

#2474 New Crowdin updates
  apps/fishing-map/public/locales/en/layer-library.json
  apps/fishing-map/public/locales/en/translations.json
  apps/fishing-map/public/locales/es/layer-library.json
  apps/fishing-map/public/locales/fr/layer-library.json
  apps/fishing-map/public/locales/id/layer-library.json
  apps/fishing-map/public/locales/pt/layer-library.json
  apps/fishing-map/public/locales/source/layer-library.json
  apps/fishing-map/public/locales/source/translations.json
Labels: fishing-map

#2470 Fishing map/tracks segment id color
  apps/fishing-map/features/resources/resources.hooks.ts
  apps/fishing-map/features/resources/resources.utils.ts
  apps/fishing-map/features/workspace/user/UserLayerTrackPanel.tsx
  libs/data-transforms/src/list-to-track-segments/list-to-track-segments.ts
  libs/layer-composer/src/generators/track/track.ts
Labels: fishing-map, layer-composer, data-transforms

#2475 Fix build failures missing cache
  apps/api-portal/cloudbuild.yaml
Labels: api-portal

#2477 New Crowdin updates
  apps/fishing-map/public/locales/es/translations.json
  apps/fishing-map/public/locales/source/translations.json
Labels: fishing-map

#2476 Fixed circular dependencies on ui-component
  apps/api-portal/cloudbuild.yaml
  apps/fishing-map/features/datasets/upload/datasets-parse.utils.ts
  apps/fishing-map/features/reports/title/ReportTitle.tsx
  libs/data-transforms/src/list-to-track-segments/list-to-track-segments.test.ts
  libs/data-transforms/src/list-to-track-segments/list-to-track-segments.ts
  libs/layer-composer/src/generators/context/context.utils.ts
  libs/layer-composer/src/generators/index.ts
  libs/layer-composer/src/generators/track/track.ts
  libs/layer-composer/src/generators/types.ts
  libs/ui-components/src/color-bar/color-bar-options.ts
Labels: fishing-map, layer-composer, api-portal, data-transforms, deploy-dev

#2478 Fishing map/remove sidebar stats
  apps/fishing-map/features/datasets/upload/datasets-upload.utils.ts
  apps/fishing-map/features/workspace/activity/ActivityLayerPanel.tsx
Labels: fishing-map

#2480 Chore. Fix app build static export on nextjs >= 14
  apps/deck-playground/next.config.js
  apps/deck-playground/project.json
  apps/fourwings-explorer/next.config.js
  apps/fourwings-explorer/project.json
  apps/tile-inspector/next.config.js
  apps/tile-inspector/project.json
  apps/tile-inspector/tsconfig.json
  apps/user-groups-admin/cloudbuild.yaml
  apps/user-groups-admin/next.config.js
  apps/user-groups-admin/project.json
  libs/data-transforms/tsconfig.json
  tools/generators/app/files/next.config.js__tmpl__
  tools/generators/app/files/project.json__tmpl__
  tools/generators/minisite/files/next.config.js__tmpl__
  tools/generators/minisite/files/project.json__tmpl__
Labels: tile-inspector, user-groups-admin, data-transforms

#2481 New Crowdin updates
  apps/fishing-map/public/locales/en/layer-library.json
  apps/fishing-map/public/locales/en/translations.json
  apps/fishing-map/public/locales/es/layer-library.json
  apps/fishing-map/public/locales/fr/layer-library.json
  apps/fishing-map/public/locales/id/layer-library.json
  apps/fishing-map/public/locales/pt/layer-library.json
  apps/fishing-map/public/locales/source/layer-library.json
  apps/fishing-map/public/locales/source/translations.json
Labels: fishing-map
