Repository GlobalFishingWatch/frontend, pull requests merged in 2024-06, with the labels that each got.

#2661 support edit access in owner workspaces
  apps/fishing-map/features/reports/NewReportModal.tsx
  apps/fishing-map/features/sidebar/SidebarHeader.module.css
  apps/fishing-map/features/sidebar/SidebarHeader.tsx
  apps/fishing-map/features/workspace/Workspace.module.css
  apps/fishing-map/features/workspace/WorkspaceError.tsx
  apps/fishing-map/features/workspace/save/WorkspaceCreateModal.tsx
  apps/fishing-map/features/workspace/save/WorkspaceEdit.tsx
  apps/fishing-map/features/workspace/workspace.slice.ts
  apps/fishing-map/features/workspaces-list/WorkspacesList.module.css
  apps/fishing-map/features/workspaces-list/WorkspacesList.tsx
  apps/fishing-map/features/workspaces-list/workspaces-list.slice.ts
  apps/fishing-map/public/locales/source/translations.json
  libs/api-types/src/reports.ts
Labels: fishing-map, api-types

#2662 New Crowdin updates
  apps/fishing-map/public/locales/en/translations.json
  apps/fishing-map/public/locales/es/translations.json
  apps/fishing-map/public/locales/fr/translations.json
  apps/fishing-map/public/locales/id/translations.json
  apps/fishing-map/public/locales/pt/translations.json
  apps/fishing-map/public/locales/val/translations.json
Labels: fishing-map

#2663 New Crowdin updates
  apps/fishing-map/public/locales/es/translations.json
Labels: fishing-map

#2664 Save workspaces for feedback urls
  apps/fishing-map/data/config.ts
  apps/fishing-map/features/app/selectors/app.workspace.selectors.ts
  apps/fishing-map/features/feedback/FeedbackModal.tsx
  apps/fishing-map/features/user/selectors/user.permissions.selectors.ts
  apps/fishing-map/features/workspaces-list/workspaces-list.slice.ts
Labels: fishing-map

#2670 Image labeler/review
  apps/image-labeler/src/api/base.ts
  apps/image-labeler/src/api/index.ts
  apps/image-labeler/src/api/project-create.ts
  apps/image-labeler/src/api/project-edit.ts
  apps/image-labeler/src/features/project/Project.tsx
  apps/image-labeler/src/features/project/Task.module.css
  apps/image-labeler/src/features/project/Task.tsx
  apps/image-labeler/src/features/projects-list/ProjectForm.tsx
  apps/image-labeler/src/features/projects-list/ProjectItem.tsx
  apps/image-labeler/src/features/projects-list/ProjectsList.module.css
  apps/image-labeler/src/features/projects-list/ProjectsList.tsx
  apps/image-labeler/src/main.module.css
  apps/image-labeler/src/main.tsx
  apps/image-labeler/src/routes/__root.module.css
  apps/image-labeler/src/routes/__root.tsx
  apps/image-labeler/src/types/index.ts
  yarn.lock
Labels: image-labeler

#2671 New Crowdin updates
  apps/fishing-map/public/locales/en/translations.json
  apps/fishing-map/public/locales/es/translations.json
  apps/fishing-map/public/locales/fr/translations.json
  apps/fishing-map/public/locales/id/translations.json
  apps/fishing-map/public/locales/pt/translations.json
  apps/fishing-map/public/locales/val/translations.json
Labels: fishing-map

#2666 Deck migration/draw class layer
  apps/fishing-map/features/map/Map.tsx
  apps/fishing-map/features/map/map-draw.hooks.ts
  apps/fishing-map/features/map/map-interaction.utils.ts
  apps/fishing-map/features/map/map-interactions.hooks.ts
  apps/fishing-map/features/map/map-layers.hooks.ts
  apps/fishing-map/features/map/overlays/draw/CoordinateEditOverlay.tsx
  apps/fishing-map/features/map/overlays/draw/DrawDialog.tsx
  apps/fishing-map/features/map/overlays/draw/draw.hooks.ts
  apps/fishing-map/features/map/overlays/rulers/rulers-drag.hooks.ts
  apps/fishing-map/features/map/overlays/rulers/rulers.hooks.ts
  apps/fishing-map/features/map/popups/PopupWrapper.tsx
  apps/fishing-map/features/workspace/user/UserSection.tsx
  apps/fishing-map/routes/routes.selectors.ts
  apps/fishing-map/types/index.ts
  libs/dataviews-client/src/url-workspace/url-workspace.ts
  libs/deck-layers/src/layers/draw/DrawLayer.ts
  libs/deck-layers/src/layers/draw/EditableGeojsonLayer.ts
  libs/deck-layers/src/layers/draw/draw.modes.ts
  libs/deck-layers/src/layers/draw/draw.types.ts
  libs/deck-layers/src/layers/rulers/RulersLayer.ts
  libs/deck-layers/src/layers/rulers/rulers.utils.ts
Labels: fishing-map, dataviews-client, deck-layers

#2629 Deck migration/draw layer
  apps/fishing-map/features/datasets/datasets.utils.ts
  apps/fishing-map/features/dataviews/dataviews.utils.ts
  apps/fishing-map/features/layer-library/LayerLibraryUserPanel.tsx
  apps/fishing-map/features/map/Map.tsx
  apps/fishing-map/features/map/map-draw.hooks.ts
  apps/fishing-map/features/map/map-interaction.utils.ts
  apps/fishing-map/features/map/map-interactions.hooks.ts
  apps/fishing-map/features/map/map-layers.hooks.ts
  apps/fishing-map/features/map/map.draw.utils.ts
  apps/fishing-map/features/map/overlays/annotations/AnnotationsDialog.tsx
  apps/fishing-map/features/map/overlays/draw/CoordinateEditOverlay.tsx
  apps/fishing-map/features/map/overlays/draw/DrawDialog.tsx
  apps/fishing-map/features/map/overlays/draw/draw.hooks.ts
  apps/fishing-map/features/map/overlays/error-notification/ErrorNotification.tsx
  apps/fishing-map/features/map/overlays/rulers/rulers-drag.hooks.ts
  apps/fishing-map/features/map/overlays/rulers/rulers.hooks.ts
  apps/fishing-map/features/map/popups/PopupWrapper.tsx
  apps/fishing-map/features/workspace/user/UserLayerPanel.tsx
  apps/fishing-map/features/workspace/user/UserSection.tsx
  apps/fishing-map/routes/routes.selectors.ts
  apps/fishing-map/types/index.ts
  libs/dataviews-client/src/url-workspace/url-workspace.ts
  libs/deck-layer-composer/src/interactions/types.ts
  libs/deck-layer-composer/src/resolvers/user.ts
  libs/deck-layers/src/layers/draw/DrawLayer.ts
  libs/deck-layers/src/layers/draw/draw.modes.ts
  libs/deck-layers/src/layers/draw/draw.types.ts
  libs/deck-layers/src/layers/draw/index.ts
  libs/deck-layers/src/layers/rulers/RulersLayer.ts
  libs/deck-layers/src/layers/rulers/rulers.utils.ts
  libs/deck-layers/src/layers/user/UserBaseLayer.ts
  libs/deck-layers/src/layers/user/UserPointsTileLayer.ts
  libs/deck-layers/src/layers/user/user.types.ts
  libs/deck-layers/src/types.ts
  libs/ui-components/src/assets/icons/add-point.svg
  libs/ui-components/src/assets/icons/draw-points.svg
  libs/ui-components/src/icon/icon.config.ts
Labels: fishing-map, dataviews-client, deck-layers, deck-layer-composer

#2675 New Crowdin updates
  libs/i18n-labels/en/datasets.json
Labels: i18n-labels

#2680 Deck migration/feedback 2
  apps/fishing-map/features/app/App.module.css
  apps/fishing-map/features/app/App.tsx
  apps/fishing-map/features/app/selectors/app.workspace.selectors.ts
  apps/fishing-map/features/datasets/datasets.utils.ts
  apps/fishing-map/features/layer-library/LayerLibrary.tsx
  apps/fishing-map/features/layer-library/LayerLibraryUserPanel.module.css
  apps/fishing-map/features/layer-library/LayerLibraryUserPanel.tsx
  apps/fishing-map/features/map/map.hooks.ts
  apps/fishing-map/features/timebar/timebar.hooks.ts
  apps/fishing-map/features/workspace/activity/activity.hooks.tsx
  apps/fishing-map/features/workspace/save/WorkspaceCreateModal.tsx
  apps/fishing-map/features/workspace/save/WorkspaceEdit.tsx
  apps/fishing-map/features/workspace/save/WorkspaceSaveModal.module.css
  apps/fishing-map/features/workspace/save/workspace-access.utils.ts
  apps/fishing-map/features/workspace/vessels/VesselLayerPanel.tsx
  apps/fishing-map/features/workspace/vessels/VesselsSection.tsx
  apps/fishing-map/features/workspace/workspace.slice.ts
  apps/fishing-map/features/workspaces-list/WorkspacesList.tsx
  apps/fishing-map/public/locales/source/translations.json
  libs/deck-layer-composer/src/hooks/deck-layers-legends.hooks.ts
  libs/deck-layers/src/layers/cluster/ClusterLayer.ts
  libs/deck-layers/src/layers/fourwings/FourwingsLayer.ts
  libs/deck-layers/src/layers/fourwings/fourwings.config.ts
  libs/deck-layers/src/layers/fourwings/heatmap/FourwingsHeatmapStaticLayer.ts
  libs/deck-layers/src/layers/fourwings/heatmap/FourwingsHeatmapTileLayer.ts
  libs/deck-layers/src/layers/fourwings/positions/FourwingsPositionsTileLayer.ts
  libs/deck-layers/src/layers/layers.config.ts
  libs/deck-layers/src/layers/vessel/VesselEventsLayer.ts
  libs/deck-layers/src/utils/stats.ts
  libs/deck-loaders/src/fourwings/fourwings-loader.ts
  libs/deck-loaders/src/fourwings/lib/parse-fourwings.ts
  libs/deck-loaders/src/fourwings/lib/types.ts
  package.json
  yarn.lock
Labels: fishing-map, deck-layers, deck-loaders, deck-layer-composer

#2673 Deck draw layer edition
  apps/fishing-map/features/map/Map.tsx
  apps/fishing-map/features/map/controls/MapControls.tsx
  apps/fishing-map/features/map/map.draw.utils.ts
  apps/fishing-map/features/map/overlays/annotations/Annotations.module.css
  apps/fishing-map/features/map/overlays/annotations/Annotations.tsx
  apps/fishing-map/features/map/overlays/annotations/AnnotationsDialog.tsx
  apps/fishing-map/features/map/overlays/draw/CoordinateEditOverlay.tsx
  apps/fishing-map/features/map/overlays/draw/DrawDialog.module.css
  apps/fishing-map/features/map/overlays/draw/DrawDialog.tsx
  apps/fishing-map/features/map/overlays/draw/draw.hooks.ts
  apps/fishing-map/features/map/overlays/draw/draw.utils.ts
  apps/fishing-map/features/map/overlays/error-notification/ErrorNotification.module.css
  apps/fishing-map/features/map/overlays/error-notification/ErrorNotification.tsx
  apps/fishing-map/features/map/popups/MapPopups.tsx
  apps/fishing-map/features/map/popups/Popup.module.css
  apps/fishing-map/features/map/popups/PopupByCategory.tsx
  apps/fishing-map/features/map/popups/PopupWrapper.tsx
  apps/fishing-map/features/map/popups/categories/ActivityLayers.tsx
  apps/fishing-map/features/map/popups/categories/AnnotationTooltip.tsx
  apps/fishing-map/features/map/popups/categories/ComparisonRow.tsx
  apps/fishing-map/features/map/popups/categories/ContextLayers.hooks.ts
  apps/fishing-map/features/map/popups/categories/ContextLayers.tsx
  apps/fishing-map/features/map/popups/categories/ContextLayersRow.tsx
  apps/fishing-map/features/map/popups/categories/DetectionsLayers.tsx
  apps/fishing-map/features/map/popups/categories/EnvironmentLayers.tsx
  apps/fishing-map/features/map/popups/categories/PositionsRow.tsx
  apps/fishing-map/features/map/popups/categories/ReportBufferLayers.tsx
  apps/fishing-map/features/map/popups/categories/RulerTooltip.tsx
  apps/fishing-map/features/map/popups/categories/TileClusterTooltipRow.tsx
  apps/fishing-map/features/map/popups/categories/UserContextLayers.tsx
  apps/fishing-map/features/map/popups/categories/UserPointsLayers.tsx
  apps/fishing-map/features/map/popups/categories/VesselEventsLayers.tsx
  apps/fishing-map/features/map/popups/categories/VesselsTable.module.css
  apps/fishing-map/features/map/popups/categories/VesselsTable.tsx
  apps/fishing-map/features/map/popups/categories/WorkspacePointsLayers.tsx
  apps/fishing-map/features/reports/Report.tsx
  apps/fishing-map/features/sidebar/SidebarHeader.tsx
  apps/fishing-map/features/workspace/context-areas/ContextAreaLayerPanel.tsx
  apps/fishing-map/features/workspace/user/UserLayerPanel.tsx
  apps/fishing-map/hooks/use-clicked-outside.ts
  apps/fourwings-explorer/features/datasets/NewDatasetModal.module.css
  apps/fourwings-explorer/features/map/popups/ContextPopup.tsx
  apps/fourwings-explorer/features/map/popups/PopupWrapper.tsx
  libs/deck-layer-composer/src/resolvers/dataviews.ts
  libs/deck-layer-composer/src/resolvers/resolvers.ts
  libs/deck-layers/src/layers/context/ContextLayer.ts
  libs/deck-layers/src/layers/draw/DrawLayer.ts
  libs/deck-layers/src/layers/draw/draw.modes.ts
  libs/deck-layers/src/layers/user/UserBaseLayer.ts
  libs/deck-layers/src/layers/user/UserPolygonsTileLayer.ts
Labels: fishing-map, deck-layers, deck-layer-composer

#2681 add daysFromLatest option to save/edit workspace UI
  apps/fishing-map/features/app/selectors/app.workspace.selectors.ts
  apps/fishing-map/features/workspace/save/WorkspaceCreateModal.tsx
  apps/fishing-map/features/workspace/save/WorkspaceEdit.tsx
  apps/fishing-map/features/workspace/save/WorkspaceSaveModal.module.css
  apps/fishing-map/features/workspace/save/workspace-access.utils.ts
  apps/fishing-map/features/workspace/workspace.slice.ts
  apps/fishing-map/public/locales/source/translations.json
Labels: fishing-map

#2685 New Crowdin updates
  apps/fishing-map/public/locales/en/translations.json
  apps/fishing-map/public/locales/es/translations.json
  apps/fishing-map/public/locales/fr/translations.json
  apps/fishing-map/public/locales/id/translations.json
  apps/fishing-map/public/locales/pt/translations.json
  apps/fishing-map/public/locales/val/translations.json
Labels: fishing-map

#2683 Deck migration/feedback 3
  apps/fishing-map/data/config.ts
  apps/fishing-map/features/download/DownloadTrackModal.tsx
  apps/fishing-map/features/map/controls/MapControls.tsx
  apps/fishing-map/features/resources/resources.selectors.thinning.ts
  apps/fishing-map/hooks/screen.hooks.ts
  apps/fishing-map/utils/dom.ts
  libs/api-client/src/utils/thinning.ts
  libs/deck-layers/src/layers/fourwings/heatmap/FourwingsHeatmapTileLayer.ts
  libs/deck-layers/src/layers/fourwings/heatmap/fourwings-heatmap.utils.ts
  libs/deck-layers/src/layers/fourwings/positions/FourwingsPositionsTileLayer.ts
  libs/deck-layers/src/layers/vessel/VesselTrackLayer.ts
  libs/deck-layers/src/utils/stats.ts
Labels: fishing-map, api-client, deploy-dev, deck-layers

#2689 vessels speed and depth graphs
  apps/fishing-map/features/timebar/Timebar.tsx
  apps/fishing-map/features/timebar/timebar-vessel.hooks.ts
  apps/fishing-map/features/timebar/timebar.selectors.ts
  apps/fishing-map/features/workspace/vessels/VesselsSection.tsx
  libs/deck-layers/src/layers/vessel/VesselLayer.ts
  libs/deck-layers/src/layers/vessel/VesselTrackLayer.ts
Labels: fishing-map, deck-layers

#2686 Deck migration/layer composer cleanup
  apps/fishing-map/data/layer-library/layers-environment.ts
  apps/fishing-map/data/workspaces.ts
  apps/fishing-map/features/app/selectors/app.selectors.ts
  apps/fishing-map/features/datasets/upload/NewPointsDataset.tsx
  apps/fishing-map/features/dataviews/selectors/dataviews.selectors.ts
  apps/fishing-map/features/download/download.utils.ts
  apps/fishing-map/features/editor/DataviewEditor.tsx
  apps/fishing-map/features/map/controls/MapControls.tsx
  apps/fishing-map/features/map/controls/map-controls.slice.ts
  apps/fishing-map/features/map/map-sources.utils.ts
  apps/fishing-map/features/map/map.config.ts
  apps/fishing-map/features/map/overlays/error-notification/ErrorNotification.tsx
  apps/fishing-map/features/map/popups/PopupWrapper.tsx
  apps/fishing-map/features/map/popups/categories/EnvironmentLayers.tsx
  apps/fishing-map/features/reports/activity/ReportActivityBeforeAfterGraph.tsx
  apps/fishing-map/features/reports/activity/ReportActivityEvolution.tsx
  apps/fishing-map/features/reports/activity/ReportActivityPeriodComparisonGraph.tsx
  apps/fishing-map/features/reports/environment/ReportEnvironment.tsx
  apps/fishing-map/features/reports/reports.utils.ts
  apps/fishing-map/features/timebar/Timebar.tsx
  apps/fishing-map/features/vessel/activity/VesselActivitySummary.tsx
  apps/fishing-map/features/workspace/context-areas/ContextAreaLayerPanel.tsx
  apps/fishing-map/next.config.js
  apps/fishing-map/types/index.ts
  apps/fishing-map/utils/dates.ts
  libs/deck-layer-composer/src/resolvers/dataviews.ts
  libs/deck-layers/src/layers/draw/DrawLayer.ts
  libs/deck-layers/src/layers/fourwings/fourwings.config.ts
  libs/deck-layers/src/layers/fourwings/heatmap/FourwingsHeatmapStaticLayer.ts
  libs/deck-layers/src/layers/user/index.ts
  libs/deck-layers/src/layers/user/user.utils.ts
  libs/deck-loaders/src/vessels/lib/parse-events.ts
  libs/deck-loaders/src/vessels/lib/types.ts
Labels: fishing-map, deck-layers, deck-loaders, deck-layer-composer

#2688 Deck migration/multiple areas report
  apps/fishing-map/features/app/selectors/app.reports.selector.ts
  apps/fishing-map/features/areas/areas.slice.ts
  apps/fishing-map/features/map/popups/categories/ContextLayers.hooks.ts
  apps/fishing-map/features/map/popups/categories/ContextLayersRow.tsx
  apps/fishing-map/features/reports/report.slice.ts
  apps/fishing-map/features/reports/reports.hooks.ts
  apps/fishing-map/features/reports/reports.selectors.ts
  apps/fishing-map/features/reports/reports.utils.ts
  apps/fishing-map/features/reports/title/ReportTitle.tsx
  apps/fishing-map/public/locales/source/translations.json
  apps/fishing-map/routes/routes.selectors.ts
  libs/data-transforms/src/events/events-to-bbox.ts
  libs/data-transforms/src/kml/kml-to-geojson.ts
  libs/data-transforms/src/segments/segments-to-bbox.ts
  libs/data-transforms/src/wrap-longitudes/wrap-longitudes.ts
  libs/deck-layer-composer/src/hooks/deck-layers.hooks.ts
  libs/deck-layers/src/layers/context/ContextLayer.ts
  libs/deck-layers/src/layers/rulers/RulersLayer.ts
  libs/deck-layers/src/layers/rulers/rulers.utils.ts
  libs/deck-layers/src/layers/user/UserPolygonsTileLayer.ts
  libs/deck-layers/src/layers/vessel/VesselLayer.ts
  libs/deck-layers/src/utils/layers.ts
  libs/ui-components/src/assets/icons/add-polygon-to-analysis.svg
  libs/ui-components/src/icon/icon.config.ts
  package.json
  yarn.lock
Labels: fishing-map, data-transforms, deploy-dev, deck-layers, deck-layer-composer

#2691 apply tracks thinning based in zoom levels
  apps/fishing-map/features/dataviews/selectors/dataviews.instances.selectors.ts
  apps/fishing-map/features/resources/resources.selectors.thinning.ts
  libs/api-client/src/utils/thinning.ts
  libs/api-types/src/dataviews.ts
  libs/deck-layer-composer/src/resolvers/vessels.ts
  libs/deck-layers/src/layers/vessel/VesselLayer.ts
  libs/deck-layers/src/layers/vessel/VesselTrackLayer.ts
  libs/deck-layers/src/layers/vessel/vessel.config.ts
Labels: fishing-map, api-client, api-types, deck-layers, deck-layer-composer

#2692 Deck migration/positions timebar
  apps/fishing-map/features/reports/reports-timeseries.utils.ts
  apps/fishing-map/features/timebar/Timebar.tsx
  apps/fishing-map/features/timebar/TimebarActivityGraph.hooks.ts
  apps/fishing-map/features/timebar/timebar.selectors.ts
  apps/fishing-map/features/timebar/timebar.utils.ts
  libs/deck-layer-composer/src/resolvers/fourwings.ts
  libs/deck-layers/src/layers/fourwings/fourwings.config.ts
  libs/deck-layers/src/layers/fourwings/positions/FourwingsPositionsTileLayer.ts
  libs/deck-layers/src/layers/fourwings/positions/fourwings-positions.types.ts
Labels: fishing-map, deck-layers, deck-layer-composer

#2694 fetch only fields needed in report to make the response lighter
  apps/fishing-map/features/reports/report.slice.ts
Labels: fishing-map

#2693 Deck migration/feedback 4
  apps/fishing-map/features/dataviews/selectors/dataviews.instances.selectors.ts
  apps/fishing-map/features/map/popups/categories/ContextLayersRow.tsx
  apps/fishing-map/features/resources/resources.selectors.thinning.ts
  apps/fishing-map/features/sidebar/SidebarHeader.tsx
  apps/fishing-map/features/workspace/workspace.slice.ts
  libs/deck-layers/src/layers/fourwings/heatmap/FourwingsHeatmapLayer.ts
  libs/deck-layers/src/layers/fourwings/heatmap/FourwingsHeatmapTileLayer.ts
  libs/deck-layers/src/layers/fourwings/positions/FourwingsPositionsTileLayer.ts
  libs/deck-layers/src/layers/fourwings/positions/fourwings-positions.utils.ts
  libs/deck-layers/src/layers/vessel/VesselEventsLayer.ts
  libs/deck-layers/src/layers/vessel/VesselLayer.ts
  libs/deck-layers/src/layers/vessel/VesselPositionLayer.ts
  libs/deck-layers/src/utils/icons.ts
  libs/deck-layers/src/utils/index.ts
  libs/deck-layers/src/utils/sort.ts
Labels: fishing-map, deck-layers

#2695 Fishing map/retrieve events data for 30min encounters
  apps/fishing-map/features/dataviews/dataviews.utils.ts
  apps/fishing-map/features/map/map-sources.hooks.ts
  apps/fishing-map/features/map/map.hooks.ts
  apps/fishing-map/features/map/popups/EncounterTooltipRow.tsx
Labels: fishing-map

#2696 New Crowdin updates
  libs/i18n-labels/en/datasets.json
  libs/i18n-labels/es/datasets.json
  libs/i18n-labels/fr/datasets.json
  libs/i18n-labels/id/datasets.json
  libs/i18n-labels/pt/datasets.json
  libs/i18n-labels/source/datasets.json
  libs/i18n-labels/val/datasets.json
Labels: i18n-labels

#2697 New Crowdin updates
  libs/i18n-labels/en/datasets.json
  libs/i18n-labels/es/datasets.json
  libs/i18n-labels/fr/datasets.json
  libs/i18n-labels/id/datasets.json
  libs/i18n-labels/pt/datasets.json
  libs/i18n-labels/source/datasets.json
  libs/i18n-labels/val/datasets.json
Labels: i18n-labels

#2698 New Crowdin updates
  libs/i18n-labels/en/datasets.json
  libs/i18n-labels/es/datasets.json
  libs/i18n-labels/fr/datasets.json
  libs/i18n-labels/id/datasets.json
  libs/i18n-labels/pt/datasets.json
  libs/i18n-labels/source/datasets.json
  libs/i18n-labels/val/datasets.json
Labels: i18n-labels

#2700 New Crowdin updates
  libs/i18n-labels/en/datasets.json
  libs/i18n-labels/es/datasets.json
  libs/i18n-labels/fr/datasets.json
  libs/i18n-labels/id/datasets.json
  libs/i18n-labels/pt/datasets.json
  libs/i18n-labels/source/datasets.json
  libs/i18n-labels/val/datasets.json
Labels: i18n-labels

#2704 New Crowdin updates
  libs/i18n-labels/en/datasets.json
  libs/i18n-labels/es/datasets.json
  libs/i18n-labels/fr/datasets.json
  libs/i18n-labels/id/datasets.json
  libs/i18n-labels/pt/datasets.json
  libs/i18n-labels/source/datasets.json
  libs/i18n-labels/val/datasets.json
Labels: i18n-labels

#2705 New Crowdin updates
  libs/i18n-labels/en/datasets.json
  libs/i18n-labels/es/datasets.json
  libs/i18n-labels/fr/datasets.json
  libs/i18n-labels/id/datasets.json
  libs/i18n-labels/pt/datasets.json
  libs/i18n-labels/source/datasets.json
  libs/i18n-labels/val/datasets.json
Labels: i18n-labels

#2703 Deck migration/feedback 5
  apps/fishing-map/features/app/selectors/app.selectors.ts
  apps/fishing-map/features/map/map.hooks.ts
  apps/fishing-map/features/timebar/timebar-vessel.hooks.ts
  apps/fishing-map/features/workspace/activity/activity.hooks.tsx
  apps/fishing-map/features/workspace/shared/Sections.module.css
  apps/fishing-map/features/workspace/vessels/VesselsFromPositions.tsx
  apps/fishing-map/public/locales/source/translations.json
  apps/fishing-map/public/vessel-sprite.png
  apps/fishing-map/utils/info.ts
  libs/deck-layer-composer/src/hooks/deck-layers-state.hooks.ts
  libs/deck-layer-composer/src/resolvers/fourwings.ts
  libs/deck-layers/src/layers/fourwings/FourwingsLayer.ts
  libs/deck-layers/src/layers/fourwings/fourwings.config.ts
  libs/deck-layers/src/layers/fourwings/fourwings.types.ts
  libs/deck-layers/src/layers/fourwings/heatmap/FourwingsHeatmapLayer.ts
  libs/deck-layers/src/layers/fourwings/heatmap/FourwingsHeatmapStaticLayer.ts
  libs/deck-layers/src/layers/fourwings/heatmap/FourwingsHeatmapTileLayer.ts
  libs/deck-layers/src/layers/fourwings/heatmap/fourwings-heatmap.types.ts
  libs/deck-layers/src/layers/fourwings/heatmap/fourwings-heatmap.utils.ts
  libs/deck-layers/src/layers/fourwings/positions/FourwingsPositionsTileLayer.ts
  libs/deck-layers/src/layers/fourwings/positions/fourwings-positions.types.ts
  libs/deck-layers/src/layers/vessel/VesselLayer.ts
  libs/deck-layers/src/utils/icons.ts
  libs/ui-components/src/assets/icons/heatmap-default-res.svg
  libs/ui-components/src/assets/icons/heatmap-low-res.svg
  libs/ui-components/src/icon/icon.config.ts
Labels: fishing-map, deck-layers, deck-layer-composer

#2708 Filterable fixed infrastructure
  apps/fishing-map/data/default-workspaces/workspace.development.ts
  apps/fishing-map/data/layer-library/layers-context.ts
  apps/fishing-map/data/workspaces.ts
  apps/fishing-map/features/datasets/datasets.utils.ts
  apps/fishing-map/public/images/layer-library/offshore-fixed-infrastructure.png
  apps/fishing-map/public/locales/source/layer-library.json
  libs/layer-composer/src/generators/user-points/user-points.ts
  libs/layer-composer/src/generators/utils.ts
Labels: fishing-map, layer-composer, deploy-dev

#2709 New Crowdin updates
  apps/fishing-map/public/locales/en/layer-library.json
  apps/fishing-map/public/locales/es/layer-library.json
  apps/fishing-map/public/locales/fr/layer-library.json
  apps/fishing-map/public/locales/id/layer-library.json
  apps/fishing-map/public/locales/pt/layer-library.json
  apps/fishing-map/public/locales/val/layer-library.json
Labels: fishing-map

#2710 Add fixed infra label
  apps/fishing-map/features/map/map.config.ts
  apps/fishing-map/features/map/popups/UserPointsLayers.tsx
Labels: fishing-map

#2711 fix missing user bq event dataset
  libs/datasets-client/src/datasets.user.ts
  libs/layer-composer/src/generators/types.ts
  libs/layer-composer/src/generators/user-points/user-points.ts
Labels: layer-composer

#2712 Staging release
  apps/fishing-map/data/default-workspaces/workspace.development.ts
  apps/fishing-map/data/layer-library/layers-context.ts
  apps/fishing-map/data/workspaces.ts
  apps/fishing-map/features/datasets/datasets.utils.ts
  apps/fishing-map/features/map/map.config.ts
  apps/fishing-map/features/map/popups/UserPointsLayers.tsx
  apps/fishing-map/public/images/layer-library/offshore-fixed-infrastructure.png
  apps/fishing-map/public/locales/en/layer-library.json
  apps/fishing-map/public/locales/es/layer-library.json
  apps/fishing-map/public/locales/fr/layer-library.json
  apps/fishing-map/public/locales/id/layer-library.json
  apps/fishing-map/public/locales/pt/layer-library.json
  apps/fishing-map/public/locales/source/layer-library.json
  apps/fishing-map/public/locales/val/layer-library.json
  libs/datasets-client/src/datasets.user.ts
  libs/i18n-labels/CHANGELOG.md
  libs/i18n-labels/en/datasets.json
  libs/i18n-labels/es/datasets.json
  libs/i18n-labels/fr/datasets.json
  libs/i18n-labels/id/datasets.json
  libs/i18n-labels/package.json
  libs/i18n-labels/pt/datasets.json
  libs/i18n-labels/source/datasets.json
  libs/i18n-labels/val/datasets.json
  libs/layer-composer/src/generators/types.ts
  libs/layer-composer/src/generators/user-points/user-points.ts
  libs/layer-composer/src/generators/utils.ts
Labels: fishing-map, layer-composer, i18n-labels

#2707 Deck migration/performance review
  apps/fishing-map/features/datasets/datasets.utils.ts
  apps/fishing-map/features/map/controls/MapControls.tsx
  apps/fishing-map/features/map/controls/MapInfo.module.css
  apps/fishing-map/features/reports/reports-timeseries.hooks.ts
  apps/fishing-map/features/timebar/Timebar.tsx
  apps/fishing-map/features/timebar/TimebarActivityGraph.hooks.ts
  apps/fishing-map/features/timebar/timebar.hooks.ts
  apps/fishing-map/features/workspace/context-areas/ContextAreaLayerPanel.tsx
  apps/fishing-map/features/workspace/vessels/VesselLayerPanel.tsx
  apps/fishing-map/hooks/dom.hooks.ts
  apps/fishing-map/pages/styles.css
  apps/fishing-map/routes/routes.actions.ts
  apps/fishing-map/routes/routes.hook.ts
  apps/fishing-map/routes/routes.selectors.ts
  apps/fourwings-explorer/features/timebar/Timebar.tsx
  libs/deck-layer-composer/src/hooks/deck-layers-legends.hooks.ts
  libs/deck-layers/src/layers/fourwings/FourwingsLayer.ts
  libs/deck-layers/src/layers/fourwings/fourwings.types.ts
  libs/deck-layers/src/layers/fourwings/heatmap/FourwingsHeatmapLayer.ts
  libs/deck-layers/src/layers/fourwings/heatmap/FourwingsHeatmapStaticLayer.ts
  libs/deck-layers/src/layers/fourwings/heatmap/FourwingsHeatmapTileLayer.ts
  libs/deck-layers/src/layers/fourwings/heatmap/fourwings-heatmap.types.ts
  libs/deck-layers/src/layers/fourwings/heatmap/fourwings-heatmap.utils.ts
  libs/deck-layers/src/layers/fourwings/positions/FourwingsPositionsTileLayer.ts
  libs/deck-layers/src/layers/vessel/VesselLayer.ts
  libs/deck-layers/src/utils/colorRamps.ts
  libs/deck-layers/src/utils/colors.ts
  libs/timebar/package.json
  libs/timebar/src/charts/stacked-activity.tsx
  libs/timebar/src/charts/tracks.tsx
  libs/timebar/src/components/bookmark.js
  libs/timebar/src/components/bookmark.module.css
  libs/timebar/src/components/playback.js
  libs/timebar/src/components/timeline-units.js
  libs/timebar/src/components/timeline.js
  libs/timebar/src/components/timeline.module.css
  libs/timebar/src/immediateContext.ts
  libs/timebar/src/index.js
  libs/timebar/src/timebar-settings.css
  libs/timebar/src/timebar.jsx
  libs/ui-components/src/collapsable/Collapsable.tsx
  package.json
  yarn.lock
Labels: fishing-map, timebar, deploy-dev, deck-layers, deck-layer-composer

#2706 Deck migration/feedback 6
  apps/fishing-map/features/map/map-interactions.hooks.ts
  apps/fishing-map/features/map/popups/PopupByCategory.tsx
  apps/fishing-map/features/map/popups/categories/PositionsRow.tsx
  apps/fishing-map/features/reports/summary/ReportSummary.tsx
  libs/deck-layers/src/layers/fourwings/positions/FourwingsPositionsTileLayer.ts
  libs/deck-layers/src/layers/fourwings/positions/fourwings-positions.utils.ts
  libs/ui-components/src/slider-range/SliderRange.tsx
Labels: fishing-map, deck-layers

#2714 add out of time range disclaimer for context layers
  apps/fishing-map/features/reports/reports.utils.ts
  apps/fishing-map/features/workspace/common/OutOfBoundsDisclaimer.tsx
  apps/fishing-map/features/workspace/context-areas/ContextAreaLayerPanel.tsx
Labels: fishing-map
