Repository GlobalFishingWatch/frontend, pull requests merged in 2024-11, with the labels that each got.

#2911 Usability tasks
  apps/fishing-map/data/config.ts
  apps/fishing-map/features/layer-library/LayerLibraryItem.tsx
  apps/fishing-map/features/layer-library/LayerLibraryUserPanel.tsx
  apps/fishing-map/features/map/overlays/annotations/Annotations.tsx
  apps/fishing-map/features/map/popups/categories/TileClusterTooltipRow.tsx
  apps/fishing-map/features/map/popups/categories/UserContextLayers.tsx
  apps/fishing-map/features/map/popups/categories/UserPointsLayers.tsx
  apps/fishing-map/features/reports/areas/title/BufferButonTooltip.tsx
  apps/fishing-map/features/reports/areas/title/ReportTitle.module.css
  apps/fishing-map/features/reports/areas/title/ReportTitle.tsx
  apps/fishing-map/features/search/basic/SearchBasicResult.tsx
  apps/fishing-map/features/search/basic/TrackFootprint.tsx
  apps/fishing-map/features/user/User.module.css
  apps/fishing-map/features/user/User.tsx
  apps/fishing-map/features/user/UserDatasets.tsx
  apps/fishing-map/features/user/UserReports.tsx
  apps/fishing-map/features/user/UserVesselGroups.tsx
  apps/fishing-map/features/user/UserWorkspaces.tsx
  apps/fishing-map/features/user/UserWorkspacesPrivate.tsx
  apps/fishing-map/features/user/UserWorkspacesPublic.tsx
  apps/fishing-map/utils/text.tsx
  libs/timebar/src/components/timerange-selector.tsx
  libs/ui-components/src/modal/Modal.tsx
  libs/ui-components/src/transmissions-timeline/TransmissionsTimeline.module.css
  libs/ui-components/src/transmissions-timeline/YearlyTransmissionsTimeline.tsx
Labels: fishing-map, timebar

#2917 use last-report endpoint to retry when downloading
  apps/fishing-map/features/download/DownloadActivityByVessel.tsx
  apps/fishing-map/features/download/DownloadActivityEnvironment.tsx
  apps/fishing-map/features/download/DownloadActivityError.tsx
  apps/fishing-map/features/download/DownloadActivityGridded.tsx
  apps/fishing-map/features/download/downloadActivity.slice.ts
Labels: fishing-map

#2915 Usability tasks 2
  apps/fishing-map/features/reports/areas/area-reports.utils.ts
  apps/fishing-map/features/reports/areas/summary/ReportSummary.tsx
  apps/fishing-map/features/reports/areas/summary/ReportSummaryTags.tsx
  apps/fishing-map/features/workspace/common/LayerSchemaFilter.tsx
Labels: fishing-map

#2921 New Crowdin updates
  apps/fishing-map/public/locales/fr/data-terminology.json
  apps/fishing-map/public/locales/fr/layer-library.json
  apps/fishing-map/public/locales/fr/translations.json
Labels: fishing-map

#2923 update track-label build
  apps/fishing-map/routes/routes.actions.ts
  apps/track-labeler/src/features/map/Map.tsx
  apps/track-labeler/src/features/map/map-controls/MapControls.tsx
  apps/track-labeler/src/features/map/map.hooks.ts
  apps/track-labeler/src/features/rulers/Rulers.tsx
  apps/track-labeler/src/features/sidebar/Sidebar.tsx
  apps/track-labeler/src/features/sidebar/sidebar.hooks.ts
  apps/track-labeler/src/features/timebar/Timebar.tsx
  apps/track-labeler/src/features/timebar/VesselEventsPointsGraphDeckGL.tsx
  apps/track-labeler/src/features/timebar/timebar.hooks.ts
  apps/track-labeler/src/features/tracks/tracks.thunks.ts
  apps/track-labeler/src/routes/routes.middlewares.ts
  apps/track-labeler/src/routes/routes.ts
  apps/track-labeler/src/serviceWorker.ts
  apps/track-labeler/src/store.hooks.ts
  apps/track-labeler/src/store.ts
  package.json
  yarn.lock
Labels: fishing-map

#2922 Fishing map/timebar fixes
  libs/deck-layers/src/layers/vessel/vessel.utils.ts
  libs/timebar/src/charts/tracks-events.module.css
  libs/timebar/src/charts/tracks-events.tsx
  libs/timebar/src/components/timeline-handler.tsx
  libs/ui-components/src/icon/icon.config.ts
  libs/ui-components/src/icon/icons/drag-timebar.svg
Labels: timebar, deck-layers

#2924 New Crowdin updates
  apps/fishing-map/public/locales/fr/translations.json
  libs/i18n-labels/fr/flags.json
Labels: fishing-map, i18n-labels

#2925 fix cluster positions offset
  libs/deck-layers/src/layers/fourwings/clusters/FourwingsClustersLayer.ts
Labels: deck-layers

#2926 Css purge and tweaks
  apps/fishing-map/features/download/DownloadModal.module.css
  apps/fishing-map/features/help/Hint.module.css
  apps/fishing-map/features/map/controls/MapInfo.module.css
  apps/fishing-map/features/map/overlays/rulers/Rulers.module.css
  apps/fishing-map/features/map/popups/Popup.module.css
  apps/fishing-map/features/map/popups/categories/VesselsTable.module.css
  apps/fishing-map/features/reports/areas/NewAreaReportModal.module.css
  apps/fishing-map/features/reports/shared/placeholders/placeholders.module.css
  apps/fishing-map/features/search/SearchPlaceholders.module.css
  apps/fishing-map/features/search/basic/SearchBasicResult.module.css
  apps/fishing-map/features/sidebar/Sidebar.module.css
  apps/fishing-map/features/vessel/activity/event/Event.module.css
  apps/fishing-map/features/workspace/activity/ActivitySection.module.css
  apps/fishing-map/features/workspace/common/InfoModal.module.css
  apps/fishing-map/features/workspace/common/InfoModal.tsx
  apps/fishing-map/features/workspace/save/WorkspaceSaveModal.module.css
  apps/fishing-map/features/workspace/shared/ExpandedContainer.module.css
  apps/fishing-map/features/workspace/shared/LayerPanel.module.css
  apps/fishing-map/features/workspace/shared/Sections.module.css
  apps/fishing-map/server/vessel/styles.module.css
  apps/real-time-prototype/features/map/map.module.css
  libs/timebar/src/components/bookmark.module.css
  libs/timebar/src/components/timeline.module.css
  libs/timebar/src/components/timerange-selector.module.css
  libs/timebar/src/timebar.module.css
  libs/ui-components/src/header/Header.module.css
  libs/ui-components/src/html-header/Header.module.css
  libs/ui-components/src/select/Select.module.css
  libs/ui-components/src/tag/Tag.module.css
  package.json
  purgecss.config.js
  scripts/purge-css.js
  yarn.lock
Labels: fishing-map, timebar, deploy-dev

#2929 Usability tasks 2
  apps/fishing-map/data/config.ts
  apps/fishing-map/features/datasets/datasets.utils.ts
  apps/fishing-map/features/datasets/upload/NewDataset.tsx
  apps/fishing-map/features/dataviews/selectors/dataviews.instances.selectors.ts
  apps/fishing-map/features/dataviews/selectors/dataviews.selectors.ts
  apps/fishing-map/features/layer-library/LayerLibraryItem.tsx
  apps/fishing-map/features/map/overlays/annotations/AnnotationsDialog.tsx
  apps/fishing-map/features/modals/Modals.tsx
  apps/fishing-map/features/sidebar/SidebarHeader.tsx
  apps/fishing-map/features/vessel-groups/VesselGroupModal.tsx
  apps/fishing-map/features/vessel/VesselPin.tsx
  apps/fishing-map/features/workspace/vessel-groups/VesselGroupsSection.tsx
  apps/fishing-map/features/workspace/workspace.selectors.ts
  apps/fishing-map/features/workspace/workspace.slice.ts
  apps/fishing-map/public/locales/source/translations.json
  apps/fishing-map/routes/routes.config.ts
  apps/fishing-map/routes/routes.middlewares.ts
  apps/fishing-map/routes/routes.ts
  apps/fishing-map/types/index.ts
  libs/api-types/src/dataviews.ts
  libs/react-hooks/src/use-local-storage/use-local-storage.ts
Labels: fishing-map, react-hooks, api-types, deploy-dev

#2934 fix vessel groups filter options
  apps/fishing-map/features/datasets/datasets.utils.ts
  apps/fishing-map/features/i18n/translation-keys.ts
  apps/fishing-map/features/reports/areas/area-reports.utils.ts
  apps/fishing-map/features/search/advanced/SearchAdvancedFilters.tsx
  apps/fishing-map/features/user/selectors/user.permissions.selectors.ts
  apps/fishing-map/features/vessel-groups/vessel-groups.hooks.ts
  apps/fishing-map/features/vessel-groups/vessel-groups.selectors.ts
  apps/fishing-map/features/workspace/common/LayerFilters.tsx
  apps/fishing-map/features/workspace/common/LayerSchemaFilter.tsx
  apps/fishing-map/features/workspace/shared/DatasetSchemaField.tsx
Labels: fishing-map

#2938 Fishing map/fixes
  apps/fishing-map/features/i18n/utils.datasets.ts
  apps/fishing-map/features/layer-library/LayerLibraryItem.tsx
  apps/fishing-map/features/map/overlays/draw/DrawDialog.tsx
  apps/fishing-map/features/reports/areas/area-reports.selectors.ts
  apps/fishing-map/public/locales/source/translations.json
  libs/deck-layer-composer/src/resolvers/user.ts
Labels: fishing-map, deck-layer-composer

#2941 New Crowdin updates
  libs/i18n-labels/en/datasets.json
  libs/i18n-labels/es/datasets.json
  libs/i18n-labels/fr/datasets.json
  libs/i18n-labels/id/datasets.json
  libs/i18n-labels/pt/datasets.json
  libs/i18n-labels/source/datasets.json
  libs/i18n-labels/val/datasets.json
  libs/i18n-labels/zh/datasets.json
Labels: i18n-labels

#2943 make fourwings loader a bit faster
  apps/fishing-map/package.json
  libs/deck-loaders/src/fourwings/lib/parse-fourwings.ts
Labels: fishing-map, deploy-dev, deck-loaders

#2931 Map fixes and timebar interactions
  apps/track-labeler/src/data/config.ts
  apps/track-labeler/src/features/map/Map.module.css
  apps/track-labeler/src/features/map/Map.tsx
  apps/track-labeler/src/features/map/map-controls/MapControls.tsx
  apps/track-labeler/src/features/map/map-data/map-data.tsx
  apps/track-labeler/src/features/map/map.hooks.ts
  apps/track-labeler/src/features/sidebar/Sidebar.module.css
  apps/track-labeler/src/features/sidebar/Sidebar.tsx
  apps/track-labeler/src/features/timebar/Timebar.tsx
  apps/track-labeler/src/features/timebar/VesselEventsPointsGraphDeckGL.tsx
  apps/track-labeler/src/features/timebar/timebar.selectors.ts
  apps/track-labeler/src/features/timebar/timebar.utils.tsx
  apps/track-labeler/src/index.css
  apps/track-labeler/src/types/index.ts
  libs/layer-composer/src/generators/rulers/rulers.ts
  libs/timebar/src/timebar.tsx
Labels: timebar, layer-composer

#2948 Fourwings simpler coordinates perf
  apps/fishing-map/features/datasets/datasets.utils.ts
  apps/fishing-map/features/download/download.selectors.ts
  apps/fishing-map/features/map/map-interaction.utils.ts
  apps/fishing-map/features/map/popups/categories/VesselsTable.tsx
  apps/fishing-map/features/reports/areas/summary/ReportSummary.tsx
  apps/fishing-map/features/reports/ports/ports-report.selectors.ts
  apps/fishing-map/features/reports/shared/activity/reports-activity-geo.utils.ts
  apps/fishing-map/features/reports/shared/activity/vessels/ReportVesselsGraph.tsx
  apps/fishing-map/features/reports/shared/activity/vessels/ReportVesselsTableFooter.tsx
  apps/fishing-map/features/reports/shared/activity/vessels/report-activity-vessels.selectors.ts
  apps/fishing-map/features/reports/vessel-groups/events/vgr-events.selectors.ts
  apps/fishing-map/features/reports/vessel-groups/vessels/vessel-group-report-vessels.selectors.ts
  apps/fishing-map/features/workspace/common/InfoModalContent.tsx
  apps/fishing-map/features/workspace/common/LayerFilters.tsx
  apps/fishing-map/features/workspace/shared/DatasetSourceField.tsx
  apps/fishing-map/features/workspaces-list/WorkspaceWizard.tsx
  libs/data-transforms/src/features/filter-features-by-bounds.ts
  libs/deck-layers/src/layers/fourwings/footprint/FourwingsFootprintLayer.ts
  libs/deck-layers/src/layers/fourwings/heatmap/FourwingsHeatmapLayer.ts
  libs/deck-layers/src/layers/fourwings/heatmap/FourwingsHeatmapStaticLayer.ts
  libs/deck-layers/src/layers/fourwings/heatmap/FourwingsHeatmapTileLayer.ts
  libs/deck-layers/src/layers/fourwings/heatmap/fourwings-heatmap.utils.ts
  libs/deck-loaders/src/fourwings/helpers/cells.ts
  libs/deck-loaders/src/fourwings/lib/parse-fourwings.ts
  libs/deck-loaders/src/fourwings/lib/pbf.js
  libs/deck-loaders/src/fourwings/lib/types.ts
Labels: fishing-map, data-transforms, deploy-dev, deck-layers, deck-loaders
