Repository GlobalFishingWatch/frontend, pull requests merged in 2025-07, with the labels that each got.

#3295 Sentinel 2 feedback
  apps/fishing-map/cloudbuild.yaml
  apps/fishing-map/features/datasets/datasets.utils.ts
  apps/fishing-map/features/i18n/i18n.ts
  apps/fishing-map/features/workspace/activity/ActivityLayerPanel.tsx
  apps/fishing-map/features/workspace/shared/ExpandedContainer.tsx
  libs/deck-layers/src/layers/polygons/PolygonsLayer.ts
Labels: fishing-map, deck-layers

#3297 New Crowdin updates
  libs/i18n-labels/en/datasets.json
  libs/i18n-labels/es/datasets.json
  libs/i18n-labels/fr/datasets.json
  libs/i18n-labels/id/datasets.json
  libs/i18n-labels/pt/datasets.json
  libs/i18n-labels/source/datasets.json
  libs/i18n-labels/val/datasets.json
Labels: i18n-labels

#3298 New Crowdin updates
  libs/i18n-labels/en/datasets.json
  libs/i18n-labels/es/datasets.json
  libs/i18n-labels/fr/datasets.json
  libs/i18n-labels/id/datasets.json
  libs/i18n-labels/pt/datasets.json
  libs/i18n-labels/source/datasets.json
  libs/i18n-labels/val/datasets.json
Labels: i18n-labels

#3300 New Crowdin updates
  libs/i18n-labels/en/datasets.json
  libs/i18n-labels/es/datasets.json
  libs/i18n-labels/fr/datasets.json
  libs/i18n-labels/id/datasets.json
  libs/i18n-labels/pt/datasets.json
  libs/i18n-labels/source/datasets.json
  libs/i18n-labels/val/datasets.json
Labels: i18n-labels

#3299 Sentinel 2 feedback 3
  apps/fishing-map/data/layer-library/layers-detections.ts
  apps/fishing-map/data/workspaces.ts
  apps/fishing-map/features/layer-library/LayerLibraryItem.tsx
  apps/fishing-map/features/map/popups/categories/DetectionsLayers.tsx
  apps/fishing-map/features/workspace/activity/ActivityAuxiliaryLayer.tsx
  apps/fishing-map/features/workspace/workspace.slice.ts
  apps/fishing-map/public/images/layer-library/sentinel2.jpg
  apps/fishing-map/public/locales/source/layer-library.json
  libs/deck-layers/src/layers/basemap/BasemapLayer.ts
  libs/deck-layers/src/layers/pm-tiles/PMTilesLayer.ts
  libs/deck-layers/src/layers/pm-tiles/pm-tiles.types.ts
  libs/deck-layers/src/layers/polygons/PolygonsLayer.ts
Labels: fishing-map, deck-layers

#3302 New Crowdin updates
  apps/fishing-map/public/locales/en/layer-library.json
  apps/fishing-map/public/locales/es/layer-library.json
  apps/fishing-map/public/locales/fr/layer-library.json
  apps/fishing-map/public/locales/id/layer-library.json
  apps/fishing-map/public/locales/pt/layer-library.json
  apps/fishing-map/public/locales/val/layer-library.json
  libs/i18n-labels/en/datasets.json
  libs/i18n-labels/es/datasets.json
  libs/i18n-labels/fr/datasets.json
  libs/i18n-labels/pt/datasets.json
Labels: fishing-map, i18n-labels

#3303 New Crowdin updates
  apps/fishing-map/public/locales/en/translations.json
  apps/fishing-map/public/locales/es/translations.json
  apps/fishing-map/public/locales/fr/translations.json
  apps/fishing-map/public/locales/id/translations.json
  apps/fishing-map/public/locales/pt/translations.json
  apps/fishing-map/public/locales/source/translations.json
  apps/fishing-map/public/locales/val/translations.json
  libs/i18n-labels/pt/datasets.json
Labels: fishing-map, i18n-labels

#3307 Fishing map/sentinel 2 popup
  apps/fishing-map/data/default-workspaces/workspace.development.ts
  apps/fishing-map/data/default-workspaces/workspace.production.ts
  apps/fishing-map/features/workspace/highlight-panel/highlight-panel.content.ts
  apps/fishing-map/public/images/highlighted-popup/before-after@2x.gif
  apps/fishing-map/public/images/highlighted-popup/belize-vms.jpg
  apps/fishing-map/public/images/highlighted-popup/chlorophyl@2x.jpg
  apps/fishing-map/public/images/highlighted-popup/costa-rica-vms.jpg
  apps/fishing-map/public/images/highlighted-popup/marine-traffic-ais.jpg
  apps/fishing-map/public/images/highlighted-popup/norway-vms.webp
  apps/fishing-map/public/images/highlighted-popup/papua_new_guinea-vms.webp
  apps/fishing-map/public/images/highlighted-popup/sar.jpg
  apps/fishing-map/public/images/highlighted-popup/sar.webp
  apps/fishing-map/public/images/highlighted-popup/sentinel2.jpg
  apps/fishing-map/public/images/highlighted-popup/viirs-match.webp
Labels: fishing-map

#3313 Fishing map/improve i18n integration
  .gitignore
  affected.txt
  apps/fishing-map/data/layer-library/layers.types.ts
  apps/fishing-map/features/datasets/upload/NewDataset.tsx
  apps/fishing-map/features/i18n/i18n.ts
  apps/fishing-map/features/i18n/i18n.types.d.ts
  apps/fishing-map/features/i18n/i18n.types.ts
  apps/fishing-map/features/i18n/i18nFlag.tsx
  apps/fishing-map/features/i18n/i18next.d.ts
  apps/fishing-map/features/layer-library/LayerLibrary.tsx
  apps/fishing-map/features/reports/report-area/title/ReportTitle.tsx
  apps/fishing-map/features/reports/shared/vessels/ReportVesselsIndividualTooltip.tsx
  apps/fishing-map/features/search/advanced/AdvancedFilterInputField.tsx
  apps/fishing-map/features/search/basic/SearchBasicResult.tsx
  apps/fishing-map/features/timebar/TimebarSettings.tsx
  apps/fishing-map/features/vessel/identity/DataTerminology.tsx
  apps/fishing-map/features/vessel/vessel.config.ts
  apps/fishing-map/features/workspaces-list/workspaces-list.selectors.ts
  apps/fishing-map/i18n.md
  apps/fishing-map/package.json
  apps/fishing-map/project.json
  apps/fishing-map/public/locales/source/layer-library.json
  libs/i18n-labels/package.json
  libs/i18n-labels/project.json
  libs/i18n-labels/resources.d.ts
  package.json
  yarn.lock
Labels: fishing-map, i18n-labels

#3317 New Crowdin updates
  apps/fishing-map/public/locales/en/layer-library.json
  apps/fishing-map/public/locales/es/layer-library.json
  apps/fishing-map/public/locales/fr/layer-library.json
  apps/fishing-map/public/locales/id/layer-library.json
  apps/fishing-map/public/locales/pt/layer-library.json
  apps/fishing-map/public/locales/val/layer-library.json
Labels: fishing-map

#3318 New Crowdin updates
  apps/fishing-map/public/locales/en/translations.json
  apps/fishing-map/public/locales/es/translations.json
  apps/fishing-map/public/locales/fr/translations.json
  apps/fishing-map/public/locales/id/translations.json
  apps/fishing-map/public/locales/pt/translations.json
  apps/fishing-map/public/locales/val/translations.json
Labels: fishing-map

#3319 July tweaks
  .gitignore
  affected.txt
  apps/fishing-map/data/layer-library/layers.types.ts
  apps/fishing-map/features/datasets/upload/NewDataset.tsx
  apps/fishing-map/features/i18n/i18n.ts
  apps/fishing-map/features/i18n/i18n.types.d.ts
  apps/fishing-map/features/i18n/i18n.types.ts
  apps/fishing-map/features/i18n/i18nFlag.tsx
  apps/fishing-map/features/i18n/i18next.d.ts
  apps/fishing-map/features/layer-library/LayerLibrary.tsx
  apps/fishing-map/features/map/DeckGLWrapper.tsx
  apps/fishing-map/features/reports/report-area/title/ReportTitle.tsx
  apps/fishing-map/features/reports/shared/vessels/ReportVesselsIndividualTooltip.tsx
  apps/fishing-map/features/reports/shared/vessels/ReportVesselsTable.module.css
  apps/fishing-map/features/search/advanced/AdvancedFilterInputField.tsx
  apps/fishing-map/features/search/basic/SearchBasicResult.tsx
  apps/fishing-map/features/timebar/TimebarSettings.tsx
  apps/fishing-map/features/vessel-groups/VesselGroupModal.module.css
  apps/fishing-map/features/vessel-groups/VesselGroupModal.tsx
  apps/fishing-map/features/vessel/identity/DataTerminology.tsx
  apps/fishing-map/features/vessel/identity/VesselIdentity.tsx
  apps/fishing-map/features/vessel/insights/InsightCoverage.tsx
  apps/fishing-map/features/vessel/insights/InsightGaps.tsx
  apps/fishing-map/features/vessel/vessel-bounds.hooks.ts
  apps/fishing-map/features/vessel/vessel.config.ts
  apps/fishing-map/features/workspaces-list/workspaces-list.selectors.ts
  apps/fishing-map/i18n.md
  apps/fishing-map/next.config.ts
  apps/fishing-map/package.json
  apps/fishing-map/pages/[category]/[workspace]/vessel/[vesselId].tsx
  apps/fishing-map/pages/vessel/[vesselId].tsx
  apps/fishing-map/project.json
  apps/fishing-map/public/locales/en/layer-library.json
  apps/fishing-map/public/locales/en/translations.json
  apps/fishing-map/public/locales/es/layer-library.json
  apps/fishing-map/public/locales/es/translations.json
  apps/fishing-map/public/locales/fr/layer-library.json
  apps/fishing-map/public/locales/fr/translations.json
  apps/fishing-map/public/locales/id/layer-library.json
  apps/fishing-map/public/locales/id/translations.json
  apps/fishing-map/public/locales/pt/layer-library.json
  apps/fishing-map/public/locales/pt/translations.json
  apps/fishing-map/public/locales/source/layer-library.json
  apps/fishing-map/public/locales/source/translations.json
  apps/fishing-map/public/locales/val/layer-library.json
  apps/fishing-map/public/locales/val/translations.json
  apps/fishing-map/utils/text.tsx
  libs/deck-layers/src/layers/basemap/BasemapLayer.ts
  libs/i18n-labels/package.json
  libs/i18n-labels/project.json
  libs/i18n-labels/resources.d.ts
  package.json
  yarn.lock
Labels: fishing-map, i18n-labels, deck-layers

#3320 Fishing map/tweaks jul 2025 2
  apps/fishing-map/data/default-workspaces/context-layers.ts
  apps/fishing-map/features/i18n/i18n.types.d.ts
  apps/fishing-map/features/map/controls/MapControls.tsx
  apps/fishing-map/features/map/controls/MapSearch.module.css
  apps/fishing-map/features/map/controls/MapSearch.tsx
  apps/fishing-map/features/map/controls/ReferenceLayersControl.module.css
  apps/fishing-map/features/map/controls/ReferenceLayersControl.tsx
  apps/fishing-map/features/search/basic/SearchBasic.module.css
  apps/fishing-map/features/search/basic/SearchBasic.tsx
  apps/fishing-map/features/search/basic/SearchBasicResult.module.css
  apps/fishing-map/features/vessel/VesselHeader.tsx
  apps/fishing-map/features/vessel/activity/VesselActivityDownload.tsx
  apps/fishing-map/features/vessel/identity/VesselIdentity.module.css
  apps/fishing-map/features/vessel/identity/VesselIdentity.tsx
  apps/fishing-map/features/vessel/insights/InsightFishing.tsx
  apps/fishing-map/features/workspace/vessels/vessel-events.hooks.ts
  apps/fishing-map/public/locales/source/translations.json
Labels: fishing-map

#3325 New Crowdin updates
  apps/fishing-map/public/locales/en/translations.json
  apps/fishing-map/public/locales/es/translations.json
  apps/fishing-map/public/locales/fr/translations.json
  apps/fishing-map/public/locales/id/translations.json
  apps/fishing-map/public/locales/pt/translations.json
  apps/fishing-map/public/locales/val/translations.json
Labels: fishing-map

#3332 New Crowdin updates
  libs/ocean-areas/src/locales/en.json
  libs/ocean-areas/src/locales/es.json
  libs/ocean-areas/src/locales/fr.json
  libs/ocean-areas/src/locales/id.json
  libs/ocean-areas/src/locales/pt.json
  libs/ocean-areas/src/locales/val.json
Labels: ocean-areas

#3335 fix bathymetry layer interaction
  libs/deck-layers/src/layers/fourwings/heatmap/FourwingsHeatmapLayer.ts
  libs/deck-layers/src/layers/fourwings/heatmap/FourwingsHeatmapStaticLayer.ts
Labels: deck-layers

#3340 New Crowdin updates
  libs/i18n-labels/es/datasets.json
  libs/i18n-labels/pt/datasets.json
Labels: i18n-labels

#3339 Data download portal/fixes
  apps/data-download-portal/src/app.tsx
  apps/data-download-portal/src/components/markdown/markdown.tsx
  apps/data-download-portal/src/routeTree.gen.ts
  apps/data-download-portal/vite.config.mts
  apps/image-labeler/vite.config.mts
Labels: image-labeler

#3343 New Crowdin updates
  apps/fishing-map/public/locales/en/translations.json
  apps/fishing-map/public/locales/es/translations.json
  apps/fishing-map/public/locales/fr/translations.json
  apps/fishing-map/public/locales/id/translations.json
  apps/fishing-map/public/locales/pt/translations.json
  apps/fishing-map/public/locales/val/translations.json
  libs/i18n-labels/en/datasets.json
  libs/i18n-labels/es/datasets.json
  libs/i18n-labels/fr/datasets.json
  libs/i18n-labels/id/datasets.json
  libs/i18n-labels/val/datasets.json
Labels: fishing-map, i18n-labels

#3344 added ssvid columns
  apps/fishing-map/features/track-correction/TrackCorrectionNew.tsx
  apps/fishing-map/features/track-correction/track-correction.slice.ts
Labels: fishing-map

#3346 New Crowdin updates
  apps/fishing-map/public/locales/pt/translations.json
Labels: fishing-map

#3347 Fishing map/jul 2025 hotfixes
  apps/fishing-map/features/reports/shared/summary/ReportSummary.tsx
  apps/fishing-map/features/reports/shared/summary/ReportSummaryTags.tsx
  apps/fishing-map/features/reports/tabs/environment/ReportEnvironment.tsx
  apps/fishing-map/features/workspace/environmental/EnvironmentalLayerPanel.tsx
  apps/fishing-map/features/workspace/shared/DatasetSchemaField.tsx
  apps/fishing-map/features/workspaces-list/WorkspacesList.tsx
  apps/fishing-map/features/workspaces-list/workspaces-list.selectors.ts
Labels: fishing-map

#3348 add missing ssvid in turning tides
  apps/fishing-map/pages/api/track-corrections/[workspaceId]/_issues/utils.ts
Labels: fishing-map

#3349 i18n improvemments
  .husky/pre-push
  apps/fishing-map/features/workspace/activity/ActivityLayerPanel.tsx
  apps/fishing-map/i18next-parser.config.js
  package.json
Labels: fishing-map
