Repository GlobalFishingWatch/frontend, pull requests merged in 2025-08, with the labels that each got.

#3355 New Crowdin updates
  libs/i18n-labels/en/datasets.json
  libs/i18n-labels/es/datasets.json
  libs/i18n-labels/fr/datasets.json
  libs/i18n-labels/id/datasets.json
  libs/i18n-labels/pt/datasets.json
  libs/i18n-labels/source/datasets.json
  libs/i18n-labels/val/datasets.json
Labels: i18n-labels

#3356 wip
  apps/fishing-map/data/default-workspaces/workspace.development.ts
  apps/fishing-map/data/default-workspaces/workspace.production.ts
  apps/fishing-map/data/layer-library/layers-environment.ts
  apps/fishing-map/data/workspaces.ts
  apps/fishing-map/features/dataviews/dataviews.utils.ts
  apps/fishing-map/features/debug/DebugMenu.tsx
  apps/fishing-map/features/debug/debug.slice.ts
  apps/fishing-map/features/i18n/i18n.types.d.ts
  apps/fishing-map/features/layer-library/LayerLibrary.tsx
  apps/fishing-map/features/user/selectors/user.selectors.ts
  apps/fishing-map/features/user/user.config.ts
  apps/fishing-map/features/workspace/environmental/EnvironmentalLayerPanel.tsx
  apps/fishing-map/features/workspace/environmental/EnvironmentalSection.tsx
  apps/fishing-map/package.json
  apps/fishing-map/public/images/layer-library/bathymetry-contour.jpg
  apps/fishing-map/public/locales/source/layer-library.json
  apps/fishing-map/public/locales/source/translations.json
  libs/api-types/src/dataviews.ts
  libs/datasets-client/src/resolve-endpoint.ts
  libs/deck-layer-composer/src/resolvers/bathymetry-contour.ts
  libs/deck-layer-composer/src/resolvers/dataviews.ts
  libs/deck-layer-composer/src/resolvers/graticules.ts
  libs/deck-layer-composer/src/resolvers/resolvers.ts
  libs/deck-layers/src/index.ts
  libs/deck-layers/src/layers/basemap/BasemapLabelsLayer.ts
  libs/deck-layers/src/layers/bathymetry-contour/BathymetryContourLayer.ts
  libs/deck-layers/src/layers/bathymetry-contour/bathymetry-contour.types.ts
  libs/deck-layers/src/layers/bathymetry-contour/index.ts
  libs/deck-layers/src/layers/context/ContextLayer.ts
  libs/deck-layers/src/layers/fourwings/positions/FourwingsPositionsTileLayer.ts
  libs/deck-layers/src/layers/graticules/GraticulesLayer.ts
  libs/deck-layers/src/layers/graticules/graticules.types.ts
  libs/deck-layers/src/layers/labels/LabelLayer.ts
  libs/deck-layers/src/layers/vessel/VesselLayer.ts
  libs/deck-layers/src/utils/coordinates.ts
  yarn.lock
Labels: fishing-map, api-types, deck-layers, deck-layer-composer

#3367 Move ocean area functions to API endpoints
  apps/fishing-map/features/map/controls/MapSearch.tsx
  apps/fishing-map/features/map/controls/MiniGlobeInfo.tsx
  apps/fishing-map/features/reports/shared/area-search/AreaReportSearch.tsx
  apps/fishing-map/features/workspace/save/WorkspaceCreateModal.tsx
  apps/fishing-map/features/workspaces-list/WorkspaceWizard.tsx
  apps/fishing-map/hooks/ocean-areas.ts
  apps/fishing-map/pages/api/ocean-areas/index.ts
  apps/fishing-map/pages/api/ocean-areas/name.ts
  apps/fishing-map/pages/api/ocean-areas/search.ts
  libs/ocean-areas/src/data/mpas.json
  libs/ocean-areas/src/ocean-areas.ts
  libs/ocean-areas/src/scripts/mpas.ts
Labels: fishing-map, ocean-areas, deploy-dev

#3370 Turning tides fixes
  apps/fishing-map/features/debug/DebugMenu.tsx
  apps/fishing-map/features/i18n/i18n.types.d.ts
  apps/fishing-map/features/map/overlays/track-corrections/TrackCorrectionsOverlay.tsx
  apps/fishing-map/features/map/popups/categories/VesselTracksLayers.tsx
  apps/fishing-map/features/resources/resources.selectors.thinning.ts
  apps/fishing-map/features/track-correction/TrackCorrectionEdit.tsx
  apps/fishing-map/features/track-correction/TrackCorrectionNew.tsx
  apps/fishing-map/features/track-correction/track-correction.slice.ts
  apps/fishing-map/pages/api/track-corrections/[workspaceId]/_issues/post-new.ts
  apps/fishing-map/pages/api/track-corrections/[workspaceId]/_issues/utils.ts
  apps/fishing-map/public/locales/en/translations.json
  apps/fishing-map/public/locales/es/translations.json
  apps/fishing-map/public/locales/fr/translations.json
  apps/fishing-map/public/locales/id/translations.json
  apps/fishing-map/public/locales/pt/translations.json
  apps/fishing-map/public/locales/source/translations.json
Labels: fishing-map

#3373 Tt fixes
  apps/fishing-map/features/track-correction/TrackCorrectionEdit.tsx
  apps/fishing-map/pages/api/track-corrections/[workspaceId]/_issues/get-all.ts
Labels: fishing-map
