Repository GlobalFishingWatch/frontend, pull requests merged in 2025-09, with the labels that each got.

#3374 Tt fixes
  apps/fishing-map/features/i18n/i18n.types.d.ts
  apps/fishing-map/features/track-correction/TrackCorrectionNew.tsx
  apps/fishing-map/features/track-correction/TrackSlider.tsx
  apps/fishing-map/features/vessel/identity/VesselIdentity.tsx
  apps/fishing-map/public/locales/source/translations.json
  apps/fishing-map/utils/info.ts
Labels: fishing-map

#3377 add impact reporter badge
  apps/fishing-map/assets/images/badges/impact-reporter-placeholder.webp
  apps/fishing-map/assets/images/badges/impact-reporter.webp
  apps/fishing-map/features/i18n/i18n.types.d.ts
  apps/fishing-map/features/i18n/translation-keys.ts
  apps/fishing-map/features/user/UserInfo.tsx
  apps/fishing-map/features/user/selectors/user.permissions.selectors.ts
  apps/fishing-map/public/locales/source/translations.json
  libs/api-types/src/user.ts
Labels: fishing-map, api-types

#3380 release minor fixes
  apps/api-portal/components/header/header.tsx
  apps/api-portal/pages/_app.tsx
  apps/fishing-map/pages/api/corrections.ts
  libs/ui-components/src/header/Header.tsx
Labels: fishing-map, api-portal

#3381 New Crowdin updates
  apps/fishing-map/public/locales/en/translations.json
  apps/fishing-map/public/locales/es/translations.json
  apps/fishing-map/public/locales/fr/translations.json
  apps/fishing-map/public/locales/pt/translations.json
Labels: fishing-map

#3384 New Crowdin updates
  apps/fishing-map/public/locales/en/translations.json
  apps/fishing-map/public/locales/es/translations.json
  apps/fishing-map/public/locales/fr/translations.json
  apps/fishing-map/public/locales/id/translations.json
  apps/fishing-map/public/locales/pt/translations.json
  apps/fishing-map/public/locales/val/translations.json
Labels: fishing-map

#3383 update pbf-decoders to es6
  libs/pbf-decoders/.yarn/install-state.gz
  libs/pbf-decoders/decoders/4wings-tile.d.ts
  libs/pbf-decoders/decoders/4wings-tile.js
  libs/pbf-decoders/decoders/vessels.d.ts
  libs/pbf-decoders/decoders/vessels.js
  libs/pbf-decoders/index.ts
  libs/pbf-decoders/package.json
  libs/pbf-decoders/yarn.lock
Labels: pbf-decoders

#3391 duplicate vessel identity selectors fix
  apps/fishing-map/features/reports/tabs/activity/ReportActivity.tsx
  apps/fishing-map/features/vessel/identity/VesselIdentitySelector.tsx
  apps/fishing-map/features/vessel/vessel.utils.ts
  apps/fishing-map/utils/selectors.ts
  libs/i18n-labels/.yarn/install-state.gz
Labels: fishing-map

#3395 fix user track layers filter
  apps/fishing-map/features/workspace/user/UserLayerTrackPanel.tsx
  libs/data-transforms/src/filter-tracks-coordinates/index.ts
  libs/data-transforms/src/list-to-track-segments/list-to-track-segments.ts
  libs/data-transforms/src/schema/schema.ts
  libs/data-transforms/src/segments/segments-to-geojson.ts
Labels: fishing-map, data-transforms

#3386 Fishing map/vessel groups updates
  apps/fishing-map/features/dataviews/dataviews.utils.ts
  apps/fishing-map/features/reports/report-vessel-group/VesselGroupReport.tsx
  apps/fishing-map/features/reports/report-vessel-group/VesselGroupReportTitle.tsx
  apps/fishing-map/features/reports/report-vessel-group/vessel-group-report.selectors.ts
  apps/fishing-map/features/reports/reports.selectors.ts
  apps/fishing-map/features/reports/reports.types.ts
  apps/fishing-map/features/reports/shared/vessels/ReportVessels.tsx
  apps/fishing-map/features/reports/shared/vessels/ReportVesselsGraph.module.css
  apps/fishing-map/features/reports/shared/vessels/ReportVesselsGraph.tsx
  apps/fishing-map/features/reports/shared/vessels/ReportVesselsGraphSelector.tsx
  apps/fishing-map/features/reports/shared/vessels/ReportVesselsIndividualTooltip.tsx
  apps/fishing-map/features/reports/shared/vessels/ReportVesselsTable.tsx
  apps/fishing-map/features/reports/shared/vessels/ReportVesselsTableFooter.tsx
  apps/fishing-map/features/reports/shared/vessels/report-vessels.selectors.ts
  apps/fishing-map/features/reports/shared/vessels/report-vessels.types.ts
  apps/fishing-map/features/reports/tabs/activity/reports-activity.types.ts
  apps/fishing-map/features/reports/tabs/vessel-group-insights/VGRInsightCoverage.tsx
  apps/fishing-map/features/reports/tabs/vessel-group-insights/VGRInsightCoverageGraph.module.css
  apps/fishing-map/features/reports/tabs/vessel-group-insights/VGRInsightCoverageGraph.tsx
  apps/fishing-map/features/reports/tabs/vessel-group-insights/VGRInsights.tsx
  apps/fishing-map/features/reports/tabs/vessel-group-insights/vessel-group-report-insights.utils.ts
  apps/fishing-map/features/vessel-groups/VesselGroupModal.module.css
  apps/fishing-map/features/vessel-groups/VesselGroupModal.tsx
  apps/fishing-map/features/vessel-groups/VesselGroupModalVessels.tsx
  apps/fishing-map/features/vessel-groups/vessel-groups.utils.ts
  apps/fishing-map/features/vessel/identity/DataTerminology.module.css
  apps/fishing-map/features/vessel/identity/DataTerminology.tsx
Labels: fishing-map

#3398 api-client/fix memory refresh token
  apps/api-portal/features/user/user.ts
  apps/fishing-map/features/map/map-layers.hooks.ts
  apps/port-labeler/features/map/Map.tsx
  apps/real-time-prototype/features/map/Map.tsx
  apps/track-labeler/src/features/user/user.slice.ts
  libs/api-client/package.json
  libs/api-client/src/api-client.ts
  libs/dataviews-client/package.json
  libs/deck-layer-composer/package.json
  libs/deck-layers/package.json
  libs/deck-layers/src/utils/fetch.ts
  libs/react-hooks/package.json
Labels: fishing-map, dataviews-client, api-portal, port-labeler, react-hooks, api-client, deck-layers, deck-layer-composer, track-labeler

#3405 Cvp analytics events
  apps/fishing-map/features/app/analytics.hooks.ts
  apps/fishing-map/features/workspace/events/EventsLayerPanel.tsx
  apps/fishing-map/features/workspace/events/EventsSection.tsx
  apps/fishing-map/features/workspaces-list/WorkspacesList.tsx
  libs/i18n-labels/.yarn/install-state.gz
Labels: fishing-map

#3402 Fishing map/turning tides improvements
  apps/fishing-map/features/bigquery/BigQueryModal.tsx
  apps/fishing-map/features/bigquery/TurningTidesModal.tsx
  apps/fishing-map/features/bigquery/bigquery.hooks.ts
  apps/fishing-map/features/bigquery/bigquery.slice.ts
  apps/fishing-map/features/bigquery/turning-tides.config.ts
  apps/fishing-map/features/i18n/i18n.types.d.ts
  apps/fishing-map/features/modals/Modals.tsx
  apps/fishing-map/features/track-correction/track-correction.config.ts
  apps/fishing-map/features/workspace/activity/ActivityLayerPanel.tsx
  apps/fishing-map/features/workspace/activity/TurningTidesFilters.tsx
  apps/fishing-map/features/workspace/activity/TurningTidesTags.tsx
  apps/fishing-map/public/locales/source/translations.json
Labels: fishing-map

#3409 New Crowdin updates
  apps/fishing-map/public/locales/en/translations.json
  apps/fishing-map/public/locales/es/translations.json
  apps/fishing-map/public/locales/fr/translations.json
  apps/fishing-map/public/locales/id/translations.json
  apps/fishing-map/public/locales/pt/translations.json
  apps/fishing-map/public/locales/val/translations.json
  libs/i18n-labels/en/datasets.json
  libs/i18n-labels/es/datasets.json
  libs/i18n-labels/fr/datasets.json
  libs/i18n-labels/id/datasets.json
  libs/i18n-labels/pt/datasets.json
Labels: fishing-map, i18n-labels

#3390 Chore/update dependencies
  apps/api-portal/next-env.d.ts
  apps/data-download-portal/apps/data-download-portal/src/routeTree.gen.ts
  apps/fishing-map/features/i18n/i18n.types.d.ts
  apps/fishing-map/next-env.d.ts
  apps/fishing-map/package.json
  apps/fishing-map/pages/api/corrections.ts
  apps/fishing-map/pages/api/feedback.ts
  apps/fishing-map/pages/api/track-corrections/[workspaceId]/[issueId].ts
  apps/fishing-map/pages/api/track-corrections/[workspaceId]/index.ts
  apps/fishing-map/pages/api/workspaces-generator/index.ts
  apps/fishing-map/server/api/track-corrections/get-all.ts
  apps/fishing-map/server/api/track-corrections/get-one.ts
  apps/fishing-map/server/api/track-corrections/post-comment.ts
  apps/fishing-map/server/api/track-corrections/post-new.ts
  apps/fishing-map/server/api/track-corrections/utils.ts
  apps/fishing-map/server/api/utils/spreadsheets.ts
  apps/fishing-map/server/api/workspaces-generator/area/area-search.ts
  apps/fishing-map/server/api/workspaces-generator/area/area-workspace.ts
  apps/fishing-map/server/api/workspaces-generator/area/data/eez.json
  apps/fishing-map/server/api/workspaces-generator/area/data/fao.json
  apps/fishing-map/server/api/workspaces-generator/area/data/mpas.json
  apps/fishing-map/server/api/workspaces-generator/area/data/rfmo.json
  apps/fishing-map/server/api/workspaces-generator/index.ts
  apps/fishing-map/server/api/workspaces-generator/port/data/ports.json
  apps/fishing-map/server/api/workspaces-generator/port/port-search.ts
  apps/fishing-map/server/api/workspaces-generator/port/port-workspace.ts
  apps/fishing-map/server/api/workspaces-generator/types.ts
  apps/fishing-map/server/api/workspaces-generator/utils.ts
  apps/fishing-map/server/api/workspaces-generator/vessel/vessel-search.ts
  apps/fishing-map/server/api/workspaces-generator/vessel/vessel-workspace.ts
  apps/port-labeler/next-env.d.ts
  apps/real-time-prototype/next-env.d.ts
  libs/api-client/project.json
  libs/api-types/project.json
  libs/data-transforms/project.json
  libs/datasets-client/project.json
  libs/dataviews-client/project.json
  libs/deck-layer-composer/project.json
  libs/deck-layers/project.json
  libs/deck-loaders/project.json
  libs/i18n-labels/project.json
  libs/ocean-areas/project.json
  libs/pbf-decoders/project.json
  libs/react-hooks/project.json
  libs/responsive-visualizations/project.json
  libs/timebar/project.json
  libs/ui-components/project.json
  package.json
  yarn.lock
Labels: fishing-map, timebar, dataviews-client, i18n-labels, api-portal, port-labeler, react-hooks, api-client, api-types, data-transforms, ocean-areas, pbf-decoders, deck-layers, deck-loaders, deck-layer-composer, responsive-visualizations, datasets-client

#3416 New Crowdin updates
  apps/fishing-map/public/locales/en/data-terminology.json
  apps/fishing-map/public/locales/es/data-terminology.json
  apps/fishing-map/public/locales/fr/data-terminology.json
  apps/fishing-map/public/locales/id/data-terminology.json
  apps/fishing-map/public/locales/pt/data-terminology.json
  apps/fishing-map/public/locales/source/data-terminology.json
  apps/fishing-map/public/locales/val/data-terminology.json
Labels: fishing-map
