Repository GlobalFishingWatch/frontend, pull requests merged in 2025-04, with the labels that each got.

#3101 Fishing map/vessel profile changes 3
  apps/fishing-map/features/vessel/identity/VesselIdentity.module.css
  apps/fishing-map/features/vessel/identity/VesselIdentity.tsx
  apps/fishing-map/features/vessel/identity/VesselIdentityCombinedSourceField.tsx
  libs/api-types/src/identity-vessel.ts
Labels: fishing-map, api-types, deploy-dev

#3104 fix missing users in group
  apps/user-groups-admin/src/components/user-groups/Detail.tsx
Labels: user-groups-admin

#3105 add missing highlighted cmar workspaces
  apps/fishing-map/data/highlighted-workspaces/marine-manager.ts
  apps/fishing-map/public/images/highlighted-workspaces/mm-default.jpg
  apps/fishing-map/public/locales/source/workspaces.json
Labels: fishing-map

#3106 New Crowdin updates
  apps/fishing-map/public/locales/en/workspaces.json
  apps/fishing-map/public/locales/es/workspaces.json
  apps/fishing-map/public/locales/fr/workspaces.json
  apps/fishing-map/public/locales/id/workspaces.json
  apps/fishing-map/public/locales/pt/workspaces.json
  apps/fishing-map/public/locales/val/workspaces.json
Labels: fishing-map

#3108 New Crowdin updates
  apps/fishing-map/public/locales/en/workspaces.json
  apps/fishing-map/public/locales/es/workspaces.json
  apps/fishing-map/public/locales/fr/workspaces.json
  apps/fishing-map/public/locales/id/workspaces.json
  apps/fishing-map/public/locales/pt/workspaces.json
  apps/fishing-map/public/locales/val/workspaces.json
Labels: fishing-map

#3109 add object-fit for map canvas to ensure print doesn't change the ratio
  apps/fishing-map/features/map/Map.module.css
  apps/fishing-map/features/reports/report-area/title/ReportTitle.tsx
Labels: fishing-map

#3112 Fishing map/report fixes
  apps/fishing-map/features/reports/tabs/vessel-group-insights/VGRInsightFlagChange.tsx
  apps/fishing-map/features/reports/tabs/vessel-group-insights/VGRInsightVesselEvents.tsx
  apps/fishing-map/features/vessel/identity/VesselIdentityCombinedSourceField.tsx
  apps/fishing-map/features/vessel/insights/InsightGapsDetails.tsx
  apps/fishing-map/queries/vessel-events-api.ts
Labels: fishing-map

#3079 Track labeler/deck migration
  apps/track-labeler/src/App.tsx
  apps/track-labeler/src/__snapshots__/app.test.tsx.snap
  apps/track-labeler/src/assets/images/vessel-sprite.png
  apps/track-labeler/src/data/config.ts
  apps/track-labeler/src/features/login/Login.tsx
  apps/track-labeler/src/features/map/Map.tsx
  apps/track-labeler/src/features/map/map-controls/MapControls.tsx
  apps/track-labeler/src/features/map/map-controls/mapControls.container.ts
  apps/track-labeler/src/features/map/map-data/map-data.module.css
  apps/track-labeler/src/features/map/map-data/map-data.tsx
  apps/track-labeler/src/features/map/map-layers.dataviews.ts
  apps/track-labeler/src/features/map/map-layers.hooks.ts
  apps/track-labeler/src/features/map/map-layers.selectors.ts
  apps/track-labeler/src/features/map/map-static-layers-style.ts
  apps/track-labeler/src/features/map/map.context.tsx
  apps/track-labeler/src/features/map/map.hooks.ts
  apps/track-labeler/src/features/map/map.selectors.test.ts
  apps/track-labeler/src/features/map/map.selectors.ts
  apps/track-labeler/src/features/map/map.slice.ts
  apps/track-labeler/src/features/rulers/rulers.slice.ts
  apps/track-labeler/src/features/sidebar/Sidebar.tsx
  apps/track-labeler/src/features/timebar/Timebar.tsx
  apps/track-labeler/src/features/timebar/VesselEventsPointsGraphDeckGL.tsx
  apps/track-labeler/src/features/timebar/timebar.selectors.ts
  apps/track-labeler/src/features/tracks/tracks.selectors.ts
  apps/track-labeler/src/features/vessels/vessels.thunks.ts
  apps/track-labeler/src/routes/routes.selectors.ts
  apps/track-labeler/src/store.ts
  apps/track-labeler/src/types/index.ts
  apps/track-labeler/src/utils/colors.ts
  libs/deck-layer-composer/src/resolvers/basemap.ts
  libs/deck-layer-composer/src/resolvers/context.ts
  libs/deck-layers/src/layers/basemap/BasemapLayer.ts
  libs/deck-layers/src/layers/context/ContextLayer.ts
  libs/deck-layers/src/layers/context/context.types.ts
  libs/deck-layers/src/layers/vessel/TrackLabelerVesselLayer.ts
  libs/deck-layers/src/layers/vessel/index.ts
  libs/deck-layers/src/layers/vessel/vessel.types.ts
  libs/timebar/src/components/timeline.tsx
  libs/timebar/src/timebar.tsx
Labels: timebar, deck-layers, deck-layer-composer, track-labeler

#3115 add imo and callsign to report download
  apps/fishing-map/features/reports/shared/vessels/report-vessels.selectors.ts
  apps/fishing-map/features/reports/tabs/activity/reports-activity.slice.ts
  apps/fishing-map/features/reports/tabs/activity/vessels/report-activity-vessels.selectors.ts
Labels: fishing-map

#3114 test navigation history
  apps/fishing-map/features/sidebar/SidebarHeader.tsx
  apps/fishing-map/features/workspace/workspace.selectors.ts
  apps/fishing-map/features/workspace/workspace.slice.ts
  apps/fishing-map/routes/routes.actions.ts
  apps/fishing-map/routes/routes.middlewares.ts
Labels: fishing-map

#3116 Chore/fix vessel group layer
  apps/fishing-map/features/datasets/datasets.utils.ts
  apps/fishing-map/features/layer-library/LayerLibrary.tsx
  apps/fishing-map/features/layer-library/LayerLibraryVesselGroupPanel.tsx
  apps/fishing-map/features/workspace/vessel-groups/VesselGroupsSection.tsx
  apps/fishing-map/public/locales/source/translations.json
  yarn.lock
Labels: fishing-map

#3117 vessel search event
  apps/fishing-map/features/vessel/VesselLink.tsx
Labels: fishing-map

#3120 New Crowdin updates
  libs/i18n-labels/en/datasets.json
  libs/i18n-labels/es/datasets.json
  libs/i18n-labels/fr/datasets.json
  libs/i18n-labels/id/datasets.json
  libs/i18n-labels/pt/datasets.json
  libs/i18n-labels/source/datasets.json
  libs/i18n-labels/val/datasets.json
Labels: i18n-labels

#3125 Chore/update dependencies
  apps/fishing-map-e2e/cypress.config.ts
  apps/fishing-map/features/map/DeckGLWrapper.tsx
  apps/port-labeler/features/i18n/LanguageToggle.tsx
  apps/port-labeler/features/i18n/i18nDate.tsx
  apps/port-labeler/features/i18n/i18nNumber.tsx
  apps/port-labeler/features/labeler/labeler.selectors.ts
  apps/port-labeler/features/labeler/labeler.slice.ts
  apps/port-labeler/features/map/map.selectors.ts
  apps/port-labeler/features/search/Search.tsx
  apps/port-labeler/features/sidebar/sidebar.hooks.ts
  apps/port-labeler/features/table-anchorage/TableAnchorage.tsx
  apps/port-labeler/features/table-anchorage/TableHeader.tsx
  apps/port-labeler/features/table-anchorage/TableRow.tsx
  apps/port-labeler/features/user/user.slice.ts
  apps/port-labeler/middleware.ts
  apps/port-labeler/routes/routes.actions.ts
  apps/port-labeler/routes/routes.hook.ts
  apps/port-labeler/routes/routes.middlewares.ts
  apps/port-labeler/routes/routes.selectors.ts
  apps/track-labeler/src/features/tracks/tracks.utils.test.ts
  linting/package.json
  package.json
  yarn.lock
Labels: fishing-map, port-labeler, track-labeler

#3130 Fishing map/identity fixes
  apps/fishing-map/features/app/analytics.hooks.ts
  apps/fishing-map/features/vessel/insights/InsightFishing.tsx
  apps/fishing-map/features/vessel/insights/InsightGaps.tsx
  apps/fishing-map/features/vessel/insights/InsightGapsDetails.tsx
  libs/react-hooks/src/use-analytics/use-analytics.ts
Labels: fishing-map, react-hooks

#3127 add ports table
  apps/fishing-map/data/ports.ts
  apps/fishing-map/features/datasets/datasets.mock.ts
  apps/fishing-map/features/datasets/datasets.utils.ts
  apps/fishing-map/features/dataviews/selectors/dataviews.resolvers.selectors.ts
  apps/fishing-map/features/map/popups/PopupByCategory.tsx
  apps/fishing-map/features/reports/report-area/AreaReport.tsx
  apps/fishing-map/features/reports/report-area/title/ReportTitle.tsx
  apps/fishing-map/features/reports/reports.config.selectors.ts
  apps/fishing-map/features/reports/reports.config.ts
  apps/fishing-map/features/reports/reports.types.ts
  apps/fishing-map/features/reports/shared/placeholders/placeholders.module.css
  apps/fishing-map/features/reports/shared/summary/report-summary.utils.ts
  apps/fishing-map/features/reports/shared/vessels/ReportVessels.module.css
  apps/fishing-map/features/reports/shared/vessels/ReportVesselsTable.tsx
  apps/fishing-map/features/reports/tabs/events/EventReportPorts.module.css
  apps/fishing-map/features/reports/tabs/events/EventReportPorts.tsx
  apps/fishing-map/features/reports/tabs/events/EventsReport.tsx
  apps/fishing-map/features/reports/tabs/events/EventsReportGraph.tsx
  apps/fishing-map/features/reports/tabs/events/EventsReportGraphEvolution.tsx
  apps/fishing-map/features/reports/tabs/events/events-report.hooks.ts
  apps/fishing-map/features/reports/tabs/events/events-report.selectors.ts
  apps/fishing-map/features/timebar/timebar.hooks.ts
  apps/fishing-map/features/timebar/timebar.slice.ts
  apps/fishing-map/features/vessel/activity/event/EventDetail.tsx
  apps/fishing-map/features/workspace/shared/DatasetSchemaField.tsx
  apps/fishing-map/public/locales/source/translations.json
  apps/fishing-map/queries/report-events-stats-api.ts
  apps/fishing-map/routes/routes.selectors.ts
  apps/fishing-map/utils/flags.ts
  apps/fishing-map/utils/ports.ts
  libs/deck-layer-composer/src/resolvers/clusters.ts
  libs/deck-layers/src/layers/cluster/ClusterLayer.ts
  libs/deck-layers/src/layers/fourwings/clusters/FourwingsClustersLayer.ts
  libs/deck-layers/src/layers/fourwings/clusters/fourwings-clusters.types.ts
  libs/deck-layers/src/layers/fourwings/fourwings.types.ts
  libs/deck-layers/src/utils/layers.ts
  libs/ocean-areas/src/data/source/rfmos.json
  libs/responsive-visualizations/src/charts/timeseries/timeseries.hooks.ts
  libs/ui-components/src/multi-select/MultiSelect.module.css
  libs/ui-components/src/multi-select/MultiSelect.tsx
  libs/ui-components/src/select/Select.tsx
  package.json
  yarn.lock
Labels: fishing-map

#3132 better dataset name upload validation
  apps/fishing-map/features/datasets/upload/NewPointsDataset.tsx
  apps/fishing-map/features/datasets/upload/NewPolygonDataset.tsx
  apps/fishing-map/features/datasets/upload/NewTrackDataset.tsx
  apps/fishing-map/features/datasets/upload/datasets-upload.utils.ts
  apps/fishing-map/public/locales/source/translations.json
Labels: fishing-map

#3133 New Crowdin updates
  apps/fishing-map/public/locales/en/translations.json
  apps/fishing-map/public/locales/es/translations.json
  apps/fishing-map/public/locales/fr/translations.json
  apps/fishing-map/public/locales/id/translations.json
  apps/fishing-map/public/locales/pt/translations.json
  apps/fishing-map/public/locales/val/translations.json
Labels: fishing-map

#3135 Fishing map/fix region report
  apps/fishing-map/features/map/popups/categories/ContextLayers.hooks.ts
  apps/fishing-map/features/reports/report-area/area-reports.config.ts
  apps/fishing-map/features/reports/report-area/area-reports.hooks.ts
  apps/fishing-map/features/reports/reports.selectors.ts
  apps/fishing-map/features/reports/tabs/activity/reports-activity.slice.ts
  apps/fishing-map/features/reports/tabs/events/events-report.selectors.ts
  apps/fishing-map/routes/routes.selectors.ts
  libs/data-transforms/src/files/kml-to-geojson.ts
Labels: fishing-map, data-transforms

#3136 Hotfixes
  apps/fishing-map/features/reports/report-area/area-reports.hooks.ts
  apps/fishing-map/features/reports/report-area/title/ReportTitle.tsx
  apps/fishing-map/features/reports/tabs/activity/reports-activity-timeseries.hooks.ts
Labels: fishing-map

#3137 distance from port filter
  apps/fishing-map/features/datasets/datasets.utils.ts
  apps/fishing-map/features/reports/shared/summary/report-summary.utils.ts
  apps/fishing-map/features/workspace/activity/ActivityLayerPanel.tsx
  apps/fishing-map/features/workspace/shared/LayerSchemaFilter.tsx
  apps/fishing-map/public/locales/source/translations.json
  libs/api-types/src/datasets.ts
  libs/dataviews-client/src/resolve-dataviews.ts
  libs/ui-components/src/slider/Slider.tsx
Labels: fishing-map, dataviews-client, api-types, deploy-dev

#3139 Fishing map/fixes
  apps/fishing-map/features/vessel/identity/VesselIdentity.tsx
  apps/fishing-map/features/workspace/shared/LayerSchemaFilter.tsx
  libs/ui-components/src/slider-range/SliderRange.tsx
  libs/ui-components/src/slider/slider.module.css
Labels: fishing-map
