Repository GlobalFishingWatch/frontend, pull requests merged in 2025-02, with the labels that each got.

#3019 Fishing map/hotfixes
  apps/fishing-map/features/map/popups/PopupByCategory.tsx
  apps/fishing-map/features/map/popups/categories/UserContextLayers.tsx
  libs/timebar/src/charts/stacked-activity.tsx
  libs/timebar/src/components/timeline-units.tsx
  libs/timebar/src/components/timeline.tsx
Labels: fishing-map, timebar

#3023 Fishing map/hotfixes
  apps/fishing-map/features/i18n/translation-keys.ts
  apps/fishing-map/features/reports/vessel-groups/insights/VGRInsightMOU.tsx
  apps/fishing-map/features/vessel/identity/VesselIdentity.tsx
  apps/fishing-map/features/vessel/identity/VesselIdentityField.tsx
  apps/fishing-map/features/vessel/identity/VesselRegistryField.tsx
  apps/fishing-map/features/vessel/vessel.config.ts
  apps/fishing-map/public/locales/source/translations.json
  libs/deck-layers/src/utils/colors.ts
  libs/layer-composer/src/generators/heatmap/util/colors.ts
Labels: fishing-map, layer-composer, deck-layers

#3024 New Crowdin updates
  apps/fishing-map/public/locales/en/translations.json
  apps/fishing-map/public/locales/es/translations.json
  apps/fishing-map/public/locales/fr/translations.json
  apps/fishing-map/public/locales/id/translations.json
  apps/fishing-map/public/locales/pt/translations.json
  apps/fishing-map/public/locales/val/translations.json
  apps/fishing-map/public/locales/zh/translations.json
Labels: fishing-map

#3025 Fishing map/folders cleanup fixes jc
  apps/fishing-map/features/reports/report-area/AreaReport.module.css
  apps/fishing-map/features/reports/report-vessel-group/VesselGroupReportTitle.module.css
  apps/fishing-map/features/reports/report-vessel-group/VesselGroupReportTitle.tsx
  apps/fishing-map/features/reports/shared/placeholders/VGRTitlePlaceholder.tsx
  apps/fishing-map/features/reports/shared/vessels/ReportVessels.module.css
  apps/fishing-map/features/reports/shared/vessels/ReportVessels.tsx
  apps/fishing-map/features/reports/shared/vessels/ReportVesselsTable.module.css
  apps/fishing-map/features/reports/tabs/activity/ReportActivity.tsx
  apps/fishing-map/features/reports/tabs/activity/download/ReportDownload.module.css
  apps/fishing-map/features/reports/tabs/activity/summary/ReportSummary.module.css
  apps/fishing-map/features/reports/tabs/activity/summary/ReportSummary.tsx
  apps/fishing-map/features/reports/tabs/activity/vessels/ReportVessels.tsx
Labels: fishing-map

#3026 New Crowdin updates
  apps/fishing-map/public/locales/en/translations.json
  apps/fishing-map/public/locales/es/translations.json
  apps/fishing-map/public/locales/fr/translations.json
  apps/fishing-map/public/locales/id/translations.json
  apps/fishing-map/public/locales/pt/translations.json
  apps/fishing-map/public/locales/val/translations.json
  apps/fishing-map/public/locales/zh/translations.json
  libs/i18n-labels/en/datasets.json
Labels: fishing-map, i18n-labels

#3028 Fishing map/reports fixes
  apps/fishing-map/features/dataviews/selectors/dataviews.instances.selectors.ts
  apps/fishing-map/features/map/DeckGLWrapper.tsx
  apps/fishing-map/features/reports/report-area/area-reports.utils.ts
  apps/fishing-map/features/reports/shared/vessels/ReportVesselsGraph.tsx
  apps/fishing-map/features/reports/shared/vessels/report-vessels.config.ts
  apps/fishing-map/features/reports/tabs/activity/ReportActivityGraph.tsx
  apps/fishing-map/features/reports/tabs/activity/reports-activity-timeseries.hooks.ts
  apps/fishing-map/features/reports/tabs/activity/summary/ReportSummary.tsx
  apps/fishing-map/features/reports/tabs/activity/vessels/report-activity-vessels.selectors.ts
Labels: fishing-map

#3030 vessel profile feedback after TMT bulk data
  apps/fishing-map/features/search/search.slice.ts
  apps/fishing-map/features/vessel/VesselHeader.module.css
  apps/fishing-map/features/vessel/VesselHeader.tsx
Labels: fishing-map

#3033 Fishing map/vessel profile changes 2
  apps/fishing-map/features/vessel/identity/VesselIdentity.module.css
  apps/fishing-map/features/vessel/identity/VesselIdentity.tsx
  apps/fishing-map/features/vessel/identity/VesselRegistryField.tsx
  apps/fishing-map/public/locales/source/translations.json
Labels: fishing-map

#3032 fix race condition on reports timeseries calculation
  apps/fishing-map/features/reports/report-area/AreaReport.tsx
  apps/fishing-map/features/reports/tabs/activity/ReportActivityGraph.tsx
  apps/fishing-map/features/reports/tabs/activity/reports-activity-timeseries.hooks.ts
  apps/fishing-map/features/reports/tabs/activity/summary/ReportSummary.module.css
Labels: fishing-map

#2940 add GFWOnly vesselId field to advance search and link to profile without related ids
  apps/fishing-map/features/dataviews/dataviews.utils.ts
  apps/fishing-map/features/search/advanced/SearchAdvanced.tsx
  apps/fishing-map/features/search/advanced/SearchAdvancedResults.tsx
  apps/fishing-map/features/search/search.config.selectors.ts
  apps/fishing-map/features/search/search.config.ts
  apps/fishing-map/features/search/search.types.ts
  apps/fishing-map/features/vessel/Vessel.module.css
  apps/fishing-map/features/vessel/Vessel.tsx
  apps/fishing-map/features/vessel/vessel.config.selectors.ts
  apps/fishing-map/features/vessel/vessel.config.ts
  apps/fishing-map/features/vessel/vessel.slice.ts
  apps/fishing-map/features/vessel/vessel.types.ts
  apps/vessel-history/features/map/map-viewport.hooks.ts
  apps/vessel-history/features/risk-indicator/risk-indicator.hook.ts
  libs/api-client/src/utils/search.ts
Labels: fishing-map, vessel-history, api-client

#3036 Fishing map/report fixes 3
  apps/fishing-map/features/reports/tabs/activity/ReportActivityGraph.tsx
  apps/fishing-map/features/reports/tabs/activity/reports-activity-geo.utils.ts
  apps/fishing-map/features/reports/tabs/activity/reports-activity-timeseries.hooks.ts
  apps/fishing-map/features/reports/tabs/environment/ReportEnvironment.module.css
  apps/fishing-map/features/reports/tabs/environment/ReportEnvironment.tsx
  libs/deck-layers/src/layers/fourwings/heatmap/FourwingsHeatmapStaticLayer.ts
  libs/deck-loaders/src/fourwings/lib/types.ts
Labels: fishing-map, deck-layers, deck-loaders

#3038 Fishing map/release fixes
  apps/fishing-map/features/map/DeckGLWrapper.tsx
  apps/fishing-map/features/map/map-interactions.hooks.ts
  apps/fishing-map/features/reports/tabs/activity/ReportActivityEvolution.tsx
  package.json
  yarn.lock
Labels: fishing-map
