Repository GlobalFishingWatch/frontend, pull requests merged in 2025-01, with the labels that each got.

#2983 New Crowdin updates
  apps/fishing-map/public/locales/es/data-terminology.json
  apps/fishing-map/public/locales/pt/data-terminology.json
  apps/fishing-map/public/locales/pt/help-hints.json
  apps/fishing-map/public/locales/pt/layer-library.json
  apps/fishing-map/public/locales/pt/translations.json
  libs/i18n-labels/pt/flags.json
Labels: fishing-map, i18n-labels

#2985 Fishing-map-e2e/fix-tests
  apps/fishing-map-e2e/src/e2e/fishing-activity/vms.cy.ts
  apps/fishing-map-e2e/src/e2e/login.cy.ts
  apps/fishing-map-e2e/src/e2e/map/analysis.cy.ts
  apps/fishing-map-e2e/src/e2e/map/eez-download.cy.ts
  apps/fishing-map-e2e/src/e2e/map/interact-with-vessel.cy.ts
  apps/fishing-map-e2e/src/e2e/vessel-viewer/direct-access.cy.ts
  apps/fishing-map-e2e/src/e2e/vessel-viewer/map-access.cy.ts
  apps/fishing-map-e2e/src/e2e/vessel-viewer/search-vessel.cy.ts
  apps/fishing-map-e2e/src/support/app.po.ts
  apps/fishing-map-e2e/src/support/commands.ts
  apps/fishing-map/cloudbuild.yaml
  apps/fishing-map/features/reports/shared/activity/ReportActivity.tsx
  apps/fishing-map/features/search/Search.tsx
  apps/fishing-map/features/sidebar/SidebarHeader.tsx
  apps/fishing-map/features/workspace/activity/ActivitySection.tsx
  libs/ui-components/src/spinner/Spinner.tsx
Labels: fishing-map

#2967 wip: don't show anchorages
  apps/api-portal/features/user-applications/user-applications.ts
  apps/fishing-map/data/layer-library/layers-events.ts
  apps/fishing-map/features/download/downloadActivity.slice.ts
  apps/fishing-map/features/download/downloadTrack.slice.ts
  apps/fishing-map/features/editor/editor.slice.ts
  apps/fishing-map/features/map/controls/map-controls.slice.ts
  apps/fishing-map/features/map/popups/Popup.module.css
  apps/fishing-map/features/map/popups/categories/TileClusterTooltipRow.tsx
  apps/fishing-map/features/modals/modals.slice.ts
  apps/fishing-map/features/reports/areas/area-reports.hooks.ts
  apps/fishing-map/features/reports/ports/PortsReportLink.tsx
  apps/fishing-map/features/reports/ports/ports-report.utils.ts
  apps/fishing-map/features/reports/vessel-groups/insights/VGRInsightFishing.tsx
  apps/fishing-map/features/reports/vessel-groups/insights/VGRInsightMOU.tsx
  apps/fishing-map/features/reports/vessel-groups/vessel-group-report.selectors.ts
  apps/fishing-map/features/vessel/insights/InsightGapsDetails.tsx
  apps/fishing-map/features/vessel/insights/InsightWrapper.tsx
  apps/fishing-map/features/vessel/vessel.slice.ts
  apps/fishing-map/middlewares.ts
  apps/fishing-map/routes/routes.middlewares.ts
  apps/fishing-map/server/vessel/vessel.tsx
  apps/real-time-prototype/features/map/Map.tsx
Labels: fishing-map, api-portal, deploy-dev

#2989 New Crowdin updates
  apps/fishing-map/public/locales/es/data-terminology.json
  apps/fishing-map/public/locales/es/layer-library.json
Labels: fishing-map

#2990 Fishing map/fixes
  apps/fishing-map/data/config.ts
  apps/fishing-map/features/workspace/activity/ActivityLayerPanel.tsx
  apps/fishing-map/features/workspace/common/Title.module.css
  apps/fishing-map/features/workspace/user/UserLayerPanel.tsx
Labels: fishing-map

#2991 fix crash when no vessel images
  apps/fishing-map/features/vessel/VesselHeader.tsx
Labels: fishing-map

#2992 Chore/update dependencies
  .gitignore
  apps/fishing-map/package.json
  eslint.config.js
  linting/index.js
  package.json
  yarn.lock
Labels: fishing-map

#2995 Fishing map/ga vessel tracking
  apps/fishing-map/features/map/map-interaction.utils.ts
Labels: fishing-map

#3001 add meticulous script
  apps/fishing-map/pages/_document.tsx
Labels: fishing-map

#3003 include script also in preview branches
  apps/fishing-map/features/vessel/insights/Insights.tsx
  apps/fishing-map/pages/_document.tsx
Labels: fishing-map, deploy-dev

#3002 fix update workspace in vessel profile
  apps/fishing-map/features/app/App.tsx
  apps/fishing-map/features/dataviews/selectors/dataviews.instances.selectors.ts
  apps/fishing-map/features/map/map-viewport.hooks.ts
  apps/fishing-map/features/reports/areas/NewAreaReportModal.tsx
  apps/fishing-map/features/reports/areas/area-reports.utils.ts
  apps/fishing-map/features/timebar/timebar.hooks.ts
  apps/fishing-map/features/vessel/Vessel.tsx
  apps/fishing-map/features/vessel/activity/VesselActivity.tsx
  apps/fishing-map/features/vessel/insights/InsightWrapper.tsx
  apps/fishing-map/features/vessel/insights/Insights.tsx
  apps/fishing-map/features/workspace/workspace-migration.hooks.tsx
  apps/fishing-map/features/workspace/workspace.selectors.ts
Labels: fishing-map

#2996 Fishing map/split components
  apps/fishing-map/features/app/App.tsx
  apps/fishing-map/features/app/ErrorBoundary.tsx
  apps/fishing-map/features/app/ErrorBoundaryUI.tsx
  apps/fishing-map/features/app/Main.tsx
  apps/fishing-map/features/bigquery/BigQuery.tsx
  apps/fishing-map/features/bigquery/bigquery.config.ts
  apps/fishing-map/features/download/DownloadActivityByVessel.tsx
  apps/fishing-map/features/download/DownloadActivityEnvironment.tsx
  apps/fishing-map/features/download/DownloadActivityGridded.tsx
  apps/fishing-map/features/download/DownloadTrackModal.tsx
  apps/fishing-map/features/map/controls/MapInfo.tsx
  apps/fishing-map/features/map/controls/TimeRangeDates.tsx
  apps/fishing-map/features/map/controls/TimelineDatesRange.tsx
  apps/fishing-map/features/map/popups/PopupByCategory.tsx
  apps/fishing-map/features/map/popups/categories/ClusterEventTooltipRow.tsx
  apps/fishing-map/features/map/popups/categories/ClusterTooltipRow.tsx
  apps/fishing-map/features/map/popups/categories/ContextLayerDownloadPopupButton.tsx
  apps/fishing-map/features/map/popups/categories/ContextLayerReportLink.tsx
  apps/fishing-map/features/map/popups/categories/ContextLayersRow.tsx
  apps/fishing-map/features/map/popups/categories/DetectionsLayers.tsx
  apps/fishing-map/features/map/popups/categories/EncounterTooltipRow.tsx
  apps/fishing-map/features/map/popups/categories/GenericClusterTooltipRow.tsx
  apps/fishing-map/features/map/popups/categories/PortVisitEventTooltipRow.tsx
  apps/fishing-map/features/map/popups/categories/PositionsRow.tsx
  apps/fishing-map/features/map/popups/categories/TileClusterTooltipRow.tsx
  apps/fishing-map/features/map/popups/categories/VesselDetectionTimestamps.tsx
  apps/fishing-map/features/map/popups/categories/VesselsTable.tsx
  apps/fishing-map/features/reports/areas/AreaReport.tsx
  apps/fishing-map/features/reports/shared/activity/BeforeAfterGraphTooltip.tsx
  apps/fishing-map/features/reports/shared/activity/EvolutionGraphTooltip.tsx
  apps/fishing-map/features/reports/shared/activity/PeriodComparisonGraphTooltip.tsx
  apps/fishing-map/features/reports/shared/activity/ReportActivity.tsx
  apps/fishing-map/features/reports/shared/activity/ReportActivityBeforeAfterGraph.tsx
  apps/fishing-map/features/reports/shared/activity/ReportActivityEvolution.tsx
  apps/fishing-map/features/reports/shared/activity/ReportActivityPeriodComparisonGraph.tsx
  apps/fishing-map/features/reports/vessel-groups/VesselGroupReportError.tsx
  apps/fishing-map/features/search/Search.tsx
  apps/fishing-map/features/search/advanced/AdvancedFilterInputField.tsx
  apps/fishing-map/features/search/advanced/AdvancedResultCellWithFilter.tsx
  apps/fishing-map/features/search/advanced/SearchAdvancedFilters.tsx
  apps/fishing-map/features/search/advanced/SearchAdvancedResults.tsx
  apps/fishing-map/features/search/basic/SearchBasic.tsx
  apps/fishing-map/features/vessel/Vessel.tsx
  apps/fishing-map/features/workspace/ErrorPlaceholder.tsx
  apps/fishing-map/features/workspace/Workspace.tsx
  apps/fishing-map/features/workspace/WorkspaceError.tsx
  apps/fishing-map/features/workspace/WorkspaceLoginError.tsx
  apps/fishing-map/features/workspace/WorkspacePassword.tsx
  apps/fishing-map/features/workspace/context-areas/ContextAreaLayerPanel.tsx
  apps/fishing-map/features/workspace/save/workspace-save.utils.ts
Labels: fishing-map, deploy-dev

#3005 New Crowdin updates
  libs/i18n-labels/en/datasets.json
  libs/i18n-labels/es/datasets.json
  libs/i18n-labels/fr/datasets.json
  libs/i18n-labels/id/datasets.json
  libs/i18n-labels/pt/datasets.json
  libs/i18n-labels/source/datasets.json
  libs/i18n-labels/val/datasets.json
  libs/i18n-labels/zh/datasets.json
Labels: i18n-labels

#2994 add port footprints layer on report
  apps/fishing-map/data/workspaces.ts
  apps/fishing-map/features/areas/areas.slice.ts
  apps/fishing-map/features/dataviews/selectors/dataviews.resolvers.selectors.ts
  apps/fishing-map/features/map/map-bounds.hooks.ts
  apps/fishing-map/features/map/map-viewport.hooks.ts
  apps/fishing-map/features/map/popups/categories/PortVisitEventTooltipRow.tsx
  apps/fishing-map/features/reports/areas/area-reports.hooks.ts
  apps/fishing-map/features/reports/ports/PortsReport.tsx
  apps/fishing-map/features/reports/ports/ports-report.hooks.ts
  apps/fishing-map/features/reports/ports/ports-report.selectors.ts
  libs/deck-layer-composer/src/resolvers/user.ts
  libs/deck-layers/src/layers/user/UserBaseLayer.ts
  libs/deck-layers/src/layers/user/UserPolygonsTileLayer.ts
Labels: fishing-map, deploy-dev, deck-layers, deck-layer-composer

#3008 fix evolution graph axis
  apps/fishing-map/features/reports/shared/activity/ReportActivityEvolution.tsx
Labels: fishing-map

#3007 Fishing map/meticulous build
  .github/workflows/meticulous.yaml
  .gitignore
  apps/fishing-map/project.json
Labels: fishing-map, test

#3011 react-scan fixes
  apps/fishing-map/features/datasets/datasets.hook.ts
  apps/fishing-map/features/map/DeckGLWrapper.tsx
  apps/fishing-map/features/map/Map.tsx
  apps/fishing-map/features/map/controls/MapControls.tsx
  apps/fishing-map/features/map/controls/MapInfo.tsx
  apps/fishing-map/features/map/controls/map-controls.hooks.ts
  apps/fishing-map/features/map/controls/map-controls.slice.ts
  apps/fishing-map/features/map/map-bounds.hooks.ts
  apps/fishing-map/features/map/map-context.hooks.ts
  apps/fishing-map/features/map/map-draw.hooks.ts
  apps/fishing-map/features/map/map-interactions.hooks.ts
  apps/fishing-map/features/map/map-layers.hooks.ts
  apps/fishing-map/features/map/map-viewport.hooks.ts
  apps/fishing-map/features/map/overlays/annotations/annotations.hooks.ts
  apps/fishing-map/features/map/overlays/error-notification/error-notification.hooks.ts
  apps/fishing-map/features/map/overlays/rulers/rulers.hooks.ts
  apps/fishing-map/features/reports/areas/area-reports.hooks.ts
  apps/fishing-map/features/reports/shared/activity/reports-activity-timecomparison.hooks.ts
  apps/fishing-map/features/search/search.hook.ts
  apps/fishing-map/features/timebar/Timebar.tsx
  apps/fishing-map/features/timebar/timebar.hooks.ts
  apps/fishing-map/features/timebar/timebar.selectors.ts
  apps/fishing-map/features/workspace/activity/activity.hooks.tsx
  apps/fishing-map/features/workspace/common/OutOfBoundsDisclaimer.tsx
  apps/fishing-map/features/workspace/save/workspace-save.hooks.ts
  apps/fishing-map/features/workspace/workspace.hook.ts
  apps/fishing-map/hooks/screen.hooks.ts
  apps/fishing-map/hooks/secret-menu.hooks.ts
  apps/fishing-map/queries/stats-api.ts
  apps/fishing-map/routes/routes.selectors.ts
  apps/fishing-map/routes/routes.ts
  libs/datasets-client/src/datasets.utils.ts
  libs/timebar/src/components/timeline-units.tsx
  libs/timebar/src/components/timeline.tsx
  libs/timebar/src/timebar.tsx
Labels: fishing-map, timebar, deploy-dev, test

#3014 Fishing map/area report search
  apps/fishing-map/features/dataviews/selectors/dataviews.resolvers.selectors.ts
  apps/fishing-map/features/map/map-bounds.hooks.ts
  apps/fishing-map/features/reports/areas/area-reports.hooks.ts
  apps/fishing-map/features/reports/areas/summary/ReportSummary.tsx
  apps/fishing-map/features/reports/ports/ports-report.utils.ts
  apps/fishing-map/features/reports/shared/activity/reports-activity-timeseries.hooks.ts
  apps/fishing-map/features/reports/shared/area/AreaReportSearch.module.css
  apps/fishing-map/features/reports/shared/area/AreaReportSearch.tsx
  apps/fishing-map/features/reports/vessel-groups/activity/VGRActivity.tsx
  apps/fishing-map/features/search/basic/SearchBasicResult.tsx
  apps/fishing-map/features/workspaces-list/WorkspaceWizard.tsx
  apps/fishing-map/public/locales/source/translations.json
  apps/fishing-map/routes/routes.ts
Labels: fishing-map

#3016 fix user uploaded tracks crossing antimeridian
  libs/data-transforms/src/list-to-track-segments/list-to-track-segments.ts
Labels: data-transforms
