Repository GlobalFishingWatch/frontend, pull requests merged in 2025-06, with the labels that each got.

#3216 New Crowdin updates
  apps/fishing-map/public/locales/en/layer-library.json
  apps/fishing-map/public/locales/en/translations.json
  apps/fishing-map/public/locales/es/layer-library.json
  apps/fishing-map/public/locales/fr/layer-library.json
  apps/fishing-map/public/locales/id/layer-library.json
  apps/fishing-map/public/locales/pt/layer-library.json
  apps/fishing-map/public/locales/val/layer-library.json
Labels: fishing-map

#3218 New Crowdin updates
  apps/fishing-map/public/locales/en/workspaces.json
  apps/fishing-map/public/locales/es/workspaces.json
  apps/fishing-map/public/locales/fr/workspaces.json
  apps/fishing-map/public/locales/id/workspaces.json
  apps/fishing-map/public/locales/pt/workspaces.json
  apps/fishing-map/public/locales/source/workspaces.json
Labels: fishing-map

#3219 New Crowdin updates
  apps/fishing-map/public/locales/en/translations.json
  apps/fishing-map/public/locales/es/translations.json
  apps/fishing-map/public/locales/fr/translations.json
  apps/fishing-map/public/locales/id/translations.json
  apps/fishing-map/public/locales/pt/translations.json
  apps/fishing-map/public/locales/val/translations.json
Labels: fishing-map

#3220 New Crowdin updates
  apps/fishing-map/public/locales/en/translations.json
  apps/fishing-map/public/locales/es/translations.json
  apps/fishing-map/public/locales/fr/translations.json
  apps/fishing-map/public/locales/id/translations.json
  apps/fishing-map/public/locales/pt/translations.json
  apps/fishing-map/public/locales/val/translations.json
Labels: fishing-map

#3227 New Crowdin updates
  apps/fishing-map/public/locales/en/translations.json
  apps/fishing-map/public/locales/es/translations.json
  apps/fishing-map/public/locales/fr/translations.json
  apps/fishing-map/public/locales/id/translations.json
  apps/fishing-map/public/locales/pt/translations.json
  apps/fishing-map/public/locales/val/translations.json
Labels: fishing-map

#3199 Allow users to fix timebar tooltip
  apps/fishing-map/features/map/popups/Popup.module.css
  apps/fishing-map/features/map/popups/PopupByCategory.tsx
  apps/fishing-map/features/map/popups/categories/VesselTracksLayers.tsx
  apps/fishing-map/features/timebar/Timebar.tsx
  apps/fishing-map/utils/info.ts
  libs/deck-layer-composer/src/resolvers/vessels.ts
  libs/deck-layers/src/layers/basemap/BasemapLabelsLayer.ts
  libs/deck-layers/src/layers/fourwings/heatmap/FourwingsHeatmapStaticLayer.ts
  libs/deck-layers/src/layers/vessel/LabelLayer.ts
  libs/deck-layers/src/layers/vessel/VesselLayer.ts
  libs/deck-layers/src/layers/vessel/VesselTrackLayer.ts
  libs/deck-layers/src/layers/vessel/VesselTrackLayerComposite.ts
  libs/deck-layers/src/layers/vessel/vessel.types.ts
  libs/deck-layers/src/layers/vessel/vessel.utils.ts
  libs/deck-layers/src/types.ts
  libs/deck-layers/src/utils/sort.ts
  libs/timebar/src/charts/highlighter.module.css
  libs/timebar/src/charts/highlighter.tsx
  package.json
  yarn.lock
Labels: fishing-map, timebar, deploy-dev, deck-layers, deck-layer-composer

#3233 Fishing map/fixes
  apps/fishing-map/features/bigquery/bigquery.config.ts
  apps/fishing-map/features/dataviews/selectors/dataviews.selectors.ts
  apps/fishing-map/features/workspace/activity/activity.hooks.tsx
  apps/fishing-map/features/workspace/shared/LayerFilters.tsx
  apps/fishing-map/pages/api/workspaces-generator/index.ts
  apps/fishing-map/public/locales/source/translations.json
  libs/deck-layers/src/layers/fourwings/footprint/FourwingsFootprintTileLayer.ts
  libs/ui-components/src/icon/icon.config.ts
  libs/ui-components/src/icon/icons/heatmap-high-res-disabled.svg
Labels: fishing-map, deck-layers

#3232 New Crowdin updates
  apps/fishing-map/public/locales/en/translations.json
Labels: fishing-map

#3235 Fishing map/remove static images for screenshots
  apps/fishing-map/features/map/Map.module.css
  apps/fishing-map/features/map/MapScreenshot.tsx
  apps/fishing-map/features/map/controls/MapControlScreenshot.tsx
  apps/fishing-map/features/timebar/Timebar.tsx
  apps/fishing-map/hooks/screen.hooks.ts
  libs/deck-layers/src/layers/vessel/VesselLayer.ts
  libs/deck-layers/src/layers/vessel/vessel.types.ts
  libs/timebar/src/charts/tracks-events.module.css
  libs/timebar/src/charts/tracks-events.tsx
  libs/timebar/src/charts/tracks-graph.module.css
  libs/timebar/src/charts/tracks-graph.tsx
Labels: fishing-map, timebar, deploy-dev, deck-layers

#3238 Fishing map/usability sprint jun 2025 jc
  apps/fishing-map/data/dataviews.ts
  apps/fishing-map/data/default-workspaces/workspace.development.ts
  apps/fishing-map/data/default-workspaces/workspace.production.ts
  apps/fishing-map/data/layer-library/layers-activity.ts
  apps/fishing-map/data/workspaces.ts
  apps/fishing-map/features/layer-library/LayerLibraryItem.tsx
  apps/fishing-map/features/reports/report-vessel-group/vessel-group-report.dataviews.ts
  apps/fishing-map/features/reports/shared/vessels/ReportVesselsTableFooter.tsx
  apps/fishing-map/features/reports/tabs/vessel-group-insights/VGRInsightCoverage.tsx
  apps/fishing-map/features/reports/tabs/vessel-group-insights/VGRInsightGaps.tsx
  apps/fishing-map/features/search/advanced/SearchAdvancedResults.tsx
  apps/fishing-map/features/search/basic/SearchBasicResult.module.css
  apps/fishing-map/features/search/basic/SearchBasicResult.tsx
  apps/fishing-map/features/search/search.config.ts
  apps/fishing-map/features/sidebar/SidebarHeader.tsx
  apps/fishing-map/features/vessel/activity/event/ActivityDate.tsx
  apps/fishing-map/features/vessel/activity/event/event.bounds.ts
  apps/fishing-map/features/vessel/identity/VesselIdentity.tsx
  apps/fishing-map/features/workspace/activity/activity.utils.ts
  apps/fishing-map/features/workspace/legacy-activity-category.hook.ts
  apps/fishing-map/features/workspace/shared/LayerFilters.module.css
  apps/fishing-map/features/workspace/shared/LayerSchemaFilter.tsx
  apps/fishing-map/public/locales/source/translations.json
  libs/ui-components/src/color-bar/color-bar-options.ts
Labels: fishing-map

#3248 add link to search in tooltip
  apps/fishing-map/features/map/popups/categories/VesselsTable.tsx
Labels: fishing-map

#3251 New Crowdin updates
  libs/i18n-labels/en/datasets.json
  libs/i18n-labels/es/datasets.json
  libs/i18n-labels/fr/datasets.json
  libs/i18n-labels/id/datasets.json
  libs/i18n-labels/pt/datasets.json
  libs/i18n-labels/source/datasets.json
  libs/i18n-labels/val/datasets.json
Labels: i18n-labels

#3256 New Crowdin updates
  apps/fishing-map/public/locales/en/translations.json
  apps/fishing-map/public/locales/fr/translations.json
  apps/fishing-map/public/locales/id/translations.json
  apps/fishing-map/public/locales/pt/translations.json
  libs/i18n-labels/en/datasets.json
  libs/i18n-labels/es/datasets.json
  libs/i18n-labels/fr/datasets.json
Labels: fishing-map, i18n-labels

#3257 New Crowdin updates
  libs/i18n-labels/en/datasets.json
  libs/i18n-labels/es/datasets.json
  libs/i18n-labels/fr/datasets.json
  libs/i18n-labels/id/datasets.json
  libs/i18n-labels/pt/datasets.json
  libs/i18n-labels/source/datasets.json
  libs/i18n-labels/val/datasets.json
Labels: i18n-labels

#3255 fix area report summary
  apps/fishing-map/features/reports/shared/summary/ReportSummaryEvents.tsx
  apps/fishing-map/features/reports/tabs/events/EventsReport.tsx
Labels: fishing-map

#3259 New Crowdin updates
  libs/i18n-labels/source/datasets.json
Labels: i18n-labels

#3260 New Crowdin updates
  libs/i18n-labels/en/datasets.json
  libs/i18n-labels/es/datasets.json
  libs/i18n-labels/fr/datasets.json
  libs/i18n-labels/id/datasets.json
  libs/i18n-labels/pt/datasets.json
  libs/i18n-labels/source/datasets.json
  libs/i18n-labels/val/datasets.json
Labels: i18n-labels

#3261 New Crowdin updates
  libs/i18n-labels/en/datasets.json
  libs/i18n-labels/source/datasets.json
Labels: i18n-labels

#3263 New Crowdin updates
  apps/fishing-map/public/locales/en/layer-library.json
  apps/fishing-map/public/locales/es/layer-library.json
  apps/fishing-map/public/locales/fr/layer-library.json
  apps/fishing-map/public/locales/id/layer-library.json
  apps/fishing-map/public/locales/pt/layer-library.json
  apps/fishing-map/public/locales/source/layer-library.json
Labels: fishing-map

#3253 UI and spreadsheet
  apps/fishing-map/features/layer-library/LayerLibraryVesselGroupPanel.tsx
  apps/fishing-map/features/map/map-interactions.hooks.ts
  apps/fishing-map/features/map/overlays/track-corrections/TrackCorrectionsOverlay.tsx
  apps/fishing-map/features/map/popups/categories/VesselTracksLayers.tsx
  apps/fishing-map/features/modals/Modals.tsx
  apps/fishing-map/features/track-correction/TrackCommentsList.module.css
  apps/fishing-map/features/track-correction/TrackCommentsList.tsx
  apps/fishing-map/features/track-correction/TrackCorrection.module.css
  apps/fishing-map/features/track-correction/TrackCorrection.tsx
  apps/fishing-map/features/track-correction/track-correction.slice.ts
  apps/fishing-map/features/vessel/identity/VesselIdentitySelector.tsx
  apps/fishing-map/features/vessel/vesselCorrection/VesselCorrectionModal.tsx
  apps/fishing-map/pages/api/track-corrections/[workspaceId]/[issueId].ts
  apps/fishing-map/pages/api/track-corrections/[workspaceId]/_issues/post-comment.ts
  apps/fishing-map/pages/api/track-corrections/[workspaceId]/_issues/post-new.ts
  apps/fishing-map/pages/api/track-corrections/[workspaceId]/_issues/utils.ts
  apps/fishing-map/pages/api/track-corrections/[workspaceId]/index.ts
  apps/fishing-map/public/locales/source/translations.json
  apps/fishing-map/utils/dates.ts
Labels: fishing-map, deploy-dev

#3264 Vessel info tool
  apps/fishing-map/features/vessel/vesselCorrection/VesselCorrectionModal.tsx
  apps/fishing-map/pages/api/corrections.ts
  apps/fishing-map/public/locales/en/translations.json
  apps/fishing-map/public/locales/source/translations.json
  apps/fishing-map/utils/info.ts
Labels: fishing-map

#3266 fix private dataset into default workspace
  apps/fishing-map/data/workspaces.ts
Labels: fishing-map

#3268 Vessel info tool
  apps/fishing-map/pages/api/corrections.ts
Labels: fishing-map

#3270 load private dataviews based on permissions
  apps/fishing-map/data/workspaces.ts
  apps/fishing-map/features/dataviews/selectors/dataviews.vessels.selectors.ts
  apps/fishing-map/features/user/selectors/user.selectors.ts
  apps/fishing-map/features/workspace/workspace.slice.ts
Labels: fishing-map

#3271 Fishing map/fix timeseries race condition
  apps/fishing-map/features/reports/report-area/AreaReport.tsx
  apps/fishing-map/features/reports/tabs/activity/reports-activity-geo.utils.workers.hooks.ts
  apps/fishing-map/features/reports/tabs/activity/reports-activity-geo.utils.workers.ts
  apps/fishing-map/features/reports/tabs/activity/reports-activity-timeseries.hooks.ts
Labels: fishing-map

#3283 New Crowdin updates
  libs/i18n-labels/en/datasets.json
  libs/i18n-labels/es/datasets.json
  libs/i18n-labels/fr/datasets.json
  libs/i18n-labels/id/datasets.json
  libs/i18n-labels/pt/datasets.json
  libs/i18n-labels/source/datasets.json
  libs/i18n-labels/val/datasets.json
Labels: i18n-labels

#3284 New Crowdin updates
  libs/i18n-labels/en/datasets.json
  libs/i18n-labels/es/datasets.json
  libs/i18n-labels/fr/datasets.json
  libs/i18n-labels/pt/datasets.json
Labels: i18n-labels

#3292 New Crowdin updates
  libs/i18n-labels/en/datasets.json
  libs/i18n-labels/es/datasets.json
  libs/i18n-labels/fr/datasets.json
  libs/i18n-labels/id/datasets.json
  libs/i18n-labels/pt/datasets.json
  libs/i18n-labels/source/datasets.json
  libs/i18n-labels/val/datasets.json
Labels: i18n-labels
