Repository GlobalFishingWatch/frontend, pull requests merged in 2025-05, with the labels that each got.

#3144 Track labeler/fixes
  apps/track-labeler/src/data/config.ts
  apps/track-labeler/src/features/map/map.selectors.ts
  apps/track-labeler/src/features/sidebar/sidebar.hooks.ts
  apps/track-labeler/src/features/timebar/Timebar.tsx
  apps/track-labeler/src/features/timebar/timebar.hooks.ts
  apps/track-labeler/src/features/timebar/timebar.selectors.ts
  apps/track-labeler/src/features/tracks/tracks.thunks.ts
  apps/track-labeler/src/features/vessels/vessels.thunks.ts
  libs/api-client/src/config.ts
  libs/timebar/src/components/playback.tsx
  libs/timebar/src/components/timerange-selector.tsx
  libs/timebar/src/utils/index.ts
Labels: timebar, api-client, track-labeler

#3145 Fishing map/internal vessel identity tweaks
  apps/fishing-map/features/modals/Modals.tsx
  apps/fishing-map/features/user/GFWOnly.tsx
  apps/fishing-map/features/vessel/identity/VesselIdentity.module.css
  apps/fishing-map/features/vessel/identity/VesselIdentity.tsx
  apps/fishing-map/features/vessel/identity/VesselIdentityCombinedSourceField.tsx
  apps/fishing-map/features/vessel/identity/VesselRegistryField.tsx
  apps/fishing-map/features/vessel/infoCorrection/InfoCorrectionModal.tsx
  apps/fishing-map/features/vessel/vessel.config.ts
  apps/fishing-map/features/vessel/vessel.slice.ts
  apps/fishing-map/features/workspace/context-areas/ContextAreaLayerPanel.tsx
  apps/fishing-map/features/workspace/shared/InfoModalContent.tsx
  apps/fishing-map/features/workspace/user/UserLayerPanel.tsx
  apps/fishing-map/features/workspace/vessels/VesselLayerPanel.tsx
  libs/api-types/src/identity-vessel.ts
Labels: fishing-map, api-types

#3134 Deck layers/pm tiles
  apps/fishing-map/features/datasets/datasets.mock.ts
  apps/fishing-map/features/dataviews/dataviews.mock.ts
  apps/fishing-map/features/map/popups/PopupByCategory.tsx
  apps/fishing-map/features/sidebar/SidebarHeader.module.css
  apps/fishing-map/features/workspace/context-areas/ContextAreaLayerPanel.tsx
  libs/api-types/src/datasets.ts
  libs/api-types/src/dataviews.ts
  libs/deck-layer-composer/src/resolvers/basemap.ts
  libs/deck-layers/src/index.ts
  libs/deck-layers/src/layers/basemap/BasemapLabelsLayer.ts
  libs/deck-layers/src/layers/basemap/basemap.types.ts
  libs/deck-layers/src/layers/pm-tiles/PMTilesLayer.ts
  libs/deck-layers/src/layers/pm-tiles/index.ts
  libs/deck-layers/src/layers/pm-tiles/pm-tiles.types.ts
  libs/deck-layers/src/layers/vessel/LabelLayer.ts
  libs/deck-layers/src/types.ts
  libs/ui-components/src/header/Header.module.css
  package.json
  yarn.lock
Labels: fishing-map, api-types, deploy-dev, deck-layers, deck-layer-composer

#3148 New Crowdin updates
  libs/i18n-labels/en/datasets.json
  libs/i18n-labels/es/datasets.json
  libs/i18n-labels/fr/datasets.json
  libs/i18n-labels/id/datasets.json
  libs/i18n-labels/pt/datasets.json
  libs/i18n-labels/source/datasets.json
  libs/i18n-labels/val/datasets.json
Labels: i18n-labels

#3149 New Crowdin updates
  apps/fishing-map/public/locales/en/translations.json
  apps/fishing-map/public/locales/es/translations.json
  apps/fishing-map/public/locales/fr/translations.json
  apps/fishing-map/public/locales/id/translations.json
  apps/fishing-map/public/locales/pt/translations.json
  apps/fishing-map/public/locales/val/translations.json
Labels: fishing-map

#3154 New Crowdin updates
  apps/fishing-map/public/locales/en/translations.json
  apps/fishing-map/public/locales/en/workspaces.json
  apps/fishing-map/public/locales/es/translations.json
  apps/fishing-map/public/locales/es/workspaces.json
  apps/fishing-map/public/locales/fr/translations.json
  apps/fishing-map/public/locales/fr/workspaces.json
  apps/fishing-map/public/locales/id/translations.json
  apps/fishing-map/public/locales/id/workspaces.json
  apps/fishing-map/public/locales/pt/translations.json
  apps/fishing-map/public/locales/pt/workspaces.json
  apps/fishing-map/public/locales/val/translations.json
  apps/fishing-map/public/locales/val/workspaces.json
Labels: fishing-map

#3153 Fishing map/cvp fixes
  apps/fishing-map/features/reports/tabs/events/EventsReportGraphGrouped.tsx
  apps/fishing-map/features/reports/tabs/events/events-report.hooks.ts
  apps/fishing-map/features/timebar/timebar.utils.ts
  apps/fishing-map/features/workspace/activity/ActivitySection.tsx
  yarn.lock
Labels: fishing-map

#3155 Fishing map/cvp fixes
  apps/fishing-map/features/sidebar/SidebarHeader.tsx
  apps/fishing-map/features/vessel-groups/VesselGroupModal.tsx
  apps/fishing-map/features/workspace/shared/LayerSchemaFilter.tsx
  apps/fishing-map/features/workspace/shared/OutOfBoundsDisclaimer.tsx
  apps/fishing-map/features/workspace/workspace.slice.ts
  apps/fishing-map/routes/routes.middlewares.ts
  apps/fishing-map/routes/routes.types.ts
Labels: fishing-map

#3158 cvp fixes 3
  apps/fishing-map/features/map/popups/Popup.module.css
  apps/fishing-map/features/map/popups/PopupByCategory.tsx
  apps/fishing-map/features/map/popups/categories/ClusterEventRow.tsx
  apps/fishing-map/features/map/popups/categories/ClusterEventTooltip.tsx
  apps/fishing-map/features/map/popups/categories/ClusterEventTooltipRow.tsx
  apps/fishing-map/features/map/popups/categories/ClusterGenericTooltipRow.tsx
  apps/fishing-map/features/map/popups/categories/ClusterTooltipRow.tsx
  apps/fishing-map/features/map/popups/categories/EncounterTooltipRow.tsx
  apps/fishing-map/features/map/popups/categories/PortVisitEventTooltipRow.tsx
Labels: fishing-map

#3159 Fishing map/cvp fixes
  apps/fishing-map/data/default-workspaces/workspace.production.ts
  apps/fishing-map/data/layer-library/layers-events.ts
  apps/fishing-map/features/datasets/datasets.utils.ts
  apps/fishing-map/features/map/popups/categories/EncounterTooltipRow.tsx
  apps/fishing-map/features/map/popups/categories/PositionsRow.tsx
  apps/fishing-map/features/workspaces-list/WorkspacesList.tsx
  libs/api-types/src/dataviews.ts
  libs/deck-layer-composer/src/resolvers/clusters.ts
  libs/deck-layers/src/layers/fourwings/clusters/FourwingsClustersLayer.ts
  libs/deck-layers/src/layers/fourwings/clusters/fourwings-clusters.types.ts
Labels: fishing-map, api-types, deck-layers, deck-layer-composer

#3160 New Crowdin updates
  libs/i18n-labels/en/datasets.json
  libs/i18n-labels/es/datasets.json
  libs/i18n-labels/fr/datasets.json
  libs/i18n-labels/id/datasets.json
  libs/i18n-labels/pt/datasets.json
  libs/i18n-labels/source/datasets.json
  libs/i18n-labels/val/datasets.json
Labels: i18n-labels

#3161 Fishing map/cvp fixes 4
  apps/fishing-map/features/map/map-interactions.hooks.ts
  apps/fishing-map/features/reports/shared/summary/ReportSummaryEvents.tsx
  apps/fishing-map/features/reports/tabs/events/EventsReportGraphGrouped.tsx
  apps/fishing-map/features/reports/tabs/events/events-report.hooks.ts
  apps/fishing-map/public/locales/source/translations.json
  apps/fishing-map/queries/report-events-stats-api.ts
  libs/deck-layers/src/layers/fourwings/clusters/FourwingsClustersLayer.ts
  libs/deck-loaders/src/fourwings/helpers/cells.ts
  libs/deck-loaders/src/fourwings/lib/parse-fourwings-clusters.ts
  libs/timebar/src/components/playback.tsx
  libs/timebar/src/utils/index.ts
  libs/timebar/src/utils/internal-utils.ts
Labels: fishing-map, timebar, deck-layers, deck-loaders

#3164 New Crowdin updates
  libs/i18n-labels/en/datasets.json
  libs/i18n-labels/es/datasets.json
  libs/i18n-labels/fr/datasets.json
  libs/i18n-labels/id/datasets.json
  libs/i18n-labels/pt/datasets.json
  libs/i18n-labels/source/datasets.json
  libs/i18n-labels/val/datasets.json
Labels: i18n-labels

#3167 Fishing map/pinned vessels
  apps/fishing-map/features/dataviews/dataviews.utils.ts
  apps/fishing-map/features/dataviews/selectors/dataviews.instances.selectors.ts
  apps/fishing-map/features/dataviews/selectors/dataviews.resolvers.selectors.ts
  apps/fishing-map/features/dataviews/selectors/dataviews.selectors.ts
  apps/fishing-map/features/map/popups/categories/VesselEventsLayers.tsx
  apps/fishing-map/features/reports/report-vessel-group/VesselGroupReportTitle.tsx
  apps/fishing-map/features/reports/reports.config.selectors.ts
  apps/fishing-map/features/reports/reports.config.ts
  apps/fishing-map/features/reports/reports.types.ts
  apps/fishing-map/features/reports/shared/vessels/ReportVesselsTable.tsx
  apps/fishing-map/features/reports/shared/vessels/ReportVesselsTablePin.tsx
  apps/fishing-map/features/reports/shared/vessels/report-vessels.hooks.ts
  apps/fishing-map/features/sidebar/buttons/NavigationHistoryButton.tsx
  apps/fishing-map/features/sidebar/buttons/NavigationWorkspaceButton.tsx
  apps/fishing-map/features/sidebar/sidebar-header.hooks.ts
  apps/fishing-map/features/vessel/VesselHeader.tsx
  apps/fishing-map/features/vessel/VesselPin.tsx
  apps/fishing-map/features/vessel/activity/event/EventDetail.tsx
  apps/fishing-map/features/vessel/related-vessels/RelatedVessel.tsx
  apps/fishing-map/features/vessel/vessel.config.selectors.ts
  apps/fishing-map/features/vessel/vessel.config.ts
  apps/fishing-map/features/vessel/vessel.types.ts
  apps/fishing-map/public/locales/source/translations.json
  apps/fishing-map/routes/routes.config.ts
  apps/fishing-map/utils/events.tsx
  libs/api-types/src/dataviews.ts
  libs/dataviews-client/src/resolve-dataviews.ts
Labels: fishing-map, dataviews-client, api-types

#3166 Google events
  apps/fishing-map/features/app/analytics.hooks.ts
  apps/fishing-map/features/reports/report-vessel-group/VesselGroupReport.tsx
  apps/fishing-map/features/reports/report-vessel-group/VesselGroupReportLink.tsx
  apps/fishing-map/features/reports/shared/vessels/ReportVesselsFilter.tsx
Labels: fishing-map

#3171 Fishing map/cvp fixes 7
  apps/fishing-map/data/default-workspaces/workspace.development.ts
  apps/fishing-map/data/default-workspaces/workspace.production.ts
  apps/fishing-map/data/layer-library/layers-activity.ts
  apps/fishing-map/features/dataviews/selectors/dataviews.injected.selectors.ts
  apps/fishing-map/features/dataviews/selectors/dataviews.selectors.ts
  apps/fishing-map/features/search/SearchActions.tsx
  apps/fishing-map/features/search/advanced/SearchAdvanced.tsx
  apps/fishing-map/features/search/search.config.ts
  apps/fishing-map/features/sidebar/SidebarHeader.tsx
  apps/fishing-map/features/sidebar/buttons/NavigationHistoryButton.tsx
  apps/fishing-map/features/sidebar/buttons/NavigationWorkspaceButton.tsx
  apps/fishing-map/features/sidebar/sidebar-header.hooks.ts
  apps/fishing-map/features/vessel/vessel.slice.ts
  apps/fishing-map/public/images/layer-library/VMS-apparent-fishing-effort.jpg
  apps/fishing-map/public/locales/source/layer-library.json
  apps/fishing-map/routes/routes.middlewares.ts
  apps/fishing-map/routes/routes.ts
  apps/fishing-map/store.ts
Labels: fishing-map

#3175 mvp vessel correction modal tweaks
  apps/fishing-map/features/datasets/upload/NewDataset.tsx
  apps/fishing-map/features/modals/Modals.tsx
  apps/fishing-map/features/modals/modals.selectors.ts
  apps/fishing-map/features/modals/modals.slice.ts
  apps/fishing-map/features/vessel-groups/VesselGroupModal.tsx
  apps/fishing-map/features/vessel/VesselHeader.tsx
  apps/fishing-map/features/vessel/identity/VesselIdentity.tsx
  apps/fishing-map/features/vessel/infoCorrection/InfoCorrectionModal.module.css
  apps/fishing-map/features/vessel/infoCorrection/InfoCorrectionModal.tsx
  apps/fishing-map/features/vessel/vessel.utils.ts
  apps/fishing-map/features/vessel/vesselCorrection/VesselCorrection.types.tsx
  apps/fishing-map/features/vessel/vesselCorrection/VesselCorrectionModal.module.css
  apps/fishing-map/features/vessel/vesselCorrection/VesselCorrectionModal.tsx
  apps/fishing-map/features/workspace/vessels/VesselInfoCorrection.tsx
  apps/fishing-map/pages/api/vesselCorrections.ts
  apps/fishing-map/public/locales/en/translations.json
  apps/fishing-map/public/locales/es/translations.json
  apps/fishing-map/public/locales/fr/translations.json
  apps/fishing-map/public/locales/id/translations.json
  apps/fishing-map/public/locales/pt/translations.json
  apps/fishing-map/public/locales/source/translations.json
  apps/fishing-map/public/locales/val/translations.json
  libs/ui-components/src/modal/Modal.module.css
  libs/ui-components/src/modal/Modal.tsx
Labels: fishing-map

#3177 Ddp updates
  apps/data-download-portal/src/app.module.css
  apps/data-download-portal/src/components/table/table.module.scss
  apps/data-download-portal/src/components/table/table.tsx
  apps/data-download-portal/src/components/topBar/topBar.tsx
  apps/data-download-portal/src/pages/dataset/dataset.module.scss
  apps/data-download-portal/src/pages/dataset/dataset.tsx
  apps/data-download-portal/src/utils/folderConfig.tsx
  apps/fishing-map/features/reports/shared/placeholders/placeholders.module.css
  apps/fishing-map/features/vessel/VesselHeader.module.css
  libs/api-types/src/datasets.ts
  libs/ui-components/src/modal/Modal.module.css
Labels: fishing-map, api-types

#3174 Fishing map/sentinel 2 thumbnails
  apps/fishing-map/data/highlighted-workspaces/report.dataviews.ts
  apps/fishing-map/data/workspaces.ts
  apps/fishing-map/features/map/map-interactions.hooks.ts
  apps/fishing-map/features/map/map.slice.ts
  apps/fishing-map/features/map/popups/Popup.module.css
  apps/fishing-map/features/map/popups/PopupByCategory.tsx
  apps/fishing-map/features/map/popups/categories/ClusterEventRow.tsx
  apps/fishing-map/features/map/popups/categories/DetectionThumbnail.module.css
  apps/fishing-map/features/map/popups/categories/DetectionThumbnail.tsx
  apps/fishing-map/features/map/popups/categories/EncounterTooltipRow.tsx
  apps/fishing-map/features/map/popups/categories/PortVisitEventTooltipRow.tsx
  apps/fishing-map/features/map/popups/categories/PositionsRow.tsx
  apps/fishing-map/features/timebar/timebar.utils.ts
  libs/api-types/src/datasets.ts
  libs/api-types/src/index.ts
  libs/api-types/src/thumbnail.ts
  libs/deck-layers/src/layers/fourwings/clusters/fourwings-clusters.types.ts
  libs/deck-layers/src/layers/fourwings/heatmap/fourwings-heatmap.utils.ts
  libs/deck-layers/src/layers/fourwings/positions/FourwingsPositionsTileLayer.ts
  libs/deck-loaders/src/fourwings/lib/parse-fourwings-clusters.ts
  libs/deck-loaders/src/fourwings/lib/types.ts
  package.json
  yarn.lock
Labels: fishing-map, api-types, deck-layers, deck-loaders

#3173 Fishing map/resizable timebar
  apps/fishing-map/features/app/App.module.css
  apps/fishing-map/features/map/controls/MapControlScreenshot.tsx
  apps/fishing-map/features/map/map-bounds.hooks.ts
  apps/fishing-map/features/timebar/Timebar.tsx
  apps/fishing-map/features/timebar/timebar-vessel.hooks.ts
  apps/fishing-map/features/timebar/timebar.config.ts
  apps/fishing-map/public/locales/en/translations.json
  apps/fishing-map/public/locales/source/translations.json
  libs/timebar/src/charts/tracks-events.module.css
  libs/timebar/src/charts/tracks-events.tsx
  libs/timebar/src/components/interval-selector.module.css
  libs/timebar/src/components/interval-selector.tsx
  libs/timebar/src/components/playback.module.css
  libs/timebar/src/constants.ts
  libs/timebar/src/timebar.module.css
  libs/timebar/src/timebar.tsx
Labels: fishing-map, timebar

#3179 New Crowdin updates
  apps/fishing-map/public/locales/en/translations.json
  apps/fishing-map/public/locales/es/translations.json
  apps/fishing-map/public/locales/fr/translations.json
  apps/fishing-map/public/locales/id/translations.json
  apps/fishing-map/public/locales/pt/translations.json
  apps/fishing-map/public/locales/val/translations.json
Labels: fishing-map

#3181 New Crowdin updates
  apps/fishing-map/public/locales/en/translations.json
  apps/fishing-map/public/locales/es/translations.json
  apps/fishing-map/public/locales/fr/translations.json
  apps/fishing-map/public/locales/id/translations.json
  apps/fishing-map/public/locales/pt/translations.json
  apps/fishing-map/public/locales/val/translations.json
  libs/i18n-labels/en/datasets.json
Labels: fishing-map, i18n-labels

#3182 New Crowdin updates
  apps/fishing-map/public/locales/en/translations.json
  apps/fishing-map/public/locales/es/translations.json
  apps/fishing-map/public/locales/fr/translations.json
  apps/fishing-map/public/locales/id/translations.json
  apps/fishing-map/public/locales/pt/translations.json
  apps/fishing-map/public/locales/val/translations.json
Labels: fishing-map

#3183 New Crowdin updates
  apps/fishing-map/public/locales/es/translations.json
  libs/i18n-labels/en/datasets.json
  libs/i18n-labels/es/datasets.json
  libs/i18n-labels/fr/datasets.json
Labels: fishing-map, i18n-labels

#3185 add port link to vessel profile events
  apps/fishing-map/data/config.ts
  apps/fishing-map/data/layer-library/layers-events.ts
  apps/fishing-map/features/dataviews/dataviews.utils.ts
  apps/fishing-map/features/dataviews/selectors/dataviews.injected.selectors.ts
  apps/fishing-map/features/dataviews/selectors/dataviews.merged.selectors.ts
  apps/fishing-map/features/dataviews/selectors/dataviews.resolvers.selectors.ts
  apps/fishing-map/features/dataviews/selectors/dataviews.selectors.ts
  apps/fishing-map/features/debug/DebugMenu.tsx
  apps/fishing-map/features/debug/debug.selectors.ts
  apps/fishing-map/features/reports/tabs/events/EventsReport.tsx
  apps/fishing-map/features/reports/tabs/vessel-group-insights/VGRInsightVesselEvents.tsx
  apps/fishing-map/features/vessel/activity/activity-by-type/ActivityByType.tsx
  apps/fishing-map/features/vessel/activity/activity-by-voyage/ActivityByVoyage.tsx
  apps/fishing-map/features/vessel/activity/event/Event.module.css
  apps/fishing-map/features/vessel/activity/event/Event.tsx
  apps/fishing-map/features/vessel/activity/event/EventDetail.tsx
  apps/fishing-map/features/vessel/activity/event/event.bounds.ts
  apps/fishing-map/features/vessel/activity/event/event.hook.tsx
  apps/fishing-map/features/vessel/identity/VesselIdentityCombinedSourceField.tsx
  apps/fishing-map/features/vessel/insights/InsightEventsDetails.tsx
  apps/fishing-map/features/vessel/insights/InsightGapsDetails.tsx
  apps/fishing-map/features/vessel/selectors/vessel.resources.selectors.ts
  apps/fishing-map/types/index.ts
Labels: fishing-map

#3187 New Crowdin updates
  libs/i18n-labels/en/datasets.json
  libs/i18n-labels/es/datasets.json
  libs/i18n-labels/fr/datasets.json
  libs/i18n-labels/id/datasets.json
  libs/i18n-labels/pt/datasets.json
  libs/i18n-labels/source/datasets.json
  libs/i18n-labels/val/datasets.json
Labels: i18n-labels

#3188 Fishing map/cvp fixes 9
  apps/fishing-map/data/default-workspaces/workspace.production.ts
  apps/fishing-map/data/layer-library/layers-events.ts
  apps/fishing-map/routes/routes.ts
Labels: fishing-map

#3186 May release preview
  apps/fishing-map/data/default-workspaces/workspace.production.ts
  apps/fishing-map/data/layer-library/layers-events.ts
  apps/fishing-map/features/map/popups/Popup.module.css
  apps/fishing-map/features/map/popups/categories/ClusterEventRow.tsx
  apps/fishing-map/features/map/popups/categories/VesselEventsLayers.tsx
  apps/fishing-map/features/vessel/VesselPin.tsx
  apps/fishing-map/features/vessel/identity/VesselRegistryField.tsx
  apps/fishing-map/features/vessel/vessel-events.hooks.ts
  apps/fishing-map/package.json
  apps/fishing-map/routes/routes.ts
  apps/fishing-map/utils/events.tsx
  libs/deck-layers/src/layers/vessel/VesselLayer.ts
  libs/i18n-labels/en/datasets.json
  libs/i18n-labels/es/datasets.json
  libs/i18n-labels/fr/datasets.json
  libs/i18n-labels/id/datasets.json
  libs/i18n-labels/pt/datasets.json
  libs/i18n-labels/source/datasets.json
  libs/i18n-labels/val/datasets.json
Labels: fishing-map, i18n-labels, deploy-pro

#3189 New Crowdin updates
  libs/i18n-labels/pt/datasets.json
Labels: i18n-labels

#3191 Fishing map/release fixes
  apps/fishing-map/features/datasets/datasets.slice.ts
  apps/fishing-map/features/dataviews/selectors/dataviews.injected.selectors.ts
  apps/fishing-map/features/vessel/VesselLink.tsx
Labels: fishing-map

#3190 New Crowdin updates
  apps/fishing-map/public/locales/es/translations.json
  apps/fishing-map/public/locales/pt/translations.json
Labels: fishing-map

#3192 Fishing map/vessel correction
  apps/fishing-map/features/vessel/identity/VesselIdentity.tsx
  apps/fishing-map/features/vessel/vesselCorrection/VesselCorrection.types.tsx
  apps/fishing-map/features/vessel/vesselCorrection/VesselCorrectionModal.module.css
  apps/fishing-map/features/vessel/vesselCorrection/VesselCorrectionModal.tsx
  apps/fishing-map/features/workspace/highlight-panel/highlight-panel.content.ts
  apps/fishing-map/pages/api/corrections.ts
  apps/fishing-map/public/locales/en/translations.json
  apps/fishing-map/public/locales/source/translations.json
  libs/ui-components/src/select/Select.module.css
  libs/ui-components/src/select/Select.tsx
Labels: fishing-map
