Repository GlobalFishingWatch/frontend, pull requests merged in 2025-03, with the labels that each got.

#3039 Fishing map/reports index
  apps/fishing-map/data/config.ts
  apps/fishing-map/data/default-workspaces/workspace.development.ts
  apps/fishing-map/data/default-workspaces/workspace.production.ts
  apps/fishing-map/data/reports/report.dataviews.ts
  apps/fishing-map/data/reports/reports.index.ts
  apps/fishing-map/data/workspaces.ts
  apps/fishing-map/features/app/App.tsx
  apps/fishing-map/features/dataviews/selectors/dataviews.selectors.ts
  apps/fishing-map/features/i18n/i18n.hooks.ts
  apps/fishing-map/features/i18n/i18n.ts
  apps/fishing-map/features/i18n/i18n.types.ts
  apps/fishing-map/features/i18n/translation-keys.ts
  apps/fishing-map/features/map/popups/categories/ContextLayerReportLink.tsx
  apps/fishing-map/features/reports/report-area/AreaReport.tsx
  apps/fishing-map/features/sidebar/CategoryTabs.module.css
  apps/fishing-map/features/sidebar/CategoryTabs.tsx
  apps/fishing-map/features/user/selectors/user.selectors.ts
  apps/fishing-map/features/user/user.slice.ts
  apps/fishing-map/features/workspace/shared/GlobalReportLink.tsx
  apps/fishing-map/features/workspaces-list/WorkspacesList.tsx
  apps/fishing-map/features/workspaces-list/workspaces-list.selectors.ts
  apps/fishing-map/features/workspaces-list/workspaces-list.slice.ts
  apps/fishing-map/public/images/reports/activity-report.jpg
  apps/fishing-map/public/images/reports/carrier-portal.jpg
  apps/fishing-map/public/images/reports/detections-report.jpg
  apps/fishing-map/public/images/reports/events-report.jpg
  apps/fishing-map/public/locales/en/workspaces.json
  apps/fishing-map/public/locales/source/translations.json
  apps/fishing-map/public/locales/source/workspaces.json
  libs/api-types/src/highlighted-workspaces.ts
  libs/api-types/src/index.ts
  libs/ui-components/src/icon/icons/category-reports.svg
Labels: fishing-map, api-types

#3041 add ways to change layer properties
  apps/fishing-map/features/workspace/activity/ActivityLayerPanel.tsx
  apps/fishing-map/features/workspace/context-areas/ContextAreaLayerPanel.tsx
  apps/fishing-map/features/workspace/environmental/EnvironmentalLayerPanel.tsx
  apps/fishing-map/features/workspace/shared/Color.tsx
  apps/fishing-map/features/workspace/shared/LayerProperties.tsx
  apps/fishing-map/features/workspace/user/UserLayerPanel.tsx
  apps/fishing-map/features/workspace/vessel-groups/VesselGroupsLayerPanel.tsx
  apps/fishing-map/features/workspace/vessels/VesselLayerPanel.tsx
  apps/fishing-map/public/locales/source/translations.json
  libs/api-types/src/dataviews.ts
  libs/dataviews-client/src/url-workspace/url-workspace.ts
  libs/deck-layer-composer/src/resolvers/context.ts
  libs/deck-layer-composer/src/resolvers/user.ts
  libs/deck-layers/src/layers/context/ContextLayer.ts
  libs/deck-layers/src/layers/context/context.types.ts
  libs/deck-layers/src/layers/user/UserPolygonsTileLayer.ts
  libs/deck-layers/src/layers/user/user.types.ts
  libs/deck-layers/src/utils/colorRamps.ts
  libs/ui-components/src/color-bar/ColorBar.module.css
  libs/ui-components/src/color-bar/ColorBar.tsx
  libs/ui-components/src/icon/icon.config.ts
  libs/ui-components/src/icon/icons/color-picker-precise.svg
  libs/ui-components/src/icon/icons/color-picker-swatches.svg
  libs/ui-components/src/index.ts
  libs/ui-components/src/thickness-selector/ThicknessSelector.module.css
  libs/ui-components/src/thickness-selector/ThicknessSelector.tsx
  libs/ui-components/src/thickness-selector/index.ts
  libs/ui-components/src/thickness-selector/thickness-selector-options.ts
  package.json
  yarn.lock
Labels: fishing-map, dataviews-client, api-types, deploy-dev, deck-layers, deck-layer-composer

#3046 New Crowdin updates
  apps/fishing-map/public/locales/en/translations.json
Labels: fishing-map

#2986 Deck-layers/currents
  apps/fishing-map/data/layer-library/layers.types.ts
  apps/fishing-map/data/workspaces.ts
  apps/fishing-map/features/dataviews/selectors/dataviews.selectors.ts
  apps/fishing-map/features/debug/DebugMenu.tsx
  apps/fishing-map/features/debug/debug.slice.ts
  apps/fishing-map/features/layer-library/LayerLibrary.tsx
  apps/fishing-map/features/layer-library/LayerLibraryItem.tsx
  apps/fishing-map/features/map/popups/PopupByCategory.tsx
  apps/fishing-map/features/map/popups/categories/CurrentsLayers.tsx
  apps/fishing-map/features/reports/tabs/activity/ReportActivityEvolution.module.css
  apps/fishing-map/features/reports/tabs/activity/ReportCurrentsGraph.tsx
  apps/fishing-map/features/reports/tabs/activity/reports-activity-timeseries.hooks.ts
  apps/fishing-map/features/reports/tabs/environment/ReportEnvironment.tsx
  apps/fishing-map/public/images/layer-library/currents.jpg
  libs/api-types/src/dataviews.ts
  libs/dataviews-client/src/resolve-dataviews.ts
  libs/deck-layer-composer/src/resolvers/currents.ts
  libs/deck-layer-composer/src/resolvers/dataviews.ts
  libs/deck-layer-composer/src/resolvers/index.ts
  libs/deck-layer-composer/src/resolvers/resolvers.ts
  libs/deck-layers/src/layers/fourwings/currents/CurrentsLayer.ts
  libs/deck-layers/src/layers/fourwings/currents/FourwingsCurrentsLayer.ts
  libs/deck-layers/src/layers/fourwings/currents/FourwingsCurrentsTileLayer.ts
  libs/deck-layers/src/layers/fourwings/heatmap/FourwingsHeatmapTileLayer.ts
  libs/deck-layers/src/layers/fourwings/heatmap/fourwings-heatmap.types.ts
  libs/deck-layers/src/layers/fourwings/heatmap/fourwings-heatmap.utils.ts
  libs/deck-layers/src/layers/fourwings/index.ts
  libs/deck-layers/src/utils/stats.ts
Labels: fishing-map, dataviews-client, api-types, deploy-dev, deck-layers, deck-layer-composer

#2904 [TEST] use iframes to load dataTerminology Info
  apps/fishing-map/features/debug/DebugMenu.tsx
  apps/fishing-map/features/debug/debug.slice.ts
  apps/fishing-map/features/vessel/identity/DataTerminology.module.css
  apps/fishing-map/features/vessel/identity/DataTerminology.tsx
Labels: fishing-map, deploy-dev

#3050 New Crowdin updates
  apps/fishing-map/public/locales/en/workspaces.json
  apps/fishing-map/public/locales/es/workspaces.json
  apps/fishing-map/public/locales/fr/workspaces.json
  apps/fishing-map/public/locales/id/workspaces.json
  apps/fishing-map/public/locales/pt/workspaces.json
  apps/fishing-map/public/locales/source/workspaces.json
  apps/fishing-map/public/locales/val/workspaces.json
Labels: fishing-map

#3053 Fishing map/tags improvements
  apps/fishing-map/features/sidebar/SidebarHeader.module.css
  apps/fishing-map/features/workspace/activity/activity.utils.ts
  apps/fishing-map/features/workspace/shared/DatasetSourceField.tsx
  apps/fishing-map/features/workspace/shared/ExpandedContainer.module.css
  apps/fishing-map/features/workspace/shared/ExpandedContainer.tsx
  apps/fishing-map/features/workspace/shared/LayerPanel.module.css
  libs/ui-components/src/tag/Tag.module.css
  libs/ui-components/src/tag/Tag.tsx
Labels: fishing-map

#3052 New Crowdin updates
  apps/fishing-map/public/locales/en/layer-library.json
  apps/fishing-map/public/locales/en/workspaces.json
  apps/fishing-map/public/locales/es/layer-library.json
  apps/fishing-map/public/locales/es/workspaces.json
  apps/fishing-map/public/locales/fr/layer-library.json
  apps/fishing-map/public/locales/fr/workspaces.json
  apps/fishing-map/public/locales/id/layer-library.json
  apps/fishing-map/public/locales/id/workspaces.json
  apps/fishing-map/public/locales/pt/layer-library.json
  apps/fishing-map/public/locales/pt/workspaces.json
  apps/fishing-map/public/locales/val/layer-library.json
  apps/fishing-map/public/locales/val/workspaces.json
Labels: fishing-map

#3054 New Crowdin updates
  apps/fishing-map/public/locales/en/workspaces.json
  apps/fishing-map/public/locales/es/workspaces.json
  apps/fishing-map/public/locales/fr/workspaces.json
  apps/fishing-map/public/locales/id/workspaces.json
  apps/fishing-map/public/locales/pt/workspaces.json
  apps/fishing-map/public/locales/source/workspaces.json
  apps/fishing-map/public/locales/val/workspaces.json
Labels: fishing-map

#3057 Fishing map/feature flags
  apps/fishing-map/data/config.ts
  apps/fishing-map/features/dataviews/selectors/dataviews.selectors.ts
  apps/fishing-map/features/debug/DebugMenu.tsx
  apps/fishing-map/features/debug/debug.hooks.ts
  apps/fishing-map/features/debug/debug.selectors.ts
  apps/fishing-map/features/debug/debug.slice.ts
  apps/fishing-map/features/map/popups/categories/ContextLayerReportLink.tsx
  apps/fishing-map/features/map/popups/categories/WorkspacePointsLayers.tsx
  apps/fishing-map/features/reports/report-area/AreaReport.tsx
  apps/fishing-map/features/reports/shared/vessels/ReportVesselsGraph.tsx
  apps/fishing-map/features/reports/tabs/events/EventsReportGraph.tsx
  apps/fishing-map/features/reports/tabs/vessel-group-insights/VGRInsightCoverageGraph.tsx
  apps/fishing-map/features/sidebar/CategoryTabs.tsx
  apps/fishing-map/features/sidebar/SidebarHeader.tsx
  apps/fishing-map/features/user/UserButton.tsx
  apps/fishing-map/features/user/UserReports.tsx
  apps/fishing-map/features/user/UserWorkspacesPrivate.tsx
  apps/fishing-map/features/workspace/shared/GlobalReportLink.tsx
  apps/fishing-map/features/workspaces-list/WorkspaceWizard.tsx
  apps/fishing-map/features/workspaces-list/WorkspacesList.tsx
  apps/fishing-map/features/workspaces-list/workspaces-list.selectors.ts
  apps/fishing-map/routes/routes.middlewares.ts
  apps/fishing-map/routes/routes.selectors.ts
  apps/fishing-map/types/index.ts
  libs/dataviews-client/src/url-workspace/url-workspace.ts
Labels: fishing-map, dataviews-client

#3056 New Crowdin updates
  apps/fishing-map/public/locales/val/workspaces.json
Labels: fishing-map

#3061 Fishing map/hotfixes
  apps/fishing-map/features/datasets/datasets.utils.ts
  apps/fishing-map/features/workspace/save/WorkspaceEdit.tsx
  apps/fishing-map/features/workspace/workspace-migration.hooks.tsx
  apps/fishing-map/features/workspace/workspace.slice.ts
  apps/fishing-map/features/workspace/workspace.utils.ts
  libs/deck-layer-composer/src/resolvers/user.ts
  libs/layer-composer/src/dataviews/resolve-dataviews-generators.ts
Labels: fishing-map, layer-composer, deck-layer-composer

#3064 Fishing map/hotfixes
  apps/fishing-map/features/user/UserWorkspaces.tsx
  apps/fishing-map/features/workspace/save/WorkspaceEdit.tsx
  apps/fishing-map/features/workspace/workspace.slice.ts
  apps/fishing-map/features/workspace/workspace.utils.ts
  apps/fishing-map/features/workspaces-list/workspaces-list.slice.ts
  apps/fishing-map/middlewares.ts
Labels: fishing-map

#3066 New Crowdin updates
  apps/fishing-map/public/locales/en/data-terminology.json
  apps/fishing-map/public/locales/en/translations.json
  apps/fishing-map/public/locales/es/data-terminology.json
  apps/fishing-map/public/locales/es/translations.json
  apps/fishing-map/public/locales/fr/data-terminology.json
  apps/fishing-map/public/locales/fr/translations.json
  apps/fishing-map/public/locales/id/data-terminology.json
  apps/fishing-map/public/locales/id/translations.json
  apps/fishing-map/public/locales/pt/data-terminology.json
  apps/fishing-map/public/locales/pt/translations.json
  apps/fishing-map/public/locales/source/data-terminology.json
  apps/fishing-map/public/locales/source/translations.json
  apps/fishing-map/public/locales/val/data-terminology.json
  apps/fishing-map/public/locales/val/translations.json
Labels: fishing-map

#3068 New Crowdin updates
  apps/fishing-map/public/locales/en/data-terminology.json
  apps/fishing-map/public/locales/en/translations.json
  apps/fishing-map/public/locales/es/data-terminology.json
  apps/fishing-map/public/locales/es/translations.json
  apps/fishing-map/public/locales/fr/data-terminology.json
  apps/fishing-map/public/locales/fr/translations.json
  apps/fishing-map/public/locales/id/data-terminology.json
  apps/fishing-map/public/locales/id/translations.json
  apps/fishing-map/public/locales/pt/data-terminology.json
  apps/fishing-map/public/locales/pt/translations.json
  apps/fishing-map/public/locales/source/data-terminology.json
  apps/fishing-map/public/locales/source/translations.json
  apps/fishing-map/public/locales/val/data-terminology.json
  apps/fishing-map/public/locales/val/translations.json
Labels: fishing-map

#3069 New Crowdin updates
  apps/fishing-map/public/locales/en/data-terminology.json
  apps/fishing-map/public/locales/en/translations.json
  apps/fishing-map/public/locales/es/data-terminology.json
  apps/fishing-map/public/locales/es/translations.json
  apps/fishing-map/public/locales/fr/data-terminology.json
  apps/fishing-map/public/locales/fr/translations.json
  apps/fishing-map/public/locales/id/data-terminology.json
  apps/fishing-map/public/locales/id/translations.json
  apps/fishing-map/public/locales/pt/data-terminology.json
  apps/fishing-map/public/locales/pt/translations.json
  apps/fishing-map/public/locales/val/data-terminology.json
  apps/fishing-map/public/locales/val/translations.json
Labels: fishing-map

#3072 New Crowdin updates
  apps/fishing-map/public/locales/en/data-terminology.json
  apps/fishing-map/public/locales/es/data-terminology.json
  apps/fishing-map/public/locales/fr/data-terminology.json
  apps/fishing-map/public/locales/id/data-terminology.json
  apps/fishing-map/public/locales/pt/data-terminology.json
  apps/fishing-map/public/locales/source/data-terminology.json
Labels: fishing-map

#3071 deck-layers/labels
  libs/deck-layers/src/layers/fourwings/positions/FourwingsPositionsTileLayer.ts
  libs/deck-layers/src/layers/vessel/LabelLayer.ts
  libs/deck-layers/src/layers/vessel/VesselLayer.ts
Labels: deck-layers

#3076 Chore/fix windows yarn
  .yarnrc.yml
  apps/fishing-map/project.json
  apps/port-labeler/project.json
  apps/vessel-history/project.json
  generate-certificate.sh
  libs/deck-loaders/project.json
  libs/pbf-decoders/package.json
  nx.json
  package.json
  yarn.lock
Labels: fishing-map, vessel-history, port-labeler, pbf-decoders, deck-loaders

#3081 New Crowdin updates
  apps/fishing-map/public/locales/en/data-terminology.json
  apps/fishing-map/public/locales/es/data-terminology.json
  apps/fishing-map/public/locales/fr/data-terminology.json
  apps/fishing-map/public/locales/id/data-terminology.json
  apps/fishing-map/public/locales/pt/data-terminology.json
  apps/fishing-map/public/locales/source/data-terminology.json
Labels: fishing-map

#3082 New Crowdin updates
  apps/fishing-map/public/locales/en/translations.json
  apps/fishing-map/public/locales/es/translations.json
  apps/fishing-map/public/locales/fr/translations.json
  apps/fishing-map/public/locales/id/translations.json
  apps/fishing-map/public/locales/pt/translations.json
  apps/fishing-map/public/locales/val/translations.json
Labels: fishing-map

#3080 Chore/update dependencies
  apps/fishing-map/package.json
  apps/image-labeler/project.json
  apps/image-labeler/src/features/project/Project.tsx
  apps/image-labeler/src/features/project/Task.tsx
  apps/image-labeler/src/features/project/TaskImage.tsx
  apps/image-labeler/src/features/projects-list/ProjectForm.tsx
  apps/image-labeler/src/features/projects-list/ProjectItem.tsx
  apps/image-labeler/src/features/projects-list/ProjectsList.tsx
  apps/image-labeler/src/routes/__root.tsx
  apps/image-labeler/tsconfig.json
  apps/image-labeler/tsconfig.spec.json
  apps/port-labeler/features/map/Map.tsx
  apps/port-labeler/features/map/map-viewport.hooks.ts
  apps/port-labeler/pages/_app.tsx
  apps/real-time-prototype/features/map/Map.tsx
  apps/real-time-prototype/features/map/map-viewport.hooks.ts
  apps/real-time-prototype/features/sidebar/ContextLayersSection.tsx
  apps/real-time-prototype/layers/basemap/basemap.hooks.ts
  apps/real-time-prototype/layers/context/context.hooks.ts
  apps/real-time-prototype/layers/latest-positions/latest-positions.hooks.ts
  apps/real-time-prototype/layers/tracks/tracks.hooks.ts
  apps/real-time-prototype/pages/_app.tsx
  apps/track-labeler/project.json
  apps/track-labeler/src/App.tsx
  apps/track-labeler/src/features/login/Login.tsx
  apps/track-labeler/src/features/map/map-controls/MapControls.tsx
  apps/track-labeler/src/features/map/map.hooks.ts
  apps/track-labeler/src/features/rulers/Rulers.tsx
  apps/track-labeler/src/features/timebar/selector/Selector.tsx
  apps/track-labeler/tsconfig.json
  apps/track-labeler/tsconfig.spec.json
  apps/user-groups-admin/project.json
  apps/user-groups-admin/src/components/header/header.tsx
  apps/user-groups-admin/src/components/layout/Layout.tsx
  apps/user-groups-admin/src/components/user-groups/Detail.tsx
  apps/user-groups-admin/tsconfig.json
  apps/user-groups-admin/tsconfig.spec.json
  apps/vessel-history/pages/_app.tsx
  knip.json
  nx.json
  package.json
  yarn.lock
Labels: fishing-map, vessel-history, port-labeler, user-groups-admin, image-labeler, track-labeler

#3085 New Crowdin updates
  apps/fishing-map/public/locales/en/data-terminology.json
  apps/fishing-map/public/locales/es/data-terminology.json
  apps/fishing-map/public/locales/fr/data-terminology.json
  apps/fishing-map/public/locales/id/data-terminology.json
  apps/fishing-map/public/locales/pt/data-terminology.json
  apps/fishing-map/public/locales/val/data-terminology.json
Labels: fishing-map

#3086 fix cypress binary
  apps/fishing-map/cloudbuild.yaml
Labels: fishing-map, deploy-dev

#3087 fix timestamp when instance of date
  libs/data-transforms/src/schema/schema.ts
Labels: data-transforms

#3088 sticky header
  apps/fishing-map/features/search/Search.module.css
  apps/fishing-map/features/search/basic/SearchBasic.tsx
  apps/fishing-map/features/sidebar/SidebarHeader.module.css
  apps/fishing-map/features/sidebar/SidebarHeader.tsx
Labels: fishing-map

#3090 Fishing map/vessel header hotfix
  apps/fishing-map/features/sidebar/SidebarHeader.tsx
  apps/fishing-map/features/vessel/VesselHeader.module.css
  apps/fishing-map/features/vessel/VesselHeader.tsx
Labels: fishing-map

#3091 fix header
  apps/fishing-map/features/search/Search.module.css
  apps/fishing-map/features/search/basic/SearchBasic.tsx
  apps/fishing-map/features/sidebar/Sidebar.tsx
  apps/fishing-map/features/sidebar/SidebarHeader.module.css
  apps/fishing-map/features/sidebar/SidebarHeader.tsx
  apps/fishing-map/features/sidebar/sidebar.utils.ts
  apps/fishing-map/features/vessel/VesselHeader.module.css
  apps/fishing-map/features/vessel/VesselHeader.tsx
  apps/fishing-map/features/workspace/shared/ExpandedContainer.tsx
  apps/fishing-map/pages/styles.css
Labels: fishing-map

#3089 info correction modal tweaks
  apps/fishing-map/features/vessel/VesselHeader.tsx
  apps/fishing-map/features/vessel/identity/VesselRegistryField.tsx
  apps/fishing-map/features/vessel/infoCorrection/InfoCorrectionModal.module.css
  apps/fishing-map/features/vessel/infoCorrection/InfoCorrectionModal.tsx
  apps/fishing-map/public/locales/source/translations.json
Labels: fishing-map

#3092 New Crowdin updates
  apps/fishing-map/public/locales/en/translations.json
  apps/fishing-map/public/locales/es/translations.json
  apps/fishing-map/public/locales/fr/translations.json
  apps/fishing-map/public/locales/id/translations.json
  apps/fishing-map/public/locales/pt/translations.json
  apps/fishing-map/public/locales/val/translations.json
Labels: fishing-map

#3100 Deep sea mining workspace feedback
  apps/fishing-map/data/highlighted-workspaces/fishing-activity.ts
  apps/fishing-map/features/debug/debug.hooks.ts
  apps/fishing-map/features/reports/report-area/title/ReportTitle.module.css
  apps/fishing-map/features/reports/report-area/title/ReportTitle.tsx
  apps/fishing-map/features/sidebar/SidebarHeader.tsx
  apps/fishing-map/features/welcome/Welcome.tsx
  apps/fishing-map/features/workspace/Workspace.module.css
  apps/fishing-map/features/workspace/Workspace.tsx
  apps/fishing-map/features/workspace/context-areas/ContextAreaLayerPanel.tsx
  apps/fishing-map/features/workspace/save/WorkspaceEdit.tsx
  apps/fishing-map/features/workspaces-list/WorkspacesList.tsx
  apps/fishing-map/features/workspaces-list/workspaces-list.selectors.ts
  apps/fishing-map/routes/routes.middlewares.ts
Labels: fishing-map
